<!-- START: 02-organismer-70-Modal-innhold-_10-modal -->
<div class="a-modal fade modal a-fade--appear" id="modal" role="dialog" tabindex="-1" {{# modal-label }} aria-labelledby="{{ modal-label }}" {{/ modal-label }}>
  <div class="modal-dialog modal-lg" role="document">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          {{> molekyler-modal-header }}
        </div>
      </div>
      <div class="row">
        <div class="col-xl-10 offset-xl-1">
          {{# modal-navbar-override }} {{> molekyler-modal-navbar }} {{/ modal-navbar-override }}
          <div class="a-modal-content-target">
            <!-- The content will be injected here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END: 02-organismer-70-Modal-innhold-_10-modal -->