<button type="button" class="{{{ button-class }}} {{{ button-colorClass }}}" onclick="location.href='../..{{{ link-url }}}';">

	<i class="material-icons a-btn-icon-symbol"> {{{button-icon-symbol}}}</i>

	<span class="a-btn-icon-text">
	{{{ button-text }}}
	</span>

	{{#button-shadow-label}}
		{{> atomer-merkelapp}}
	{{/button-shadow-label}}

</button>
