<button type="button" class="{{{ button-class }}} {{{ button-colorClass }}} {{ styleModifier }}" onclick="location.href='../..{{{ link-url }}}';">

	<i class="fa a-btn-icon-symbol {{{ button-icon-symbol }}}"></i>

	<span class="a-btn-icon-text {{{ button-textClass }}}">
	{{{ button-text }}}
	</span>

	{{#button-shadow-label}}
		{{> atomer-merkelapp}}
	{{/button-shadow-label}}

</button>
