<!-- START: 00-atomer-03-knapper-25-knapp-ikon-tekst -->
<button type="button" class="{{{ button-class }}} {{{ button-colorClass }}} {{ styleModifier }}" onclick="location.href='../..{{{ link-url }}}';">

  {{# button-icon }}
    {{> atomer-ikon }}
  {{/ button-icon }}

	<span class="a-btn-icon-text {{{ button-textClass }}}">
  	{{{ button-text }}}
	</span>

	{{# button-shadow-label }}
		{{> atomer-merkelapp }}
	{{/ button-shadow-label }}

</button>

<!-- END: 00-atomer-03-knapper-25-knapp-ikon-tekst -->
