<!-- START: 02-organismer-81-Dashboard-modaler-meldinger-20-tilganger -->
<div class="modal-content">
  <div class="modal-header a-modal-header">
    <div class="a-iconText a-iconText-background a-iconText-large">
      <div class="a-iconText-icon">
        <i class="ai ai-send
                 a-icon" aria-hidden="true"></i>
      </div>
      <h1 class="a-iconText-text mb-0">
        <span class="a-iconText-text-small"></span>
        <span class="a-iconText-text-large">{{ modal-title }}</span>
      </h1>
    </div>
  </div>
  <div class="modal-body a-modal-body">

    <form data-toggle="validator" id="contactForm">

      {{# accessType }}
        {{> atomer-radioknapp }}
        {{/ accessType }}

        <div class="mt-3 mb-2">
          {{# rest }}
            <div class="{{ type-class }} collapse no-transition">
              {{# submit }}
                {{> atomer-knapp }}
                {{/ submit }}
            </div>
            {{/ rest }}

            {{# soap }}
              <div class="{{ type-class }} collapse no-transition">
                {{# submit }}
                  {{> atomer-knapp }}
                  {{/ submit }}
              </div>
              {{/ soap }}

              {{# tul }}
                <div class="{{ type-class }} collapse no-transition">
                  {{# submit }}
                    {{> atomer-knapp }}
                    {{/ submit }}
                </div>
                {{/ tul }}

                {{# fire }}
                  <div class="{{ type-class }} collapse no-transition">
                    {{# submit }}
                      {{> atomer-knapp }}
                      {{/ submit }}
                  </div>
                  {{/ fire }}
        </div>
    </form>
  </div>
</div>

<!-- END: 02-organismer-81-Dashboard-modaler-meldinger-20-tilganger -->