<div class="a-btn-group">

    {{> atomer-handlingsknapp }}

    {{> atomer-handlingsknapp(icon-class: "ai-money", action-button-text: "En knapp for å laste ned") }}

    {{> atomer-handlingsknapp(icon-class: "ai-sign", action-button-text: "En knapp for å laste opp") }}

</div>
