<div class="a-btn-group">

    {{> atomer-link-action-button}}

    {{> atomer-link-action-button(action-button-class: "fa fa-download", action-button-icon: "", action-button-text: "En lenke stylet som en knapp for å laste ned")}}

    {{> atomer-link-action-button(action-button-class: "fa fa-upload", action-button-icon: "", action-button-text: "En lenke stylet som en knapp for å laste opp")}}

</div>
