<!-- START: 04-sider-infoportal-20-navigasjonssider-60-arkiv-v-nyhetsarkiv -->
{{# arkiv-nyhetsarkiv }} {{> maler-infoportal-arkiv }} {{/ arkiv-nyhetsarkiv }}

<!-- END: 04-sider-infoportal-20-navigasjonssider-60-arkiv-v-nyhetsarkiv -->