<form data-toggle="validator" role="form" action="../..{{{url}}}" class="{{ styleModifier }}">

    {{# input-description }}
      {{> atomer-tekstfelt:m-y-3 }}
    {{/ input-description }}

    <div class="a-btn-group m-t-2">
      {{# button-submit }}
        {{> atomer-knapp }}
      {{/ button-submit }}

      {{# chooseCategory-findself }}
        {{> atomer-link }}
      {{/ chooseCategory-findself }}

    </div>

</form>
