<!-- START: 03-maler-30-artikkel-_16-artikkel-v-regnskap -->
<div class="a-page" id="smoothState">
	{{> organismer-header }}

	<div class="container" id="content" tabindex="-1">

		<div class="row">
			<div class="col-sm-12 col-lg-10 offset-lg-1">
				{{# articlestart }}
				{{> organismer-artikkel-start }}
				{{/ articlestart }}
			</div>
		</div>

		{{# firstpart }}
		<div class="row">
			<div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg pt-4">

					<p>Du vil finne en oversikt over hvilke plikter selskapet ditt har ved å søke på dette i <a href="#" class="a-linkArea">Oppgaveregisteret</a>.</p>

					{{> atomer-seksjonstittel(section-title: "Føring av regnskapet") }}

					<p>Bokføringen er stort sett grunnlaget for all rapportering til myndighetene. Det er selve føringen av bilagene. Regnskapet brukes blant annet som grunnlag for både utfylling av næringsoppgave til skatteetaten og levering av årsregnskap til Brønnøysundregistrene.</p>

					{{> atomer-seksjonstittel(section-title: "Ikke bland foretakets økonomi med privat økonomi") }}




			</div><!-- END .col-... -->
		</div><!-- END .row -->
		{{/ firstpart }}

		{{# picturecontent }}
		<div class="row">
			<div class="col-sm-12 col-lg-6 offset-lg-3 mb-5">
					{{> molekyler-bilde-innhold }}
			</div><!-- END .col-... -->
		</div><!-- END .row -->
		{{/ picturecontent }}

	</div> <!-- END Container -->

	{{> organismer-footer }}

</div>

<!-- END: 03-maler-30-artikkel-_16-artikkel-v-regnskap -->
