<!-- START: 01-molekyler-00-tekst-90-dashboard-statistic -->
<div class="col-md-6 col-lg-4 a-borderSolidDark an-statistic d-flex flex-column align-items-center py-md-4 py-2" id={{{ statistic-id }}}>
  <p>{{{ nummer }}}</p>
  <span>{{{ tekst }}}</span>
</div>

<!-- END: 01-molekyler-00-tekst-90-dashboard-statistic -->