<section class="a-articleList {{ styleModifier }}">
  <h2 class="pb-2">
    {{{ news-header }}}
  </h2>
  {{# articlelist-item }}
      {{> molekyler-lenketittel-med-forklaring }}
  {{/ articlelist-item }}
  {{> atomer-link-fremhevet }}
</section>
