  {{# tittel }}
    {{> atomer-seksjonstittel }}
  {{/ tittel }}

  {{# description }}
    {{> atomer-intro-tekst }}
  {{/ description}}

<div class="a-card transparent p-0 m-0 mt-4">
    {{# options }}
      {{> atomer-avkrysningsboks }}
    {{/ options }}

  <div class="row mt-2">
    <div class="col-12">
      <legend class="a-legend">{{{emailLegendText}}}</legend>
      {{# abonner }}
        {{> molekyler-abonner }}
      {{/ abonner }}
    </div>
  </div>  
</div>
  

  <div class="mt-4">
    {{# rss-title }}
      {{> atomer-undertittel}}
    {{/ rss-title }}

    {{# rss-description }}
      {{> atomer-avsnitt}}
    {{/ rss-description }}
  </div>