<h2 class="a-fontBold a-blueDarkerText">{{{ section-title }}}</h2>

<div class="row mb-4">
  {{# tool1 }}
    {{> molekyler-altinnett-presentasjonsblokk:an-centeredBackground }}
  {{/ tool1 }}

  {{# tool2 }}
    {{> molekyler-altinnett-presentasjonsblokk:an-centeredBackground }}
  {{/ tool2 }}

  {{# tool3 }}
    {{> molekyler-altinnett-presentasjonsblokk:an-centeredBackground }}
  {{/ tool3 }}

  {{# tool4 }}
    {{> molekyler-altinnett-presentasjonsblokk:an-centeredBackground }}
  {{/ tool4 }}
</div>
