<h2 class="a-fontBold a-blueDarkerText mb-3">{{{ section-title }}}</h2>

<div class="row mb-4">
  {{# tool1 }}
    {{> molekyler-altinnett-presentasjonsblokk }}
  {{/ tool1 }}

  {{# tool2 }}
    {{> molekyler-altinnett-presentasjonsblokk }}
  {{/ tool2 }}

  {{# tool3 }}
    {{> molekyler-altinnett-presentasjonsblokk }}
  {{/ tool3 }}

  {{# tool4 }}
    {{> molekyler-altinnett-presentasjonsblokk }}
  {{/ tool4 }}
</div>
