<h2 class="a-fontBold a-blueDarkerText mb-3">{{{ section-title }}}</h2>

<div class="row mb-4">
  <div class="col-12 col-md-6">
    {{# resource-1 }}
      {{> molekyler-altinnett-presentasjonsblokk-horisontal }}
    {{/ resource-1 }}
  </div>

  <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
    {{# resource-2 }}
      {{> molekyler-altinnett-presentasjonsblokk-horisontal }}
    {{/ resource-2 }}

    {{# resource-3 }}
      {{> molekyler-altinnett-presentasjonsblokk-horisontal }}
    {{/ resource-3 }}

    {{# resource-4 }}
      {{> molekyler-altinnett-presentasjonsblokk-horisontal }}
    {{/ resource-4 }}
  </div>
</div>
