<div class="a-bgGreyLighter">
  <div class="container py-7">
    <div class="row an-nyheter-arrangement-block">
      <div class="col-12 col-lg-6 an-nyheter-arrangement-block-inner">
        <h2 class="mb-3 a-fontSizeXL a-blueDarkerText a-fontBold">Arrangementer</h2>
        {{> molekyler-altinnett-arrangement }}
        {{# arrangementLink }}
          <div class="mt-auto pb-4 pb-md-0 pt-3">
            {{> atomer-link-fremhevet }}
          </div>
        {{/ arrangementLink }}
      </div>
      <div class="col-12 col-lg-5 offset-lg-1 an-nyheter-arrangement-block-inner">
        <h2 class="mb-3 a-fontSizeXL a-blueDarkerText a-fontBold">Nytt i Altinn</h2>
        {{# liste }}
          {{> molekyler-liste-unummerert-lenke }}
        {{/ liste }}
        {{# newsLink }}
          <div class="mt-auto pb-4 pb-md-0 pt-3">
            {{> atomer-link-fremhevet }}
          </div>
        {{/ newsLink }}
      </div>
    </div>
  </div>
</div>