<div class="a-chat">
    <p>Chat</p>
    <div class="a-chat-scrollarea">
        {{>atomer-snakkeboble(isFrom: "a-textBubble-from", bubble-content: "Snakkebobletest", hasMetaData: true, bubble-meta-data:"2 minutter siden")}}
        {{>atomer-snakkeboble(bubble-content: "Massemassetekst Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", hasMetaData: true, bubble-meta-data: "30 sekunder siden")}}
        {{>atomer-snakkeboble(isFrom: "a-textBubble-from", bubble-content: "Takk!", hasMetaData: true, bubble-meta-data:"Nå")}}
        {{>atomer-snakkeboble(bubble-content: "...")}}
    </div>
    {{>atomer-sok(text-input-label : "Send",
    text-input-placeholder" : "Snakk med oss!",
    input-type : "search",
    isHidden : "sr-only",
    form-input-hasButton-class: "a-form-control-withBtn form-control-noAddon",
    form-input-hasButton: true,
    form-input-button-action : "Utfør søk",
    form-input-button-icon : "<i class='material-icons'>&#xE163;</i>",
    form-input-button-iconClass : "material-icons"
  )}}
</div>
