<!-- Begin #a-dropdown-languages - -->
<div class="dropdown-menu a-dropdown-languages a-dropdownTriangle">
  {{# dropdown-item }}
    <a class="dropdown-item" href="#">
      <img src="{{{ dropdown-item-image }}}" class="{{{ dropdown-item-image-class }}}" alt="" />
      <p>
        <span class="a-headingSizeM">{{{ dropdown-item-title }}}</span><br>
        <span>{{{ dropdown-item-content }}}</span>
      </p>
    </a>
  {{/ dropdown-item }}
</div>
