<!-- Begin #a-dropdown-personswitchList - -->
<div class="dropdown-menu {{{ dropdown-class }}} a-dropdownTriangle">

  <div class="p-t-3 p-l-3 p-r-3">

    <div class="row">
      <div class="col-sm-12 m-b-2">
        {{> molekyler-person-privat }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 m-b-2">
        {{> atomer-link(link-class: "a-link", link-text: "Innstillinger og profil") }}
      </div>
    </div>

    <p class="a-textSize4">
        Andre du kan representere:
    </p>

    {{# personswitch-search }}
      {{> atomer-tekst-input }}
    {{/ personswitch-search }}

  </div>

  <div class="p-t-1 p-l-1 p-r-1">

    {{# personswitch-persons }}
      {{> atomer-knapp-fremhevet }}
    {{/ personswitch-persons }}

    {{> atomer-handlingslink(link-icon-class: "p-t-1 p-x-2", link-icon-icon: "&#xE145;", link-icon-text: "Last flere") }}

  </div>

</div>
