<!-- Begin #a-dropdown-languages - -->
<div class="a-dropdown-personswitchList a-dropdown-personswitchList-large a-dropdownTriangle">

  <div class="p-l-3 p-t-3 p-r-3">

    <div class="row">
      <div class="col-sm-12 m-b-2">
        <h1>Hvem skal du representere?</h1>
      </div>
    </div>

    <div class="a-bgPanel a-bgPanel-grey m-b-4 p-b-0">

      <div class="row">
        <div class="col-sm-12 m-b-2 p-x-3">
              {{> molekyler-person-privat }}
        </div>
      </div>

      <div class="a-p-l-4andhalf">
        {{> atomer-link(link-class: "a-link", link-text: "Innstillinger og profil")}}
      </div>

      <hr class="a-hr-smallPadding m-b-1">

      {{# first-message-btn }}
        {{> atomer-knapp-ikon-tekst:p-x-0 }}
      {{/ first-message-btn }}


    </div>

    <div class="p-a-2">

      <p class="a-textSize2">
          Andre du kan representere:
      </p>

      {{# personswitch-search }}
        {{> atomer-tekst-input }}
      {{/ personswitch-search }}


    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="a-bgPanel a-bgPanel-blueLight p-b-0">

          <a href="#" class="no-decoration">

          {{# personswitch-first }}
            {{> molekyler-person-rolle:p-x-1 }}
          {{/ personswitch-first }}

          </a>

          <hr class="a-hr-smallPadding m-t-2 m-b-1">

          {{# first-message-btn }}
            {{> atomer-knapp-ikon-tekst }}
          {{/ first-message-btn }}

        </div>

        <div class="a-bgPanel a-bgPanel-blueLight p-b-0">

          <a href="#" class="no-decoration">

            {{# personswitch-second }}
              {{> molekyler-person-rolle:p-x-1 }}
            {{/ personswitch-second }}

          </a>

          <hr class="a-hr-smallPadding m-t-2 m-b-1">

          {{# first-message-btn }}
            {{> atomer-knapp-ikon-tekst }}
          {{/ first-message-btn }}

        </div>

        <div class="a-bgPanel a-bgPanel-blueLight p-b-0">

          <a href="#" class="no-decoration">

            {{# personswitch-third }}
              {{> molekyler-person-rolle:p-x-1 }}
            {{/ personswitch-third }}

          </a>

          <hr class="a-hr-smallPadding m-t-2 m-b-1">

          {{# first-message-btn }}
            {{> atomer-knapp-ikon-tekst }}
          {{/ first-message-btn }}

        </div>

        <div class="p-x-2 m-t-1o5 m-b-0">

          {{# loadmoreLarge }}
            {{> atomer-knapp-ikon-tekst }}
          {{/ loadmoreLarge }}

        </div>

      </div>
    </div>


  </div>


</div>
