<div class="pt-1 {{styleModifier}}">

  {{# personswitch-persons }}
    {{> molekyler-ekspanderbar-liste-status }}
  {{/ personswitch-persons }}

  {{# loadmore }}
    {{> atomer-handlingsknapp }}
  {{/ loadmore }}

</div>

<div class="a-dropdown-footer py-2 {{ personswitch-isCenter }}">
  {{# personswitch-options }}
  {{> atomer-avkrysningsboks }}
  {{/ personswitch-options }}
</div>
