<div class="px-2 pt-3 {{ personswitch-isLeft }}">
  {{# personswitch-options }}
    {{> atomer-avkrysningsboks }}
  {{/ personswitch-options }}
</div>


<div class="pt-1 {{styleModifier}}">

  {{# personswitch-persons }}
    {{> molekyler-ekspanderbar-liste-status }}
  {{/ personswitch-persons }}

  {{# loadmore }}
    {{> atomer-handlingsknapp }}
  {{/ loadmore }}

</div>
