<div class="a-favourites">
  <h2 class="a-h4">Favoritter:</h2>
  {{# favourite-actors-empty }}
    {{> molekyler-liste-unummerert-lenke }}
  {{/ favourite-actors-empty }}

  {{!-- <br> - Only for design system --}}
  <br class="a-list-rowLink a-list-rowLink-inactive">
  
  {{# favourite-actors }}
    {{> molekyler-liste-unummerert-lenke }}
  {{/ favourite-actors }}
</div>
