<section class="an-dashboard-alerts mb-4">
  <div class="d-flex">
    <div class="flex-grow-1">
      {{# dashboard-alertTitle }}
      {{> atomer-seksjonstittel:a-fontMedium }}
    {{/ dashboard-alertTitle }}
    </div>
    <div class="align-self-center pb-1 text-right">
      {{# dashboard-alertSubscribe }}
        {{> atomer-link }}
      {{/ dashboard-alertSubscribe }}
    </div>
  </div>

  {{# dashboard-addAlert }}
    {{> atomer-handlingsknapp }}
  {{/ dashboard-addAlert }}

  {{# dashboard-addAlert-modal }}
    {{> organismer-modal }}
  {{/ dashboard-addAlert-modal }}

  {{# dashboard-subscribe-modal }}
    {{> organismer-modal }}
  {{/ dashboard-subscribe-modal }}

  {{# dashboard-alerts }}
    {{> atomer-varsel }}
  {{/ dashboard-alerts }}

  <div class="mt-1">
    {{# dashboard-viewMoreAlerts }}
    {{> atomer-link }}
    {{/ dashboard-viewMoreAlerts }}
  </div>

</section>