<section class="an-dashboard-messages mb-4">

    <div class="row">
      <div class="col-12 col-lg-8 d-flex align-items-center">
        {{# dashboard-messagesTitle }}
          {{> atomer-seksjonstittel:a-fontMedium }}
        {{/ dashboard-messagesTitle }}
        {{# dashboard-filterInbox }}
          {{> organismer-dashboard-activeFilters }}
        {{/ dashboard-filterInbox }}
      </div>
      <div class="col-12 col-lg-4 mb-1 d-flex align-items-end" data-switchUrl1="get1" data-switchUrl2="get2" data-switchEndpoint="">
        {{# dashboard-messagesSwitch }}
          {{> atomer-knapp-veksle }}
        {{/ dashboard-messagesSwitch }}
      </div>
    </div>

    {{# dashboard-addMessage }}
      {{> atomer-handlingsknapp }}
    {{/ dashboard-addMessage }}

    {{# dashboard-addMessage-modal }}
      {{> organismer-modal }}
    {{/ dashboard-addMessage-modal }}

    {{# dashboard-messages }}
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <div {{# accordion-large-id }}id="{{ accordion-large-id }}"{{/ accordion-large-id }} class="a-panelAccordion" role="tablist">
            {{# inbox-element-removed }}
              {{> molekyler-infotekst-med-border }}
            {{/ inbox-element-removed }}
            {{# accordion-large-items }}
              {{> organismer-ekspanderbart-panel }}
            {{/ accordion-large-items }}
          </div>
        </div>
      </div>
    {{/ dashboard-messages }}


    <div class="mt-1">
      {{#dashboard-viewMoreMessages}}
      {{> atomer-link }}
      {{/dashboard-viewMoreMessages}}
    </div>

</section>