<section class="an-dashboard-resources mb-4">

    {{# dashboard-resourcesTitle }}
      {{> atomer-seksjonstittel:a-fontMedium }}
    {{/ dashboard-resourcesTitle }}

    {{# dashboard-resourcesList }}
      {{> molekyler-liste-unummerert:a-borderTopDark }}
    {{/ dashboard-resourcesList }}

</section>