<section class="an-dashboard-calendar mb-4">

  {{# dashboard-statisticsTitle }}
    {{> atomer-seksjonstittel:a-fontMedium }}
  {{/ dashboard-statisticsTitle }}
  <div class="row">
  {{# dashboard-statistics}}
     {{> molekyler-dashboard-statistic }} 
  {{/ dashboard-statistics}}
  </div>
  <div class="mt-2">
      {{#dashboard-viewMoreEvents}}
        {{> atomer-link }}
      {{/dashboard-viewMoreEvents}}
  </div>

</section>