

<a href="#" data-toggle="collapse" data-target="#{{ editionTitleID }}" class="an-serviceEdition a-fontSizeXXS pl-md-2 pr-md-4 {{#collapsed}}collapsed{{/collapsed}}">
  <div class="d-flex flex-grow-1">
      <span class="a-dropdownArrow mt-0 align-self-center mb-0"></span> 
      {{ editionTitle }}
  </div>
</a>
<div class="collapse {{#show}}show{{/show}}" id="{{ editionTitleID }}">

  {{#editionList}}
  <a href="#" class="an-serviceEdition a-fontSizeXXS pl-md-4 pr-md-4">
    <div class="flex-grow-1">
        {{ thiseditionTitle }}
    </div>
    {{ thiseditionCode }}
  </a>
  {{/editionList}}

</div>