<!-- Begin #a-dropdown-personswitchList - -->
<div class="dropdown-menu a-dropdown-personswitchList a-dropdownTriangle">

  <div class="pt-3 pl-3 pr-3 mb-1">

    <div class="row">
      <div class="col-sm-12 px-md-0 mb-1">
        {{> molekyler-person-rolle }}
      </div>
    </div>
      {{# linklist }}
      <ul class="list-unstyled an-login-dropdownList">
          {{# linklist-item }}
            <li class="mb-1">
            {{> atomer-link }}
            </li>
          {{/ linklist-item }}
      </ul>
      {{/ linklist }}
  </div>
  <div class="row col-12 mt-2 mb-1 d-flex flex-row-reverse align-items-center">
    {{# logout }}
      {{> atomer-link }}
    {{/ logout }}
  </div>
</div>
