<!-- Begin #a-dropdown-personswitchList - -->
<div class="dropdown-menu a-dropdown-personswitchList a-dropdownTriangle">
    <ul class="a-list an-menu">
      {{# header-mobilesearch }}
        <li>
            {{> atomer-tekst-input:pt-1|px-1 }}
        </li>
      {{/ header-mobilesearch }}

      <li><span>Innlogget som: <strong>JAN PETTERSEN</strong></span></li>

      <div class="row">
        <li>tjenesteutvikling, oversikten, driftsmeldinger, dokumentasjon</li>
      </div>
      {{# logged-in }}
      {{/ logged-in }}

      {{^ logged-in }}
        <li>
          <a class="{{{ globalNav-active-tjenester }}}" href="#">verktøy</a>
        </li>
      {{/ logged-in }}

      <li>
        <a class="{{{ globalNav-active-tjenester }}}" href="#">produkter</a>
      </li>

      <li>
        <a class="{{{ globalNav-active-tjenester }}}" href="#">resultater</a>
      </li>

      <li>
        <a class="{{{ globalNav-active-tjenester }}}" href="#">kom i gang</a>
      </li>
    </ul>

    {{# login-button }}
      <div class="mt-1 mx-1">
        {{> atomer-knapp }}
      </div>
    {{/ login-button }}
</div>
