<h2 class="a-fontBold a-blueDarkerText mb-0 pb-0">{{ section-title }}</h2>
<p class="a-fontSizeL a-blueDarkerText">{{ description }}</p>

<div class="row">
  {{# product1 }}
    {{> molekyler-altinnett-produkt-blokk}}
  {{/ product1 }}

  {{# product2 }}
    {{> molekyler-altinnett-produkt-blokk}}
  {{/ product2 }}

  {{# product3 }}
    {{> molekyler-altinnett-produkt-blokk}}
  {{/ product3 }}
</div>

<div class="mt-2 mb-4">
  {{# showAllLink }}
    {{> atomer-link:mt-2|mb-4 }}
  {{/ showAllLink }}
</div>
