<div class="row mb-6">
  <div class="mb-1 {{ title-col }} {{ title-offset }}">
    <h2 class="a-fontBold a-blueDarkerText mb-0 pb-0">{{ section-title }}</h2>
    <p class="a-fontSizeL a-blueDarkerText">{{ description }}</p>
  </div>

  {{# promotedProducts }}
    {{> molekyler-altinnett-presentasjonsblokk }}
  {{/ promotedProducts }}

  {{# showAllLink }}
    <div class="col-12 mt-2 mt-sm-1">
      {{> atomer-link }}
    </div>
  {{/ showAllLink }}
</div>
