<h2 class="a-fontBold a-blueDarkerText mt-3">{{ tool-section-title }}</h2>

<div class="row">
  {{# tool1 }}
    {{> molekyler-altinnett-verktoy-blokk }}
  {{/ tool1 }}

  {{# tool2 }}
    {{> molekyler-altinnett-verktoy-blokk }}
  {{/ tool2 }}

  {{# tool3 }}
    {{> molekyler-altinnett-verktoy-blokk }}
  {{/ tool3 }}

  {{# tool4 }}
    {{> molekyler-altinnett-verktoy-blokk }}
  {{/ tool4 }}
</div>
