<div class="dropdown-menu{{# dropdown-align-right }} dropdown-menu-right{{/ dropdown-align-right }} a-dropdownTriangle a-dropdown-overflow-menu py-0 mx-0 my-0" role="popover">
  {{# dropdown-top-item }}
  <div class="a-overflow-dropdown {{ overflow-extraclass }}">
    <span{{# dropdown-top-item-content-class }} class="{{ dropdown-top-item-content-class }}"{{/ dropdown-top-item-content-class }}>{{{ dropdown-top-item-content }}}</span>
  </div>
  {{/ dropdown-top-item }}
  {{# dropdown-item }}
    <a class="a-overflow-dropdown {{ overflow-extraclass }}" {{^ link-url }} href="#" {{/ link-url }} {{# link-url }} href="{{{ link-url }}}" {{/ link-url }}>
      {{# dropdown-icon }}
        {{> atomer-ikon}}
      {{/ dropdown-icon }}

      {{# char-icon }}
        <i class="{{ char-class }}" aria-hidden="true"><span>{{{ char }}}</span></i>
      {{/ char-icon }}

      <span{{# dropdown-item-content-class }} class="{{ dropdown-item-content-class }}"{{/ dropdown-item-content-class }}>{{{ dropdown-item-content }}}</span>
    </a>
  {{/ dropdown-item }}
</div>