// Remove unused inline SVGs to fix minification issues
$custom-checkbox-indicator-icon-checked: '';
$custom-checkbox-indicator-icon-indeterminate: '';
$custom-radio-indicator-icon-checked: '';
$custom-select-indicator: '';
$navbar-dark-toggler-icon-bg: '';
$navbar-light-toggler-icon-bg: '';
$carousel-control-prev-icon-bg: '';
$carousel-control-next-icon-bg: '';
