<!-- START: 00-atomer-02-lenker-36-link-ikon -->
<a href="{{{ linkIcon-url }}}" class="a-linkIcon {{ styleModifier }}">
  {{> atomer-ikon }}
  {{{ linkIcon-text }}}
</a>

<!-- END: 00-atomer-02-lenker-36-link-ikon -->