<div class="a-page">
	{{> organismer-header }}

	<section id="content" tabindex="-1">

		<h1 class="sr-only">{{{ page-title }}}</h1>

	  <div class="container">
	    <div class="row mb-3">
	      <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
	        <h1>{{{ page-title }}}</h1>

          {{# restaurant }}
            {{> organismer-modal-startknapp }}
          {{/ restaurant }}

	      </div>
	    </div>
		</div>

	</section>

	{{> organismer-footer }}

</div>

{{> molekyler-hjelp-container }}
