<div class="modal-content">
  <div class="modal-header a-modal-header">
    <div class="a-iconText a-iconText-background a-iconText-large">
      <div class="a-iconText-icon">
        <i class="ai ai-check a-icon" aria-hidden="true"></i>
      </div>
      <h1 class="a-iconText-text mb-0">
        <span class="a-iconText-text-small"></span>
        <span class="a-iconText-text-large">{{{ modal-title }}}</span>
      </h1>
    </div>
  </div>
  <div class="modal-body a-modal-body">

    <span class="float-right">{{{ pagination }}}</span>

    <div class="col-12 px-0">
      {{# sporsmal }}
        {{> atomer-radioknapp-hjelpetekst }}
      {{/ sporsmal }}
    </div>

    <button class="a-btn" data-enable-dirty-popover="true" data-toggle="altinn-modal" data-action="next" data-url="{{{ page-url }}}" data-target="#modal" {{# last-question }}data-is-success="true"{{/ last-question }}>
      {{{ btn-next }}}
    </button>
  </div>
</div>
