<div class="a-compare-category">
    <h2>{{{ category-title }}}</h2>
    <div class="container">
      <div class="row">
          {{#compare-categories}}
          <div class="a-compare-container col-md col-max-4">
              {{> molekyler-sammenligningselement:p-t-3}}
          </div>
          {{/compare-categories}}
      </div>
    </div>
</div>
