

  <div class="a-stickyHelp-footer">
    <a href="javascript:void(0)" data-toggle="quickhelp" data-action="next" class="a-js-stickyHelpCategoryLink" data-target="#a-stickyHelp">Vanlige spørsmål om <span class="a-js-stickyHelpCategory"></span></a>

    <a id="contact-form-trigger" class="a-stickyHelp-iconLeft" href="#" data-fallback-url="https://tt02.altinn.no/hjelp/"><i class="ai ai-phone ai-sm"></i>Kontakt brukerstøtte</a>

    <a href="{{ link.sider-infoportal-hjelpesenter }}" target="_blank" class="">
      Til Altinn hjelpesenter <i class="ai ai-arrowright ai-sm"></i>
    </a>
  </div>
