<!-- START: 04-sider-infoportal-35-skjemaartikkel-11-artikkel-skjema-v-amelding-varsler -->
{{> maler-infoportal-artikkel-skjema }}

<!-- END: 04-sider-infoportal-35-skjemaartikkel-11-artikkel-skjema-v-amelding-varsler -->