<!-- START: 01-molekyler-05-forms-03-valgknapper-og-tekstfelt -->
<div class="row mb-1">
  <div class="col-12">
    {{# topRadioButtons }} {{> atomer-valgknapp-ett-alternativ:a-switch--small }} {{/ topRadioButtons }}
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-auto">
    {{# bottomRadioButtons }} {{> atomer-valgknapp-ett-alternativ:a-switch--small|a-lh-3 }} {{/ bottomRadioButtons }}
  </div>
  <div class="col-12 col-md-auto">
    {{# firstDateField }} {{> atomer-datovelger }} {{/ firstDateField }}
  </div>
  <div class="col-12 col-md-auto">
    {{# secondDateField }} {{> atomer-datovelger }} {{/ secondDateField }}
  </div>
</div>
<!-- END: 01-molekyler-05-forms-03-valgknapper-og-tekstfelt -->