<!-- START: 01-molekyler-03-media-95-altinnett-slideshow -->
<div class="pt-3 pb-md-6 mb-md-4 an-slideshow__container">
  <div class="container">
    <div class="an-slideshow">
      <div class="an-slideshow__list">
        <div class="an-slideshow__item">
          <img src="{{ img-src1 }}" alt="Dette er første slide">
          <div data-text-index="0" class="an-slideshow__text-container">
            <h3 class="a-blueDarkerText">Slik virker løsningen</h3>
            <p class="a-blueDarkerText"> Du etterspør de nødvendige dataene fra brukeren gjennom ditt fagsystem</p>
          </div>
        </div>
        <div class="an-slideshow__item">
          <img src="{{ img-src2 }}" alt="Dette er andre slide">
          <div data-text-index="1" class="an-slideshow__text-container">
            <h3 class="a-blueDarkerText">Helsedirektoratet sparer millioner</h3>
            <p class="a-blueDarkerText">Vi er fornøyd og kundene våre er fornøyd, Vi gleder oss til fortsettelsen</p>
          </div>
        </div>
        <div class="an-slideshow__item">
          <img src="{{ img-src3 }}" alt="Dette er tredje slide">
          <div data-text-index="2" class="an-slideshow__text-container">
            <h3 class="a-blueDarkerText">Dette brukes tjenesten til i dag</h3>
            <p class="a-blueDarkerText">Gjennom tjenesten Digital dialog gjøres dette nå digitalt</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: 01-molekyler-03-media-95-altinnett-slideshow -->