<!-- START: 02-organismer-50-ekspanderbart-panel-05-avanserte-innstillinger JS doc: togglePanel.js -->
<div class="card a-accordion-card a-collapsePanel {{{ styleModifier }}}">
  <div class="card-header a-js-index-heading a-collapsePanel-heading collapsed {{isExpanded}}" id="{{ collapse-panel-header-id }}" role="tab">
    <a href="#" data-toggle="collapse" data-target="#{{{ collapseID }}}" aria-expanded="false" aria-controls="{{ collapseID }}" {{# dataParent }}data-parent="{{{dataParent}}}" {{/ dataParent }}>
      {{# collapseHeader }}
        {{> molekyler-ikon-tekst }}
      {{/ collapseHeader }}
    </a>
  </div>
  <div id="{{ collapseID }}" class="a-collapsePanel-body collapse {{{ isVisibleFromStart }}}" role="tabpanel" aria-labelledby="{{ collapse-panel-header-id }}">
    <div class="a-collapsePanel-body-content">
      {{> organismer-kvittering-pa-epost }}
    </div>
    {{# si-user-start-transfer }}
    <div class="a-collapsePanel-body-content">
      {{> organismer-overfor-SI-bruker }}
    </div>
    {{/ si-user-start-transfer }} {{# si-user-transfer-started }}
    <div class="a-collapsePanel-body-content">
      {{> organismer-overfor-SI-bruker }}
    </div>
    {{/ si-user-transfer-started}} {{# si-user-transfer-received }}
    <div class="a-collapsePanel-body-content">
      {{> organismer-overfor-SI-bruker }}
    </div>
    {{/ si-user-transfer-received }} {{# computersystem-content }}
    <div class="a-collapsePanel-body-content">
      {{> organismer-datasystemer }}
    </div>
    {{/ computersystem-content }} {{# enterprise-certificate }}
    <div class="a-collapsePanel-body-content a-js-certificateUpload">
      {{> organismer-virksomhetssertifikat }}
    </div>
    {{/ enterprise-certificate }} {{# enterprise-certificate-edit }}
    <div class="a-collapsePanel-body-content a-js-certificateEdit hidden-xs-up">
      {{> organismer-virksomhetssertifikat-rediger }}
    </div>
    {{/ enterprise-certificate-edit }} {{# default-reportee }}
    <div class="a-collapsePanel-body-content">
      {{> organismer-forhandsvalgt-aktor }}
    </div>
    {{/ default-reportee }}
  </div>
</div>
<!-- END: 02-organismer-50-ekspanderbart-panel-05-avanserte-innstillinger -->