<!-- START: 01-molekyler-02-navigasjon-02-trekkspill -->
<div class="a-accordion-small" id="accordion" role="tablist" aria-multiselectable="true">

  {{# accordion-small-items }}
  <div class="card">

    <!-- TITLE -->
    <div role="tab" id="{{collapseTitle-id}}">
        {{> atomer-ekspanderbar-tekst }}
    </div>

    <!-- CONTENT -->
    <div id="{{collapse-filter-id}}" class="a-collapseContent collapse" role="tabpanel" aria-labelledby="{{collapseTitle-id}}">
        {{{ collapse-filter-content }}}
        {{# collapse-listInside }}
          {{> atomer-liste-unummerert }}
        {{/ collapse-listInside }}
        <br><br>
    </div>

  </div>
  {{/ accordion-small-items }}

</div>

<!-- END: 01-molekyler-02-navigasjon-02-trekkspill -->
