<!-- START: 00-atomer-05-Ekspansjonsknapper-33-♺-link-med-popover-ikon -->
{{# popoverIcon }} {{> atomer-link-med-popover }} {{/ popoverIcon }}

<!-- END: 00-atomer-05-Ekspansjonsknapper-33-♺-link-med-popover-ikon -->