
<div class="a-btn-group" id="btnGroup">

  {{> atoms-link-standalone }}

  {{> atoms-link-button }}

  {{> atoms-link-button-success }}

  {{> atoms-link-button-danger }}

  {{> atoms-link-button-add }}


</div>
