<!DOCTYPE html>
<html class="{{ htmlClass }}">
<head>
    <title>Altinn Designsystem</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {% pattern-lab-head %}
    <!-- End Pattern Lab -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />

</head>
<body class="{{ bodyClass }}">
