<!DOCTYPE html>
<html class="{{ bodyClass }}"> 
<head>
    <title>Altinn Designsystem</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {% pattern-lab-head %}
    <!-- End Pattern Lab -->

    <!-- Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- FortAwesome icons-->
    <script src="https://use.fonticons.com/b2e1f56d.js"></script>
	
	<!-- Altinn stylesheet -->
    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />

</head>
<body class="{{ bodyClass }}">   
