
<!--DO NOT REMOVE-->
{% pattern-lab-foot %}


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    
	<!-- Jquery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    
    <!-- Bootstrap need this? -->
    <script src="../../js/tether.min.js"></script>
    
    <!-- http://v4-alpha.getbootstrap.com/getting-started/introduction/ -->
    <script src="../../js/bootstrap/bootstrap.min.js"></script>
    
    <!-- http://1000hz.github.io/bootstrap-validator/#validator-usage -->
    <script src="../../js/validator.min.js"></script>

    <!-- https://github.com/miguel-perez/smoothState.js -->
    <script src="../../js/jquery.smoothState.min.js"></script>
    
    <!-- Altinn custom javascript -->
    <script src="../../js/altinn.js"></script>

    

</body>  
</html>  
  
