// ------------------------------------\
// FORMS
// ------------------------------------/

// Stacking labels on top of input elements
.a-stackedLabel {
  @extend .a-fontSizeXS;
  @include a-fontMedium;
  display: block !important;
  margin-bottom: $spacer / 2;
}

@media all and (min-width: 48em) {
  .a-form-group-datepicker,
  .a-custom-select {
    width: 50%;
    max-width: 50%;
  }
}

@media all and (max-width: 48em) {
  .a-form-group-datepicker,
  .a-custom-select {
    width: 100%;
    max-width: 100%;
  }

  .a-w-3-sm-down {
    width: 100%;
  }
}
