<div class="a-card a-main-card">
    {{#main-card-content}}
        <div class="a-textSize2">{{main-card-title}} <span>{{main-card-code}}</span></div>
        <p class="subtext">Fra {{#main-card-links}}{{> atomer-link}}{{/main-card-links}}</p>
        <b>{{main-card-secondary-title}}</b>
        <p>{{{main-card-description}}}</p>
        {{> atomer-knapp}}
    {{/main-card-content}}
</div>
