<!-- START: 02-organismer-71-modal-gruppering-03-modal-kvittering -->
<div class="modal-body a-modal-body">
  {{# modal-kvittering-content-header }}
  <h2 class="mb-3">{{ modal-kvittering-content-header }}</h2>
  {{/ modal-kvittering-content-header }}

  <p class="mb-3">
    {{{ modal-kvittering-content }}}
  </p>

  {{# links }} {{> atomer-link:mr-1 }} {{/ links }}
</div>
<!-- END: 02-organismer-71-modal-gruppering-03-modal-kvittering -->