<form data-toggle="validator" role="form" action="{{{url}}}" class="{{ styleModifier }}">

    {{# text-input-name }}
      {{> atomer-tekst-input }}
    {{/ text-input-name }}

    {{# name-submit }}
      {{> atomer-knapp }}
    {{/ name-submit }}
    
</form>
