<form data-toggle="validator" role="form" action="{{{url}}}" class="{{ styleModifier }}">

    {{# text-input-date }}
      {{> atomer-datovelger:d-inline-block|a-w-3-sm-down|mr-0|mr-md-1 }}
    {{/ text-input-date }}

    {{# date-submit }}
      {{> atomer-knapp:mt-2 }}
    {{/ date-submit }}
</form>
