<form data-toggle="validator" role="form" action="{{{url}}}" class="{{ styleModifier }}">

  <div class="a-modal-contentFullWidth m-t-4">
    {{> atomer-radioknapp }}
  </div>

  {{# chooseCategory-submit }}
    {{> atomer-knapp }}
  {{/ chooseCategory-submit }}

</form>
