<form data-toggle="validator" role="form" action="../..{{{url}}}" class="{{ styleModifier }}">

    {{# input-description }}
      {{> atomer-tekstfelt:m-y-3 }}
    {{/ input-description }}

    {{# input-radio }}
      {{> atomer-radioknapp }}
    {{/ input-radio }}

    {{# button-submit }}
      {{> atomer-knapp }}
    {{/ button-submit }}

</form>
