<div id='profile-selection'>
  <div class='row mb-1'>
    <div class='col-4'>
      {{# profile-sok }}
        {{> atomer-tekst-input }}
      {{/ profile-sok }}
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      {{# select-all }}
        {{> atomer-avkrysningsboks:d-inline }}
      {{/ select-all }}
      {{# selected-items }}
        {{> atomer-merkelapp:d-inline }}
      {{/ selected-items}}
    </div>
  </div>

  <hr class="m-0 mb-1 {{# hrExtraClass }} {{ hrExtraClass }}{{/ hrExtraClass }}">

  {{# checkbox-list }}
    {{> molekyler-checkbox-list }}
  {{/ checkbox-list }}
</div>