<div class="row">
  <div class="col-lg-7">
    <h2 class="a-h3">{{ sectionTitle }}</h2>
    {{# email }}
      {{> atomer-tekst-input }}
    {{/ email }}

    {{# phoneNumber }}
      {{> atomer-tekst-input }}
    {{/ phoneNumber }}

    {{# smsMessage }}
      {{> atomer-varsel:mt-0 }}
    {{/ smsMessage }}
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2 class="a-h3 mt-3">{{ sectionTitle2 }}</h2>

    {{# chooseServices }}
      {{> atomer-avkrysningsboks }}
    {{/ chooseServices }}

    {{# submitButton }}
      {{> atomer-knapp:mt-3 }}
    {{/ submitButton }}
  </div>
</div>
