{{# personRole }}
<div class="row mb-3">
  <div class="col-12">
      {{> molekyler-person-rolle }}
  </div>
</div>
{{/ personRole }}

<div class="row mb-1">
  <div class="col-lg-7">
    {{# sectionTitle1 }}
      <h2 class="a-legend">{{ sectionTitle1 }}</h2>
    {{/ sectionTitle1 }}

    {{# email }}
      {{> atomer-tekst-input }}
    {{/ email }}

    {{# phoneNumber }}
      {{> atomer-tekst-input }}
    {{/ phoneNumber }}

    {{# smsMessage }}
      {{> atomer-varsel:mt-0|mb-2 }}
    {{/ smsMessage }}

    {{# organization }}
      {{> atomer-tekst-input:mb-2 }}
    {{/ organization }}
  </div>
</div>

<div class="row">
  <div class="col-12">
    {{# chooseServices }}
      {{> atomer-avkrysningsboks:mb-2 }}
    {{/ chooseServices }}

    {{# chooseRoles }}
      {{> atomer-avkrysningsboks:mb-2 }}
    {{/ chooseRoles }}

    {{# chooseAlerts }}
      {{> atomer-avkrysningsboks:mb-2 }}
    {{/ chooseAlerts }}

    {{# submitProfileButton }}
      {{> atomer-knapp:mt-1 }}
    {{/ submitProfileButton }}
  </div>
</div>
