{{# title }}
  <div class="row">
    <h2 class="a-h4">{{{ title }}}</h2>
  </div>
{{/ title }}
<div class="row">
  <div class="col-8">
    {{# name }}
      {{> atomer-tekst-input}}
    {{/ name }}
  </div>
</div>
<div class="row">
  <div class="col-8">
    {{# phone }}
      {{> atomer-tekst-input}}
    {{/ phone }}
  </div>
</div>
<div class="row">
  <div class="col-8">
    {{# email }}
      {{> atomer-tekst-input}}
    {{/ email }}
  </div>
</div>