<div class="row">
  <h2 class="a-h4">{{{ title }}}</h2>
</div>
<div class="row">
  <div class="col-6 px-0">
    {{# name }}
      {{> atomer-tekst-input}}
    {{/ name }}
  </div>
</div>
<div class="row">
  <div class="col-6 px-0">
    {{# phone }}
      {{> atomer-tekst-input}}
    {{/ phone }}
  </div>
</div>
<div class="row">
  <div class="col-6 px-0">
    {{# email }}
      {{> atomer-tekst-input}}
    {{/ email }}
  </div>
</div>