<div class="{{ styleModifier }}">
  {{# title }}
    <h2 class="a-h4">{{{ title }}}</h2>
  {{/ title }}
  {{# name }}
    {{> atomer-tekst-input}}
  {{/ name }}

  {{# phone }}
    {{> atomer-tekst-input}}
  {{/ phone }}

  {{# email }}
    {{> atomer-tekst-input}}
  {{/ email }}
</div>  