/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

/*.project-brsys {
  .a-btn {
    background-color: #89d6f6;
    background-image: url('//scf.brreg.no/bilder/2015/pilknapp_graa.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;

    &:hover {
      background-color: #bce6fa;
    }
  }
} */
