// ----------------------------------
// Breadcrumb
// ----------------------------------

.a-breadcrumb {

  li {
    display: inline;
    float: none;

    &.breadcrumb-item + .breadcrumb-item {
      &::before {
        padding-right: $spacer * 0.5;
        padding-left: $spacer;
      }
    }
  }
}
