// ------------------------------------\
// FOOTER
// ------------------------------------/
.an-footer {
  padding-top: $spacer * 3;
  padding-bottom: $spacer * 2;
  margin-top: $spacer * 2;
  color: $blue-lighter;

  @include media-breakpoint-up( md ) {
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 5;
    margin-top: $spacer * 4;
  }

  a {
    color: $blue-lighter;
  }

  &-heading {
    @include a-fontSize24;
    @include a-fontBold;
    margin-bottom: $spacer * 2;
  }

  &-contactColumn {
    text-align: center;

    @include media-breakpoint-up( md ) {
      order: 2;
    }
  }

  &-contactInfo {
    display: inline-flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
  }

  &-contactLinks {
    @include a-fontSize20;
    list-style: none;

    li {
      margin-bottom: $spacer * 2;
      text-align: left;

      &:last-child {
        margin-bottom: $spacer * 3;
      }
    }

    a {
      border-bottom: none;

      &:focus,
      &:hover {
        & > span {
          border-bottom: 2px solid $blue-lighter;
        }
      }
    }
  }

  &-search {
    margin-bottom: $spacer * 3;

    @include media-breakpoint-up( md ) {
      max-width: 336px;
    }
  }

  &-infoLinks {
    @include a-fontSize20;
    @include a-fontBold;
    margin-bottom: $spacer * 3;
    list-style: none;

    li {
      margin-bottom: $spacer;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      border-color: transparent;

      &:focus,
      &:hover {
        border-color: $blue-lighter;
      }
    }
  }

  &-supplementaryInfo {
    @include media-breakpoint-up( lg ) {
      display: flex;
    }
  }

  &-smallLinks {
    @include a-fontSize14;
    margin-bottom: $spacer * 2;
    list-style: none;

    @include media-breakpoint-up( lg ) {
      order: 2;
    }

    li {
      display: inline-block;
      margin-right: $spacer * 2;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      border-color: $blue-lighter;
      border-width: 1px;

      &:focus,
      &:hover {
        border-color: $blue;
      }
    }
  }

  &-address {
    @include a-fontSize14;

    @include media-breakpoint-up( md ) {
      margin-right: $spacer * 2;
    }
  }
}
