<!-- START: 04-sider-portal-10-modaler-03-videresend-i-altinn-tildel-enkeltrettigheter -->
{{> maler-portal-modal }}

<!-- END: 04-sider-portal-10-modaler-03-videresend-i-altinn-tildel-enkeltrettigheter -->