<!-- START: 03-maler-infoportal-40-sok-10-sok-skjema -->
<div class="a-page">
  {{> organismer-header }}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
        {{# article-search }} {{> atomer-tekst-input }} {{/ article-search }}
      </div>
    </div>
  </div>

  <section id="content" tabindex="-1">

    <div class="container a-searchResults a-offset-alignContent">
      <div class="row mb-1 mb-md-2">
        <div class="col-12 col-lg-10 offset-lg-1">
          <h1 class="a-h2 a-fontReg"><b>33 treff</b> på skjema med <b>"MVA"</b></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 px-0 px-sm-1">
          {{> molekyler-kategorifaner }}
        </div>
      </div>

      <div class="row">
        <div class="col-12 px-0 px-sm-1">
          <form class="a-searchResults-filter">
            <fieldset>
              <legend class="a-legend">Begrens treffet:
              </legend>
              <div class="a-searchResults-filter-options">
                {{# filter-search }} {{> atomer-valgknapp:a-switch--small }} {{/ filter-search }}
              </div>
            </fieldset>
          </form>
        </div>
      </div>

      {{# hit-form-1 }}
      <div class="row">
        <div class="col-sm-12 col-lg-12 pb-2 {{a-searchResults-lastOfType}}">
          {{> molekyler-ikon-link }}
        </div>
      </div>
      {{/ hit-form-1 }} {{# infoAboutMail }}
      <div class="row py-3">
        <div class="col-sm-12 col-lg-6">
          <h2>90 treff på <b>"detdusøktepå"</b> i starte og drive bedrift:</h2>
          {{# suggestionList }} {{> molekyler-liste-unummerert:pr-md-2|pb-2 }} {{/ suggestionList }} {{# suggestionList-link }} {{> atomer-link:a-link-large }} {{/ suggestionList-link }}
        </div>
        <div class="col-sm-12 col-lg-6 pt-3 pt-lg-0">
          <h2>Søk etter <b>"MVA"</b> i innboksen:</h3>
            {{> molekyler-bilde-innhold:a-cardImage-border }}
        </div>
      </div>
      {{/ infoAboutMail }} {{# hit-form-2 }}
      <div class="row">
        <div class="col-sm-12 col-lg-12 pb-2 {{a-searchResults-lastOfType}}">
          {{> molekyler-ikon-link }}
        </div>
      </div>
      {{/ hit-form-2 }}

    </div>
    <!-- END Container -->

  </section>

  {{> organismer-footer }}
</div>

<!-- END: 03-maler-infoportal-40-sok-10-sok-skjema -->