<!-- START: 02-organismer-50-ekspanderbart-panel-30-ekspanderbart-panel JS doc: togglePanel.js -->
<div class="card a-accordion-card a-collapsePanel{{# isLarge }} {{{ isLarge }}}{{/ isLarge }} {{{ styleModifier }}}">
  <div class="card-header a-js-index-heading a-collapsePanel-heading collapsed{{# isExpanded }} {{ isExpanded }}{{/ isExpanded }}" {{# collapse-panel-header-id }} id="{{ collapse-panel-header-id }}" {{/ collapse-panel-header-id }} role="tab">
    <a href="#" data-toggle="collapse" data-target="#{{{ collapseID }}}" aria-expanded="false" aria-controls="{{ collapseID }}" {{# dataParent }}data-parent="{{{dataParent}}}" {{/ dataParent }}>
      {{# collapseHeader }}
        {{^ isElement }}
          {{> molekyler-ikon-tekst }}
        {{/ isElement }}
        {{# isElement }}
          {{> molekyler-innboks-header-innhold }}
        {{/ isElement }}
      {{/ collapseHeader }}
    </a>
  </div>
  <div id="{{ collapseID }}" class="a-collapsePanel-body collapse{{# isVisibleFromStart }} {{ isVisibleFromStart }}{{/ isVisibleFromStart }}{{# extraPanelBodyClass}} {{ extraPanelBodyClass }}{{/ extraPanelBodyClass }}" role="tabpanel" aria-labelledby="{{ collapse-panel-header-id }}">
    {{# top-notification }}
    <div class="col pr-4 pl-2 py-1 a-collapsePanel-body-secondary a-no-sideborder">
      <p class="{{ notification-text-class }}">{{{ notification-text }}}</p>
      {{# text-link }} {{> atomer-link }} {{/ text-link }}
    </div>
    {{/ top-notification }}
    <div class="card-block a-text a-collapsePanel-body-content a-collapseContent-delay">
      {{^ messageBody }} {{{ collapse-panel-content }}} {{/ messageBody }} {{# messageBody }} {{> organismer-innboks-panel-innhold }} {{/ messageBody }}
    </div>
  </div>
</div>

<!-- END: 02-organismer-50-ekspanderbart-panel-30-ekspanderbart-panel -->