<!-- START: 00-atomer-08-lister-11-liste-unummerert-kuler -->
<ul class="a-bullet-list {{ styleModifier }}">
  {{# bulletListItems }}
  <li>
    {{{ listItemDescription }}} {{# listItemFootnote }} {{> atomer-link-med-popover-ikon }} {{/ listItemFootnote }}
  </li>
  {{/ bulletListItems }}
</ul>

<!-- END: 00-atomer-08-lister-11-liste-unummerert-kuler -->