<a href="../..{{{ link-url }}}" class="a-btn a-btn-shadow {{{ link-button-shadow-class }}}" id="linkButtonShadow">
	<i class="material-icons a-btn-shadow-icon">{{{ link-button-shadow-icon }}}</i>

	{{{ link-button-shadow-text }}}

	<span class="label label-primary a-label label-pill" id="label">{{{ link-button-label }}}</span>
</a>
