<!-- START: 02-organismer-70-Modal-innhold-_92-roller-tjenesteoversikt -->
<div class="modal-body a-modal-body">
  {{> atomer-ekspanderbar-tittel }}

  <div id="{{ collapse-header-contentID }}" class="a-collapseContent collapse {{# aria-expanded }}show{{/ aria-expanded }}" aria-expanded="{{ aria-expanded }}">
    <div class="text-sm-center">
      {{# filterable-items }} {{> atomer-valgknapp }} {{/ filterable-items }}
    </div>
  </div>
  <hr class="a-hrSolidThick" /> {{> molekyler-hurtignavigasjon }}
</div>
<!-- END: 02-organismer-70-Modal-innhold-_92-roller-tjenesteoversikt -->