<div class="a-inputchip {{ extra-classes }}">
  <span>{{ title }}</span>
  {{# deletable }}
  <button class="a-inputchip-delete">
    {{> felles-komponenter-ikon }}
  </button>
  {{/ deletable }}
</div>