<!-- START: 03-maler-altinnett-90-casesider-10-casedetaljside -->
<div class="a-page">
  {{# header }} {{> organismer-header-altinnett }} {{/ header }}

  <div class="container">
    <div class="mb-sm-4 px-2 px-sm-0">
      <h1 class="a-h3 a-blueDarkerText a-fontSizeXL">{{ page-title }}</h1>
      {{> atomer-avsnitt(paragraph-class: "a-blueDarkerText a-fontSizeXL") }}
    </div>
    {{# crumbs }}
    <div class="mb-3 mb-sm-2 px-2 px-sm-0">
      {{> molekyler-smulesti }}
    </div>
    {{/ crumbs }} {{# caseHeader}} {{> molekyler-jumbotron-caseheader }} {{/ caseHeader}}
  </div>

  <div class="container">
    <div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg mb-3 mb-sm-4">
      {{> atomer-avsnitt }}
    </div>
  </div>

  <div class="a-bgGreyLighter pt-4 pb-4 mb-4">
    <div class="container">
      <h2>Placeholder for slideshow module</h2>
    </div>
  </div>

  <div class="container">
    {{# list }}
    <div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg mb-6">
      {{# text-section }} {{> atomer-seksjonstittel }} {{> atomer-avsnitt }} {{> atomer-seksjonstittel }} {{> atomer-avsnitt }} {{> atomer-seksjonstittel }} {{> atomer-liste-unummerert-kuler }} {{/ text-section }}
    </div>
    {{/ list }} {{# regnestykke }}
    <div class="an-fullWidthBlock mb-5">
      {{> molekyler-regnestykke }}
    </div>
    {{/ regnestykke }} {{# altinn-api }}
    <div class="an-fullWidthBlock mb-3">
      {{> molekyler-altinnett-bilde-innhold-linkblokk }}
    </div>
    {{/ altinn-api }} {{# kontaktkort }}
    <div class="an-fullWidthBlock mb-6">
      {{> molekyler-altinnett-kontaktkort }}
    </div>
    {{/ kontaktkort }}
  </div>

  {{# footer }} {{> organismer-footer-altinnett }} {{/ footer }}
</div>
<!-- END: 03-maler-altinnett-90-casesider-10-casedetaljside -->