.epi-wysiwyg {
  .a-media,
  .a-iconText-minusBothMargins,
  .a-box,
  .a-question-wrapper,
  .a-compare-category {
    margin-top: $spacer * 3;
    margin-bottom: $spacer * 3;

    @include media-breakpoint-up (lg) {
      margin-left: -190px;
      width: calc(100% + 380px);
    }
  }
}
