.epi-wysiwyg {
  .a-media,
  .a-iconText-minusBothMargins,
  .a-box,
  .a-question-wrapper {
    margin-top: $spacer * 3;
    margin-bottom: $spacer * 3;

    @include media-breakpoint-up ( lg ) {
      width: calc( 100% + 380px );
      margin-left: -190px;
    }
  }

  .a-compare-header,
  .a-compare-category {
    @include media-breakpoint-up ( lg ) {
      width: calc( 100% + 380px );
      margin-left: -190px;
    }
  }
}
