/*------------------------------------*\
*  PRESENTATION OF PROFILE
*  NB: Include this file only for the patternlab-designsystem
*
*  ap = Altinn Profile
\*------------------------------------*/

body {
  &.ap-profile {
    overflow-x: hidden;
    background: $white;
  }

  &.ap-profile-pattern {
    overflow: hidden;
  }
}

iframe {
  .ap-showPatternlab {
    width: 100%;
    height: 100vh;
    margin: 0;
    border: none;
  }
}

.ap-navbarLeft-contentContainer {
  @include media-breakpoint-up( md ) {
    margin-left: 300px;
  }
}

.ap-content {
  @include add-col-properties {
    padding-right: $spacer / 2;
    padding-left: $spacer / 2;
  }

  max-width: 900px;
  padding: $spacer * 2;
  margin: auto;

  @include media-breakpoint-up( md ) {
    margin-top: $spacer * 5;
  }
}

// SIDE NAV FOR ALTINN PROFILE MANUAL
// TODO: Could possibly be global and reused for other sites of Altinn
.ap-sideNav {
  display: block;
  width: 100%;
  padding: 0;

  @include media-breakpoint-up( md ) {
    width: $spacer * 25;
  }

  .ap-sideNav-top {
    display: block;
    width: 100%;
    padding: $spacer * 3 $spacer;
    text-align: center;
    border-bottom: 1px solid $grey-light;

    @include media-breakpoint-up( md ) {
      position: fixed;
      top: 0;
      left: 0;
      width: $spacer * 25;
      border-right: 1px solid $grey-light;
    }

    img {
      width: 160px;
      margin: auto;
      margin-bottom: 12px;
    }

    h1 {
      @include a-fontSize16;
      @include a-fontLight;
      margin-bottom: 0;
      color: $grey-medium;
    }
  }

  // Titlebar (Shows only for small screens)
  .ap-sideNav-mobilebar {
    position: relative;
    color: $white;
    cursor: pointer;
    background: $blue-dark;

    @include media-breakpoint-up( md ) {
      // sass-lint:disable-block no-important
      display: none !important;
    }

    ::after {
      position: absolute;
      top: 50%;
      right: 1rem;
      display: block;
      width: 0;
      height: 0;
      margin-top: $spacer / -3;
      content: '';
      border: inset $spacer / 2;
      border-color: $white transparent transparent;
      border-top-style: solid;
      border-bottom-width: 0;
      transition: all 300ms ease;
    }

    &.open {
      ::after {
        transition: all 300ms ease;
        transform: scaleY(-1);
        transform-origin: 50% 50%;
      }
    }

    .ap-sideNav-mobilebar-toggle {
      display: block;
      padding: $spacer $spacer * 2;

      i {
        margin-top: $spacer / -4;
        margin-right: 7px;
        vertical-align: middle;
      }
    }
  }

  .ap-sideNav-collapse {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0;
    background: $white;

    @include media-breakpoint-up( md ) {
      // sass-lint:disable-block no-important
      position: fixed;
      top: 133px;
      display: block !important;
      width: $spacer * 25;
      overflow-y: scroll;
      border-right: 1px solid $grey-light;
    }

    ul {
      padding-bottom: 139px + $spacer;
      background: $white;

      // Level 2
      &.nested {
        padding-bottom: 0;
        margin-left: 0;

        li {
          background: $grey-lighter;

          .ap-sideNav-link {
            @include a-fontLight;
            padding: 11px $spacer * 2 11px $spacer * 3;
            border-top: 1px solid transparent;
            border-bottom: 1px solid $white;
          }

          &:last-child {
            border-bottom: 1px solid $white;
          }

          &:first-child {
            z-index: 1000;
            margin-top: -1px;
          }

          &.ap-nav-active {
            background: lighten( $grey-light, 2% );

            .ap-sideNav-link {
              padding: 11px $spacer * 2 11px 30px;
            }

            &:hover {
              @extend .ap-nav-active;
            }
          }
        }
      }
    }

    .menu>li>a {
      text-decoration: none;
    }

    //Link
    .ap-sideNav-link {
      @include a-fontReg;
      display: block;
      padding: 17px $spacer * 2;
      color: $black;
      border-bottom: 1px solid $grey-light;

      &:hover {
        background: $grey-light;
      }

      &.nav-link-hassub {
        border: none;
      }

      .a-icon {
        color: $grey-medium;
      }
    }

    // Active item
    .ap-nav-active {
      background: lighten($grey-light, 4%);
      border-left: $spacer / 2 solid $blue-dark;

      .ap-sideNav-link {
        padding: 17px 19px;
      }

      &:hover {
        @extend .ap-nav-active;
      }

    }
  }

  // ARROW
  .is-accordion-submenu-parent {
    > a {
      &::after {
        right: $spacer * 2;
        border-color: $grey-medium transparent transparent;
      }
    }
  }
}


// Content next to sidenav
@include media-breakpoint-down( md ) {
  .ap-collapse-content {
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
  }
}

// Standard Code view, highlight code lines
.ap-highlight {
  padding: $spacer;
  margin: $spacer 0;
  background: $grey-light;
  border-radius: 5px;

  pre {
    margin: 0;
  }
}

// Black code snippets view with PRETTYPRINT
pre {
  &.prettyprint {
    // sass-lint:disable-block no-important
    width: 100% !important;
  }
}

// Color combinations
.ap-colorCircle {
  @include a-fontSize24
  display: inline-block;
  width: $spacer * 4;
  height: $spacer * 4;
  padding-top: 8px;
  margin-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 999px;
}

// Shadows
.ap-shadowBox {
  display: block;
  width: 100px;
  height: 100px;
  background: $white;
  box-shadow: $shadow;
}

// Patternlab Grid examples
.ap-gridExample {
  .row {
    margin-bottom: $spacer * 2;

    .row {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
}

.ap-gridExample-col {
  float: left;
  width: 100%;
  padding: $spacer 0;
  text-align: center;
  background-color: $purple-opacity;
}

// Patternlab Color palette
.ap-colors {
  clear: both;
  list-style: none;

  li {
    float: left;
    width: 100%;
    padding: 0 10px 0 0;
    margin: 0;
    border: none;

    @include media-breakpoint-up( md ) {
      width: 25%;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.ap-colorLabel {
  display: none;
  // TODO: Disable linting for special case line heights
  line-height: $spacer * 2;
}

.ap-swatch {
  position: relative;
  display: block;
  width: 100%;
  height: $spacer * 6;
  padding-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 2px;

  .ap-colorLabel {
    position: absolute;
    top: $spacer;
    right: -100%;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 0;
    transition: 0.2s all;
  }

  &:hover {
    .ap-colorLabel {
      right: 0;
      display: block;
      opacity: 1;
    }
  }
}

// Patternlab multiple color icons
.ap-iconPreview {
  display: inline;
  padding: $spacer;
  padding-top: 0;
  text-align: center;

  &:hover {
    background-color: $grey-light;
  }
}

.ap-iconPreview-caption {
  @include a-fontSize12;
  display: block;
  color: $grey;
}

.ap-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 0;
}

.ap-systemicon {
  width: 50px;
}

.material-icons {
  &.ap-fonticon {
    @include a-fontSize36;
    color: $black;
  }
}

// Icons Fort Awesome
.ap-kitIcons {
  margin-bottom: $spacer * 2;

  .ap-kitIcons-icon {
    display: inline-block;
    padding: $spacer $spacer * 2;
    color: $grey-medium;
    text-align: center;
    border: none;
    border-radius: 5px;

    &:hover {
      color: $white;
      background: $blue;
    }
  }

  .ap-kitIcons-name {
    @include a-fontSize14;
    @include a-fontLight;
    display: block;
  }
}

// Patternlab TYPO
.ap-typo-container {
  border-top: 1px dotted $black-opacity-01;
}

.ap-typo {
  padding: 30px 0 30px 40px;
  background: $white;
  border-bottom: 1px dotted $black-opacity-01;

  &:hover {
    background: $grey-lighter;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-top: 0;
  }
}

.ap-typo-activeSize-m {
  // mobile
  @include media-breakpoint-down( sm ) {
    @include a-fontBold;
    color: $green;
  }
}

.ap-typo-activeSize-t {
  // tablet
  @include media-breakpoint-only( md ) {
    @include a-fontBold;
    color: $green;
  }
}

.ap-typo-activeSize-l {
  // laptop
  @include media-breakpoint-only( lg ) {
    @include a-fontBold;

    color: $green;
  }
}

.ap-typo-activeSize-d {
  // desktop
  @include media-breakpoint-up( xl ) {
    @include a-fontBold;

    color: $green;
  }
}
