<ol class="breadcrumb a-breadcrumb {{ styleModifier }}">
  {{# breadcrumb-item }}
    <li class="breadcrumb-item {{{ breadcrumb-class }}}">
      <a href="{{{ breadcrumb-link }}}{{{breadcrumb-link-position}}}">
        <span class="a-breadcrumb-text">{{{ breadcrumb-title }}}</span>
      </a>
    </li>
  {{/ breadcrumb-item }}
</ol>
