<!-- START: 00-atomer-07-tekst-05-sitat -->
<blockquote class="a-blockquote {{{ blockquote-class }}} {{ styleModifier }}">
  <p>{{{ blockquote-text }}}</p>
  <cite class="a-citation"> {{{ blockquote-citation }}}</cite>
</blockquote>

<!-- END: 00-atomer-07-tekst-05-sitat -->