<div class="a-page" id="smoothState">
  {{> organismer-header }}

  <div class="container-fluid a-login-container a-bgWhite a-shadow">
    <div class="container a-triangleShadow" id="content" tabindex="-1">
      <div class="row px-3 pb-2">
        <div class="col-sm-4">
          <h1 class="a-h2">Velg profil
            {{# headerFootnote}}
              {{> atomer-ordforklaring }}
            {{/ headerFootnote }}
          </h1>
        </div>
        <div class="col-sm-4">
          {{# personswitch-search }}
            {{> atomer-tekst-input }}
          {{/ personswitch-search }}
        </div>
        <div class="col-sm-4">
          {{> atomer-link(link-class: "a-link-logout", link-text: "Logg ut", link-url: "/patterns/04-sider-01-forside-00-forside/04-sider-01-forside-00-forside.html") }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 pb-3">
          {{# mainPerson }}
            {{> molekyler-ekspanderbar-liste-status }}
          {{/ mainPerson }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 pb-3">
          <p class="a-h4 px-3">
              Alle dine profiler:
          </p>
          {{> organismer-personbytte}}
        </div>
      </div>
      {{> organismer-footer }}
    </div> <!-- END Container -->
  </div> <!-- END Container Fluid -->
</div>
