.a-btn-overlay-right {
  position: absolute;
  right: 0;
  width: auto;
  height: auto !important;
  margin-top: 8px;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    margin-top: 32px;
  }

  &.a-disabled {
    background-color: transparent;
    // background-image: none;
    box-shadow: none;
  }
}


.a-collapseContent {
  .ai-favourite,
  .ai-favourite-inactive {
    margin-right: 0.5rem;
  }
}
