// ------------------------------------\
// MODAL
// ------------------------------------/

// MODAL table segment done
.modal-table-segment {
  width: 100%;
  height: 200px;
  background-color: $green-light;
}

.segment-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.modal-table-segment-box {
  height: 80px;
}

.segment-done {
  display: none;
}

.a-collapseContent,
.a-list {
  .modal-table-segment {
    height: $spacer * 7;
  }

  .modal-table-segment-box {
    display: none;
  }
}

.a-js-clipboardMsg {
  margin-left: 20px;
  // TODO: Disable linting for special case line heights
  line-height: 60px;
  color: $white-opacity-07;
  vertical-align: bottom;
}

.align-next-modal-button-bottom {
  position: fixed;
  bottom: 60px;
  width: 50%;
}

@media (max-width: 767px) {
  .align-next-modal-button-bottom {
    position: fixed;
    bottom: 10px;
    width: 100%;
  }

  .leftColumn {
    background-color: $white;
  }
}

.serviceListContainer {
  position: relative;
  height: 0;
  overflow: auto;
}

@media (min-width: 768px) {
  .serviceListContainer {
    min-height: 45vh;
  }
}

.serviceList {
  position: absolute;
  width: 100%;
  padding: 5px;
}

.a-text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
