// ------------------------------------\
// PRINT
// ------------------------------------/

@media print {
  .a-dontPrint,
  .a-globalNav,
  .a-breadcrumb,
  .a-footer,
  .nav,
  .form-group,
  button,
  .a-linkFeatured,
  .a-btn,
  .a-jumbotron-btn-textright,
  .a-question-wrapper,
  .switch-container,
  .a-illustration-icon {
    display: none !important;
  }

  .a-collapseContent {
    display: block !important;
  }

  .p0-print {
    padding: 0 !important;
  }

  .a-jumbotron {
    height: auto;
    min-height: auto;
    max-height: auto;
    padding: 0;
    margin: 0;
    color: $black;
  }

  .a-jumbotron-dark {
    color: $black;

    p,
    a,
    .a-jumbotron-ingress {
      color: $black;
    }
  }

  .a-mediaBlock,
  .a-cardImage {
    margin-bottom: 0;

    img {
      display: none;
    }
  }

  .a-blockquote {
    border: none;
  }

  .a-js-alternativeResults,
  .a-js-result {
    display: block !important;
  }
}
