/*------------------------------------*\
    $SEARCH RESULTS
\*------------------------------------*/
.a-searchResults {
  .a-searchResults-lastArticle {
    border: none;
  }

  .a-searchResults-lastForm {
    padding-bottom: $spacer * 2 !important;
  }

  .a-searchResults-counter {
    @include a-fontReg;

    @include media-breakpoint-up( md ) {
      display: inline;
    }
  }

  .a-searchResults-filter {
    padding-top: $spacer / 2;
    padding-right: $spacer;
    padding-bottom: $spacer / 2;
    padding-left: $spacer;
    margin-top: $spacer;
    margin-bottom: $spacer * 3;
    border-top: 1px solid $grey-light;
    border-bottom: 1px solid $grey-light;

    @include media-breakpoint-up( sm ) {
      padding-right: 0;
      padding-left: 0;
    }

    @include media-breakpoint-up( lg ) {
      padding-right: 8.33333%;
      padding-left: 8.33333%;
    }

    .a-searchResults-filter-options {
      padding-left: $spacer * 10;
    }

    .a-legend {
      @include a-fontSize14;
      position: absolute;
      top: 27px;
      width: auto;
      padding-right: 0;
      margin-bottom: 0;
      align-self: center;

      @include media-breakpoint-up( md ) {
        position: absolute;
        top: 27px;
        max-width: none;
      }
    }

    .a-switch {
      margin-top: $spacer / 3;
      margin-bottom: $spacer / 3;
    }
  }

  .a-searchResults-breadcrumb {
    @extend .a-fontSizeXXS;
    @include a-fontMedium;
    margin: -6px 0 8px 0;
  }

  .a-btn-action {
    padding-left: $spacer * 1.5;
  }

  .a-cardImage-border {
    img {
      @include media-breakpoint-only(lg) {
        width: 140px;
        height: 140px;
      }
    }
  }

  .a-iconText-text {
    .a-label {
      margin-top: -$spacer / 2;
    }
  }

  .a-iconText {
    &.a-iconText-background--white {
      margin-top: -1px; // This will ensure that if a search result above has a bottom-border, the border will hide behind this box, and not be double.
    }
  }
}
