<!-- START: 01-molekyler-02-navigasjon-_40-meny-kolonner -->

<div class="a-colnav-wrapper col-sm-12 col-lg-6">
  <div class="a-js-backButton"><i class="ai ai-back"></i>Tilbake</div>
  <!-- First level -->
  <ul class="a-colnav a-colnav-vertical a-colnav-firstLevel dropdown" data-responsive-menu="drilldown xlarge-dropdown" data-zf-plugin="responsive-menu" id="{{ colnav-id }}" data-disable-hover="true" data-click-open="true" data-close-on-click="false" data-force-follow="true"
    data-colnav-depth="{{ colnav-depth }}">
    {{# colnav-first-level }}
    <li>
      <a href="#" class="a-colnav-item">
        <h2>{{{ colnav-first-level-header }}}</h2>
        <p class="a-leadText">
          {{{ colnav-first-level-lead-text }}}
        </p>
      </a>
      <ul class="a-colnav a-colnav-vertical a-colnav-secondLevel">
        {{# colnav-second-level }}
        <li>
          <a href="#" class="a-colnav-item-second a-js-colnavLink">
            <h3>{{{ colnav-second-level-header }}}</h3>
          </a>
          <a href="{{{ colnav-second-level-link }}}" class="a-colnav-item-second a-js-colnavLinkAlt">
            <h4>{{{ colnav-second-level-header }}}</h4>
          </a>
          <ul class="a-colnav a-colnav-vertical a-colnav-thirdLevel">
            {{# colnav-third-level}}
            <li>
              <a href="{{{ colnav-third-level-link }}}" class="a-colnav-item-third">
                <h4>{{{ colnav-third-level-header }}}</h4>
                <span class="a-colnav-rightText">{{{ colnav-third-level-right-text }}}</span>
              </a>
            </li>
            {{/ colnav-third-level }}
          </ul>
        </li>
        {{/ colnav-second-level }}
      </ul>
    </li>
    {{/ colnav-first-level }}
  </ul>
</div>

<!-- END: 01-molekyler-02-navigasjon-_40-meny-kolonner -->