  {{# header }}
    {{> organismer-header }}
  {{/ header }}

  <div class="a-overlay-container d-none" tabindex="-1">
    {{> organismer-filter }}
  </div>

    <div class="container-fluid a-login-container a-bgWhite a-shadow" id="content" tabindex="-1">
      <div class="container a-triangleShadow a-js-hideElement">

        {{# is-first-time }}
          <div class="row px-lg-2">
            <div class="col-12 col-lg-4 mb-1">
                <h1 class="a-h2 d-inline">Velg aktør</h1>
                {{# headerFootnote}}
                  {{> atomer-link-med-popover-ikon }}
                {{/ headerFootnote }}
            </div>
            {{> atomer-link(link-class: "a-link-logout", link-text: "Logg ut", link-url: "/patterns/04-sider-infoportal-01-forside-00-forside/04-sider-infoportal-01-forside-00-forside.html") }}
          </div>

          <div class="row px-lg-2">
            <div class="col-xs-12 col-md-6">
              {{# personswitch-search }}
                {{> atomer-tekst-input }}
                {{# no-results-text }}
                  <p class="a-fontBold a-fontSizeXS">
                    {{ no-results-text }}
                  <p>
                {{/ no-results-text }}
              {{/ personswitch-search }}
            </div>
            <div class="col-xs-12 d-none d-md-block col-md-6 pb-1 text-md-right">
              {{# lagrede-sok }}
                {{> atomer-link-ikon }}
              {{/ lagrede-sok }}
              {{# utvidet-sok }}
                {{> atomer-link-ikon }}
              {{/ utvidet-sok }}
            </div>
          </div>

          {{# mainPerson }}
            <div class="row">
              <div class="col-sm-12{{^ is-simple }} pb-3{{/ is-simple }}">
                {{> molekyler-ekspanderbar-liste-status }}
              </div>
            </div>
          {{/ mainPerson }}

          {{# show-favourites }}
            <div class="row px-lg-2">
              <div class="col-md col-12 mb-4">
                  {{> organismer-favoritter}}
              </div>
            </div>
          {{/ show-favourites }}

          <div class="row px-lg-2">
            {{^ is-simple }}
              <div class="col-md-auto col-12 mb-1">
                <h2 class="a-h4">Alle dine aktører:</h2>
              </div>
            {{/ is-simple }}
            <div class="col-xs-12 col-md pb-1 text-md-right">
              {{# personswitch-options }}
                {{> atomer-avkrysningsboks }}
              {{/ personswitch-options }}
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 pb-md-3">
              {{# personswitch }}
                {{> organismer-personbytte}}
              {{/ personswitch }}
            </div>
          </div>

          <div class="row d-block d-md-none pb-3 mx-1">
            {{# lagrede-sok }}
              <div class="col-auto pb-1">
                {{> atomer-link-ikon }}
              </div>
            {{/ lagrede-sok }}
            {{# utvidet-sok }}
              <div class="col-auto">
                {{> atomer-link-ikon }}
              </div>
            {{/ utvidet-sok }}
          </div>
        {{/ is-first-time }}



        {{^ is-first-time }}
          <div class="row pb-2 pb-md-6 px-lg-2 px-md-1">
            <div class="col">
              {{# personswitch-current }}
                {{> molekyler-person-privat }}
              {{/ personswitch-current }}
            </div>
          </div>
          <div class="row px-lg-2 d-flex mb-1">
            <div class="col align-self-center">
                <h1 class="a-h2 d-inline">Aktøroversikt</h1>
            </div>
            {{> atomer-link(link-class: "a-link-logout", link-text: "Logg ut", link-url: "/patterns/04-sider-infoportal-01-forside-00-forside/04-sider-infoportal-01-forside-00-forside.html") }}
          </div>

          <div class="row px-lg-2">
            <div class="col-xs-12 col-md-6">
              {{# personswitch-search }}
                {{> atomer-tekst-input }}
                {{# no-results-text }}
                  <p class="a-fontBold a-fontSizeXS">
                    {{ no-results-text }}
                  <p>
                {{/ no-results-text }}
              {{/ personswitch-search }}
            </div>

            <div class="col-xs-12 col-md-6 pb-1 text-md-right d-none d-md-block">
              {{# utvidet-sok }}
                  {{> atomer-link-ikon }}
              {{/ utvidet-sok }}
            </div>
          </div>

          {{# show-favourites }}
            <div class="row px-lg-2">
              <div class="col-md col-12 mb-4">
                  {{> organismer-favoritter}}
              </div>
            </div>
          {{/ show-favourites }}

          <div class="row px-lg-2">
            <div class="col-xs-12 col-md pb-1 text-md-right">
              {{# personswitch-options }}
                {{> atomer-avkrysningsboks }}
              {{/ personswitch-options }}
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 pb-md-3">
              {{# personswitch }}
                {{> organismer-personbytte}}
              {{/ personswitch }}
            </div>
          </div>
          <div class="row d-block d-md-none pb-3 mx-1">
            {{# lagrede-sok }}
              <div class="col-auto pb-1">
                {{> atomer-link-ikon }}
              </div>
            {{/ lagrede-sok }}
            {{# utvidet-sok }}
              <div class="col-auto">
                {{> atomer-link-ikon }}
              </div>
            {{/ utvidet-sok }}
          </div>
        </div>
      {{/ is-first-time }}

      </div>
    </div>

  </section>
</div>
