<!-- START: 04-sider-portal-50-innboks-05-innboks-arkiv -->
{{# innboks-arkiverte-meldinger }} {{> maler-portal-innboks }} {{/ innboks-arkiverte-meldinger }}
<!-- END: 04-sider-portal-50-innboks-05-innboks-arkiv -->