<!-- START: 01-molekyler-00-tekst-07-lenketittel-med-forklaring -->
<article class="a-linkArticle">

  {{{ heading-start }}} {{> atomer-link }} {{{ heading-end }}}

  <p {{# maxThreeLines }}class="{{ maxThreeLines }}" {{/ maxThreeLines }}>{{ category-element-description }}</p>
</article>

<!-- END: 01-molekyler-00-tekst-07-lenketittel-med-forklaring -->