<!-- START: 03-maler-altinnett-01-forside-01-forside -->
<div class="a-page">
  {{# header }} {{> organismer-header-altinnett }} {{/ header }}

  <section id="content" tabindex="-1">

    <h1 class="sr-only">Altinn - enklere dialog med det offentlige</h1>

    {{> molekyler-jumbotron }}

  </section>

  {{> organismer-footer-altinnett }}
</div>

<!-- END: 03-maler-altinnett-01-forside-01-forside -->