<!-- START: 02-organismer-30-seksjoner-100-altinnett-ressurs-presentasjon -->
<h2 class="a-fontBold a-blueDarkerText mb-3">{{{ section-title }}}</h2>

<div class="row mb-4">
  <div class="col-12 col-md-6">
    {{# promotedResource }} {{> molekyler-altinnett-presentasjonsblokk-horisontal }} {{/ promotedResource }}
  </div>

  <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
    {{# resources }} {{> molekyler-altinnett-presentasjonsblokk-horisontal }} {{/ resources }}
  </div>
</div>

<!-- END: 02-organismer-30-seksjoner-100-altinnett-ressurs-presentasjon -->