<!-- START: 03-maler-20-navigasjonssider-70-hjelpesenter-old -->
<div class="a-page">
  {{# header }} {{> organismer-header }} {{/ header }}

  <section id="content" tabindex="-1">

    {{> molekyler-jumbotron }}

    <div class="container">
      <div class="row mt-4 mb-3">
        <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
          {{# article-search }} {{> atomer-tekst-input }} {{/ article-search }}
        </div>
      </div>

      {{> molekyler-illustrasjonslenke:mt-4 }} {{# help-questions }}
      <div class="row mt-6">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
          {{> atomer-seksjonstittel }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          {{> molekyler-trekkspill-overskrifter:a-accordion-large--offset }}
        </div>
      </div>
      {{/ help-questions }} {{# kontaktskjema }} {{> organismer-modal }} {{/ kontaktskjema }}

      <hr>

      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
          {{> molekyler-bilde-innhold:mt-2 }}
        </div>
      </div>

    </div>
    <!-- END Container -->

  </section>

  {{> organismer-footer:a-footer--noLine }}
</div>

{{> molekyler-hjelp-container }}

<!-- END: 03-maler-20-navigasjonssider-70-hjelpesenter-old -->