{{# search-filter-organism }} 
  <div class="container a-p-static">
    <div class="row">
      <div class="col-xl-12">
        {{# sub-header }}
          {{> organismer-subheader }}
        {{/ sub-header }}
      </div>
    </div>
  {{# filter-sok }}
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
        {{> atomer-tekst-input }}
      </div>
    </div>
  {{/ filter-sok }}
  <div class="filter-limit-hits-spacer"></div>
  {{# limit-hits-filter-overview }}
    <div class="row ml-0 mt-0 mt-md-8 mb-1">
      <div class="col-auto">
        <p class="d-inline a-fontSizeM">{{ limit-hits-filter-text }}</p>
      </div>
      <div class="col pr-0">
        {{# active-filter-numbers }}
          <span class="hidden-sm-up">
            {{> atomer-merkelapp }}
          </span>
        {{/ active-filter-numbers }}
        {{# active-filters }}
          <span class="hidden-xs-down">
            {{> atomer-merkelapp }}
          </span>
        {{/ active-filters }}
      </div>
      {{# filter-close-button }}
      <div class="col-auto">
        {{> atomer-knapp-ikon-tekst }}
      </div>
      {{/ filter-close-button}}
    </div>
  {{/ limit-hits-filter-overview }}
  {{# filter-options }}
    <div class="row">
      <div class="col">
        {{> molekyler-trekkspill-overskrifter }}
      </div>
    </div>
  {{/ filter-options }}
  </div>
  {{# filter-submit }}
    <div class="row mt-5 hidden-xs-up search-filer-action-wrapper">
      <div class="col text-center">
        {{> atomer-knapp }}
      </div>
    </div>
  {{/ filter-submit }}
{{/ search-filter-organism }} 