<div class="d-flex align-items-center">
  {{# filtersNotSelected }}<p class="d-inline a-fontSizeM my-0">Velg filter:</p>{{/ filtersNotSelected }}
  {{# filtersSelected }}<p class="d-inline a-fontSizeM my-0">Valgte filter:</p>{{/ filtersSelected }}
  {{# active-filters }}
    {{> atomer-inputchip }}
  {{/ active-filters }}
  {{# addButton }}
    {{> atomer-knapp-ikon }}
  {{/ addButton }}
</div>