<form data-toggle="validator">

  <div class="form-group a-form-group has-feedback">

    <div class="input-group {{ styleModifier }}">

      <!-- Label -->
      <label class="input-group-addon form-control-noleft" for="inputText">
          <span class="control-label"> {{ text-input-label }} </span>
      </label>

      <!-- Input  -->
      <input type="text" class="form-control form-control-noleft" id="inputText" placeholder="{{text-input-placeholder}}">

    </div>

    <i class="fa fa-check-circle form-control-feedback"></i><span class="sr-only">Icon showing if input is valid or not</span>

    <div class="help-block with-errors a-message a-message-error"></div>

  </div>


</form>
