<div class="a-card-group">

      <div class="row">
        {{#card-group}}
        <div class="col-xs-12 col-md-6">
            {{> molekyler-kort}}
        </div>
        {{/card-group}}
      </div>

</div>
