<!-- Begin #a-dropdown-languages - -->
<div class="dropdown-menu a-dropdown-personswitchList a-dropdown-personswitchList-large a-dropdownTriangle">

  <div class="p-l-3 p-t-3 p-r-3">

    <div class="row">
      <div class="col-sm-12 m-b-2">
        <h1>Hvem skal du representere?</h1>
      </div>
    </div>

    <div class="a-bgPanel a-bgPanel-grey m-b-4">

      <div class="row">
        <div class="col-sm-12 m-b-2">
              {{> molekyler-person-privat }}
        </div>
      </div>

      <div class="p-x-5">
        {{> atomer-link(link-class: "a-link", link-text: "Innstillinger og profil")}}
      </div>

      <hr class="a-hr-smallPadding">

      {{> atomer-handlingslink(link-icon-class: "m-b-0") }}

    </div>

    <div class="p-a-2">

      <p class="a-textSize2">
          Andre du kan representere:
      </p>

      {{> atomer-sok-tema:error(input-find-text: "Hvem leter du etter?", input-find-id: "input-find-aktor", input-find-icon: "&#xE7EF;") }}

    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="a-bgPanel a-bgPanel-blueLight">

          <a href="#" class="no-decoration">

          {{> molekyler-person-rolle(person-role-role: "Foretak du er tilknyttet", person-role-name: "Effektive timer AS", "person-role-name-meta" : true,  person-role-nameMeta: "org. nr. 802 761 497", person-role-icon: "&#xE7F1;") }}

          </a>

          <hr class="a-hr-smallPadding m-t-2">

          {{> atomer-handlingslink(link-icon-class: "m-a-0") }}

        </div>

        <div class="a-bgPanel a-bgPanel-blueLight">

          <a href="#" class="no-decoration">

          {{> molekyler-person-rolle(person-role-role: "Foretak du er tilknyttet", person-role-name: "Effektive timer AS", "person-role-name-meta" : true,  person-role-nameMeta: "org. nr. 802 761 497", person-role-icon: "&#xE7F1;") }}

          </a>

          <hr class="a-hr-smallPadding m-t-2">

          {{> atomer-handlingslink(link-icon-class: "m-a-0") }}

        </div>

        <div class="a-bgPanel a-bgPanel-blueLight">

          <a href="#" class="no-decoration">

            {{> molekyler-person-rolle(person-role-role: "Foretak du er tilknyttet", person-role-name: "Effektive timer AS", "person-role-name-meta" : true,  person-role-nameMeta: "org. nr. 802 761 497", person-role-icon: "&#xE7F1;") }}

          </a>

          <hr class="a-hr-smallPadding m-t-2">

          {{> atomer-handlingslink(link-icon-class: "m-a-0") }}

        </div>

        <div class="p-x-2 m-t-1o5 m-b-1">

          {{> atomer-handlingslink(link-icon-class: "material-icons", link-icon-icon: "&#xE145;", link-icon-text: "Last flere") }}

        </div>

      </div>
    </div>


  </div>


</div>
