<!-- Side nav -->
{{> molekyler-leftside-nav }}

<!-- Content next to nav, needs to be pushed 300px -->
<div class="ap-navbarLeft-contentContainer">

	<!-- Content, max-width: 900px;  margin: auto; -->
	<div class="ap-content">

		<!-- Article content starts here -->
		<div class="a-text">

			<h1>Prototyper</h1>
			<p class="a-leadText">Her får du en oversikt over prototyper som er laget for altinn.no. Prototypene er laget som klikkbare sider i Patternlab. Klikk på bildene under for å se ferdig design av sidene bestående av HTML og CSS. Innholdet er lagt inn manuelt og hentes ikke automatisk. Sidene er responsivt og universelt utformet.</p><br><br>

			<div class="row">

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="thumbnail a-thumbnail">
						<a href="" class="a-thumbnail-link" target="_blank">
							<img src="../../images/altinn_sidemal_kommer.png">
								<span class="a-thumbnail-title">Forside</span>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="thumbnail a-thumbnail">
						<a href="" class="a-thumbnail-link" target="_blank">
							<img src="../../images/altinn_sidemal_kommer.png">
								<span class="a-thumbnail-title">Skjemaoversikt</span>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="thumbnail a-thumbnail">
						<a href="" class="a-thumbnail-link" target="_blank">
							<img src="../../images/altinn_sidemal_kommer.png" alt="...">
								<span class="a-thumbnail-title">Søk</span>
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="thumbnail a-thumbnail">
						<a href="" class="a-thumbnail-link" target="_blank">
							<img src="../../images/altinn_sidemal_kommer.png" alt="...">
								<span class="a-thumbnail-title">Artikkel</span>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="thumbnail a-thumbnail">
						<a href="" class="a-thumbnail-link" target="_blank">
							<img src="../../images/altinn_sidemal_kommer.png" alt="...">
								<span class="a-thumbnail-title">Starte og drive</span>
						</a>
					</div>
				</div>


				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="thumbnail a-thumbnail">
						<a href="" class="a-thumbnail-link" target="_blank">
							<img src="../../images/altinn_sidemal_kommer.png" alt="...">
								<span class="a-thumbnail-title">Meldingsboks</span>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="thumbnail a-thumbnail">
						<a href="../..{{ link.sider-modal-firststep }}" class="a-thumbnail-link" target="_blank">
							<img src="../../images/altinn_sidemal_prosess.png" alt="...">
								<span class="a-thumbnail-title">Prosess</span>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="thumbnail a-thumbnail">
						<a href="../..{{ link.sider-modal-success }}" class="a-thumbnail-link" target="_blank">
							<img src="../../images/altinn_sidemal_prosess_fullfort.png" alt="...">
							<span class="a-thumbnail-title">Prosess Fullført</span>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="thumbnail a-thumbnail">
						<a href="../..{{ link.sider-modal-error }}" class="a-thumbnail-link" target="_blank">
							<img src="../../images/altinn_sidemal_prosess_error.png" alt="...">
							<span class="a-thumbnail-title">Prosess Mislykket</span>
						</a>
					</div>
				</div>
			</div>


		</div> <!--end .a-text-->
	</div> <!--end .ap-content-->
</div> <!--end .ap-navbarLeft-contentContainer -->
