<!-- Side nav -->
{{> molekyler-leftside-nav }}

<!-- Content next to nav, needs to be pushed 300px -->
<div class="ap-navbarLeft-contentContainer">

	<!-- Content, max-width: 900px;  margin: auto; -->
	<div class="ap-content"> 

		<!-- Article content starts here -->
		<div class="a-text">

			<h1>Typografi for web</h1>
			<p class="a-leadText">Typography is the backbone of modern webdesign. A concistent use of fonts, weights, lineheight and soforth is esential to create a pleassent and trustworthy userexperience. <span class="label label-default a-label label-pill">Må oversettes</span></p>

			<h2>Overskrifter</h2>
			<p>Overskriftsnivåer brukes for å <strong>strukturere</strong> teksten. Det er derfor viktig å ikke bruke H1, H2, H3, osv for styling, men for strukturering! Styling av tekst kan settes på andre måter. </p><p>Rekkefølgen på nivåene skal være korrekt. Nedover i nivå går du ett steg om gangen, oppover avhenger det av hvordan teksten skal bygges opp. < h1 > - < h2 > og < h1 > - < h1 > er tillatt, < h1 > - < h3 > er ikke tillatt. Les mer om riktig bruk av overskrifter på <a href="https://uu.difi.no/artikkel/2015/07/tekst-og-struktur#Overskrifter">Difis nettsider</a>. </p><br><br>

			<div class="container ap-typo-container">
				<div class="row ap-typo">
					<div class="col-xs-12 col-md-5">
						<h1 class="a-pageTitle">Page title < H1 > </h1>
					</div>
					<div class="col-xs-12 col-md-4">
						<span class="ap-typo-activeSize-d">36px/42px(desktop)</span><br>
						<span class="ap-typo-activeSize-l">36px/42px (laptop)</span><br>
						<span class="ap-typo-activeSize-t">28px/36px (tablet)</span><br>
						<span class="ap-typo-activeSize-m">24px/30px (mobile)</span>
					</div>
					<div class="col-xs-12 col-md-3">
						<p style="font-family: 'DIN-reg';">DIN-reg</p>
					</div>
				</div>

				<div class="row ap-typo">
					<div class="col-xs-12 col-md-5">
						<h2 class="a-sectionTitle">Section title < H2 ></h2>
					</div>
					<div class="col-xs-12 col-md-4">
						<span class="ap-typo-activeSize-d">28px/36px (desktop)</span><br>
						<span class="ap-typo-activeSize-l">24px/30px (laptop)</span><br>
						<span class="ap-typo-activeSize-t">22px/24px (tablet)</span><br>
						<span class="ap-typo-activeSize-m">18px/24px (mobile)</span>
					</div>
					<div class="col-xs-12 col-md-3">
						<p style="font-family: 'DIN-reg';">DIN-reg</p>
					</div>
				</div>

				<div class="row ap-typo">
					<div class="col-xs-12 col-md-5">
						<h3 class="a-sectionSubTitle">Section sub title < H3 ></h3>
					</div>
					<div class="col-xs-12 col-md-4">
						<span class="ap-typo-activeSize-d">20px/24px (desktop)</span><br>
						<span class="ap-typo-activeSize-l">20px/24px (laptop)</span><br>
						<span class="ap-typo-activeSize-t">18px/24px (tablet)</span><br>
						<span class="ap-typo-activeSize-m">16px/24px (mobile)</span>
					</div>
					<div class="col-xs-12 col-md-3">
						<p style="font-family: 'DIN-bold';">DIN-bold</p>
					</div>
				</div>

				<div class="row ap-typo">
					<div class="col-xs-12 col-md-5">
						<h4 class="a-sectionSubSubTitle">Section sub sub title < H4 ></h4>
					</div>
					<div class="col-xs-12 col-md-4">
						<span class="ap-typo-activeSize-d">16px/24px (desktop)</span><br>
						<span class="ap-typo-activeSize-l">16px/24px (laptop)</span><br>
						<span class="ap-typo-activeSize-t">16px/24px (tablet)</span><br>
						<span class="ap-typo-activeSize-m">16px/24px (mobile)</span>
					</div>
					<div class="col-xs-12 col-md-3">
						<p style="font-family: 'DIN-bold';">DIN-bold</p>
					</div>
				</div>

				<div class="row ap-typo">
					<div class="col-xs-12 col-md-5">
						<p class="a-leadText">Intro text < p ></p>
					</div>
					<div class="col-xs-12 col-md-4">
						<span class="ap-typo-activeSize-d">16px/24px (desktop)</span><br>
						<span class="ap-typo-activeSize-l">16px/24px (laptop)</span><br>
						<span class="ap-typo-activeSize-t">16px/24px (tablet)</span><br>
						<span class="ap-typo-activeSize-m">16px/24px (mobile)</span>
					</div>
					<div class="col-xs-12 col-md-3">
						<p style="font-family: 'DIN-reg';">DIN-reg</p>
					</div>
				</div>

				<div class="row ap-typo">
					<div class="col-xs-12 col-md-5">
						<p>Body text < p ></p>
					</div>
					<div class="col-xs-12 col-md-4">
						<span class="ap-typo-activeSize-d">16px/24px (desktop)</span><br>
						<span class="ap-typo-activeSize-l">16px/24px (laptop)</span><br>
						<span class="ap-typo-activeSize-t">16px/24px (tablet)</span><br>
						<span class="ap-typo-activeSize-m">16px/24px (mobile)</span>
					</div>
					<div class="col-xs-12 col-md-3">
						<p style="font-family: 'DIN-reg';">DIN-reg</p>
					</div>
				</div>

				<div class="row ap-typo">
					<div class="col-xs-12 col-md-5">
						<span class="a-metaText">Meta text</span>
					</div>
					<div class="col-xs-12 col-md-4">
						<span class="ap-typo-activeSize-d">14px/20px (desktop)</span><br>
						<span class="ap-typo-activeSize-l">14px/20px (laptop)</span><br>
						<span class="ap-typo-activeSize-t">14px/20px (tablet)</span><br>
						<span class="ap-typo-activeSize-m">14px/20px (mobile)</span>
					</div>
					<div class="col-xs-12 col-md-3">
						<p style="font-family: 'DIN-reg';">DIN-reg</p>
					</div>
				</div>
			</div><br><br>

			<h2>Lister</h2>
			<p>Lister kan benyttes for å ramse opp informasjon. Fordelen med lister er at informasjonen blir strukturert både visuelt og i koden, og dermed blir informasjonen lettere å lese og forstå for alle brukere. Det kan være snakk om unummererte lister, nummererte lister, definisjonslister og/eller lister i flere nivå, og behovet vil ofte være forskjellig avhengig av informasjonen som skal presenteres.En vanlig brukerfeil er at tekst blir limt inn fra annen kilde, hvor listen kanskje har visuelle listepunkt, men ikke er kodet som liste.</p>

		</div> <!--end .a-text-->
	</div> <!--end .ap-content-->
</div> <!--end .ap-navbarLeft-contentContainer -->
