<div class="modal-content">
    {{#header}}
        <div class="modal-header a-modal-header">
            <div class="a-iconText a-iconText-background a-iconText-large">
                <div class="a-iconText-icon">
                    <i class="ai a-icon" aria-hidden="true"></i>
                </div>
                <h1 class="a-iconText-text mb-0">
                    <span class="a-iconText-text-large">{{{ modal-title }}}</span>
                </h1>
            </div>
        </div>
    {{/header}}

    <div class="modal-body a-modal-body">

        {{#header}}
            {{#modal-ingress}}<p class="lead mb-4">{{{ modal-ingress }}}</p>{{/modal-ingress}}
        {{/header}}
        {{^header}}
            <div class="mb-4">
                <h1 class="a-fontBold a-fontSizeXL mt-1">{{ modal-title }}</h1>
                {{#modal-ingress}}<p class="lead">{{ modal-ingress }}</p>{{/modal-ingress}}
            </div>
        {{/header}}

        <div class="row mb-3">
            <div class="col-12 col-lg-8">
                {{#form}}
                    {{#choice}}
                        {{> atomer-flervalg-generell }}
                    {{/choice}}
                    {{#text}}
                        {{> atomer-tekst-input }}
                    {{/text}}
                    {{#email}}

                    {{/email}}
                    {{#phone}}

                    {{/phone}}
                    {{#password}}

                    {{/password}}
                    {{#radio}}
                        {{> atomer-radioknapp-hjelpetekst }}
                    {{/radio}}
                {{/form}}
            </div>
            {{# delete-btn }}
                <div class="col-lg-4">
                    {{> atomer-knapp-ikon-tekst }}
                </div>
        {{/ delete-btn }}
        </div>

        <div>
            <button class="a-btn {{#green-button}}a-btn-success{{/green-button}}" data-enable-dirty-popover="true" data-toggle="altinn-modal" {{#close-modal}}data-action="close"{{/close-modal}}{{^close-modal}}data-action="next"{{/close-modal}} data-url="{{{ page-url }}}" data-target="#modal" {{# last-question }}data-is-success="true"{{/ last-question }}>
                {{{ btn-next }}}
            </button>
            {{#cancel}}<a class="ml-3" data-toggle="altinn-modal" data-action="close" data-target="#modal" href="{{url}}">{{label}}</a>{{/cancel}}
        </div>
        <div class="row mt-3">
            {{#links}}
                <div class="col-12 col-lg-6 mb-2">
                    <h2 class="a-fontBold a-fontSizeXS mb-1">{{links-title}}</h2>
                    <ul class="no-decoration">
                        {{#links-list}}
                            <li class="mb-1"><a href="{{url}}">{{label}}</a></li>
                        {{/links-list}}
                    </ul>
                </div>
            {{/links}}
        </div>
    </div>
</div>
