<div class="modal-content">
    {{#header}}
        <div class="modal-header a-modal-header">
            <div class="a-iconText a-iconText-background a-iconText-large">
                <div class="a-iconText-icon">
                    <i class="ai a-icon" aria-hidden="true"></i>
                </div>
                <h1 class="a-iconText-text mb-0">
                    <span class="a-iconText-text-large">{{{ modal-title }}}</span>
                </h1>
            </div>
        </div>
    {{/header}}

    <div class="modal-body a-modal-body">

        {{#header}}
            {{#modal-ingress}}<p class="mb-4">{{{ modal-ingress }}}</p>{{/modal-ingress}}
        {{/header}}

        <div class="col-12 col-md-9 col-lg-6 px-0">
            {{# search }}
                {{> atomer-tekst-input }}
            {{/ search }}
        </div>
    </div>
    {{#list}}
        <div class="mb-5">
            {{> molekyler-liste-unummerert }}
        </div>
    {{/list}}
</div>
