<!-- START: 04-sider-infoportal-20-navigasjonssider-31-temaside-v-starte -->
{{# temaside-starteBedrift }} {{> maler-infoportal-temaside }} {{/ temaside-starteBedrift }}

<!-- END: 04-sider-infoportal-20-navigasjonssider-31-temaside-v-starte -->