<!-- START: 03-maler-infoportal-100-eguide-02-sjekkliste JS doc: AltinnModal.js -->
<div class="modal-content">
  <div class="modal-header a-modal-header">
    <div class="a-iconText a-iconText-background a-iconText-large">
      <div class="a-iconText-icon">
        <i class="ai ai-check-circle a-icon" aria-hidden="true"></i>
      </div>
      <h1 class="a-iconText-text mb-0">
        <span class="a-iconText-text-small"></span>
        <span class="a-iconText-text-large">{{{ modal-title }}}</span>
      </h1>
    </div>
  </div>
  <div class="modal-body a-modal-body">
    {{# category }}
    <div class="row mb-3">
      <div class="col-12">
        <h2>{{{ main-category }}}</h2>

        {{# intro-text }}
        <p>{{{ intro-text }}}</p>
        {{/ intro-text }} {{# sub-categories }} {{> molekyler-trekkspill:a-accordion-largeText }} {{/ sub-categories }}
      </div>
    </div>
    {{/ category }}

    <button class="a-btn a-btn-success" data-toggle="altinn-modal" data-action="close" data-target="#modal">
        Lukk
      </button>
  </div>
</div>

<!-- END: 03-maler-infoportal-100-eguide-02-sjekkliste -->