<!-- START: 04-sider-portal-95-brukertest-02-kompakt-innboks -->
{{# brukertest-kompakt }} {{> maler-portal-innboks }} {{/ brukertest-kompakt }}

<!-- END: 04-sider-portal-95-brukertest-02-kompakt-innboks -->