<!-- START: 01-molekyler-02-navigasjon-10-faner -->
<ul class="nav a-tabs {{ styleModifier }}" role="tablist" {{# tabs-id }}id="{{ tabs-id }}" {{/ tabs-id }}>
  {{# tab-items }}
  <li class="nav-item a-tab">
    <a class="a-tab-btn {{# tab-active }} active{{/ tab-active }}{{# tab-class }} {{ tab-class }}{{/ tab-class}}" data-toggle="tab" href="#{{ tab-href }}" role="tab">
        {{# tab-icon }}
          {{> atomer-ikon:hidden-xs-down }}
        {{/ tab-icon }}
        {{ tab-title }}
        {{# tab-icon-secondary }}
          {{> atomer-ikon }}
        {{/ tab-icon-secondary }}
      </a>
  </li>
  {{/ tab-items }}
</ul>

<!-- END: 01-molekyler-02-navigasjon-10-faner -->