<div class="a-page">
    {{# header }}
        {{> organismer-header-altinnett }}
    {{/ header }}

    <main id="content" tabindex="-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-10 offset-lg-1 mb-2">
                    {{# page-title }}{{> atomer-sidetittel }}{{/page-title}}
                    {{# lead-text}}{{> atomer-intro-tekst }}{{/lead-text}}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-10 offset-lg-1 mb-4 mb-md-8">

                    {{# list-article }}
                        {{> molekyler-lenketittel-med-forklaring }}
                    {{/ list-article }}

                    <div class="mt-1">
                        {{# list-article-loadmore }}
                            {{> atomer-handlingsknapp }}
                        {{/ list-article-loadmore }}
                    </div>

                </div>
            </div>
        </div> <!-- END Container -->

    </main>

    {{# footer }}
        {{> organismer-footer-altinnett }}
    {{/ footer }}
</div>
