node_modules/
styleguidekit-assets-altinn/node_modules/
styleguidekit-assets-altinn/dist/
styleguidekit-assets-altinn/src/bower_components/
public
.sass-cache/*
/sass-cache
source/css/style.css.map
.editorconfig
npm-debug.log
.DS_Store
/.vscode
/linters