node_modules/
bower_components/

dist/
public
yarn.lock
.sass-cache/*
sass-cache/
source/css/style.css.map
*.log
npm-debug.log*
.DS_Store
.vscode/

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.suo
*.user

linters/
export/
source/fonts/*
**/fonts/DIN*
test/acceptance_test/PatternLabSelenium/TestResults/
test/acceptance_test/PatternLabSelenium/Screenshots/Chrome/
test/acceptance_test/PatternLabSelenium/Screenshots/Firefox/
test/acceptance_test/PatternLabSelenium/Screenshots/IE/
test/acceptance_test/PatternLabSelenium/Screenshots/Opera/

TestResults/
Screenshots/
