node_modules
bower_components/
public
yarn.lock
.sass-cache/*
sass-cache/
source/css/scss/episerver/epi.min.scss
source/css/style.css.map
*.log
npm-debug.log*
.DS_Store

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.suo
*.user

linters/
export/
source/fonts/*
**/fonts/DIN*

TestResults/
Screenshots/

gulpfile.js
patternlab-config.json
config/
styleguidekit-assets-altinn
styleguidekit-mustache-altinn