<!-- START: 01-molekyler-05-lister-20-♺-liste-unummerert-sorterbar JS doc: listSort.js, compareTo.js -->
{{# liste-unummerert-sorterbar }} {{> molekyler-liste-unummerert }} {{/ liste-unummerert-sorterbar }}
<!-- END: 01-molekyler-05-lister-20-♺-liste-unummerert-sorterbar -->