<!-- START: 02-organismer-30-seksjoner-29-meny-spraakvalg -->
<!-- Begin #a-dropdown-languages - -->
<div class="dropdown-menu a-dropdown-languages a-dropdownTriangle">
  {{# dropdown-item }}
  <a class="dropdown-item" href="#">
      <img src="{{{ dropdown-item-image }}}" class="{{{ dropdown-item-image-class }}}" alt="" />
      <p>
        <span {{{ language }}} class="a-h3">{{{ dropdown-item-title }}}</span><br>
        <span {{{ language }}}>{{{ dropdown-item-content }}}</span>
      </p>
    </a> {{/ dropdown-item }}
</div>

<!-- END: 02-organismer-30-seksjoner-29-meny-spraakvalg -->