<button type="button" class="a-btn a-btn-shadow {{{ button-shadow-class }}}" onclick="location.href='{{{ link-url }}}';">
	<i class="material-icons a-btn-shadow-icon">{{{ button-shadow-icon }}}</i>

	{{{ button-shadow-text }}}
	{{#button-shadow-label}}
		{{> atomer-label}}
	{{/button-shadow-label}}

</button>
