
<button type="button" class="a-btn a-btn-withIcon">
	<i class="material-icons a-btn-withIcon-icon">&#xE145;</i>
	<!-- {{{ button-icon-text }}} -->

	Knapp for å laste inn mer innhold 
</button>
