
<div class="a-btn-group">

    {{#popover-items}}
        <a href="javascript:;" aria-label="{{popover-aria-label}}" tabindex="0" class="a-link" role="button" data-toggle="popover" data-template='<div class="popover" role="tooltip"><div class="popover-arrow {{popover-class}}"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>' data-target="#{{popover-data-target}}" data-placement="bottom" data-trigger="focus" title="{{popover-title}}" data-content="Og her kommer innholdet..">
            {{popover-link-text}}
        </a>
    {{/popover-items}}

</div>
