<!-- START: 04-sider-portal-92-andre-med-rettigheter-00-andre-med-rettigheter-roller-gi -->
{{> maler-portal-modal }}

<!-- END: 04-sider-portal-92-andre-med-rettigheter-00-andre-med-rettigheter-roller-gi -->