<div class="a-accordion-small" id="{{accordion-small-id}}" role="tablist" aria-multiselectable="true">

    {{# accordion-small-items }}
        {{> atomer-ekspanderbar-tekst:d-block }}
        <div id={{collapse-filter-id}} class="a-collapseContent collapse">{{collapse-filter-content}}<br /><br /></div>
    {{/ accordion-small-items }}

</div>
