<div class="a-accordion-small" id="accordion" role="tablist" aria-multiselectable="true">

  {{# accordion-small-items }}
  <div class="card">

    <!-- TITLE -->
    <div role="tab" id="{{collapseTitle-id}}">
        {{> atomer-ekspanderbar-tekst }}
    </div>

    <!-- CONTENT -->
    <div id="{{collapse-filter-id}}" class="a-text a-collapseContent collapse" role="tabpanel" aria-labelledby="{{collapseTitle-id}}">
        {{{ collapse-filter-content }}}
        {{# collapse-listInside }}
          {{> molekyler-liste-unummerert-ny }}
        {{/ collapse-listInside }}
    </div>

  </div>
  {{/ accordion-small-items }}

</div>
