<div class="row a-topTasks">
  {{# topTaskButtons }}
    <div class="col col-lg-12{{# wrapper-class }} {{ wrapper-class }}{{/ wrapper-class }}">
      {{> atomer-knapp-ikon-tekst }}
    </div>
  {{/ topTaskButtons }}
</div>
