
  <nav class="nav nav-inline a-inline-page-link">
    <div class="list">
      {{# nav-elements-first }}
        <a href="#" class="nav-link {{# disabled }} disabled {{/ disabled }}">{{ linktext }}</a>
      {{/ nav-elements-first }}
    </div>
    <div class="list">
      {{# nav-elements-second }}
        <a href="#" class="nav-link {{# disabled }} disabled {{/ disabled }}">{{ linktext }}</a>
      {{/ nav-elements-second }}
    </div>
  </nav>