<div class="row {{styleModifier}}">
{{# illustrationLink }}
  <div class="{{{col}}}">
    <a href="{{url}}" class="a-illustrationLink">
      <h2 class="a-h3">{{{h2}}}</h2>
      <p>{{{text}}}</p>
      <div class="a-illustration-icon">
        <i class="ai {{{icon}}}"></i><span class="sr-only">Gå til tema: {{{h2}}}</span>
      </div>
    </a>
  </div>
{{/ illustrationLink }}
</div>
