<div class="a-card a-card-image transparent {{ styleModifier }}">
  {{# card-picture-content }}
    {{> atomer-placeholder}}
    <div class="a-textSize2">{{ card-picture-title }}</div>
    <p>{{ card-picture-description }}</p>
    {{> atomer-link-telefonnummer }}
  {{/ card-picture-content }}
</div>
