<figure class="a-mediaBlock {{styleModifier}}">
  {{> atomer-placeholder }}

  {{# figCaption }}
    <figcaption class="a-mediaBlock-caption">
      {{{ figCaption }}}
    </figcaption>
  {{/ figCaption }}
</figure>
