<div class="a-card a-card-image transparent {{ styleModifier }}">
  {{# card-picture-content }}
    {{# image }}
      {{> atomer-placeholder}}
    {{/ image }}

    <div class="a-card-image-text">
      <h2>{{ card-picture-title }}</h2>
      <p>{{ card-picture-description }}</p>

      {{# tel }}
        {{> atomer-link-telefonnummer }}
      {{/ tel }}

      {{# mail }}
        {{> atomer-link-mail }}
      {{/ mail }}

      {{# linkIcon }}
        {{> atomer-link-ikon }}
      {{/ linkIcon }}

      {{# abonner }}
        {{> molekyler-abonner }}
      {{/ abonner }}

    </div>

  {{/ card-picture-content }}
</div>
