<div class="media a-media m-b-3">
  <div class="media-left">
    <img class="media-object" src="{{ img.landscape-16x9.src }}" alt="Generic placeholder image">
  </div>
  <div class="media-body">
    {{> atomer-sitat }}
  </div>
</div>
