<div class="jumbotron jumbotron-fluid a-jumbotron {{{ jumbotron-styles }}}" style="background-image: {{{ jumbotron-image-url }}}">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-lg-8 {{ jumbo-lg-offset-class }} col-xl-8 {{ jumbo-xl-offset-class }}">

        {{# jumbo-smulesti }}
      		{{> molekyler-smulesti:a-marginBottom-x2 }}
      	{{/ jumbo-smulesti }}
        <p>
          <span class="a-jumbotron-title"> {{{ jumbotron-title }}} </span>
          <span class="a-jumbotron-ingress"> {{{ jumbotron-ingress }}} </span>
          {{{ jumbotron-text }}}

          {{# jumbo-byline }}
        		{{> atomer-byline }}
        	{{/ jumbo-byline }}
        </p>
        {{# front-main-button }}
          {{> atomer-knapp }}
        {{/ front-main-button }}
        <span class="a-jumbotron-btn-textright a-textSize1">
          {{{ front-main-button-text-right }}}
        </span>

      </div>
    </div>

  </div>
</div>
