<div class="jumbotron jumbotron-fluid a-jumbotron {{{ jumbotron-styles }}}" style="background-color: {{{ jumbotron-bgcolor }}}; background-image: {{{ jumbotron-image-url }}}">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1 col-md-10 {{ jumbo-md-offset-class }} {{ jumbo-lg-class }} {{ jumbo-lg-offset-class }} {{ jumbo-xl-class }} {{ jumbo-xl-offset-class }}">

        {{# jumbo-smulesti }}
      		{{> molekyler-smulesti:m-b-2 }}
      	{{/ jumbo-smulesti }}
        <p>
          <span class="{{{ jumbotron-title-size }}} a-jumbotron-title"> {{{ jumbotron-title }}} </span>
          <span class="a-jumbotron-ingress"> {{{ jumbotron-ingress }}} </span>
          {{{ jumbotron-text }}}

          {{# jumbo-byline }}
        		{{> atomer-byline }}
        	{{/ jumbo-byline }}

          {{# jumbo-list }}
        		{{> atomer-liste-unummerert:a-item-list-large|p-b-3 }}
        	{{/ jumbo-list }}

          {{# jumbo-link }}
            {{> atomer-link:a-link-large }}
          {{/ jumbo-link }}

        </p>

        {{# front-main-button }}
          {{> atomer-knapp }}
        {{/ front-main-button }}

        <span class="a-jumbotron-btn-textright a-textSize1">
          {{{ front-main-button-text-right }}}
        </span>


      </div>
    </div>

  </div>
</div>
