<div class="jumbotron jumbotron-fluid a-jumbotron-header {{{ jumbotron-image }}}" style="background-image: {{{ jumbotron-image-url }}}">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-lg-8 col-lg-offset-2 col-xl-8 col-xl-offset-2">

        {{# jumbo-smulesti }}
      		{{> molekyler-smulesti }}
      	{{/ jumbo-smulesti }}
        <p>
          <span class="a-jumbotron-title"> {{{ front-jumbotron-title }}} </span> {{{ front-text }}}
        </p>
        {{# front-main-button }}
          {{> atomer-knapp }}
        {{/ front-main-button }}
        <span class="a-jumbotron-btn-textright a-textSize1">
          {{{ front-main-button-text-right }}}
        </span>

      </div>
    </div>

  </div>
</div>
