<div class="row {{ class }}">

    <div class="col-12 d-block d-md-none mt-2">
        <p class="a-fontSizeXL a-fontBold mb-0">{{{ introText }}}</p>
        <p class="a-fontSizeXL mb-2">{{{ description }}}</p>
    </div>

    <div class="col-6 p-0">
        <div class="an-contactCard-imageWrap h-100">
            <img class="an-contactCard-image an-grayscale an-multiply" src="{{ img-src }}" alt="{{ img-alt }}">
        </div>
    </div>

    <div class="col-6 py-md-6 p-3 my-auto">
        <div class="d-none d-md-block">
            <p class="a-fontSizeXL a-fontBold mb-0">{{{ introText }}}</p>
            <p class="a-fontSizeXL mb-2">{{{ description }}}</p>
        </div>

        <p class="a-fontSizeXL a-fontBold mb-0">{{{ name }}}</p>
        <p class="a-fontSizeXL mb-1">{{{ position }}}</p>
        <a href="mailto:{{{ emailAddress }}}" class="mb-md-1 d-block a-fontSizeXL a-noUnderline">{{{ emailAddress }}}</a>
        <a href="tel:+47{{{ telNumber }}}" class="d-block a-fontSizeXL a-noUnderline">{{{ telNumberVisible }}}</a>
    </div>
</div>
