<div class="row {{ class }}">
      <div class="col-12 col-md-6 p-0">
        <div class="an-kontaktBlock-figure h-100 an-grayscale an-multiply" style="background-image: url({{ img-src }})"></div>
      </div>

      <div class="col-12 col-md-6 py-md-6 p-3">
        {{# intro-text }}
          <p class="a-fontSizeXL mb-1 a-blueDarkerText">{{{ intro-text }}}</p>
        {{/ intro-text }}

        <p class="mb-1">
          <a href="mailto:{{{ mail-adress }}}" class="a-fontSizeXL a-blueDarkerText a-fontBold a-noUnderline">
            <span class="sr-only a-fontSizeXL">Send mail til {{{ mail-adress }}}</span>
            {{{ mail-adress }}}
          </a>
        </p>
        <p class="mb-2">
          <span class="a-fontSizeXL a-blueDarkerText mr-1">eller</span>
          <a href="tel:+47{{{ telNumber }}}" class="a-fontSizeXL a-blueDarkerText a-fontBold a-noUnderline">
            <span class="sr-only a-fontSizeXL">Send mail til {{{ telNumberVisible }}}</span>
            {{{ telNumberVisible }}}
          </a>
        </p>
      </div>
</div>
