<div class="{{ class }}">
    <div class="container">
        <div class="row">
          <div class="col-6">
            <p class="{{ preTitleClass }}">{{ preTitle }}</p>
            <h1 class="{{ pageTitleClass }}">{{ pageTitle }}</h1>
            {{# linkExternal }}
              <div class="mb-7">
                {{> atomer-link-ekstern }}
              </div>
            {{/ linkExternal }}
            {{> atomer-link-knapp-stor }}
          </div>
          <div class="col-6">
            {{# dato }}
              {{> atomer-dato }}
            {{/ dato }}
            
            {{# klokkeslett }}
              {{> atomer-liste-unummerert-sammenkoblet }}
            {{/ klokkeslett }}
          </div>
        </div>
    </div>
</div>