<div class="col-12 px-0 px-md-1 {{ class }}">
  <div class="row">
    <div class="col-12 col-md-6 p-0 {{orderClass}}">
      <div class="an-squareImage h-100">
          <img class="an-squareImage-image" src="{{ img-src }}" alt="{{ img-alt }}">
      </div>
    </div>
    <div class="col-12 col-md-6 {{colorClass}} an-caseBlock-text">
        <h2 class="a-fontSizeXL a-fontBold mb-1">{{ case-title }}</h2>
        <p class="{{paragraphClass}} mb-4">{{ case-paragraph }}</p>
        <div class="{{ buttonclass }}">
            {{> atomer-link-knapp-stor }}
        </div>
    </div>
  </div>
</div>
