<div class="row {{ style }}">
  {{# imageCase }}
  <div class="col-sm-12 col-lg-8 offset-lg-2 a-text pt-2 pt-lg-3 mb-5">
    {{> atomer-seksjonstittel }}
    {{> atomer-avsnitt }}
    {{# linkText }}
      {{> atomer-link }}
    {{/ linkText }}
  </div>
    <div class="an-casePreview row col-12 mb-4  mx-auto">
      <figure class="w-100">
        <img src="{{ img-src }}" alt="{{ img-alt-text }}" class=""/>
      </figure>
    </div>
  {{/ imageCase }}
  {{# singleCase }}
  <div class="col-sm-12 col-lg-8 offset-lg-2 a-text pt-2 pt-lg-3 mb-5">
    {{> atomer-seksjonstittel }}
    {{> atomer-avsnitt }}
    {{# linkText }}
      {{> atomer-link }}
    {{/ linkText }}
  </div>
    <div class="an-casePreview row col-12 mb-4  mx-auto">
      <div class="col-10 offset-1 offset-md-0 col-sm-9 col-md-6 mb-3">
        <p class="a-h3 mb-1 a-fontSizeXL">{{{ title }}}</p>
        <p class="a-h3 a-fontReg mb-1 a-fontSizeXL">{{{ description }}}</p>
      </div>
      <figure class="px-0 px-sm-1 col-md-6 col-lg-6 col-xl-6 order-xs-first order-md-first">
        <img src="{{ img-src }}" alt="{{ img-alt-text }}" class=""/>
      </figure>
    </div>
  {{/ singleCase }}
  {{# dualCase }}
    <div class="col-sm-12 col-lg-8 offset-lg-2 a-text pt-2 pt-lg-3 mb-5 mb-md-1">
      {{> atomer-seksjonstittel }}
      {{> atomer-avsnitt }}
      {{# linkText }}
        {{> atomer-link }}
      {{/ linkText }}
    </div>
    <div class="an-casePreview row col-12 mb-4 ">
      <div class="row col-12 col-md-6 pr-0 pr-sm-1">
        <figure class="row col-6 col-sm-5 mb-1 mb-sm-3 px-md-1 mr-1 align-self-center">
          <img src="{{ img-src }}" alt="{{ img-alt-text }}" class="w-100"/>
        </figure>
        <div class="col-6 col-sm-7 pt-1 px-0 px-sm-1">
          <p class="a-fontSizeXL a-fontReg mb-1 pt-2">{{{ description1 }}}</p>
          {{# smallText2}}
            <p class="a-fontSizeXXS">{{ smallText1 }}</p>
          {{/ smallText2}}
        </div>

      </div>
      <div class="row col-12 col-md-6 pr-0 pr-sm-1">
        <figure class="row col-6 col-sm-5 mb-1 mb-sm-3 px-md-1 mr-1 align-self-center">
          <img src="{{ img-src }}" alt="{{ img-alt-text }}" class="w-100"/>
        </figure>
        <div class="col-6 col-sm-7 pt-1 px-0 px-sm-1">
          <p class="a-fontSizeXL a-fontReg mb-1 pt-2">{{{ description2 }}}</p>
          {{# smallText2}}
            <p class="a-fontSizeXXS">{{ smallText2 }}</p>
          {{/ smallText2}}
        </div>
      </div>
    </div>
  {{/ dualCase }}
  {{# calculateCase }}
    <div class="col-sm-12 col-lg-8 offset-lg-2 a-text pt-2 pt-lg-3 mb-5">
      {{> atomer-seksjonstittel }}
      {{> atomer-avsnitt }}
      {{# linkText }}
        {{> atomer-link }}
      {{/ linkText }}
    </div>
    <div class="mb-5 col-12 an-fullWidthBlock">
      {{> molekyler-regnestykke }}
    </div>
  {{/ calculateCase }}
</div>