<div class="{{ col }}">
  <a href="{{ url }}">
    <div class="an-presentationBlock col-12 {{ extraClass }}">
      <h2 class="a-fontBold a-blueDarkerText {{ headerClass }}">{{ title }}</h2>

      <div class="an-presentationBlock-figure {{ iconClass }}" style="background-image: url({{ imageurl }})">
        {{# abbreviation }}
          {{> molekyler-altinnett-forkortelse-svg }}
        {{/ abbreviation }}
      </div>

      {{# caption }}
        <p class="an-presentationBlock-caption">
          {{{ caption }}}
        </p>
      {{/ caption }}
    </div>
  </a>
</div>
