<div class="a-bgBlack col-md-4 col-lg-4 col-xl-4">
  <a href="{{url}}">
    <div class="an-productBlock col-12" style="background: {{ backgroundColor }};">
      <h2 class="a-fontSizeL a-fontBold a-blueDarkerText">{{ title }}</h3>

      <figure class="an-productBlock-figure {{styleModifier}}" style="background-image: url({{ imageurl }})">
        <span class="an-productBlock-abbreviation a-fontBold">{{ productAbbreviation }}</span>
      </figure>

      {{# figCaption }}
        <figcaption class="an-productBlock-caption">
          {{{ figCaption }}}
        </figcaption>
      {{/ figCaption }}
    </div>
  </a>
</div>
