<div class="{{ col }}">
  <a href="{{ url }}" class="{{ urlClass }}">
    <div class="an-presentationBlock col-12 {{ extraClass }}">
      <div class="row">
        <div class="{{ col-image }} my-auto">
          <div class="{{ iconClass }}" style="background-image: url({{ imageurl }})">
            {{# abbreviation }}
              {{> molekyler-altinnett-forkortelse-svg }}
            {{/ abbreviation }}
          </div>
        </div>

        <div class="{{ col-info }} my-auto">
          <h2 class="a-fontBold a-blueDarkerText {{ titleClass }}">{{ title }}</h2>
          {{# caption }}
            <p>{{{ caption }}}</p>
          {{/ caption }}
        </div>
      </div>
    </div>
  </a>
</div>
