<div class="{{ col }} a-jumbotron-header a-bgBlueLighter">
    <!--a href="{{! url }}"-->
    <div class="container">
        <div class="an-presentationBlock col-12 {{ extraClass }}">
            <div class="row">
                <div class="{{ col-image }}">
                    <div class="an-presentationBlock-figure {{ iconClass }}" style="background-image: url({{ imageurl }})">
                        {{# abbreviation }}
                            {{> molekyler-altinnett-forkortelse-svg }}
                        {{/ abbreviation }}
                    </div>
                </div>
                <div class="{{ col-spacing }}"></div>
                <div class="col-7 d-md-none my-auto"><h1 class="a-fontBold a-blueDarkerText {{ titleClass }}">{{ title }}</h1></div>
                <div class="{{ col-info }}">
                    <!--h2 class="a-fontBold a-blueDarkerText {{ titleClass }}">{{ title }}</h2-->
                    <h1 class="a-fontBold a-blueDarkerText d-none d-md-block {{ titleClass }}">{{ title }}</h1>
                    {{# caption }}
                        <p>{{{ caption }}}</p>
                    {{/ caption }}
                    {{# list }}
                        {{> atomer-liste-unummerert-kuler }}
                    {{/ list }}
                </div>
            </div>
        </div>
    </div>
    <!--/a-->
</div>