<div class="{{ col }} {{ extraClass }}">
    <div class="container">
        <div class="an-presentationBlock col-12">
            <div class="row">
                <div class="{{ col-image }}">
                    <div class="an-presentationBlock-figure {{ iconClass }}" style="background-image: url({{ imageurl }})">
                        {{# abbreviation }}
                            {{> molekyler-altinnett-forkortelse-svg }}
                        {{/ abbreviation }}
                    </div>
                </div>
                <div class="{{ col-spacing }}"></div>
                <div class="{{col-title}} d-lg-none my-auto"><h1 class="a-fontBold a-blueDarkerText {{ titleClass }}">{{ title }}</h1></div>
                <div class="{{ col-info }}">
                    <h1 class="a-fontBold a-blueDarkerText d-none d-lg-block {{ titleClass }}">{{ title }}</h1>
                    <div class="an-presentationBlock-largeDetails epi-wysiwyg">
                    {{# caption }}
                        <p>{{{ caption }}}</p>
                    {{/ caption }}
                    {{# list }}
                        {{> atomer-liste-unummerert-kuler }}
                    {{/ list }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>