<div class="pt-3 pb-md-6 mb-4 an-slideshow">
    <div class="an-slideshow__list an-slideshow__list--md-up" data-slideshow>
        {{#slides}}
        <div class="an-slideshow__item">
          <img class="an-slideshow__img mb-4" src="{{ img-src }}" alt="{{ img-alt}}">
          <div class="an-slideshow__text container">
              <div class="col-lg-10 offset-lg-1">
                  <h2 class="h3 a-blueDarkerText">{{ heading }}</h2>
                  <p class="a-blueDarkerText">{{ caption }}</p>
              </div>
          </div>
        </div>
        {{/slides}}
    </div>
    <div class="an-slideshow__buttons" data-slideshow-buttons></div>
</div>