<div class="pt-3 pb-4 pb-md-6 mb-4 an-slideshow">
    {{#slideshow}}
    <div class="an-slideshow-set {{slideshow-class}}">
        <div class="an-slideshow-list" data-slideshow>
            {{#slides}}
            <div class="an-slideshow-item">
              <img class="an-slideshow-img mb-4" src="{{ img-src }}" alt="{{ img-alt }}">
              <div class="an-slideshow-text container">
                  <div class="col-lg-10 offset-lg-1">
                      <h2 class="a-h3 a-blueDarkerText">{{ heading }}</h2>
                      <p class="a-blueDarkerText">{{ caption }}</p>
                  </div>
              </div>
            </div>
            {{/slides}}
        </div>
        <div class="an-slideshow-buttons" data-slideshow-buttons></div>
    </div>
    {{/slideshow}}
</div>