<!-- START: 02-organismer-20-forms-_70-select-profiles -->
<div id="profile-selection">
  <div class="row mb-1">
    <div class="col-lg-4">
      {{# profile-sok }} {{> atomer-tekst-input }} {{/ profile-sok }}
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-4">
      {{# select-all }} {{> atomer-avkrysningsboks:d-inline }} {{/ select-all }} {{# selected-items }} {{> atomer-merkelapp:d-inline }} {{/ selected-items}}
    </div>

    <div class="col-12 col-lg-2">
      {{# toggle-selected-items }} {{> atomer-avkrysningsboks }} {{/ toggle-selected-items }}
    </div>

    <div class="col-12 col-lg-3">
      {{# select-subunits }} {{> atomer-avkrysningsboks }} {{/ select-subunits }}
    </div>
    <div class="col-12 col-lg-3">
      {{# select-inactive }} {{> atomer-avkrysningsboks }} {{/ select-inactive }}
    </div>
  </div>

  {{# checkbox-list }} {{> molekyler-nestede-avkrysningsbokser }} {{/ checkbox-list }}
</div>
<!-- END: 02-organismer-20-forms-_70-select-profiles -->