<div class="a-scene a-page" id="smoothState">
  <div class="a-modal fade in {{ bodyClass }}" {{# modal-id }} id="{{ modal-id }}" {{/ modal-id }} role="dialog" {{# modal-label }} aria-labelledby="{{ modal-label }}" {{/ modal-label }} aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="container">
        {{> molekyler-modal-header }}
        {{# modal-navbar-override }}
          {{> molekyler-modal-navbar }}
        {{/ modal-navbar-override }}
        <div class="a-right-panel a-page a-scene_element">
          <div class="modal-content">
            {{> molekyler-modal-body-header }}
            <div class="modal-body a-modal-body">
              {{# show-client-delegation-content }}
                {{> organismer-modal-innhold-klientdelegering }}
              {{/ show-client-delegation-content }}
              {{# show-others-with-rights-content }}
                {{# others-with-rights }}
                  {{> organismer-modal-innhold-andre-med-rettigheter }}
                {{/ others-with-rights }}
              {{/ show-others-with-rights-content }}
              {{# show-receipt-content }}
                {{> organismer-modal-innhold-kvittering }}
              {{/ show-receipt-content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
