<!-- START: 01-molekyler-03-media-03-bilde-innhold -->
<div class="a-card a-cardImage {{ styleModifier }}">
  {{# card-picture-content }} {{# image }} {{> atomer-placeholder}} {{/ image }}

  <div class="a-cardImage-text">
    {{#card-picture-title}}
    <h2>{{ card-picture-title }}</h2>{{/card-picture-title}}
    <p>{{{ card-picture-description }}}</p>

    {{# tel }} {{> atomer-link-telefonnummer }} {{/ tel }} {{# mail }} {{> atomer-link-mail }} {{/ mail }} {{# linkIcon }} {{> atomer-link-ikon }} {{/ linkIcon }} {{# abonner }} {{> molekyler-abonner }} {{/ abonner }}

  </div>
  {{/ card-picture-content }}
</div>

<!-- END: 01-molekyler-03-media-03-bilde-innhold -->