
<label class="{{ custom-fileupload-class }}">
  <input {{# required }} required {{/ required }} class="a-js-fileInputChangeHandler" type="file" id="{{ custom-fileupload-input-id }}">
  {{> atomer-ikon }}
  {{ custom-fileupload-text }}
</label>

{{# file-list }}
  <div style="display: none" class="a-js-fileListContainer">
    {{> atomer-liste-opplasting }}
  </div>
{{/ file-list }}