<div class="a-progress-bg">

<progress class="progress progress-info a-progress" value="{{progress-value}}" max="100" aria-describedby="example-caption-6">
  <div class="progress progress-info a-progress">
    <span class="progress-bar a-progress-bar" style="width: {{progress-value}}%;"></span>
  </div>
</progress>
</div>
