<!-- START: 03-maler-infoportal-20-navigasjonssider-21-sammenlikning -->
<div class="a-page">
  {{> organismer-header }}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 offset-lg-3 pt-3 mb-5">
        {{# article-search }} {{> atomer-tekst-input }} {{/ article-search }}
      </div>
    </div>
  </div>

  <section id="content" tabindex="-1">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1 mb-4">
          {{# articlestart }} {{> organismer-artikkel-start }} {{/ articlestart }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-lg-12 mb-5">

          {{> molekyler-sammenligning-header }} {{# first-compare }} {{> organismer-sammenligning }} {{/ first-compare }} {{# second-compare }} {{> organismer-sammenligning }} {{/ second-compare }} {{# third-compare }} {{> organismer-sammenligning }} {{/ third-compare
          }}

        </div>
        <!-- END .col-... -->
      </div>
      <!-- END .row -->

      <div class="row">
        <div class="col-sm-12 col-lg-6 mb-2">

          {{# first-card-icon }} {{> molekyler-ikon-link }} {{/ first-card-icon }}

        </div>
        <!-- END .col-... -->

        <div class="col-sm-12 col-lg-6 mb-2">

          {{# second-card-icon }} {{> molekyler-ikon-link }} {{/ second-card-icon }}

        </div>
        <!-- END .col-... -->
      </div>
      <!-- END .row -->

    </div>
    <!-- END Container -->

  </section>

  {{> organismer-footer }}
</div>

<!-- END: 03-maler-infoportal-20-navigasjonssider-21-sammenlikning -->