<div class="a-page">
	{{> organismer-header }}

	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
				{{# article-search }}
						{{> felles-komponenter-tekst-input }}
				{{/ article-search }}
			</div>
		</div>
	</div>

	<section id="content" tabindex="-1">

		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-10 offset-lg-1 pb-2">
					{{> felles-komponenter-sidetittel }}
				</div>
			</div>
		</div>

		<div class="container-fluid">
			{{# navigasjonsartikkel-jumbo }}
					{{> felles-komponenter-jumbotron }}
			{{/ navigasjonsartikkel-jumbo }}
		</div>

		<div class="container">

			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 pb-3">
					{{> felles-komponenter-bildeblokk:mb-2|mb-md-6 }}

					{{# card-content-2 }}
						{{> felles-komponenter-bildeblokk:mb-2|mb-md-6 }}
					{{/ card-content-2 }}

					{{# card-content-3 }}
						{{> felles-komponenter-bildeblokk:mb-2|mb-md-6 }}
					{{/ card-content-3 }}

					{{# card-content-4 }}
						{{> felles-komponenter-bildeblokk:mb-2|mb-md-6 }}
					{{/ card-content-4 }}
				</div>
			</div>

		</div> <!-- END Container -->

	</section>

	{{> organismer-footer }}
</div>
