<section class="an-dashboard-calendar mb-4">
  {{# dashboard-statisticsTitle }}
    {{> felles-komponenter-seksjonstittel:a-fontMedium }}
  {{/ dashboard-statisticsTitle }}

  <div class="row m-0">
    {{# dashboard-statistics}}
      {{> molekyler-dashboard-statistic }} 
    {{/ dashboard-statistics}}
  </div>

</section>