<div class="{{ col }}">
  <a href="{{ url }}" class="a-noUnderline">
    <div class="an-presentationBlock col-12 {{ extraClass }}">
      <div class="row">
        <h2 class="a-fontBold a-blueDarkerText d-none d-lg-block col-12 {{ headerClass }}">{{ title }}</h2>

        <div class="col-5 col-lg-12 my-auto">
          <figure class="an-presentationBlock-figure">
              {{#illustration}}
                  <img class="an-presentationBlock-illustration" src="{{img-src}}" alt="{{img-alt}}" />
              {{/illustration}}
          </figure>
        </div>

        <div class="col-7 col-lg-12">
          <h2 class="a-fontBold a-blueDarkerText d-lg-none {{ headerClass }}">{{ title }}</h2>
          {{# caption }}
            <p class="an-presentationBlock-caption">
              {{{ caption }}}
            </p>
          {{/ caption }}
        </div>
      </div>
    </div>
  </a>
</div>
