<div class="{{ col }}">
  <a href="{{ url }}" class="a-noUnderline {{ urlClass }}">
    <div class="an-presentationBlock col-12 {{ extraClass }}">
      <div class="row an-presentationBlock-container">
        <div class="{{ col-image }} my-auto">
          <figure class="an-presentationBlock-icon {{iconClass}}">
              {{#icon}}
                  {{> atomer-sirkel-med-ikon }}
              {{/icon}}
          </figure>
        </div>

        <div class="{{ col-info }} my-auto">
          <h2 class="a-fontBold a-blueDarkerText {{ titleClass }}">{{ title }}</h2>
          {{# caption }}
            <p>{{{ caption }}}</p>
          {{/ caption }}
        </div>
      </div>
    </div>
  </a>
</div>
