<div class="row mx-sm-0 {{ class }}">
      <div class="col-5 offset-1 d-flex flex-column align-self-center pt-4 pb-4">
        {{# navn }}
          <p class="a-fontSizeM a-fontBold mb-0">{{{ navn }}}</p>
        {{/ navn }}
        {{# rolle }}
          <p class="a-fontSizeM a-fontBold mb-0">{{{ rolle }}}</p>
        {{/ rolle }}
        
        <p class="mb-0">
          <a href="tel:+47{{{ telNumber }}}" class="a-fontSizeM a-noUnderline">
            <span class="sr-only a-fontSizeM">{{{ telNumberVisible }}}</span>
            {{{ telNumberVisible }}}
          </a>
        </p>

        <p class="mb-0">
          <a href="mailto:{{{ mail-adress }}}" class="a-fontSizeM a-noUnderline">
            <span class="sr-only a-fontSizeM">{{{ mail-adress }}}</span>
            {{{ mail-adress }}}
          </a>
        </p>
      </div>
      <div class="col-5 col-lg-6 offset-1 offset-lg-0">
        <div class="an-squareImage h-100">
            <img class="an-squareImage-image an-grayscale an-multiply" src="{{ img-src }}" alt="{{ img-alt }}">
        </div>
      </div>
</div>
