<div class="row a-pie-wrapper">
  <div class="col-xs-12 col-sm-4 text-center text-sm-left">
    {{> atomer-kakediagram }}
  </div>
  <div class="col-xs-12 col-sm-8 text-center text-sm-left">
    <p class="a-pie-text">{{largeText}}</p>
    <p>{{smallText}}</p>
  </div>
</div>