<div class="a-page" id="smoothState">
	{{> organismer-header }}

	{{# article-jumbotron }}
		{{> molekyler-jumbotron }}
	{{/ article-jumbotron }}


	<div class="container" id="content" tabindex="-1">

			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text m-t-2 m-b-4">

						{{> atomer-avsnitt(paragraph-content:"Introtekst før første overskrift kommer. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.") }}

						{{> atomer-seksjonstittel(section-title:"Økonomi") }}

						{{> atomer-avsnitt(paragraph-content:"Som eier av et enkeltpersonsforetak står du økonomisk ansvarlig for din virksomhets gjeld og forpliktelser. Dette betyr at du driver virksomheten din for egen regning og risiko. Skattemessig lignes virksomheten din sammen med deg personlig. Dette betyr at nettooverskuddet er skattepliktig sammen med dine andre inntekter, for eksempel dine lønnsinntekter. På samme måte vil nettotapet være fradragsberettiget. Du er ikke forpliktet å investere kapital i selskapet, siden du uansett er personlig ansvarlig, i motsetning til krav om kaptial i aksjeselskap.") }}

						{{> atomer-seksjonstittel(section-title:"Organisasjonsnummer") }}

						{{> atomer-avsnitt(paragraph-content:"Du får tildelt et organisasjonsnummer når ditt foretak blir registrert via Samordna registermelding. Organisasjonsnummeret blir brukt av det offentlige for å samordne informasjon om foretaket.") }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-12">

					{{> molekyler-bilde-sitat }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text">

						{{> atomer-seksjonstittel(section-title:"Samordnet registermelding for enkeltpersonforetak") }}

						{{> atomer-avsnitt(paragraph-content:"Foretaket ditt kan registreres i ulike register - Enhetsregisteret og Foretaksregisteret. Registrering i Enhetsregisteret gjør at du kan opprette en bankkonto tilknyttet ditt foretak. Registreringen er gratis og skjer automatisk når du leverer Samordna registermelding.") }}

						{{# card-right }}
							{{> molekyler-kort-ikon:a-article-right-off }}
						{{/ card-right }}

						{{> atomer-avsnitt(paragraph-content:"Du har også rett til å registrere ditt foretak i Foretaksregisteret. Ved registrering i Foretaksregisteret vil foretaket få en firmaattest. Hvis foretaket ditt har minst fem ansatte eller driver videresalg av innkjøpte varer, har det registreringsplikt i	Foretaksregisteret. Registrering koster ---- kroner og betales etterskuddsvis.") }}

						{{> atomer-seksjonstittel(section-title:"Krav til enkeltpersonforetak") }}

						{{# first-list }}
							{{> atomer-liste-unummerert-kuler }}
						{{/ first-list }}

						{{> atomer-avsnitt(paragraph-content:"Er du over 15 år kan du og din verge få samtykke fra Fylkesmannen om å drive en bestemt næringsvirksomhet. For mer informasjon og vilkår, ta kontakt med Fylkesmannen i ditt fylke.") }}

						{{# blockquote-right }}
							{{> atomer-sitat:a-article-right-off|a-blockquote-right }}
						{{/ blockquote-right }}

						{{> atomer-undertittel(section-sub-title:"Store enkeltpersonforetak") }}

						{{> atomer-avsnitt(paragraph-content:"Har ditt foretak hatt mer enn 30 ansatte de tre siste regnskapsårene, gjelder enkelte krav som for ansvarlige selskaper. Disse kravene dreier seg om ansattes adgang til representasjon i selskapsmøter og eventuelt styre.") }}

						{{> atomer-seksjonstittel(section-title:"Skatt for enkeltpersonforetak") }}

						{{> atomer-avsnitt(paragraph-content:"Som eier av et enkeltpersonforetak er du ansvarlig for innbetaling av foretakets skatt. Foretaket er ikke et eget skattesubjekt. Du betaler forskuddsskatt for hver enkelt periode så snart inntekten oppstår, og vil få tilsendt innbetalingsblanketter for dette fire ganger i året. Du må søke om å få utskrevet forskuddsskatt.") }}

						{{> atomer-undertittel(section-sub-title:"Dette koster en lønnskjøring på 100 000 ") }}
				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text m-b-5">

						{{> atomer-tabell-regnestykke }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-12 m-b-5">

						{{> organismer-artikkel-liste }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text m-b-5">


					{{> atomer-avsnitt(paragraph-content:"Du betaler forskuddsskatt for hver enkelt periode så snart inntekten oppstår, og vil få tilsendt innbetalingsblanketter for dette fire ganger i året. Du må søke om å få utskrevet forskuddsskatt.") }}

					{{> atomer-avsnitt(paragraph-content:"Dette gjør du ved å søke om endring av skattekortet ditt. Når du endrer skattekortet, skal du påføre det overskuddet du forventer å få inneværende år. Du må også huske å føre opp eventuell annen inntekt, som for eksempel lønnsinntekt.") }}


					{{# first-link }}
						{{> atomer-link }}
					{{/ first-link }}

					{{> atomer-avsnitt(paragraph-content:"Det er viktig å huske på at overføringer av penger som du overfører fra foretaket til deg selv som betaling for arbeidsinnsatsen, ikke regnes som kostnad for foretaket. Slik utbetaling vil ikke påvirke det skattbare resultatet for foretaket.") }}

					{{> atomer-radioknapp:m-t-2 }}


				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-12 m-b-4">

					{{# card-bottom }}
						{{> molekyler-kort }}
					{{/ card-bottom }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->


			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 m-b-5">

					{{> molekyler-bilde-innhold }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 m-b-5">

					{{# article-search }}
						{{> atomer-tekst-input }}
					{{/ article-search }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

		{{> organismer-footer }}

	</div> <!-- END .container -->

</div> <!-- END .a-page #smoothstate -->
