<!-- START: 04-sider-infoportal-35-skjemaartikkel-53-artikkel-skjema-v-egenmeldt-sykefravaer -->
{{> maler-infoportal-artikkel-skjema }}

<!-- END: 04-sider-infoportal-35-skjemaartikkel-53-artikkel-skjema-v-egenmeldt-sykefravaer -->