<button {{# onclick }} onclick="{{{ onclick }}}" {{/ onclick }}
    type="button"
    class="{{ buttonClass }}"
    {{# data-toggle }}data-toggle="{{ data-toggle }}"{{/ data-toggle }}
    {{# data-target }}data-target="#{{ data-target }}"{{/ data-target }}
    {{# data-action }} data-action="{{data-action}}" {{/ data-action }}
    {{# data-url }} data-url="{{{data-url}}}" {{/ data-url }}
    {{# aria-hidden }}aria-hidden="true"{{/ aria-hidden }}
    {{# untabbable }}tabindex="-1"{{/ untabbable }}>

    {{> felles-komponenter-ikon }}
    <span{{# textstyling-button }} class="{{ textstyling-button }}"{{/ textstyling-button }}>{{{ actionButtonText }}}</span>

</button>
