<!-- START: 00-atomer-07-tekst-09-sidetittel -->
<h1 class="a-fontBold a-pageTitle {{ styleModifier }}">{{{ page-title }}} {{# tag }} {{>atomer-merkelapp}}{{/ tag }}</h1>

<!-- END: 00-atomer-07-tekst-09-sidetittel -->
