
<div class="row" {{# checkbox-list-id }}id='{{ checkbox-list-id }}'{{/ checkbox-list-id }}>
  {{# firstLevelCheckboxes }}
    <div class="{{ firstLevelColClass }}">
      <hr class="m-0 mb-1 {{# hrExtraClass }} {{ hrExtraClass }}{{/ hrExtraClass }}">
      {{> atomer-avkrysningsboks }}
      {{# hasSecondLevel }}
        <div class="row a-pl-half"{{# secondLevelId }} id="{{ secondLevelId }}"{{/ secondLevelId }}>
          {{# secondLevelCheckboxes }}
            <div class="{{ secondLevelColClass }}">
              {{> atomer-avkrysningsboks }}
            </div>
          {{/ secondLevelCheckboxes }}
        </div>
      {{/ hasSecondLevel }}
    </div>
  {{/ firstLevelCheckboxes }}
  {{# loadmoreSearch }}
    <div class="{{ firstLevelColClass }}">
        <hr class="m-0 mb-1 {{# hrExtraClass }} {{ hrExtraClass }}{{/ hrExtraClass }}">
        {{> atomer-link-ikon }}
    </div>
  {{/ loadmoreSearch }}
  {{^ loadmoreSearch }}
    <div class="{{ firstLevelColClass }}">
        <hr class="m-0 mb-1 {{# hrExtraClass }} {{ hrExtraClass }}{{/ hrExtraClass }}">
    </div>
  {{/ loadmoreSearch }}
</div>
