<div class="row mb-1">
  <div class="col-12">
    {{# topRadioButtons }}
      {{> atomer-valgknapp-ett-alternativ:a-switch--small }}
    {{/ topRadioButtons }}
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-auto">
    {{# bottomRadioButtons }}
      {{> atomer-valgknapp-ett-alternativ:a-switch--small|a-lh-3 }}
    {{/ bottomRadioButtons }}
  </div>
  <div class="col-12 col-md-auto">
    {{# firstDateField }}
      {{> atomer-datovelger:d-inline-block|a-w-3-sm-down|mr-0|mr-md-1 }}
    {{/ firstDateField }}
  </div>
  <div class="col-12 col-md-auto">
    {{# secondDateField }}
      {{> atomer-datovelger:d-inline-block|a-w-3-sm-down|mr-0|mr-md-1 }}
    {{/ secondDateField }}
  </div>
</div>
