<div class="a-form-group {{ styleModifier }}">
  <label class="a-form-label" for="{{ form-id }}">{{ top-label }}</label>
  <form id={{ form-id }}>
    {{> atomer-valgknapp-ett-alternativ }}
    {{# annet }}
      <div class="mb-2">
        <div class="annet collapse">
          {{> atomer-tekst-input }}
        </div>
      </div>
    {{/ annet }}
  </form>
</div>