<div class="a-form-group {{ styleModifier }}">
  <label class="a-form-label" for="{{ form-id }}">{{ top-label }}</label>
  <form id={{ form-id }}>
    {{# ettvalg }}
      {{# radio }}
        {{> atomer-valgknapp-ett-alternativ }}
      {{/ radio }}
    {{/ ettvalg }}
    {{# flerevalg }}
      {{# check }}
        {{> atomer-valgknapp }}
      {{/ check }}
    {{/ flerevalg }}
    {{# annet }}
      <div class="mb-2">
        <div class="annet collapse">
          {{> atomer-tekst-input }}
        </div>
      </div>
    {{/ annet }}
  </form>
</div>