{{#form-abonner}}
<form data-toggle="validator" data-disable="true">
  <div class="row">
    <div class="col-8">
      {{> atomer-tekst-input }}
    </div>
    <div class="col-4">
        {{> atomer-knapp }}
    </div>
  </div>
</form>
<p class="a-fontSizeXS">{{finish-text}}</p>
{{/form-abonner}}
