  <div class='row'>
    <div class='col-12'>
      <div {{# checkbox-list-id }}id='{{ checkbox-list-id }}'{{/ checkbox-list-id }}>
        <ul style='list-style:none;'>
          {{# pick-area }}
            <li>
              {{> atomer-avkrysningsboks:d-inline }}
              <hr class="m-0 mb-1 {{# hrExtraClass }} {{ hrExtraClass }}{{/ hrExtraClass }}">
            </li>
          {{/ pick-area }}
        </ul>
      </div>
    </div>
  </div>
