<div class="row d-flex align-items-end">
  <div>
    {{# datovelger }}
      {{> atomer-datovelger }}
    {{/ datovelger }}
  </div>

  <div class="ml-2">
    {{# tidsvelger }}
      {{> atomer-flervalg-generell }}
    {{/ tidsvelger }}
  </div>
</div>
