<div class="row {{ styleModifier }} form-group mb-0">
    {{# label }}
      <div class="col-12">
        <label class="a-form-label">{{ label }}</label>
      </div>
    {{/ label }}
  <div class="col-12 d-flex align-items-start">
    
    {{# datovelger }}
      {{> atomer-datovelger }}
    {{/ datovelger }}

    <div class="ml-2 input-group">
      <input class="form-control" type="time" name="timepicker">
    </div>
  </div>
</div>
