<!-- START: 03-maler-portal-50-innboks-_10-innboks-mva-og-skatt -->
<div class="a-page">
  {{> organismer-header }}

  <div class="container" id="content" tabindex="-1">

    <div class="row mt-3 mb-3">
      <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
        {{# article-search }} {{> atomer-tekst-input }} {{/ article-search }}

      </div>
    </div>

    {{> molekyler-toppoppgaver }}

    <div class="row">
      <div class="col-sm-12 col-lg-12 mt-4  a-p-x9-xl">
        {{# first-page-title }} {{> atomer-sidetittel:a-h2|a-fontReg }} {{/ first-page-title }}

        <p>
          Du er enda ikke i mva-registeret. Det skjer idet du passerer en omsetning på 50.000 i løpet av en 12-månedersperiode. Du skal hente inn merverdiavgift fra og med det salget som gjør at du passerer grensen. Fortsatt usikker? <a href="#">Når skal jeg i merverdiavgiftregisteret?</a>
        </p>


      </div>
      <!-- END .col-... -->
    </div>
    <!-- END .row -->

    {{> molekyler-prosentbar-med-info }}

    <div class="row">
      <div class="col-sm-12 col-lg-12 mt-4  a-p-x9-xl">
        {{# second-page-title }} {{> atomer-sidetittel:a-h2|a-fontReg }} {{/ second-page-title }}

        <p>
          For enkeltpersonforetaket ditt skatter du som privatperson. Hvert kvartal utskriver vi forskuddsskatt basert på inntektene som innrapporteres fra regnskapssystemet ditt. under ser du en oversikt over hva du kan forvente deg i skatt neste termin.</a>
        </p>
      </div>
      <!-- END .col-... -->
    </div>
    <!-- END .row -->


    <div class="row">
      <div class="col-sm-12 col-lg-12 mb-1 ">

        {{# messages }} {{> organismer-ekspanderbart-panel-trekkspill:a-inbox-messageList }} {{/ messages }}

      </div>
      <!-- END .col-... -->
    </div>
    <!-- END .row -->

    <div class="row">
      <div class="col-sm-12 col-lg-12  a-p-x9-xl">
        {{> atomer-link }}
      </div>
      <!-- END .col-... -->
    </div>
    <!-- END .row -->


    {{> organismer-footer }}

  </div>
  <!-- END .container -->

</div>
<!-- END .a-page -->

<!-- END: 03-maler-portal-50-innboks-_10-innboks-mva-og-skatt -->