<!-- START: 02-organismer-70-Modal-innhold-_98-klientdelegering-fjern-rettigheter -->
<div class="modal-body a-modal-body">
  <div class="row">
    <div class="col-12 col-md-8">
      {{# person-role }} {{> molekyler-person-rolle }} {{/ person-role }}
    </div>
    <div class="col-12 col-md pt-1">
      {{# cancel-link }} {{> atomer-knapp-link-fare:a-link-modalTop }} {{/ cancel-link }}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-6 mt-4 mb-1">
      {{> atomer-tekst-input }}
    </div>
  </div>
  <div role="tablist">
    <div role="tab">
      {{# remove-rights-title }}
      <div class="mt-1 mb-1">
        {{> atomer-ekspanderbar-tittel }}
      </div>
      {{/ remove-rights-title }} {{# remove-rights-table }}
      <div class="a-full-width">
        <div id="{{ collapse-header-contentID }}" class="a-collapseContent collapse show" role="tabpanel" aria-expanded="{{ aria-expanded }}">
          {{# sortable-table-override }} {{> molekyler-liste-unummerert }} {{/ sortable-table-override }}
        </div>
      </div>
      {{/ remove-rights-table }} {{# done-segment }} {{> molekyler-ferdigsegment:segment-done }} {{/ done-segment }}
    </div>
  </div>
</div>
<!-- END: 02-organismer-70-Modal-innhold-_98-klientdelegering-fjern-rettigheter -->