<a
  class="nav-link a-personSwitcher"
  data-toggle="{{{ data-toggle-personInfo }}}"
  href="{{{ url }}}"
  role="button"
  aria-haspopup="true"
  aria-expanded="false">
  <span
    class="a-personSwitcher-name hidden-sm-down"
    title="{{ login-name }} {{ login-represent }}">
    {{{ login-name }}}
    <br>
    {{{ login-represent }}}
  </span>
  <i class="material-icons a-personSwitcher-icon">&#xE853;</i>
</a>
