<!-- START: 02-organismer-30-seksjoner-77-dashboard-statistics -->
<section class="an-dashboard-calendar mb-4">
  {{# dashboard-statisticsTitle }}
    {{> atomer-seksjonstittel:a-fontMedium }}
    {{/ dashboard-statisticsTitle }}

    <div class="row m-0">
      {{# dashboard-statistics}}
        {{> molekyler-dashboard-statistic }}
        {{/ dashboard-statistics}}
    </div>

</section>
<!-- END: 02-organismer-30-seksjoner-77-dashboard-statistics -->