<!-- START: 00-atomer-05-Ekspansjonsknapper-25-ekspanderbar-knapp -->
<button class="{{{ button-class }}} {{{ button-colorClass }}} {{ styleModifier }}" type="button" data-toggle="collapse" data-target="#{{collapse-header-contentID}}" aria-expanded="false" aria-controls="{{collapse-header-contentID}}">
    <span class="a-dropdownCircleArrow">
      <i class="ai ai-expand ai-sm"><span class="sr-only">Vis/skjul innhold</span></i>
    </span>
    {{{ collapse-header-title }}}
</button>

<!-- END: 00-atomer-05-Ekspansjonsknapper-25-ekspanderbar-knapp -->