<!-- START: 03-maler-infoportal-30-artikkel-_13-artikkel-v-hvordan-finansiere-oppstarten -->
<div class="a-page">
  {{> organismer-header }}

  <section id="content" tabindex="-1">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
          {{# articlestart }} {{> organismer-artikkel-start }} {{/ articlestart }}
        </div>
      </div>

      {{# firstpart }}
      <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg pt-2 pt-lg-3">

          {{# sectiontitle1 }} {{> atomer-seksjonstittel }} {{/ sectiontitle1 }} {{# paragraph1 }} {{> atomer-avsnitt }} {{/ paragraph1 }} {{# sectiontitle2 }} {{> atomer-seksjonstittel }} {{/ sectiontitle2 }} {{# paragraph2 }} {{> atomer-avsnitt }} {{/ paragraph2
          }} {{# sectiontitle3 }} {{> atomer-seksjonstittel }} {{/ sectiontitle3 }} {{# paragraph3 }} {{> atomer-avsnitt }} {{/ paragraph3 }} {{# sectiontitle4 }} {{> atomer-seksjonstittel }} {{/ sectiontitle4 }} {{# paragraph4 }} {{> atomer-avsnitt }}
          {{/ paragraph4 }} {{# sectiontitle5 }} {{> atomer-seksjonstittel }} {{/ sectiontitle5 }} {{# paragraph5 }} {{> atomer-avsnitt }} {{/ paragraph5 }} {{> atomer-radioknapp:mt-4 }}

        </div>
        <!-- END .col-... -->
      </div>
      <!-- END .row -->
      {{/ firstpart }}

    </div>
    <!-- END Container -->

  </section>

  {{> organismer-footer }}
</div>

<!-- END: 03-maler-infoportal-30-artikkel-_13-artikkel-v-hvordan-finansiere-oppstarten -->