<!-- START: 01-molekyler-05-lister-_80-altinnett-liste-varslinger -->
<div role="tablist" id="scheduledAlerts">
  <div role="tab">
    {{# title }}
    <div class="pt-2 pb-1 pl-lg-8 pl-md-8 pl-1 a-bgWhite">
      {{> atomer-ekspanderbar-tittel }}
    </div>
    {{/ title }} {{# table }}
    <div id="{{ collapse-header-contentID }}" class="a-collapseContent collapse a-bgWhite {{ show }}" role="tabpanel" aria-expanded="{{ aria-expanded }}">
      {{> molekyler-liste-unummerert }}
    </div>
    {{/ table }}
  </div>
</div>

<!-- END: 01-molekyler-05-lister-_80-altinnett-liste-varslinger -->