<!-- START: 01-molekyler-01-kort-02-kort-hoved -->
<div class="a-card a-mainCard">
  {{# main-card-content }}
    {{> molekyler-ikon-tittel }}
    <div class="a-mainCard-content">
      <b>{{ main-card-secondary-title }}</b>
      <p>{{{ main-card-description }}}</p>
      {{> atomer-knapp }}
    </div>
  {{/ main-card-content }}
</div>

<!-- END: 01-molekyler-01-kort-02-kort-hoved -->
