<!-- START: 01-molekyler-01-kort-02-kort-hoved -->
<div class="a-card a-main-card">
  {{# main-card-content }}
    {{> molekyler-ikon-link }}
    <b>{{ main-card-secondary-title }}</b>
    <p>{{{ main-card-description }}}</p>
    {{> atomer-knapp }}
  {{/ main-card-content }}
</div>

<!-- END: 01-molekyler-01-kort-02-kort-hoved -->
