<!-- START: 04-sider-portal-50-innboks-08-innboks-slettede-meldinger -->
{{# innboks-slettede-meldinger }} {{> maler-portal-innboks }} {{/ innboks-slettede-meldinger }}
<!-- END: 04-sider-portal-50-innboks-08-innboks-slettede-meldinger -->