<!-- START: 00-atomer-07-tekst-10-seksjonstittel -->
<h2 class="{{# extra-class }} {{ extra-class }} {{/ extra-class}}{{ styleModifier }}">{{{section-title}}} {{# titleExtra }}
  <span class="a-titleExtra">{{{ titleExtra-text }}}</span> {{/ titleExtra }}
</h2>

<!-- END: 00-atomer-07-tekst-10-seksjonstittel -->