<!-- START: 02-organismer-70-Modal-innhold-_25-egendefinert-rolle -->
<div class="modal-body a-modal-body">
  <div class="row">
    <div class="col-8">
      <h2 class="a-fontBold a-fontSizeM">
        {{ local-role-header }}
      </h2>
    </div>
    {{# local-role-cancel-link }}
    <div class="col-12 col-md-4 mb-1 mb-md-0">
      {{> atomer-knapp }}
    </div>
    {{/ local-role-cancel-link }}
    <div class="col-12 col-md-6">
      {{# local-role-name-input }} {{> atomer-tekst-input }} {{/ local-role-name-input }}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      {{# local-role-service-search }} {{> atomer-tekst-input }} {{/ local-role-service-search }}
    </div>
  </div>
  {{# local-role-search-header }}
  <div class="row">
    <div class="col-12">
      <h3 class="a-fontReg a-fontSizeL mt-2">
        {{ local-role-search-header }}
      </h3>
    </div>
  </div>
  {{/ local-role-search-header }} {{# local-role-search-result }}
  <div class="row">
    <div class="col-12">
      {{> molekyler-liste-unummerert }}
    </div>
  </div>
  {{/ local-role-search-result }} {{# local-role-rights-list }}
  <h3 class="a-fontBold a-fontSizeM mt-3">
    {{ local-role-rights-title }}
  </h3>
  {{> molekyler-liste-unummerert }} {{/ local-role-rights-list }} {{# local-role-buttons }}
  <div class="row">
    <div class="col mt-3">
      {{# local-role-save-btn }} {{> atomer-knapp:mr-2 }} {{/ local-role-save-btn }} {{# local-role-cancel-btn }} {{> atomer-knapp }} {{/ local-role-cancel-btn }}
    </div>
  </div>
  {{/ local-role-buttons }}
</div>
<!-- END: 02-organismer-70-Modal-innhold-_25-egendefinert-rolle -->