<!-- START: 01-molekyler-00-tekst-75-infotekst-med-border -->
<div class="row px-1">
  <div class="col a-py-half px-0 mb-2 a-borderBottomDark a-borderTopDark">
    <p class="d-inline pr-4 pl-0">{{ infotext-withboarder-text }}</p>
    {{# infotext-withboarder-button }} {{> atomer-knapp-link }} {{/ infotext-withboarder-button}}
  </div>
</div>
<!-- END: 01-molekyler-00-tekst-75-infotekst-med-border -->