<div id="{{ patternPartial }}" class="sg-pattern-category">
  <h2 class="sg-pattern-category-title"><a href="../../patterns/{{ patternLink }}" class="patternLink" data-patternpartial="{{ patternPartial }}">{{ patternName }}</a></h2>

  <div class="sg-pattern-category-body">
    {{{ patternDesc }}}
  </div><!--end sg-pattern-category-body-->
  
</div><!--end sg-pattern-category-->
