<!-- START: 04-sider-30-artikkel-56-artikkel-skjema-v-anmodning-om-tildeling-av-D-nummer -->
{{> maler-artikkel-skjema }}

<!-- END: 04-sider-30-artikkel-56-artikkel-skjema-v-anmodning-om-tildeling-av-D-nummer -->
