<div class="a-page" id="smoothState">
	{{> organismer-header }}

	{{# jumbotron }}
		{{> molekyler-jumbotron }}
	{{/ jumbotron }}

	<div class="container" id="content" tabindex="-1">

		{{# artikkelsok }}
			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 p-t-3 m-b-5">
					{{# article-search }}
						{{> atomer-tekst-input }}
					{{/ article-search }}
				</div>
			</div>
		{{/ artikkelsok }}

			<div class="row">
				<div class="col-sm-12 col-lg-10 offset-lg-1 p-b-3">

					{{# smulesti }}
						{{> molekyler-smulesti }}
					{{/ smulesti }}

					{{> atomer-sidetittel }}

					{{> atomer-byline }}

					<p class="a-leadText">{{{ article-intro }}}</p>

				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-lg-12 m-b-5">

					{{> molekyler-sammenligning-header }}

					{{# first-compare }}
						{{> organismer-sammenligning }}
					{{/ first-compare }}

					{{# second-compare }}
						{{> organismer-sammenligning }}
					{{/ second-compare }}

					{{# third-compare }}
						{{> organismer-sammenligning }}
					{{/ third-compare }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-6">

					{{# first-card-icon }}
							{{> molekyler-kort-ikon }}
					{{/ first-card-icon }}

				</div><!-- END .col-... -->

				<div class="col-sm-12 col-lg-6">

					{{# second-card-icon }}
							{{> molekyler-kort-ikon }}
					{{/ second-card-icon }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->



		{{> organismer-footer }}

	</div> <!-- END Container -->

</div>
