<div class="a-panel">
	<form action="#">
	    <fieldset class="options a-options">
	        <ul>
	            <li>
		            <label class="c-input c-checkbox">
					  <input type="checkbox">
					  <span class="c-indicator"></span>
					  Check this custom checkbox
					</label>
				</li>
				<li>
		            <label class="c-input c-checkbox">
					  <input type="checkbox">
					  <span class="c-indicator"></span>
					  Check this custom checkbox
					</label>
				</li>
				<li>
		            <label class="c-input c-checkbox">
					  <input type="checkbox">
					  <span class="c-indicator"></span>
					  Check this custom checkbox
					</label>
				</li>
	        </ul>
	    </fieldset>
	</form> 	 
</div>