
<div class="a-panel">

	{{! <div class="c-inputs-stacked"> }}
	{{! Add parent with class .c-inputs-stacked to ensure each form control is on separate lines.  }}

	<div id="a-radioButtons" class="a-radioButtons">

		<label class="c-input c-radio">
		  <input id="radio1" name="radio" type="radio">
		  <span class="c-indicator"></span>
		  Toggle this custom radio
		</label>
		<label class="c-input c-radio">
		  <input id="radio2" name="radio" type="radio">
		  <span class="c-indicator"></span>
		  Or toggle this other custom radio
		</label>

	</div>

	{{! </div> }}

</div>
