<!-- START: 03-maler-infoportal-30-artikkel-70-artikkel-v-hjelpetrinn -->
<div class="a-page">
  {{> organismer-header }}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
        {{# article-search }} {{> atomer-tekst-input }} {{/ article-search }}
      </div>
    </div>
  </div>

  <section id="content" tabindex="-1">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
          {{# articlestart }} {{> organismer-artikkel-start }} {{/ articlestart }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1 a-text epi-wysiwyg">
          {{> atomer-seksjonstittel }}{{> atomer-liste-nummerert-sirkel }}
        </div>
        <!-- END .col-... -->
      </div>
      <!-- END .row -->

      <hr>

      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
          {{> molekyler-bilde-innhold:mt-2 }}
        </div>
      </div>

    </div>
    <!-- END Container -->

  </section>

  {{> organismer-footer }}
</div>

<!-- END: 03-maler-infoportal-30-artikkel-70-artikkel-v-hjelpetrinn -->