<!-- START: 02-organismer-20-forms-70-select-profiles -->
<div id='profile-selection'>
  <div class='row mb-1'>
    <div class='col-4'>
      {{# profile-sok }} {{> atomer-tekst-input }} {{/ profile-sok }}
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      {{# select-all }} {{> atomer-avkrysningsboks:d-inline }} {{/ select-all }} {{# selected-items }} {{> atomer-merkelapp:d-inline }} {{/ selected-items}}
    </div>
  </div>

  {{# checkbox-list }} {{> molekyler-nestede-avkrysningsbokser }} {{/ checkbox-list }}
</div>
<!-- END: 02-organismer-20-forms-70-select-profiles -->