<!-- START: 02-organismer-30-seksjoner-30-meny-personbytte -->
<!-- Begin #a-dropdown-personswitchList - -->
<div class="dropdown-menu a-dropdown-personswitchList a-dropdownTriangle">

  <div class="pt-5 pl-3 pr-3">

    {{> atomer-link(link-class: "a-link-logout", link-text: "Logg ut", link-url: "/patterns/04-sider-infoportal-01-forside-00-forside/04-sider-infoportal-01-forside-00-forside.html") }} {{# personswitch-current }}
    <div class="row">
      <div class="col-sm-12 mb-2">
        {{> molekyler-person-privat }}
      </div>
    </div>
    {{/ personswitch-current }} {{# profile-text }}
    <p class="{{ profile-text-class }}">
      {{ profile-text }}
    </p>
    {{/ profile-text }} {{# personswitch-search }} {{> atomer-tekst-input }} {{# no-results-text }}
    <p class="a-fontBold a-fontSizeXS">
      {{ no-results-text }}
      <p>
        {{/ no-results-text }} {{/ personswitch-search }} {{# personswitch-button }} {{> atomer-knapp }} {{/ personswitch-button }}

  </div>

  {{# personswitch-overview }} {{> organismer-personbytte:px-1}} {{/ personswitch-overview }}


</div>

<!-- END: 02-organismer-30-seksjoner-30-meny-personbytte -->