<!-- START: 02-organismer-01-globale-91-footer-altinnett -->
{{# singelmodal }} {{> organismer-modal }} {{/ singelmodal }}
<!-- Begin Footer -->
<footer class="an-footer a-bgBlueDarker {{styleModifier}}">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 an-footer-contactColumn">
        <div class="an-footer-contactInfo">
          <h1 class="an-footer-heading">{{footerHeading}}</h1>
          <ul class="an-footer-contactLinks">
            {{# contactLinks }} {{^ contact }}
            <li>
              <a href="#">
                                    {{# icon }}
                                        {{> atomer-ikon }}
                                    {{/ icon }}
                                    <span>{{ text }}</span>
                                </a>
            </li>
            {{/ contact }} {{# contact }}
            <li>
              <a href="#" data-toggle="altinn-modal" data-action="load" data-url="{{{ page-url }}}" data-target="#{{modal-id}}">
                                    {{# icon }}
                                        {{> atomer-ikon }}
                                    {{/ icon }}
                                    <span>{{ text }}</span>
                                </a>
            </li>
            {{/ contact }} {{/ contactLinks}}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-9 an-footer-navigationColumn">
        <div class="an-footer-search">
          {{# footer-search }} {{> atomer-tekst-input }} {{/ footer-search }}
        </div>
        <ul class="an-footer-infoLinks">
          {{# infoLinks }}
          <li><a class="" href="#">{{ text }}</a></li>
          {{/ infoLinks }}
        </ul>
        <div class="an-footer-supplementaryInfo">
          <ul class="an-footer-smallLinks">
            {{# smallLinks }}
            <li><a class="" href="#">{{ text }}</a></li>
            {{/smallLinks}}
          </ul>
          <span class="an-footer-address">{{ address }}</span>
        </div>
      </div>
    </div>

  </div>
  <!-- End Container -->
</footer>
<!-- End Footer -->
<!-- END: 02-organismer-01-globale-91-footer-altinnett -->