<!-- START: 02-organismer-01-globale-91-footer-altinnett -->
<div class="container a-containerFooter">
  <!-- Begin Footer -->
  <footer class="a-footer {{styleModifier}}">
    <div class="row a-footer-firstRow">
      <div class="col-md-4 hidden-sm-down">
        {{# footer-search }} {{> atomer-tekst-input }} {{/ footer-search }}

      </div>
      <div class="col-md-8">
        <nav class="a-footerNav">
          <ul>
            <li>
              <a class="a-hvr-underline" href="#">
                {{# footerBedriftIkon }}
                  {{> atomer-ikon }}
                {{/ footerBedriftIkon }}
                {{{ menuItem1 }}}
              </a>
            </li>

            <li>
              <a class="a-hvr-underline" href="#">
                {{# footerHjelpIkon }}
                  {{> atomer-ikon }}
                {{/ footerHjelpIkon }}
                {{{ menuItem2 }}}
              </a>
            </li>
          </ul>

        </nav>

      </div>

    </div>

    <div class="row">
      <div class="col-lg-12">

        <nav class="a-footerExtraNav">
          {{{ addressPart1 }}}{{{ addressSeparator }}}
          <span class="a-footerExtraNav-name">{{{ addressPart2 }}}</span>
          <div class="a-footerExtraNav-toTop hidden-md-up">
            <a href="#top" class="a-linkArea a-btn ">
						    Til toppen
						</a>
          </div>
          <ul>
            <li><a class="hidden-sm-down" href="#">{{{ menuItem3 }}}</a></li>
            <li><a class="" href="#">{{{ menuItem4 }}}</a></li>
            <li><a class="" href="#">{{{ menuItem5 }}}</a></li>
          </ul>
        </nav>
      </div>

    </div>

  </footer>
  <!-- End Footer -->
</div>
<!-- END Container -->

<!-- END: 02-organismer-01-globale-91-footer-altinnett -->