<!-- START: 01-molekyler-02-navigasjon-11-toppoppgaver -->
<div class="row a-topTasks">
  {{# topTaskButtons }}
  <div class="col col-lg-12{{# wrapper-class }} {{ wrapper-class }}{{/ wrapper-class }}">
    {{> atomer-knapp-ikon-tekst }}
  </div>
  {{/ topTaskButtons }}
</div>

<!-- END: 01-molekyler-02-navigasjon-11-toppoppgaver -->