{{> organismer-header }}

<section id="content" tabindex="-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
        {{# article-search }}
          {{> atomer-tekst-input }}
        {{/ article-search }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-7 col-lg-6 offset-lg-1">
        {{# page-label }}
          {{> atomer-avsnitt }}
        {{/ page-label }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-7 col-lg-6 offset-lg-1">
        {{> atomer-sidetittel }}

        {{# elements-errorpage }}
          {{# paragraph }}
            {{> atomer-avsnitt }}
          {{/ paragraph }}

          {{# link }}
            <p class="pb-1">{{> atomer-link }}</p>
          {{/ link }}

          {{# notice }}
            {{> atomer-varsel }} 
          {{/ notice }}
        {{/ elements-errorpage }}

      </div>
      <div class="col-sm-12 col-md-5">
        {{> molekyler-bilde-innhold-under:fullWidth }}
      </div>
    </div>
  </div> <!-- END Container -->

</section>

{{> organismer-footer }}

{{> molekyler-hjelp-container }}
