
// Altinn spinner

.altinn-snake1 {
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {
    	-moz-transform: translateX(0px);
		-webkit-transform: translateX(0px);
		-o-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px);
    }
    to {
    	-moz-transform: translateX(50px);
		-webkit-transform: translateX(50px);
		-o-transform: translateX(50px);
		-ms-transform: translateX(50px);
		transform: translateX(50px);
    }
}

/* Standard syntax */
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

.altinn-snake2 {
	background-color: red;
	color: yellow;
}

.altinn-snake3 {
	
}

.altinn-snake4 {
	
}
