
@include media-breakpoint-up(sm) {
  .a-form-inline .form-group {
      padding-right: 12px;
  }
}
.a-form-inline .form-group {
    .input-group {
      display: inline-table;
    }
}


.custom-controls-stacked {
  .a-legend {
    display: block;
    margin-bottom: $spacer;
  }
}
