/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/


html, body {
    font-size: 16px;
    font-family: $font;  
    color: $black;
    background: $white;
}

body.private-person,
html.private-person {
    background-color: $grey-light;
}

body.business,
html.business{
    background-color: $blue-light;
}

body.a-modal-background,
html.a-modal-background {
    background: $blue;
}
body.a-modal-background-success,
html.a-modal-background-success {
    background: $green-light;
}
body.a-modal-background-error,
html.a-modal-background-error {
    background: $red-light;
} 


::selection {
    background: #e0daf7;  
    color: #000;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.a-panel {
    padding: $pad-double;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: $pad;
}

.a-dimText {
    color: rgba(0,0,0,0.4)
}
.a-whiteText {
    color: $white;

    a, a:hover { 
        color: $white;
        border-color: $white;
    }
} 
.a-dimBackground {
    background: rgba(0,0,0,0.3)
}






/* Grid */

.a-noColPadding {
    margin: 0;
    
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        padding-left: 0;
        padding-right: 0;
    }

}

.a-center {
    text-align: center;
}


/* Fonts */
.font-primary {
    font-family: $font; 
}

/* Completely remove from the flow and screen readers. */
.is-hidden {
    display: none !important;
    visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Floats */
.right { 
	float: right;
	padding: 0 0 $pad $pad; 
} 

.right-search {
	float: right;
	padding: 0 0 $pad 0;
}

.left {
	float: left;
	padding: 0 $pad $pad 0;
}

/* Text-Align */
.align-right {
	text-align: right;
} 

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

/* Display Classes */
.hide-small {
    @media all and (max-width: $bp-med) {
        display: none;
    }
}

.hide-med {
    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
        display: none;
    }
}

.hide-large {
    @media all and (min-width: $bp-large) {
        display: none;
    }
}

//States
.valid {
	color: $valid;
}

.error {
	color: $error;
}

.warning {
    color: $warning;
}

.information {
    color: $information;
}

.font-secondary {
    font-family: $font-secondary; 
}


// Overall styles 

.valid {
    color: #ffffff; 
    background: #64a70b;
    padding: 5px 10px;
}



