/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/

html {
  width: 1px;
  min-width: 100%;
  *width: 100%;
}

html, body {
  font-size: 16px;
  font-family: $font-reg;
  font-weight: $font-weight-reg;
  color: $black;
  background-color: $white;
  // padding-bottom: 50px;
}


/* Selection style */
::selection {
  background: #e0daf7;
  color: #000;
}

/* Backround colors */

body.neutral,
html.neutral{
  background-color: $white;
  overflow-y: scroll;
}

body.private-person,
html.private-person {
  background-color: $grey-light;
  overflow-y: scroll;
}

body.business,
html.business{
  background-color: $blue-light;
  overflow-y: scroll;
}

body.a-modal-background,
html.a-modal-background {
  background: $blue;
  overflow-y: scroll;
}

body.a-modal-background-success,
html.a-modal-background-success {
  background: $green-light;
}

body.a-modal-background-error,
html.a-modal-background-error {
  background: $red-light;
}

mark, .mark {
  padding: 0;
  background-color: $yellow-light;
}

.a-bgGreyLight {
  background-color: $grey-light;
  color: $black;

  &:hover {
    background: darken($grey-light, 2%)
  }
}

.a-bgPurple {
   background-color: $purple;
   color: $white;
}

.a-bgPurpleLight {
  background-color: $purple-light;
  color: $black;
}

.a-bgYellow {
  background-color: $yellow;
  color: $black;
}

.a-bgYellowLight {
  background-color: $yellow-light;
  color: $black;
}

.a-bgBlue {
   background-color: $blue;
   color: $white;
}

.a-bgBlueLight {
   background-color: $blue-light;
   color: $white;
}

.a-bgBlueDark {
   background-color: $blue-dark;
   color: $white;
}
.a-bgBlueDarker {
   background-color: $blue-darker;
   color: $white;
}

.a-bgRed {
  background-color: $red;
  color: $black;
}

.a-bgRedLight {
  background-color: $red-light;
  color: $black;
}

.a-bgGreen {
  background-color: $green;
  color: $black;
}
.a-bgGreenLight {
  background-color: $green-light;
  color: $black;
}

.a-dimBackground {
    background: rgba(0,0,0,0.3)
}

/* Disabled background */
.a-disabled {
  cursor: not-allowed;
  background-color: $white;
  color: $black;
  box-shadow: 0px 0px 0px 1px white inset;
  background-image: url("../images/disabled-background.svg");
  background-repeat: repeat;
  background-size: auto;
}

/* Panels with backbround-color */
.a-bgPanel {
    padding: $spacer*2;
    background-color: $white;
    border-radius: 0px;
    margin-bottom: $spacer;
    box-shadow: $shadow;

    &.a-bgPanel-grey {
        background-color: $grey-light;
    }
    &.a-bgPanel-blueLight {
        background-color: $blue-light;
    }
}



/* Text colors */
.a-textGreen {
  color: $green;
}
.a-textBlue {
  color: $blue;
}

/* Horizontal Rule */
hr {
    border: 0;
    height: 2px;
    background: transparent;
    margin: 40px 0;
    border-bottom: 1px solid $grey-medium;
    width: 100%;
    float: left;
}
hr.a-hr-smallPadding {
    margin: 24px 0;
}
hr.a-hrLight {
    border-bottom: 1px solid $grey-light;
}

hr.a-hrDotted {
  border:0;
  width: 100%;
  height: 2px;
  display: block;
  background-image: linear-gradient(to right, $blue 50%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 4px 2px;
  background-repeat: repeat-x;
}

// Horizontal Rule - Dotted border
.a-dotted {
  background-image: linear-gradient(to right, $blue 50%, rgba(255,255,255,0) 0%);
	background-position: 25px bottom; // Must be either top or bottom, not both. If both are needed, add a div with class "a-dotted-line" before or after the element.
	background-size: 4px 2px;
	background-repeat: repeat-x;
}
.a-dotted-line {
    width: 100%;
    height: 2px;
    display: block;
    background-image: linear-gradient(to right, $blue 50%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 4px 2px;
    background-repeat: repeat-x;
}

/* Horizontal Rule - Dotted AND disabled */
.a-dotted.a-disabled {
  cursor: not-allowed;
  color: #000;
  box-shadow: none;
  background-image: url("../images/disabled-background.svg"), linear-gradient(to right, $blue 50%, rgba(255,255,255,0) 0%);
  background-color: #fff, transparent;
  background-position: 25px bottom;
  background-repeat: repeat, repeat-x;
  background-size: auto, 4px 2px;
  background-blend-mode: darken;
}

/* Grid Edit */
.container-fluid {
  padding: 0;
}
.a-noColPadding {
    margin: 0;

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xs, .col-sm, .col-md, .col-lg, .col-xl {
        padding-left: 0;
        padding-right: 0;
    }
}
