//------------------------------------*\
//  GLOBAL CLASSES
//------------------------------------*/

html {
  width: 1px;
  min-width: 100%;
}

html,
body {
  font-family: $font;
  font-weight: $font-weight-reg;
  color: $black;
  letter-spacing: $font-letter-spacing;
  background-color: $grey-light;
}

body {
  @include a-fontSize16;
}

// Selection style
::selection {
  color: $black;
  background: $purple-light;
}

// Light Backround colors

.a-bgWhite {
  // Default background on body
  background-color: $white;
}

.a-bgGreyLight {
  // Background on body if logged in as private person
  background-color: $grey-light;
}

.a-bgBlue {
  background-color: $blue;
}

.a-bgBlueLight {
  // Background on body if logged in as business
  background-color: $blue-light;
}

.a-bgPurpleLight {
  background-color: $purple-light;
}

.a-bgYellow {
  background-color: $yellow;
}

.a-bgYellowLight {
  background-color: $yellow-light;
}

.a-bgRedLight {
  background-color: $red-light;
}

.a-bgGreen {
  background-color: $green;
}

.a-bgGreenLight {
  background-color: $green-light;
}

// Dark background colors with white text
.a-bgPurple,
.a-bgBlueDark,
.a-bgBlueDarker,
.a-bgRed {
  color: $white;
}

.a-bgPurple {
  background-color: $purple;
}

.a-bgBlueDark {
  background-color: $blue-dark;
}

.a-bgBlueDarker {
  background-color: $blue-darker;
}

.a-bgRed {
  background-color: $red;
}

// Dim background
.a-dimBackground {
  background: $black-opacity-03;
}

// Body backgrounds
body,
html {
  &.a-modal-background-success {
    background: $green-light;
  }

  &.a-modal-background {
    background: $blue;
  }

  &.a-modal-background-error {
    background: $red-light;
  }
}


// Disabled background
.a-disabled {
  @include disabled-background ( $background-image: url( '../images/disabled-background.svg' ) );
}

// Panels with background-color
.a-bgPanel {
  padding: $spacer * 2;
  margin-bottom: $spacer;
  background-color: $white;
  border-radius: 0;
  box-shadow: $shadow;

  &.a-bgPanel-grey {
    background-color: $grey-light;
  }

  &.a-bgPanel-blueLight {
    background-color: $blue-light;
  }
}

// Placeholder background
.a-placeholderBackground {
  background-image: url('../../images/brick_pattern.svg');
  background-repeat: repeat;
  background-size: 13%;
  background-blend-mode: multiply;
}

/* Text colors */

.a-textGreen {
  color: $green;
}

.a-textWhite {
  // sass-lint:disable-block no-important
  color: $white !important;
}

.a-textBlue {
  color: $blue;
}


/* Horizontal Rule */

hr {
  float: left;
  width: 100%;
  height: 2px;
  margin: 40px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid $grey-medium;

  &.a-hr-smallPadding {
    margin: 24px 0;
  }

  &.a-hrLight {
    border-bottom: 1px solid $grey-light;
  }

  &.a-hrDotted {
    display: block;
    width: 100%;
    height: 2px;
    background-image: $dotted-border-blue;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 4px 2px;
    border: none;
  }
}



// Horizontal Rule - Dotted border
.a-dotted {
  background-image: $dotted-border-blue;
  background-repeat: repeat-x;
  background-position: 25px bottom; // Must be either top or bottom, not both. If both are needed, add a div with class "a-dotted-line" before or after the element.
  background-size: 4px 2px;

  /* Horizontal Rule - Dotted AND disabled */
  &.a-disabled {
    @include disabled-background( $box-shadow: none, $background-image: url( '../images/disabled-background.svg' ), $background-image-extra: linear-gradient( to right, $blue 50%, $white 0% ) );

    background-repeat: repeat, repeat-x;
    background-position: 25px bottom;
    background-size: auto, 4px 2px;

    background-blend-mode: darken;
  }

  .popover-big & {
    background-image: $dotted-border-black;
  }
}

.a-dotted-line {
  display: block;
  width: 100%;
  height: 2px;
  background-image: $dotted-border-blue;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 4px 2px;
}

.a-dotted-line-top {
  display: block;
  width: 100%;
  height: 2px;
  background-image: $dotted-border-blue;
  background-repeat: repeat-x;
  background-position: top;
  background-size: 4px 2px;
}

// SR-only
.sr-only-focusable {
  &:active,
  &:focus {
    // sass-lint:disable-block no-important
    position: static;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 5px;
    padding-left: 10px;
    margin: 0;
    overflow: visible;
    clip: auto;
    font-size: small;
    font-weight: bolder;
    text-decoration: underline;
    background-color: $white;
    border-bottom: none;
    box-shadow: none !important;
  }
}

// Dont display theme-switch outside of PatternLab
.sg-switchtheme {
  display: none;
}
