/*------------------------------------*\
    Javascript classes
\*------------------------------------*/

// Propagated content selectors
.a-js-propagatedContentOrigin,
.a-js-bodyClassPersist {
  display: none;
}

.container,
.row {
  &:focus {
    box-shadow: none !important;
  }
}

.a-js-hidden {
  display: none;
}

.a-js-loadMorePersonSwitcherInfo + .a-logo-anim {
  margin-right: auto;
  margin-bottom: -15px;
  margin-left: auto;
}
