// External Links with explanation and arrow
// sass-lint:disable-all


a[href^="http"]:not([href*='altinn.no'])::after {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url($images-base-url + 'arrowrightup.svg');
  background-repeat: no-repeat;
  background-position: -3px -1px;
  background-size: 146% auto;
  line-height: 1;

  // Alternative text
  content: '(external link)';
  white-space: nowrap;
  overflow: hidden;
  text-indent: 1em; // The width of the icon
}

.a-list {
  li {
    &.a-list-hasRowLink {
      a[href^="http"]:not([href*='altinn.no'])::after {
        top: 9px;
        right: -12px;
      }
    }
  }
}
