/* Links */ 

.a-link, 
.a-link:active,
.a-link:focus { 
    color: $black;
    padding-bottom: 4px;
    border-bottom: 2px solid $link-color;
    text-decoration: none;
    cursor: pointer;

    .a-link-arrow {
		display: inline;
		font-size: 20px;
	    position: absolute;
	    margin-left: 5px;  
	    margin-top: 2px;
	    color: $grey;
	}
}    

.a-link:hover,
.a-link:focus { 
    text-decoration: none;
    border-bottom: 2px solid $blue-dark;;
    color: $black;
	
	
}    

p a {
	color: $blue-dark;
	text-decoration: underline;
}