/* Links in text */

a {
  position: relative;
  padding-bottom: 2px;
  color: $black;
  border-bottom: 1px solid $link-color;

  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;
    border-bottom: 1px solid $blue-dark;
  }

  &.no-decoration {
    padding-bottom: 0;
    color: $black;
    text-decoration: none;
    border: none;

    &:hover,
    &:focus {
      text-decoration: none;
      border-bottom: none;
    }
  }
}

/* Set the touch and focus area of the link */
.a-linkArea {
  // sass-lint:disable-block no-important
  position: relative;
  z-index: 1;
  box-shadow: none !important;

  &::before {
    position: absolute;
    top: -15px;
    left: -12px;
    z-index: -1;
    width: calc( 100% + 24px );
    min-height: 48px;
    cursor: pointer;
    content: '';
  }
}

[data-toggle='popover'] {
  &::before {
    // sass-lint:disable-block no-important
    box-shadow: none !important;
  }
}

/* Links standalone */
.a-link {
  @extend .a-fontSizeS;
  position: relative;
  z-index: 1;
  padding-bottom: 3px;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid $link-color;

  &:active,
  &:focus,
  &:hover {
    // sass-lint:disable-block no-important
    color: $black;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid $blue-dark;
    box-shadow: none !important;

    &.a-link-danger {
      border-bottom: 2px solid darken( $red, 15% );
    }
  }

  &.a-link-large {
    @extend .a-fontSizeM;
  }

  &.a-link-modalTop {
    @include media-breakpoint-up( md ) {
      margin-right: -3 * $spacer;
    }
  }

  &.a-link-title {
    @include a-fontBold;
    @include a-fontSize20;
    display: inline;
    padding-bottom: 0;

    &+p {
      margin-top: $spacer;
    }
  }

  &.a-link-danger {
    border-bottom: 2px solid $red;
  }

  .a-headingSizeM & {
    padding-bottom: 2px;
  }
}

// EXTERNAL AND INTERNAL LINKS
.a-link-arrow {
  position: inline;
  padding-top: 2px;
  padding-left: 4px;
  font-style: normal;
}

// Help icon
.a-helpIconButton {
  color: $grey;
  border: none;

  &:hover {
    text-decoration: none;
    border-bottom: none;
  }

  &:focus {
    border-bottom: none;
  }

  i {
    @include a-fontSize22;
    margin-top: -4px;
    vertical-align: middle;
  }

  &.a-helpIconButton--blue {
    color: $blue;
  }
}


/* Special Links */
.a-link-tel,
.a-link-mail {
  @include a-fontBold;
  @include a-fontSize18;
  position: relative;
  color: $blue-darker;
  border-bottom: none;

  i {
    margin-top: -3px;
    vertical-align: middle;
  }

  &:focus,
  &:active,
  &:hover {
    border: none;

    &:not(.override-focus) {
      color: $blue-dark;
      border: none;
      box-shadow: none;
    }
  }

  &::before {
    position: absolute;
    top: -15px;
    left: -20px;
    z-index: -1;
    width: calc( 100% + 40px );
    min-height: 48px;
    cursor: pointer;
    content: '';
  }
}

/* Hover underline */

.a-hvr-underline {
  &:hover {
    @include media-breakpoint-up( md ) {
      border-bottom: 3px solid $blue-dark;
    }
  }
}

/* Icon resizing */

.a-bigger-icon {
  &.a-bigger-icon-before {
    i {
      margin-top: -4px;

      &::before {
        @include a-fontSize24;
      }
    }
  }

  &.a-bigger-icon-span {
    i {
      @include a-fontSize24;
      margin-top: -3px;
    }
  }
}
