/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/* Flexible Media */
img, video, object {
	max-width: 100%;
	height: auto;
	border: none;
}

img {
	margin-bottom: $space;
}

iframe {
	margin-bottom: $space;
}

figure {
	margin-bottom: $space-x2;
	    float: left;
	img {
		margin-bottom: $space-half;
	}
}
figcaption {
    font-style: normal;
    color: #7D726D;
    font-size: 16px;
}
