/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/


/* Flexible Media */

img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
}



// ----------------------------------
// Text next to media
// ----------------------------------
.a-media {
  display: block;

  @include media-breakpoint-up( md ) {
    display: flex;
  }

  img {
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer * 3;

    @include media-breakpoint-up( md ) {
      max-width: 300px;
      margin-bottom: 0;
    }

    @include media-breakpoint-up( lg ) {
      max-width: 400px;
    }

    @include media-breakpoint-up( xl ) {
      max-width: 500px;
    }
  }
}

// ----------------------------------
// Blockquote
// ----------------------------------

.a-blockquote {
  @include a-fontReg;
  padding-left: $spacer * 2;
  color: $black;
  text-align: left;
  border-left: 6px solid $blue;

  @include media-breakpoint-up( md ) {
    border-left: none;
  }
  @include media-breakpoint-up( lg ) {
    padding-left: $spacer * 4;
  }

  p {
    @extend .a-fontSizeXL;
  }

  .a-citation {
    @include a-fontSize14;
    @include a-fontBold;
    font-style: normal;
    @include media-breakpoint-up( lg ) {
      @include a-fontSize16;
    }
  }

  &.a-blockquote-right {
    margin-top: $spacer * 2;
    margin-bottom: $spacer * 2;
    border-left: 6px solid $blue;
  }
}

blockquote {
  &::before,
  &::after {
    content: '';
  }
}


// ----------------------------------
// Icon instead of illustration
// ----------------------------------

.a-illustrationLink {
  display: block;
  margin-bottom: $spacer * 4;
  border: none;

  h2 {
    @include a-fontBold;
    text-align: center;
  }

  p {
    min-height: 48px;
    text-align: center;
  }

  &:hover {
    border: none;

    .a-illustration-icon {
      background: $blue;
    }
  }
}

.a-illustration-icon {
  @include a-fontSize30;
  display: flex;
  width: 100px;
  height: 100px;
  margin: auto;
  color: $white;
  text-align: center;
  background: $purple;
  border-radius: 50%;
  align-self: center;

  @include media-breakpoint-up( md ) {
    width: 120px;
    height: 120px;
  }

  @include media-breakpoint-up( lg ) {
    @include a-fontSize36;
    width: 140px;
    height: 140px;
  }

  @include media-breakpoint-up( xl ) {
    width: 170px;
    height: 170px;
  }

  i {
    width: 100%;
    align-self: center;
  }
}
