/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/


/* Flexible Media */

img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
}



// ----------------------------------
// Text next to media
// ----------------------------------
.a-media {
  display: block;

  @include media-breakpoint-up( md ) {
    display: flex;
  }

  img {
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer * 3;

    @include media-breakpoint-up( md ) {
      max-width: 300px;
      margin-bottom: 0;
    }

    @include media-breakpoint-up( lg ) {
      max-width: 400px;
    }

    @include media-breakpoint-up( xl ) {
      max-width: 500px;
    }
  }
}

// ----------------------------------
// Blockquote
// ----------------------------------

.a-blockquote {
  padding-left: $spacer * 2;
  font-family: $font;
  color: $black;
  text-align: left;
  border-left: 6px solid $blue;

  @include media-breakpoint-up( md ) {
    border-left: none;
  }
  @include media-breakpoint-up( lg ) {
    padding-left: $spacer * 4;
  }

  p {
    font-size: 18px;
    line-height: 24px;

    @include media-breakpoint-up( md ) {
      font-size: 22px;
      line-height: 28px;
    }
    @include media-breakpoint-up( lg ) {
      font-size: 28px;
      line-height: 36px;
    }
  }

  .a-citation {
    font-family: $font-bold;
    font-size: 18px;
    font-style: normal;
    font-weight: $font-weight-bold;
  }

  &.a-blockquote-right {
    margin-top: $spacer * 2;
    margin-bottom: $spacer * 2;
    border-left: 6px solid $blue;
  }
}

blockquote {
  &::before,
  &::after {
    content: '';
  }
}
