/*------------------------------------*\
*  PRESENTATION OF STYLE GUIDE
*  NB: Include this file only for the patternlab-designsystem
*
*  sg = Style Guide
\*------------------------------------*/

// NB: Pattern Lab header and navigation can not be overwritten inside of source-folder, must be changed inside core-folder.

/*------------------------------------*/


// Pattern Lab TOP hero

.sg-top {
	background: $blue-light;
	color: $black;
	padding: 100px 0 120px 0;
  border-bottom: 6px solid $white;

  h1,h2 {
    color: $black;
  }

  img {
    float: right;
    padding-top: 30px;
  }
}

// Spinning atom in Pattern Lab Top hero
.sg-atom {
  display: block;
  width: 250px;
  height: 250px;
  float: right;
  margin-top: 24px;
  margin-right: 0.5rem;
  background: url(../images/lab5.svg) no-repeat;
  background-size: 100% 100%;
  animation: rotation 30s linear infinite;
}

@-webkit-keyframes rotation { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotation { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); } }
@-o-keyframes rotation { 0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); } }
@keyframes rotation { 0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } }

// Pattern Lab states explanation

.sg-statesExplanation {
  background: $white;
  padding: 24px 0;

  .sg-pattern-state-inprogress {
    color: $red;
  }
  .sg-pattern-state-inreview {
    color: #FFA900;
  }
  .sg-pattern-state-complete {
    color: $green;
  }
}

.sg-pattern-state:before {
    margin-bottom: 0;
  }

  .sg-pattern-state:before {
    font-size: 30px;
  }
span.sg-pattern-state:before {
    margin-bottom: -12px;
    /* margin-left: 4px; */
}

// Pattern titles for components on ALL-page
.sg-pattern-head {
  margin: 18px 0;
  padding: 6px 0;

  .patternLink,
  .patternLink:hover {
    border: none;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'DIN-light';
  }
}

// Annotations & code
// TODO: Make it posible to show/hide code and comment for each component (Javascript)

.sg-annotations {
    padding: 24px;
    background-color: $yellow-light;
    p {
      color: $black;
    }
    a {
        text-decoration: none;
    }
}

a.asg-editcomment {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  margin-left: 12px;
}

.asg-toggle {
  position: absolute;
  right: 0;
  top: 24px;

  @media all and (max-width: $bp-large) {
    top: 18px;
  }
}

a.asg-toggle-annotation,
a.asg-toggle-code {
    padding: 0px 12px 2px 12px;
    margin-left: 12px;
    float: right;
    line-height: 25px;
    border: 2px solid #e6e6e6;
    color: $black;
    background: #e6e6e6;
    border-radius: 50px;

    &:hover {
      border: none;
      background: $white;
      border: 2px solid $white;
    }
    &:active {
      border: 2px solid $blue;
      background: #fff;
      color: $black;

      -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    }
}


// Code view in Pattern Lab
.sg-code  {
    background: #000;
      pre {
      color: #fff;
       margin-bottom: -20px;
    }
    .sg-code-head {
      margin: 0;
  }
}

// Switch theme (Private or Business)

.sg-switchtheme {
  position: fixed;
  bottom: 0;
  width: 100%;
  background:$white;
  z-index: 9999;
  padding: 12px 0;
  border-top: 2px solid $grey-light;
}
