/*------------------------------------*\
*  PRESENTATION OF STYLE GUIDE 
*  NB: Include this file only for the patternlab-designsystem
*
*  sg = styleguide 
\*------------------------------------*/

// Patternlab TOP

.sg-top {
	background: $purple;
	color: $white;
	padding: 100px 0 120px 0;

  h1 {
    color: $white;
  }
  .a-btn {
    background: $white;
    color: $black;
  }
} 

// Patternlab Grid examples

.sg-gridExample .row { 
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
}
.sg-gridExample .row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
.sg-gridExample [class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem; 
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
} 

// Patternlab Color palette

.sg-colors {
	list-style: none;
} 

.sg-colors li {
  border: none;
  width: 100%;

  @media screen and (min-width: $bp-med) { 
	width: 33%;
  	max-width: 200px;
  }
}

.sg-swatch {
	border-radius: 2px;
	width: 100%;
    display: block;
    height: 80px;
    margin-bottom: 10px;

	@media screen and (min-width: $bp-med) { 
	}
}

.sg-label {
	display: block;
}

// Patternlab all icons

.sg-iconPreview {
  display: inline;
  float: left;
  text-align: center;
  margin-bottom: $pad;
  padding: $pad;
  padding-top: 0;
  &:hover {
    background-color: rgba(255,255,255, 0.5);
  }
}

.sg-iconPreview-caption {
  display: block;
  font-size: $font-size-small;
  color: $grey;
}

.sg-icon {
	width: 100px;
  height: 100px;
  margin-bottom: 0;
}

.sg-systemicon {
	width: 50px;
}
 
.material-icons.sg-fonticon {
  color: $black; 
  font-size: 36px; 
}

// Patternlab TYPO

.sg-typo {
  border-bottom: 1px dotted rgba(0,0,0,0.1);
  background: $white;
      padding: 30px 0 30px 40px;

      &:hover {
        background: #F9F9F9;
      }
}

.sg-typo-activeSize-m { // mobile
    @media all and (max-width: $bp-med) {
        color: $green;
        font-family: 'DIN-bold';
    }
}
.sg-typo-activeSize-t { // tablet
    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
        color: $green;
        font-family: 'DIN-bold';
    }
}

.sg-typo-activeSize-l { // laptop
    @media all and (min-width: $bp-large) and (max-width: $bp-xlarge) {
        color: $green;
        font-family: 'DIN-bold'; 
    }
}

.sg-typo-activeSize-d { // desktop
    @media all and (min-width: $bp-xlarge) {
        color: $green;
        font-family: 'DIN-bold';
    }
}


// Annotations & code

.sg-annotations {
    padding: 40px;
    background-color: $yellow-light;
    p {
      color: $black;
    }
}

.sg-code  {
    background: #000;
      pre {
      color: #fff;
    }
}
