/*------------------------------------*\
*  PRESENTATION OF PROFILE
*  NB: Include this file only for the patternlab-designsystem
*
*  ap = Altinn Profile
\*------------------------------------*/

body {
  &.ap-profile {
    overflow-x: hidden;
    background: $white;
  }

  &.ap-profile-pattern {
    overflow: hidden;
  }
}

iframe {
  .ap-showPatternlab {
    width: 100%;
    height: 100vh;
    margin: 0;
    border: none;
  }
}

.ap-navbarLeft-contentContainer {
  @include media-breakpoint-up(md) {
    margin-left: 300px;
  }
}

.ap-content {
  @include media-breakpoint-up(md) {
    margin-top: 60px;
  }

  max-width: 900px;
  padding: 24px;
  margin: auto;
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12 {
    padding-right: 6px;
    padding-left: 6px;
  }
}

// SIDE NAV FOR ALTINN PROFILE MANUAL
// TODO: Could possibly be global and reused for other sites of Altinn
.ap-sideNav {
  display: block;
  width: 100%;
  padding: 0;

  @include media-breakpoint-up(md) {
    width: 300px;
  }

  .ap-sideNav-top {
    display: block;
    width: 100%;
    padding: 36px 12px;
    text-align: center;
    border-bottom: 1px solid $grey-light;

    @include media-breakpoint-up(md) {
      position: fixed;
      top: 0;
      left: 0;
      width: 300px;
      border-right: 1px solid $grey-light;
    }

    img {
      width: 160px;
      margin: auto;
      margin-bottom: 12px;
    }

    h1 {
      margin-bottom: 0;
      font-family: $font-light;
      font-size: 16px;
      font-weight: $font-weight-light;
      line-height: 30px;
      color: $grey-medium;
    }
  }

  // Titlebar (Shows only for small screens)
  .ap-sideNav-mobilebar {
    @include media-breakpoint-up(md) {
      display: none !important;
    }

    position: relative;
    color: $white;
    cursor: pointer;

    background: $blue-dark;
    :after {
      position: absolute;
      top: 50%;
      right: 1rem;
      display: block;
      width: 0;
      height: 0;
      margin-top: -4px;

      content: '';
      border: inset 6px;
      border-color: $white transparent transparent;
      border-top-style: solid;
      border-bottom-width: 0;
      transition: all 300ms ease;

      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
    }
    &.open {
      :after {
        transition: all 300ms ease;
        transform: scaleY(-1);
        transform-origin: 50% 50%;

        -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);

        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
      }
    }
    .ap-sideNav-mobilebar-toggle {
      display: block;
      padding: 12px 24px;
      i {
        margin-top: -3px;
        margin-right: 7px;

        vertical-align: middle;
      }
    }
  }
  .ap-sideNav-collapse {
    @include media-breakpoint-up(md) {
      position: fixed;
      top: 139px;

      display: block !important;

      width: 300px;
      overflow-y: scroll;
      border-right: 1px solid $grey-light;
      ;
    }

    display: none;

    width: 100%;
    height: 100%;
    padding: 0;
    background: $white;
    ul {
      padding-bottom: 139px + $spacer;

      background: $white;
    }
    .menu>li>a {
      line-height: inherit;
      text-decoration: none;
    }
    //Link
    .ap-sideNav-link {
      display: block;

      padding: 17px 24px;
      font-family: $font-reg;
      font-weight: $font-weight-reg;
      color: $black;
      border-bottom: 1px solid $grey-light;
      &:hover {
        background: $grey-light;
      }
      &.nav-link-hassub {
        border: 0;
      }
      .a-icon {
        color: $grey-medium;
      }
    }
    // Active item
    .ap-nav-active,
    .ap-nav-active:hover {
      background: lighten($grey-light, 4%);
      border-left: 6px solid $blue-dark;
      .ap-sideNav-link {
        padding: 17px 19px;
      }
    }
    // Level 2
    ul.nested {
      padding-bottom: 0;

      margin-left: 0;
      li {
        background: #F9F9F9;
        .ap-sideNav-link {
          padding: 11px 24px 11px 36px;
          font-family: $font-light;
          font-weight: $font-weight-light;
          border-top: 1px solid transparent;
          border-bottom: 1px solid $white;
        }
        &:last-child {
          border-bottom: 1px solid $white;
        }
        &:first-child {
          z-index: 1000;

          margin-top: -1px;
        }
        &.ap-nav-active,
        &.ap-nav-active:hover {
          background: lighten($grey-light, 2%);
          .ap-sideNav-link {
            padding: 11px 24px 11px 30px;
          }
        }
      }
    }
  }
  // ARROW
  .is-accordion-submenu-parent>a:after {
    right: 24px;

    border-color: $grey-medium transparent transparent;
  }
}

// Content next to sidenav
@include media-breakpoint-down(md) {
  .ap-collapse-content {
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
  }
}

// Standard Code view, highlight code lines
.ap-highlight {
  padding: 12px;
  margin: 12px 0;

  background: $grey-light;
  border-radius: 5px;
  pre {
    margin: 0;
  }
}

// Black code snippets view with PRETTYPRINT
pre.prettyprint {
  width: 100% !important;
}

// Color combinations
.ap-colorCircle {
  display: inline-block;

  width: 48px;
  height: 48px;
  padding-top: 8px;
  margin-right: 1rem;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 999px;
}

// Shadows
.ap-shadowBox {
  display: block;
  width: 100px;

  height: 100px;
  background: #FFFFFF;
  box-shadow: 1px 1px 4px 0px rgba(137, 137, 137, 0.5);

  -webkit-box-shadow: 1px 1px 4px 0 rgba(137, 137, 137, 0.5);
}

// Patternlab Grid examples
.ap-gridExample .row {
  margin-bottom: 24px;
}

.ap-gridExample .row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}

.ap-gridExample-col {
  float: left;
  width: 100%;

  padding: 12px 0;
  text-align: center;
  background-color: rgba(86, 61, 124, .15);
}

// Patternlab Color palette
.ap-colors {
  clear: both;

  list-style: none;
  li {
    @include media-breakpoint-up(md) {
      width: 25%;
      &:last-child {
        padding-right: 0;
      }
    }

    float: left;
    width: 100%;
    padding: 0 10px 0 0;
    margin: 0;

    border: none;
  }
}

.ap-colorLabel {
  display: none;
  line-height: 24px;
}

.ap-swatch {
  position: relative;
  display: block;
  width: 100%;
  height: 72px;
  padding-top: 15px;
  margin-bottom: 10px;
  text-align: center;

  border-radius: 2px;
  .ap-colorLabel {
    position: absolute;
    top: 12px;
    right: -100%;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 0;
    transition: 0.2s all;

    -webkit-transition: 0.2s all;
  }
  &:hover .ap-colorLabel {
    right: 0;

    display: block;
    opacity: 1;
  }
}

// Patternlab multiple color icons
.ap-iconPreview {
  display: inline;
  float: left;
  padding: $spacer;
  padding-top: 0;
  margin-bottom: $spacer;
  text-align: center;
  &:hover {
    background-color: $grey-light;
  }
}

.ap-iconPreview-caption {
  display: block;
  font-size: $font-size-small;
  color: $grey;
}

.ap-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 0;
}

.ap-systemicon {
  width: 50px;
}

.material-icons.ap-fonticon {
  font-size: 36px;

  color: $black;
}

// Icons Fort Awesome
.ap-kitIcons {
  margin-bottom: 24px;
  .ap-kitIcons-icon {
    display: inline-block;
    padding: 12px 24px;
    color: $grey-medium;

    text-align: center;
    border: none;
    border-radius: 5px;
    &:hover {
      color: $white;

      background: $blue;
    }
  }
  .ap-kitIcons-name {
    display: block;
    font-family: $font-light;

    font-size: 14px;
    font-weight: $font-weight-light;
  }
}

// Patternlab TYPO
.ap-typo-container {
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
}

.ap-typo {
  padding: 30px 0 30px 40px;
  background: $white;

  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  &:hover {
    background: #F9F9F9;
  }
  h1,
  h2,
  h3,
  h4 {
    margin-top: 0;
  }
}

.ap-typo-activeSize-m {
  // mobile
  @include media-breakpoint-down(sm) {
    font-family: $font-bold;
    font-weight: $font-weight-bold;

    color: $green;
  }
}

.ap-typo-activeSize-t {
  // tablet
  @include media-breakpoint-only(md) {
    font-family: $font-bold;
    font-weight: $font-weight-bold;

    color: $green;
  }
}

.ap-typo-activeSize-l {
  // laptop
  @include media-breakpoint-only(lg) {
    font-family: $font-bold;
    font-weight: $font-weight-bold;

    color: $green;
  }
}

.ap-typo-activeSize-d {
  // desktop
  @include media-breakpoint-up(xl) {
    font-family: $font-bold;
    font-weight: $font-weight-bold;

    color: $green;
  }
}
