/*------------------------------------*\
*  PRESENTATION OF PROFILE
*  NB: Include this file only for the patternlab-designsystem
*
*  ap = altinn profile
\*------------------------------------*/

body.ap-profile {
  background: $white;
}

body.ap-profile-pattern {
  overflow: hidden;
}

iframe.ap-showPatternlab {
  width: 100%;
  height: 100vh;
  margin: 0;
  border: 0;
  border-left: 5px solid $white;
}

.ap-navbarLeft-content {

  @media screen and (min-width: $bp-med) {
      margin-left: 300px;
    }

}

.ap-main {
  max-width: 900px;
  margin: auto;
  margin-top: 60px;
}


.ap-navbarLeft {
    padding: 0;
    width: 100%;
    display: block;

    @media screen and (min-width: $bp-med) {
      width: 300px;
    }

    .ap-navbarLeft-collapse {
      width: 100%;
      height: 100%;
      background: #D2EFFD;
      position: fixed;
      overflow: hidden;

      @media screen and (min-width: $bp-med) {
        width: 300px;
        top: 0;
      }
    }

    .navbar-brand,
    .navbar-nav,
    .navbar-nav .nav-item {
      float: none;
      margin-left: 0;
    }

    .navbar-brand {
      background: $blue-dark;
      color: $white;
      display: block;
      padding: 36px 12px;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid $white;

      img {
        width: 160px;
        margin: auto;
        margin-bottom: 12px;
      }

      h1 {
        color: $white;
        font-family: 'DIN-reg';
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 0;
      }
    }

    .nav-link {
      padding: 12px;
      color: $black;
      font-family: 'DIN-medium';
      border-bottom: 1px solid $white;

      &:hover {
        background: #BEDFEF;
      }

      &.nav-link-hassub {
        border:0;
      }
    }


     .nav-item {
      &.nav-item-level2 {
         .nav-link {
            padding-left: 24px;
            font-family: 'DIN-reg';
            border-bottom: 0;
          }
          &:last-child {
            border-bottom: 1px solid $white;
          }
          &:first-child {
            margin-top: -1px;
            z-index: 1000;
            background-color: $blue-light;
          }
      }
    }

    .ap-nav-active,
    .ap-nav-active:hover, {
      background: $blue-dark;
      color: $white;
    }

    .ap-nav-hide {
      display: none;
    }

}

@media screen and (max-width: $bp-med) {

  .ap-collapse-content {
    position: absolute;
    height: 100%;
    width: 0%;
    overflow: hidden;
  }

  .collapse.in .ap-collapse-content {
    width: 100%;
  }
}

// View code snippets

pre.prettyprint {
    width: 100% !important;
}

// Color combinations

.sg-colorCircle{
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 999px;
    margin-right: 1rem;
    font-size: 24px;
    padding-top: 8px;
    text-align: center;
    vertical-align: middle;
}

// Shadows

.ap-shadowBox {
  height: 100px;
  width: 100px;
  display: block;
  background: #fff;
  box-shadow: 1px 1px 4px 0px rgba(137, 137, 137, 0.5);
  -webkit-box-shadow: 1px 1px 4px 0 rgba(137,137,137,0.5);
}
