/*------------------------------------*\
*  PRESENTATION OF PROFILE
*  NB: Include this file only for the patternlab-designsystem
*
*  ap = Altinn Profile
\*------------------------------------*/

body.ap-profile {
  background: $white;
  overflow-x: hidden;
}

body.ap-profile-pattern {
  overflow: hidden;
}

iframe.ap-showPatternlab {
  width: 100%;
  height: 100vh;
  margin: 0;
  border: 0;
}

.ap-navbarLeft-contentContainer {
  @include media-breakpoint-up(md) {
    margin-left: 300px;
  }
}

.ap-content {
  max-width: 900px;
  margin: auto;
  padding: 24px;

  @include media-breakpoint-up(md) {
    margin-top: 60px;
  }
}

// SIDE NAV FOR ALTINN PROFILE MANUAL
// TODO: Could possibly be global and reused for other sites of Altinn
.ap-sideNav {
  padding: 0;
  width: 100%;
  display: block;

  @include media-breakpoint-up(md) {
    width: 300px;
  }

  .ap-sideNav-top {
    display: block;
    padding: 36px 12px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $grey-light;

    @include media-breakpoint-up(md) {
      position: fixed;
      top: 0;
      left: 0;
      border-right: 1px solid $grey-light;
      width: 300px;
    }

    img {
      width: 160px;
      margin: auto;
      margin-bottom: 12px;
    }

    h1 {
      color: $grey-medium;
      font-family: 'DIN-light';
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 0;
    }
  }

  // Titlebar (Shows only for small screens)
  .ap-sideNav-mobilebar {
    background: $blue-dark;
    color: $white;
    cursor: pointer;
    position: relative;

    @include media-breakpoint-up(md) {
      display: none !important;
    }

    :after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border: inset 6px;
      border-color: $white transparent transparent;
      border-top-style: solid;
      border-bottom-width: 0;
      position: absolute;
      top: 50%;
      margin-top: -4px;
      right: 1rem;

      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
    }

    &.open {
      :after {
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        transform: scaleY(-1);

        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
      }
    }

    .ap-sideNav-mobilebar-toggle {
      display: block;
      padding: 12px 24px;

      i {
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 7px;
      }
    }
  }

  .ap-sideNav-collapse {
    width: 100%;
    height: 100%;
    background: $white;
    padding: 0;
    display: none;

    @include media-breakpoint-up(md) {
      display: block !important;
      position: fixed;
      overflow-y: scroll;;
      width: 300px;
      top: 139px;
      border-right: 1px solid $grey-light;
    }

    ul {
      background: $white;
      padding-bottom: 139px + $spacer;
    }
    .menu>li>a {
      line-height: inherit;
      text-decoration: none;
    }

    //Link
    .ap-sideNav-link {
      padding: 17px 24px;
      color: $black;
      font-family: 'DIN-reg';
      border-bottom: 1px solid $grey-light;
      display: block;

      &:hover {
        background: $grey-light;
      }

      &.nav-link-hassub {
        border:0;
      }

      .a-icon {
        color: $grey-medium;
      }
    }


    // Active item
    .ap-nav-active,
    .ap-nav-active:hover {
      background: lighten($grey-light, 4%);
      border-left: 6px solid $blue-dark;

      .ap-sideNav-link {
        padding: 17px 19px;
      }
    }

    // Level 2
    ul.nested {
      margin-left: 0;
      padding-bottom: 0;
      li {
        background: #f9f9f9;
        .ap-sideNav-link {
          padding: 11px 24px 11px 36px;
          font-family: 'DIN-light';
          border-top: 1px solid transparent;
          border-bottom: 1px solid $white;
        }
        &:last-child {
          border-bottom: 1px solid $white;
        }
        &:first-child {
          margin-top: -1px;
          z-index: 1000;
        }

        &.ap-nav-active,
        &.ap-nav-active:hover {
          background: lighten($grey-light, 2%);

          .ap-sideNav-link {
            padding: 11px 24px 11px 30px;
          }
        }

      }
    }
  }


  // ARROW
  .is-accordion-submenu-parent>a:after {
    border-color: $grey-medium transparent transparent;
    right: 24px;
  }


}

// Content next to sidenav

@include media-breakpoint-down(md) {

  .ap-collapse-content {
    position: absolute;
    height: 100%;
    width: 0%;
    overflow: hidden;
  }
}


// Standard Code view, highlight code lines

.ap-highlight {
  background: $grey-light;
  padding: 12px;
  border-radius: 5px;
  margin: 12px 0;

  pre {
    margin: 0;
  }
}


// Black code snippets view with PRETTYPRINT

pre.prettyprint {
  width: 100% !important;
}


// Color combinations

.ap-colorCircle {
  width: 48px;
  height: 48px;
  display: inline-block;
  border-radius: 999px;
  margin-right: 1rem;
  font-size: 24px;
  padding-top: 8px;
  text-align: center;
  vertical-align: middle;
}

// Shadows

.ap-shadowBox {
  height: 100px;
  width: 100px;
  display: block;
  background: #fff;
  box-shadow: 1px 1px 4px 0px rgba(137, 137, 137, 0.5);
  -webkit-box-shadow: 1px 1px 4px 0 rgba(137,137,137,0.5);
}

// Patternlab Grid examples

.ap-gridExample .row {
  margin-bottom: 24px;
}
.ap-gridExample .row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
.ap-gridExample-col {
  padding: 12px 0;
  background-color: rgba(86,61,124,.15);
  width: 100%;
  text-align: center;
  float: left;
}

// Patternlab Color palette

.ap-colors {
	list-style: none;
  clear: both;

  li {
    border: none;
    width: 100%;
    padding: 0 10px 0 0;
    margin:0;
    float: left;

    @include media-breakpoint-up(md) {
  	  width: 25%;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.ap-colorLabel {
  display: none;
  line-height: 24px;
}

.ap-swatch {
  border-radius: 2px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  display: block;
  height: 72px;
  margin-bottom: 10px;
  position: relative;

  .ap-colorLabel {
    position: absolute;
    top: 12px;
    right: -100%;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }

	&:hover .ap-colorLabel {
    display: block;
    right: 0;
    opacity: 1;
  }

}


// Patternlab multiple color icons

.ap-iconPreview {
  display: inline;
  float: left;
  text-align: center;
  margin-bottom: $spacer;
  padding: $spacer;
  padding-top: 0;
  &:hover {
    background-color: $grey-light;
  }
}

.ap-iconPreview-caption {
  display: block;
  font-size: $font-size-small;
  color: $grey;
}

.ap-icon {
	width: 100px;
  height: 100px;
  margin-bottom: 0;
}

.ap-systemicon {
	width: 50px;
}

.material-icons.ap-fonticon {
  color: $black;
  font-size: 36px;
}


// Icons Fort Awesome

.ap-kitIcons {
  margin-bottom: 24px;

  .ap-kitIcons-icon {
      text-align: center;
      display: inline-block;
      padding: 12px 24px;
      color: $grey-medium;
      border: none;
      border-radius: 5px;

      &:hover {
        background: $blue;
        color: $white;
      }
  }

  .ap-kitIcons-name {
    font-size: 14px;
    font-family: 'DIN-light';
    display: block;
  }
}

// Patternlab TYPO

.ap-typo-container {
  border-top: 1px dotted rgba(0,0,0,0.1);
}

.ap-typo {
  border-bottom: 1px dotted rgba(0,0,0,0.1);
  background: $white;
      padding: 30px 0 30px 40px;

      &:hover {
        background: #F9F9F9;
      }

      h1,h2,h3,h4 {
        margin-top: 0;
      }
}

.ap-typo-activeSize-m { // mobile
    @include media-breakpoint-down(md) {
        color: $green;
        font-family: 'DIN-bold';
    }
}
.ap-typo-activeSize-t { // tablet
    @include media-breakpoint-only(lg) {
        color: $green;
        font-family: 'DIN-bold';
    }
}

.ap-typo-activeSize-l { // laptop
    @include media-breakpoint-only(xl) {
        color: $green;
        font-family: 'DIN-bold';
    }
}

.ap-typo-activeSize-d { // desktop
    @include media-breakpoint-up(xl) {
        color: $green;
        font-family: 'DIN-bold';
    }
}
