/*------------------------------------*\
    $Table
\*------------------------------------*/

.a-table {
  thead {
    th {
      font-family: $font;
      font-weight: normal;
      border-bottom: 2px solid $blue;
    }
  }

  td,
  th {
    padding: 6px 0 5px 0;
    border-top: none;
    border-bottom: 1px solid $grey-medium;
  }
}

.a-table-calculation {
  td,
  th {
    padding: 2px 0 2px 0;
    font-weight: normal;
    border-bottom: none;
  }

  td {
    width: 20%;
    @include media-breakpoint-up( md ) {
      width: auto;
    }
    font-family: $font-medium;
    font-weight: $font-weight-medium;
  }

  tfoot {
    font-family: $font-medium;
    font-weight: $font-weight-medium;
    border-top: 3px solid $blue;

    td,
    th {
      padding-top: $spacer;
    }
  }

  tbody {
    tr {
      &:last-child {
        th {
          padding-bottom: $spacer;
        }
      }
    }
  }
}


/*------------------------------------*\
    $Sortable table
\*------------------------------------*/
.a-sortable-table,
.a-table-list-non-sortable {
  &.white {
    margin-bottom: 0;

    tr {
      background-color: $white;
    }
  }

  .remove-icon {
    color: $red;
  }

  .red {
    color: $red;
  }

  tr {
    > th {
      &:first-of-type {
        width: 96px;
        padding-right: 0;
        padding-left: 0;
        text-align: center;
      }
    }
  }

  .a-sortable-row {
    background: $grey-light;

    &.a-sortable-row-complete {
      @include disabled-background( $color: $grey, $background-color: $green-light, $box-shadow: none, $background-image: url( '../images/disabled-background.svg' ) );

      .action-confirmation {
        display: block;
        float: right;
        margin-right: $spacer * 5;
      }

      .a-collapse-title {
        display: none;
      }
    }

    &.a-sortable-row-deleted {
      @include disabled-background( $color: $grey, $background-color: $red-light, $box-shadow: none, $background-image: url( '../images/disabled-background.svg' ) );

      .action-deleted {
        @extend .pr-5;
        display: block;
        float: right;
      }

      .a-collapse-title {
        display: none;
      }
    }

    td {
      padding: ($spacer - 2) 0;
      border-bottom: 1px solid $grey-medium;

      i {
        vertical-align: middle;
      }

      .action-confirmation {
        display: none;
      }

      .action-deleted {
        display: none;
      }

      &:first-of-type {
        text-align: center;
      }

      &:nth-of-type( even ) {
        font-family: $font-bold;
        font-weight: $font-weight-bold;
      }

      .row-item-description {
        font-weight: $font-weight-light;
      }
    }

    &.open {
      background: $white;

      td {
        border-bottom: 1px solid $white;
      }
    }

    &.deleted {
      background: $red-light;

      td {
        &:last-of-type {
          @extend .pr-5;
        }
      }
    }

    &.selected {
      td {
        &:nth-child(2) {
          text-decoration: line-through;
        }
      }
    }
  }

  &.clickable {
    thead {
      > tr {
        &:hover {
          cursor: pointer;
        }
      }
    }

    tbody {
      > tr {
        &:hover {
          cursor: pointer;
          background-color: $red-light;
        }
      }
    }
  }

  tbody {
    tr {
      &.a-sortable-row {
        height: $spacer * 4;
      }
    }
  }

  thead {
    th {
      padding: 0;
      padding-top: ($spacer - 1);
      padding-bottom: 0;
      font-size: 12px;
      font-weight: $font-weight-reg;
      text-transform: uppercase;
      cursor: pointer;
      background: $grey-light;
      border: none;

      &:last-of-type {
        padding-top: $spacer / 2;
        padding-bottom: $spacer / 2;
      }

      &.active {
        .a-dropdownArrow {
          border-left: 10px solid $blue;
        }
      }
    }

    .a-dropdownArrow {
      border-left: 10px solid $black;
      transform: scale( 0.75 ) rotate( 90deg ) translate( -50% );
    }

    tr,
    th {
      border-top: 1px solid $grey-medium;
      border-bottom: 1px solid $grey-medium;
    }

    .normal-casing {
      font-size: 16px;
      text-transform: none;
    }
  }

  // If collapse inside table, set display to table-row.
  .collapse {
    &.in {
      display: table-row;
    }
  }

  .a-sortable-action-row {
    background: $white;

    td {
      border-bottom: 1px solid $grey-medium;
    }
  }
}

.a-collapsePanel-body {
  .a-sortable-table {
    tr {
      td {
        &:first-of-type {
          width: 110px;
        }

        i {
          padding-left: 10px;
        }
      }
    }
  }
}

/*------------------------------------*\
    $Table list
\*------------------------------------*/

.a-table-list {
  width: 100%;

  thead {
    tr {
      th {
        border: none;
      }
    }
  }

  td,
  th {
    display: table-cell;
    height: 36px;
    padding: $spacer / 2;
    vertical-align: middle;
    border: none;
  }

  tr {
    width: 100%;
    min-height: 36px;
    word-wrap: break-word;

    &.a-tableClick {
      &:hover {
        cursor: pointer;
        background-color: $blue-light;
      }
    }

    &.a-table-list-row-green {
      background-color: $green-light;
    }

    &.a-table-list-row-red {
      background-color: $red-light;
    }
  }

  .a-table-icon {
    width: 24px;
    height: 24px;
    margin-top: $spacer / 4 * -1;
    margin-left: $spacer / 2;
    vertical-align: middle;
    border: none;
  }

  .help-icon {
    color: $grey-medium;

    &:hover {
      color: $grey;
      cursor: pointer;
    }
  }

  .add-icon {
    margin-right: $spacer / 2;
    margin-left: 0;
    color: $blue;
  }

  .remove-icon {
    color: $red;
  }

  .read-icon,
  .fill-out-icon,
  .approve-icon {
    color: $grey-medium;
  }

  .edit-icon {
    color: $grey;
  }
}


/*------------------------------------*\
    $Full width table
\*------------------------------------*/

.a-full-width-table,
.a-full-width {
  margin-right: -$spacer * 2;
  margin-left: -$spacer * 2;

  @include media-breakpoint-up( md ) {
    margin-right: -$spacer * 7;
    margin-left: -$spacer * 7;
  }
  @include media-breakpoint-up( lg ) {
    margin-right: -$spacer * 8;
    margin-left: -$spacer * 8;
  }
}

.a-full-height-table {
  margin-bottom: -$spacer * 3;

  @include media-breakpoint-up( md ) {
    margin-bottom: -$spacer * 4;
  }

}
