@font-face {
    font-family: 'DIN-light';
    src: url('../../fonts/DINWeb-Light.woff');
}
@font-face {
    font-family: 'DIN-reg';
    src: url('../../fonts/DINWeb.woff');
}
@font-face {
    font-family: 'DIN-medium';
    src: url('../../fonts/DINWeb-Medium.woff');
}
@font-face {
    font-family: 'DIN-bold';
    src: url('../../fonts/DINWeb-Bold.woff');
}

h1,
.a-pageTitle,
.a-textSize1   {
    // Mobile and all
    font-size: 24px;
    line-height: 30px;
    font-family: 'DIN-reg';
    margin-bottom:$spacer;

    // Tablet
    @include media-breakpoint-up(md) {
        font-size: 28px;
        line-height: 36px;
    }

    // Laptop
    @include media-breakpoint-up(lg) {
        font-size: 36px;
        line-height: 42px;
    }

    // Desktop
    @include media-breakpoint-up(xl) {
        font-size: 36px;
        line-height: 42px;
    }
}

h2,
.a-sectionTitle,
.a-textSize2    {
    // Mobile and all
    font-size: 18px;
    line-height: 24px;
    font-family: 'DIN-reg';
    margin-bottom:$spacer/2;

    // Tablet
    @include media-breakpoint-up(md) {
        font-size: 22px;
        line-height: 24px;
    }

    // Laptop
    @include media-breakpoint-up(lg) {
        font-size: 24px;
        line-height: 30px;
    }

    // Desktop
    @include media-breakpoint-up(xl) {
        font-size: 28px;
        line-height: 36px;
    }
}

h3,
.a-sectionSubTitle,
.a-textSize3   {
    // Mobile and all
    font-size: 16px;
    line-height: 24px;
    font-family: 'DIN-bold';
    margin-bottom:$spacer/2;

    // Tablet
    @include media-breakpoint-up(md) {
        font-size: 18px;
        line-height: 24px;
    }

    // Laptop
    @include media-breakpoint-up(lg) {
        font-size: 20px;
        line-height: 24px;
    }

    // Desktop
    @include media-breakpoint-up(xl) {
        font-size: 20px;
        line-height: 24px;
    }
}

h4,
.a-sectionSubSubTitle,
.a-textSize4    {
    // Mobile and all
    font-size: 16px;
    line-height: 24px;
    font-family: 'DIN-bold';
    margin-bottom: $spacer/2;

    // Tablet
    @include media-breakpoint-up(md) {
        font-size: 16px;
        line-height: 24px;
    }

    // Laptop
    @include media-breakpoint-up(lg) {
        font-size: 16px;
        line-height: 24px;
    }

    // Desktop
    @include media-breakpoint-up(xl) {
        font-size: 16px;
        line-height: 24px;
    }
}

// Font weights
.din-reg {
    font-family: 'DIN-reg';
}
.din-light {
    font-family: 'DIN-light';
}
.din-medium {
    font-family: 'DIN-medium';
}
.din-bold,
.a-textSizeBold,
b,
strong {
    font-family: 'DIN-bold';
}


/* Text-Related Elements */
// Paragraph

p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'DIN-reg';
    margin-bottom: $spacer*1.5;
    max-width: 760px;
}

.a-leadText {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    max-width: 760px;
}

.a-metaText {
    font-size: 14px;
    line-height: 20px;
}


/* Media */

.a-media {
  img {
    max-width: 500px;
  }
}

/* Blockquote */

.a-blockquote {
    font-family: $font-secondary;
    border-left:none;
    text-align: left;
    color: $black;
    padding-left: 0em;
    padding: 0px 50px;
    max-width: 760px;

    @include media-breakpoint-down(md) {
        padding: 30px 20px;
        font-size: 16px;
    }

    p {
        font-size: 28px;
        line-height: 36px;
    }

    .a-citation {
        font-size: 18px;
        font-family: 'din-bold';
        font-style: normal;
    }

    &.a-blockquote-right {

      @include media-breakpoint-up(md) {
        border-left: 6px solid #fff;
        float: right;
        max-width: 50%;
        margin-left: 5%;
        margin-top: 0;
      }
    }

}
blockquote:before, blockquote:after {
    content: '';
}

/* Text colors */
.a-dimText {
    color: rgba(0,0,0,0.4)
}
.a-whiteText {
    color: $white;
    a, a:hover {
        color: $white;
        border-color: $white;
    }
}
.a-blueText {
    color: $blue;
}
.a-blueDarkText {
    color: $blue-dark;
}
.a-blueDarkerText {
    color: $blue-darker;
}


// Label
.a-label {
    vertical-align: top;
    font-family: 'DIN-reg';
    border-radius: 24px;
    color: $black;
    font-size: 14px;
    min-width: 27px;
    min-height: 24px;
    text-align: center;
    padding: 6px;
    margin-top: 0px;
    margin-left: 6px;
    margin-right: 3px;
}

/* Anchors */

.a-anchor,
.a-anchor:hover {
    border: none;
    margin-top: -3px;
    color: #000;
}
