@font-face {
    font-family: 'DIN-light';
    src: url('../../fonts/DINWeb-Light.woff');
}
@font-face {
    font-family: 'DIN-reg';
    src: url('../../fonts/DINWeb.woff');
}
@font-face {
    font-family: 'DIN-medium';
    src: url('../../fonts/DINWeb-Medium.woff');
}
@font-face {
    font-family: 'DIN-bold';
    src: url('../../fonts/DINWeb-Bold.woff');
}


h1,
.a-pageTitle,
.a-textSize1   {
    // Mobile and all
    font-size: 24px;
    line-height: 30px;
    font-family: $font-reg; font-weight: $font-weight-reg;
    margin-bottom:$spacer;

    // Tablet
    @include media-breakpoint-up(md) {
        font-size: 28px;
        line-height: 36px;
    }

    // Laptop
    @include media-breakpoint-up(lg) {
        font-size: 36px;
        line-height: 42px;
    }

    // Desktop
    @include media-breakpoint-up(xl) {
        font-size: 36px;
        line-height: 42px;
    }
}

h2,
.a-sectionTitle,
.a-textSize2    {
    // Mobile and all
    font-size: 18px;
    line-height: 24px;
    font-family: $font-reg;
    font-weight: $font-weight-reg;
    margin-bottom:$spacer/2;

    // Tablet
    @include media-breakpoint-up(md) {
        font-size: 22px;
        line-height: 24px;
    }

    // Laptop
    @include media-breakpoint-up(lg) {
        font-size: 24px;
        line-height: 30px;
    }

    // Desktop
    @include media-breakpoint-up(xl) {
        font-size: 28px;
        line-height: 36px;
    }
}

h3,
.a-sectionSubTitle,
.a-textSize3   {
    // Mobile and all
    font-size: 16px;
    line-height: 24px;
    font-family: $font-bold;
    font-weight: $font-weight-bold;
    margin-bottom:$spacer/2;

    // Tablet
    @include media-breakpoint-up(md) {
        font-size: 18px;
        line-height: 24px;
    }

    // Laptop
    @include media-breakpoint-up(lg) {
        font-size: 20px;
        line-height: 24px;
    }

    // Desktop
    @include media-breakpoint-up(xl) {
        font-size: 20px;
        line-height: 24px;
    }
}

h4,
.a-sectionSubSubTitle,
.a-textSize4    {
    // Mobile and all
    font-size: 16px;
    line-height: 24px;
    font-family: $font-bold;
    font-weight: $font-weight-bold;
    margin-bottom: $spacer/2;

    // Tablet
    @include media-breakpoint-up(md) {
        font-size: 16px;
        line-height: 24px;
    }

    // Laptop
    @include media-breakpoint-up(lg) {
        font-size: 16px;
        line-height: 24px;
    }

    // Desktop
    @include media-breakpoint-up(xl) {
        font-size: 16px;
        line-height: 24px;
    }
}



// Font weights
.din-reg {
    font-family: $font-reg;
    font-weight: $font-weight-reg;
}
.din-light {
    font-family: $font-light;
    font-weight: $font-weight-light;
}
.din-medium {
    font-family: $font-medium;
    font-weight: $font-weight-medium;
}
.din-bold,
.a-textSizeBold,
b,
strong {
    font-family: $font-bold;
    font-weight: $font-weight-bold;
}


/* Text-Related Elements */
// Paragraph

p {
    font-size: 18px;
    line-height: 26px;
    font-family: $font-reg;
    font-weight: $font-weight-reg;
    margin-bottom: $spacer*1.5;
    max-width: 760px;
    letter-spacing: 0.2px;
}

.a-leadText {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    max-width: 760px;

    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
}

.a-metaText {
    font-size: 16px;
    line-height: 22px;
}

.a-titleExtra {
  font-family: $font-light;
  font-weight: $font-weight-light;
  font-size: 16px;
}


/* Media */

.a-media {
  display: block;

  @include media-breakpoint-up(md) {
      display: flex;
  }
  img {
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer*3;

    @include media-breakpoint-up(md) {
        max-width: 300px;
        margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
        max-width: 400px;
    }

    @include media-breakpoint-up(xl) {
        max-width: 500px;
    }
  }
}

/* Blockquote */

.a-blockquote {
    font-family: $font;
    border-left: 6px solid $blue;
    text-align: left;
    color: $black;
    padding-left: $spacer*2;
    max-width: 760px;

    @include media-breakpoint-up(md) {
      border-left: none;
    }

    @include media-breakpoint-up(lg) {
      padding-left: $spacer*4;
    }

    p {
        font-size: 18px;
        line-height: 24px;

        @include media-breakpoint-up(md) {
          font-size: 22px;
          line-height: 28px;
        }

        @include media-breakpoint-up(lg) {
          font-size: 28px;
          line-height: 36px;
        }
    }

    .a-citation {
        font-size: 18px;
        font-family: $font-bold;
        font-weight: $font-weight-bold;
        font-style: normal;
    }

    &.a-blockquote-right {
      border-left: 6px solid $blue;
      margin-top: $spacer*2;
      margin-bottom: $spacer*2;
    }

}
blockquote:before, blockquote:after {
    content: '';
}

/* Text colors */
.a-dimText {
    color: rgba(0,0,0,0.4)
}
.a-whiteText {
    color: $white;
    a, a:hover {
        color: $white;
        border-color: $white;
    }
}
.a-blueText {
    color: $blue;
}
.a-blueDarkText {
    color: $blue-dark;
}
.a-blueDarkerText {
    color: $blue-darker;
}


// Label
.a-label {
    vertical-align: top;
    font-family: $font-reg;
    font-weight: $font-weight-reg;
    border-radius: 24px;
    color: $black;
    font-size: 14px;
    min-width: 27px;
    min-height: 24px;
    text-align: center;
    padding: 6px;
    margin-top: 0px;
    margin-left: 6px;
    margin-right: 3px;
}

// SR-only

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  background-color: #fff;
  width: 100%;
  display: inline-block;
  box-shadow: none !important;
  border-bottom: none;
  text-decoration: underline;
  font-size: small;
  font-weight: bolder;
  padding: 5px;
  padding-left: 10px;
}

// Speech-bubbles

.a-textBubble {
  height: auto;
  max-width: 300px;
  min-width: 48px;
  position: relative;
  float: left;
  clear: both;
  font-size: 16px;
  padding: $spacer;
  background-color: $grey-light;
  margin-bottom: $spacer*3;

  &:after {
    content: "";
    position: absolute;
    bottom: -$spacer;
    left: $spacer;
    border: 0;
    border-left-width: $spacer;
    border-bottom-width: $spacer;
    border-style: solid;
    border-color: transparent $grey-light;
    display: block;
    width: 0;
  }

  .a-textBubble-metaText {
    font-size: 10px;
    position: absolute;
    text-align: right;
    right: 0;
    bottom: -$spacer*4;
    color: $grey-medium;
  }
}

.a-textBubble-from {
    background-color: $blue-light;
    float: right;
    clear: both;
    min-width: 80px;

    &:after {
      position: absolute;
      border-color: transparent $blue-light;
      border-right-width: $spacer;
      border-left-width: 0;
      right: $spacer;
      left: auto;
      bottom: -$spacer;
    }

  .a-textBubble-metaText {
    text-align: left;
    position: absolute;
    left: 0;
    bottom: -$spacer*4;
  }
}

.a-maxThreeLines {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 21px;     /* fallback */
   max-height: 62px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}
