
body, html {
    font-family: 'DIN-reg';
    font-weight:  normal;
}

@font-face {
    font-family: 'DIN-light';
    src: url('http://www.persille.no/DINWeb-Light.php');
}
@font-face {
    font-family: 'DIN-reg';
    src: url('http://www.persille.no/DINWeb.php');
}
@font-face {
    font-family: 'DIN-medium';
    src: url('http://www.persille.no/DINWeb-Medium.php');
}
@font-face {
    font-family: 'DIN-bold';
    src: url('http://www.persille.no/DINWeb-Bold.php');
}

b, strong {
    font-family: 'DIN-bold';
}

.din-reg {
    font-family: 'DIN-reg';
}
.din-light {
    font-family: 'DIN-light';
}
.din-medium {
    font-family: 'DIN-medium';
}
.din-bold {
    font-family: 'DIN-bold';
}

h1,
.a-pageTitle,
.a-textSize1   {
    // Mobile
    font-size: 24px;
    line-height: 30px;
    font-family: 'DIN-reg';
    color: $black;
    margin-bottom:$space-half;

    // Tablet
    @media all and (min-width: $bp-med) {
        font-size: 28px;
        line-height: 36px;
    }

    // Laptop
    @media all and (min-width: $bp-large) {
        font-size: 36px;
        line-height: 42px;
    }

    // Desktop
    @media all and (min-width: $bp-xlarge) {
        font-size: 36px;
        line-height: 42px;
    }
}

h2,
.a-sectionTitle,
.a-textSize2    {
    // Mobile
    font-size: 18px;
    line-height: 24px;
    font-family: 'DIN-reg';
    color: $black;
    margin-bottom:$space-half;

    // Tablet
    @media all and (min-width: $bp-med) {
        font-size: 22px;
        line-height: 24px;
    }

    // Laptop
    @media all and (min-width: $bp-large) {
        font-size: 24px;
        line-height: 30px;
    }

    // Desktop
    @media all and (min-width: $bp-xlarge) {
        font-size: 28px;
        line-height: 36px;
    }
}

h3,
.a-sectionSubTitle,
.a-textSize3   {
    // Mobile
    font-size: 16px;
    line-height: 24px;
    font-family: 'DIN-bold';
    color: $black;
    margin-bottom:$space-half;

    // Tablet
    @media all and (min-width: $bp-med) {
        font-size: 18px;
        line-height: 24px;
    }

    // Laptop
    @media all and (min-width: $bp-large) {
        font-size: 20px;
        line-height: 24px;
    }

    // Desktop
    @media all and (min-width: $bp-xlarge) {
        font-size: 20px;
        line-height: 24px;
    }
}

h4,
.a-sectionSubSubTitle,
.a-textSize4    {
    // Mobile
    font-size: 16px;
    line-height: 24px;
    font-family: 'DIN-bold';
    color: $black;
    margin-bottom: $space-half;

    // Tablet
    @media all and (min-width: $bp-med) {
        font-size: 16px;
        line-height: 24px;
    }

    // Laptop
    @media all and (min-width: $bp-large) {
        font-size: 16px;
        line-height: 24px;
    }

    // Desktop
    @media all and (min-width: $bp-xlarge) {
        font-size: 16px;
        line-height: 24px;
    }
}

// Bold

.a-textSizeBold {
  font-family: 'DIN-bold';
}



/* Text-Related Elements */
// Paragraph

p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'DIN-reg';
    margin-bottom: 20px;
    max-width: 760px;
}

.a-leadText {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    max-width: 760px;
}

.a-metaText {
    font-size: 14px;
    line-height: 20px;
}




/* Blockquote */

.a-blockquote {
    font-family: $font-secondary;
    border-left:none;
    text-align: left;
    color: $black;
    font-size: 18px;
    line-height: 28px;
    padding-left: 0em;
    margin: 40px 0;
    padding: 0px 50px;
    max-width: 760px;
    border-left: 6px solid #fff;


    @media all and (max-width: $bp-med) {
        padding: 30px 20px;
        font-size: 16px;
    }

    p {
        font-size: 18px;
        line-height: 28px;
    }

    .a-citation {
        font-size: 18px;
        font-family: 'din-bold';
        font-style: normal;
    }

    &.a-blockquote-right {

      @media all and (min-width: $bp-med) {
        float: right;
        max-width: 50%;
        margin-left: 5%;
        margin-top: 0;
      }
    }

}
blockquote:before, blockquote:after {
    content: '';
}

/* Horizontal Rule */
hr {
    border: 0;
    height: 2px;
    background: transparent;
    margin: 40px 0;
    border-bottom: 1px solid $grey-medium;
    width: 100%;
    float: left;
}
hr.a-hr-smallPadding {
    margin: 24px 0;
}
hr.a-hrLight {
    border-bottom: 1px solid $grey-light;
}

hr.a-hrDotted {
  border:0;
  width: 100%;
  height: 2px;
  display: block;
  background-image: linear-gradient(to right, $blue 50%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 4px 2px;
  background-repeat: repeat-x;
}
abbr {
    cursor: help;
}


// Color on text

.a-blueText {
    color: $blue-dark;
}

// Label

.a-label {
    vertical-align: top;
    font-family: 'DIN-reg';
    border-radius: 24px;
    color: $black;
    font-size: 14px;
    min-width: 27px;
    min-height: 24px;
    text-align: center;
    padding: 6px;
    margin-top: 0px;
    margin-left: 6px;
    margin-right: 3px;
}

/* Anchors */

.a-anchor,
.a-anchor:hover {
    border: none;
    margin-top: -3px;
    color: #000;
}


/* Telephone */

.a-tel {
  font-family: 'DIN-bold';
  border-bottom: none;
  font-size: 18px;
  position: relative;

  &:hover {
    border: none;
  }

  &:focus:not(.override-focus) {
    box-shadow: none;
    border:none;
  }

  &:before {
    content: "";
    width: calc(100% + 40px);
    min-height: 48px;
    position: absolute;
    left: -20px;
    top: -11px;
    cursor: pointer;
    z-index: -1;
  }

  i {
    vertical-align: middle;
    margin-left: -5px;
    margin-top: -3px;
  }
}
