
  <button type="button" class="a-boxBtn">

      <span class="a-metaText">
          {{ box-button-title }}
      </span>

      <span class="a-boxBtn-name">
          {{ box-button-person }}
      </span>

      <i class="material-icons a-boxBtn-icon a-blueText">{{ box-button-icon }}</i>

      <b class="a-boxBtn-action a-blueText">
          {{ box-button-action }} ›
      </b>

  </button>
