<!-- START: 00-atomer-05-Ekspansjonsknapper-26-ekspanderbar-tekst JS doc: toggleFilter.js -->
<a data-toggle="collapse" {{# data-parent }} data-parent="#{{{ data-parent }}}" {{/ data-parent }} href="#" data-target="#{{collapse-filter-id}}" aria-expanded="true" aria-controls="{{collapse-filter-id}}" class="a-collapse-title a-collapse-title--flexstart {{ styleModifier }} {{# toggle-texts }} toggle-collapse-text {{/ toggle-texts }} {{# no-decoration }} no-decoration {{/ no-decoration }} {{# blue-text-right }} a-btn-blue-noUnderline mr-5 float-right {{/ blue-text-right }} {{# isCollapsed }}collapsed{{/ isCollapsed }}">
  {{# show-arrow }} <span class="a-dropdownArrow"></span> {{/ show-arrow }}

  {{# collapse-primary-text }}
    <span class="primary-collapse-text">
      {{{ collapse-primary-text }}}
    </span>
  {{/ collapse-primary-text }}
  {{# collapse-secondary-text }}
    <span class="secondary-collapse-text">
      {{{ collapse-secondary-text }}}
    </span>
  {{/ collapse-secondary-text }}
</a>

<!-- END: 00-atomer-05-Ekspansjonsknapper-26-ekspanderbar-tekst -->