{{> atomer-button(button-class: "a-btn a-btn-border", button-text: "En stor knapp")}}

<div class="a-btn-group">

    {{> atomer-button}}

    {{> atomer-button(button-class: "a-btn a-btn-success", button-text: "En knapp som antyder suksess") }}

    {{> atomer-button(button-class: "a-btn a-btn-danger", button-text: "En knapp som antyder fare") }}

    {{> atomer-button(button-class: "a-btn disabled", button-disabled: "disabled", button-text: "En deaktivert knapp") }}


</div>
<br>
{{> atomer-button(button-class: "a-btn-link", button-text: "En knapp som er stylet som en lenke", button-icon: "›")}}
<br><br>
{{> atomer-button(button-class: "a-btn-link a-link a-link-warning", button-text: "En knapp som er stylet som en fare-lenke", button-icon: "›")}}
