
<!--DO NOT REMOVE-->
{{{ patternLabFoot }}}


<!-- JQUERY -->
<script src="../../js/jquery.min.js"></script>
<!-- Bundled assets -->
<script src="../../js/altinnPrototyping.vendor.js"></script>
<!-- ALTINN DEV custom JavaScript -->
<script src="../../js/altinnPrototyping.js"></script>

</body>
</html>