<!-- START: 01-molekyler-03-media-_100-altinnett-forkortelse-svg -->
<svg viewBox="0 0 100 100" width="100%" height="100%" class="an-abbreviation">
  <title>{{{ letters }}}</title>
  <text>
    <tspan fill="white" x="51%" y="54%" dy="0.3em" font-size="50" style="text-anchor: middle; font-family:DIN-Bold, DIN;">{{{ letters }}}</tspan>
  </text>
</svg>

<!-- END: 01-molekyler-03-media-_100-altinnett-forkortelse-svg -->