<!-- START: 01-molekyler-05-lister-_00-liste-innhold -->
{{# column-items }}
  {{# column-text }}
    {{# classes }} <span class="{{ classes }}"> {{/ classes }}
    {{{ text }}}
    {{# classes }} </span> {{/ classes }}
  {{/ column-text }}

  {{# column-icon }}
    {{> atomer-ikon }}
  {{/ column-icon }}

  {{# column-link }}
    {{> atomer-link }}
  {{/ column-link }}

  {{# column-popover }}
    {{> atomer-link-med-popover }}
  {{/ column-popover }}

  {{# column-expandable-link}}
    {{> atomer-ekspanderbar-tekst }}
  {{/ column-expandable-link}}

  {{# column-switches-with-text }}
    {{> molekyler-midtstilte-valgknapper-med-tekst }}
  {{/ column-switches-with-text }}
{{/ column-items }}






<!-- END: 01-molekyler-05-lister-_00-liste-innhold -->
