<!-- START: 01-molekyler-05-lister-_00-liste-innhold -->
{{# column-items }} {{# column-text }} {{# classes }} <span class="{{ classes }}"> {{/ classes }}
    {{{ text }}}
    {{# classes }} </span> {{/ classes }} {{# text-extra }}
<span class="{{ classes }}">{{{ text-extra }}}</span> {{/ text-extra }} {{/ column-text }} {{# column-icon }} {{> atomer-ikon }} {{/ column-icon }} {{# column-link }} {{> atomer-link }} {{/ column-link }} {{# column-icon-link }} {{> atomer-link-ikon }}
{{/ column-icon-link }} {{# column-button }} {{> atomer-knapp-ikon-tekst }} {{/ column-button }} {{# column-popover }} {{> atomer-link-med-popover-ikon }} {{/ column-popover }} {{/ column-items }}

<!-- END: 01-molekyler-05-lister-_00-liste-innhold -->