<div class="{{ styleModifier }}">
    {{# radio }}
      <form id={{ form-id }}>
        {{> felles-komponenter-radioknapp }}
      </form>
    {{/ radio }}
      
    {{# datovelger }}
      <div class="collapse datovelgercollapse no-transition">
        {{> felles-komponenter-dato-og-tid }}
      </div>
    {{/ datovelger }}

</div>
