<!-- START: 02-organismer-71-modal-gruppering-01-modal-klientdelegering -->
{{# show-remove-rights }}
  {{> organismer-klientdelegering-fjern-rettigheter }}
{{/ show-remove-rights }}
{{# show-success-receipt }}
  {{> organismer-klientdelegering-ferdig }}
{{/ show-success-receipt }}
{{# show-add-employee }}
  <div class="pb-2">
    {{> organismer-delegering-legg-til }}
  </div>
{{/ show-add-employee }}
{{# show-add-rights }}
  <div>
    {{> organismer-klientdelegering-gi-rettigheter }}
  </div>
{{/ show-add-rights}}
{{# show-file-delegation }}
  <div class="py-2">
    {{> organismer-klientdelegering-pa-fil }}
  </div>
{{/ show-file-delegation }}
<!-- END: 02-organismer-71-modal-gruppering-01-modal-klientdelegering -->
