<p> 
    {{{ modal-content }}}
</p>
<div class="a-btn-group">
    {{# modal-nextbutton }}
        {{> atomer-link }}
    {{/ modal-nextbutton }}

    {{# modal-successbutton }}
        {{> atomer-link }}
    {{/ modal-successbutton }}

    {{# modal-startover }}
        {{> atomer-link }}
    {{/ modal-startover }}

    {{# modal-errorbutton }}
        {{> atomer-link }}
    {{/ modal-errorbutton }}

    {{# modal-discard }}
        {{> atomer-link }}
    {{/ modal-discard }}
</div>