<div class="a-panel">

	<ul class="a-itemList">
	  {{# itemList }}
		<li class="a-itemList-item {{{ itemList-deactivated }}}"> {{ itemList-title }}
			<a href="">
				<i class="material-icons {{{ itemList-iconClass }}}">{{ itemList-icon }}</i>
			</a>
		</li> 
	  {{/ itemList }} 
	</ul>   

</div> 