<!-- START: 03-maler-infoportal-90-onboarding-00-onboarding -->
<div class="a-page">
  {{# header }} {{> organismer-header }} {{/ header }}

  <section id="content" tabindex="-1">

    <div class="container">

      {{# kontakt }}
      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
          {{> molekyler-bilde-innhold:mt-5 }}
        </div>
      </div>
      {{/ kontakt }} {{# kontaktskjema }} {{> organismer-modal }} {{/ kontaktskjema }}

    </div>
    <!-- END Container -->

  </section>

  {{> organismer-footer }}
</div>

<!-- END: 03-maler-infoportal-90-onboarding-00-onboarding -->