<div class="modal-content">
    <div class="modal-header a-modal-header">
        <div class="a-iconText a-iconText-background a-iconText-large">
            <div class="a-iconText-icon">
                <i class="ai ai-send
                 a-icon" aria-hidden="true"></i>
            </div>
            <h1 class="a-iconText-text mb-0">
                <span class="a-iconText-text-small"></span>
                <span class="a-iconText-text-large">Kontaktskjema</span>
            </h1>
        </div>
    </div>
    <div class="modal-body a-modal-body">
      <p>For at vi skal kunne hjelpe deg, trenger vi å vite hva du lurer på og litt om hvem du er.</p>
      <h2 class="a-h2 a-fontBold a-blueDarkerText">Hva lurer du på?</h2>
    
          <form data-toggle="validator" id="contactForm">
            <div class="row">
              <div class="col-12 col-sm-8">

                <div class="col-12 col-md-6 px-0">
                  {{# emne }}
                    {{> atomer-tekst-input:mb-2 }}
                  {{/ emne }}
                </div>

                {{# question }}
                  {{> atomer-tekstfelt:mb-2 }}
                {{/ question }}

                <h2 class="a-h2 a-fontBold a-blueDarkerText">Hvem er du?</h2>

                {{# firma }}
                  {{> atomer-tekst-input:mb-2 }}
                {{/ firma }}

                {{# navn }}
                  {{> atomer-tekst-input:mb-2 }}
                {{/ navn }}

                {{# epost }}
                  {{> atomer-tekst-input:mb-2 }}
                {{/ epost }}

                {{# telefon }}
                  {{> atomer-tekst-input:mb-2 }}
                {{/ telefon }}

                {{# submit }}
                  {{> atomer-knapp:mb-2 }}
                {{/ submit }}
              </div>
            </div>
          </form>
    </div>
</div>
