<div class="modal-content">
    <div class="modal-header a-modal-header">
        <div class="a-iconText a-iconText-background a-iconText-large">
            <div class="a-iconText-icon">
                <i class="ai ai-send
                 a-icon" aria-hidden="true"></i>
            </div>
            <h1 class="a-iconText-text mb-0">
                <span class="a-iconText-text-small"></span>
                <span class="a-iconText-text-large">Kontaktskjema</span>
            </h1>
        </div>
    </div>
    <div class="modal-body a-modal-body">
      <p>Du vil motta en kvittering på e-post med et saksnummer for din henvendelse</p>
      {{# submit }}
        {{> atomer-knapp:mb-2 }}
      {{/ submit }}
    </div>
</div>
