<div class="modal-content">
    <div class="modal-header a-modal-header">
        <div class="a-iconText a-iconText-background a-iconText-large">
            <div class="a-iconText-icon">
                <i class="ai ai-send
                 a-icon" aria-hidden="true"></i>
            </div>
            <h1 class="a-iconText-text mb-0">
                <span class="a-iconText-text-small"></span>
                <span class="a-iconText-text-large">{{ modal-title }}</span>
            </h1>
        </div>
    </div>
    <div class="modal-body a-modal-body">
      
      <form data-toggle="validator" id="contactForm">
        
        {{# accessType }}
          {{> atomer-radioknapp }}
        {{/ accessType }}

        {{# rest }}
          <div class="{{ type-class }} collapse no-transition">

            

            {{# applikasjonsnavn }}
            {{!-- Obligatorisk --}}
              {{> atomer-tekst-input:mb-2 }}
            {{/ applikasjonsnavn }}

            {{# orgnummer }}
            {{!-- Obligatorisk, gjerne med regex-validering --}}
              {{> atomer-tekst-input:mb-2 }}
            {{/ orgnummer }}

            {{# environment }}
              {{> molekyler-valgknapper-og-spesifiser }}
            {{/ environment }}

            {{# applikasjonstype }}
              {{!-- Obligatorisk --}}
              {{> atomer-radioknapp }}
              <div class="webadresse collapse no-transition">
                {{> atomer-tekst-input }}
              </div>
            {{/ applikasjonstype }}

            {{# apitype }}
              {{> atomer-radioknapp }}
            {{/ apitype }}

            <div class="mt-3 mb-2">
              {{# submit-tjenesteeier}}
              <div class="tjenesteeier-neste collapse no-transition">
                {{> atomer-knapp }}
              </div>
              {{/ submit-tjenesteeier}}
              {{# submit-sluttbruker}}
                <div class="sluttbruker-neste collapse no-transition">
                  {{> atomer-knapp }}
                </div>
              {{/ submit-sluttbruker}}
            </div>

          </div>
        {{/ rest }}

        {{# soap }}
          <div class="{{ type-class }} collapse no-transition">
            {{# submit}}
              {{> atomer-knapp:mb-2 }}
            {{/ submit}}
          </div>
        {{/ soap }}

        {{# tul }}
          <div class="{{ type-class }} collapse no-transition">
            {{# submit}}
              {{> atomer-knapp:mb-2 }}
            {{/ submit}}
          </div>
        {{/ tul }}

        {{# fire }}
          <div class="{{ type-class }} collapse no-transition">
            {{# submit}}
              {{> atomer-knapp:mb-2 }}
            {{/ submit}}
          </div>
        {{/ fire }}
        
      </form>

      <div class="tab-content">
        <div class="tab-pane" id="tilgang1" role="tabpanel">
          {{ #tab1 }}
          <h3 class="a-h2">REST API</h3>
          <form data-toggle="validator" id="contactForm2">
            <div class="row">
              <div class="col-12">
                {{# bruker }}
                  {{> atomer-avkrysningsboks }}
                  <div id="bruker1" class="collapse">
                    {{# kontakt1 }}
                      {{> organismer-dashboard-kontaktinfo }}
                    {{/ kontakt1 }}
                  </div>
                {{/ bruker }}
                <div class="form-group a-form-group my-2">
                  <label class="a-form-label">Hvilke miljø ønskes det tilgang til?</label>

                  {{#miljo}}
                  {{> atomer-valgknapp:mb-2 }}
                  {{/miljo}}

                  {{#ip}}
                  {{> atomer-tekst-input }}
                  {{/ip}}
                </div>
                
                {{#submit}}
                {{> atomer-knapp:mb-2 }}
                {{/submit}}
              </div>
            </div>
          </form>
          {{/tab1 }}
        </div>
        
        <div class="tab-pane" id="tilgang2" role="tabpanel">
          {{ #tab2 }}
          <h3 class="a-h2">SOAP API</h3>
          <form data-toggle="validator" id="contactForm3">
            <div class="row">
              <div class="col-12">
                {{# bruker }}
                  {{> atomer-avkrysningsboks }}
                  <div id="bruker2" class="collapse">
                    {{# kontakt1 }}
                      {{> organismer-dashboard-kontaktinfo }}
                    {{/ kontakt1 }}
                  </div>
                {{/ bruker }}
                <div class="form-group a-form-group my-2">
                  <label class="a-form-label">Hvilke miljø ønskes det tilgang til?</label>

                  {{#miljo}}
                  {{> atomer-valgknapp:mb-2 }}
                  {{/miljo}}

                  {{#ip}}
                  {{> atomer-tekst-input }}
                  {{/ip}}
                </div>
                
                {{#submit}}
                {{> atomer-knapp:mb-2 }}
                {{/submit}}
              </div>
            </div>
          </form>
          {{/tab2 }}
        </div>

        <div class="tab-pane" id="tilgang3" role="tabpanel">
          {{ #tab3 }}
          <h3 class="a-h2">TUL og SERES</h3>
          <form data-toggle="validator" id="contactForm4">
            <div class="row">
              <div class="col-12">
                {{# bruker }}
                  {{> atomer-avkrysningsboks }}
                  <div id="bruker3" class="collapse">
                    {{# kontakt1 }}
                      {{> organismer-dashboard-kontaktinfo }}
                    {{/ kontakt1 }}
                  </div>
                {{/ bruker }}

                <div class="form-group a-form-group my-2">
                  <label class="a-form-label">Hvilke verktøy ønskes det tilgang til?</label>
                    {{#miljo}}
                    {{> atomer-valgknapp }}
                    {{/miljo}}
                </div>

                {{#visualstudio}}
                  {{> atomer-avkrysningsboks }}
                {{/visualstudio}}

                {{#submit}}
                  {{> atomer-knapp:mb-2 }}
                {{/submit}}
                    
              </div>
            </div>
          </form>
          {{/tab3 }}
      </div>
      <div class="tab-pane" id="tilgang4" role="tabpanel">
        {{ #tab4 }}
        <h3 class="a-h2">Brannmur</h3>
        <form data-toggle="validator" id="contactForm5">
          <div class="row">
            <div class="col-12">
              {{# bruker }}
                {{> atomer-avkrysningsboks }}
                <div id="bruker4" class="collapse">
                  {{# kontakt1 }}
                    {{> organismer-dashboard-kontaktinfo }}
                  {{/ kontakt1 }}
                </div>
              {{/ bruker }}
              <div class="form-group a-form-group my-2">
                {{#ip}}
                {{> atomer-tekst-input }}
                {{/ip}}
              </div>
              
              {{#submit}}
              {{> atomer-knapp:mb-2 }}
              {{/submit}}
            </div>
          </div>
        </form>
        {{/ tab4 }}
      </div>
    </div>
  </div>
</div>
