<div class="modal-content">
    <div class="modal-header a-modal-header">
        <div class="a-iconText a-iconText-background a-iconText-large">
            <div class="a-iconText-icon">
                <i class="ai ai-send
                 a-icon" aria-hidden="true"></i>
            </div>
            <h1 class="a-iconText-text mb-0">
                <span class="a-iconText-text-small"></span>
                <span class="a-iconText-text-large">Bestill egen varslingsmal til varslingstjeneste</span>
            </h1>
        </div>
    </div>
    <div class="modal-body a-modal-body">
      
      {{# channel }}
        <div class="row mb-1">
          <form id="channel">
            {{> atomer-avkrysningsboks }}
          </form>
        </div>
      {{/ channel }}
      
      {{# sms-forms }}
        <div id="sms-form" class="collapse">
          {{# bokmaal }}
            {{> atomer-tekstfelt }}
          {{/ bokmaal }}
          {{# nynorsk }}
            {{> atomer-tekstfelt }}
          {{/ nynorsk }}
          {{# engelsk }}
            {{> atomer-tekstfelt }}
          {{/ engelsk }}
        </div>
      {{/ sms-forms }}

      {{# email-forms }}
        <div id="email-form" class="collapse">
          {{# avsender }}
            {{> atomer-tekst-input }}
          {{/ avsender }}
          {{# bokmaal }}
            {{> atomer-tekstfelt }}
          {{/ bokmaal }}
          {{# nynorsk }}
            {{> atomer-tekstfelt }}
          {{/ nynorsk }}
          {{# engelsk }}
            {{> atomer-tekstfelt }}
          {{/ engelsk }}
        </div>
      {{/ email-forms }}
      
      {{# information }}
        <div class="row mt-2">
          <div class="col-8 px-0">
            {{> atomer-tekstfelt }}
          </div>
        </div>
      {{/ information }}

      {{# submit}}
        <div class="row">
          {{> atomer-knapp:mb-2 }}
        </div>
      {{/ submit}}
    </div>
</div>
