<div class="modal-content">
    <div class="modal-header a-modal-header">
        <div class="a-iconText a-iconText-background a-iconText-large">
            <div class="a-iconText-icon">
                <i class="ai ai-send
                 a-icon" aria-hidden="true"></i>
            </div>
            <h1 class="a-iconText-text mb-0">
                <span class="a-iconText-text-small"></span>
                <span class="a-iconText-text-large">Bestill oppsett av lenketjeneste i tjenesteutviklingsløsningen</span>
            </h1>
        </div>
    </div>
    <div class="modal-body a-modal-body">
      
      {{# servicename }}
        <div class="mb-2">
          {{> atomer-tekst-input}}
        </div>
      {{/ servicename }}
      
      {{# url }}
        <div class="mb-2">
          {{> atomer-tekst-input}}
        </div>
      {{/ url }}

      {{# test-url }}
        <div class="mb-2">
          {{> atomer-tekst-input}}
        </div>
      {{/ test-url }}

      {{# conditions1 }}
        <div class="mb-2">
          <form id={{ form-id }}>
            {{> atomer-avkrysningsboks }}
          </form>
        </div>
      {{/ conditions1 }}
      
      {{# conditions2 }}
        <div class="a-form-group mw-100 mb-2">
          <label class="a-form-label" for="{{ form-id }}">{{ top-label }}</label>
          <form id={{ form-id }}>
            {{> atomer-valgknapp }}
          </form>
        </div>
      {{/ conditions2 }}

      {{# role }}
        <div class="mb-2">
          {{> atomer-tekst-input}}
        </div>
      {{/ role }}

      {{# securitylevel }}
        <form id={{ form-id }}>
          {{> atomer-radioknapp }}
        </form>
      {{/ securitylevel }}

      {{# information }}
        {{> atomer-tekstfelt }}
      {{/ information }}

      {{# submit}}
        {{> atomer-knapp:mb-2 }}
      {{/ submit}}
    </div>
</div>
