<div class="modal-content">
  <div class="modal-header a-modal-header">
      <div class="a-iconText a-iconText-background a-iconText-large">
          <div class="a-iconText-icon">
              <i class="ai ai-send
                a-icon" aria-hidden="true"></i>
          </div>
          <h1 class="a-iconText-text mb-0">
              <span class="a-iconText-text-small"></span>
              <span class="a-iconText-text-large">Bestill endring av grensesnitt</span>
          </h1>
      </div>
  </div>
  <div class="modal-body a-modal-body">
    
  <h2 class="a-h3 mb-2">Innsendingstjeneste over webservice</h2>
  <form data-toggle="validator" id="contactForm">
    {{# existing }}
      <div class="mb-2">
        {{> atomer-avkrysningsboks }}
        <div id="eksisterende" class="collapse">
          {{# name }}
            {{> atomer-tekst-input }}
          {{/ name }}
        </div>
      </div>
    {{/ existing }}

    {{# environment }}
    {{!-- Obligatorisk --}}
      <div class="a-form-group mw-100 mb-2">
        <label class="a-form-label" for="{{ form-id }}">{{ top-label }}</label>
        <form id={{ form-id }}>
          {{> atomer-valgknapp-ett-alternativ }}
        </form>
      </div>
    {{/ environment }}
    {{# version }}
      {{> atomer-tekst-input:mb-2 }}
    {{/ version }}
    {{# attachments }}
      <div class="mb-2">
        {{> atomer-avkrysningsboks }}
        <div id="vedlegg" class="collapse">
          {{# vedlegg }}
            <form id="vedlegg-radio">
            {{> atomer-radioknapp }}
            </form>
          {{/ vedlegg }}
        </div>
      </div>
    {{/ attachments }}
    {{# encoding }}
      <form id="encoding-radio">
        {{> atomer-radioknapp }}
      </form>
    {{/ encoding }}
    {{# standardport }}
      {{> atomer-avkrysningsboks }}
      <div id="port" class="collapse">
        {{# port }}
          {{> atomer-tekst-input }}
        {{/ port }}
      </div>
    {{/ standardport }}
  </form>
</div>
