<div class="modal-content">
    <div class="modal-header a-modal-header">
        <div class="a-iconText a-iconText-background a-iconText-large">
            <div class="a-iconText-icon">
                <i class="ai ai-send
                 a-icon" aria-hidden="true"></i>
            </div>
            <h1 class="a-iconText-text mb-0">
                <span class="a-iconText-text-small"></span>
                <span class="a-iconText-text-large">Bestill innlesing av prefill og / eller abonnement</span>
            </h1>
        </div>
    </div>
    <div class="modal-body a-modal-body">
     
      {{# filetype }}
      {{!-- Må velge minst én --}}
        <form id={{ form-id }} class="mb-2">
          {{> atomer-avkrysningsboks }}
        </form>
      {{/ filetype }}
    
      {{# in-inbox }}
        <div class="collapse checkboxcollapse no-transition">
          <div class="mb-4">
            {{> atomer-avkrysningsboks }}
          </div>
        </div>
      {{/ in-inbox }}

      {{# environment }}
      {{!-- Obligatorisk --}}
        {{> molekyler-valgknapper-og-spesifiser }}
      {{/ environment }}

      {{# information }}
        {{> atomer-tekstfelt }}
      {{/ information }}
      
      {{# upload }}
        {{> atomer-upload }}
      {{/ upload }}

      {{# submit}}
        {{> atomer-knapp:mb-2 }}
      {{/ submit}}
    </div>
</div>
