<div class="modal-content">
    <div class="modal-header a-modal-header">
        <div class="a-iconText a-iconText-background a-iconText-large">
            <h1 class="a-iconText-text mb-0 ml-2">
                <span class="a-iconText-text-small"></span>
                <span class="a-iconText-text-large">Legg til TUL-tjeneste</span>
            </h1>
        </div>
    </div>
    <div class="modal-body a-modal-body">
      {{# alert }}
        {{> atomer-varsel }}
      {{/ alert }}

      {{# form }}
        <h3 class="a-h3 mt-3">Om tjenesten</h3>
        <form data-toggle="validator" id="contactForm">
          <div class="row">
            <div class="col-12">

              {{# navn}}
                {{> atomer-tekst-input:mb-2 }}
              {{/ navn}}

              <div class="row">
                <div class="col-12 col-md-6">

                  {{# tjenestekode }}
                    {{> atomer-tekst-input:mb-2 }}
                  {{/ tjenestekode }}

                </div>
                <div class="col-12 col-md-6">

                  {{# utgavekode }}
                    {{> atomer-tekst-input:mb-2 }}
                  {{/ utgavekode }}

                </div>
              </div>

              {{# tjenestetype }}
                {{> atomer-radioknapp }}
              {{/ tjenestetype }}

              {{# tjenestestyring }}
                {{> atomer-radioknapp }}
              {{/ tjenestestyring }}

              {{# datoTid }}
                {{> molekyler-dato-og-tid }}
              {{/ datoTid}}
              
              <div class="row mt-4 d-flex align-items-baseline">
                <div>
                  {{# registrer }}
                    {{> atomer-knapp }}
                  {{/ registrer }}
                </div>
                <div class="ml-2">
                  {{# avbryt }}
                    {{> atomer-link }}
                  {{/ avbryt }}
                </div>
              </div>
              

            </div>
          </div>
        </form>
      {{/ form }} 
</div>
