<!-- START: 01-molekyler-00-tekst-05-sammenligning-header -->
<div class="a-compare-header {{ styleModifier }}">
  <div class="row">
    <div class="a-compare-container col-6">
      <h2>{{{ first-compare-header }}}</h2>
    </div>
    <div class="a-compare-container col-6">
      <h2>{{{ second-compare-header }}}</h2>
    </div>
  </div>
</div>

<!-- END: 01-molekyler-00-tekst-05-sammenligning-header -->