<!-- START: 03-maler-infoportal-30-artikkel-40-artikkel-jumbo -->
<div class="a-page">
  {{> organismer-header }}

  <section id="content" tabindex="-1">

    {{# article-jumbotron }} {{> molekyler-jumbotron }} {{/ article-jumbotron }}

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg mb-5">
          {{> atomer-avsnitt }} {{> atomer-seksjonstittel }} {{> atomer-avsnitt }} {{> molekyler-fant-du-det-du-lette-etter }}

        </div>
        <!-- END .col-... -->
      </div>
      <!-- END .row -->

      <div class="row">
        <div class="col-sm-12 col-lg-6 offset-lg-3 mb-5">

          {{> molekyler-bilde-innhold }}

        </div>
        <!-- END .col-... -->
      </div>
      <!-- END .row -->
    </div>
    <!-- END Container -->

  </section>

  {{> organismer-footer }}
</div>

<!-- END: 03-maler-infoportal-30-artikkel-40-artikkel-jumbo -->