<!-- START: 01-molekyler-04-grupper-02-midtstilte-valgknapper-med-tekst -->
 <div class="mt-1"{{# id }} id="{{ id }}"{{/ id }}>
  <span class="ml-4 pl-3">
    {{ sortable-action-text }}
  </span>
  <div class="text-xs-center">
    {{# sortable-action-items }}
      {{> atomer-valgknapp}}
    {{/ sortable-action-items }}
  </div>
  {{> molekyler-ferdigsegment:within-table }}
</div>
<!-- END: 01-molekyler-04-grupper-02-midtstilte-valgknapper-med-tekst -->
