
  <button type="button" class="a-boxBtn">

      <span class="a-metaText">
          {{ boxBtnList-title }}
      </span>

      <span class="a-boxBtn-name">
          {{ boxBtnList-person }}
      </span>

      <i class="material-icons a-boxBtn-icon a-blueText">{{ boxBtnList-icon }}</i>

      <b class="a-boxBtn-action a-blueText">
          {{ boxBtnList-action }} ›
      </b>

  </button>
