<!-- START: 03-maler-80-prosess-00-starte-enk -->
<div class="a-page a-modalPage" id="smoothState">
  {{# modal-starte-enk }} {{> organismer-starte-enk }} {{/ modal-starte-enk }}
</div>

<!-- END: 03-maler-80-prosess-00-starte-enk -->