<!-- START: 03-maler-altinnett-90-casesider-20-caseoversiktside -->
<div class="a-page">
  {{# header }} {{> organismer-header-altinnett }} {{/ header }}

  <div class="container px-3 px-sm-1">
    <h1 class="a-h3 a-blueDarkerText a-fontSizeXL">{{ page-title }}</h1>
    {{> atomer-avsnitt(paragraph-class: "a-blueDarkerText a-fontSizeXL") }}
  </div>

  <div class="an-case">
    {{# cases }}
    <div class="an-caseRow">
      <div class="container">
        {{> molekyler-case-preview }}
      </div>
    </div>
    {{/ cases }}
  </div>

  {{# footer }} {{> organismer-footer-altinnett }} {{/ footer }}
</div>
<!-- END: 03-maler-altinnett-90-casesider-20-caseoversiktside -->