<!-- START: 00-atomer-02-lenker-_99-link-button-download -->
{{> atomer-link(link-class: "a-btn", link-text: "En lenke stylet som en standard knapp")}}

<!-- END: 00-atomer-02-lenker-_99-link-button-download -->