<!-- START: 01-molekyler-03-media-03-bilde-innhold-under -->
<figure class="a-mediaBlock {{styleModifier}}">
  {{> atomer-placeholder }} {{# figCaption }}
  <figcaption class="a-mediaBlock-caption">
    {{{ figCaption }}}
  </figcaption>
  {{/ figCaption }}
</figure>

<!-- END: 01-molekyler-03-media-03-bilde-innhold-under -->