<div class="a-page">
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
                <h2 class="a-h3">
                    {{{ list-header }}}
                </h2>
                {{> molekyler-liste-unummerert:mb-2 }}
            </div>
        </div>
        <div class="row py-4">
            <div class="col-lg-8 offset-lg-2 ">
                {{> organismer-artikkelliste }}
            </div>
        </div>
    </div>
</div>
