<!-- START: 03-maler-altinnett-80-produktsider-10-produktoversikt -->
<div class="a-page">
  {{# header }} {{> organismer-header-altinnett }} {{/ header }}

  <div class="container">
    {{# promoted-products }} {{> organismer-altinnett-produkt-presentasjon }} {{/ promoted-products }}

    <div class="row mb-6">
      {{# products }} {{> molekyler-altinnett-presentasjonsblokk-horisontal }} {{/ products }}
    </div>

  </div>

  {{# footer }} {{> organismer-footer-altinnett }} {{/ footer }}
</div>

<!-- END: 03-maler-altinnett-80-produktsider-10-produktoversikt -->