<!-- START: 02-organismer-_49-ekspanderbart-panel-innhold-61-virksomhetssertifikat-rediger -->
{{# register-enterprise-certificate-steps }}
<div class="row {{ additional-class }}">
  {{# enterprise-certificate-heading}}
  <div class="col-12 mb-2">
    <h3>
      {{ enterprise-certificate-heading }}
    </h3>
  </div>
  {{/ enterprise-certificate-heading}}
  <div class="col-12">
    <p class="a-fontBold mb-0">
      {{ enterprise-certificate-text }}
    </p>
  </div>
  <div class="col-12 mb-3">
    <p class="mb-0 a-fontBold a-fontSizeM">
      {{ enterprise-certificate-name }}
    </p>
  </div>
</div>
<div class="row {{ additional-class }}">
  <div class="col">
    <p class="a-fontSizeXS mb-1">
      <span class="a-fontBold">{{ enterprise-certificate-step-text }}</span> {{ enterprise-certificate-step-info }}
    </p>
  </div>
</div>
{{# enterprise-certificate-input-fields }}
<div class="row {{ additional-class }}">
  <div class="col-12 col-md-5">
    {{# enterprise-certificate-username }} {{> atomer-tekst-input }} {{/ enterprise-certificate-username }}
  </div>
  <div class="col-12 col-md-5">
    {{# enterprise-certificate-password }} {{> atomer-tekst-input }} {{/ enterprise-certificate-password }}
  </div>
</div>
{{/ enterprise-certificate-input-fields }}
<div class="row {{ additional-class }}">
  <div class="col mt-2">
    {{# next-btn }} {{> atomer-knapp }} {{/ next-btn }} {{# cancel-btn }} {{> atomer-link }} {{/ cancel-btn }}
  </div>
</div>
{{/ register-enterprise-certificate-steps }}
<!-- END: 02-organismer-_49-ekspanderbart-panel-innhold-61-virksomhetssertifikat-rediger -->