<!-- START: 01-molekyler-02-navigasjon-03-ekspanderbar-info -->
<div class="a-accordion-small">
  {{> atomer-ekspanderbar-tekst }}
  <div id="{{ collapse-header-contentID }}" class="a-collapseContent collapse {{# isVisible }}show{{/ isVisible}}" aria-expanded="{{ aria-expanded }}" role="{{ role }}">
    {{{ content }}}
  </div>
</div>

<!-- END: 01-molekyler-02-navigasjon-03-ekspanderbar-info -->