<!-- START: 01-molekyler-00-tekst-61-♺-innboks-header-innhold-ulest JS doc: togglePanel.js -->
{{# msg-unread }} {{> molekyler-innboks-header-innhold }} {{/ msg-unread }}
<!-- END: 01-molekyler-00-tekst-61-♺-innboks-header-innhold-ulest -->