<!-- START: 00-atomer-04-handlingsknapper-21-handlingsknapp-stor -->
<button type="button" class="a-boxAddBtn" {{# onclick }} onclick="{{{ onclick }}}" {{/ onclick }}>
  <span class="a-boxAddBtn-inner">
    {{ box-button-add-textover }}
    {{> atomer-ikon }}
    {{ box-button-add-textunder }}
  </span>
</button>

<!-- END: 00-atomer-04-handlingsknapper-21-handlingsknapp-stor -->