<!-- Side nav -->
{{> molecules-leftside-nav }}

<!-- Content next to nav, needs to be pushed 300px -->
<div class="ap-navbarLeft-contentContainer">

	<!-- Content, max-width: 900px;  margin: auto; -->
	<div class="ap-content">

		<!-- Article content starts here -->
		<div class="a-text">

			<h1>Prototyper</h1>
			<p class="a-leadText">Her får du en oversikt over sidemaler som er laget for altinn.no. Sidemaler lages som en klikkbar prototype i Patternlab. Klikk på lenkene under og få opp en ferdig designet side bestående av HTML og CSS. Innholdet er lagt inn manuelt og hentes ikke automatisk. Sidene er responsivt og universelt utformet.</p><br><br>

			<div class="row">

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="thumbnail a-thumbnail">
						<a href="../..{{ link.pages-modal-firststep }}" class="a-thumbnail-link target="_blank">
							<img src="../../images/altinn_sidemal_kommer.png" alt="...">
							<div class="caption">
								<h3 class="a-thumbnail-title">Forside</h3>
							</div>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="thumbnail a-thumbnail">
						<a href="../..{{ link.pages-modal-firststep }}" class="a-thumbnail-link target="_blank">
							<img src="../../images/altinn_sidemal_kommer.png" alt="...">
							<div class="caption">
								<h3 class="a-thumbnail-title">Søk</h3>
							</div>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="thumbnail a-thumbnail">
						<a href="../..{{ link.pages-modal-firststep }}" class="a-thumbnail-link target="_blank">
							<img src="../../images/altinn_sidemal_kommer.png" alt="...">
							<div class="caption">
								<h3 class="a-thumbnail-title">Meldingsboks</h3>
							</div>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="thumbnail a-thumbnail">
						<a href="../..{{ link.pages-modal-firststep }}" class="a-thumbnail-link target="_blank">
							<img src="../../images/altinn_sidemal_prosess.png" alt="...">
							<div class="caption">
								<h3 class="a-thumbnail-title">Prosess</h3>
							</div>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="thumbnail a-thumbnail">
						<a href="../..{{ link.pages-modal-success }}" class="a-thumbnail-link target="_blank">
							<img src="../../images/altinn_sidemal_prosess_fullfort.png" alt="prosess"/>
							<div class="caption">
								<h3 class="a-thumbnail-title">Prosess Fullført</h3>
							</div>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 col-xl-3">
					<div class="thumbnail a-thumbnail">
						<a href="../..{{ link.pages-modal-error }}" class="a-thumbnail-link target="_blank">
							<img src="../../images/altinn_sidemal_prosess_error.png" alt="...">
							<div class="caption">
								<h3 class="a-thumbnail-title">Prosess Mislykket</h3>
							</div>
						</a>
					</div>
				</div>


			</div> <!--end .a-text-->
		</div> <!--end .ap-content-->
	</div> <!--end .ap-navbarLeft-contentContainer -->

	{{> organisms-footer }}
