<!-- Side nav -->
{{> molecules-leftside-nav }}

<!-- Content next to nav, needs to be pushed 300px -->
<div class="ap-navbarLeft-contentContainer">
	
	<iframe class="ap-showPatternlab" src="../../index.html"></iframe>

</div> <!--end .ap-navbarLeft-contentContainer -->

{{> organisms-footer }}
