<div class="page" id="page">

	{{> molecules-leftside-nav }}

	<div class="ap-navbarLeft-content">

		<div role="main" class="ap-navbarLeft-content ap-main">

			<div class="a-panel a-text">


				<h1>Ikoner for web</h1>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis blanditiis quam ipsum perspiciatis sapiente quod et similique illum facilis consequatur obcaecati quasi voluptas autem beatae, rerum, nihil ipsa, quia, cumque.</p> 
				<p>


				<h2>Ikonfont</h2>
				<p>Fort Awesome Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus quasi illum, error nobis labore eligendi magnam eveniet sapiente deleniti quibusdam ipsam excepturi laboriosam ex, nulla vitae. A, ipsa tempore.</p>
				
				<div class="sg-kitIcons"> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span>

						<div class="sg-kitIcons-name">
							upload
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-download fa-3x"></i>
						<span class="sr-only">download icon</span>

						<div class="sg-kitIcons-name">
							download
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span>

						<div class="sg-kitIcons-name">
							upload 
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span>

						<div class="sg-kitIcons-name">
							upload
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span>

						<div class="sg-kitIcons-name">
							upload
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span>

						<div class="sg-kitIcons-name">
							upload
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-download fa-3x"></i>
						<span class="sr-only">download icon</span>

						<div class="sg-kitIcons-name">
							download
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span>

						<div class="sg-kitIcons-name">
							upload
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span>

						<div class="sg-kitIcons-name">
							upload
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span>

						<div class="sg-kitIcons-name">
							upload
						</div>
					</a> 
					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span>

						<div class="sg-kitIcons-name">
							upload
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-download fa-3x"></i>
						<span class="sr-only">download icon</span>

						<div class="sg-kitIcons-name">
							download
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span>

						<div class="sg-kitIcons-name">
							upload
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span>

						<div class="sg-kitIcons-name">
							upload
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span>

						<div class="sg-kitIcons-name">
							upload
						</div>
					</a> 
					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span>

						<div class="sg-kitIcons-name">
							upload
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-download fa-3x"></i>
						<span class="sr-only">download icon</span>

						<div class="sg-kitIcons-name">
							download
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span>

						<div class="sg-kitIcons-name">
							upload
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span>

						<div class="sg-kitIcons-name">
							upload
						</div>
					</a> 

					<a class="sg-kitIcons-icon" href="">
						<i class="fa fa-upload fa-3x"></i>
						<span class="sr-only">upload icon</span> 

						<div class="sg-kitIcons-name">
							upload
						</div> 
					</a> 

				</div><br>



				
				<p>For å sette inn et ikon, bruk følgende kode: 
					<div class="sg-highlight">
						<pre><code class="html"><span class="nt">&lt;i</span><span class="na"> class=</span><span class="s"><!-- react-text: 70098 -->"<!-- /react-text --><!-- react-text: 70099 -->fa<!-- /react-text --><!-- react-text: 70100 --> <!-- /react-text --><!-- react-text: 70101 -->fa<!-- /react-text --><!-- react-text: 70102 -->-<span style="background: yellow">flag</span>"<!-- /react-text --></span><span class="nt">&gt;&lt;/i&gt;</span><!-- react-text: 70104 --> Flagg<!-- /react-text --></code></pre>
					</div>
					Bytt ut "<span style="background: yellow">flag</span>"" med navnet på ikonet du vil sette inn. <br>NB: Dersom ikonet står alene uten tekst, legg følgende etter: 

					<div class="sg-highlight">
						<<!-- -->span <!-- -->class<!-- -->="sr-only">flag icon<<!-- -->/span> 
					</div>
					Dette vil hjelpe brukere med skjermleser å oppfatte ikonets funksjon. Denne teksten er kun synlig for skjermlesere, ikke for vanlige brukere.  

				</p><br><br>

				
				<h2>SVG-ikoner</h2>
				<p>Flerfargede ikoner er ikke inkludert i ikonfonten, men inkluderes som SVG-filer.</p>
				<!-- Multiple color icons -->

				<div class="sg-iconPreview">
					<img class="sg-icon" src="../../images/skjema.svg" alt="">
					<span class="sg-iconPreview-caption">icon name</span>
				</div>

				<div class="sg-iconPreview">
					<img class="sg-icon" src="../../images/virkkontakt.svg" alt="">
					<span class="sg-iconPreview-caption">icon name</span>
				</div>

				<div class="sg-iconPreview">
					<img class="sg-icon" src="../../images/avansert.svg" alt="">
					<span class="sg-iconPreview-caption">icon name</span>
				</div> 

				<div class="sg-iconPreview">
					<img class="sg-icon" src="../../images/andre.svg" alt="">
					<span class="sg-iconPreview-caption">icon name</span>
				</div>

				<div class="sg-iconPreview">
					<img class="sg-icon" src="../../images/ikon_klientdelegering_boroller.svg" alt="">
					<span class="sg-iconPreview-caption">icon name</span>
				</div>

				<div class="sg-iconPreview">
					<img class="sg-icon" src="../../images/skjema.svg" alt="">
					<span class="sg-iconPreview-caption">icon name</span>
				</div>

				<div class="sg-iconPreview">
					<img class="sg-icon" src="../../images/virkkontakt.svg" alt="">
					<span class="sg-iconPreview-caption">icon name</span>
				</div>

				<div class="sg-iconPreview">
					<img class="sg-icon" src="../../images/avansert.svg" alt="">
					<span class="sg-iconPreview-caption">icon name</span>
				</div> 

				<div class="sg-iconPreview">
					<img class="sg-icon" src="../../images/andre.svg" alt="">
					<span class="sg-iconPreview-caption">icon name</span>
				</div>

				<div class="sg-iconPreview">
					<img class="sg-icon" src="../../images/ikon_klientdelegering_boroller.svg" alt="">
					<span class="sg-iconPreview-caption">icon name</span>
				</div> 

				<div class="sg-iconPreview">
					<img class="sg-icon" src="../../images/skjema.svg" alt="">
					<span class="sg-iconPreview-caption">icon name</span>
				</div>

				<div class="sg-iconPreview">
					<img class="sg-icon" src="../../images/virkkontakt.svg" alt="">
					<span class="sg-iconPreview-caption">icon name</span>
				</div>

				<div class="sg-iconPreview">
					<img class="sg-icon" src="../../images/avansert.svg" alt="">
					<span class="sg-iconPreview-caption">icon name</span>
				</div> 

				<div class="sg-iconPreview">
					<img class="sg-icon" src="../../images/andre.svg" alt="">
					<span class="sg-iconPreview-caption">icon name</span>
				</div>


			</div>


		</div><!--End role=main-->

	</div>

	{{> organisms-footer }}

</div>