<div class="page" id="page">

	{{> molecules-leftside-nav }}

	<div class="ap-navbarLeft-content">

		<div role="main" class="ap-navbarLeft-content ap-main">

			<div class="a-panel a-text">


				<h1>Prototyper</h1>
				<p class="a-leadText">Her får du en oversikt over prototyper som er laget for altinn.no. Prototypene er laget som klikkbare sider i Patternlab. Klikk på bildene under for å se ferdig design av sidene bestående av HTML og CSS. Innholdet er lagt inn manuelt og hentes ikke automatisk. Sidene er responsivt og universelt utformet.</p><br><br>

				<div class="row">

					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="thumbnail a-thumbnail">
							<a href="" class="a-thumbnail-link target="_blank">
								<img src="../../images/altinn_sidemal_kommer.png" alt="...">
								<div class="caption">
								<h2 class="a-thumbnail-title">Forside</h2>
								</div>
							</a>
						</div>
					</div>

					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="thumbnail a-thumbnail">
							<a href="" class="a-thumbnail-link target="_blank">
								<img src="../../images/altinn_sidemal_kommer.png" alt="...">
								<div class="caption">
								<h2 class="a-thumbnail-title">Søk</h2>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="thumbnail a-thumbnail">
							<a href="" class="a-thumbnail-link target="_blank">
								<img src="../../images/altinn_sidemal_kommer.png" alt="...">
								<div class="caption">
								<h2 class="a-thumbnail-title">Artikkel</h2>
								</div>
							</a>
						</div>
					</div>

					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="thumbnail a-thumbnail">
							<a href="" class="a-thumbnail-link target="_blank">
								<img src="../../images/altinn_sidemal_kommer.png" alt="...">
								<div class="caption">
								<h2 class="a-thumbnail-title">Starte og drive</h2>
								</div>
							</a>
						</div>
					</div>


					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="thumbnail a-thumbnail">
							<a href="" class="a-thumbnail-link target="_blank">
								<img src="../../images/altinn_sidemal_kommer.png" alt="...">
								<div class="caption">
								<h2 class="a-thumbnail-title">Meldingsboks</h2>
								</div>
							</a>
						</div>
					</div>

					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="thumbnail a-thumbnail">
							<a href="../..{{ link.pages-modal-firststep }}" class="a-thumbnail-link target="_blank">
								<img src="../../images/altinn_sidemal_prosess.png" alt="...">
								<div class="caption">
								<h2 class="a-thumbnail-title">Prosess</h2>
								</div>
							</a>
						</div>
					</div>

					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="thumbnail a-thumbnail">
							<a href="../..{{ link.pages-modal-success }}" class="a-thumbnail-link target="_blank">
								<img src="../../images/altinn_sidemal_prosess_fullfort.png" alt="...">
								<div class="caption">
								<h2 class="a-thumbnail-title">Prosess Fullført</h2>
								</div>
							</a>
						</div>
					</div>

					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="thumbnail a-thumbnail">
							<a href="../..{{ link.pages-modal-error }}" class="a-thumbnail-link target="_blank">
								<img src="../../images/altinn_sidemal_prosess_error.png" alt="...">
								<div class="caption">
								<h2 class="a-thumbnail-title">Prosess Mislykket</h2>
								</div>
							</a>
						</div>
					</div>


				</div>


			</div> 
		</div><!--End role=main-->

	</div>

	{{> organisms-footer }}

</div>