	<!-- Side nav -->
	{{> molecules-leftside-nav }}

	<!-- Content next to nav, needs to be pushed 300px -->
	<div class="ap-navbarLeft-contentContainer">

		<!-- Content, max-width: 900px;  margin: auto; -->
		<div class="ap-content">

			<!-- Article content starts here -->
			<div class="a-text">

				<h1>Retningslinjer for web</h1>
				<p class="a-leadText">For å oppnå konsistente brukeropplevelser på tvers av løsninger, har vi i Altinn bygget <a href="">et levende designsystem for web</a>, basert på atomisk design metodologi. </p>

			    <p>Designsystemet fungerer som et løsrevet lag, uavhengig av CMS og plattform. Det vil si at Altinns løsninger henter stilsettene fra designsystemet. Kode for design eksisterer dermed kun et sted - i designsystemet. </p>

			    <br><img src="../../images/designsystem-lag.png"> <br><br>

			    <p>Når det oppstår behov for design av en ny UI-komponent, skal designsystemet oppdateres med den nye komponenten og dens design. Det blir da enklere å bytte ut komponenter og enklere å distribuere designendringer. I tillegg vil profilen sikres videre og man kan skape konsistente løsninger.

			    <h2>Pattern Lab</h2>

			    <p>Vi har brukt «Pattern Lab» for å bygge det atomiske designsystemet. Pattern Lab er et verktøy for utviklere og designere som skal videreutvikle og oppdatere Altinns løsninger, og brukes i hovedsak til to formål:
				    <ol>
					    <li>Være et hjem for alle UI-komponenter med styling og retningslinjer. </li>
					    <li>Fungere som verktøy for å bygge high-fidelity prototyper.</li>
				    </ol>
			    </p>
			    <p>Med de definerte ui-komponenter i Patternlab kan man enkelt sette opp nye prototyper og videreutvikle Altinns webgrensesnitt. Designsystemet er "levende" og vil aldri bli helt ferdig. Det skal oppdateres så snart det er behov for nye UI-komponenter. </p>

					<h2>Hvordan koble løsninger på designsystemet?</h2>
					<p>
						Designsystemet hostes på ....?.... For å benytte CSS og Javascript fra designsystemet kan man referere til CSS og Javascript-filene i designsysteme. Designsystemet er versjonsbasert, slik at ulike Altinn-løsninger kan velge å oppdatere til nyeste versjon av designsystemet når det er ønskelig. De nyeste versjonene som kan refereres til er:
						<pre class="prettyprint html-escape lang-html">
<!-- Altinn Stylesheet -->
<link rel="stylesheet" href="???/css/style_v0.1.0.css" media="all" /></pre>
	<pre class="prettyprint html-escape lang-html">
<!-- Altinn Javascript -->
<script src="???/js/altinn_v0.1.0.min.js"></script></pre>
					</p>

					<h3>Tidligere Versjoner</h3>
					<div class="table-responsive">
				        <table class="table a-table">
					      	<thead>
										<tr>
											<th>Versjon</th>
											<th>Dato for release</th>
											<th>Hva som er nytt</th>
										</tr>
									</thead>
									<tbody>

										<tr>
										  <th scope="row">0.1.0</th>
										  <td>5. desember 2016</td>
										  <td>Første versjon lansert</td>
										</tr>

										<tr>
										  <th scope="row">0.0.0</th>
										  <td>1. mai 2016</td>
										  <td>Arbeid med å lage et designsystem har begynt</td>
										</tr>

			            </tbody>
			        </table>
			    </div>

					<h2>Videreutvikling av designsystemet</h2>
					<p> Skal du videreutvikle designsystemet i Pattern Lab, må du laste ned kodepakken fra <a href="https://github.com/Altinn/DesignSystem">Altinns github</a> og følge oppskriften for hvordan du setter opp utviklingsmiljøet.</p>

					<h3>Pattern Lab Dokumentasjon</h3>
			    <p>Du kan finne dokumentasjon for hvordan utvikle atomisk design med Pattern Lab <a href="http://patternlab.io/docs/index.html">her</a>. </p>


		</div> <!--end .a-text-->
	</div> <!--end .ap-content-->
</div> <!--end .ap-navbarLeft-contentContainer -->

{{> organisms-footer }}
