
<div class="page" id="page">

	{{> molecules-leftside-nav }}


	<div class="ap-navbarLeft-content">

			<div role="main" class="ap-navbarLeft-content ap-main">

			{{> organisms-article }}

			</div>


	</div>

	{{> organisms-footer }}

</div>
