
<div class="page" id="page">

	{{> molecules-leftside-nav }}


	<div class="ap-navbarLeft-content">

			<div role="main" class="ap-navbarLeft-content ap-main">

			<div class="a-panel a-text">

			  {{# article }}
				
				<h1>{{ article-title }}</h1>

				<p class="a-leadText">{{{ article-intro }}}</p>

				<!-- From WYSIWYG editor -->
				{{{ article-content }}}

				{{> atoms-landscape-16x9 }} 


			  {{/ article }} 

			</div><!--end .text-->

			</div>


	</div>

	{{> organisms-footer }}

</div>
