<div class="page" id="page">

	{{> molecules-leftside-nav }}

	<div class="ap-navbarLeft-content">

		<div role="main" class="ap-navbarLeft-content ap-main">

			<div class="a-panel a-text">

				<h1>Nettleserstøtte</h1>
				<p class="a-leadText">Tabellen viser hvilke nettlesere altinn.no støtter</p>


				<div class="small-12 columns"> 
					<p> <br>

						<span class="label label-success a-label" style="margin-bottom:0; width:70px; position:relative; top:-2px">A</span> <strong>Full støtte.</strong> No visual or functional discrepancies. <br> 

					</p>
					<p>

						<span class="label label-warning a-label" style="margin-bottom:0; width:70px; position:relative; top:-2px">B</span> <strong>Partial support.</strong> No functional discrepancies, but visual discrepancies may occur. <br> 

					</p>
					<p>
						<span class="label label-danger a-label" style="margin-bottom:0; width:70px; position:relative; top:-2px">C</span> <strong>Not supported.</strong> Your time is better spent doing other things. </p> 
					</p> <br>

					<p>

						<table class="table a-table" style="width:100%"> 
							<thead> 
								<tr> 
									<th>Platform</th> 
									<th colspan="5">OS X, Windows</th> 
									<th>iOS</th> 
									<th>Android</th> 
									<th>Win Phone</th> 
								</tr> 
							</thead> 

							<tbody> 
								<tr style="background-color: white"> 
									<td></td> 
									<td><img src="../../images/chrome.svg" style="width:60px" data-pin-nopin="true"></td> 
									<td><img src="../../images/safari.svg" style="width:60px" data-pin-nopin="true"></td> 
									<td><img src="../../images/firefox.svg" style="width:60px" data-pin-nopin="true"></td> 
									<td><img src="../../images/explorer.svg" style="width:60px" data-pin-nopin="true"></td> 
									<td><img src="../../images/opera.svg" style="width:60px" data-pin-nopin="true"></td> 
									<td><img src="http://gfx.dagbladet.no/styleguide/browsers/safari.png" style="width:60px" data-pin-nopin="true"></td> 
									<td><img src="http://gfx.dagbladet.no/styleguide/browsers/chrome.png" style="width:60px" data-pin-nopin="true"></td> 
									<td><img src="http://gfx.dagbladet.no/styleguide/browsers/ie.png" style="width:60px" data-pin-nopin="true"></td> 

								</tr> 

								<tr> 
									<td></td> 
									<td></td>
									<td></td> 
									<td></td> 
									<td><span class="label label-danger a-label">7.0</span></td> 
									<td></td> 
									<td></td> 
									<td></td> 
									<td></td> 
								</tr> 

								<tr> 
									<td></td> 
									<td></td> 
									<td></td> 
									<td></td> 
									<td><span class="label label-danger a-label">8.0</span></td><td></td> 
									<td></td> 
									<td></td> 
									<td></td> 
								</tr> 

								<tr> 
									<td></td> 
									<td></td> 
									<td></td> 
									<td></td> 
									<td><span class="label label-warning a-label">9.0</span></td> 
									<td></td> 
									<td></td> 
									<td></td> 
									<td></td> 
								</tr> 

								<tr> 
									<td></td> 
									<td></td> 
									<td><span class="label label-warning a-label">6.0</span></td> 
									<td></td> 
									<td><span class="label label-success a-label">10.0</span></td> 
									<td></td> 
									<td><span class="label label-warning a-label">6.0</span></td> 
									<td></td> 
									<td></td> 
								</tr> 
								<tr class="divider-bottom"> 
									<td>Current</td> 
									<td><span class="label label-success a-label">31.0</span></td> 
									<td><span class="label label-success a-label">7.0</span></td> 
									<td><span class="label label-success a-label">28.0</span></td> 
									<td><span class="label label-success a-label">11.0</span></td> 
									<td><span class="label label-success a-label">12.0</span></td> 
									<td><span class="label label-success a-label">7.0</span></td> 
									<td><span class="label label-success a-label">31.0</span></td> 
									<td><span class="label label-success a-label">10.0</span></td> 
								</tr> 

								<tr> 
								<td>Near future</td> 
									<td></td> 
									<td></td> 
									<td></td> 
									<td></td> 
									<td></td> 
									<td></td> 
									<td></td> 
									<td></td> 
								</tr> 
							</tbody> 
						</table> 
					</div><br>

				<h1>Browserstack - Test status</h1>
				<p class="a-leadText">Tabellen inneholder en oversikt over hvilke nettlesere og enheter altinn.no har blitt testet i.</p>

				<div class="table-responsive">
			        <table class="table a-table">
			            <thead>
							<tr>
							  <th>Operativsystem</th>
							  <th>Versjon</th>
							  <th>Nettleser</th>
							  <th>Enhet</th>
							  <th>Testet</th>
							  <th>Bugs</th>
							</tr>
						</thead>
						<tbody>

							<tr>
							  <th scope="row">OS X</th>
							  <td>El capitan</td>
							  <td>Safari</td>
							  <td></td>
							  <td>Waiting</td>
							  <td>-</td>
							</tr>

							<tr>
							  <th scope="row"></th>
							  <td></td>
							  <td>Chrome</td>
							  <td></td>
							  <td>Waiting</td>
							  <td>-</td>
							</tr>

							<tr>
							  <th scope="row"></th>
							  <td></td>
							  <td>Firefox</td>
							  <td></td>
							  <td>Waiting</td>
							  <td>-</td>
							</tr>

							<tr>
							  <th scope="row">iOS</th>
							  <td>-</td>
							  <td>Safari</td>
							  <td>iPhone 6S Plus</td>
							  <td>Waiting</td>
							  <td>-</td>
							</tr>

							<tr>
							  <th scope="row">Android</th>
							  <td>-</td>
							  <td>Safari</td>
							  <td>iPhone 6S</td>
							  <td>Waiting</td>
							  <td>-</td>
							</tr>

							<tr>
							  <th scope="row">Windows</th>
							  <td>10</td>
							  <td>Edge 13</td>
							  <td></td>
							  <td>Waiting</td>
							  <td>-</td>
							</tr>

							<tr>
							  <th scope="row"></th>
							  <td></td>
							  <td>IE 11</td>
							  <td></td>
							  <td>Waiting</td>
							  <td>-</td>
							</tr>

							<tr>
							  <th scope="row"></th>
							  <td></td>
							  <td>Firefox 46</td>
							  <td></td>
							  <td>Waiting</td>
							  <td>-</td>
							</tr>

							<tr>
							  <th scope="row"></th>
							  <td></td>
							  <td>Chrome 50</td>
							  <td></td>
							  <td>Waiting</td>
							  <td>-</td>
							</tr>

							<tr>
							  <th scope="row"></th> 
							  <td></td>
							  <td>Opera 37</td>
							  <td></td>
							  <td>Waiting</td>
							  <td>-</td>
							</tr>

							<tr>
							  <th scope="row"></th>
							  <td></td>
							  <td>Safari 5.1</td>
							  <td></td>
							  <td>Waiting</td>
							  <td>-</td>
							</tr>

							<tr>
							  <th scope="row">Windows Phone</th>
							  <td>-</td>
							  <td>Safari</td>
							  <td>Nokia Lumia 930</td>
							  <td>Waiting</td>
							  <td>-</td>
							</tr>

			            </tbody>
			        </table>
			    </div>


			</div>
		</div><!--End role=main-->

	</div>

	{{> organisms-footer }}

</div>