
<div class="page" id="page">

	{{> molecules-leftside-nav }}

	<div class="ap-navbarLeft-content">

			<div role="main" class="ap-navbarLeft-content ap-main">

			<div class="a-panel a-text">

				<h1>Visuell Profil</h1>

				<p class="a-leadText">Altinns grafiske profil har blitt fornyet høsten 2016, i forbindelse med utrulling av \"et enklere og mer brukervennlig Altinn\".</p>

				<h2>Om profilen</h2>
				<p>En friskere, gjennomarbeidet fargepalett, typografi, og et fotouttrykk med mennesket i fokus er noen av grepene som er gjort. En helhetlig merkevare bygges gjennom å opprettholde et konsistent og gjenkjennbart uttrykk over tid. Det er derfor viktig å bruke de ulike profilelementene på riktig måte. Rettledning og spørsmål til Altinn sin merkevare kan rettes til ?? (?@altinn.no, 99 99 99 99).</p>

				<h2>Logo</h2>
				<p>I Altinn-profilen er det flere virkemidler som jobber sammen. Logoen er muligens det viktigste av disse virkemidlene, og fungerer ofte som en signatur på flatene man kommuniserer på.</p>

				<br><img style="width: 80%;" src="../../images/a-logo-blue.svg">
				<br><br><br><br>

				<img style="width: 80%;" src="../../images/a-logo-black.svg">
				<br><br><br><br>

				<h3>Negativ logo</h3>
				<p>Negativ variant av logoen kan brukes i enkelte tilfeller der bakgrunnen for mørk til å vise blå versjon.</p>

				<div style="background: #000; width: 100%; padding: 100px;"> <img style="width: 100%;" src="../../images/a-logo-white.svg"></div>
				
				<h2>Typografi</h2>
				<p>All tekst er satt med fonten "DIN" i fire ulike varianter: Light, Regular, Medium og Bold.</p>

				<div class="row">

					<div class="col-xs-12 col-md-6">

						<h2>DIN Light</h2>
					    <span class="din-light">
					        A B C D E F G H I J K L M N O P Q R S T U V W X Y Z Æ Ø Å<br>
					        a b c d e f g h i j k l m n o p q r s t u v w x y z æ ø å<br>
					        0 1 2 3 4 5 6 7 8 9<br>
					        ! &amp; / ( ) $ = @ ; : , .
					    </span><br><br><br>

					</div>

					<div class="col-xs-12 col-md-6">
					
						<h2>DIN Regular</h2>
					    <span class="din-reg">
					        A B C D E F G H I J K L M N O P Q R S T U V W X Y Z Æ Ø Å<br>
					        a b c d e f g h i j k l m n o p q r s t u v w x y z æ ø å<br>
					        0 1 2 3 4 5 6 7 8 9<br>
					        ! &amp; / ( ) $ = @ ; : , .
					    </span><br><br><br>

					</div>

					<div class="col-xs-12 col-md-6">
					
						<h2>DIN Medium</h2>
					    <span class="din-medium">
					        A B C D E F G H I J K L M N O P Q R S T U V W X Y Z Æ Ø Å<br>
					        a b c d e f g h i j k l m n o p q r s t u v w x y z æ ø å<br>
					        0 1 2 3 4 5 6 7 8 9<br>
					        ! &amp; / ( ) $ = @ ; : , .
					    </span><br><br><br>

				    </div>

					<div class="col-xs-12 col-md-6">
					
						<h2>DIN Bold</h2>
						<span class="din-bold">
					        A B C D E F G H I J K L M N O P Q R S T U V W X Y Z Æ Ø Å<br>
					        a b c d e f g h i j k l m n o p q r s t u v w x y z æ ø å<br>
					        0 1 2 3 4 5 6 7 8 9<br>
					        ! &amp; / ( ) $ = @ ; : , .
					    </span>
					    <br><br><br><br>
					    
					</div>

			    </div>

			    <h2>Fargebruk</h2>
			    <p>Todo: Forklar hvorfor fargene er valgt og når hver av fargene skal brukes..</p>

			    <h2>Designelementer</h2>
			    <p>Todo: Forklar hvorfor dsignelementer er valgt og i hvilken sammenhenger de skal brukes..</p>

			    <h2>Grafiske maler</h2>
			    <p></p>

			    {{> atoms-button-download }}

			</div><!--end .text-->

			</div>


	</div>

	{{> organisms-footer }}

</div>
