<div class="page" id="page">

	{{> molecules-leftside-nav }}

	<div class="ap-navbarLeft-content">

		<div role="main" class="ap-navbarLeft-content ap-main">

			<div class="a-panel a-text">


				<h1>Farger for web</h1>
				<p class="a-leadText">The use of colour in the design is first and foremost
				a functional tool. The background colours identify the
				different sections and modules.<span class="label label-default a-label label-pill">Må oversettes</span></p>

				<p>Colours have been
				chosen according to conventional use on web to make
				the website more intuitive. All colours have also been
				checked to give sufficient contrast in the combinations
				they are intended for. Use only the colours and combinations presented in this overview. If new colours
are added they should be implemented on the entire
site and add lasting value to the usability and user
experience of the website.</p> <br>


				<ul class="no-decoration sg-colors">
					<li>
						<span class="sg-swatch" style="background: #0062ba;"><span class="sg-label" style="color: #fff;">$blue-dark: <br>#0062ba; </span></span>
						
					</li> 
					<li>
						<span class="sg-swatch" style="background: #1eaef7;"><span class="sg-label">$blue: <br>#1eaef7;</span></span>
						
					</li>
					<li>
						<span class="sg-swatch" style="background: #cff0ff;"><span class="sg-label">$blue-light: <br>#cff0ff;</span></span>
						
					</li>
					<li>
						<span class="sg-swatch" style="background: #ffffff; border: 1px solid #eee;"><span class="sg-label">$white: <br>#ffffff;</span></span>
						
					</li>
				</ul>
				
				<ul class="no-decoration sg-colors">
					<li>
						<span class="sg-swatch" style="background: #17c96b;"><span class="sg-label">$green: <br>#17c96b;</span> </span>
						
					</li>
					<li>
						<span class="sg-swatch" style="background: #d4f9e4;"><span class="sg-label">$green-light: <br>#d4f9e4;</span></span>
						
					</li>
					<li>
						<span class="sg-swatch" style="background: #e23b53;"><span class="sg-label">$red: <br>#e23b53;</span></span>
						
					</li>
					<li>
						<span class="sg-swatch" style="background: #f9cad3;"><span class="sg-label">$red-light: <br>#f9cad3;</span></span> 
						
					</li>
				</ul> 
				<ul class="no-decoration sg-colors">
					<li>
						<span class="sg-swatch" style="background: #3f3161;"><span class="sg-label" style="color: #fff;">$purple: <br>#3f3161;</span></span>
						
					</li>
					<li>
						<span class="sg-swatch" style="background: #e0daf7;"><span class="sg-label">$purple-light: <br>#e0daf7;</span></span>
						
					</li>
					<li>
						<span class="sg-swatch" style="background: #ffda06;"><span class="sg-label">$yellow: <br>#ffda06;</span></span>
						
					</li>
					<li>
						<span class="sg-swatch" style="background: #fbf6bd;"><span class="sg-label">$yellow-light: <br>#fbf6bd;</span></span>
						
					</li>
				</ul>
				<ul class="no-decoration sg-colors">
					<li>
						<span class="sg-swatch" style="background: #000;">
							<span class="sg-label" style="color: #fff;">$black: <br>#000;</span>
						</span>
						
					</li>
					<li>
						<span class="sg-swatch" style="background: #6a6a6a;"><span class="sg-label" style="color: #fff;">$grey: <br>#6a6a6a; </span></span>
						
					</li>
					<li>
						<span class="sg-swatch" style="background: #BCC7CC;"><span class="sg-label">$grey-medium: <br>#BCC7CC; </span> </span>
						
					</li>
					<li>
						<span class="sg-swatch" style="background: #efefef;"><span class="sg-label">$grey-light: <br>#efefef; </span> </span>
						
					</li>
				</ul>

				<h2>Kontrast</h2>

				<p>For å sikre god lesbarhet må all meningsbærende tekst og grafikk ha tilstrekkelig kontrast mot bakgrunnen. Dette er viktig for alle brukere, særlig under krevende lysforhold. De som trenger dette mest er svaksynte, dyslektikere og fargeblinde.Kontrast måles ut fra lysstyrke, der maksimal kontrast er 21:1 for svart mot hvit. Krav til kontrast avhenger av størrelsen på objektene.</p>

				<p>WCAG 2.0 setter skille ut fra størrelse på teksten. Kontrastkravet for stor tekst (over 18pt eller bold over 14pt) er 3.0:1. Kontrastkravet for liten tekst er 4.5:1.</p>

				Les mer på <a href="https://uu.difi.no/artikkel/2015/07/kontrast">Difis nettsider</a>.

				<h3>Fargekombinasjoner</h3>
				<p>Et utvalg av fargekombinasjoner som fungerer bra sammen, også for ulike typer av fargeblindhet. Kombinasjoner med checkmarks er godkjent for WCAG 2.0 level AA for stor tekst.</p>

				<span class="sg-swatch" style="background: #0062ba;">
					<div class="sg-colorCircle a-bgBlueLight"></div>
					<div class="sg-colorCircle a-bgBlue"></div>
					<div class="sg-colorCircle a-bgYellow">&#10003;</div>
					<div class="sg-colorCircle a-bgGreen">&#10003;</div>
				</span>

				<span class="sg-swatch" style="background: #1eaef7;">
					<div class="sg-colorCircle a-bgBlueLight"></div>
					<div class="sg-colorCircle a-bgPurple">&#10003;</div>
				</span>

				<span class="sg-swatch" style="background: #17c96b;">
					<div class="sg-colorCircle a-bgBlueDark">&#10003;</div>
					<div class="sg-colorCircle a-bgGreenLight">&#10003;</div>
					<div class="sg-colorCircle a-bgYellow">&#10003;</div>
				</span> 

				<span class="sg-swatch" style="background: #e23b53;">
					<div class="sg-colorCircle a-bgRedLight">&#10003;</div>
					<div class="sg-colorCircle a-bgPurple">&#10003;</div>
				</span> 

				<span class="sg-swatch" style="background: #3f3161;">
					<div class="sg-colorCircle a-bgPurpleLight">&#10003;</div>
				</span> 

				<span class="sg-swatch" style="background: #ffda06;">
					<div class="sg-colorCircle a-bgBlueDark">&#10003;</div>
					<div class="sg-colorCircle a-bgYellowLight"></div>
				</span> 

				<h2>Interaksjon</h2>
				<p>Vi har en farge dedikert til elementer som brukeren kan interagere med, f.eks lenker, knapper og navigasjon. Denne fargen skal ikke bli brukt i andre sammenhenger. </p>
				
				<span class="sg-swatch" style="background: #1eaef7;"><span class="">$blue: #1eaef7;</span></span>

				<h2>Skygger</h2>

				<pre class="prettyprint">box-shadow: 1px 1px 4px 0px rgba(137, 137, 137, 0.5);</pre>

				<span class="ap-shadowBox"></span>

				<br><br><br><br>


			</div>
		</div><!--End role=main-->

	</div>

	{{> organisms-footer }}

</div>