
<div class="page" id="page">

	{{> molecules-leftside-nav }}


	<div role="main" class="ap-navbarLeft-content ap-main">


			{{> organisms-article }}




	</div><!--End role=main-->

	{{> organisms-footer }}

</div>
