<!-- START: 00-atomer-03-knapper-31-knapp-fremhevet-stor JS doc: cardsToggle.js, truncateLines.js -->
<button type="button" class="{{{ button-class }}}" {{# has-children }} aria-expanded="false" {{/ has-children }} {{# data-target }} aria-owns="{{ data-target }}" data-toggle="instant" data-target="#{{ data-target }}" {{/ data-target }} {{# onclick }}
  onclick="{{{ onclick }}}" {{/ onclick }}>
  <span class="a-box-button-text">
    <span class="a-meta-text">
      {{ box-button-title }}
    </span>
    <span class="a-box-button-name">
      <span class="sr-only">
        {{ box-button-person }}
      </span>
      <span class="a-js-inner-text" aria-hidden="true">
        {{ box-button-person }}
      </span>
    </span>
  </span>

  {{> atomer-ikon }}

  <span class="a-box-button-action a-blueDarkText a-box-button-primaryAction">
    {{ box-button-action }}
  </span>
  <span class="a-box-button-action a-blueDarkText a-box-button-secondaryAction">
    {{ box-button-secondary-action }}
  </span>
</button>
<!-- END: 00-atomer-03-knapper-31-knapp-fremhevet-stor -->