<!-- START: 01-molekyler-20-modalelementer-10-modal-navbar -->
<div class="a-modal-navbar">
  {{^ hide-buttons }} {{# button-list}} {{> atomer-knapp-ikon:a-js-tabable-popover }} {{/ button-list }} {{/ hide-buttons }}
</div>

<!-- END: 01-molekyler-20-modalelementer-10-modal-navbar -->