<div class="a-page">
    {{# header }}
        {{> organismer-header-altinnett }}
    {{/ header }}

    <div class="container mb-8 pb-3"> 
        <div class="col-sm-10 offset-sm-1 mb-6">
            {{# pageTitle }}
                {{> atomer-sidetittel }}
            {{/ pageTitle }}
            {{> atomer-avsnitt }}
            {{# linkText }}
                {{> atomer-link }}
            {{/ linkText }}
        </div>

        <div class="col-sm-10 offset-sm-1 mb-1 mb-md-3">
            {{> atomer-seksjonstittel }}
        </div>

        {{# trekkspill }}
            {{> molekyler-trekkspill-overskrifter }}
        {{/ trekkspill }}
    </div>


    {{# footer }} 
        {{> organismer-footer-altinnett }}
    {{/ footer }}
</div>