/* Remove all default focus styles, add common style to all elements */
/* Styler focus state på alt, bortsett fra .overide-focus, section, button, canvas, input, progress. */
* {
  &:focus {
    &:not(.override-focus) {
      &:not(section) {
        &:not(button) {
          &:not(canvas) {
            &:not(input) {
              &:not(progress) {
                outline: none !important;
                box-shadow: $focusColor;

                &::before {
                  outline: none !important;
                  box-shadow: $focusColor;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Styler focus state på button, canvas, progress, så lenge de ikke har klassen override-focus. */
button,
canvas,
progress {
  &:not(.override-focus) {
    &:focus {
      outline: none !important;

      &::before {
        outline: none !important;
      }
    }
  }
}

.override-focus {
  outline: none !important;
}
