/* Remove all default focus styles, add common style to all elements */


/* Styler focus state på alt, bortsett fra .overide-focus, section, button, canvas, input, progress. */

*:focus:not(.override-focus):not(section):not(button):not(canvas):not(input):not(progress) {
  box-shadow: $focus-color;
  outline: none !important
}


/* Styler focus state på alle BEFORE, bortsett fra .overide-focus, section, button, canvas, input, progress. */

*:focus:not(.override-focus):not(section):not(button):not(canvas):not(input):not(progress):before {
  box-shadow: $focus-color;
  outline: none !important
}


/* Styler focus state på button, canvas, progress, så lenge de ikke har klassen override-focus. */

button:not(.override-focus):focus,
canvas:not(.override-focus):focus,
progress:not(.override-focus):focus {
  outline: none !important
}


/* Styler focus state på BEFORE for button, canvas, progress, så lenge de ikke har klassen override-focus. */

button:not(.override-focus):focus:before,
canvas:not(.override-focus):focus:before,
progress:not(.override-focus):focus:before {
  outline: none !important
}

.override-focus {
  outline: none !important;
}
