/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

// Web colors for Altinn

$blue-light: #cff0ff;  //lighter #e7f8ff
$blue: #1eaef7;
$blue-dark: #0062ba;
$blue-darker: #022F51;
$blue-hover-color: lighten($blue, 5%);

$green: #17c96b;
$green-light: #d4f9e4;
$green-hover-color: rgba(23, 201, 107, 0.8);

$red: #e23b53;
$red-light: #f9cad3;
$red-hover-color: lighten($red, 5%);

$purple: #3f3161;
$purple-light: #e0daf7;
$purple-hover-color: lighten($purple, 5%);

$yellow: #ffda06;
$yellow-light: #fbf6bd;
$yellow-hover-color: lighten($yellow, 5%);

$black: #000;
$grey: #6a6a6a;
$grey-medium: #B3B3B3; //BCC7CC
$grey-light: #efefef;

$menu-color: $blue-dark;
$link-color: $blue;
$business-color: $blue-light;
$private-color: $grey-light;
$alert: $red;
$logo-color: $blue-dark;

$white : #ffffff;

// Hover
$blue-light-hover-color-dark: darken($blue-light, 3%);


// Extra color variables
$dim : rgba(0,0,0,0.5);
$error : $red;
$valid : $green;
$warning : $red;
$information : $blue;
$mainblue : $blue;

//Typography
$font : 'DIN-reg';
$font-secondary : 'DIN-light';

$font-size-small : 12px;
$font-size-small-2 : 14px;
$font-size-med : 16px;
$font-size-med-2: 18px;
$font-size-large : 20px;
$font-size-large-2 : 24px;
$font-size-xlarge : 28px;
$font-size-xlarge-2 : 32px;

$bodytext: $font-size-med-2;


//Layout
$max-width: 82em;

//SPACE
$space : 12px;				   // 12px

$space-half : $space/2;		   // 6px
$space-and-half : $space*1.5;  // 18px
$space-x2 : $space*2;      	   // 24px
$space-x3 : $space*3;      	   // 36px
$space-x4 : $space*4;          // 48px
$space-x5 : $space*5;          // 60px
$space-x6 : $space*6;          // 72px

$pad : 12px;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

//Breakpoints
$bp-xsmall : 0px; // Small phone
$bp-small : 544px; // Large phone
$bp-med : 768px; // Tablet
$bp-large : 992px; // Laptop
$bp-xlarge : 1200px; // Desktop
//

//Borders
$border-med: 3px;
$border-thick: 7px;
