/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

// Web colors for Altinn
$blue-lighter: #f0faff;
$blue-light: #cff0ff;
$blue: #1eaef7;
$blue-dark: #0062ba;
$blue-darker: #022F51;
$blue-darker-opacity: transparentize($blue-darker, 0.1);
$blue-hover-color: lighten($blue, 5%);
$blue-light-hover-color: lighten($blue-light, 9%);
$green: #17c96b;
$green-light: #d4f9e4;
$green-hover-color: rgba(23, 201, 107, 0.8);
$red: #e23b53;
$red-light: #f9cad3;
$red-hover-color: lighten($red, 5%);
$purple: #3f3161;
$purple-light: #e0daf7;
$purple-hover-color: lighten($purple, 5%);
$yellow: #ffda06;
$yellow-light: #fbf6bd;
$yellow-hover-color: lighten($yellow, 5%);
$black: #000;
$grey: #6a6a6a;
$grey-medium: #B3B3B3;
$grey-light: #efefef;
$grey-lighter: #f5f5f5;
$white : #ffffff;
$white-opacity: transparentize($white, 0.5);
// Hover
$white-hover: rgba(255, 255, 255, 0.2);
$blue-light-hover-color-dark: darken($blue-light, 3%);
// Focus
$focusColor: inset rgba(30, 174, 247, 0.125) 0px -1000px 0px;
// Shadow
$shadow: 1px 1px 4px 0px rgba(137, 137, 137, 0.5);
$shadow2: 0 1px 5px -2px #000; // Used for collapse panels an more?
//Borders
$border-med: 3px;
$border-thick: 7px;
$blue-line: #A5BCC4;
// Accordion image sizes
$header-img-size-lg: 90px;
$header-img-size-md: 72px;
$header-img-size-sm: 48px;
$header-img-size-xs: 48px;
//Typography
$font: 'Roboto',
sans-serif; // 'DIN-reg';
// 'Roboto', sans-serif;
$font-light: $font; // 'DIN-light';
$font-weight-light: 300;
$font-reg: $font; // 'DIN-reg';
$font-weight-reg: 400; // normal;
$font-medium: $font; // 'DIN-medium';
$font-weight-medium: 500; // normal;
$font-bold: $font; // 'DIN-bold';
$font-weight-bold: 700; // normal;
$font-size: 16px;
$font-size-small: 12px;
$font-size-small-2: 14px;
$font-size-med: 16px;
$font-size-med-2: 18px; // Article text
$font-size-large: 20px;
$font-size-large-2: 24px;
$font-size-xlarge: 28px;
$font-size-xlarge-2: 32px;
$bodytext: $font-size;
$articleText-size: 18px;
$articleText-lineHeight: 26px;
$articleText-size-mobile: 16px;
$articleText-lineHeight-mobile: 22px;
