<!-- START: 00-atomer-08-lister-10-liste-unummerert-ikoner -->
<ul class="no-decoration a-iconList">
  {{# icon-list-items }}
  <li>
    {{^ disable-link }}
    <a href="#" class="">
          {{/ disable-link }}
          {{> atomer-ikon }}
          <span>
            <b>{{ list-item-name }}</b>
            {{ listItemDescription }}
          </span>
          {{^ disable-link }}
            </a> {{/ disable-link}}
  </li>
  {{/ icon-list-items }}
</ul>

<!-- END: 00-atomer-08-lister-10-liste-unummerert-ikoner -->