<!-- START: 02-organismer-30-seksjoner-31-personbytte -->
<div class="px-2 pt-3 {{ personswitch-isLeft }}">
  {{# personswitch-options }} {{> atomer-avkrysningsboks }} {{/ personswitch-options }}
</div>

<div class="pt-1 {{styleModifier}}">
  {{# personswitch-persons }} {{> molekyler-ekspanderbar-liste-status }} {{/ personswitch-persons }} {{# loadmore }} {{> atomer-handlingsknapp }} {{/ loadmore }}
</div>

<!-- END: 02-organismer-30-seksjoner-31-personbytte -->