
<form data-toggle="validator" data-disable="true">
    <div class="row">
        <div class="col-xs-12 col-md-7 m-b-1">
            {{> atomer-undertittel }}
            {{# personnummer-input }}
                {{> atomer-tekst-input }}
            {{/ personnummer-input }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <div class="m-t-1">
                {{# etternavn-input }}
                    {{> atomer-tekst-input }}
                {{/ etternavn-input }}
            </div>
        </div>
        <div style="display:none" class="a-js-hideWhenInvalid hidden-md-down col-xs-12 col-md-5 p-l-3">
            {{> molekyler-person-rolle-suksess }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="m-t-3">
                {{# legg-til-knapp }}
                    {{> atomer-knapp:m-b-0 }}
                {{/ legg-til-knapp }}
            </div>
        </div>
    </div>
</form>