<!-- START: 02-organismer-80-Modal-js-innhold-15-dashboard-sendmelding-information-altinn-step3 -->
{{> organismer-dashboard-sendmelding-information-altinn-step2 }}
<!-- END: 02-organismer-80-Modal-js-innhold-15-dashboard-sendmelding-information-altinn-step3 -->