
<div class="a-personRole">
    <i class="material-icons a-personRole-icon">people</i> 

    <div class="a-personRole-text">
        <span class="a-personRole-role">STYREMEDLEM</span>
        <span class="a-personRole-name">WILHELM MJELDE</span>
    </div>
</div>