<!-- START: 02-organismer-01-globale-01-footer -->
<div class="container a-containerFooter">
  <!-- Begin Footer -->
  <footer class="a-footer {{styleModifier}}">
    <div class="row a-footer-firstRow">
      <div class="col-md-4 hidden-sm-down">
        {{# footer-search }} {{> atomer-tekst-input }} {{/ footer-search }}

      </div>
      <div class="col-md-8">
        <nav class="a-footerNav">
          <ul>
            <li>
              <a class="a-hvr-underline" href="{{ link.sider-infoportal-seksjonsforside-v-starteogdrive }}">
                {{# footerBedriftIkon }}
                  {{> atomer-ikon }}
                {{/ footerBedriftIkon }}
                starte og drive bedrift
              </a>
            </li>

            <li>
              <a class="a-hvr-underline" href="{{ link.sider-infoportal-hjelpesenter }}">
                {{# footerHjelpIkon }}
                  {{> atomer-ikon }}
                {{/ footerHjelpIkon }}
                hjelp og kontakt
              </a>
            </li>
          </ul>

        </nav>

      </div>

    </div>

    <div class="row">
      <div class="col-lg-12">

        <nav class="a-footerExtraNav">
          Brønnøysundregistrene,
          <span class="a-footerExtraNav-name">8910 Brønnøysund</span>
          <div class="a-footerExtraNav-toTop hidden-md-up">
            <a href="#top" class="a-linkArea a-btn ">
						    Til toppen
						</a>
          </div>
          <ul>
            <li><a class="hidden-sm-down" href="{{ link.sider-infoportal-navigasjonsartikkel-v-omaltinn-v2 }}">Om Altinn</a></li>
            <li><a class="" href="{{ link.sider-infoportal-arkiv-v-driftsarkiv }}">Driftsmeldinger</a></li>
            <li><a class="" href="{{ link.sider-infoportal-artikkel }}">Personvern og cookies</a></li>
          </ul>
        </nav>
      </div>

    </div>

  </footer>
  <!-- End Footer -->
</div>
<!-- END Container -->

<!-- END: 02-organismer-01-globale-01-footer -->