<!-- Begin #a-dropdown-languages - -->
<div class="dropdown-menu {{{ dropdown-class }}} a-dropdownTriangle">

  {{# dropdownItem }}
    <a class="dropdown-item" href="#">
      <img src="{{{ dropdownItem-image }}}" class="{{{ dropdownItem-imageClass }}}" alt="" />
      <p>
        <span class="a-textSize3">{{{ dropdownItem-title }}}</span><br>
        <span>{{{ dropdownItem-content }}}</span>
      </p>
    </a>
  {{/ dropdownItem }}

</div>
