<!-- START: 00-atomer-02-lenker-_04-♺-link-selvstendig-fare -->
{{> atomer-link(link-class: "a-linkDanger", link-text: "Lenke som står alene og antyder fare")}}

<!-- END: 00-atomer-02-lenker-_04-♺-link-selvstendig-fare -->