<!-- Table -->
<div class="table-responsive">
    <table class="table a-table">
        <thead>
            <tr>
                {{# table-thead-items }}
                {{{ table-thead-text }}}
                {{/ table-thead-items }}
            </tr>
        </thead>
        <tbody>
            {{# table-tbody-items }}
            <tr>
                {{{ table-tbody-text }}}
            </tr>
            {{/ table-tbody-items }}
        </tbody>
    </table>
</div>
