<div class="table-responsive">
  <table class="table a-sortable-table">
    <thead>
      {{#sortable-has-head}}
        <tr>
          {{#sortable-head-items}}
            <th {{# column-width }} style="width:{{ column-width }}" {{/ column-width }}>
              {{#sortable}}
                <span class="a-dropdownArrow"></span> 
              {{/sortable}}
              {{sortable-head-text}}
            </th>
          {{/sortable-head-items}}
        </tr>
      {{/sortable-has-head}}
    </thead>
    <tbody>
      {{#sortable-table-items}}
        <tr class="a-sortable-row">
          {{#sortable-row-items}}
            <td>
              {{{sortable-row-text}}} 
              {{#is-sortable-collapse-link}} 
                {{> atomer-ekspanderbar-tekst}} 
              {{/is-sortable-collapse-link}}
            </td>
          {{/sortable-row-items}}
        </tr>
        {{# sortable-action-items }}
          <tr class="a-sortable-action-row a-collapseContent collapse" id="{{ sortable-action-id }}">
            <td colspan="4">
              <span class="m-l-4 p-l-3">Velg rolle den ansatte skal ha:</span>
              <div class="text-xs-center">
                {{# sortable-action-items }}
                  {{> atomer-valgknapp}} 
                {{/ sortable-action-items }}
              </div>
            </td>
          </tr>
        {{/ sortable-action-items }}
      {{/sortable-table-items}}
    </tbody>
  </table>
</div>