<div class="{{# table-responsive }} table-responsive {{/ table-responsive}}{{# full-width-table }} a-full-width{{/ full-width-table }}{{# full-height-table }} a-full-height{{/ full-height-table }}">
  <table class="{{ styleModifier }} table a-sortable-table a-js-sortable collapsable"
    {{# sortable-table-id }} id="{{ sortable-table-id }}" {{/ sortable-table-id }}>
    <thead>
      {{# sortable-has-head }}
        <tr>
          {{# sortable-head-items }}
            <th {{# column-width }} style="width:{{ column-width }}" {{/ column-width }}
              {{# on-header-click }} onclick="{{ on-header-click }}" {{/ on-header-click }}>
              {{# sortable }}
                <span class="a-dropdownArrow"></span>
              {{/ sortable }}
              {{ sortable-head-text }}
            </th>
          {{/ sortable-head-items }}
        </tr>
      {{/ sortable-has-head }}
    </thead>
    <tbody>
      {{# sortable-table-items }}
        <tr class="a-sortable-row a-js-sortable-clickable-row {{# is-action-performed }}a-sortable-row-complete{{/ is-action-performed }}">
          {{# sortable-row-items }}
            <td {{# searchable }} data-searchable="true" {{/ searchable }}>

              {{# is-icon }}
                {{> atomer-ikon }}
              {{/ is-icon }}

              {{^ is-icon }}
                {{{ sortable-row-text }}}
              {{/ is-icon }}

              {{# is-sortable-collapse-link }}
                <span class="action-confirmation">{{ action-performed-confirmation }}</span>
                <span class="action-deleted">{{ action-deleted-confirmation }}</span>
                {{> atomer-ekspanderbar-tekst }}
              {{/ is-sortable-collapse-link }}

            </td>
          {{/ sortable-row-items }}
        </tr>
        {{# sortable-action-items }}
          <tr class="a-sortable-action-row a-collapseContent collapse a-js-ignoreDuringSearch"
            {{# target-table }} data-target-table="{{ target-table }}" {{/ target-table }}
            {{# source-table }} data-source-table="{{ source-table }}" {{/ source-table }}
            id="{{ sortable-action-id }}">
            <td colspan="4" class="pt-0">
              <span class="ml-4 pl-3">
               {{ sortable-action-text }}
              </span>
              <div class="text-xs-center">
                {{# sortable-action-items }}
                  {{> atomer-valgknapp}}
                {{/ sortable-action-items }}
              </div>
              {{> molekyler-ferdigsegment:a-list-fullWidthRow }}
            </td>
          </tr>
        {{/ sortable-action-items }}
      {{/ sortable-table-items }}
    </tbody>

    {{# optional-empty-search-results-message }}
      <tfoot>
        <tr>
          <td></td>
          <td colspan="2">{{> atomer-varsel }}</td>
          <td></td>
        </tr>
      </tfoot>
    {{/ optional-empty-search-results-message }}

  </table>
</div>
