<div class="{{ full-width-table }}">
  <table class="table a-sortable-table a-table-list" id="{{ table-remove-undo-id }}">
    <thead>
      {{# sortable-has-head }}
        <tr class="a-sortable-row a-table-list">
          {{# sortable-head-items }}
            <th class="{{# is-first-column }} first {{/ is-first-column }} {{# cell-align }} text-xs-right col-pd-4 p-r-2 {{/ cell-align }}">              
              {{# sortable }}
                <span class="a-dropdownArrow"></span>
              {{/ sortable }}
              {{{ sortable-head-text }}}
              <i class="material-icons a-table-icon remove-icon">{{{sortable-head-icon-type}}} </i>
            </th>
          {{/ sortable-head-items }}
        </tr>
      {{/ sortable-has-head }}
    </thead>
    <tbody>
      {{# sortable-table-items }}
        <tr class="a-sortable-row {{sortable-row-class}}">
          {{# sortable-row-items }}
            <td {{# cell-align }} class="text-xs-right p-r-2" {{/ cell-align }} {{# searchable }} data-searchable="true" {{/ searchable }}>
              {{# is-bold-text }}
                <strong>
              {{/ is-bold-text }}
                {{{ sortable-row-text }}}
              {{# is-bold-text }}
                </strong>
              {{/ is-bold-text }}
              {{#sortable-row-icon-type}}
              <i class="material-icons {{sortable-row-icon-class}}">{{{sortable-row-icon-type}}} </i>
              {{/sortable-row-icon-type}}
            </td>
          {{/ sortable-row-items }}
        </tr>
      {{/ sortable-table-items }}
    </tbody>
  </table>
</div>
