<div class="{{ full-width-table }}">
  <table class="table a-table-list-non-sortable a-table-list" id="{{ table-id }}">
    <thead>
    </thead>
      <tbody>
        {{# table-list-items }}
          <tr class="a-sortable-row {{ sortable-row-class }} white">
            {{# table-row-items }}
              <td {{# cell-padding }} class="text-xs-right p-r-2" {{/ cell-padding }} {{# searchable }} data-searchable="true" {{/ searchable }}>
                      {{{ table-list-text }}}
                {{# table-row-icon-type }}
                <i class="material-icons {{ sortable-row-icon-class }}">{{{ table-row-icon-type }}}</i>
                {{/ table-row-icon-type }}
              </td>
            {{/ table-row-items }}
          </tr>
        {{/ table-list-items }}
      </tbody>
  </table>
</div>
