<!-- Begin .header -->
<header class="a-header" role="banner">
	{{> atoms-logo }}
	<a href="#" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
	<a href="#" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
</header>
<!-- End .header -->
