<div class="a-card a-cardImage {{ styleModifier }}">
  {{# card-picture-content }}
      {{# image }}
        {{> felles-komponenter-placeholder}}
      {{/ image }}

      <div class="a-cardImage-text">
        {{#card-picture-title}}<h2>{{ card-picture-title }}</h2>{{/card-picture-title}}
        <p>{{{ card-picture-description }}}</p>

        {{# tel }}
          {{> felles-komponenter-link-telefonnummer }}
        {{/ tel }}

        {{# mail }}
          {{> felles-komponenter-link-mail }}
        {{/ mail }}

        {{# linkIcon }}
          {{> felles-komponenter-link-ikon }}
        {{/ linkIcon }}

        {{# abonner }}
          {{> felles-komponenter-abonner }}
        {{/ abonner }}

      </div>
  {{/ card-picture-content }}
</div>
