<button
  type="button"
  class="{{ button-class }}"
  data-dismiss="modal"
  {{{ button-onclick }}} 
  aria-label="{{ aria-label }}">
  <i class="{{ button-icon-class }}">{{{ button-icon-text }}}</i>
</button>
