<button type="button" class="{{ button-class }}">
    <i class="{{ action-button-class }} {{ action-button-icon-class }}">{{{ action-button-icon }}}</i>
    <span>{{{ action-button-text }}}</span>
</button>
