<div class="a-btn-group">

    {{> atomer-handlingsknapp}}

    {{> atomer-handlingsknapp(action-button-class: "fa fa-download a-btn-action-icon", action-button-icon: "", action-button-text: "En knapp for å laste ned")}}

    {{> atomer-handlingsknapp(action-button-class: "fa fa-upload a-btn-action-icon", action-button-icon: "", action-button-text: "En knapp for å laste opp")}}

</div>
