<button type="button" class="a-boxAddBtn">

  <span class="a-boxAddBtn-inner">
       {{box-button-add-textover}}

    <i class="material-icons a-boxAddBtn-icon">add_circle</i>

       {{box-button-add-textunder}}
  </span>

</button>
