<button type="button" class="a-boxAddBtn">
  <span class="a-boxAddBtn-inner">
    {{ box-button-add-textover }}
      <i class="fa fa-plus a-boxAddBtn-icon" aria-hidden="true"></i>
    {{ box-button-add-textunder }}
  </span>
</button>
