<!-- START: 02-organismer-20-forms-40-skjema-dato -->
<form data-toggle="validator" role="form" action="{{{url}}}" class="{{ styleModifier }}">

  {{# text-input-date }} {{> atomer-datovelger }} {{/ text-input-date }} {{# date-submit }} {{> atomer-knapp:mt-2 }} {{/ date-submit }}
</form>

<!-- END: 02-organismer-20-forms-40-skjema-dato -->