<!-- START: 01-molekyler-05-lister-20-liste-unummerert-expandable JS doc: listSort.js, compareTo.js -->
{{# liste-unummerert-expandable }}
  {{> molekyler-liste-unummerert }}
  {{/ liste-unummerert-expandable  }}
  <!-- END: 01-molekyler-05-lister-20-liste-unummerert-expandable -->