<div class="modal-content">
    <div class="modal-body a-modal-body">
        <div class="mb-4">
            <h1 class="a-fontBold a-fontSizeXL mt-1">{{ modal-title }}</h1>
            <p class="lead">{{{ modal-ingress }}}</p>
        </div>
        <div class="mb-2">
            {{#cancel}}<a class="" data-toggle="altinn-modal" data-action="close" data-target="#modal" href="{{url}}">{{label}}</a>{{/cancel}}
        </div>
    </div>
</div>
