<a data-toggle="collapse" data-parent="#{{ accordion-large-id }}" data-target="#{{{ collapse-header-id }}}" href="#" aria-expanded="false" class="a-collapse-title no-decoration collapsed a-textSize3">
    <span class="a-dropdownCircleArrow"></span> {{{ collapse-header-text }}}
</a>
