<a data-toggle="collapse"
  {{# data-parent }} data-parent="#{{{ data-parent }}}"{{/ data-parent }}
  href="#{{collapse-header-id}}"
  aria-expanded="false"
  class="a-collapse-title no-decoration collapsed a-headingSizeM">
    <span class="a-dropdownCircleArrow"></span> {{{ collapse-header-text }}}
</a>
