<a data-toggle="collapse" data-parent="#filterSkjema" data-target="#{{{ collapse-header-id }}}" href="#" aria-expanded="false" class="a-collapseTitle no-decoration collapsed a-textSize3">
    <span class="a-dropdownCircleArrow"></span> {{{ collapse-header-text }}}
</a>
 
