<button class="{{{ button-class }}} {{{ button-colorClass }}} {{ styleModifier }}" type="button" data-toggle="collapse" data-target="#{{collapse-header-contentID}}" aria-expanded="false" aria-controls="{{collapse-header-contentID}}">

  <span class="a-dropdownCircleArrow"></span>
  {{{ collapse-header-title }}}

</button>
