<a data-toggle="collapse" data-parent="#filterSkjema" data-target="#{{{ collapse-filter-id }}}" href="#" aria-expanded="false" class="a-collapseTitle no-decoration collapsed">
    <span class="a-dropdownArrow"></span> {{{ collapse-filter-text }}}
</a>
