<a data-toggle="collapse"
    {{# data-parent }} data-parent="#{{{ data-parent }}}"{{/ data-parent }}
    href="#{{collapse-filter-id}}"
    aria-expanded="true"
    aria-controls="{{collapse-filter-id}}"
    class="a-collapse-title {{ styleModifier }} {{# toggle-texts }} toggle-collapse-text {{/ toggle-texts }} {{# no-decoration }} no-decoration {{/ no-decoration }} {{# blue-text-right }} button-blue-no-underline mr-5 float-xs-right {{/ blue-text-right }} collapsed">
    {{# show-arrow }} <span class="a-dropdownArrow"></span> {{/ show-arrow }}

    {{# collapse-primary-text }}
        <span class="primary-collapse-text">
            {{{ collapse-primary-text }}}
        </span>
    {{/ collapse-primary-text }}
    {{# collapse-secondary-text }}
        <span class="secondary-collapse-text">
            {{{ collapse-secondary-text }}}
        </span>
    {{/ collapse-secondary-text }}
</a>
