<div class="a-collapse">
  <div class="{{# collapse-header-class }}{{ collapse-header-class }}{{/ collapse-header-class }}">
    <h3 class="a-collapseHeader{{# heading-action }} a-collapseHeader-with-actions{{/ heading-action }}">
        <a data-toggle="collapse" data-parent="#accessToRoles" data-target="#{{{ collapse-header-contentID }}}"
       href="#" aria-expanded="{{ aria-expanded-header }}" aria-controls="DirectRoles" class="a-collapse-title a-collapse-title--absolute no-decoration {{# smaller-heading-font }} a-fontSizeXS {{/ smaller-heading-font }} {{# collapsed }} collapsed {{/ collapsed }}">
            <span class="a-dropdownArrow"></span> {{{ collapse-header-title }}}
        </a>
    </h3>

    {{# heading-action }}
      <div class="a-list-heading-actions">
        {{# heading-text }}
        <span class="{{^ heading-text-class }}hidden-sm-down{{/ heading-text-class }}{{# heading-text-class }} {{ heading-text-class}} {{/ heading-text-class }}">
          {{ heading-text }}
        </span>
        {{/ heading-text }}
        {{> atomer-ikon }}
      </div>
    {{/ heading-action }}
  </div>
</div>
