
<div class="a-collapse">
  <h3 class="a-collapseHeader {{ collapse-header-class }}">
      <a data-toggle="collapse" data-parent="#accessToRoles" data-target="#{{{ collapse-header-contentID }}}" href="#" aria-expanded="false" aria-controls="DirectRoles" class="a-collapse-title no-decoration collapsed">
          <span class="a-dropdownArrow"></span> {{{ collapse-header-title }}}
      </a>
  </h3>
</div>
