
<div class="panel panel-default a-panel a-collapse {{{ styleModifier }}}" role="tablist">
    <div class="panel-heading index-heading clearfix collapsed a-collapse-heading a-panel-heading {{isExpanded}}" role="tab">
        <a class="a-collapseBtn collapsed center-table-text" data-toggle="collapse" data-parent="#accordion" data-target="#{{ collapse-panel-id }}" href="#" aria-expanded="false" aria-controls="{{ collapse-panel-id }}">
			    <i class="material-icons a-panel-heading-icon {{collapse-panel-icon-class}}">
            {{ collapse-panel-icon }}</i>
          <div class="a-panel-heading-text">
            <h2>{{ collapse-panel-title }}</h2>
          </div>
		    </a>
    </div>
    <div id="{{ collapse-panel-id }}" class="panel-collapse a-panel-collapse collapse {{{ isVisibleFromStart }}}" role="tabpanel" aria-labelledby="{{ collapse-panel-id }}">
     <article class="a-text a-panel-collapse-content {{isDelayed}}">
          {{{ collapse-panel-content }}}
      </article>
    </div>
</div>
