<div class="a-btn-group">
  {{#tooltip-items}}
    <a href="#" tabindex="0" class="a-link a-button-link" role="button" data-toggle="tooltip" data-template="{{> atomer-tooltip}}" data-placement="top" title="{{ tooltip-title }}">
      {{tooltip-link-text}}
    </a>
  {{/tooltip-items}}
</div>
