<a href="javascript:void(0)" tabindex="0" class="a-linkArea a-helpIconButton a-helpIconButton--blue a-js-togglePopoverIcons a-js-blurrablePopover" role="button" data-toggle="popover"
  data-template="{{> atomer-footnote }}" data-target="#{{ footnote-data-target }}"
  data-placement="bottom" data-trigger="focus" title="{{ footnote-title }}"
  data-content="{{{ footnote-content }}}" data-html="true">
  {{# icon-list }}
    {{> atomer-ikon }}
  {{/ icon-list }}
</a>