Lorem ipsum
<a href="#" tabindex="0" class="a-linkArea a-helpIconButton" role="button" data-toggle="popover"
  data-template="{{> atomer-footnote}}" data-target="#{{footnote-data-target}}"
  data-placement="bottom" data-trigger="focus" title="{{footnote-title}}"
  data-content="{{footnote-content}}"> 
  <i class="material-icons">add_circle</i>
</a>
