<div class="a-link-helpfunction">
  {{{ help-text-icon }}}</i>
  {{ help-text-1 }}
  {{# is-link }}
  {{> atomer-link }}
  {{/ is-link }}
  {{# is-chat }}
    <div class="a-link-chat" id="link-chat">chat</div>
  {{/ is-chat }}
  {{ help-text-2 }}

  {{# help-link-2 }}
    {{> atomer-link }}
  {{/ help-link-2 }}

</div>
