<div class="a-page">
	{{# header }}
		{{> organismer-header-altinnett }}
	{{/ header }}

	<section id="content" tabindex="-1">

		{{# article-jumbotron }}
			{{> molekyler-jumbotron }}
		{{/ article-jumbotron }}

		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text mb-5">
						{{> atomer-avsnitt }}

						{{> atomer-seksjonstittel }}
						{{> atomer-avsnitt }}

						{{> molekyler-fant-du-det-du-lette-etter }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 mb-5">

					{{> molekyler-bilde-innhold }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->
		</div> <!-- END Container -->

	</section>

	{{# footer }}
		{{> organismer-footer-altinnett }}
	{{/ footer }}
</div>
