<div class="a-page">
  {{# header }}
    {{> organismer-header-altinnett }}
  {{/ header }}

  <div class="container">
    {{# promoted-products }}
      {{> organismer-altinnett-produkt-presentasjon }}
    {{/ promoted-products }}

    <div class="pt-6 d-none d-md-block d-lg-block d-xl-block"></div>

    <div class="row">
      {{# product-1 }}
        {{> molekyler-altinnett-presentasjonsblokk-horisontal }}
      {{/ product-1 }}

      {{# product-2 }}
        {{> molekyler-altinnett-presentasjonsblokk-horisontal }}
      {{/ product-2 }}

      {{# product-3 }}
        {{> molekyler-altinnett-presentasjonsblokk-horisontal }}
      {{/ product-3 }}

      {{# product-4 }}
        {{> molekyler-altinnett-presentasjonsblokk-horisontal }}
      {{/ product-4 }}

      {{# product-5 }}
        {{> molekyler-altinnett-presentasjonsblokk-horisontal }}
      {{/ product-5 }}

      {{# product-6 }}
        {{> molekyler-altinnett-presentasjonsblokk-horisontal }}
      {{/ product-6 }}
    </div>

    <div class="pt-6 d-none d-md-block d-lg-block d-xl-block"></div>

    <div class="row">
      {{# product-7 }}
        {{> molekyler-altinnett-presentasjonsblokk-horisontal }}
      {{/ product-7 }}
    </div>

  </div>

  {{# footer }}
    {{> organismer-footer-altinnett }}
  {{/ footer }}
</div>
