<div class="a-page">
    {{# header }}
        {{> organismer-header-altinnett }}
    {{/ header }}

    {{# presentationBlock }}
        {{> molekyler-altinnett-presentasjonsblokk-bred }}
    {{/ presentationBlock }}

    <div class="container">
        {{# crumbs }}
          <div class="col-sm-12 col-lg-10 offset-lg-1">
              {{> molekyler-smulesti }}
          </div>
        {{/ crumbs }}
        <div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg pt-2 pt-lg-3 mb-6">
          {{# paragraphs }}
            {{> atomer-undertittel }}
            {{# multipleParagraphs }}
              {{> atomer-avsnitt }}
            {{/ multipleParagraphs }}
          {{/ paragraphs }}
        </div>
    </div>

    {{# slideshowBlock }}
      {{> molekyler-altinnett-slideshow }}
    {{/ slideshowBlock }}

    {{# case }}
      <div class="an-case">
        <div class="an-caseRow an-caseRow--grey mb-6">
          <div class="container">
            {{> molekyler-case-preview }}
          </div>
        </div>
      </div>
    {{/ case }}
    
    <div class="container">
        {{# accordion }}
            <div class="col-sm-12 col-lg-8 offset-lg-2 mb-6">
                {{> molekyler-trekkspill-overskrifter }}
            </div>
        {{/accordion}}
        {{# kontaktkort }}
            <div class="col-12 mb-6">
                {{> molekyler-altinnett-kontaktkort }}
            </div>
        {{/ kontaktkort }}
    </div>

    {{# footer }}
        {{> organismer-footer-altinnett }}
    {{/ footer }}
</div>