<div class="a-page">
    {{# header }}
        {{> organismer-header-altinnett }}
    {{/ header }}

    {{# productHeader }}
        {{> molekyler-altinnett-produkt-header }}
    {{/ productHeader }}

    <div class="container">
        {{# crumbs }}
          <div class="col-sm-12 col-lg-10 offset-lg-1">
              {{> molekyler-smulesti }}
          </div>
        {{/ crumbs }}
        <div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg epi-wysiwyg-smallHeadings pt-2 pt-lg-3 mb-6">
          {{# paragraphs }}
            <h2 class="a-h3">{{section-sub-title}}</h2>
            {{# multipleParagraphs }}
              {{> atomer-avsnitt }}
            {{/ multipleParagraphs }}
          {{/ paragraphs }}
        </div>
    </div>

    {{> molekyler-altinnett-slideshow }}
    
    <div class="container">
        {{# case }}
            <div class="col-12 px-0 mb-6">
                {{> molekyler-altinnett-case }}
            </div>
        {{/ case }}
        {{# accordion }}
            <div class="col-sm-12 col-lg-8 offset-lg-2 mb-6">
                {{> molekyler-trekkspill-overskrifter }}
            </div>
        {{/accordion}}
        {{# kontaktkort }}
            <div class="col-12 px-0 mb-6">
                {{> molekyler-altinnett-kontaktkort }}
            </div>
        {{/ kontaktkort }}
    </div>

    {{# footer }}
        {{> organismer-footer-altinnett }}
    {{/ footer }}
</div>