<div class="a-page">
    {{# header }}
        {{> organismer-header-altinnett }}
    {{/ header }}

    <h1 class="sr-only">Altinn studio</h1>

    {{# jumbotron }}
        {{> molekyler-jumbotron }}
    {{/ jumbotron }}

    <div class="container">
        <div class="row">
            {{# crumbs }}
                <div class="col-sm-12 col-lg-10 offset-lg-1">
                    {{> molekyler-smulesti }}
                </div>
            {{/ crumbs }}
            <div class="col-sm-12 col-lg-8 offset-lg-2 pt-2 pt-lg-3 mb-6">
                New blocks go here
            </div>
        </div>

        {{# case }}
            {{> molekyler-altinnett-case }}
        {{/ case }}

        <div class="row">
            <div class="col-sm-12 col-lg-8 offset-lg-2 pt-2 pt-lg-3 mb-6 a-text epi-wysiwyg">
                Bullet points go here
            </div>
        </div>

        {{# kontaktkort }}
            {{> molekyler-altinnett-kontaktkort }}
        {{/ kontaktkort }}

        {{# accordion }}
            <div class="row">
                <div class="col-sm-12 col-lg-8 offset-lg-2 mb-6 mb-lg-8">
                    {{> molekyler-trekkspill-overskrifter }}
                </div>
            </div>
        {{/accordion}}
    </div>

    {{# footer }}
        {{> organismer-footer-altinnett }}
    {{/ footer }}
</div>