<!-- START: 04-sider-altinnett-00-dashboard-intern-10-dashboard-intern-forside -->
{{> maler-altinnett-dashboard-intern-forside }}
<!-- END: 04-sider-altinnett-00-dashboard-intern-10-dashboard-intern-forside -->