$active-star-color: #008CF0;
$inactive-star-color: #6A6A6A;

.a-btn-overlay-right {
  position: absolute;
  right: 0;
  width: auto;
  height: auto !important;
  margin-top: 0;

  &.a-disabled {
    background-color: transparent;
    box-shadow: none;
  }
}

.a-collapseContent {

  .ai-favourite,
  .ai-favourite-inactive {
    margin-right: 0.5rem;
  }
}

.a-dropdown-personswitchList {
  .a-break-name-orgnr {
    display: block;
    padding-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .a-btn-overlay-right {
    margin-top: 0;
  }

  @media(pointer: coarse) {
    .a-child-star {
      margin-right: 12px !important;
    }
  }
  @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
      @media (max-width: 767px) {
        .a-child-star {
          margin-right: 12px !important;
        }
      }
    }

  .a-list-rowLink {
    &.a-list-rowLink-inactive {
      display: none;
    }
  }
}

@media(max-width: 767px) {
  .container {
    &.a-triangleShadow {
      .a-listWithSubLevels>.a-favourite {
        button {
          margin-right: 20px;
        }
      }.a-break-name-orgnr {
        padding-right: 15px;
      }.a-favourites {
        .a-favourite {
          button {
            margin-right: 13px;
          }
        }
      }
    }
  }
}

.a-favourite {
  display: flex;
  justify-content: center;
  align-items: center;

  .a-list-rowLink {
    padding-right: 0;
  }

  button {
    padding: 4px 4px;
    margin: 0 30px;
  }

  @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
      button {
        display: inline-flex !important;
      }
    }

  .a-btn {
    > {
      .ai-favourite {
        color: $active-star-color;
      }.ai-favourite-inactive {
        color: $inactive-star-color;
      }
    }

    &:hover > {
      .ai-favourite {
        color: $inactive-star-color;
     }.ai-favourite-inactive {
        color: $active-star-color;
     }
    }
  }
}

.a-child-star {
  @media (min-width: 768px) {
    margin-right: 11px !important;
  }
}

// sass-lint:disable-block no-disallowed-properties
.a-listWithSubLevels {
  .ai-favourite,
  .ai-favourite-inactive {
    font-size: 1.35em !important;
  }
}

// sass-lint:disable-block no-disallowed-properties
.a-favourites {
  .ai-favourite {
    &.ai-xs {
      font-size: 1.1em !important;
  }
}

  .a-btn {
    &::after {
      height: 10px;
    }
  }

  li {
    .a-list-rowLink {
      &.a-list-rowLink-inactive {
        cursor: default;
        border-bottom: none !important;
      }
    }
  }
}

@media (max-width: 767px) {
  .a-break-name-orgnr {
    display: block;
    padding-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .col-11 {
    .a-break-name-orgnr {
      &:parent {
        padding-right: 10px;
        }
      }
    }
  }

@media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    @media (min-width: 768px) {

      .a-listWithSubLevels > {
        .a-favourite {
          &:hover > {
            button > {
              .ai-favourite-inactive {
                display: inline-block;
              }
            }
          }
        }button {
          &.a-btn-shadow-large {
            &:hover ~ {
              .a-favourite {
                .ai-favourite-inactive {
                  display: inline-block;
                }
              }
            }
          }
        }.a-collapseContent > {
          .a-list-container {
            li {
              &:hover {
                .ai-favourite-inactive {
                  display: inline-block;
                }
              }
            }
          }
        }
      }

      .ai-favourite-inactive {
        display: none;
      }
    }
  }

@media(pointer: fine) {
  .a-listWithSubLevels > {
    .a-favourite {
      &:hover > {
        button > {
          .ai-favourite-inactive {
            display: inline-block;
          }
        }
      }
    }button {
      &.a-btn-shadow-large {
        &:hover ~ {
          .a-favourite {
            .ai-favourite-inactive {
              display: inline-block;
            }
          }
        }
      }
    }.a-collapseContent > {
      .a-list-container {
        li {
          &:hover {
            .ai-favourite-inactive {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .ai-favourite-inactive {
    display: none;
  }
}
