// ----------------------------------
// LAYOUT
// ----------------------------------

.a-overlay-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow-y: scroll;
  background: $white;

  .filter-limit-hits-spacer {
    height: 55px;
  }

  .a-personSwitcher {
    cursor: not-allowed;
  }

  .a-btn {
    &.a-btn-icon {
      min-height: 0;

      &:hover {
        color: $black;
      }

      i {
        color: $grey-light;
        background-color: $black;
        border-top: 7px solid $black;
        border-bottom: 7px solid $black;
        border-radius: 50%;

        &::before {
          margin-left: -2px;
        }
      }
    }
  }
}
