<!-- START: 03-maler-40-sok-00-sok-forside -->
<div class="a-page">
  {{> organismer-header }}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
        {{# article-search }} {{> atomer-tekst-input }} {{/ article-search }}
      </div>
    </div>
  </div>

  <section id="content" tabindex="-1">

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-lg-6 offset-lg-1">
          <h1 class="a-h3 a-fontReg"><b>10 av 123 treff</b> på skjema og artikler med <b>"MVA"</b></h1>
        </div>
        {{# filterSearch }}
        <div class="col-sm-4 col-lg-4">
          {{> atomer-knapp }}
        </div>
        {{/ filterSearch }}
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1 pb-3">

          {{# item1 }} {{> molekyler-ikon-link }} {{/ item1 }} {{# item2 }} {{> molekyler-lenketittel-med-forklaring }} {{/ item2 }}

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-lg-12 pb-3">
          {{# card-bottom }} {{> molekyler-ikon-link }} {{/ card-bottom }}

        </div>
      </div>

      {{# hr }}
      <hr> {{/ hr }}

      <div class="row">
        <div class="col-sm-12 col-lg-6 offset-lg-3 pb-3">
          {{> molekyler-bilde-innhold:mt-4 }}
        </div>
      </div>

    </div>
    <!-- END Container -->

  </section>

  {{> organismer-footer }}
</div>

<!-- END: 03-maler-40-sok-00-sok-forside -->