<!-- START: 01-molekyler-00-tekst-46-tekstinnhold-beskrivelse -->
<h2 class="a-h3 mb-1">{{ header-text }}</h2>
<span>{{ intro-text }}</span>
<div class="mt-2">
  <h3 class="a-fontReg mb-1">{{ secondary-title }}</h3>
  <span class="a-fontBold">{{ third-title }}</span>
  <p> {{ paragraf-text }}</p>
</div>

<!-- END: 01-molekyler-00-tekst-46-tekstinnhold-beskrivelse -->