<div class="a-page">
	{{> organismer-header }}

	<div class="container {{ wrapperClass }}" data-source="{{ wrapperSource }}" data-dimensions="{{ wrapperDimensions }}" data-dimensionsaliases="{{ wrapperDimensionsAliases }}" data-mappedkeys="{{ wrapperMappedKeys }}">

		<div class="row">
			<div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
				{{# article-search }}
						{{> atomer-tekst-input }}
				{{/ article-search }}
			</div>
		</div>
	</div>

	<section id="content" tabindex="-1">

		<div class="container">
				<div class="row">
					<div class="col-sm-12 col-lg-10 offset-lg-1 pb-3">

							{{# article-breadcrumb }}
								{{> molekyler-smulesti }}
							{{/ article-breadcrumb }}

							{{> atomer-sidetittel }}

							{{# hasIntro}}
								{{> atomer-intro-tekst }}
							{{/ hasIntro}}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-lg-12 pb-3">
						{{# modal-loader }}
							{{> atomer-laster-inn }}
						{{/ modal-loader }}
						{{# filter-formaal }}
							{{> molekyler-kort }}
						{{/ filter-formaal }}

						{{# filter-bransje }}
								{{> molekyler-kort }}
						{{/ filter-bransje }}
					</div>
				</div>

				<div class="row">
					{{# expand-results }}
							{{> atomer-knapp-ikon-tekst}}
					{{/ expand-results }}
				</div>

			<div class="row">
				<div class="col-sm-12 col-lg-10 offset-lg-1 pb-3">
					{{# modal-empty }}
						{{> atomer-avsnitt }}
					{{/ modal-empty }}
					<div class="{{ resultList }}">
						{{# list-stotteordninger }}
							{{> molekyler-lenketittel-med-forklaring }}
						{{/ list-stotteordninger }}
					</div>
					<div class="{{ alternativeResultList }}" data-extraresultsheading="{{ extra-results-heading }}">
						{{# list-stotteordninger }}
							{{> molekyler-lenketittel-med-forklaring }}
						{{/ list-stotteordninger }}
					</div>
					{{# list-stotteordninger-loadmore }}
				    {{> atomer-handlingsknapp }}
				  {{/ list-stotteordninger-loadmore }}


					</div>
				</div>

			</div> <!-- END Container -->

	</section>

	{{> organismer-footer }}
</div>
