<div class="a-page" id="smoothState">
	{{> organismer-header }}

	<div class="container {{ wrapperClass }}" id="content" tabindex="-1" data-source="{{ wrapperSource }}">

		<div class="row">
			<div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
				{{# article-search }}
						{{> atomer-tekst-input }}
				{{/ article-search }}
			</div>
		</div>

			<div class="row">
				<div class="col-sm-12 col-lg-10 offset-lg-1 pb-3">

						{{# article-breadcrumb }}
							{{> molekyler-smulesti }}
						{{/ article-breadcrumb }}

						{{> atomer-sidetittel }}

						{{# hasIntro}}
							{{> atomer-intro-tekst }}
						{{/ hasIntro}}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-lg-12 pb-3">
					{{# modal-loader }}
						{{> atomer-laster-inn }}
					{{/ modal-loader }}
					{{# filter-formaal }}
						{{> molekyler-kort }}
					{{/ filter-formaal }}

					{{# filter-bransje }}
							{{> molekyler-kort }}
					{{/ filter-bransje }}
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-lg-10 offset-lg-1 pb-3">
					{{# modal-empty }}
						{{> atomer-avsnitt }}
					{{/ modal-empty }}
					<span class="{{ resultList }}">
						{{# list-stotteordninger }}
								{{> molekyler-lenketittel-med-forklaring }}
						{{/ list-stotteordninger }}
					</span>

					{{# list-stotteordninger-loadmore }}
				    {{> atomer-handlingsknapp }}
				  {{/ list-stotteordninger-loadmore }}

				</div>
			</div>


		</div> <!-- END Container -->

		{{> organismer-footer }}

</div>
