<div class="a-page" id="smoothState">

	<!-- Proxy content container, for inclusion in more than one place -->
	<div class="a-js-propagatedContentOrigin suggest">
		<h2 class="pt-5">Forslag til deg:</h2>
		{{> atomer-liste-nummerert }}
	</div>
	<!-- END Proxy content container -->

	{{> organismer-header }}

	<div class="container" id="content" tabindex="-1">

			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 py-3">
					{{# article-search }}
						{{> atomer-tekst-input }}
					{{/ article-search }}
				</div>
			</div>

<!--
				<div class="row hidden-lg-up">

						<div id="a-js-suggestionList-mobile" class="col-sm-12 mb-5 a-js-propagatedContentDestination" data-refclass="suggest"></div>

				</div> -->

				<div class="row a-filter-container">
					<div class="col-sm-12 col-md-4">
						<span class="a-textSize2">
							<span class="a-textSizeBold">1287</span> skjemaer
						</span>
					</div>
					<div class="col-sm-0 col-md-4 col-lg-5">
						<br />
					</div>
					<div class="col-sm-12 col-md-4 col-lg-3" data-switchUrl1="{{ switch-url-1 }}" data-switchUrl2="{{ switch-url-2 }}">
						{{> atomer-knapp-veksle }}
					</div>

				</div>

				<div class="row a-filter-container">

					<div id="filter-type" class="a-collapseContent collapse" role="tabpanel" aria-expanded="true">
						{{# filterType }}
							{{> atomer-valgknapp }}
						{{/ filterType }}
					</div>

					<div id="filter-etat" class="a-collapseContent collapse" role="tabpanel" aria-expanded="true">
						{{# filterEtat }}
							{{> atomer-valgknapp }}
						{{/ filterEtat }}
					</div>

					<div id="filter-frist" class="a-collapseContent collapse" role="tabpanel" aria-expanded="true">
						{{# filterFrist }}
							{{> atomer-valgknapp }}
						{{/ filterFrist }}

					</div>

				</div>

				<div class="a-contentOverview">
					<div class="row">
						{{> molekyler-meny-kolonner }}
						<div id="a-js-suggestionList" class="col-sm-12 col-lg-6 hidden-md-down a-js-propagatedContentDestination a-js-suggestionList" data-refclass="suggest"></div>
					</div>
				</div>

		{{> organismer-footer }}

	</div> <!-- END Container -->



</div>
