<div class="a-page" id="smoothState">

	{{> organismer-header }}

	<div class="container a-containerColnav" id="content" tabindex="-1">

			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
					{{# article-search }}
						{{> atomer-tekst-input }}
					{{/ article-search }}
				</div>
			</div>

				<div class="row a-containerColnav-top">
					<div class="col-sm-12 col-md-9">
						<span class="a-h2">
							<span class="a-fontBold">1287</span> skjemaer
						</span>
					</div>
					<div class="col-sm-12 col-md-3" data-switchUrl1="{{ switch-url-1 }}" data-switchUrl2="{{ switch-url-2 }}">
						{{> atomer-knapp-veksle }}
					</div>
				</div>


				<div class="a-contentOverview">
					<div class="row">
						{{> molekyler-meny-kolonner }}

							<h2 class="pt-5">Forslag til deg:</h2>
							{{> atomer-liste-nummerert }}
						</div>
						<!-- END Proxy content container -->
					</div>
				</div>

			</div> <!-- END Container -->

			{{> organismer-footer }}



</div>
