<div class="a-page">
  {{# header }}
    {{> organismer-header }}
  {{/ header }}

  <section id="content" tabindex="-1">

    {{> molekyler-jumbotron }}

    <div class="container">

      Hovedknapper som viser alle temaer innenfor hjelp
      <br><br>
      Ofte stilte spørsmål (generelle)
      <br><br>
      Lenke til kontaktskjema (modal)

  	</div><!-- END Container -->

  </section>

  {{> organismer-footer }}
</div>
