<div class="a-page">
  {{# header }}
    {{> organismer-header }}
  {{/ header }}

  <section id="content" tabindex="-1">

    {{> molekyler-jumbotron }}

    <div class="container">
      <div class="row mt-4">
				<div class="col-6 col-lg-3">
          <a href="#" class="a-illustrationLink">
            <h2>Innlogging</h2>
            <div class="a-illustration-icon">
              <i class="ai ai-closedmessage"></i><span class="sr-only">Gå til tema: Innlogging</span>
            </div>
          </a>
				</div>
        <div class="col-6 col-lg-3">
          <a href="#" class="a-illustrationLink">
            <h2>Innlogging</h2>
            <div class="a-illustration-icon">
              <i class="ai ai-closedmessage"></i><span class="sr-only">Gå til tema: Innlogging</span>
            </div>
          </a>
				</div>
        <div class="col-6 col-lg-3">
          <a href="#" class="a-illustrationLink">
            <h2>Innlogging</h2>
            <div class="a-illustration-icon">
              <i class="ai ai-closedmessage"></i><span class="sr-only">Gå til tema: Innlogging</span>
            </div>
          </a>
				</div>
        <div class="col-6 col-lg-3">
          <a href="#" class="a-illustrationLink">
            <h2>Innlogging</h2>
            <div class="a-illustration-icon">
              <i class="ai ai-closedmessage"></i><span class="sr-only">Gå til tema: Innlogging</span>
            </div>
          </a>
				</div>
			</div>



      <br><br>
      Ofte stilte spørsmål (generelle)
      <br><br>

      <!-- Button trigger modal -->
      <div class="row">
				<div class="col-sm-12">
					{{# card-icon }}
							{{> molekyler-ikon-link:mt-4 }}
					{{/ card-icon }}
				</div>
			</div>

      {{# kontaktskjema }}
        {{> organismer-modal }}
      {{/ kontaktskjema }}


  	</div><!-- END Container -->

  </section>

  {{> organismer-footer }}
</div>

{{> organismer-hurtighjelp }}
