<div class="a-page">
  {{# header }}
    {{> organismer-header }}
  {{/ header }}

  <section id="content" tabindex="-1">

    {{> molekyler-jumbotron }}

    <div class="container">

      Hovedknapper med undertema

      FAQ

  	</div><!-- END Container -->

  </section>

  {{> organismer-footer }}
</div>
