<div class="a-page">
	{{> organismer-header }}

	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
				{{# article-search }}
						{{> felles-komponenter-tekst-input }}
				{{/ article-search }}
			</div>
		</div>
	</div>

	<section id="content" tabindex="-1">

		<div class="container">
				<div class="row">
					<div class="col-sm-12 col-lg-10 offset-lg-1 pb-3">
						<div class="pb-4">

							{{# article-breadcrumb }}
								{{> felles-komponenter-smulesti }}
							{{/ article-breadcrumb }}

							{{> felles-komponenter-sidetittel }}

							{{# hasIntro}}
								{{> felles-komponenter-intro-tekst }}
							{{/ hasIntro}}
						</div>

						{{# firstlist }}
							{{> felles-komponenter-seksjonstittel:a-h3 }}
							{{> felles-komponenter-liste-unummerert:a-list-2col|clearfix|mb-5 }}
						{{/ firstlist }}

						{{# second-list }}
							{{> felles-komponenter-seksjonstittel:a-h3 }}
							{{> felles-komponenter-liste-unummerert:a-list-2col|clearfix|mb-5 }}
						{{/ second-list }}


						{{# first-linkTitle }}
								{{> felles-komponenter-lenketittel-med-forklaring }}
						{{/ first-linkTitle }}

						{{# second-linkTitle }}
								{{> felles-komponenter-lenketittel-med-forklaring }}
						{{/ second-linkTitle }}

						{{# second-linkTitleb }}
								{{> felles-komponenter-lenketittel-med-forklaring }}
						{{/ second-linkTitleb }}

						{{# third-linkTitle }}
								{{> felles-komponenter-lenketittel-med-forklaring }}
						{{/ third-linkTitle }}



						{{# fifth-linkTitle }}
								{{> felles-komponenter-lenketittel-med-forklaring }}
						{{/ fifth-linkTitle }}

						{{# sixth-linkTitle }}
								{{> felles-komponenter-lenketittel-med-forklaring }}
						{{/ sixth-linkTitle }}

						{{# fourth-linkTitle }}
								{{> felles-komponenter-lenketittel-med-forklaring }}
						{{/ fourth-linkTitle }}

						{{# fourth-list }}
						{{> felles-komponenter-seksjonstittel:a-h3 }}
							{{> felles-komponenter-liste-unummerert:a-list-2col|clearfix|mb-5 }}
						{{/ fourth-list }}

						{{# third-list }}
							{{> felles-komponenter-seksjonstittel:a-h3 }}
							{{> felles-komponenter-liste-unummerert:a-list-2col|clearfix|mb-5 }}
						{{/ third-list }}

					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 col-lg-12 pb-3">
						{{# card-bottom }}
							{{> felles-komponenter-ikon-link }}
						{{/ card-bottom }}
					</div>
				</div>

				{{# hr }}
					<hr>
				{{/ hr }}

				<div class="row">
					<div class="col-sm-12 col-lg-8 offset-lg-2 pb-3">
						{{> felles-komponenter-bildeblokk:mt-4 }}
					</div>
				</div>

			</div> <!-- END Container -->

	</section>

	{{> organismer-footer }}
</div>
