<!-- START: 03-maler-infoportal-_70-hurtighjelp-00-hurtighjelp -->
<div id="a-stickyHelp" class="a-stickyHelp" data-start="{{ page-url }}" data-api="{{ stickyHelp-api }}">

  <div class="a-stickyHelp-header d-flex">

    <!-- Back button should not show on first step -->
    {{# stickyHelp-back }}
    <button id="a-js-stickyHelp-back" class="a-stickyHelp-back d-none" data-toggle="quickhelp" data-action="back" data-target="#a-stickyHelp">
      {{> atomer-ikon }}
    </button> {{/ stickyHelp-back }}

    <h1 class="a-h3 mb-0 ml-auto mr-auto">Hjelp</h1>

  </div>

  <div class="a-stickyHelp-search">
    {{# stickyhelp-search }} {{> atomer-tekst-input }} {{/ stickyhelp-search }}
  </div>

  <div class="a-stickyHelp-content-target" data-category="{{ stickyHelp-category }}" data-url="http://altinn-dev.dev.bouvet.no/api/getquicktopic/{{ stickyHelp-category }}/no">
    <div class="a-page a-current-page">
      <div class="a-quickHelp-startPage" id="a-js-quickhelpPage">
        {{> maler-infoportal-hurtighjelp-start }}
      </div>
    </div>
  </div>

</div>

<!-- END: 03-maler-infoportal-_70-hurtighjelp-00-hurtighjelp -->