<!-- START: 01-molekyler-00-tekst-66-♺-innboks-header-innhold-venter -->
{{# msg-waiting }} {{> molekyler-innboks-header-innhold }} {{/ msg-waiting }}
<!-- END: 01-molekyler-00-tekst-66-♺-innboks-header-innhold-venter -->