<div class="a-page">
    {{# header }}
        {{> organismer-header-altinnett }}
    {{/ header }}

    <div class="container"> 
      {{> atomer-undertittel }}
      {{> atomer-avsnitt }}
    </div>
   
    <div class="an-case">
    {{# cases }}
      <div class="an-caseRow">
        <div class="container">
          {{> molekyler-case-preview }}
        </div>
      </div>
    {{/ cases }}
    </div>

    {{# footer }} 
        {{> organismer-footer-altinnett }}
    {{/ footer }}
</div>