<!-- START: 03-maler-portal-91-modal-01-modal -->
<div class="a-modal fade modal show {{ bodyClass }}" {{# modal-id }} id="{{ modal-id }}" {{/ modal-id }} tabindex="-1" role="dialog" {{# modal-label }} aria-labelledby="{{ modal-label }}" {{/ modal-label }} style="display: block">
  <div class="modal-dialog modal-lg" role="document">
    <div class="container a-p-static">
      <div class="row">
        <div class="col-xl-12">
          {{> molekyler-modal-header }}
        </div>
      </div>
      <div class="row">
        <div class="col-xl-10 offset-xl-1 a-p-static">
          {{# modal-navbar-override }} {{> molekyler-modal-navbar }} {{/ modal-navbar-override }}
          <div class="a-modal-content-target">
            <div class="a-page a-current-page">
              <div class="modalPage">
                <div class="modal-content">
                  {{> molekyler-modal-body-header }} {{# show-client-delegation-content }} {{> organismer-modal-klientdelegering }} {{/ show-client-delegation-content }} {{# show-others-with-rights-content }} {{# others-with-rights }} {{> organismer-modal-andre-med-rettigheter
                  }} {{/ others-with-rights }} {{/ show-others-with-rights-content }} {{# show-receipt-content }} {{> organismer-modal-kvittering }} {{/ show-receipt-content }} {{# show-consent-details}} {{> organismer-se-og-fjern-samtykke }} {{/ show-consent-details}}
                  {{# show-forward-email }} {{> organismer-videresend-pa-epost }} {{/ show-forward-email }} {{# show-actor-list-with-search }} {{> organismer-aktorliste-med-sokefelt }} {{/ show-actor-list-with-search }} {{# show-forward-message }} {{>
                  organismer-videresend-i-altinn-melding }} {{/ show-forward-message }} {{# show-activitylog }} {{> organismer-delegering-aktivitetslogg }} {{/ show-activitylog }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{^ hide-backdrop }}
<!-- DO NOT INCLUDE IN IMPLEMENTATION, ADDED BY BOOTSTRAP WHEN MODAL IS TRIGGERED -->
<div class="modal-backdrop fade show"></div>
<!-- END DO NOT INCLUDE -->
{{/ hide-backdrop }} {{> molekyler-hjelp-container }}
<!-- END: 03-maler-portal-91-modal-01-modal -->