<!-- START: 00-atomer-09-bilder-og-media-07-laster-inn -->
<!-- <img style="width: 40px;" src="../../images/a-loader.svg" alt="loading icon"> -->
<div class="a-loader">
  <div class="loader loader-ellipsis"></div>
</div>

<!-- END: 00-atomer-09-bilder-og-media-07-laster-inn -->