$blue-lighter: #E3F7FF;     //br farge mangler,
$blue-light: #84DBF1;
$blue: #01B8E6;
$blue-dark: #0078CC;
$blue-darker: #022F51;     //br farge mangler

$green: #019153;
$green-light: #82C7AA;

$red-dark: #eb5c31;        //br farge mangler
$red: #eb5c31;
$red-light: #F3AD9A;

$purple: #815EB4;
$purple-light: #C0AFD8;

$yellow: #eeaf00;
$yellow-light: #FFD980;

$font: 'Open Sans';
$font-light: 'Open Sans';
$font-weight-light: lighter;
$font-reg: 'Open Sans';
$font-weight-reg: normal;
$font-medium: 'Open Sans';
$font-weight-medium: normal;
$font-bold: 'Open Sans';
$font-weight-bold: bold;