<img src="../../images/gratulerer.png" alt="" />


<div class="a-page" id="smoothState">
	{{> organismer-header }}


	<div class="container" id="content" tabindex="-1">

		<div class="row m-t-4 m-b-3">
			<div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
				{{# article-search }}
					{{> atomer-tekst-input }}
				{{/ article-search }}
			</div>
		</div>

			<div class="row m-x-6">
				<div class="col-sm-12 col-lg-3">
					{{# buttonTab-first }}
						{{> atomer-knapp-fremhevet }}
					{{/ buttonTab-first }}
				</div><!-- END .col-... -->
				<div class="col-sm-12 col-lg-3">
					{{# buttonTab-second }}
						{{> atomer-knapp-fremhevet }}
					{{/ buttonTab-second }}
				</div><!-- END .col-... -->
				<div class="col-sm-12 col-lg-3">
					{{# buttonTab-third }}
						{{> atomer-knapp-fremhevet }}
					{{/ buttonTab-third }}
				</div><!-- END .col-... -->
				<div class="col-sm-12 col-lg-3">
					{{# buttonTab-fourth }}
						{{> atomer-knapp-fremhevet }}
					{{/ buttonTab-fourth }}
				</div><!-- END .col-... -->
			</div><!-- END .row -->


			<div class="row">
				<div class="col-sm-12 col-lg-12 m-b-4">

					{{# card-bottom }}
						{{> molekyler-kort }}
					{{/ card-bottom }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->


		{{> organismer-footer }}

	</div> <!-- END .container -->

</div> <!-- END .a-page #smoothstate -->
