
	<!-- Side nav -->
	{{> molekyler-leftside-nav }}

	<!-- Content next to nav, needs to be pushed 300px -->
	<div class="ap-navbarLeft-contentContainer">

		<!-- Content, max-width: 900px;  margin: auto; -->
		<div class="ap-content">

			<!-- Article content starts here -->
			<div class="a-text">

				{{# article }}

				<h1>{{ article-title }}</h1>

				<p class="a-leadText">{{{ article-intro }}}</p>

				<!-- From WYSIWYG editor -->
				{{{ article-content }}}

				{{> atomer-landscape-16x9 }}

			  {{/ article }}


			</div> <!--end .a-text-->
		</div> <!--end .ap-content-->
	</div> <!--end .ap-navbarLeft-contentContainer -->
