<span class="label label-primary a-label label-pill">19</span>
<span class="label label-default a-label label-pill">4385</span>
<span class="label label-success a-label label-pill">NY</span>
<span class="label label-warning a-label label-pill">Med tekst</span>