<!-- START: 03-maler-portal-99-modal-js-06-page-error JS doc: AltinnModal.js -->
<div class="modal-content">
  <div class="modal-header a-modal-header">
    <div class="a-iconText a-iconText-background a-iconText-large">
      <div class="a-iconText-icon">
        <i class="ai ai-circle-exclamation a-icon" aria-hidden="true"></i>
      </div>
      <h1 class="a-iconText-text mb-0">
        <span class="a-iconText-text-small"></span>
        <span class="a-iconText-text-large">Prossessen ble mislykket</span>
      </h1>
    </div>
  </div>
  <div class="modal-body a-modal-body">
    <h2 class="a-h4">Noe gikk galt</h2>
    <p>Dersom prosessen er mislykket, f.eks noe har gått galt vil du se en rød bakgrunn på modalen.</p>
    <div class="a-btn-group">
      <button class="a-btn" data-toggle="altinn-modal" data-action="next" data-url="https://altinn.github.io/DesignSystem/public/patterns/03-maler-portal-99-modal-js-02-page-one/03-maler-portal-99-modal-js-02-page-one.markup-only.html" data-target="#modal">
            Prøv igjen
          </button>
      <button class="a-btn a-btn-danger" data-toggle="altinn-modal" data-action="close" data-target="#modal">
            Lukk
          </button>
    </div>
  </div>
</div>

<!-- END: 03-maler-portal-99-modal-js-06-page-error -->