<!-- START: 01-molekyler-02-navigasjon-12-kategorifaner -->
<form>
  <fieldset>
    <legend class="sr-only">Søk innenfor:</legend>

    <div class="a-categoryTabs">

      {{# categoryTabs }} {{> atomer-valgknapp-ett-alternativ:a-categoryTabs-item}} {{/ categoryTabs }} {{# extraLink }}
      <div class="a-categoryTabs-item">
        {{> atomer-link:a-linkFeatured--border }}
      </div>
      {{/ extraLink }}

    </div>
    <!-- END .row -->

  </fieldset>
</form>

<!-- END: 01-molekyler-02-navigasjon-12-kategorifaner -->