<!-- START: 02-organismer-30-seksjoner-78-dashboard-previousmessages -->
<a href="#" data-toggle="collapse" data-target="#{{ prevMsgID }}" class="an-prevMsg a-fontSizeXXS collapsed">
  <div class="flex-grow-1">
    {{> atomer-ikon }} {{ sender-name }}
  </div>
  {{ date }}
</a>
<div class="a-msg-body p-4 pl-8 collapse" id="{{ prevMsgID }}">
  {{# messageBodyPrev }} {{> organismer-innboks-panel-innhold }} {{/ messageBodyPrev }}
</div>
<!-- END: 02-organismer-30-seksjoner-78-dashboard-previousmessages -->