<!-- START: 03-maler-altinnett-40-navigasjonssider-10-arkiv -->
<div class="a-page">
  {{# header }}
    {{> organismer-header-altinnett }}
    {{/ header }}

    <main id="content" tabindex="-1">

      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10 offset-lg-1 pb-3">

            {{#title-only}}
              {{> atomer-sidetittel }}
            {{/title-only}}

            {{#title-link}}
              <div class="d-flex">
                <div class="flex-grow-1">
                  {{> atomer-sidetittel}}
                </div>
                <div class="align-self-center pb-1 text-right">
                  {{> atomer-link }}
                </div>
              </div>
            {{/title-link}}

            {{> atomer-intro-tekst }}
            {{> atomer-avsnitt }}

            {{# dashboard-subscribe-modal }}
              {{> organismer-modal }}
              {{/ dashboard-subscribe-modal }}

              {{# active-alerts }}
                {{> atomer-varsel }}
                {{/ active-alerts }}

          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-lg-10 offset-lg-1 pb-3 {{articlesContainerClass}}">

            {{# list-header }}
              {{> atomer-seksjonstittel }}
              {{/ list-header }}

              {{# list-article }}

                <article class="a-linkArticle" {{# identifier }}id="{{ identifier }}" {{/ identifier }}>

                  {{> atomer-byline }}
                  {{> atomer-undertittel:d-inline }}

                  {{# label }}
                    {{> atomer-merkelapp }}
                    {{/ label }}


                    <p>{{{ article-description }}}</p>
                </article>

                {{/ list-article }}

                {{# list-article-loadmore }}
                  {{> atomer-handlingsknapp }}
                  {{/ list-article-loadmore }}

          </div>
        </div>

      </div> <!-- END Container -->

    </main>

    {{# footer }}
      {{> organismer-footer-altinnett }}
      {{/ footer }}
</div>

<!-- END: 03-maler-altinnett-40-navigasjonssider-10-arkiv -->