<!-- START: 01-molekyler-03-media-87-altinnett-bilde-innhold-linkblokk -->
<div class="{{ col }}">
  <a href="{{ url }}" class="{{ urlClass }}">
    <div class="col-12 {{ extraClass }}">
      <div class="row">
        <div class="{{col-image-container}}">
          <figure class="{{col-image}}">
            <img src="{{ img-src }}" alt="{{ img-alt-text }}" class="{{img-class}}" />
          </figure>
        </div>

        <div class="{{ col-info }}">
          <h2 class="{{ titleClass }}">{{ title }}</h2>
          {{# text }}
          <p class="{{ text-class }}">{{ text }}</p>
          {{/ text }}
        </div>
      </div>
    </div>
  </a>
</div>

<!-- END: 01-molekyler-03-media-87-altinnett-bilde-innhold-linkblokk -->