// --------------------------------------------------
// DIN FONT
// --------------------------------------------------

@font-face {
  font-family: 'DIN-light';
  src: url($font-url-start + 'DINWeb-Light.woff');
}

@font-face {
  font-family: 'DIN-reg';
  src: url($font-url-start + 'DINWeb.woff');
}

@font-face {
  font-family: 'DIN-medium';
  src: url($font-url-start + 'DINWeb-Medium.woff');
}

@font-face {
  font-family: 'DIN-bold';
  src: url($font-url-start + 'DINWeb-Bold.woff');
}
