/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/


// ----------------------------------
// Text next to media
// ----------------------------------
.a-media {
  display: block;

  @include media-breakpoint-up( md ) {
    display: flex;
  }

  img {
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer * 3;

    @include media-breakpoint-up( md ) {
      max-width: 300px;
      margin-bottom: 0;
    }

    @include media-breakpoint-up( lg ) {
      max-width: 400px;
    }

    @include media-breakpoint-up( xl ) {
      max-width: 500px;
    }
  }
}

// ----------------------------------
// Blockquote
// ----------------------------------

.a-blockquote {
  @include a-fontReg;
  padding-left: $spacer * 2;
  color: $black;
  text-align: left;
  border-left: 6px solid $blue;

  @include media-breakpoint-up( md ) {
    border-left: none;
  }
  @include media-breakpoint-up( lg ) {
    padding-left: $spacer * 4;
  }

  p {
    @extend .a-fontSizeXL;
  }

  .a-citation {
    @include a-fontSize14;
    @include a-fontBold;
    font-style: normal;
    @include media-breakpoint-up( lg ) {
      @include a-fontSize16;
    }
  }

  &.a-blockquote-right {
    margin-top: $spacer * 2;
    margin-bottom: $spacer * 2;
    border-left: 6px solid $blue;
  }
}

blockquote {
  &::before,
  &::after {
    content: '';
  }
}


// ----------------------------------
// Icon instead of illustration
// ----------------------------------

.a-illustrationLink {
  display: block;
  padding: $spacer * 2 $spacer;
  margin-bottom: $spacer * 2;
  text-align: center;
  border: none;

  h2 {
    @include a-fontBold;
    display: inline;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
  }

  p {
    min-height: 48px;
    margin-top: $spacer / 2;
    text-align: center;
  }

  &:hover,
  &:focus,
  &:active {
    border: none;

    h2 {
      color: $blue-darker;
      border-bottom: 2px solid $blue-darker;
    }

    .a-illustration-icon {
      position: relative;

      .a-illustration-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white-opacity-01;
        border-radius: 50%;
      }
    }
  }
}

.a-illustration-icon {
  @include a-fontSize30;
  display: flex;
  width: 100px;
  height: 100px;
  margin: auto;
  overflow: hidden;
  color: $white;
  text-align: center;
  background: $purple;
  border-radius: 50%;
  align-self: center;

  @include media-breakpoint-up( md ) {
    @include a-fontSize36;
    width: 120px;
    height: 120px;
  }

  img {
    width: 100%;
  }

  i {
    width: 100%;
    align-self: center;
  }
}
