
/*------------------------------------*\
    $Table for tabell-regnestykke
\*------------------------------------*/

.a-table-calculation {
  td,
  th {
    @include a-fontReg;

    padding: 2px 0 2px 0;
    border-bottom: none;
  }

  td {
    @include a-fontMedium;
    width: 20%;
    text-align: right;
    white-space: nowrap;
    vertical-align: bottom;

    @include media-breakpoint-up( md ) {
      width: auto;
    }
  }

  th {
    padding: $spacer / 2 $spacer * 2 0 0;
  }

  tfoot {
    @include a-fontMedium;

    border-top: 3px solid $blue;

    td,
    th {
      padding-top: $spacer;
    }
  }

  tbody {
    tr {
      &:last-child {
        th,
        td {
          padding-bottom: $spacer;
        }
      }
    }
  }
}
