<!-- START: 02-organismer-70-Modal-innhold-_94-delegering-tildel -->
<div class="modal-body a-modal-body">
  <div class="row">
    <div class="col-12">
      {{# delegation-header-text }}
      <div class="a-fontSizeS">
        {{ textSmall }}
      </div>
      <span class="a-fontSizeL">
          {{ icontext }}
        </span> {{/ delegation-header-text }}
      <div class="a-full-width">
        <hr class="mb-2 mt-3">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-1">
      <h2 class="mb-0 a-fontBold a-fontSizeM">
        {{ delegation-sub-header-text }}
      </h2>
      {{# delegation-sub-header-text-secondary }}
      <span>
          {{ delegation-sub-header-text-secondary }}
        </span> {{/ delegation-sub-header-text-secondary }}
    </div>
    {{# delegation-has }}
    <div class="col-12 mb-1">
      {{# delegation-has-text }}
      <span class="pr-1">
            {{ delegation-has-text }}
          </span> {{/ delegation-has-text }} {{> atomer-valgknapp }}
    </div>
    {{/ delegation-has }} {{# delegation-needs }}
    <div class="col-12 mb-1">
      {{# delegation-needs-text }}
      <span class="pr-1">
            {{ delegation-needs-text }}
          </span> {{/ delegation-needs-text }} {{> atomer-valgknapp }} {{# has-popover-link }} {{> atomer-link-med-popover-ikon }} {{/ has-popover-link }} {{# delegation-needs-no-rights }} {{> atomer-valgknapp }} {{/ delegation-needs-no-rights }}
    </div>
    {{/ delegation-needs }} {{# delegation-message }}
    <div class="col-12 mb-1">
      {{> atomer-varsel}}
    </div>
    {{/ delegation-message }} {{# delegation-submit }}
    <div class="col-xl-12 mt-2">
      {{> atomer-knapp:mb-0 }}
    </div>
    {{/ delegation-submit }} {{# delegation-alternative-link }}
    <div class="col-xl-12 mt-2">
      {{> atomer-link }}
    </div>
    {{/ delegation-alternative-link }}
  </div>
</div>
<!-- END: 02-organismer-70-Modal-innhold-_94-delegering-tildel -->