<!-- START: 00-atomer-08-lister-06-liste-nummerert-sirkel -->
<ol class="no-decoration a-circle-list {{# circle-variation }}{{ circle-variation }}{{/ circle-variation }}">
  {{# circle-list-items }}
      <li>
        <span>
          <span>{{ circle-list-title }}</span>
          {{# circle-list-link }}
            {{> atomer-link }}
          {{/ circle-list-link }}
          {{{ circle-list-info }}}
        </span>
      </li>
  {{/ circle-list-items }}
</ol>

<!-- END: 00-atomer-08-lister-06-liste-nummerert-sirkel -->
