<!-- START: 00-atomer-04-handlingsknapper-30-inputchip -->
<div class="a-inputchip {{ extra-classes }}">
  <span>{{ title }}</span>
  {{# deletable }}
    <button class="a-inputchip-delete">
      {{> atomer-ikon }}
    </button>
    {{/ deletable }}
</div>
<!-- END: 00-atomer-04-handlingsknapper-30-inputchip -->