<!-- START: 02-organismer-50-ekspanderbart-panel-_65-samtykke JS doc: cardsToggle.js, truncateLines.js, togglePanel.js -->
{{# consent-rights }} {{> organismer-andre-med-rettigheter }} {{/ consent-rights }}
<!-- END: 02-organismer-50-ekspanderbart-panel-_65-samtykke -->