<ul class="a-list {{# is-large }} a-list-large {{/ is-large }} {{# additional-classes }}{{ additional-classes }}{{/ additional-classes }} {{ styleModifier }}"{{# list-id }} id="{{ list-id }}"{{/ list-id }}{{# selectable }} data-list-selectable="true"{{/ selectable }}>
  {{# header }}
    <li {{# onclick }} onclick="{{{ onclick }}}" {{/ onclick }} class="{{ additional-classes }}" {{# id }}id="{{ id }}"{{/ id }}>
        <div class="row">
          {{# columns }}
            <div {{# additional-classes }}class="{{ additional-classes }}"{{/ additional-classes }}{{# onclick }} onclick="{{{ onclick }}}"{{/ onclick }}{{# tabable }} tabindex="0"{{/ tabable }}>
              {{> molekyler-liste-innhold-uten-popover }}
            </div>
          {{/ columns }}
        </div>
    </li>
  {{/ header }}
  {{# rows }}
    <li {{# onclick }} onclick="{{{ onclick }}}" {{/ onclick }} class="{{ additional-classes }}" {{# id }}id="{{ id }}"{{/ id }} {{# tabable }} tabindex="0"{{/ tabable }}{{# target-table }} data-target-table="{{ target-table }}"{{/ target-table }}{{# source-table }} data-source-table="{{ source-table }}"{{/ source-table }}>
      {{# isRowLink }}
      <a href="{{{ rowLink }}}" class="a-list-rowLink">
      {{/ isRowLink }}
      <div class="row">
        {{# columns }}
          <div {{# additional-classes }}class="{{ additional-classes }}"{{/ additional-classes }} {{# onclick }} onclick="{{{ onclick }}}"{{/ onclick }}{{# searchable }} data-searchable="true" {{/ searchable }}>
            {{> molekyler-liste-innhold-uten-popover }}
          </div>
        {{/ columns }}
      </div>
      {{# expandable-section }}
          <div class="{{ additional-classes }}" {{# id }} id="{{ id }}" {{/ id }} {{# onclick }} onclick="{{{ onclick }}}" {{/ onclick }}>
            {{> molekyler-liste-innhold-uten-popover }}
          </div>
      {{/ expandable-section }}
      {{# isRowLink }}
      </a>
      {{/ isRowLink }}
    </li>
  {{/ rows }}
</ul>
