<div class="an-documentList mb-2">
    <ul class="an-documentList-path a-fontSizeS a-fontMedium">
        {{#path-items}}
            <li>
                {{#path-link}}<a href="#">{{path-label}}</a>{{/path-link}}
                {{^path-link}}<span>{{path-label}}</span>{{/path-link}}
            </li>
        {{/path-items}}
    </ul>
    <div class="d-none d-md-block a-fontMedium an-documentList-header">
        <div class="row">
            <div class="col-6">
                Navn
            </div>
            <div class="col-3">
                Endret
            </div>
            <div class="col-3">
                Endret av
            </div>
        </div>
    </div>
    <ul class="no-decoration a-iconList an-documentList-iconList">
    {{# document-list-items }}
        <li>
            <a href="#" class="row">
                <div class="d-flex col-md-6">
                    {{#icon-main}}<span class="an-documentList-icon an-documentList-icon--main">{{> atomer-ikon }}</span>{{/icon-main}}
                    {{#icon-hover}}<span class="an-documentList-icon an-documentList-icon--hover">{{> atomer-ikon }}</span>{{/icon-hover}}
                    <div>
                        <div>
                            {{ document-name }}
                            {{^folder}}<span class="d-md-none a-greyText"> (Last ned)</span>{{/folder}}
                        </div>
                        <div class="d-md-none a-fontSizeXXS a-greyText">
                            Endret av: {{document-author}} ({{document-date.day}}.{{document-date.month}}.{{document-date.year}})
                        </div>
                    </div>
                </div>
                <div class="col-3 d-none d-md-block">
                    {{document-date.day}}/{{document-date.month}}-{{document-date.year}} {{document-date.time}}
                </div>
                <div class="col-3 d-none d-md-block">
                    {{document-author}}
                </div>
            </a>
        </li>
    {{/ document-list-items }}
    </ul>
</div>