<!-- START: 03-maler-20-navigasjonssider-50-kolonnenavigasjon -->
<div class="a-page a-containerColnav" id="smoothState">

	{{> organismer-header }}

	<div class="container" id="content" tabindex="-1">

		<div class="row">
			<div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
				{{# article-search }}
					{{> atomer-tekst-input }}
				{{/ article-search }}
			</div>
		</div>

		<div class="row a-containerColnav-top">
			<div class="col-sm-12 col-md-6 col-lg-9">
				<h1>
					<span class="a-fontBold">1287</span>
					skjemaer
				</h1>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3" data-switchUrl1="{{ switch-url-1 }}" data-switchUrl2="{{ switch-url-2 }}">
				{{> atomer-knapp-veksle }}
			</div>
		</div>

		<div class="a-contentOverview a-py-minus-2">
			<div class="row">
					{{> molekyler-meny-kolonner }}
					<div class="col-sm-12 col-lg-6">
						<h2 class="pt-5">Forslag til deg:</h2>
						{{# suggestionList }}
							{{> molekyler-liste-unummerert-ny }}
						{{/ suggestionList }}
					</div>
				</div>
			</div>
		</div>
	</div> <!-- END Container -->

	{{> organismer-footer }}

</div>

<!-- END: 03-maler-20-navigasjonssider-50-kolonnenavigasjon -->
