<!-- START: 03-maler-20-navigasjonssider-50-kolonnenavigasjon -->
<div class="a-page" id="smoothState">

  {{> organismer-header }}

  <div class="container" id="content" tabindex="-1">

    <div class="row">
      <div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
        {{# article-search }} {{> atomer-tekst-input }} {{/ article-search }}
      </div>
    </div>

    <div class="row a-containerColnav-top">
      <div class="col-sm-12 col-md-6 col-lg-9">
        <h1>
          <span class="a-fontBold a-js-colnavTitleBold"></span>
          <span class="a-js-colnavTitleRegular">Alle skjemaer</span>
        </h1>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3" data-switchUrl1="getcategory" data-switchUrl2="getprovider">
        {{> atomer-knapp-veksle }}
      </div>
    </div>

  </div>
  <div class="container a-container-fluid-small a-containerColnav">

    <div class="a-contentOverview">
      <div class="row">
        {{> molekyler-meny-kolonner }}
        <div class="col-sm-12 col-lg-6 a-containerColnav-right">
          <h2 class="pt-5">Forslag til deg:</h2>
          {{# suggestionList }} {{> molekyler-liste-unummerert-ny }} {{/ suggestionList }}
        </div>
      </div>
    </div>

  </div>
  <!-- END Container -->

  {{> organismer-footer }}

</div>

<!-- END: 03-maler-20-navigasjonssider-50-kolonnenavigasjon -->