<!-- START: 02-organismer-30-seksjoner-03-sammenligning -->
<div class="a-compare-category {{styleModifier}}">
  {{#compare-categories-title}}
  <h2>{{{ category-title }}}</h2>
  {{/compare-categories-title}}
  <div class="row">
    {{#compare-categories}}
    <div class="a-compare-container col-6 col-md col-max-4">
      {{> molekyler-sammenligningselement}}
    </div>
    {{/compare-categories}}
  </div>
</div>

<!-- END: 02-organismer-30-seksjoner-03-sammenligning -->