<!-- START: 02-organismer-_49-ekspanderbart-panel-innhold-20-varsling-enkelttjenester -->
<div class="row">
  <div class="col">
    <h3 class="a-fontBold a-fontSizeM">
      {{ header }}
    </h3>
  </div>
</div>
{{# sok-etter-tjeneste }}
<div class="row">
  <div class="col-12 col-md-6 mb-3">
    {{> atomer-tekst-input }}
  </div>
</div>
{{/ sok-etter-tjeneste }} {{# tjeneste-liste }}
<div class="row">
  <div class="col-12">
    <h3 class="a-fontBold a-fontSizeM">
      {{ header }}
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{# service-list }} {{> molekyler-liste-unummerert }} {{/ service-list }}
  </div>
</div>
{{/ tjeneste-liste }}

<div class="row">
  <div class="col mt-3">
    {{# save-btn }} {{> atomer-knapp }} {{/ save-btn }} {{# cancel-btn }} {{> atomer-link }} {{/ cancel-btn }}
  </div>
</div>
<!-- END: 02-organismer-_49-ekspanderbart-panel-innhold-20-varsling-enkelttjenester -->