<!-- START: 03-maler-portal-50-innboks-_30-innboks-frister -->
<div class="a-page">
  {{> organismer-header }}

  <div class="container" id="content" tabindex="-1">

    <div class="row mt-3 mb-3">
      <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
        {{# article-search }} {{> atomer-tekst-input }} {{/ article-search }}

      </div>
    </div>

    {{> molekyler-toppoppgaver }}

    <div class="row">
      <div class="col-sm-12 col-lg-12 mt-3  a-p-x9-xl">
        {{# first-page-title }} {{> atomer-sidetittel:a-h2|a-fontReg }} {{/ first-page-title }}

        <p>
          Her finner du en oversikt over frister og oppgavplikter registrert på ditt enkeltpersonforetak. Vær oppmerksom på at det finnes noen rapporteringsplikter, hvor du selv må følge med og sende inn. Her finner du en <a href="#">oversikt over potensielle plikter uten frister</a>.
        </p>

        {{# second-page-title }} {{> atomer-sidetittel:a-h2|a-fontReg|mt-4 }} {{/ second-page-title }}
      </div>
      <!-- END .col-... -->
    </div>
    <!-- END .row -->

    <div class="row">
      <div class="col-sm-12 col-lg-12 mb-3 ">

        {{# messages }} {{> organismer-ekspanderbart-panel-trekkspill:a-inbox-messageList }} {{/ messages }}

      </div>
      <!-- END .col-... -->
    </div>
    <!-- END .row -->

    <div class="row">
      <div class="col-sm-12 col-lg-12  a-p-x9-xl">
        {{# third-page-title }} {{> atomer-sidetittel:a-h2|a-fontReg }} {{/ third-page-title }}

      </div>
      <!-- END .col-... -->
    </div>
    <!-- END .row -->

    <div class="row">
      <div class="col-sm-12 col-lg-12 mb-3 ">

        {{# messages2 }} {{> organismer-ekspanderbart-panel-trekkspill:a-inbox-messageList }} {{/ messages2 }}

      </div>
      <!-- END .col-... -->
    </div>
    <!-- END .row -->

    <div class="row">
      <div class="col-sm-12 col-lg-12  a-p-x9-xl">
        {{# fourth-page-title }} {{> atomer-sidetittel:a-h2|a-fontReg }} {{/ fourth-page-title }}

      </div>
      <!-- END .col-... -->
    </div>
    <!-- END .row -->

    <div class="row">
      <div class="col-sm-12 col-lg-12 mb-3 ">

        {{# messages3 }} {{> organismer-ekspanderbart-panel-trekkspill:a-inbox-messageList }} {{/ messages3 }}

      </div>
      <!-- END .col-... -->
    </div>
    <!-- END .row -->

    {{> organismer-footer }}

  </div>
  <!-- END .container -->

</div>
<!-- END .a-page -->

<!-- END: 03-maler-portal-50-innboks-_30-innboks-frister -->