<!-- START: 01-molekyler-05-lister-00-liste-ekspanderbart-innhold -->
{{# column-items }} {{# column-switches-with-text }} {{> molekyler-midtstilte-valgknapper-med-tekst }} {{/ column-switches-with-text }} {{# column-info-delete-add }} {{> molekyler-info-delete-add }} {{/ column-info-delete-add }} {{/ column-items }}

<!-- END: 01-molekyler-05-lister-00-liste-ekspanderbart-innhold -->