<div class="a-page" id="smoothState">
	{{> organismer-header }}

	<div class="container" id="content" tabindex="-1">

		<div class="row">
			<div class="col-sm-12 col-lg-6 offset-lg-3 pt-3 mb-5">
				{{# article-search }}
					{{> atomer-tekst-input }}
				{{/ article-search }}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-lg-10 offset-lg-1">
				{{# articlestart }}
				{{> organismer-artikkel-start }}
				<hr class="mb-2">
				{{/ articlestart }}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg">
				{{> atomer-avsnitt }}

				{{> atomer-seksjonstittel }}
				{{# cardright }}
					{{> molekyler-ikon-link:a-article-right-off }}
				{{/ cardright }}
				{{> atomer-avsnitt }}

				{{> molekyler-bilde-sitat }}

				{{> atomer-seksjonstittel }}
				{{> atomer-avsnitt }}

				{{> atomer-liste-unummerert-sammenkoblet }}

				{{> atomer-undertittel }}
				{{> atomer-avsnitt }}

				{{> atomer-seksjonstittel }}
				{{> atomer-avsnitt }}
				{{> atomer-liste-unummerert-kuler }}

				{{# cardFirst }}
					{{> molekyler-ikon-link:a-iconText-minusBothMargins }}
				{{/ cardFirst }}

				{{> atomer-seksjonstittel }}
				{{> atomer-avsnitt }}
				{{> atomer-liste-nummerert-sirkel }}

				{{> atomer-sitat:a-article-right-off|a-blockquote-right }}

				{{> atomer-undertittel }}
				{{> atomer-avsnitt }}

				{{> atomer-seksjonstittel }}
				{{> atomer-avsnitt }}

				{{> atomer-undertittel }}
				{{> atomer-bilde:a-articleImage-right }}
				{{> atomer-avsnitt }}

				{{> organismer-artikkel-liste }}

				{{> organismer-gjennomgang }}

				{{# article-compare-first }}
					{{> organismer-sammenligning }}
				{{/ article-compare-first }}

				{{> atomer-avsnitt }}

				{{# firstlink }}
					{{> atomer-link }}
				{{/ firstlink }}

				{{> atomer-avsnitt }}

				{{# secondlink }}
					{{> atomer-link }}
				{{/ secondlink }}

				{{> atomer-avsnitt }}

				{{> atomer-tabell-regnestykke }}

			</div><!-- END .col-... -->
		</div><!-- END .row -->

		<div class="row">
			<div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg">

				{{# didYouFindWhatYouWereLookingFor }}
				{{> atomer-radioknapp:m-t-2 }}
				{{/ didYouFindWhatYouWereLookingFor }}

			</div><!-- END .col-... -->
		</div><!-- END .row -->

		{{# cardbottom }}
		<div class="row">
			<div class="col-sm-12 col-lg-12 mb-4">
					{{> molekyler-kort }}
			</div><!-- END .col-... -->
		</div><!-- END .row -->
		{{/ cardbottom }}

		<div class="row">
			<div class="col-sm-12 col-lg-6 offset-lg-3 mb-5">
					{{> atomer-seksjonstittel:a-headingSizeM }}
					{{> atomer-liste-unummerert }}
			</div><!-- END .col-... -->
		</div><!-- END .row -->

		<div class="row">
			<div class="col-sm-12 col-lg-6 offset-lg-3 mb-5">
					{{> atomer-seksjonstittel:a-headingSizeM }}
					{{> atomer-liste-nummerert }}
			</div><!-- END .col-... -->
		</div><!-- END .row -->

		<div class="row">
			<div class="col-sm-12 col-lg-6 offset-lg-3 mt-5 mb-5">
					{{> molekyler-bilde-innhold }}
			</div><!-- END .col-... -->
		</div><!-- END .row -->

		{{> organismer-footer }}

	</div> <!-- END Container -->

</div>
