<div class="a-page" id="smoothState">

	{{> organismer-header }}

	<div class="container" id="content" tabindex="-1">

			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
					{{# article-search }}
						{{> atomer-tekst-input }}
					{{/ article-search }}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-lg-10 offset-lg-1">
					{{# articlestart }}
					{{> organismer-artikkel-start }}
					<hr class="mt-2 mb-4">
					{{/ articlestart }}
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg">
					{{# 1 }}
					{{> atomer-avsnitt }}
					{{/ 1 }}

					{{# 2 }}
					{{> atomer-seksjonstittel }}
					{{> atomer-avsnitt }}
					{{> atomer-liste-unummerert }}
					{{/ 2 }}

					{{# 3 }}
					{{> atomer-undertittel }}
					{{> atomer-avsnitt }}
					{{/ 3 }}


				</div><!-- END .col-... -->
			</div><!-- END .row -->


			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 py-2">
					<h2>{{{ header-3 }}}</h2>
					{{# help }}
						{{{ help-prefix }}}
						{{> atomer-link:a-fontBold }}
						{{{ help-end }}}
					{{/ help }}
				</div>
			</div>

		{{> organismer-footer }}
	</div> <!-- END Container -->

</div>
