<div class="a-compare-element {{styleModifier}}">
    {{#istitle}}
      {{{ category-element-title }}}
    {{/istitle}}
    <p>{{{ category-element-description }}}</p>
    {{#ismore}}
      {{> atomer-link }}
    {{/ismore}}
</div>
