<!-- START: 01-molekyler-00-tekst-06-sammenligningselement -->
<div class="a-compare-element {{styleModifier}}">
  {{#istitle}} {{{ category-element-title }}} {{/istitle}}
  <p>{{{ category-element-description }}}</p>
  {{#ismore}} {{> atomer-link }} {{/ismore}}
</div>

<!-- END: 01-molekyler-00-tekst-06-sammenligningselement -->