<!-- START: 04-sider-92-andre-med-rettigheter-00-andre-med-rettigheter-delegering-feil -->
{{> maler-modal }}

<!-- END: 04-sider-92-andre-med-rettigheter-00-andre-med-rettigheter-delegering-feil -->
