<!-- START: 00-atomer-08-lister-05-liste-unummerert -->
	<ul class="a-item-list list-group {{ styleModifier }}">
		{{# item-list-dottedTop }}
			<div class="a-dotted-line"></div>
		{{/ item-list-dottedTop }}
		{{# item-list }}
			<li class="a-item-list-item {{ item-list-class }}">
        <div class="a-listItem-leftContent">
          {{^ list-item-link }}
            {{# list-item-icon-left }}
              {{> atomer-ikon }}
            {{/ list-item-icon-left }}
          {{/ list-item-link }}

          {{# list-item-disabled }}
            <div class="a-dotted"></div>
          {{/ list-item-disabled }}

          {{{ item-list-title }}}

          {{# list-item-link }}
            <a href="{{{ url }}}" class="a-listItem-title">
              {{# list-item-icon-left }}
                {{> atomer-ikon }}
              {{/ list-item-icon-left }}
              {{{ item-list-linkTitle }}}
            </a>
          {{/ list-item-link }}
        </div>
        {{# list-item-right-content }}
          <div class="a-listItem-rightContent">
            {{# list-item-text-right }}
              {{# is-link }}
                {{> atomer-link }}
              {{/ is-link }}
              {{^ is-link }}
                {{{ list-item-text-right-content }}}
              {{/ is-link }}
            {{/ list-item-text-right }}
            {{# list-item-right-icon }}
              {{> atomer-ikon }}
            {{/ list-item-right-icon }}
            {{# list-item-right-popover }}
              {{> atomer-link-med-stor-popover-ikon }}
            {{/ list-item-right-popover }}
        {{/ list-item-right-content }}
			</li>
		{{/ item-list }}
	</ul>

<!-- END: 00-atomer-08-lister-05-liste-unummerert -->
