
	<ul class="a-item-list {{ styleModifier }}">
		{{# item-list-dottedTop }}
			<div class="a-dotted-line"></div>
		{{/ item-list-dottedTop }}
		{{# item-list }}
			<li class="a-item-list-item {{ item-list-class }}">
				{{# list-item-disabled }}
					<div class="a-dotted"></div>
				{{/ list-item-disabled }}

				{{# list-item-nolink }}
					{{{ item-list-title }}}
				{{/ list-item-nolink }}

				{{# list-item-link }}
				<a href="{{ url }}" class="a-listItem-title">
					{{{ item-list-linkTitle }}}
				</a>
				{{/ list-item-link }}

			</li>
		{{/ item-list }}
	</ul>
