<button type="{{ button-type }}"
    class="{{ button-class }} {{ styleModifier }}"
    {{# button-href }}href="{{ button-href }}"{{/ button-href }}
    {{# button-id }}id="{{ button-id }}"{{/ button-id }} {{# link-url-start }}{{{ link-url-start }}}{{/ link-url-start }}{{# link-url }}{{{ link-url }}}{{/ link-url}}{{# link-url-end }}{{{ link-url-end }}}{{/ link-url-end }} {{# button-disabled }}{{ button-disabled }}{{/ button-disabled }} {{# data-toggle }}data-toggle="{{ data-toggle }}"{{/ data-toggle }} {{# data-parent }}data-parent="{{ data-parent }}"{{/ data-parent }} {{# data-target }}data-target="{{ data-target }}"{{/ data-target }} {{# aria-expanded }}aria-expanded="{{ aria-expanded }}"{{/ aria-expanded }} {{{data-dismiss}}}>
    {{ button-text }}
</button>
{{# button-icon }}
  {{> atomer-ikon }}
{{/ button-icon }}
