<button type="{{ button-type }}" 
    href="../..{{ button-href }}" 
    class="{{ button-class }} {{ styleModifier }}" 
    id="{{ button-id }}" {{{ link-url-start }}}{{{ link-url }}}{{{ link-url-end }}} {{ button-disabled }}
    {{# data-toggle }}data-toggle="{{ data-toggle }}"{{/ data-toggle }}
    {{# data-parent }}data-parent="{{ data-parent }}"{{/ data-parent }}
    {{# data-target }}data-target="{{ data-target }}"{{/ data-target }}
    {{# aria-expanded }}aria-expanded="{{ aria-expanded }}"{{/ aria-expanded }}>
    {{ button-text }}
</button> 
{{ button-icon }}
