<button type="{{ button-type }}" class="{{ button-class }} {{ styleModifier }}" id="{{ button-id }}" {{{ link-url-start }}}{{{ link-url }}}{{{ link-url-end }}} {{ button-disabled }}>{{ button-text }}</button> {{ button-icon }}
