<button type="button" {{# button-id }}id="{{ button-id }}"{{/ button-id }}
  class="{{{ button-class }}} {{{ button-colorClass }}} {{ styleModifier }}"
  {{# aria-label }} aria-label="{{ aria-label }}" {{/ aria-label }} {{# link-url }} onclick="location.href='{{{ link-url }}}';" {{/ link-url }}{{# disabled }} disabled{{/ disabled}}
  {{# dropdown-overflow }}  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{/ dropdown-overflow }}
  {{# data-toggle }} data-toggle="{{data-toggle}}" {{/ data-toggle }}
  {{# data-action }} data-action="{{data-action}}" {{/ data-action }}
  {{# data-url }} data-url="{{{data-url}}}" {{/ data-url }}
  {{# data-target }} data-target="#{{ data-target }}" aria-controls="{{ data-target }}" {{/ data-target }}
  {{# title }} title="{{ title }}" {{/ title }}
  {{# tab-index }}tabindex="{{ tab-index }}" {{/ tab-index }}
  >

  {{# button-icon }}
    {{> atomer-ikon }}
  {{/ button-icon }}

  {{# char-icon }}
    <i class="a-charIcon" aria-hidden="true"><span>{{{ char }}}</span></i>
  {{/ char-icon }}

  {{# button-dot }}
    <span class="a-dot {{dot-color}}"></span>
  {{/ button-dot }}
  {{# responsive-br }}
    <br />
  {{/ responsive-br }}
  {{# button-text }}
    <span class="a-btn-icon-text {{{ button-textClass }}}">
      {{{ button-text }}}
      {{# button-text-second }}
        <span class="a-btn-icon-text-second {{ button-text-second-class }}">{{{button-text-second}}}</span>
      {{/ button-text-second }}
    </span>
  {{/ button-text }}

	{{# button-shadow-label }}
		{{> atomer-merkelapp }}
	{{/ button-shadow-label }}

</button>

{{# dropdown-overflow }}
  {{> organismer-dropdown-overflow }}
{{/ dropdown-overflow }}
