<button type="button" class="{{{ button-class }}} {{{ button-shadow-class }}}" onclick="location.href='{{{ link-url }}}';">
	<i class="material-icons a-btn-shadow-icon">&#xE85C;</i>

	{{{ button-shadow-text }}}
	{{#button-shadow-label}}
		{{> atomer-merkelapp}}
	{{/button-shadow-label}}

</button>
