  <button type="button" class="{{{ button-class }}}">
      <span class="a-metaText">
          {{ box-button-title }}
      </span>

      <span class="a-box-button-name">
          {{ box-button-person }}
      </span>

      <i class="material-icons a-box-button-icon a-blueDarkText">{{ box-button-icon }}</i>

      <b class="a-box-button-action a-blueDarkText">
          {{ box-button-action }} ›
      </b>
  </button>
