<button type="button" class="{{{ button-class }}}" {{# has-children }} aria-expanded="false" {{/ has-children }} {{# data-target }} aria-owns="{{ data-target }}" data-toggle="instant" data-target="#{{ data-target }}"{{/ data-target }} {{# onclick }} onclick="{{{ onclick }}}" {{/ onclick }}>
  <div class="a-box-button-text">
    <div class="a-meta-text">
      {{ box-button-title }}
    </div>
    <div class="a-box-button-name">
      <div class="a-js-inner-text">
        {{ box-button-person }}
      </div>
    </div>
  </div>

  {{> atomer-ikon }}

  <span class="a-box-button-action a-blueDarkText a-box-button-primaryAction">
    {{ box-button-action }}
  </span>
  <span class="a-box-button-action a-blueDarkText a-box-button-secondaryAction">
    {{ box-button-secondary-action }}
  </span>
</button>