<div class="a-page" id="smoothState">
	{{> organismer-header }}

	{{# jumbotron }}
		{{> molekyler-jumbotron }}
	{{/ jumbotron }}

	<div class="container">

		{{# artikkelsok }}
			<div class="row">
				<div class="col-sm-12 col-lg-6 col-lg-offset-3 a-paddingTop-x3 a-marginBottom-x5">
						{{> atomer-sok:input-group-large(search-label-id: "searchLarge-front", search-label: "Søk etter innhold")}}
				</div>
			</div>
		{{/ artikkelsok }}

		<section id="hovedinnhold" class="container" tabindex="-1">

			<div class="row">
				<div class="col-sm-12 col-lg-10 col-lg-offset-1 a-paddingBottom-x3">

					{{# smulesti }}
						{{> molekyler-smulesti }}
					{{/ smulesti }}

					{{# artikkeltekst }}
						{{> organismer-artikkel }}
					{{/ artikkeltekst }}

				</div>

			</div>

		</section>

		{{> organismer-footer }}

	</div> <!-- END Container -->

</div>
