<div class="page" id="page">
	{{> organismer-header }}

	<div role="main" class="container">

		<div class="row">
			<div class="col-sm-12 col-lg-6 col-lg-offset-3 a-paddingTop-x3 a-marginBottom-x5">
				{{> atomer-sok-stor }}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-lg-10 col-lg-offset-1 a-paddingBottom-x3">

				{{> molekyler-smulesti }}

				{{> organismer-artikkel }}

			</div>

		</div>

		{{> organismer-footer }}

	</div><!--End role=main-->

</div>
