<!-- - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Should be included for pages that has quickhelp -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - -->

<div class="a-stickyHelp-container">

  <!-- Open-button for .a-iframeToggle -->
  <button type="button" class="a-btn a-stickyHelp-open collapsed" data-toggle="collapse" data-target="#a-iframeToggle" aria-expanded="false" aria-controls="a-iframeToggle"><i class="ai ai-help ai-sm ai-nw ai-nw-pr"></i>Hjelp</button>

  <div id="a-iframeToggle" class="a-iframeToggle collapse">

    <!-- Close-button for .a-iframeToggle -->
    {{# stickyHelp-close }}
    <button type="button" class="a-stickyHelp-close" data-toggle="collapse" data-target="#a-iframeToggle" data-action="close" aria-expanded="true" aria-controls="a-iframeToggle"> {{> atomer-ikon }} </button>
    {{/ stickyHelp-close }}

    <iframe src="../../{{link.sider-hurtighjelp}}" width="356px" height="" onload="this.style.height=this.contentDocument.body.scrollHeight +'px';"></iframe>

  </div>

</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- End quickhelp -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - -->
