<!-- START: 02-organismer-90-filter-01-filter -->
{{# search-filter-organism }}
<div class="container">
  <div class="row">
    <div class="col-12">
      {{# sub-header }} {{> organismer-subheader }} {{/ sub-header }}
    </div>
  </div>
  {{# filter-sok }}
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
      {{> atomer-tekst-input }}
    </div>
  </div>
  {{/ filter-sok }} {{# limit-hits-filter-overview }}
  <div class="row ml-0 mb-1 a-mt-filter">
    <div class="col-auto">
      <p class="d-inline a-fontSizeM">{{ limit-hits-filter-text }}</p>
    </div>
    <div class="col pr-0">
      {{# active-filter-numbers }}
      <span class="hidden-sm-up">
            {{> atomer-merkelapp }}
          </span> {{/ active-filter-numbers }} {{# active-filters }}
      <span class="hidden-xs-down">
            {{> atomer-merkelapp }}
          </span> {{/ active-filters }}
    </div>
    {{# filter-close-button }}
    <div class="col-auto">
      {{> atomer-knapp-ikon-tekst }}
    </div>
    {{/ filter-close-button}}
  </div>
  {{/ limit-hits-filter-overview }} {{# filter-options }} {{# pick-area }}
  <div class="row px-1">
    <div class="col a-borderTopDark pt-2 pb-1 px-0">
      <p class="d-inline mr-1 a-fontBold a-fontSizeM">{{ pick-area-text }}</p>
      {{> atomer-avkrysningsboks:d-inline }}
    </div>
  </div>
  {{/ pick-area }}
  <div class="row">
    <div class="col">
      {{> molekyler-trekkspill-overskrifter }}
    </div>
  </div>
  {{/ filter-options }}
</div>
{{# filter-submit }}
<div class="row mt-5 d-none a-search-filter-action-wrapper">
  <div class="col text-center">
    {{> atomer-knapp }}
  </div>
</div>
{{/ filter-submit }} {{/ search-filter-organism }}
<!-- END: 02-organismer-90-filter-01-filter -->