<!-- START: 00-atomer-02-lenker-37-link-telefonnummer -->
<a href="tel:+47{{{ telNumber }}}" class="a-linkIcon {{ styleModifier }}">
  {{# tel-icon }}
  {{> atomer-ikon }}
  {{/ tel-icon }}
  <span class="sr-only">{{{ telText }}}</span>
  {{{ telNumberVisible }}}
</a>

<!-- END: 00-atomer-02-lenker-37-link-telefonnummer -->