<!-- Table -->
<div class="table-responsive">
  <table class="table a-table">
    <thead>
      <tr>
        {{# table-thead-items }}
          <th>{{{ table-thead-text }}}</th>
        {{/ table-thead-items }}
      </tr>
    </thead>
    <tbody>
      {{# table-tbody-items }}
        <tr>
          <th scope="row">{{{ table-tbody-text.0 }}}</th>
          <td>{{{ table-tbody-text.1 }}}</td>
          <td>{{{ table-tbody-text.2 }}}</td>
          <td>{{{ table-tbody-text.3 }}}</td>
        </tr>
      {{/ table-tbody-items }}
    </tbody>
  </table>
</div>
