<!-- START: 00-atomer-07-tekst-00-varsel -->
<div {{# alert-id }}id="{{ alert-id }}" {{/ alert-id }}class="a-message {{ alert-class }} {{styleModifier}}">
  {{> atomer-varsel-innhold }}
</div>

<!-- END: 00-atomer-07-tekst-00-varsel -->