<div class="a-page" id="smoothState">
	{{> organismer-header }}

	{{# article-jumbotron }}
		{{> molekyler-jumbotron }}
	{{/ article-jumbotron }}


	<div class="container" id="content" tabindex="-1">

			<div class="row">
				<div class="col-sm-12 col-lg-10 offset-lg-1 m-t-2 m-b-4">

						<p class="a-leadText">
							Skal du starte foretak men lurer på hvilken foretaksform som passer best for deg? Det finnes flere forskjellige foretaksformer, men avhengig av hva du skal starte er det antagelig bare en eller to av dem som er aktuelle. Derfor har vi tre enkle spørsmål vi gjerne vil at du skal svare på først:
						</p>

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-12 m-b-5">

					{{> organismer-gjennomgang }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-12 m-b-5">

					{{# article-compare-first }}
						{{> organismer-sammenligning }}
					{{/ article-compare-first }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 m-b-5">

					{{# first-list }}
						{{> atomer-seksjonstittel:a-textSize3 }}
						{{> atomer-liste-unummerert }}
					{{/ first-list }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 m-b-5">

					{{> molekyler-bilde-innhold }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 m-b-5">

					{{# article-search }}
						{{> atomer-tekst-input }}
					{{/ article-search }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->




		{{> organismer-footer }}

	</div> <!-- END .container -->

</div></div> <!-- END #smoothstate -->
