<!-- START: 01-molekyler-03-media-110-altinnett-kalender-header -->
<div class="{{ class }}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7">
        <p class="{{ preTitleClass }}">{{ preTitle }}</p>
        <h1 class="{{ pageTitleClass }}">{{ pageTitle }}</h1>
        {{# linkExternal }}
        <div class="mb-4 mb-md-6">
          {{> atomer-link-ekstern }}
          <i class="ai ai-sm ai-nw ai-nw-right ai-arrowrightup"></i>
        </div>
        {{/ linkExternal }}

        <div class="a-date-hiddencontainer">
          <div class="mr-1">
            {{# dato }} {{> atomer-dato }} {{/ dato }}
          </div>

          {{# klokkeslett }} {{> atomer-liste-unummerert-sammenkoblet }} {{/ klokkeslett }}
        </div>
        {{> atomer-link-knapp-stor-bred }}
      </div>
      <div class="col-6 col-md-5 a-date-container">
        <!-- Klasse for datoer med flere dager: a-date-day--small -->
        <div class="a-date-container-inner">
          <div class="mr-1 mr-lg-3">
            {{# dato }} {{> atomer-dato }} {{/ dato }}
          </div>

          {{# klokkeslett }} {{> atomer-liste-unummerert-sammenkoblet }} {{/ klokkeslett }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: 01-molekyler-03-media-110-altinnett-kalender-header -->