<!-- START: 00-atomer-01-forms-05-valgknapp-ett-alternativ -->
<div class="hidewhenempty">

  {{# radiobuttons }}

  <div class="a-switch">

    <input {{# radiobuttons-id }}id="{{{ radiobuttons-id }}}" {{/ radiobuttons-id }} class="sr-only" type="radio" name="{{{ radiobuttons-name }}}" onclick="CheckRoleOrRightForDelegtion(this, 'right')" onfocus="$('label[for=\'{{{ radiobuttons-id }}}']').addClass('focused'))"
      onblur="$('label[for=\'{{{ radiobuttons-id }}}\']').removeClass('focused')" value="radiobutton-read">

      <label for="{{{ radiobuttons-id }}}" class="a-switch-label {{{ radiobuttons-class }}}">
				{{# hasIcon }}
	        {{> atomer-ikon }}
	      {{/ hasIcon }}
        {{{radiobuttons-title}}}
      </label>

  </div>

  {{/ radiobuttons }}

</div>

<!-- END: 00-atomer-01-forms-05-valgknapp-ett-alternativ -->