<div class="a-page" id="smoothState">
  {{> organismer-header }}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {{> atomer-sidetittel:p-b-2 }}
	      <div class="m-b-5">
          {{> atomer-flervalg-stilisert }}
        </div>
        <div id="{{ accordion-large-id }}" role="tablist" aria-multiselectable="true">
          {{# accordion-large-items }}
            {{> atomer-ekspanderbart-panel }}
          {{/ accordion-large-items }}
          {{> organismer-klientdelegering }}
        </div>
      </div>
    </div>
  </div>
</div>
