<div class="a-page" id="smoothState">

  {{> organismer-header }}

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {{> atomer-sidetittel }}

        <div id="{{ accordion-large-id }}" role="tablist" aria-multiselectable="true">
          {{# accordion-large-items }}
            {{> atomer-ekspanderbart-panel }}
          {{/ accordion-large-items }}

          {{# accordion-klientdelegering-item }}
            {{> organismer-klientdelegering }}
          {{/ accordion-klientdelegering-item }}
        </div>



      </div>
    </div>
  </div>








</div>
