<div class="a-page" id="smoothState">
  {{> organismer-header }}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {{> atomer-sidetittel:p-b-2 }}
	      <div class="m-b-5">
          {{> atomer-flervalg-stilisert }}
        </div>
        <div id="{{ accordion-large-id }}" class="a-panelAccordion" role="tablist" aria-multiselectable="true">
          {{# accordionKl }}
            {{> organismer-ekspanderbart-panel }}
          {{/ accordionKl }}
          {{# klientdelegering }}
          {{> organismer-klientdelegering }}
          {{/ klientdelegering }}
        </div>
      </div>
    </div>
  </div>
</div>
