<div class="a-page" id="smoothState">
  {{> organismer-header }}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
	      <div class="mb-5 a-mb-3-xs-down">
          {{> atomer-flervalg-stilisert }}
        </div>
        <div id="{{ accordion-large-id }}" class="a-panelAccordion" role="tablist" aria-multiselectable="true">
          {{# accordionKl }}
            {{> organismer-ekspanderbart-panel }}
          {{/ accordionKl }}
          {{# andreMedRettigheter }}
            {{> organismer-andre-med-rettigheter }}
          {{/ andreMedRettigheter }}
          {{# klientdelegering }}
            {{> organismer-klientdelegering }}
          {{/ klientdelegering }}
        </div>
      </div>
    </div>
  </div>
</div>
