<!-- START: 00-atomer-07-tekst-12-snakkeboble -->
<div class="a-textBubble {{ isFrom }} {{ styleModifier }}">
  {{ bubble-content }} {{#hasMetaData}}
  <p class="a-textBubble-metaText">{{bubble-meta-data}}</p>
  {{/hasMetaData}}
</div>
<!--


<div class="a-textBubble">
    Snakkebobletest
    <p class="a-textBubble-metaText">2 minutter siden</p>
</div> -->

<!-- END: 00-atomer-07-tekst-12-snakkeboble -->