<!-- START: 04-sider-portal-50-innboks-09-innboks-slettede-meldinger-tomt -->
{{# innboks-slettede-meldinger-tomt }} {{> maler-portal-innboks }} {{/ innboks-slettede-meldinger-tomt }}
<!-- END: 04-sider-portal-50-innboks-09-innboks-slettede-meldinger-tomt -->