<form data-toggle="validator" role="form" action="{{{url}}}" class="form-inline a-form-inline {{ styleModifier }}">

  <span class="clearfix d-block mb-2">

    {{# text-input-personnumber }}
      {{> felles-komponenter-tekst-input }}
    {{/ text-input-personnumber }}

    {{# text-input-lastname }}
      {{> felles-komponenter-tekst-input }}
    {{/ text-input-lastname }}

  </span>

  {{# adress-submit }}
    {{> felles-komponenter-knapp }}
  {{/ adress-submit }}
</form>
