<form data-toggle="validator" role="form" action="{{{url}}}" class="{{ styleModifier }}">
  {{# text-input-name }}
    {{> felles-komponenter-tekst-input }}
  {{/ text-input-name }}

  <div class="a-btn-group mt-2">
    {{# name-submit }}
      {{> felles-komponenter-knapp }}
    {{/ name-submit }}

    {{# name-reset }}
      {{> felles-komponenter-knapp }}
    {{/ name-reset }}
  </div>
</form>
