<form data-toggle="validator" role="form" action="{{{url}}}" class="form-inline a-form-inline {{ styleModifier }}">
  <div class="clearfix d-block mb-2">
    {{# text-input-adress }}
      {{> felles-komponenter-tekst-input }}
    {{/ text-input-adress }}

    {{# text-input-postalcode }}
      {{> felles-komponenter-tekst-input }}
    {{/ text-input-postalcode }}
  </div>

  {{# adress-submit }}
    {{> felles-komponenter-knapp }}
  {{/ adress-submit }}
</form>
