<div class="a-page">
	{{> organismer-header }}

	<section id="content" tabindex="-1">

		{{# article-jumbotron }}
			{{> felles-komponenter-jumbotron }}
		{{/ article-jumbotron }}

		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg mb-5">
						{{> felles-komponenter-avsnitt }}

						{{> felles-komponenter-seksjonstittel }}
						{{> felles-komponenter-avsnitt }}

						{{> molekyler-fant-du-det-du-lette-etter }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 mb-5">

					{{> felles-komponenter-bildeblokk }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->
		</div> <!-- END Container -->

	</section>

	{{> organismer-footer }}
</div>
