<div class="a-page">
  {{# header }}
      {{> organismer-header-altinnett }}
  {{/ header }}

  <div class="container">
  {{# kalenderHeader }}
    <div class="a-bgBlueLight mb-4">
      {{> molekyler-altinnett-kalender-header }}
    </div>
  {{/ kalenderHeader }}

  {{# crumbs }}
    <div class="mb-3 mb-sm-6 px-sm-0">
      {{> molekyler-smulesti }}
    </div>  
  {{/ crumbs }}

    <div class="row mb-6 mb-lg-8">
      {{# ingress }}
        <div class="col-12 col-md-10 offset-md-1 mb-5 mb-lg-7">
          {{> atomer-seksjonstittel }}
          {{> atomer-avsnitt }}
        </div>
      {{/ ingress }}

      <div class="col-12 col-md-8 offset-md-2 mb-5 mb-lg-7 epi-wysiwyg">
        {{# listContent }}
            <h3 class="a-h4">{{section-title}}</h3>
            {{> atomer-liste-unummerert-kuler }}
            <br/>
        {{/ listContent }}
      </div>
    </div>
  </div>

  {{# footer }}
    {{> organismer-footer-altinnett }}
  {{/ footer }}
</div>