<!-- START: 02-organismer-50-ekspanderbart-panel-_50-klientdelegering JS doc: togglePanel.js -->
<div class="card a-accordion-card a-collapsePanel {{{ styleModifier }}}">
  <div class="card-header a-js-index-heading a-collapsePanel-heading collapsed {{ isExpanded }}" id="{{ collapse-panel-header-id }}" role="tab">
    <a href="#" data-toggle="collapse" data-target="#{{{ collapseID }}}" aria-expanded="false" aria-controls="{{{ collapseID }}}" {{# dataParent }}data-parent="{{{dataParent}}}" {{/ dataParent }}>
			{{# collapseHeader }}
				{{> molekyler-ikon-tekst }}
			{{/ collapseHeader }}
		</a>
  </div>
  <div id="{{ collapseID }}" class="a-collapsePanel-body a-collapsePanel-body--border no-background collapse {{{ isVisibleFromStart }}}" role="tabpanel" aria-labelledby="{{ collapse-panel-header-id }}">
    <div class="panel-collapse-content-section px-1 px-sm-2 pb-1 pb-sm-2">
      <div class="a-first-action pt-2 pt-sm-3">
        {{> atomer-knapp-veksle }}
      </div>
      <div class="a-second-action pt-2 pt-sm-3" id="searchForClient" style="display: none;">
        {{# sok-etter-klient }} {{# display }} {{> atomer-tekst-input }} {{/ display }} {{/ sok-etter-klient }}
      </div>
      <div class="a-second-action pt-2 pt-sm-3" id="searchForPerson">
        {{# sok-etter-person }} {{# display }} {{> atomer-tekst-input }} {{/ display }} {{/ sok-etter-person }}
      </div>
      {{# klientdelegering-file-desktop }}
      <div class="a-third-action hidden-md-down pt-3">
        <div class="a-third-action-spacer">
          {{> atomer-knapp }}
        </div>
      </div>
      {{/ klientdelegering-file-desktop }}
      <div class="a-fourth-action mt-2 mt-sm-3" id="searchHiddenForClient">
        {{# klientdelegering-add }} {{> atomer-handlingsknapp-full-bredde }} {{/ klientdelegering-add}}
      </div>
    </div>
    <div id="firstTable">
      {{# employee-table }} {{> molekyler-liste-unummerert }} {{/ employee-table }}
    </div>
    <div id="secondTable" style="display: none;">
      {{# clients-table }} {{> molekyler-liste-unummerert }} {{/ clients-table }}
    </div>
    {{# klientdelegering-file-mobile }}
    <div class="a-third-action-mobile hidden-lg-up">
      <div class="a-third-action-spacer">
        {{> atomer-knapp }}
      </div>
    </div>
    {{/ klientdelegering-file-mobile }}
  </div>
</div>

<!-- END: 02-organismer-50-ekspanderbart-panel-_50-klientdelegering -->