<!-- START: 02-organismer-_49-ekspanderbart-panel-innhold-40-overfor-SI-bruker -->
<div class="row">
  <div class="col">
    <h3>
      {{ si-user-heading }}
    </h3>
    <p class="a-fontSizeXS mb-1">
      {{ si-user-first-text }}
    </p>
    <p class="a-fontSizeXS mb-1">
      {{ si-user-second-text }}
    </p>
  </div>
</div>
{{# si-user-transfers-received }}
<div class="row mt-1">
  <div class="col-12 mb-1 align-self-center col-md-auto a-fontBold">
    {{ si-user-name }}
  </div>
  <div class="col-12 col-md-auto">
    {{# si-user-confirm-transfer-btn }} {{> atomer-knapp:mr-1 }} {{/ si-user-confirm-transfer-btn }} {{# si-user-decline-transfer-btn }} {{> atomer-knapp }} {{/ si-user-decline-transfer-btn }}
  </div>
</div>
{{/ si-user-transfers-received }} {{# si-user-input-fields }}
<div class="row">
  <div class="col-12 col-md-5">
    {{# si-user-username-input }} {{> atomer-tekst-input }} {{/ si-user-username-input }}
  </div>
  <div class="col-12 col-md-5">
    {{# si-user-lastname-input }} {{> atomer-tekst-input }} {{/ si-user-lastname-input }}
  </div>
</div>
{{/ si-user-input-fields }} {{# si-user-success-btn }}
<div class="row">
  <div class="col">
    {{> atomer-knapp:mt-2 }}
  </div>
</div>
{{/ si-user-success-btn }}
<!-- END: 02-organismer-_49-ekspanderbart-panel-innhold-40-overfor-SI-bruker -->