<button type="button" class="a-boxAddBtn" {{# onclick }} onclick="{{{ onclick }}}" {{/ onclick }}>
  <span class="a-boxAddBtn-inner">
    {{ box-button-add-textover }}
    {{> felles-komponenter-ikon }}
    {{ box-button-add-textunder }}
  </span>
</button>
