<div class="a-page">
    {{# header }}
        {{> organismer-header-altinnett }}
    {{/ header }}

    <main id="content" tabindex="-1">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5 mb-md-9">
                    {{# page-title }}{{> atomer-sidetittel }}{{/page-title}}
                    {{# lead-text}}{{> atomer-intro-tekst }}{{/lead-text}}
                </div>
            </div>

            <div class="row mb-5 mb-md-9">
                <div class="col-lg-10 offset-lg-1">
                    <div class="mb-5 mb-md-9">
                        <h2>Sist oppdaterte dokumenter</h2>
                        {{> molekyler-liste-dokumenter }}
                        {{# document-link }}
                            {{> atomer-link }}
                        {{/ document-link }}
                    </div>

                    <div class="mb-5 mb-md-9">
                        <h2 class="mb-2">Nytt om A-meldingen</h2>
                        {{# list-article }}
                            {{> molekyler-lenketittel-med-forklaring }}
                        {{/ list-article }}
                        {{# news-link }}
                            {{> atomer-link }}
                        {{/ news-link }}
                    </div>
                </div>

                <div class="col-lg-10 offset-lg-1">
                    <h2 class="mb-2">Informasjon om tjenesten</h2>
                </div>
                <div class="col-lg-8 offset-lg-2 mb-6 mb-md-9">
                  {{# accordion }}
                    {{> molekyler-trekkspill-overskrifter }}
                  {{/ accordion }}
                </div>

                <div class="col-12 a-bgGreyLighter an-presentationBlock py-md-4">
                    <div class="row">
                        <div class="col-md-3 offset-md-1 d-none d-md-block my-auto pr-6">
                        {{# circle-icon }}
                            {{> atomer-sirkel-med-ikon }}
                        {{/ circle-icon }}
                        </div>
                        <div class="col-md-7 my-auto">
                          <h2 class="a-fontBold a-blueDarkerText pt-1">Kontaktinformasjon</h2>
                          <div class="a-fontSizeXL">
                            <p>
                              Navn Navnesen<br/>
                              E-post: datasystem@tjenesteeier.no
                            </p>
                            <p>
                              Per Person<br/>
                              E-post: datasystem@tjenesteeier.no
                            </p>
                          </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- END Container -->

    </main>

    {{# footer }}
        {{> organismer-footer-altinnett }}
    {{/ footer }}
</div>
