<div class="a-page">
    {{# header }}
        {{> organismer-header-altinnett }}
    {{/ header }}

    <main id="content" tabindex="-1">
        <div class="container">
            {{# crumbs }}
                <div class="mb-4">
                    {{> molekyler-smulesti }}
                </div>
            {{/ crumbs }}
            <div class="row">
                <div class="col-12 mb-2">
                    {{# page-title }}{{> atomer-sidetittel }}{{/page-title}}
                    {{# lead-text}}{{> atomer-intro-tekst }}{{/lead-text}}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 offset-lg-2 mb-6">
                  {{# accordion }}
                    {{> molekyler-trekkspill-overskrifter }}
                  {{/ accordion }}
                </div>
            </div>
        </div> <!-- END Container -->

    </main>

    {{# footer }}
        {{> organismer-footer-altinnett }}
    {{/ footer }}
</div>
