<div class="a-page">
	{{# header }}
		{{> organismer-header-altinnett }}
	{{/ header }}

	<section id="content" tabindex="-1">

		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-10 offset-lg-1">
					{{# articlestart }}
						{{> felles-komponenter-artikkel-start }}
					{{/ articlestart }}
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg pt-2 pt-lg-3">
					{{> felles-komponenter-avsnitt }}

					{{> felles-komponenter-seksjonstittel }}
					{{# cardright }}
						{{> felles-komponenter-ikon-link:a-article-right-off|mb-2 }}
					{{/ cardright }}
					{{> felles-komponenter-avsnitt }}

					{{> felles-komponenter-bilde-sitat }}

					{{> felles-komponenter-seksjonstittel }}
					{{> felles-komponenter-avsnitt }}

					{{> felles-komponenter-liste-unummerert-sammenkoblet }}

					{{> felles-komponenter-undertittel }}
					{{> felles-komponenter-avsnitt }}

					{{> felles-komponenter-seksjonstittel }}
					{{> felles-komponenter-avsnitt }}
					{{> felles-komponenter-liste-unummerert-kuler }}

					<ul>
						<li>Vanlig liste</li>
						<li>Vanlig liste</li>
						<li>Vanlig liste</li>
					</ul>

					{{# cardFirst }}
						{{> felles-komponenter-ikon-link:a-iconText-minusBothMargins }}
					{{/ cardFirst }}

					{{> felles-komponenter-seksjonstittel }}
					{{> felles-komponenter-avsnitt }}
					{{> felles-komponenter-liste-nummerert-sirkel }}

					<ol>
						<li>Vanlig nummerert liste</li>
						<li>Vanlig nummerert liste</li>
						<li>Vanlig nummerert liste</li>
					</ol>

					{{> felles-komponenter-sitat:a-article-right-off|a-blockquote-right }}

					{{> felles-komponenter-undertittel }}
					{{> felles-komponenter-avsnitt }}

					{{> felles-komponenter-seksjonstittel }}
					{{> felles-komponenter-avsnitt }}

					{{> felles-komponenter-undertittel }}
					{{> felles-komponenter-bilde:a-articleImage-right }}
					{{> felles-komponenter-avsnitt }}

					{{> felles-komponenter-artikkelliste-dato:mb-3 }}

					{{> felles-komponenter-avsnitt }}

					{{# firstlink }}
						<strong>
							{{> felles-komponenter-link }}
						</strong>
					{{/ firstlink }}
					<br><br>

					{{> felles-komponenter-avsnitt }}

					{{# secondlink }}
						<strong>
							{{> felles-komponenter-link }}
						</strong>
					{{/ secondlink }}
					<br><br>

					{{> felles-komponenter-avsnitt }}

					<p class="d-inline mb-0">Dette er en tekst der et av ordene har en ordforklaring {{> felles-komponenter-link-med-popover-ikon }} bak seg. Og så kommer resten av teksten i avsnittet.. PS. I prototypen legges det på en avsluttende p for tidlig, det er derfor satt på klassene d-inline og mb-0 for å unngå at teksten brekker til ny linje etter popover-ikonet. Disse klassene er ikke nødvendig i epi-løsningen, da avsluttende p havner på riktig plass der.</p>

					{{> felles-komponenter-tabell-regnestykke }}

					{{> felles-komponenter-seksjonstittel }}
					{{> felles-komponenter-avsnitt }}

					{{> organismer-artikkel-tidslinje }}


				</div><!-- END .col-... -->
			</div><!-- END .row -->

			{{# cardbottom }}
			<div class="row">
				<div class="col-sm-12 col-lg-12 mb-4">
						{{> molekyler-kort }}
				</div><!-- END .col-... -->
			</div><!-- END .row -->
			{{/ cardbottom }}


			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 mt-5 mb-5">
						{{> felles-komponenter-bildeblokk }}
				</div><!-- END .col-... -->
			</div><!-- END .row -->
		</div> <!-- END Container -->

	</section>

	{{# footer }}
		{{> organismer-footer-altinnett }}
	{{/ footer }}
</div>
