/* Error: Undefined variable.
 *    ,
 * 33 |     outline: 2px solid $dark-blue;
 *    |                        ^^^^^^^^^^
 *    '
 *   source/css/scss/scss-common/objects/_buttons.scss 33:24  @import
 *   source/css/scss/style.prototype.common.scss 24:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 33 \2502      outline: 2px solid $dark-blue;\a    \2502                         ^^^^^^^^^^\a    \2575 \a   source/css/scss/scss-common/objects/_buttons.scss 33:24  @import\a   source/css/scss/style.prototype.common.scss 24:9         root stylesheet";
}
