/*-- ENVIRONMENT VARIABLES --*/
$font-url-start: '../fonts/';
$images-base-url: '../images/';

/*-- VARIABLES SPECIFIC --*/
@import 'scss-altinn/generic/variables'; // Altinn variables
@import 'scss-altinn/generic/bootstrap-custom'; // Bootstrap alpha4 customized variables

/*-- BOOTSTRAP --*/
// Core variables and mixins
@import './../../node_modules/bootstrap/scss/variables';
@import './../../node_modules/bootstrap/scss/mixins';

// Reset and dependencies
@import './../../node_modules/bootstrap/scss/normalize';
@import './../../node_modules/bootstrap/scss/print';

// Core CSS
@import './../../node_modules/bootstrap/scss/reboot';
@import './../../node_modules/bootstrap/scss/type';
@import './../../node_modules/bootstrap/scss/images';
@import './../../node_modules/bootstrap/scss/grid';
@import './../../node_modules/bootstrap/scss/forms';
@import './../../node_modules/bootstrap/scss/buttons';

// Components
@import './../../node_modules/bootstrap/scss/transitions';
@import './../../node_modules/bootstrap/scss/dropdown';
@import './../../node_modules/bootstrap/scss/button-group';
@import './../../node_modules/bootstrap/scss/input-group';
@import './../../node_modules/bootstrap/scss/custom-forms';
@import './../../node_modules/bootstrap/scss/nav';
@import './../../node_modules/bootstrap/scss/navbar';
@import './../../node_modules/bootstrap/scss/jumbotron';

// Components w/ JavaScript
@import './../../node_modules/bootstrap/scss/modal';
@import './../../node_modules/bootstrap/scss/popover';

// Utility classes
@import './../../node_modules/bootstrap/scss/utilities';

/*-- COMMON --*/
@import 'scss-common/generic/mixins';
@import 'scss-common/generic/reset';

@import 'scss-common/base/animation';
@import 'scss-common/base/font';
@import 'scss-common/base/forms';
@import 'scss-common/base/global-classes';
@import 'scss-common/base/javascript';
@import 'scss-common/base/links';
@import 'scss-common/base/text';

@import 'scss-common/objects/buttons';
@import 'scss-common/objects/icons';
@import 'scss-common/objects/layout';
@import 'scss-common/objects/messaging';
@import 'scss-common/objects/lists';
@import 'scss-common/objects/modal';
@import 'scss-common/objects/collapse';
@import 'scss-common/objects/jumbotron';

/*-- ALTINN SPECIFIC --*/
@import 'scss-altinn/base/colors';
@import 'scss-altinn/base/links-external';
@import 'scss-altinn/base/media';

@import 'scss-altinn/objects/blocks';
@import 'scss-altinn/objects/footer';
@import 'scss-altinn/objects/header';
@import 'scss-altinn/objects/layout';
@import 'scss-altinn/objects/modal';
@import 'scss-altinn/objects/nav';
@import 'scss-altinn/objects/stickyhelp';
