/*-- ENVIRONMENT VARIABLES --*/
$font-url-start: '../fonts/';
$images-base-url: '../images/';

/*-- VARIABLES SPECIFIC --*/
@import "scss-altinn/generic/variables"; // Altinn variables
@import "scss-altinn/generic/bootstrap-custom"; // Bootstrap alpha4 customized variables

/*-- BOOTSTRAP --*/
@import "scss-common/bootstrap";

/*-- THIRD PARTY --*/
// @import "./../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min";

/*-- COMMON --*/
@import "scss-common/generic/mixins";
@import "scss-common/generic/reset";

@import "scss-common/base/animation";
@import "scss-common/base/font";
@import "scss-common/base/forms";
@import "scss-common/base/global-classes";
@import "scss-common/base/javascript";
@import "scss-common/base/links";
@import "scss-common/base/tables";
@import "scss-common/base/text";

@import "scss-common/objects/buttons";
// @import "scss-common/objects/datepicker";
@import "scss-common/objects/card";
@import "scss-common/objects/icons";
@import "scss-common/objects/layout";
@import "scss-common/objects/loader";
@import "scss-common/objects/messaging";
@import "scss-common/objects/tabs";
@import "scss-common/objects/tooltip";
@import "scss-common/objects/breadcrumb";
@import "scss-common/objects/pagination";
@import "scss-common/objects/lists";
@import "scss-common/objects/modal";
@import "scss-common/objects/collapse";
@import "scss-common/objects/jumbotron";
@import "scss-common/objects/article";
@import "scss-common/objects/blockquote";

/*-- ALTINN SPECIFIC --*/
@import "scss-altinn/base/colors";
@import "scss-altinn/base/links-external";
@import "scss-altinn/base/media";

@import "scss-altinn/objects/blocks";
@import "scss-altinn/objects/captcha";
// @import "scss-altinn/objects/chat";
@import "scss-altinn/objects/colnav";
@import "scss-altinn/objects/footer";
@import "scss-altinn/objects/header";
// @import "scss-altinn/objects/inbox";
@import "scss-altinn/objects/layout";
@import "scss-altinn/objects/modal";
@import "scss-altinn/objects/nav";
@import "scss-altinn/objects/newsArchive";
// @import "scss-altinn/objects/onboarding";
@import "scss-altinn/objects/print";
//@import "scss-altinn/objects/progress";
@import "scss-altinn/objects/questions-with-compare";
@import "scss-altinn/objects/searchresults";
@import "scss-altinn/objects/stickyhelp";


/*-- EPISERVER SPECIFIC --*/
@import "scss/episerver/episerver";
