$font-url-start: 'https://tt02.altinn.no/ui/fonts/' !default;
$images-base-url: '../images/';

/*-- VARIABLES --*/
@import 'scss-altinn/generic/variables'; // Altinn variables
@import 'scss-altinnett/generic/bootstrap-custom'; // Bootstrap alpha4 customized variables
@import 'scss-altinnett/generic/variables'; // Altinnett specific variables

/*-- BOOTSTRAP --*/
@import 'scss-common/bootstrap';

/*-- THIRD PARTY --*/
@import './../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min';

/*-- COMMON --*/
@import 'scss-common/generic/mixins';
@import 'scss-common/generic/reset';

@import 'scss-common/base/animation';
@import 'scss-common/base/font';
@import 'scss-common/base/forms';
@import 'scss-common/base/global-classes';
@import 'scss-common/base/javascript';
@import 'scss-common/base/links';
@import 'scss-common/base/tables';
@import 'scss-common/base/text';

@import 'scss-common/objects/buttons';
@import 'scss-common/objects/datepicker';
@import 'scss-common/objects/card';
@import 'scss-common/objects/icons';
@import 'scss-common/objects/layout';
@import 'scss-common/objects/loader';
@import 'scss-common/objects/messaging';
@import 'scss-common/objects/tabs';
@import 'scss-common/objects/tooltip';
@import 'scss-common/objects/breadcrumb';
@import 'scss-common/objects/pagination';
@import 'scss-common/objects/lists';
@import 'scss-common/objects/modal';
@import 'scss-common/objects/collapse';
@import 'scss-common/objects/jumbotron';
@import 'scss-common/objects/article';
@import 'scss-common/objects/blockquote';

/*-- ALTINNETT SPECIFIC --*/
@import 'scss-altinnett/base/global-classes';
@import 'scss-altinnett/base/font';
@import 'scss-altinnett/base/forms';
@import 'scss-altinnett/base/colors';
@import 'scss-altinnett/base/media';
@import 'scss-altinnett/base/text';
@import 'scss-altinnett/base/links-external';

@import 'scss-altinnett/episerver/episerver';

@import 'scss-altinnett/objects/lists';
@import 'scss-altinnett/objects/header';
@import 'scss-altinnett/objects/jumbotron';
@import 'scss-altinnett/objects/blocks';
@import 'scss-altinnett/objects/breadcrumb';
@import 'scss-altinnett/objects/footer';
@import 'scss-altinnett/objects/modal';
@import 'scss-altinnett/objects/collapse';
@import 'scss-altinnett/objects/article';
@import 'scss-altinnett/objects/nav';
@import 'scss-altinnett/objects/searchresults';
@import 'scss-altinnett/objects/newsArchive';
@import 'scss-altinnett/objects/questions-with-compare';
@import 'scss-altinnett/objects/slideshow';

/*-- DASHBOARD --*/
@import 'scss-altinnett/objects/dashboard';

/*-- EPISERVER SPECIFIC --*/
@import 'scss-altinn/episerver/episerver';
