$env: 'dev' !default;

// dev settings
$font-url-start: '../fonts/';
$images-base-url: '../images/';

@if($env == 'prod') {
  // npm package settings
  $font-url-start: '../fonts/';
  $images-base-url: '../Content/extimg/';
}