<!-- START: 01-molekyler-03-media-06-bilde-sitat -->
<div class="media a-media mb-2">
  <div class="media-left">
    <img class="media-object" src="{{ img.landscape-16x9.src }}" alt="{{ img.landscape-16x9.alt }}">
  </div>
  <div class="media-body">
    {{> atomer-sitat }}
  </div>
</div>

<!-- END: 01-molekyler-03-media-06-bilde-sitat -->