<!-- START: 02-organismer-50-ekspanderbart-panel-_70-felles-kontaktinformasjon JS doc: togglePanel.js -->
<div class="card a-accordion-card a-collapsePanel {{{ styleModifier }}}">
  <div class="card-header a-js-index-heading a-collapsePanel-heading collapsed {{isExpanded}}" id="{{ collapse-panel-header-id }}" role="tab">
    <a href="#" data-toggle="collapse" data-target="#{{{ collapseID }}}" aria-expanded="false" aria-controls="{{ collapseID }}" {{# dataParent }}data-parent="{{{dataParent}}}" {{/ dataParent }}>
      {{# collapseHeader }}
        {{> molekyler-ikon-tekst }}
      {{/ collapseHeader }}
    </a>
  </div>
  <div id="{{ collapseID }}" class="a-collapsePanel-body collapse {{{ isVisibleFromStart }}}" role="tabpanel" aria-labelledby="{{ collapse-panel-header-id }}">
    <div class="a-collapsePanel-body-content">
      <div class="row">
        <div class="col-12">
          <h3 class="a-fontBold a-fontSizeM">
            {{ shared-contactinfo-header }}
          </h3>
        </div>
        <div class="col-12 col-md-4">
          {{# shared-contactinfo-first-input }} {{> atomer-tekst-input }} {{/ shared-contactinfo-first-input }}
        </div>
        <div class="col-12 col-md-7 pr-md-0">
          {{# shared-contactinfo-second-input }} {{> atomer-tekst-input }} {{/ shared-contactinfo-second-input }}
        </div>
        <div class="col-12">
          {{# shared-contact-checkbox }} {{> atomer-avkrysningsboks }} {{/ shared-contact-checkbox }}
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-2">
          <h3 class="a-fontBold a-fontSizeM">
            {{ other-shared-contactinfo-header }}
          </h3>
        </div>
      </div>
      {{# add-contactinfo }}
      <div class="row">
        <div class="col-12 col-md-4">
          {{# add-shared-contactinfo-first-input }} {{> atomer-tekst-input }} {{/ add-shared-contactinfo-first-input }}
        </div>
        <div class="col-12 col-md-7 pr-md-0">
          {{# add-shared-contactinfo-second-input }} {{> atomer-tekst-input }} {{/ add-shared-contactinfo-second-input }}
        </div>
        <div class="col-1 hidden-sm-down pl-md-0 {{ delete-button-class }}">
          {{# delete-shared-contactinfo-icon }} {{> atomer-knapp-ikon-tekst }} {{/ delete-shared-contactinfo-icon }}
        </div>
        <div class="col-12 hidden-md-up mb-3">
          {{# delete-shared-contactinfo-link }} {{> atomer-knapp-link-fare }} {{/ delete-shared-contactinfo-link }}
        </div>
      </div>
      {{/ add-contactinfo }}
      <div class="row">
        <div class="col-12">
          {{# add-contactinfo-row-button }} {{> atomer-handlingsknapp }} {{/ add-contactinfo-row-button }}
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-1">
          {{# add-contactinfo-done-button }} {{> atomer-knapp-suksess }} {{/ add-contactinfo-done-button }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: 02-organismer-50-ekspanderbart-panel-_70-felles-kontaktinformasjon -->