<!-- START: 02-organismer-30-seksjoner-79-dashboard-personbytte -->
<!-- Begin #a-dropdown-personswitchList - -->
<div class="dropdown-menu a-dropdown-personswitchList a-dropdownTriangle">

  <div class="pt-3 pl-3 pr-3 mb-1">

    <div class="row">
      <div class="col-sm-12 px-0 mb-1">
        {{> molekyler-person-rolle }}
      </div>

    </div>
    {{# settings-link }} {{> atomer-link }} {{/ settings-link }}
  </div>
  <div class="row col-12 mt-2 mb-1 d-flex flex-row-reverse align-items-center">
    {{# logout }} {{> atomer-link }} {{/ logout }}
  </div>
</div>

<!-- END: 02-organismer-30-seksjoner-79-dashboard-personbytte -->