
<!-- First level -->
<ul class="vertical menu a-colnav" data-responsive-menu="drilldown large-dropdown" id="colnav" data-disable-hover="true" data-click-open="true" data-click-open="false" data-close-on-click="false" data-force-follow="true">
  <li>
    <a href="#" class="a-colnav-item">
      <h2>Bransjespesifikt</h2>
      <p ="a-leadText">
      som primærnæring, olje og gass, eksport og transport
      </p>
    </a>
    <!-- Second level -->
    <ul class="vertical menu a-colnav-secondLevel">
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Servering og overnatting</h3>
        </a>
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Eksport og import</h3>
        </a>
        <!-- Third level -->
        <ul class="vertical menu a-colnav-thirdLevel">
          <li>
            <a href="#">
              <h4>Endre informasjon om import av forvarer</h4>
              <span class="a-colnav-rightText">Mattilsynet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Endre informasjon om import av næringsmidler</h4>
              <span class="a-colnav-rightText">Mattilsynet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Enkel garantierklæring</h4>
              <span class="a-colnav-rightText">Tolldirektoratet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Grensepasseringsattest</h4>
              <span class="a-colnav-rightText">Mattilsynet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Enkel garantierklæring</h4>
              <span class="a-colnav-rightText">Tolldirektoratet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Grensepasseringsattest</h4>
              <span class="a-colnav-rightText">Mattilsynet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Enkel garantierklæring</h4>
              <span class="a-colnav-rightText">Tolldirektoratet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Grensepasseringsattest</h4>
              <span class="a-colnav-rightText">Mattilsynet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Enkel garantierklæring</h4>
              <span class="a-colnav-rightText">Tolldirektoratet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Grensepasseringsattest</h4>
              <span class="a-colnav-rightText">Mattilsynet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Grensepasseringsattest</h4>
              <span class="a-colnav-rightText">Mattilsynet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Enkel garantierklæring</h4>
              <span class="a-colnav-rightText">Tolldirektoratet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Grensepasseringsattest</h4>
              <span class="a-colnav-rightText">Mattilsynet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Grensepasseringsattest</h4>
              <span class="a-colnav-rightText">Mattilsynet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Enkel garantierklæring</h4>
              <span class="a-colnav-rightText">Tolldirektoratet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Grensepasseringsattest</h4>
              <span class="a-colnav-rightText">Mattilsynet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Grensepasseringsattest</h4>
              <span class="a-colnav-rightText">Mattilsynet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Enkel garantierklæring</h4>
              <span class="a-colnav-rightText">Tolldirektoratet</span>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Grensepasseringsattest</h4>
              <span class="a-colnav-rightText">Mattilsynet</span>
            </a>
          </li>
        </ul><!-- End Third level -->
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Telekommunikasjon</h3>
        </a>
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Legemiddel</h3>
        </a>
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Forskning</h3>
        </a>
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Media</h3>
        </a>
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Godstransport</h3>
        </a>
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Landbruk</h3>
        </a>
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Sjøfart</h3>
        </a>
      </li>
    </ul><!-- End Second level -->
  </li>

  <li>
    <a href="#" class="a-colnav-item">
      <h2>Arbeid og lønn</h2>
      <p ="a-leadText">
        som arbeidsforhold, sykdom, pensjon og permisjon
      </p>
    </a>
    <!-- Second level -->
    <ul class="vertical menu a-colnav-secondLevel">
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Nivå 2 på "Arbeid og lønn"</h3>
        </a>
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Nivå 2 på "Arbeid og lønn"</h3>
        </a>
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Nivå 2 på "Arbeid og lønn"</h3>
        </a>
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Nivå 2 på "Arbeid og lønn"</h3>
        </a>
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Nivå 2 på "Arbeid og lønn"</h3>
        </a>
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Nivå 2 på "Arbeid og lønn"</h3>
        </a>
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Nivå 2 på "Arbeid og lønn"</h3>
        </a>
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Nivå 2 på "Arbeid og lønn"</h3>
        </a>
      </li>
      <li>
        <a href="#" class="a-colnav-item-second">
          <h3>Nivå 2 på "Arbeid og lønn"</h3>
        </a>
      </li>
    </ul><!-- End Second level -->
  </li>
  <li>
    <a href="#" class="a-colnav-item">
      <h2>Miljø</h2>
      <p ="a-leadText">
        søknad om tilskudd, rapportering av tiltak og skader
      </p>
    </a>
  </li>
  <li>
    <a href="#" class="a-colnav-item">
      <h2>Endring og opphør av foretak</h2>
      <p ="a-leadText">
        skifte organisasjonsform, konkurs og avvikling
      </p>
    </a>
  </li>
  <li>
    <a href="#" class="a-colnav-item">
      <h2>Regnskap</h2>
      <p ="a-leadText">
        som selvangivelse, mva, aksjer, revisjon og regnskap
      </p>
    </a>
  </li>
  <li>
    <a href="#" class="a-colnav-item">
      <h2>Starte bedrift</h2>
      <p ="a-leadText">
        stifte og registrere selskap, patent og vern av åndsverk
      </p>
    </a>
  </li>
  <li>
    <a href="#" class="a-colnav-item last-child">
      <h2>Privat</h2>
      <p ="a-leadText">
        familie, bolig, organisasjonsliv, skatt og personlig næring
      </p>
    </a>
  </li>
</ul>
