

<ul class="vertical menu" data-responsive-menu="drilldown medium-dropdown" style="width: 300px;" id="colnav">
  <li>
    <a href="#">Item 1</a>
    <ul class="vertical menu">
      <li>
        <a href="#">Item 1A</a>
        <ul class="vertical menu">
          <li>
            <a href="#">
              <h2>Arbeid og lønn</h2>
              <p ="a-leadText">
                som arbeidsforhold, sykdom, pensjon og permisjon.
              </p>
            </a>
          </li>
          <li><a href="#">
            <h2>Miljø</h2>
            <p ="a-leadText">
            som arbeidsforhold, sykdom, pensjon og permisjon.
            </p>
          </a></li>
          <li><a href="#">Item 1C</a></li>
          <li><a href="#">Item 1D</a></li>
          <li><a href="#">Item 1E</a></li>
        </ul>
      </li>
      <li><a href="#">Item 1B</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Item 2</a>
    <ul class="vertical menu">
      <li><a href="#">Item 2A</a></li>
      <li><a href="#">Item 2B</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Item 3 test</a>
    <ul class="vertical menu">
      <li><a href="#">Item 3A</a></li>
      <li><a href="#">Item 3B</a></li>
    </ul>
  </li>
</ul>
