<nav class="navbar ap-navbarLeft">

	<button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
	&#9776;</button>

	<div class="collapse width navbar-toggleable-sm ap-navbarLeft-collapse" id="exCollapsingNavbar2">

		<div class="ap-collapse-content">
		
			<a class="navbar-brand" href="../..{{ link.pages-designprofile-introduksjon }}"><img src="../../images/a-logo-white.svg" alt="Altinn logo" class="altinn-logo"> <h1>PROFILMANUAL</h1></a>

			<ul class="nav navbar-nav">
				<li class="nav-item active">
					<a class="nav-link {{{ ap-nav-1-active }}}" href="../..{{ link.pages-designprofile-introduksjon }}">Introduksjon <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{{ ap-nav-2-active }}}" href="../..{{ link.pages-designprofile-visuellprofil }}">Visuell profil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{{ ap-nav-3-active }}}" href="../..{{ link.pages-designprofile-sprak }}">Språkprofil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-link-hassub {{{ ap-nav-4-active }}}" href="../..{{ link.pages-designprofile-web }}">Web</a>
					<ul>
						<li class="nav-item nav-item-level2">
							<a class="nav-link {{{ ap-nav-4-1-active }}}" href="../..{{ link.pages-designprofile-web-farger }}">Farger for web</a>
						</li>
						<li class="nav-item nav-item-level2">
							<a class="nav-link {{{ ap-nav-4-2-active }}}" href="../..{{ link.pages-designprofile-web-typography }}">Typography for web</a>
						</li>
						<li class="nav-item nav-item-level2">
							<a class="nav-link {{{ ap-nav-4-3-active }}}" href="../..{{ link.pages-designprofile-web-ikoner }}">Ikoner for web</a>
						</li>
						<li class="nav-item nav-item-level2">
							<a class="nav-link {{{ ap-nav-4-4-active }}}" href="../..{{ link.pages-designprofile-web-layout-and-grid }}">Layout og grid</a>
						</li>
						
						<li class="nav-item nav-item-level2">
							<a class="nav-link {{{ ap-nav-4-5-active }}}" href="../..{{ link.pages-designprofile-web-frontendguidelines }}">Frontend guidelines</a> 
						</li>
						<li class="nav-item nav-item-level2">
							<a class="nav-link {{{ ap-nav-4-6-active }}}" href="../..{{ link.pages-designprofile-web-patternlab }}" title="Patternlab All page">UI-komponenter (Patternlab)</a>
						</li>
						<li class="nav-item nav-item-level2">
							<a class="nav-link {{{ ap-nav-4-7-active }}}" href="../..{{ link.pages-designprofile-web-prototyper }}" >Prototyper</a>
						</li>
						<li class="nav-item nav-item-level2">
							<a class="nav-link {{{ ap-nav-4-8-active }}}" href="../..{{ link.pages-designprofile-web-nettleserstotte }}">Nettleserstøtte</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link {{{ ap-nav-5-active }}}" href="../..{{ link.pages-designprofile-bakgrunn }}">Bakgrunnsmateriell</a>
				</li>
			</ul> 

		</div>

	</div>

</nav>

