<a data-toggle="collapse" data-parent="#filterSkjema" data-target="{{{ collapse-filter-id }}}" href="#" aria-expanded="false" aria-controls="DirectRoles" class="a-collapseFilter no-decoration collapsed">
    <span class="a-dropdownArrow"></span> {{{ collapse-filter-text }}}
</a>


  <div id="filter-example" class="a-collapseContent collapse" role="tabpanel" aria-expanded="true">
  Innhold som vises/skjules

  </div>
