
  <button type="button" class="a-boxBtn">

      <span class="a-metaText">
          {{ boxBtnList-title }}
      </span>

      <p>
          {{ boxBtnList-person }}
      </p>

      <i class="material-icons a-boxBtn-icon a-blueText">{{ boxBtnList-icon }}</i>
      
      <b class="a-boxBtn-action a-blueText">
          {{ boxBtnList-action }} ›
      </b> 

  </button> 
