
<div class="a-btn-group" id="linkWithTooltip">

  <a href="javascript:;" tabindex="0" class="a-link" role="button" class="a-button-link" data-toggle="tooltip" data-template='<div class="tooltip a-tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>' data-placement="top" title="Gul tooltip på toppen ved mouseover">
    Hold over for å se gul tooltip
  </a>

  <a href="javascript:;" tabindex="0" class="a-link" role="button" class="a-button-link" data-toggle="tooltip" data-template='<div class="tooltip a-tooltip a-tooltip-valid" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>' data-placement="top" title="Grønn tooltip på toppen ved mouseover">
    Hold over for å se grønn tooltip
  </a>

  <a href="javascript:;" tabindex="0" class="a-link" role="button" class="a-button-link" data-toggle="tooltip" data-template='<div class="tooltip a-tooltip a-tooltip-warning" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>' data-placement="top" title="Rød tooltip på toppen ved mouseover">
    Hold over for å se rød tooltip
  </a>

</div>
