<!-- START: 00-atomer-08-lister-_20-liste-opplasting JS doc: fileInputHandler.js -->
<ul class="a-item-list-icon{{# fileupload-list-extraClass }} {{ fileupload-list-extraClass }}{{/ fileupload-list-extraClass }}">
  {{# item-list }}
  <li class="{{ item-list-class }}" tabindex="0" role="button" {{# icon-onclick }} onclick="{{{ icon-onclick }}}" {{/ icon-onclick }} aria-label="{{{ list-item-aria-label }}}">
    <div class="row">
      <div class="col">
        <span class="a-js-listItemText">
            {{{ list-item-text }}}
          </span>
      </div>
      <div class="col-auto text-right">
        {{> atomer-ikon }}
      </div>
    </div>
  </li>
  {{/ item-list }}
</ul>
<!-- END: 00-atomer-08-lister-_20-liste-opplasting -->