<!-- START: 00-atomer-02-lenker-00-link -->
<a
  {{# link-url }} href="../..{{{ link-url }}}" {{/ link-url }}
  class="a-linkArea {{ link-class }} {{ styleModifier }}">
  {{{ link-text }}}

  {{# link-icon }}
    {{> atomer-ikon }}
  {{/ link-icon }}
</a>

<!-- END: 00-atomer-02-lenker-00-link -->
