<a
  {{# link-url }} href="{{{ link-url }}}" {{/ link-url }}
  class="a-linkArea {{ link-class }} {{ styleModifier }}" {{# data-target }} data-toggle="collapse" data-target="{{ data-target }}" {{/ data-target }} {{# data-set-selected-target }} data-set-selected-target="{{ data-set-selected-target }}"{{/ data-set-selected-target }} {{# data-parent }} data-parent="#{{ data-parent}}" {{/ data-parent }} {{# onclick }} onclick="{{ onclick }}" {{/ onclick }}>
  {{{ link-text }}}

  {{# link-icon }}
    {{> atomer-ikon }}
  {{/ link-icon }}
</a>
