<!-- START: 02-organismer-01-globale-10-subheader -->
<header class="a-header {{{ subheader-color }}}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav id="primary-nav" class="a-globalNav float-left">
          <a href="{{ link.sider-infoportal-forside-innlogget }}" class="a-globalNav-logo{{# subheader-extraclass }} {{ subheader-extraclass }}{{/ subheader-extraclass }}"> {{> atomer-logo }} <span class="sr-only">Til forsiden</span></a> {{# linkFeatured
          }} {{> atomer-link }} {{/ linkFeatured }}
        </nav>
        <ul id="secondary-nav" class="nav nav-pills a-header-options">
          <li class="nav-item">
            {{> atomer-innlogget }} {{# dropdown-personswitch }} {{> organismer-meny-personbytte }} {{/ dropdown-personswitch }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- END: 02-organismer-01-globale-10-subheader -->