<div class="container a-p-static a-modal">
  <div class="row">
    <div class="col-xl-12">
      {{> felles-komponenter-modal-header }}
    </div>
  </div>
  <div class="row">
    <div class="col-xl-10 offset-xl-1 a-p-static">
      {{# modal-navbar-override }}
      {{> felles-komponenter-modal-navbar }}
      {{/ modal-navbar-override }}

      <div class="modal-content">

        <div class="modal-body a-modal-body">

          <div class="mb-4">
            <h1 class="a-fontBold a-fontSizeXL mt-1">{{ modal-title }}</h1>
            {{#modal-ingress}}<p class="lead">{{ modal-ingress }}</p>{{/modal-ingress}}
          </div>

          <div class="row mb-3">
            <div class="col-12 col-lg-8">

              {{#form}}
              {{#choice}}
              {{> felles-komponenter-flervalg-generell }}
              {{/choice}}
              {{#text}}
              {{> felles-komponenter-tekst-input }}
              {{/text}}
              {{#email}}

              {{/email}}
              {{#phone}}

              {{/phone}}
              {{#password}}

              {{/password}}
              {{#radio}}
              {{> felles-komponenter-radioknapp-hjelpetekst }}
              {{/radio}}
              {{/form}}
            </div>
            {{# delete-btn }}
            <div class="col-lg-4">
              {{> felles-komponenter-knapp-ikon-tekst }}
            </div>
            {{/ delete-btn }}
          </div>

          <div>
            <button class="a-btn {{#green-button}}a-btn-success{{/green-button}}" {{# onclick }}
              onclick="{{{ onclick }}}" {{/ onclick }} data-enable-dirty-popover="true" data-toggle="altinn-modal"
              data-action="load" data-url="{{{ page-url }}}" data-target="#modal" data-is-success="true">
              {{{ btn-next }}}
            </button>
            {{#cancel}}<a class="ml-3" data-toggle="altinn-modal" data-action="close" data-target="#modal"
              href="{{url}}">{{label}}</a>{{/cancel}}
          </div>
          <div class="row mt-3">
            {{#links}}
            <div class="col-12 col-lg-6 mb-2">
              <h2 class="a-fontBold a-fontSizeXS mb-1">{{links-title}}</h2>
              <ul class="no-decoration">
                {{#links-list}}
                <li class="mb-1"><a href="{{url}}">{{label}}</a></li>
                {{/links-list}}
              </ul>
            </div>
            {{/links}}
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


{{> felles-komponenter-modal }}