<!-- START: 02-organismer-_71-modal-gruppering-02-modal-andre-med-rettigheter -->
{{# show-give-rights }} {{> organismer-delegering-tildel }} {{/ show-give-rights }} {{# show-gi-fjerne-roller }} {{> organismer-delegering-roller }} {{/ show-gi-fjerne-roller }} {{# show-missing-email }} {{> organismer-delegering-epost }} {{/ show-missing-email
}} {{# show-tjenesteoversikt }} {{> organismer-roller-tjenesteoversikt }} {{/ show-tjenesteoversikt }} {{# show-add-rightholder }} {{> organismer-delegering-legg-til }} {{/ show-add-rightholder}} {{# show-aktivitetslogg }} {{> organismer-delegering-aktivitetslogg
}} {{/ show-aktivitetslogg }} {{# show-local-role }} {{> organismer-egendefinert-rolle }} {{/ show-local-role }}
<!-- END: 02-organismer-_71-modal-gruppering-02-modal-andre-med-rettigheter -->