<div class="a-page" id="smoothState">

	{{> organismer-header }}

		{{> molekyler-jumbotron }}

		<div class="container" tabindex="-1">

		<div class="row m-t-4 m-b-3">
			<div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
				{{> atomer-sok:input-group-large }}
			</div>
		</div>

		<div class="row m-b-5">
			<div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
				<h2 class="a-textSize3">
					{{{ list-header }}}
				</h2>

				{{# list-last-used-forms }}
					{{> atomer-liste-nummerert }}
				{{/ list-last-used-forms }}
			</div>
		</div>

		<div class="row m-t-5 m-b-3" id="content">
			<div class="col-sm-6 col-lg-4 offset-lg-2">

				<figure class="a-mediaBlock">

					{{> atomer-placeholder }}

					<figcaption class="a-mediaBlock-caption">Informasjon om alt de offentlige krever av næringsdrivende finner du på

						{{> atomer-link(link-text: "bedin.no", link-icon: "<i class=\"material-icons a-link-external\">&#xE0B2;</i>")}}

					</figcaption>
				</figure>

			</div>

			<div class="col-sm-6 col-lg-4">
				<figure class="a-mediaBlock">

					{{> atomer-placeholder }}

					<figcaption class="a-mediaBlock-caption">Informasjon om alt de offentlige krever av deg som privatperson finner du på
						{{> atomer-link(link-text: "norge.no", link-icon: "<i class=\"material-icons a-link-external\">&#xE0B2;</i>")}}

					</figcaption>
				</figure>
			</div>
		</div>

		</div>

	<div class="container">
		{{> organismer-footer }}
	</div>

</div>
