<div class="page" id="{{page-id}}">
	<!-- Proxy content container, for inclusion in more than one place -->
	<div id="propagated-content-origin">
		<h2 class="a-paddingTop-x5">Forslag til deg:</h2>
		{{> atomer-itemlist-ordered }}
	</div>
	<style type="text/css">
		#a-js-suggestionList-mobile>h2 {
			padding-top: 0px
		}
	</style>

	{{> organismer-header }}

	<section id="{{section-id}}" class="container" tabindex="-1">

			<div class="row">
				<div class="col-sm-12 col-lg-6 col-lg-offset-3 a-paddingTop-x3 a-paddingBottom-x3">
					{{> atomer-search-large }}
				</div>
			</div>

			<div class="row hidden-lg-up">

					<div id="a-js-suggestionList-mobile" class="col-sm-12 a-marginBottom-x5 propagated-content-destination"></div>

			</div>

			<div class="row a-filter-container">
				<div class="col-sm-12 col-md-4">
					<span class="a-textSize2">
						<span class="din-bold">1287</span> skjemaer
					</span>
				</div>
				<div class="col-sm-12 col-md-8">
					<div class="a-filter">

					  <div class="a-btn-group" id="filterSkjema">

									{{> atomer-collapse-filter(collapse-filter-text: "Alle typer skjema", collapse-filter-id: "#filter-type") }}

									{{> atomer-collapse-filter(collapse-filter-text: "Alle etater", collapse-filter-id: "#filter-etat") }}

									{{> atomer-collapse-filter(collapse-filter-text: "Alle frister", collapse-filter-id: "#filter-frist") }}

					  </div><!-- /btn-group -->

					</div>

				</div>
			</div>

			<div class="row a-filter-container">

				<div id="filter-type" class="a-collapseContent collapse" role="tabpanel" aria-expanded="true">
					{{# filterType }}
						{{> atomer-checkbuttons }}
					{{/ filterType }}
				</div>

				<div id="filter-etat" class="a-collapseContent collapse" role="tabpanel" aria-expanded="true">
					{{# filterEtat }}
						{{> atomer-checkbuttons }}
					{{/ filterEtat }}
				</div>

				<div id="filter-frist" class="a-collapseContent collapse" role="tabpanel" aria-expanded="true">
					{{# filterFrist }}
						{{> atomer-checkbuttons }}
					{{/ filterFrist }}

				</div>

			</div>

			<div class="a-colnav-container">

				<div class="row">

						{{> molekyler-colnav }}

					<div id="a-js-suggestionList" class="col-sm-12 col-lg-6 col-lg-offset-1 hidden-md-down propagated-content-destination"></div>
				</div>

			</div>


		{{> organismer-footer }}

	</section>



</div>
