<div class="a-page" id="smoothState">
	{{> organismer-header }}

	{{# jumbotron }}
		{{> molekyler-jumbotron }}
	{{/ jumbotron }}

	<div class="container">

		<section id="hovedinnhold" class="container" tabindex="-1">

			<div class="row">
				<div class="col-sm-12 col-lg-10 col-lg-offset-1">

						Her kommer innholdet...
				</div>
			</div>

		</section>

		{{> organismer-footer }}

	</div> <!-- END Container -->

</div>
