<div class="page" id="{{page-id}}">
	{{> organismer-header }}
	<section id="{{section-id}}" class="container" tabindex="-1">
		<div class="row">
			<div class="col-sm-12 col-lg-6 col-lg-offset-3 a-paddingTop-x3 a-paddingBottom-x3">
				{{> atomer-sok-stor }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-lg-10 col-lg-offset-1 a-paddingTop-x3 a-paddingBottom-x3">
				<h1>{{{ header }}}</h1>
				<small>{{{ category }}}</small>
				<br /><br />
				{{> atomer-avsnitt(paragraph-content: "{{{ingress}}}") }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-lg-12 col-lg-offset-0 a-paddingTop-x0 a-paddingBottom-x3">
				{{> organismer-grupperte-kort }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-lg-10 col-lg-offset-1 a-paddingTop-x0 a-paddingBottom-x3">
				<h2>{{{ header-2 }}}</h2>
				{{> molekyler-trekkspill }}
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-sm-12 col-lg-10 col-lg-offset-1 a-paddingTop-x3 a-paddingBottom-x3">
				{{> atomer-liste-nummerert-sirkel }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-lg-12 col-lg-offset-0 a-paddingTop-x3 a-paddingBottom-x3">
				{{> molekyler-kort }}
			</div>
		</div> -->
		<div class="row">
			<div class="col-sm-6 col-lg-5 col-lg-offset-1 a-paddingTop-x3 a-paddingBottom-x3">
				<h2>{{{ header-3 }}}</h2>
				{{{ help }}} <a href="#" class="{{{ help-link-cls }}}">{{{ help-link-text }}}</a>{{{ help-link-icon }}}
			</div>
			<div class="col-sm-6 col-lg-5 col-lg-offset-0 a-paddingTop-x3 a-paddingBottom-x3">
				<h2>{{{ header-4 }}}</h2>
				<a href="{{{ help-tel-href }}}" class="a-btn a-btn-withIcon">
					<i class="material-icons a-btn-withIcon-icon">{{{ help-tel-icon }}}</i>
					{{{ help-tel-text }}}
				</a>
				<br />
				<a href="#" class="a-btn a-btn-withIcon">
					<i class="material-icons a-btn-withIcon-icon">{{{ help-mail-icon }}}</i>
					{{{ help-mail-text }}}
				</a>
			</div>
		</div>
		{{> organismer-footer }}
	</section>
</div>
