<div class="a-page" id="smoothState">
	{{> organismer-header }}

	<div class="container">

		<div class="row">
			<div class="col-sm-12 col-lg-6 offset-lg-3 a-paddingTop-x3 a-marginBottom-x5">
				{{> atomer-sok:input-group-large(search-label-id: "searchLarge-front", search-label: "Søk etter skjema og annet innhold")}}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 offset-sm-1">
				<h1 class="din-bold a-blueDarkerText a-paddingBottom-x2">Starte og drive bedrift</h1>
			</div>
		</div>

	</div>

	<div class="container-fluid">

				{{> molekyler-jumbotron }}

	</div>


	<div class="container">

		{{> molekyler-trekkspill-overskrifter }}

		{{> molekyler-kort-ikon:a-marginTop-x4 }}

		<div class="row">
			<div class="col-md-8 offset-md-2">
				{{> molekyler-bilde-innhold:a-marginTop-x4 }}
			</div>
		</div>

		{{> organismer-footer }}

	</div> <!-- END Container -->

</div>
