<div class="a-page" id="smoothState">
	{{> organismer-header }}

	<div class="container">

		<div class="row">
			<div class="col-sm-12 col-lg-6 offset-lg-3 a-paddingTop-x3 a-marginBottom-x5">
				{{> atomer-sok:input-group-large(search-label-id: "searchLarge-front", search-label: "Søk etter skjema og annet innhold")}}
			</div>
		</div>

		<section id="hovedinnhold" class="container" tabindex="-1">

			<div class="row">
				<div class="col-sm-12 col-lg-10 offset-lg-1 a-paddingBottom-x3">

					<!-- todo: Lag jumbotron molekyl, gjør den json-fleksibel -->
					<img src="../../images/header-bg4.svg" alt="" />

				</div>

			</div>

		</section>

		{{> organismer-footer }}

	</div> <!-- END Container -->

</div>
