<div class="a-page" id="smoothState">
	{{> organismer-header }}

	<div class="container">

		<div class="row">
			<div class="col-sm-12 col-lg-6 offset-lg-3 a-paddingTop-x3 a-marginBottom-x5">
				{{> atomer-sok:input-group-large(search-label-id: "searchLarge-front", search-label: "Søk etter skjema og annet innhold")}}
			</div>
		</div>

		<section id="hovedinnhold" tabindex="-1">

			<div class="row">
				<div class="col-sm-12 col-lg-10 offset-lg-1 a-paddingBottom-x3">

					{{# smulesti }}
						{{> molekyler-smulesti }}
					{{/ smulesti }}

					{{> atomer-sidetittel:a-blueDarkerText|a-paddingBottom-x2 }}

					{{# first-list }}
						{{> atomer-seksjonstittel:a-textSize3 }}
						{{> atomer-liste-unummerert:a-item-list-2col|clearfix|a-marginBottom-x3 }}
					{{/ first-list }}

					{{# second-list }}
						{{> atomer-seksjonstittel:a-textSize3 }}
						{{> atomer-liste-unummerert:a-item-list-2col|clearfix }}
					{{/ second-list }}


				</div>

			</div>

		</section>



		{{> organismer-footer }}

	</div> <!-- END Container -->

</div>
