<div class="a-page" id="smoothState">
	{{> organismer-header }}

	<div class="container" id="content" tabindex="-1">

		<div class="row">
			<div class="col-sm-12 col-lg-6 offset-lg-3 p-t-3 m-b-5">
				{{> atomer-sok:input-group-large(search-label-id: "searchLarge-front", search-label: "Søk etter skjema og annet innhold")}}
			</div>
		</div>

			<div class="row">
				<div class="col-sm-12 col-lg-10 offset-lg-1 p-b-3">

					{{# smulesti }}
						{{> molekyler-smulesti }}
					{{/ smulesti }}

					{{> atomer-sidetittel:a-blueDarkerText|p-b-4 }}

					{{# first-list }}
						{{> atomer-seksjonstittel:a-textSize3 }}
						{{> atomer-liste-unummerert:a-item-list-2col|clearfix|m-b-8 }}
					{{/ first-list }}

					{{# second-list }}
						{{> atomer-seksjonstittel:a-textSize3 }}
						{{> atomer-liste-unummerert:a-item-list-2col|clearfix|m-b-8 }}
					{{/ second-list }}

					{{# third-list }}
						{{> atomer-seksjonstittel:a-textSize3 }}
						{{> atomer-liste-unummerert:a-item-list-2col|clearfix|m-b-8 }}
					{{/ third-list }}

					{{# first-linkTitle }}
							{{> molekyler-lenketittel-med-forklaring }}
					{{/ first-linkTitle }}

					{{# second-linkTitle }}
							{{> molekyler-lenketittel-med-forklaring }}
					{{/ second-linkTitle }}

					{{# third-linkTitle }}
							{{> molekyler-lenketittel-med-forklaring }}
					{{/ third-linkTitle }}

					{{# fourth-linkTitle }}
							{{> molekyler-lenketittel-med-forklaring }}
					{{/ fourth-linkTitle }}

					{{# fifth-linkTitle }}
							{{> molekyler-lenketittel-med-forklaring }}
					{{/ fifth-linkTitle }}

					{{# fourth-list }}
						{{> atomer-seksjonstittel:a-textSize3 }}
						{{> atomer-liste-unummerert:a-item-list-2col|clearfix|m-b-8 }}
					{{/ fourth-list }}

				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-lg-12 p-b-3">
						{{> molekyler-kort-ikon:m-t-4 }}
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3">
					{{> molekyler-bilde-innhold:m-t-4 }}
				</div>
			</div>



		{{> organismer-footer }}

	</div> <!-- END Container -->

</div>
