<!-- START: 00-atomer-02-lenker-_01-♺-link-sidebytte -->
{{> atomer-link(link-text: "Lenke som står i løpende tekst og sender deg til en annen side på Altinn", link-icon: "<i class=\"fa fa-arrowright a-link-arrow\">&#x2192;</i>")}}

<!-- END: 00-atomer-02-lenker-_01-♺-link-sidebytte -->
