<ol class="breadcrumb a-breadcrumb {{ styleModifier }}">
  <li class="breadcrumb-item"><a class="a-link" href="#">Forsiden</a></li>
  <li class="breadcrumb-item"><a class="a-link" href="#">Andre nivå</a></li>
  <li class="breadcrumb-item"><a class="a-link" href="#">Tredje nivå</a></li>
  <li class="breadcrumb-item active">Fjerde nivå som er siden du står på</li>
</ol>
