<!-- START: 01-molekyler-02-navigasjon-14-smulesti -->
<ol class="breadcrumb a-breadcrumb {{ styleModifier }}">
  {{# breadcrumb-item }}
  <li class="breadcrumb-item {{{ breadcrumb-class }}}">
    <a href="{{{ breadcrumb-link }}}{{{breadcrumb-link-position}}}">{{{ breadcrumb-title }}}</a>
  </li>
  {{/ breadcrumb-item }}
</ol>

<!-- END: 01-molekyler-02-navigasjon-14-smulesti -->