<!-- START: 03-maler-altinnett-80-produktsider-20-produktpakke -->
<div class="a-page">
  {{# header }} {{> organismer-header-altinnett }} {{/ header }} {{# presentationBlock }} {{> molekyler-altinnett-presentasjonsblokk-bred }} {{/ presentationBlock }}

  <div class="container">
    <div class="col-sm-12 col-lg-10 offset-lg-1">
      {{> molekyler-smulesti }}
    </div>
    <div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg pt-2 pt-lg-3 mb-6">
      {{> atomer-undertittel }} {{> atomer-avsnitt }} {{> atomer-undertittel }} {{> atomer-avsnitt }} {{> atomer-undertittel }} {{> atomer-avsnitt }}
    </div>
  </div>

  <div class="a-bgGreyLighter pt-4 pb-4 mb-6">
    <div class="container">
      <h2>Placeholder for slideshow module</h2>
    </div>
  </div>

  <div class="container">
    {{# case }}
    <div class="col-12 mb-6">
      {{> molekyler-jumbotron }}
    </div>
    {{/ case }} {{# accordion }}
    <div class="col-sm-12 col-lg-8 offset-lg-2 mb-6">
      {{> molekyler-trekkspill-overskrifter }}
    </div>
    {{/accordion}} {{# kontaktkort }}
    <div class="col-12 mb-6">
      {{> molekyler-altinnett-kontaktkort }}
    </div>
    {{/ kontaktkort }}
  </div>

  {{# footer }} {{> organismer-footer-altinnett }} {{/ footer }}
</div>
<!-- END: 03-maler-altinnett-80-produktsider-20-produktpakke -->