<div class="a-iconText a-iconText-smallLink {{ variation-class }} {{ styleModifier }}">
  <div class="a-iconText-icon">
    {{# hasIcon }}{{> felles-komponenter-ikon }}{{/ hasIcon }}
    {{# hasDate }}{{> felles-komponenter-dato }}{{/ hasDate }}
  </div>
  <div class="a-iconText-text">
    {{> felles-komponenter-sidetittel }}
    {{# hasTextSmall }} {{> felles-komponenter-byline }} {{/ hasTextSmall }}
  </div>
</div>
