<div class="sg-top">
	<div class="container">
		<div class="row">
	    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
				<h1><span class="a-h4">PATTERN LAB</span><br>Levende designsystem og prototypeverktøy for Altinns webløsninger </h1>
				<p class="a-leadText">Designsystemet er laget med Pattern Lab, basert på atomisk designmetodikk. Vi bruker dette systemet til å opprettholde frontend-kode og visuell konsistens på tvers av løsningene. Målet er å skape et felles sted for UI-mønstre og stilsett, som etterhvert skal benyttes av alle løsningene til Altinn.</p>

				<div class="a-btn-group a-btn-group-exLinks">
					<a href="http://altinn-dev.dev.bouvet.no/en/profil/introduksjon/">Les mer om designsystemet</a>

					<a href="http://altinn.github.io/DesignSystem/patterns/04-sider-01-forside-00-forside/04-sider-01-forside-00-forside.html">
					    Åpne prototype
					</a>


				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
			  <span class="sg-atom hidden-md-down"></span>
		  </div>
		</div>
	</div>
</div>
<div class="sg-statesExplanation">
	<div class="container">

		<div class="sg-pattern-state specification">
			<span class="sg-pattern-state-specification">UNDER SPESIFISERING (specification)</span> - komponenten er under spesifisering. <br />
		</div>
		<div class="sg-pattern-state inprogress">
			<span class="sg-pattern-state-inprogress">ARBEID PÅGÅR (inprogress)</span> - komponenten er under utvikling, og blir jobbet på for øyeblikket. <br />
		</div>
		<div class="sg-pattern-state intechnicalreview">
			<span class="sg-pattern-state-intechnicalreview">TIL TEKNISK REVIEW  (intechnicalreview)</span> - komponenten er klar for teknisk gjennomgang/diskusjon, og venter på godkjenning. <br />
		</div>
		<div class="sg-pattern-state indesignreview">
				<span class="sg-pattern-state-indesignreview">TIL DESIGN REVIEW (indesignreview)</span> - komponenten er klar for design gjennomgang/diskusjon, og venter på godkjenning. <br />
		</div>
		<div class="sg-pattern-state complete">
			<span class="sg-pattern-state-complete">FERDIG (complete)</span> - komponenten anses som ferdig og klar for bruk.<br />
		</div>
		<div class="sg-pattern-state needsrevalidation">
				<span class="sg-pattern-state-needsrevalidation">MÅ REVALIDERES (needsrevalidation)</span> - det er gjort endringer i rammeverk / platform som gjør at denne komponenten må revalideres. <br />
		</div>
		<div class="sg-pattern-state archived">
			<span class="sg-pattern-state-archived">ARKIVERT</span> - komponenten er arkivert og blir ikke vedlikeholdt for øyeblikket.

	    <div class="form-check a-form-checkboxes d-inline pl-1">
					<label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input a-sg-js-toggleArchived">
						<span class="custom-control-indicator"></span>
						<p>Vis arkiverte komponenter</p>
					</label>
	    </div>
		</div>
		<br />
		<span class="sg-pattern-variations">
			<span class="sg-pattern-state-variations">♺</span> VARIASJONER - En variasjon av en annen komponent
			<a href="javascript:;" aria-label="info" tabindex="0" class="a-helpIconButton" role="button" data-toggle="popover" data-template='<div class="popover " role="tooltip"><div class="popover-arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>' data-target="#myPopup3" data-placement="bottom" data-trigger="focus" title="Variasjoner" data-content="Variasjonskomponentene har samme HTML-struktur som sin hovedkomponent, men viser ulike variasjoner av stilsetting man kan oppnå ved å benytte ulike CSS-klasser etc.">
				<i class="tmp tmp-help"></i><span class="sr-only">Vis mer info om variasjonskomponentene</span>
			</a>
		</span>
	</div>
</div>
<div class="container clearfix">
  <!-- View All Patterns in a Pattern Sub-Type -->
  <div class="sg-main" role="main">
    <!-- Patterns -->
    <div id="sg-patterns" class="clearfix">
			{{# partials }}
	      {{# patternSectionSubtype }}
	        {{> patternSectionSubtype }}
	      {{/ patternSectionSubtype }}
	      {{^ patternSectionSubtype }}
	        {{> patternSection }}
	      {{/ patternSectionSubtype }}
	    {{/ partials }}
    </div> <!--end #sg-patterns-->
  </div> <!--end .sg-main-->
</div> <!--end .container-->
