<!-- START: 02-organismer-70-Modal-innhold-_96-klientdelegering-gi-rettigheter JS doc: addRightsTableHandler.js -->
<div class="modal-body a-modal-body">
  <div class="row">
    <div class="col-8">
      {{# person-role }} {{> molekyler-person-rolle }} {{/ person-role }}
    </div>
    <div class="col pt-1 hidden-sm-down">
      {{# cancel-link }} {{> atomer-knapp-link-fare:a-link-modalTop }} {{/ cancel-link }} {{# popover-link }} {{> atomer-knapp-med-popover }} {{/ popover-link }}
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-12 col-lg-6 mt-4 mb-1">
      {{> atomer-tekst-input }}
    </div>
  </div>
  <div role="tablist" id="allClientsTable">
    <div role="tab">
      {{# existing-clients-title }}
      <div class="mt-1 mb-1">
        {{> atomer-ekspanderbar-tittel }}
      </div>
      {{/ existing-clients-title }} {{# existing-clients-table }}
      <div class="a-full-width">
        <div id="{{ collapse-header-contentID }}" class="a-collapseContent collapse show" role="tabpanel" aria-expanded="{{ aria-expanded }}">
          {{> molekyler-liste-unummerert }}
        </div>
      </div>
      {{/ existing-clients-table }}
    </div>
    <div role="tab">
      {{# new-clients-title }}
      <div class="pt-3 mb-1">
        {{> atomer-ekspanderbar-tittel }}
      </div>
      {{/ new-clients-title }} {{# new-clients-table }}
      <div class="a-full-width">
        <div id="{{ collapse-header-contentID }}" class="a-collapseContent collapse show" role="tabpanel" aria-expanded="{{ aria-expanded }}">
          {{> molekyler-liste-unummerert }}
        </div>
      </div>
      {{/ new-clients-table }}
    </div>
  </div>
</div>
<!-- END: 02-organismer-70-Modal-innhold-_96-klientdelegering-gi-rettigheter -->