<!-- Modal -->
<span class="a-scene a-page">
  <div class="a-modal {{ bodyClass }}" id="{{ modal-id }}" role="dialog" aria-labelledby="{{ modal-label }}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- Modal Header -->
              {{> molekyler-modal-header }}
            <!-- END Modal Header -->

          </div>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1">

            <!-- Modal NavBar -->
            {{# modalprosess-navbar }}
              {{> molekyler-modal-navbar }}
            {{/ modalprosess-navbar }}
            <!-- END Modal NavBar -->
          </div>
        </div>

        <div class="row">
          <div class="col-xl-10 offset-xl-1">

            <!-- Modal window -->
            <span class="a-right-panel a-page a-scene_element {{ animationClass }}">

              <div class="modal-content">

                <!-- Modal Body header -->
                {{> molekyler-modal-body-header }}

                <!-- Modal Body content -->
                <div class="modal-body a-modal-body a-text">
                  <p> {{{ modal-content }}}</p>
                  <div class="a-btn-group">
                    {{# modal-nextbutton }}
                      {{> atomer-link }}
                    {{/ modal-nextbutton }}

                    {{# modal-successbutton }}
                      {{> atomer-link }}
                    {{/ modal-successbutton }}

                    {{# modal-startover }}
                      {{> atomer-link }}
                    {{/ modal-startover }}

                    {{# modal-errorbutton }}
                      {{> atomer-link }}
                    {{/ modal-errorbutton }}

                    {{# modal-discard }}
                      {{> atomer-link }}
                    {{/ modal-discard }}
                  </div>
                </div><!-- END Modal body -->
              </div><!-- END Modal window -->
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</span>
