<div class="row">
	<div class="col-xs-8">
			{{> molekyler-person-rolle }}
	</div>
	<div class="col-xs pt-1">
      {{> atomer-knapp-link-fare }}
	</div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-5 mt-4">
    {{> atomer-undertittel }}
  </div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-12 col-lg-5 mb-1">
		{{> atomer-sok-tema }}
	</div>
</div>
{{# expandable-lists }}
  <div class="mt-1 mb-2">
    {{> molekyler-ekspanderbar-liste }}
  </div>
{{/ expandable-lists }}
