<div class="row">
  <div class="col-xs-12">
    {{# delegation-header-text }}
      {{> molekyler-ikon-tekst:a-iconText--noMinHeight }}
    {{/ delegation-header-text }}
    <div class="a-full-width">
      <hr class="mb-2 mt-3">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 mb-1">
    <h2 class="mb-0">
      {{ delegation-sub-header-text }}
    </h2>
    {{# delegation-sub-header-text-secondary }}
      <span>
        {{ delegation-sub-header-text-secondary }}
      </span>
    {{/ delegation-sub-header-text-secondary }}
  </div>
  {{# delegation-has }}
    <div class="col-xs-12 mb-1">
      {{# delegation-has-text }}
        <span class="pr-1">
          {{ delegation-has-text }}
        </span>
      {{/ delegation-has-text }}
      {{> atomer-valgknapp }}
    </div>
  {{/ delegation-has }}
  {{# delegation-needs }}
    <div class="col-xs-12 mb-1">
      {{# delegation-needs-text }}
        <span class="pr-1">
          {{ delegation-needs-text }}
        </span>
      {{/ delegation-needs-text }}
      {{> atomer-valgknapp }}
      {{# has-popover-link }}
        {{> atomer-link-med-stor-popover-ikon }}
      {{/ has-popover-link }}
    </div>
  {{/ delegation-needs }}
  {{# delegation-message }}
    <div class="col-xs-12 mb-2">
	    {{> atomer-varsel}}
    </div>
  {{/ delegation-message }}
  <div class="col-xs-12">
    {{# delegation-submit }}
      <div class="row">
        <div class="col-xl-12">
          {{> atomer-knapp:mb-0 }}
        </div>
      </div>
    {{/ delegation-submit }}
    {{# delegation-alternative-link }}
      <div class="row">
        <div class="col-xl-12 mt-2">
          {{> atomer-link }}
        </div>
      </div>
    {{/ delegation-alternative-link }}
  </div>
</div>