<div class="row">
  <div class="col-xs-12">
    {{# delegation-email-header-text }}
      {{> molekyler-ikon-tekst:a-iconText--noMinHeight }} 
    {{/ delegation-email-header-text }}
    <div class="a-full-width">
      <hr class="m-b-2 m-t-2">
    </div>
  </div>
  <div class="col-xs-12 m-b-2 din-bold">
    {{{ delegation-email-text }}}
  </div>
</div>
{{# delegation-email-field }}
  <div class="row">
    <div class="col-xs-12 col-md-8 col-xl-6 m-b-1">
      {{> atomer-tekst-input }}
    </div>
  </div>
{{/ delegation-email-field }}
{{# delegation-email-submit }}
  <div class="row">
    <div class="col-xl-12">
      {{> atomer-knapp:m-b-0 }}
    </div>
  </div>
{{/ delegation-email-submit }}