<!-- START: 00-atomer-01-forms-_71-fileupload-klientdelegering JS doc: fileInputHandler.js -->
<label class="{{ custom-fileupload-class }}">
  <input {{# required }} required {{/ required }} class="{{# file-list }}a-js-fileInputChangeHandler {{/ file-list }}sr-only" type="file" id="{{ custom-fileupload-input-id }}">
  {{# file-upload-icon }}
    {{> atomer-ikon }}
  {{/ file-upload-icon}}
  {{ custom-fileupload-text }}
</label> {{# file-list }}
<div style="display: none" class="a-js-fileListContainer">
  {{> atomer-liste-opplasting }}
</div>
{{/ file-list }}

<!-- END: 00-atomer-01-forms-_71-fileupload-klientdelegering -->