<div class="a-page">
  {{# header }}
    {{> organismer-header-altinnett }}
  {{/ header }}

  <div class="container">
    {{# promoted-products }}
      {{> organismer-altinnett-produkt-presentasjon }}
    {{/ promoted-products }}

    <div class="row mb-6">
      {{# products }}
        {{> molekyler-altinnett-presentasjonsblokk-horisontal }}
      {{/ products }}
    </div>

    <div class="row mb-6">
      {{# make-your-own-product }}
          {{> molekyler-altinnett-presentasjonsblokk-horisontal }}
      {{/ make-your-own-product }}
    </div>

  </div>

  {{# footer }}
    {{> organismer-footer-altinnett }}
  {{/ footer }}
</div>
