@import "../bootstrap/bootstrap.less";

#footer {
    background-color: #333331;
    color: #fff;
    padding-top: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;

    @media(max-width: @screen-xs-max) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @media(min-width: @screen-sm-min) {
        footer {
            height: 100%;
            padding-left: 15px;
            padding-right: 25px;
        }
    }
}

#footer a {
    color: #fff;
}

.footer-logo {
    height: 17px;
    width: 114px;
}

.xs-contact-info {
    width: 180px;
}

.footer-links > ul {
    list-style: none;
    padding-left: 0;

    li {

        @media(min-width: @screen-sm-min) {
            border-right: 1px solid white;
            display: inline-block;
            float: right;
            padding-left: 1em;
            padding-right: 1em;
            line-height: 1.2;
        }

        @media(max-width: @screen-xs-max) {
            a {
                border-bottom: 2px rgb(129,127,125) solid;
                padding-bottom: 3px;
            }

            a:hover, a:active, a:visited, a:focus {
                text-decoration: none;
            }
            margin-bottom: 10px;
        }
    }

    li:first-child {
      padding-right: 0;
      border-right: 0;
    }
}

#footerFollowSmall li {
    padding-right: 0;
}

.footer-grey-text {
     color:rgb(207,203,199);
}

.footer-phone-icon {
    background: url('/ui/Content/img/telefonContact-15x18.png') no-repeat left;
    padding-left: 25px;
    padding-right: 0;
    padding-bottom: 4px;
}

.footer-contact-icon {
    background: url('/ui/Content/img/ContactUS_Pen-22x20.png') no-repeat left bottom;
    padding-left: 25px;
    padding-right: 35px;
    padding-bottom: 4px;
}

#footerFollowLarge {
    position: absolute;
    bottom: 0;
    right: 25px;

    @media(min-width: @screen-sm-min) {
        ul {
            li {
                margin: 0;
                padding: 0;
                padding-left: 4px;
                padding-right: 5px;
                float: left;
            }

            margin-bottom: 0;
        }
    }
}