@primaryblack: rgb(0,0,0);

@primaryprivate: rgb(255,165,6);
@primaryprivatelight: rgb(252,237,200);

@primaryprofessional: rgb(30,174,247);
@primaryprofessionallight: rgb(215,234,244);

@primarynegative: rgb(226,59,83);
@primarynegativelight: rgb(249,202,211);

@primarypositive: rgb(23,201,107);
@primarypositivelight: rgb(212,249,228);

@primarybackground: #fff;

@base-padding-smaller: 12px;
@base-padding-large: 15px;

@background-color: rgb(207,240,255);
@header-color: rgb(231,248,255);

@background-color-private: rgb(239,239,239);
@header-color-private: rgba(255,255,255, .5);

@expanded-header-img-color: rgb(239,239,239);
@dimmed-header-img-color: #fff;

/* New Portal */
@altinn_menublue: rgb(0,98,186);
@altinn_linkblue: rgb(30,174,247);
@altinn_linkblue-dimmed: rgba(30,174,247, 0.2);
@altinn_linkblue-faded: rgba(30,174,247, 0.4);
@altinn_bussiness_bg: rgb(207,240,255);

@altinn_green: rgb(23,201,107);
@altinn_green-dimmed: rgba(23,201,107, 0.2);
@altinn_green_bg: rgb(212,249,228);

@altinn_alert: rgb(226,59,83);
@altinn_alert_bg: rgb(249,202,211);

@altinn_black: rgb(0,0,0);
@altinn_disabledgrey: rgb(106,106,106);
@altinn_private_bg: rgb(239,239,239);

@altinn_purple: rgb(63,49,97);
@altinn_purple_bg: rgb(224,218,247);

@altinn_popover: rgb(255, 255, 187);

/* Header text sizes */
@h1-size-lg: 48px;
@h1-size-md: 36px;
@h1-size-sm: 28px;
@h1-size-xs: 24px;
@h1-lineheight-lg: 48px;
@h1-lineheight-md: 36px;
@h1-lineheight-sm: 36px;
@h1-lineheight-xs: 24px;

@h2-size-lg: 28px;
@h2-size-md: 24px;
@h2-size-sm: 22px;
@h2-size-xs: 18px;
@h2-lineheight-lg: 36px;
@h2-lineheight-md: 24px;
@h2-lineheight-sm: 24px;
@h2-lineheight-xs: 24px;

@h3-size-lg: 20px;
@h3-size-md: 20px;
@h3-size-sm: 18px;
@h3-size-xs: 16px;
@h3-lineheight-lg: 24px;
@h3-lineheight-md: 24px;
@h3-lineheight-sm: 24px;
@h3-lineheight-xs: 24px;

/* General font sizes (for global use) */
@font-size-sm: 14px;
@font-size-md: 16px;
@font-size-lg: 18px;

/* Accordion image sizes */
@header-img-size-lg: 90px;
@header-img-size-md: 72px;
@header-img-size-sm: 48px;
@header-img-size-xs: 48px;

/* Transitions */
@altinn-ease-out: cubic-bezier(0.3, 1, 0.5, 1);
@altinn-ease: cubic-bezier(0.7, 0, 0.3, 1);
@altinn-ease-in: cubic-bezier(0.5, 0, 0.7, 0);


