<!-- START: 02-organismer-70-Modal-innhold-_93-delegering-roller -->
<div {{# isModal }} class="modal-body a-modal-body" {{/ isModal }}>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-7">
      {{# person-rolle }} {{> molekyler-person-rolle }} {{/ person-rolle }}
    </div>

    {{# showButton }}
    <div class="col-12 col-md pt-1">
      {{> atomer-knapp-link-fare }}
    </div>
    {{/ showButton }}
  </div>
  {{# search-rights }}
  <div class="row">
    <div class="col-12 col-lg-6 mt-4">
      <div class="a-textSizeS a-fontBold{{# isInactive }} a-dimText3{{/ isInactive }}">
        {{ search-title }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 mb-1">
      {{> atomer-tekst-input }}
    </div>
  </div>
  {{/ search-rights }} {{# expandable-list }}
  <div class="row">
    <div class="col-12">
      <div class="mt-1 mb-2">
        {{> molekyler-ekspanderbar-liste }}
      </div>
    </div>
  </div>
  {{/ expandable-list }} {{# has-links }}
  <div class="row">
    <div class="col mt-1">
      {{# link-done }} {{> atomer-link }} {{/ link-done }}
    </div>
  </div>
  {{/ has-links }}
</div>
<!-- END: 02-organismer-70-Modal-innhold-_93-delegering-roller -->