<!-- START: 02-organismer-80-Modal-js-innhold-10-kontaktskjema -->
<div class="modal-content">
  <div class="modal-header a-modal-header">
    <div class="a-iconText a-iconText-background a-iconText-large">
      <div class="a-iconText-icon">
        <i class="ai ai-send
                 a-icon" aria-hidden="true"></i>
      </div>
      <h1 class="a-iconText-text mb-0">
        <span class="a-iconText-text-small"></span>
        <span class="a-iconText-text-large">Kontaktskjema</span>
      </h1>
    </div>
  </div>
  <div class="modal-body a-modal-body">
    <p>For at vi skal kunne hjelpe deg så fort som mulig er det viktig at du oppgir tilstrekkelig med informasjon om problemstillingen din. Haster det, ta kontakt per telefon 75 00 60 00.</p>
    <h2 class="a-h3">Hva kan vi hjelpe deg med?</h2>
    <ul class="nav nav-tabs custom-radio a-radioButtons a-navTabsRadio" role="tablist">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#home" role="tab">
            <span class="custom-control-indicator"></span>
            Starte og drive bedrift
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
            <span class="custom-control-indicator"></span>
            Hvordan bruke Altinn
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
            <span class="custom-control-indicator"></span>
            Innhold i skjema og meldinger
          </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="home" role="tabpanel">
        <h3 class="a-h2">Spør oss om å starte og drive bedrift</h3>
        <form data-toggle="validator" id="contactForm">
          <div class="row">
            <div class="col-12 col-sm-8">
              {{# navn }} {{> atomer-tekst-input:mb-2 }} {{/ navn }} {{# epost }} {{> atomer-tekst-input:mb-2 }} {{/ epost }} {{# epost2 }} {{> atomer-tekst-input:mb-2 }} {{/ epost2 }} {{# telefon }} {{> atomer-tekst-input:mb-2 }} {{/ telefon }} {{# emne }} {{> atomer-tekst-input:mb-2
              }} {{/ emne }} {{# question }} {{> atomer-tekstfelt:mb-2 }} {{/ question }} {{# submit }} {{> atomer-knapp:mb-2 }} {{/ submit }}
            </div>
          </div>
        </form>
      </div>

      <div class="tab-pane" id="profile" role="tabpanel">
        {{#form2}}
        <h3 class="a-h2">Spør oss om hvordan bruke Altinn</h3>
        <form data-toggle="validator" id="contactForm2">
          <div class="row">
            <div class="col-12 col-sm-8">
              {{#navn}} {{> atomer-tekst-input:mb-2 }} {{/navn}} {{#epost}} {{> atomer-tekst-input:mb-2 }} {{/epost}} {{#epost2}} {{> atomer-tekst-input:mb-2 }} {{/epost2}} {{#telefon}} {{> atomer-tekst-input:mb-2 }} {{/telefon}} {{#emne}} {{> atomer-tekst-input:mb-2
              }} {{/emne}} {{#question}} {{> atomer-tekstfelt:mb-2 }} {{/question}} {{#attachment}} {{> molekyler-last-opp-og-fjern }} {{/attachment}} {{#submit}} {{> atomer-knapp:mb-2 }} {{/submit}}
            </div>
          </div>
        </form>
        {{/form2}}
      </div>
      <div class="tab-pane" id="messages" role="tabpanel">
        <h3 class="a-h2">Spør oss om innhold i skjema og meldinger</h3>
        <p>Spørsmål om innholdet i skjema og meldinger må stilles til etaten/kommunen som eier skjemaet eller har sendt deg meldingen. Du finner kontaktinformasjon til de ulike skjemaeierne under <a href="{{link.sider-infoportal-kolonnenavigasjon-v-skjemaoversikt}}">Alle skjema</a></p>
      </div>
    </div>
  </div>
</div>

<!-- END: 02-organismer-80-Modal-js-innhold-10-kontaktskjema -->