<!-- START: 02-organismer-_71-modal-gruppering-01-modal-klientdelegering -->
{{# show-remove-rights }} {{> organismer-klientdelegering-fjern-rettigheter }} {{/ show-remove-rights }} {{# show-success-receipt }} {{> organismer-klientdelegering-ferdig }} {{/ show-success-receipt }} {{# show-add-employee }} {{> organismer-delegering-legg-til
}} {{/ show-add-employee }} {{# show-add-rights }} {{> organismer-klientdelegering-gi-rettigheter }} {{/ show-add-rights}} {{# show-file-delegation }} {{> organismer-klientdelegering-pa-fil }} {{/ show-file-delegation }}
<!-- END: 02-organismer-_71-modal-gruppering-01-modal-klientdelegering -->