<!-- START: 00-atomer-09-bilder-og-media-15-ikon -->
{{# stacked-background }}
<span class="{{ icon-prefix }}-stack{{# stacked-container-class }} {{ stacked-container-class }}{{/ stacked-container-class }}">
    <i class="{{ icon-prefix }} {{ icon-prefix }}-stack-1x {{ icon-class }}"></i>
{{/ stacked-background }}
{{# popovericon-container }}
  <span class="{{# popovericon-container-class }} {{ popovericon-container-class }}{{/ popovericon-container-class }}">
{{/ popovericon-container }}
<i class="{{# stacked-background }}{{ icon-prefix }}-stack-1x {{/ stacked-background }}{{ icon-prefix }} {{ icon-class }} {{ icon-size }} {{ icon-extra-class }} {{ styleModifier }}" {{# aria-hidden }}aria-hidden="true"{{/ aria-hidden }} {{# icon-id}} id="{{{ icon-id }}}" {{/ icon-id }} {{# icon-title }}title="{{{ icon-title }}}" {{/ icon-title }} >{{{ icon-text }}}</i>
{{# stacked-background }}
  </span> {{/ stacked-background }} {{# popovericon-container }}
</span>
{{/ popovericon-container }} {{# icon-sr-only-text }}
<span class="sr-only" {{# sr-aria-hidden }} aria-hidden="true" {{/ sr-aria-hidden }}>{{ icon-sr-only-text }}</span> {{/ icon-sr-only-text }} {{# icon-post-text }}{{{ icon-post-text}}}{{/ icon-post-text }}

<!-- END: 00-atomer-09-bilder-og-media-15-ikon -->