<!-- <div class="alert alert-{{ alertClass }}">
  {{ excerpt.short }}
</div> -->

<div class="a-panel">

	{{#alert-items}}
	<div id="{{alert-id}}" class="a-message {{alert-class}}">
		{{alert-content}}
	</div>
	<br><br><br>
	{{/alert-items}}

</div>
