{{# alert-items }}
  {{# use-row }}
    <div class="row{{# row-extra-class}} {{ row-extra-class}}{{/ row-extra-class}}">
  {{/ use-row }}
    {{# alert-header }}
      <div class="{{ classes }}">
        {{{ text }}}
      </div>
    {{/ alert-header }}

    {{# alert-text }}
      {{# classes }} <span class="{{ classes }}"> {{/ classes }}
      {{{ text }}}
      {{# classes }} </span> {{/ classes }}
      {{# text-extra }}
        <span class="{{ classes }}">{{{ text-extra }}}</span>
      {{/ text-extra }}
    {{/ alert-text }}

    {{# alert-icon }}
      {{> felles-komponenter-ikon }}
    {{/ alert-icon }}

    {{# alert-link }}
      {{> felles-komponenter-link }}
    {{/ alert-link }}

    {{# alert-checkbuttons }}
        {{> felles-komponenter-valgknapp }}
    {{/ alert-checkbuttons }}

    {{# alert-bottom-button-row }}
        {{# buttons }}
          {{> felles-komponenter-knapp-med-popover }}
        {{/ buttons }}
    {{/ alert-bottom-button-row }}

    {{# alert-edit-button }}
      <div class="row d-flex flex-row-reverse">
        <div class="{{ classes }}">
          {{> felles-komponenter-knapp-ikon-tekst }}
        </div>
      </div>
    {{/ alert-edit-button }}
  {{# use-row }}
    </div>
  {{/ use-row }}
{{/ alert-items }}