<!-- START: 01-molekyler-03-media-03-bilde-innhold -->
<div class="a-card a-card-image transparent {{ styleModifier }}">
  {{# card-picture-content }} {{# image }} {{> atomer-placeholder}} {{/ image }}

  <div class="a-card-image-text">
    <div class="a-h2">{{ card-picture-title }}</div>
    <p>{{ card-picture-description }}</p>

    {{# tel }} {{> atomer-link-telefonnummer }} {{/ tel }} {{# mail }} {{> atomer-link-mail:pl-1 }} {{/ mail }} {{# linkIcon }} {{> atomer-link-ikon:pl-1 }} {{/ linkIcon }}

  </div>

  {{/ card-picture-content }}
</div>

<!-- END: 01-molekyler-03-media-03-bilde-innhold -->