<!-- START: 02-organismer-81-Dashboard-modaler-meldinger-23-tilganger-rest-sluttbruker-2 -->
<div class="modal-content">
  <div class="modal-header a-modal-header">
    <div class="a-iconText a-iconText-background a-iconText-large">
      <div class="a-iconText-icon">
        <i class="ai ai-send
                a-icon" aria-hidden="true"></i>
      </div>
      <h1 class="a-iconText-text mb-0">
        <span class="a-iconText-text-small"></span>
        <span class="a-iconText-text-large">{{ modal-title }}</span>
      </h1>
    </div>
  </div>
  <div class="modal-body a-modal-body">

    <form data-toggle="validator" id="contactForm">

      {{# description }}
        {{> atomer-tekstfelt:mb-2 }}
        {{/ description }}

        {{# administration }}
          {{> atomer-tekstfelt:mb-2 }}
          {{/ administration }}

          {{# producer }}
            {{> atomer-tekst-input:mb-2 }}
            {{/ producer }}

            {{# contact }}
              {{> organismer-dashboard-kontaktinfo:mb-4 }}
              {{/ contact }}

              {{# terms }}
                {{> atomer-avkrysningsboks:mb-2 }}
                {{/ terms }}

                {{# submit }}
                  {{> atomer-knapp:mb-2 }}
                  {{/ submit }}

    </form>
  </div>
</div>

<!-- END: 02-organismer-81-Dashboard-modaler-meldinger-23-tilganger-rest-sluttbruker-2 -->