<div class="modal-content">
    <div class="modal-header a-modal-header">
        <div class="a-iconText a-iconText-background a-iconText-large">
            <div class="a-iconText-icon">
                <i class="ai ai-send a-icon" aria-hidden="true"></i>
            </div>
            <h1 class="a-iconText-text mb-0">
                 {{# small-modal-title }}<span class="a-iconText-text-small">{{ small-modal-title }}</span>{{/ small-modal-title }}
                <span class="a-iconText-text-large">Bestill produksjonssetting av tjeneste</span>
            </h1>
        </div>
    </div>
    <div class="modal-body a-modal-body">

      {{# form }}
        <form data-toggle="validator" id="contactForm">
          <div class="row">
            <div class="col-12">

              {{# navn}}
                {{> felles-komponenter-tekst-input:mb-2 }}
              {{/ navn}}

            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">

              {{# tjenestekode }}
                {{> felles-komponenter-tekst-input:mb-2 }}
              {{/ tjenestekode }}

            </div>
            <div class="col-12 col-md-6">

              {{# utgavekode }}
                {{> felles-komponenter-tekst-input:mb-2 }}
              {{/ utgavekode }}

            </div>
          </div>

          <div class="row">
            <div class="col-12">
              {{# migreringspakke}}
                {{> felles-komponenter-tekst-input:mb-2 }}
              {{/ migreringspakke}}
            </div>

            <div class="col-12">
              <div class="form-group a-form-group">
                {{# dato-produksjon }}
                  {{> felles-komponenter-dato-og-tid }}
                {{/ dato-produksjon }}
              </div>
            </div>

            <div class="col-12">
              <div class="form-group a-form-group mb-1">
                  {{# dato-publisering }}
                    {{> felles-komponenter-dato-og-tid }}
                  {{/ dato-publisering }}
              </div>
            </div>

            <div class="col-12">
              {{# kommentar }}
                {{> felles-komponenter-tekstfelt:mb-2 }}
              {{/ kommentar }}
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-12 d-flex align-items-baseline">
              <div>
                {{# registrer }}
                  {{> felles-komponenter-knapp }}
                {{/ registrer }}
              </div>
              <div class="ml-2">
                {{# avbryt }}
                  {{> felles-komponenter-link }}
                {{/ avbryt }}
              </div>
          </div>
        </div>

        </form>
      {{/ form }} 
</div>
