<!-- START: 00-atomer-08-lister-20-liste-opplasting -->
<ul class="a-item-list-icon {{ styleModifier }}">
  {{# item-list }}
    <div class="a-dotted-line-top"></div>
    <li class="{{ item-list-class }}"
      {{# icon-onclick }} onClick="{{{ icon-onclick }}}" {{/ icon-onclick }}
      role="button" aria-label="{{{ list-item-aria-label }}}"
    >
      <span class="a-js-listItemText">
        {{{ list-item-text }}}
      </span>
      {{> atomer-ikon }}
    </li>
  {{/ item-list }}
</ul>
<!-- END: 00-atomer-08-lister-20-liste-opplasting -->
