<!-- START: 00-atomer-08-lister-20-liste-opplasting -->
<ul class="a-item-list-icon {{ styleModifier }}">
  {{# item-list }}
    <li class="{{ item-list-class }}"
      {{# icon-onclick }} onClick="{{{ icon-onclick }}}" {{/ icon-onclick }}
      aria-label="{{{ list-item-aria-label }}}"
    >
      <div class="a-dotted-line-top"></div>
      <div class="row">
        <div class="col-xs-11">
          <span class="a-js-listItemText">
            {{{ list-item-text }}}
          </span>
        </div>
        <div class="col-xs-1">
          {{> atomer-ikon }}
        </div>
      </div>
    </li>
  {{/ item-list }}
</ul>
<!-- END: 00-atomer-08-lister-20-liste-opplasting -->
