
{{! 
	
H1 DIN-reg
36px/36px (desktop)
36px/36px (laptop)
28px/36px (tablet)
24px/24px (mobile)

H2 DIN-reg
24px/34px (desktop)
24px/24px (laptop)
22px/24px (tablet)
18px/24px (mobile)

H3 DIN-bold
20px/24px (desktop)
20px/24px (laptop)
18px/24px (tablet)
16px/24px (mobile)

H4 DIN-bold 
16px/24px (desktop)
16px/24px (laptop)
16px/24px (tablet)
16px/24px (mobile)


}}

<div class="a-panel">
<h3>Typography</h3>
<p>Typography is the backbone of modern webdesign. A
concistent use of fonts, weights, lineheight and soforth
is esential to create a pleassent and trustworthy user
experience. All new developments and itterations to the
website must follow this styleguide. Itterations on the
styleguide should be implemented on a global level.</p>
</div>

<div class="row sg-typo">
	<div class="col-xs-12 col-md-5">
		<h1 class="a-pageTitle">Page title < H1 > </h1>
	</div>
	<div class="col-xs-12 col-md-4">
		<span class="sg-typo-activeSize-d">36px/36px (desktop)</span><br>
		<span class="sg-typo-activeSize-l">36px/36px (laptop)</span><br>
		<span class="sg-typo-activeSize-t">28px/36px (tablet)</span><br>
		<span class="sg-typo-activeSize-m">24px/24px (mobile)</span> 
	</div>
	<div class="col-xs-12 col-md-3">
		<p style="font-family: 'DIN-re';">DIN-reg</p>
	</div>
</div> 

<div class="row sg-typo">
	<div class="col-xs-12 col-md-5">
		<h2 class="a-sectionTitle">Section title < H2 ></h2>
	</div>
	<div class="col-xs-12 col-md-4">
		<span class="sg-typo-activeSize-d">24px/34px (desktop)</span><br>
		<span class="sg-typo-activeSize-l">24px/24px (laptop)</span><br>
		<span class="sg-typo-activeSize-t">22px/24px (tablet)</span><br>
		<span class="sg-typo-activeSize-m">18px/24px (mobile)</span> 
	</div>
	<div class="col-xs-12 col-md-3">
		<p style="font-family: 'DIN-reg';">DIN-reg</p>
	</div>
</div>

<div class="row sg-typo">
	<div class="col-xs-12 col-md-5">
		<h3 class="a-sectionSubTitle">Section sub title < H3 ></h3>
	</div>
	<div class="col-xs-12 col-md-4">
		<span class="sg-typo-activeSize-d">20px/24px (desktop)</span><br>
		<span class="sg-typo-activeSize-l">20px/24px (laptop)</span><br>
		<span class="sg-typo-activeSize-t">18px/24px (tablet)</span><br>
		<span class="sg-typo-activeSize-m">16px/24px (mobile)</span> 
	</div>
	<div class="col-xs-12 col-md-3">
		<p style="font-family: 'DIN-bold';">DIN-bold</p>
	</div>
</div> 

<div class="row sg-typo">
	<div class="col-xs-12 col-md-5">
		<h4 class="a-sectionSubSubTitle">Section sub sub title < H4 ></h4>
	</div>
	<div class="col-xs-12 col-md-4">
		<span class="sg-typo-activeSize-d">16px/24px (desktop)</span><br>
		<span class="sg-typo-activeSize-l">16px/24px (laptop)</span><br>
		<span class="sg-typo-activeSize-t">16px/24px (tablet)</span><br>
		<span class="sg-typo-activeSize-m">16px/24px (mobile)</span> 
	</div>
	<div class="col-xs-12 col-md-3">
		<p style="font-family: 'DIN-bold';">DIN-bold</p> 
	</div>
</div> 

<div class="row sg-typo">
	<div class="col-xs-12 col-md-5">
		<p class="a-leadText">Intro text < p ></p>
	</div>
	<div class="col-xs-12 col-md-4">
		<span class="sg-typo-activeSize-d">16px/24px (desktop)</span><br>
		<span class="sg-typo-activeSize-l">16px/24px (laptop)</span><br>
		<span class="sg-typo-activeSize-t">16px/24px (tablet)</span><br>
		<span class="sg-typo-activeSize-m">16px/24px (mobile)</span> 
	</div>
	<div class="col-xs-12 col-md-3"> 
		<p style="font-family: 'DIN-reg';">DIN-reg</p>
	</div>
</div> 

<div class="row sg-typo">
	<div class="col-xs-12 col-md-5"> 
		<p>Body text < p ></p>
	</div>
	<div class="col-xs-12 col-md-4">
		<span class="sg-typo-activeSize-d">16px/24px (desktop)</span><br>
		<span class="sg-typo-activeSize-l">16px/24px (laptop)</span><br>
		<span class="sg-typo-activeSize-t">16px/24px (tablet)</span><br>
		<span class="sg-typo-activeSize-m">16px/24px (mobile)</span> 
	</div>
	<div class="col-xs-12 col-md-3">
		<p style="font-family: 'DIN-reg';">DIN-reg</p>
	</div>
</div>

<div class="row sg-typo">
	<div class="col-xs-12 col-md-5">
		<span class="a-metaText">Meta text</span>
	</div>
	<div class="col-xs-12 col-md-4">
		<span class="sg-typo-activeSize-d">14px/20px (desktop)</span><br>
		<span class="sg-typo-activeSize-l">14px/20px (laptop)</span><br>
		<span class="sg-typo-activeSize-t">14px/20px (tablet)</span><br>
		<span class="sg-typo-activeSize-m">14px/20px (mobile)</span> 
	</div>
	<div class="col-xs-12 col-md-3">
		<p style="font-family: 'DIN-reg';">DIN-reg</p>
	</div>
</div>
