<p>Altinn er en internettportal for digital dialog mellom næringslivet, privatpersoner og offentlige etater. Altinn er også en teknisk plattform, som offentlige virksomheter kan benytte for å lage digitale tjenester.

</p><p>
Altinn videreutvikles, driftes og forvaltes av Altinn-samarbeidet, som består av en rekke offentlige etater. Brønnøysundregistrene forvalter den tekniske løsningen på vegne av dette samarbeidet, og avgjør hvordan den tekniske løsningen skal videreutvikles.

</p><p>
I dag er Altinn en veletablert og omfattende plattform, og er i sterk vekst når det gjelder datavolumer, tilknyttede offentlige virksomheter og antallet elektroniske sluttbrukertjenester. Altinn-løsningen blir også stadig videreutviklet med forbedringer av eksisterende funksjonalitet og ny funksjonalitet. Du kan lese mer om funksjonalitet på <a href="http://altinnett.brreg.no/no/Altinn/Hva-er-Altinn/">nettstedet Altinnett</a>.</p> 