<h1>Example default label <span class="label label-default label-pill">31</span></h1>
<h2>Example primary label <span class="label label-primary label-pill">NY</span></h2>
<h3>Example warning/danger <span class="label label-warning label-pill">NY</span></h3>
<h4>Example success <span class="label label-success label-pill">NY</span></h4>
<p>Example body text <span class="label label-success label-pill">NY</span></p>  