<!-- START: 00-atomer-08-lister-05-liste-nummerert -->
<ol class="a-number-list{{# number-list-classes }} {{ number-list-classes }}{{/ number-list-classes }} {{ styleModifier }}">
  {{# number-list-items }}
  <li>
    {{{ number-list-title }}}{{# number-list-link }}{{> atomer-link }}{{/ number-list-link }}
  </li>
  {{/ number-list-items }}
</ol>

<!-- END: 00-atomer-08-lister-05-liste-nummerert -->