<!-- START: 02-organismer-70-Modal-innhold-00-modal-startknapp -->
<!-- Button trigger modal -->
<button type="button" class="a-btn a-js-modalLauncher" data-toggle="modal" data-target="#{{modal-id}}">
    {{ modal-launch-title }}
</button>
{{> organismer-modal }}

<!-- END: 02-organismer-70-Modal-innhold-00-modal-startknapp -->
