<!-- START: 02-organismer-30-seksjoner-75-dashboard-adduser -->
<section class="an-dashboard-yourOrganization mb-4">

  {{# dashboard-organizationTitle }} {{> atomer-seksjonstittel:a-fontMedium }} {{/ dashboard-organizationTitle }} {{# dashboard-organizationList }} {{> molekyler-liste-unummerert:a-borderTopDark }} {{/ dashboard-organizationList }}

  <div class="mt-2">
    {{#dashboard-viewOrganization}} {{> atomer-link }} {{/dashboard-viewOrganization}}
  </div>

</section>
<!-- END: 02-organismer-30-seksjoner-75-dashboard-adduser -->