<!-- START: 02-organismer-30-seksjoner-03-sammenligning -->
<div class="a-compare-category">
  {{#compare-categories-title}}
    <h2>{{{ category-title }}}</h2>
  {{/compare-categories-title}}
  <div class="container">
    <div class="row">
      {{#compare-categories}}
        <div class="a-compare-container col-xs-6 col-md col-max-4">
          {{> molekyler-sammenligningselement:pt-3}}
        </div>
      {{/compare-categories}}
    </div>
  </div>
</div>

<!-- END: 02-organismer-30-seksjoner-03-sammenligning -->
