<a href="{{{ linkIcon-url }}}" class="a-linkIcon{{# link-iconClass }} {{ link-iconClass }}{{/ link-iconClass }} {{ styleModifier }}"
{{# link-icon-id }} id="{{link-icon-id}}" {{/ link-icon-id }}
{{# data-toggle }} data-toggle="{{data-toggle}}" {{/ data-toggle }}
{{# data-action }} data-action="{{data-action}}" {{/ data-action }}
{{# data-url }} data-url="{{{data-url}}}" {{/ data-url }}
{{# data-target }} data-target="{{{data-target}}}" {{/ data-target }}>
  {{> felles-komponenter-ikon }}
  <span{{# text-class }} class="{{ text-class }}"{{/ text-class }}>
    {{{ linkIcon-text }}}
  </span>
</a>
