<article class="a-articleTeaser">

  <a href="#" class="no-decoration">

    {{> atomer-dato }}

    <div class="a-articleTeaser-text">
      <h2>{{articleTeaser-title}}</h2>
      <p>{{articleTeaser-ingress}}</p>
    </div>

  </a>

</article>
