<article class="a-article-teaser">
  <a href="#" class="no-decoration">
    {{> atomer-dato }}
    <div class="a-article-teaser-text">
      <h2>{{ articleTeaser-title }}</h2>
      <p>{{ articleTeaser-ingress }}</p>
    </div>
  </a>
</article>
