<!-- START: 02-organismer-70-Modal-innhold-11-aktorliste-med-sokefelt -->
<div class="modal-body a-modal-body pb-0">
  <div class="row">
    <div class="col">
      <h2 class="a-h3  mb-1 mb-md-3">
        {{ actorListWithSearch-heading }}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-auto px-1">
      {{# searchField-actor }} {{> atomer-tekst-input }} {{/ searchField-actor }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="a-full-width mt-1 px-1 mt-md-3">
        {{# add-actor-btn }} {{> atomer-handlingsknapp-full-bredde }} {{/ add-actor-btn }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="a-full-width">
        {{# actor-list }} {{> molekyler-liste-unummerert }} {{/ actor-list }}
      </div>
    </div>
  </div>
</div>

<!-- END: 02-organismer-70-Modal-innhold-11-aktorliste-med-sokefelt -->