<div class="col-sm-12 col-lg-4">

  <!-- First level -->
  <ul class="vertical menu a-colnav" data-responsive-menu="drilldown xlarge-dropdown" id="colnav" data-disable-hover="true" data-click-open="true" data-close-on-click="false" data-force-follow="true">
      {{# firstLevel}}
          <li>
              <a href="#" class="a-colnav-item">
                  <h2>{{{firstLevelHeader}}}</h2>
                  <p class="a-leadText">
                      {{{firstLevelLeadText}}}
                  </p>
              </a>
              <ul class="vertical menu a-colnav-secondLevel">
                  {{# secondLevel}}
                      <li>
                          <a href="#" class="a-colnav-item-second">
                              <h3>{{{secondLevelHeader}}}</h3>
                          </a>
                          <ul class="vertical menu a-colnav-thirdLevel">
                              {{# thirdLevel}}
                                  <li>
                                      <a href="#" class="a-colnav-item-third">
                                          <h4>{{{thirdLevelHeader}}}</h3>
                                          <span class="a-colnav-rightText">{{{thirdLevelRightText}}}</span>
                                      </a>
                                  </li>
                              {{/ thirdLevel}}
                          </ul>
                      </li>
                  {{/ secondLevel}}
              </ul>
          </li>
      {{/ firstLevel}}
  </ul>

</div>
