

  <!-- Nav tabs -->

<ul class="nav a-tabs" role="tablist" id="{{tabs-id}}">

    {{#tab-items}}
        <li class="nav-item a-tab">
            <a class="a-tab-btn {{tab-active}}" data-toggle="tab" href="#{{tab-href}}" role="tab">
            <i class="material-icons a-tab-btn-icon">{{tab-icon}}</i>
            {{tab-title}}
            </a>
        </li>
    {{/tab-items}}
</ul>

  <!-- Tab panes -->
<div class="tab-content a-tabs-content">
    {{#tab-items}}
        <div class="tab-pane {{tab-active}}" id="{{tab-href}}" role="tabpanel">{{tab-content}}</div>
    {{/tab-items}}
</div>
