<!-- Begin #a-dropdown-languages - -->
<div class="dropdown-menu {{{ dropdown-class }}} a-dropdownTriangle">

  <div class="a-padding-x3 a-paddingBottom-0">

    <div class="row">
      <div class="col-sm-12 a-marginBottom-x2">
        {{> molekyler-myself }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 a-marginBottom-x2">
        {{> atomer-link(link-class: "a-link", link-text: "Innstillinger og profil") }}
      </div>
    </div>

    <p class="a-textSize4">
        Andre du kan representere:
    </p>

    {{> atomer-find-input:error(input-find-text: "Hvem leter du etter?", input-find-id: "input-find-aktor", input-find-icon: "&#xE7EF;") }}

  </div>

  <div class="a-padding a-paddingBottom-0">

    {{> atomer-button-shadow:error(button-shadow-text: "Effektive timer AS", button-shadow-label: true, label-content: "3", button-shadow-icon: "&#xE7F1;") }}

    {{> atomer-button-shadow:error(button-shadow-text: "Johansen Regnskap AS", button-shadow-label: false, button-shadow-icon: "&#xE7F1;", link-url : "link.sider-forside-innlogget-med-langt-navn") }}

    {{> atomer-button-shadow:error(button-shadow-text: "Nidar AS", button-shadow-label: false, button-shadow-icon: "&#xE7F1;") }}

    {{> atomer-button-shadow:error(button-shadow-text: "Filip Gran", button-shadow-icon: "&#xE7FD;", button-shadow-class: "a-bgGreyLight", button-shadow-label: true, label-content: "3") }}

    {{> atomer-button-shadow:error(button-shadow-text: "Pritt AS", button-shadow-label: false, button-shadow-icon: "&#xE7F1;") }}

    {{> atomer-link-icon(link-icon-class: "a-paddingSide-x2 a-marginBottom", link-icon-icon: "&#xE145;", link-icon-text: "Last flere") }}

  </div>

</div>
