<div class="a-page">
	{{# header }}
		{{> organismer-header-altinnett }}
	{{/ header }}

	<section id="content" tabindex="-1">

		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-10 offset-lg-1">
					{{# articlestart }}
						{{> felles-komponenter-artikkel-start }}
					{{/ articlestart }}
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg pt-2 pt-lg-3 mb-4">


				</div><!-- END .col-... -->
			</div><!-- END .row -->
	</section>

		{{> organismer-footer-altinnett }}
</div>
