<!-- START: 01-molekyler-03-media-80-altinnett-presentasjonsblokk -->
<div class="{{ col }}">
  <a href="{{ url }}">
    <div class="an-presentationBlock col-12 {{ extraClass }}">
      <div class="row">
        <h2 class="a-fontBold a-blueDarkerText d-none d-md-block {{ headerClass }}">{{ title }}</h2>

        <div class="col-5 col-md-12 my-auto">
          <div class="an-presentationBlock-figure {{ iconClass }}" style="background-image: url({{ imageurl }})">
            {{# abbreviation }} {{> molekyler-altinnett-forkortelse-svg }} {{/ abbreviation }}
          </div>
        </div>

        <div class="col-7 col-md-12">
          <h2 class="a-fontBold a-blueDarkerText d-md-none {{ headerClass }}">{{ title }}</h2>
          {{# caption }}
          <p class="an-presentationBlock-caption">
            {{{ caption }}}
          </p>
          {{/ caption }}
        </div>
      </div>
    </div>
  </a>
</div>

<!-- END: 01-molekyler-03-media-80-altinnett-presentasjonsblokk -->