<div class="card a-accordion-card a-collapsePanel{{# isLarge }} {{{ isLarge }}}{{/ isLarge }} {{{ styleModifier }}}">
  <div class="card-header a-js-index-heading a-collapsePanel-heading collapsed {{isExpanded}}" id="{{ collapse-panel-header-id }}" role="tab">
    <a href="#" data-toggle="collapse" data-target="#{{{ collapseID }}}" aria-expanded="false" aria-controls="{{ collapseID }}">
      {{# collapseHeader }}
        {{> felles-komponenter-ikon-tekst }}
      {{/ collapseHeader }}
    </a>
  </div>
  <div id="{{ collapseID }}" class="a-collapsePanel-body collapse {{{ isVisibleFromStart }}}" {{# dataParent }}data-parent="{{{dataParent}}}"{{/ dataParent }} role="tabpanel" aria-labelledby="{{ collapse-panel-header-id }}">
    <div class="a-collapsePanel-body-content">
      {{# crr-reservation }} 
      <div class="row">
        <div class="col mb-2">
            {{> felles-komponenter-varsel}}
        </div>
      </div>
      {{/ crr-reservation }}
      <div class="row">
        {{# my-contact-first-header }}
          <div class="col-12">
            <h3 class="a-fontBold a-fontSizeM">
              {{ my-contact-first-header }}
            </h3>
          </div>
        {{/ my-contact-first-header }}
        <div class="col-12 col-md-4">
          {{# my-contact-first-input }}
            {{> felles-komponenter-tekst-input }}
          {{/ my-contact-first-input }}
        </div>
        <div class="col-12 col-md-8">
          {{# my-contact-second-input }}
            {{> felles-komponenter-tekst-input }}
          {{/ my-contact-second-input }}
        </div>
        <div class="col-12 mb-1">
          {{# my-contact-first-message }}
            {{> felles-komponenter-varsel:mt-0 }}
          {{/ my-contact-first-message}}
        </div>
      </div>
      {{# my-contact-checkbox }}
        <div class="row">
          <div class="col">
              {{> felles-komponenter-avkrysningsboks }}
          </div>
        </div>
      {{/ my-contact-checkbox }}
      <div class="row">
        <div class="col-12 mt-1">
          {{# my-contact-third-input }}
            {{> felles-komponenter-tekst-input }}
          {{/ my-contact-third-input }}
        </div>
        <div class="col-12 mb-1">
          {{# my-contact-second-message }}
            {{> felles-komponenter-varsel:mt-0 }}
          {{/ my-contact-second-message}}
        </div>
      </div>
      <div class="row mt-1">
        <div class="col">
          {{# crr-save-btn }}
            {{> felles-komponenter-knapp }}
          {{/ crr-save-btn }}
        </div>
      </div>
    </div>
  </div>
</div>
