<div class="jumbotron jumbotron-fluid a-jumbotron {{{ jumbotron-styles }}}" style="background-color: {{{ jumbotron-bgcolor }}}; background-image: {{{ jumbotron-image-url }}}">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1 col-md-10 {{ jumbo-md-offset-class }} {{ jumbo-lg-class }} {{ jumbo-lg-offset-class }} {{ jumbo-xl-class }} {{ jumbo-xl-offset-class }}">

        {{# articlestart }}
      		{{> organismer-artikkel-start }}
      	{{/ articlestart }}

        {{# pagestart }}
          {{> atomer-sidetittel }}
          <span class="a-jumbotron-ingress">{{{ jumbo-intro }}}</span>
          {{# front-main-button }}
            {{> atomer-knapp }}
          {{/ front-main-button }}
          <span class="a-jumbotron-btn-textright a-textSize1">
            {{{ front-main-button-text-right }}}
          </span>
      	{{/ pagestart }}

        {{# jumbo-list }}
          <span class="a-jumbotron-ingress">{{{ jumbo-intro }}}</span>
      		{{> atomer-liste-unummerert:a-item-list-large|p-b-3 }}
      	{{/ jumbo-list }}
        
        {{# jumbo-link }}
          {{> atomer-link:a-link-large }}
        {{/ jumbo-link }}
      </div>
    </div>
  </div>
</div>
