<!-- START: 02-organismer-70-Modal-innhold-_95-delegering-epost -->
<div class="modal-body a-modal-body">
  <div class="row">
    <div class="col-12">
      {{# delegation-email-header-text }} {{> molekyler-ikon-tekst:a-iconText--noMinHeight }} {{/ delegation-email-header-text }}
      <div class="a-full-width">
        <hr class="mb-2 mt-3">
      </div>
    </div>
    <div class="col-12 mb-2 a-fontBold">
      {{{ delegation-email-text }}}
    </div>
  </div>
  {{# delegation-email-field }}
  <div class="row">
    <div class="col-12 col-md-8 col-xl-6">
      {{> atomer-tekst-input }}
    </div>
  </div>
  {{/ delegation-email-field }} {{# delegation-email-submit }}
  <div class="row">
    <div class="col-xl-12 mt-2">
      {{> atomer-knapp:mb-0 }}
    </div>
  </div>
  {{/ delegation-email-submit }}
</div>
<!-- END: 02-organismer-70-Modal-innhold-_95-delegering-epost -->