<!-- START: 00-atomer-04-handlingsknapper-17-handlingsknapp -->
<button {{# onclick }} onclick="{{{ onclick }}}" {{/ onclick }}
    type="button"
    class="{{ button-class }}">
    {{> atomer-ikon }}
    <span>{{{ action-button-text }}}</span>
</button>

<!-- END: 00-atomer-04-handlingsknapper-17-handlingsknapp -->
