<!-- START: 00-atomer-04-handlingsknapper-17-handlingsknapp -->
<button {{# onclick }} onclick="{{{ onclick }}}" {{/ onclick }} type="button" class="{{ button-class }}" {{# data-toggle }}data-toggle="{{ data-toggle }}" {{/ data-toggle }} {{# data-target }}data-target="#{{ data-target }}" {{/ data-target }} {{# aria-hidden
  }}aria-hidden="true" {{/ aria-hidden }} {{# untabbable }}tabindex="-1" {{/ untabbable }}>
    
    {{> atomer-ikon }}
    <span{{# textstyling-button }} class="{{ textstyling-button }}"{{/ textstyling-button }}>{{{ action-button-text }}}</span>

</button>

<!-- END: 00-atomer-04-handlingsknapper-17-handlingsknapp -->