<!-- Begin #a-dropdown-languages - -->
<div class="a-dropdown-personswitchList a-dropdown-personswitchList-large a-dropdownTriangle">

  <div class="pl-3 pt-3 pr-3">

    <div class="row">
      <div class="col-sm-12 mb-2">
        <h1>Hvem skal du representere?</h1>
      </div>
    </div>

    <div class="a-bgPanel a-bgPanel-grey mb-4 pb-0">

      <div class="row">
        <div class="col-sm-12 mb-2 px-3">
              {{> molekyler-person-privat }}
        </div>
      </div>

      <div class="a-pl-4andhalf">
        {{> atomer-link(link-class: "a-link", link-text: "Innstillinger og profil")}}
      </div>

      <hr class="a-hr-smallPadding mb-1">

      {{# first-message-btn }}
        {{> atomer-knapp-ikon-tekst:px-0 }}
      {{/ first-message-btn }}


    </div>

    <div class="pa-2">

      <p class="a-textSize2">
          Andre du kan representere:
      </p>

      {{# personswitch-search }}
        {{> atomer-tekst-input }}
      {{/ personswitch-search }}


    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="a-bgPanel a-bgPanel-blueLight pb-0">

          <a href="#" class="no-decoration">

          {{# personswitch-first }}
            {{> molekyler-person-rolle:px-1 }}
          {{/ personswitch-first }}

          </a>

          <hr class="a-hr-smallPadding mt-2 mb-1">

          {{# first-message-btn }}
            {{> atomer-knapp-ikon-tekst }}
          {{/ first-message-btn }}

        </div>

        <div class="a-bgPanel a-bgPanel-blueLight pb-0">

          <a href="#" class="no-decoration">

            {{# personswitch-second }}
              {{> molekyler-person-rolle:px-1 }}
            {{/ personswitch-second }}

          </a>

          <hr class="a-hr-smallPadding mt-2 mb-1">

          {{# first-message-btn }}
            {{> atomer-knapp-ikon-tekst }}
          {{/ first-message-btn }}

        </div>

        <div class="a-bgPanel a-bgPanel-blueLight pb-0">

          <a href="#" class="no-decoration">

            {{# personswitch-third }}
              {{> molekyler-person-rolle:px-1 }}
            {{/ personswitch-third }}

          </a>

          <hr class="a-hr-smallPadding mt-2 mb-1">

          {{# first-message-btn }}
            {{> atomer-knapp-ikon-tekst }}
          {{/ first-message-btn }}

        </div>

        <div class="px-2 mt-1o5 mb-0">

          {{# loadmoreLarge }}
            {{> atomer-knapp-ikon-tekst }}
          {{/ loadmoreLarge }}

        </div>

      </div>
    </div>


  </div>


</div>
