<!-- START: 00-atomer-09-bilder-og-media-_03-landscape-16x9 -->
<img src="{{ img.landscape-16x9.src }}" alt="{{ img.landscape-16x9.alt }}" />
<!-- END: 00-atomer-09-bilder-og-media-_03-landscape-16x9 -->