<!-- START: 02-organismer-70-Modal-innhold-9-videresend-pa-epost -->
<div {{# isModal }} class="modal-body a-modal-body" {{/ isModal }}>
  <div class="row">
    <div class="col-12">
      <h2 class="a-h3 mb-1 mb-md-3">
        {{ headingOne }}
      </h2>
    </div>
    <div class="col-12 col-md-11">
      {{# emailField }} {{> atomer-tekst-input }} {{/ emailField }} {{# textField }} {{> atomer-tekstfelt }} {{/ textField }}
    </div>
    <div class="col-12">
      <h2 class="a-h3 mt-1 mt-md-3 mb-1">
        {{ headingTwo }}
      </h2>
    </div>
    <div class="col-12">
      <div class="a-message a-message-info a-message--arrow-off a-message--extendX a-message--no-dropshadow pb-3 pt-1 mb-4">
        <p>
          <b>Fra:</b> Altinn for Jørgen Jacobsen
        </p>
        <h1 class="a-h3">
          Forskuddsskatteseddel 2016 for upersonlige skatteytere.
        </h1>
        <p>
          Upersonlige skattepligige som aksjeselskaper skal betale forskuddsskatt. Krav om reduksjon eller frafallelse av forskuddsskatt må fremsettes i god tid før siste termins forfall.
        </p>
        <p>
          Søknad om endring gjøres via <a href="#">Søknad om endring av eller krav om forskuddsskatt - upersonlig skatteyter (RF-1097)</a>
        </p>
        {{# attachments }}
        <div class="mt-2 mt-md-4">
          {{> atomer-liste-unummerert-ikoner:ai-fontSizeS }}
        </div>
        {{/ attachments}}
      </div>
    </div>
    {{# submitBtn }}
    <div class="col-12">
      {{> atomer-knapp }}
    </div>
    {{/ submitBtn }}
  </div>
</div>
<!-- END: 02-organismer-70-Modal-innhold-9-videresend-pa-epost -->