<!-- START: 01-molekyler-02-navigasjon-20-hurtignavigasjon -->
{{> atomer-hurtignavigasjon-navbar }} {{# page-nav }}
<div class="a-dotted a-page-nav-dest">
  <h3 class="a-fontSizeXS mb-0">
    <a name="{{ nav-id }}">{{ nav-id }}</a>
  </h3>
</div>
{{> molekyler-liste-unummerert }} {{/ page-nav }}
<!-- END: 01-molekyler-02-navigasjon-20-hurtignavigasjon -->