<!-- START: 03-maler-infoportal-30-artikkel-_14-artikkel-v-aksjeselskap -->
<div class="a-page">
  {{> organismer-header }}

  <section id="content" tabindex="-1">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
          {{# articlestart }} {{> organismer-artikkel-start }} {{/ articlestart }}
        </div>
      </div>

      {{# firstpart }}
      <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg pt-2 pt-lg-3">

          <h2 class="a-h3">Kjennetegn aksjeselskap:</h2>

          {{> atomer-liste-unummerert-kuler }} {{# sectiontitle2 }} {{> atomer-seksjonstittel }} {{/ sectiontitle2 }} {{# paragraph2 }} {{> atomer-avsnitt }} {{/ paragraph2 }} {{# sectiontitle3 }} {{> atomer-seksjonstittel }} {{/ sectiontitle3 }}

          <p>Aksjekapitalen er sikkerhet for aksjeselskapets kreditorer og kan ikke brukes opp. {{# footnote1 }} {{> atomer-link-med-popover-ikon }} {{/ footnote1 }} Når du etablerer aksjeselskapet bør du derfor ha penger ut over aksjekapitalen som kan dekke
            aksjeselskapets kostnader.</p>

          <p>Det begrensede ansvaret, fleksibiliteten og omsetteligheten av aksjene gjør at et aksjeselskap er å foretrekke dersom man planlegger å være flere eiere og eventuelt få investorer i selskapet.</p>
          <p><a href="#" class="a-linkArea">Aksjeloven</a> en nyttig kilde til informasjon om hvilke regler aksjeselskapet må forholde seg til.</p>

          {{# sectiontitle4 }} {{> atomer-seksjonstittel }} {{/ sectiontitle4 }} {{# paragraph4 }} {{> atomer-avsnitt }} {{/ paragraph4 }} {{# paragraph5 }} {{> atomer-avsnitt }} {{/ paragraph5 }} {{# sectiontitle5 }} {{> atomer-seksjonstittel }} {{/ sectiontitle5
          }} {{# subtitle1 }} {{> atomer-undertittel }} {{/ subtitle1 }} {{# paragraph6 }} {{> atomer-avsnitt }} {{/ paragraph6 }} {{# subtitle2 }} {{> atomer-undertittel }} {{/ subtitle2 }} {{# paragraph7 }} {{> atomer-avsnitt }} {{/ paragraph7 }} {{#
          subtitle3 }} {{> atomer-undertittel }} {{/ subtitle3 }} {{# paragraph8 }} {{> atomer-avsnitt }} {{/ paragraph8 }} {{# sectiontitle6 }} {{> atomer-seksjonstittel }} {{/ sectiontitle6 }} {{# paragraph9 }} {{> atomer-avsnitt }} {{/ paragraph9 }}
          {{# paragraph10 }} {{> atomer-avsnitt }} {{/ paragraph10 }} {{# paragraph11 }} {{> atomer-avsnitt }} {{/ paragraph11 }} {{# sectiontitle7 }} {{> atomer-seksjonstittel }} {{/ sectiontitle7 }} {{# paragraph12 }} {{> atomer-avsnitt }} {{/ paragraph12
          }} {{# sectiontitle8 }} {{> atomer-seksjonstittel }} {{/ sectiontitle8 }} {{# paragraph13 }} {{> atomer-avsnitt }} {{/ paragraph13 }} {{# sectiontitle9 }} {{> atomer-seksjonstittel }} {{/ sectiontitle9 }} {{# paragraph14 }} {{> atomer-avsnitt
          }} {{/ paragraph14 }} {{# paragraph15 }} {{> atomer-avsnitt }} {{/ paragraph15 }} {{# paragraph16 }} {{> atomer-avsnitt }} {{/ paragraph16 }} {{# paragraph17 }} {{> atomer-avsnitt }} {{/ paragraph17 }} {{# sectiontitle10 }} {{> atomer-seksjonstittel
          }} {{/ sectiontitle10 }} {{# paragraph18 }} {{> atomer-avsnitt }} {{/ paragraph18 }} {{# sectiontitle11 }} {{> atomer-seksjonstittel }} {{/ sectiontitle11 }} {{# paragraph19 }} {{> atomer-avsnitt }} {{/ paragraph19 }} {{# sectiontitle11b }}
          {{> atomer-seksjonstittel }} {{/ sectiontitle11b }} {{# compare1 }} {{> organismer-sammenligning }} {{/ compare1 }} {{# sectiontitle12 }} {{> atomer-seksjonstittel }} {{/ sectiontitle12 }} {{# paragraph20 }} {{> atomer-avsnitt }} {{/ paragraph20
          }}


        </div>
        <!-- END .col-... -->
      </div>
      <!-- END .row -->
      {{/ firstpart }} {{# picturecontent }}
      <div class="row">
        <div class="col-sm-12 col-lg-6 offset-lg-3 mb-5">
          {{> molekyler-bilde-innhold }}
        </div>
        <!-- END .col-... -->
      </div>
      <!-- END .row -->
      {{/ picturecontent }}

    </div>
    <!-- END Container -->

  </section>

  {{> organismer-footer }}
</div>

<!-- END: 03-maler-infoportal-30-artikkel-_14-artikkel-v-aksjeselskap -->