<!-- START: 00-atomer-09-bilder-og-media-_02-landscape-4x3 -->
<img src="{{ img.landscape-16x9.src }}" class="img-fluid" alt="{{ img.landscape-16x9.alt }}" />

<!-- END: 00-atomer-09-bilder-og-media-_02-landscape-4x3 -->