    {{> atomer-link(link-text: "Ekstern lenke som står i løpende tekst", link-icon: "<i class=\"material-icons a-link-external\">&#xE0B2;</i>")}}
    <br><br>
    {{> atomer-link(link-class: "a-link", link-text: "Ekstern lenke som står alene", link-icon: "<i class=\"material-icons a-link-external\">&#xE0B2;</i>")}}
    <br><br>
    {{> atomer-link(link-class: "a-link", link-text: "Lenke som står alene", link-icon: "›")}}
    <br><br>
    {{> atomer-link(link-class: "a-link a-link-warning", link-text: "Lenke som står alene og antyder fare", link-icon: "›")}}
    <br><br>
    {{> atomer-link(link-class: "a-btn a-btn-border", link-text: "En lenke stylet som en stor knapp")}}
    <br><br>

<div class="a-btn-group">

    {{> atomer-link(link-class: "a-btn", link-text: "En lenke stylet som en standard knapp")}}

    {{> atomer-link(link-class: "a-btn a-btn-success", link-text: "En lenke stylet som en suksess-knapp")}}

    {{> atomer-link(link-class: "a-btn a-btn-danger", link-text: "En lenke stylet som en fare-knapp")}}

    {{> atomer-link(link-class: "a-btn disabled", link-text: "En lenke stylet som en deaktivert knapp")}}

</div>
