<!-- START: 01-molekyler-00-tekst-69-♺-innboks-header-innhold-videresendt -->
{{# msg-forwarded }} {{> molekyler-innboks-header-innhold }} {{/ msg-forwarded }}
<!-- END: 01-molekyler-00-tekst-69-♺-innboks-header-innhold-videresendt -->