<!-- START: 01-molekyler-02-navigasjon-20-hurtignavigasjon -->
{{> atomer-hurtignavigasjon-navbar }}

{{# page-nav }}
  <div class="a-dotted a-page-nav-dest"><h5><a name="{{ nav-id }}">{{ nav-id }}</a></h5></div>
  {{> atomer-liste-unummerert }}
{{/ page-nav }}
<!-- END: 01-molekyler-02-navigasjon-20-hurtignavigasjon -->
