<div class="a-page">
  {{# header }}
    {{> organismer-header-dashboard }}
  {{/ header }}

  <section id="content" tabindex="-1">
    <h1 class="sr-only">{{{ page-title }}}</h1>

    <div class="container">

        {{# article-search }}
          <div class="row mb-2 mt-2 mt-lg-5 mb-lg-3">
            <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
              {{> felles-komponenter-tekst-input }}
            </div>
          </div>
        {{/ article-search }}

        <div class="row">

          <div class="col-12 col-lg-10 offset-lg-1">

              {{> organismer-dashboard-services }}

              {{# load-more-btn }}
                <div class="row">
                  <div class="col">
                      {{> felles-komponenter-handlingsknapp-full-bredde }}
                  </div>
                </div>
              {{/ load-more-btn }}
          </div>
           
      </div>
    </div>
  </section>
</div>