<!-- Skip to main content -->
<nav class="a-jumpnav">
    <ul class="no-decoration d-flex">
        <li><a class="sr-only sr-only-focusable" href="#content">Hopp til hovedinnholdet</a></li>
        <li><a class="sr-only sr-only-focusable" href="#primary-nav">Hopp til hovedmeny</a></li>
        <li><a class="sr-only sr-only-focusable" href="#search">Hopp til søk</a></li>
    </ul>
</nav>

<!-- Begin .header -->
<header class="a-header an-header {{{ header-color }}} {{# hide-header }} a-js-hideElement {{/ hide-header}}">
    <!-- Begin .container -->
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Begin .a-globalNav -->
                <nav id="primary-nav" class="a-globalNav">
                    <a href="{{ url-logo }}" class="a-globalNav-logo">
                        <img src="{{ headerlogo }}" alt="Altinnett logo" class="a-logo {{ logo-class }} {{ styleModifier }}">
                        <span class="sr-only">Til forsiden</span>
                    </a>
                    <button class="an-navbar-toggler" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Vis/skjul meny</span>
                    </button>

                    {{> organismer-altinnett-navigasjonsmeny-dropdown }}
                </nav> <!-- End .a-globalNav -->
            </div><!-- End .col -->

        </div> <!-- End .row -->

    </div> <!-- End .container -->
</header> <!-- End .header -->
