<!-- Skip to main content -->
<nav class="a-jumpnav">
  <ul class="no-decoration d-flex">
      <li><a class="sr-only sr-only-focusable" href="#content">Hopp til hovedinnholdet</a></li>
      <li><a class="sr-only sr-only-focusable" href="#primary-nav">Hopp til hovedmeny</a></li>
      <li><a class="sr-only sr-only-focusable" href="#search">Hopp til søk</a></li>
  </ul>
</nav>

<!-- Begin .header -->
<header class="a-header dashboard-header {{{ header-color }}} {{# hide-header }} a-js-hideElement {{/ hide-header}}">
	<!-- Begin .container -->
  <div class="container">
    <div class="row">
      <div class="col-12">

    		<!-- Begin .a-globalNav -->
    		<nav id="primary-nav" class="a-globalNav">
    			<a href="{{ link.sider-infoportal-forside-innlogget }}" class="a-globalNav-logo"> 
          <img src="{{ headerlogo }}" alt="Altinnett logo" class="an-logo a-logo--an {{ logo-class }} {{ styleModifier }}">
                        
            <span>{{ headerlogoText }}</span>
           <span class="sr-only">Til forsiden</span>
          </a>

    			  <button class="navbar-toggler d-md-none" type="button">
              <span class="sr-only">Vis/skjul meny</span>
    			  </button>
    			  <div class="collapse navbar-toggleable-sm a-globalNav-main" id="exCollapsingNavbar2">
    					<ul class="" id="exCollapsingNavbar">
    						<li class="d-md-none">
                  {{# header-mobilesearch }}
    							  {{> atomer-tekst-input }}
                  {{/ header-mobilesearch }}
    						</li>
                
    						<li><a class="a-hvr-underline {{{ globalNav-active-oversikt }}} {{{login-deactivated}}}" href="{{ link.sider-portal-innboks }}">oversikt</a></li>
    						<li><a class="a-hvr-underline {{{ globalNav-active }}}" href="{{ link.sider-infoportal-kolonnenavigasjon-v-skjemaoversikt }}">innboks</a></li>
    						<li>
                  <a class="a-hvr-underline {{{ globalNav-active-profile }}} {{{login-deactivated}}}" href="{{ link.sider-portal-profil-roller-rettigheter }}">
                    <span class="a-js-onboardingTarget-2 {{{login-deactivated}}}">dine tjenester</span>
                  </a>
                  {{# globalNav-hasProfileIcon }}
                    {{> atomer-ikon }}
                  {{/ globalNav-hasProfileIcon }}
                </li>
    						<li class="d-md-none">
                  <a class="a-hvr-underline" href="{{ link.sider-infoportal-hjelpesenter }}">
                    {{# tel-icon }}
                      {{> atomer-ikon }}
                    {{/ tel-icon }}
                    hjelp og kontakt
                  </a>
                </li>
    					</ul>
    			  </div>
    		</nav> <!-- End .a-globalNav -->

        <!-- Begin .a-globalNav-options -->
    		<ul id="secondary-nav" class="nav nav-pills a-header-options">


    			<li class="nav-item">
    				<!-- Dropdown toggle -->
    				{{> atomer-innlogget }}
            {{# dropdown-personswitch }}
              {{> organismer-meny-personbytte }}
            {{/ dropdown-personswitch }}
    			</li>
    		</ul> <!-- End .a-globalNav-options -->

      </div><!-- End .col -->

    </div> <!-- End .row -->

	</div> <!-- End .container -->
</header> <!-- End .header -->
