<!-- START: 03-maler-portal-99-modal-js-10-page-singel -->
<div class="modal-content">
  <div class="modal-header a-modal-header">
    <div class="a-iconText a-iconText-background a-iconText-large">
      <div class="a-iconText-icon">
        <i class="ai ai-server a-icon" aria-hidden="true"></i>
      </div>
      <h1 class="a-iconText-text mb-0">
        <span class="a-iconText-text-small"></span>
        <span class="a-iconText-text-large">Tittel på modalen</span>
      </h1>
    </div>
  </div>
  <div class="modal-body a-modal-body">
    <p>Modaler som ikke innholder stegvise prosesser, men kun en enkeltside, skal ikke animere inn fra høyre. De skal fade inn, og fade ut igjen ved trykk på krysset.</p>
  </div>
</div>

<!-- END: 03-maler-portal-99-modal-js-10-page-singel -->