<form data-toggle="validator" data-delay="2000">

  <div class="form-group a-form-group has-feedback">

    <div class="input-group">

      <!-- Label -->
      <label class="input-group-addon" for="inputPersonalNumber">
          <span class="scontrol-label"> Fødselsnr:</span>
      </label>

      <!-- Input  -->
      <input type="text" class="form-control" id="inputPersonalNumber" pattern="[0-9]{11}" placeholder="11 siffer" data-error="Personnummer må bestå av 11 siffer.">

    </div>

    <i class="fa fa-check-circle form-control-feedback"></i><span class="sr-only">Icon showing if input is valid or not</span>

    <div class="help-block with-errors a-message a-message-error"></div>

  </div>

</form>
