<!-- START: 00-atomer-01-forms-40-tekstfelt -->
<div class="form-group a-form-group {{ styleModifier }}">
  <label for="{{ text-input-id }}" class="a-form-label">{{{ textarea-label }}}</label>
  <textarea class="form-control a-textarea" rows="3" placeholder="{{{ textarea-placeholder }}}" {{# isRequired }}required{{/ isRequired }} {{# data-required }} data-val-required="{{ data-required-message }}" {{/ data-required }} name="{{ input-name }}"
    {{# text-input-id }}id="{{ text-input-id }}" {{/ text-input-id }}></textarea> {{# error-message-popover }}
  <div class="a-message a-message-error" data-valmsg-for="{{ input-name }}" data-valmsg-replace="false">
    <span class="has-error">{{# data-required }}{{ data-required-message }}{{/ data-required }}</span>
  </div>
  {{/ error-message-popover }}
</div>

<!-- END: 00-atomer-01-forms-40-tekstfelt -->