{{# modal-content-header }}
  <h2 class="mb-3">{{ modal-content-header }}</h2>
{{/ modal-content-header }}

<p class="mb-3">
  {{{ modal-content }}}
</p>

{{# links }}
  {{> atomer-link:mr-1 }}
{{/ links }}