{{# show-give-rights }}
  {{> organismer-delegering-tildel }}
{{/ show-give-rights }}
{{# show-gi-fjerne-roller }}
  {{> organismer-delegering-roller }}
{{/ show-gi-fjerne-roller }}
{{# show-missing-email }}
  {{> organismer-delegering-epost }}
{{/ show-missing-email  }}
