<!-- START: 00-atomer-07-tekst-40-innlogget -->
{{# display-as-dropdown }}
<button {{{ buttonDisabled }}} class="nav-link dropdown-toggle a-personSwitcher {{{ variation }}}" type="button" {{# personlogin-isDropdown }} data-toggle="{{personlogin-isDropdown}}" {{/ personlogin-isDropdown }}{{# onclick }} onclick="{{ onclick }}"
  {{/ onclick }} aria-haspopup="true" aria-expanded="false">
{{/ display-as-dropdown }}
{{^ display-as-dropdown }}
  <div class="a-personSwitcher {{{ variation }}}">
{{/ display-as-dropdown }}

  <span
    class="a-personSwitcher-name">
    <span class="d-block">{{{ login-name }}}</span>
    <span class="d-block">{{{ login-represent }}}</span>
  </span>
  {{# login-icon }}
    {{> atomer-ikon }}
  {{/ login-icon }}

{{^ display-as-dropdown }}
  </div>
{{/ display-as-dropdown }}
{{# display-as-dropdown }}
  </button> {{/ display-as-dropdown }}

<!-- END: 00-atomer-07-tekst-40-innlogget -->