<!-- START: 03-maler-portal-50-innboks-00-innboks -->
{{# show-mainheader }} {{> organismer-header }} {{/ show-mainheader }} {{# show-subheader }} {{> organismer-subheader }} {{/ show-subheader }}
<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
      {{# article-search }} {{> atomer-tekst-input }} {{/ article-search }}
    </div>
  </div>

  {{> molekyler-toppoppgaver }} {{# empty-inbox }}
  <div class="row">
    <div class="col">
      <h2 class="a-fontSizeM a-fontBold mt-3 mb-0">{{ empty-inbox-heading }}</h2>
      <p class="a-fontSizeM">{{ empty-inbox-title }}</p>
      <h3 class="mb-1 mt-3 a-fontSizeXS a-fontReg">{{ empty-inbox-list-title }}</h3>
      {{> atomer-liste-nummerert }}
      <p class="mt-2">{{ empty-inbox-undertext }}{{> atomer-link }}</p>
    </div>
  </div>
  {{/ empty-inbox }} {{# heading }}
  <h1 class="{{ heading-class }}">{{ heading }}</h1>
  {{/ heading }} {{# inbox }}
  <div class="row{{# inbox-extra-class }} {{ inbox-extra-class }}{{/ inbox-extra-class }}">
    <div class="col" id="{{ accordionId }}">
      {{# elementList }}
      <div class="row">
        <div class="col-sm-12 col-lg-12{{# block-margin }} {{{ block-margin }}} {{/ block-margin }}">
          {{> atomer-seksjonstittel }}
        </div>
      </div>

      {{# messages }}
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <div {{# accordion-large-id }}id="{{ accordion-large-id }}" {{/ accordion-large-id }} class="a-panelAccordion" role="tablist">
            {{# accordion-large-items }} {{> organismer-ekspanderbart-panel }} {{/ accordion-large-items }}
          </div>
        </div>
      </div>
      {{/ messages }} {{/ elementList }}
    </div>
  </div>
  {{/ inbox }} {{# load-more-btn }}
  <div class="row">
    <div class="col">
      {{> atomer-handlingsknapp-full-bredde }}
    </div>
  </div>
  {{/ load-more-btn }}
</div>
{{> organismer-footer }} {{> molekyler-hjelp-container }}
<!-- END: 03-maler-portal-50-innboks-00-innboks -->