<button type="{{ button-type }}" href="../..{{ button-href }}" class="{{ button-class }} {{ styleModifier }}" id="{{ button-id }}" {{{ link-url-start }}}{{{ link-url }}}{{{ link-url-end }}} {{ button-disabled }} {{{data-dismiss}}}>{{ button-text }}</button> {{ button-icon }}
