<!-- START: 02-organismer-70-Modal-innhold-91-delegering-aktivitetslogg -->
<hr class="a-hrSolidLight pt-1" />
{{> molekyler-liste-unummerert-ny }}
<!-- END: 02-organismer-70-Modal-innhold-91-delegering-aktivitetslogg -->
