<!-- START: 00-atomer-05-Ekspansjonsknapper-10-ekspanderbar-overskrift JS doc: toggleFilter.js -->
<a data-toggle="collapse" {{# data-parent }} data-parent="#{{{ data-parent }}}" {{/ data-parent }} href="#{{collapse-header-id}}" role="tab" aria-expanded="false" class="a-collapse-title no-decoration collapsed a-h3">
    <span class="a-dropdownCircleArrow{{# isSmall }} a-dropdownCircleArrow--small{{/ isSmall }}">
      <i class="ai ai-expand ai-sm"><span class="sr-only">Vis/skjul innhold</span></i>
    </span>
    {{{ collapse-header-text }}}
</a>

<!-- END: 00-atomer-05-Ekspansjonsknapper-10-ekspanderbar-overskrift -->