<section class="an-dashboard-calendar mb-4">

  {{# dashboard-calendarTitle }}
    {{> felles-komponenter-seksjonstittel:a-fontMedium }}
  {{/ dashboard-calendarTitle }}

  {{# dashboard-addEvent }}
    {{> felles-komponenter-handlingsknapp }}
  {{/ dashboard-addEvent }}

  {{# dashboard-calendarEvents}}
      {{#arrangement}}
      <a href="#" class="an-arrangement-block-inner a-noUnderline">
          {{# dateSmall }}
              <div class="mr-1 {{#dateLarge}}an-arrangement-block-show-large{{/dateLarge}}">
                  {{> felles-komponenter-dato }}
              </div>
          {{/ dateSmall }}
          {{# dateLarge }}
              <div class="mr-1 an-arrangement-block-hidden-small">
                  {{> felles-komponenter-dato }}
              </div>
          {{/ dateLarge }}

          <div class="an-arrangement-block-text">
              {{#arrangementTitle}}
                  <h3 class="mb-0">{{ arrangementTitle }}</h3>
              {{/arrangementTitle}}
              <p>{{ arrangementContent }}</p>
          </div>
      </a>
    {{/arrangement}}
  {{/ dashboard-calendarEvents}}

  <div class="mt-2">
      {{#dashboard-viewMoreEvents}}
        {{> felles-komponenter-link }}
      {{/dashboard-viewMoreEvents}}
  </div>

</section>