<section class="an-dashboard-yourOrganization mb-4">

    {{# dashboard-organizationTitle }}
      {{> felles-komponenter-seksjonstittel:a-fontMedium }}
    {{/ dashboard-organizationTitle }}

    {{# dashboard-organizationList }}
      {{> felles-komponenter-liste-unummerert:a-borderTopDark }}
    {{/ dashboard-organizationList }}

    <div class="mt-2">
      {{#dashboard-viewOrganization}}
        {{> felles-komponenter-link }}
      {{/dashboard-viewOrganization}}
    </div>

</section>