<section class="an-dashboard-contactperson mb-4">

  {{# dashboard-kontaktpersontittel }}
    {{> felles-komponenter-seksjonstittel:a-fontMedium }}
  {{/ dashboard-kontaktpersontittel }}

  {{# dashboard-kontakt}}
    {{> molekyler-dashboard-kontaktperson }}
  {{/ dashboard-kontakt}}

</section>