<a href="{{{ linkIcon-url }}}" class="a-linkIcon{{# link-icon-class }} {{ link-icon-class }}{{/ link-icon-class }} {{ styleModifier }}"
{{# data-toggle }} data-toggle="{{data-toggle}}" {{/ data-toggle }}
{{# data-action }} data-action="{{data-action}}" {{/ data-action }}
{{# data-url }} data-url="{{{data-url}}}" {{/ data-url }}
{{# data-target }} data-target="{{{data-target}}}" {{/ data-target }}>
  {{> atomer-ikon }}
  <span{{# text-class }} class="{{ text-class }}"{{/ text-class }}>
    {{{ linkIcon-text }}}
  </span>
</a>
