<a href="../..{{{ link-url }}}" class="a-btn a-btn-viewmore {{{ link-button-shadow-class }}}" id="linkButtonShadow">
	<i class="material-icons a-btn-viewmore-icon">&#xE145;</i>

	{{{ link-button-viewmore-text }}}

</a>
