<!-- START: 03-maler-infoportal-_70-hurtighjelp-12-hurtighjelp-svar -->

<h2>Hvordan representerer jeg org.nr. til en underenhet?</h2>
{{> atomer-liste-nummerert-sirkel }}

<div class="a-stickyHelp-footer">
  <a href="{{ link.sider-infoportal-hjelpesenter }}" target="_blank" class="">
    Åpne siden i nytt vindu
    <i class="ai ai-arrowright ai-sm ai-nw ai-nw-pr"></i>
  </a>
</div>

<!-- END: 03-maler-infoportal-_70-hurtighjelp-12-hurtighjelp-svar -->