<!-- START: 02-organismer-_49-ekspanderbart-panel-innhold-62-forhandsvalgt-aktor -->
<div class="row mb-1">
  <div class="col">
    <h3>
      {{ heading }}
    </h3>
  </div>
</div>
{{# checks }}
<div class="row">
  <div class="col">
    {{> atomer-avkrysningsboks }}
  </div>
</div>
{{/ checks }} {{# save-btn }}
<div class="row">
  <div class="col">
    {{> atomer-knapp:mt-2 }}
  </div>
</div>
{{/ save-btn }}
<!-- END: 02-organismer-_49-ekspanderbart-panel-innhold-62-forhandsvalgt-aktor -->