<a href="#" aria-label="{{ popover-aria-label }}" tabindex="0" class="a-linkArea {{ open-popover-class }}" role="button" data-toggle="popover" data-template="{{> atomer-popover }}" data-target="#{{ popover-data-target }}" data-placement="bottom" data-trigger="focus" title="{{ popover-title }}" data-content="{{ popover-content }}">
  {{{ popover-link-text }}}
</a>
