<div class="a-modal-top">
  <a href="../../{{ link.sider-forside }}" class="no-decoration">
    {{> atomer-logo }}
  </a>
  {{# login-show }}
    <div class="a-modal-top-user">
      {{> atomer-innlogget }}
    </div>
  {{/ login-show }}
</div>
