<h1 class="a-fontBold a-pageTitle {{ styleModifier }}">
  {{{ page-title }}}
  {{# hasFormCode }} <span class="a-fontReg pl-1"> {{{ formCode }}} </span> {{/ hasFormCode }}
  {{# tag }} {{>atomer-merkelapp}} {{/ tag }}
</h1>
