<h2 class="{{# extra-class }} {{ extra-class }} {{/ extra-class}}{{ styleModifier }}">
  {{{ section-title }}}
  {{# titleExtra }}
    <span class="a-titleExtra">{{{ titleExtra-text }}}</span>
  {{/ titleExtra }}
</h2>
