
<button class="nav-link dropdown-toggle a-personSwitcher" type="button" id="dropdownMenuButton" {{{personlogin-isDropdown}}} {{{personlogin-isLink}}}{{ personlogin-isLink-url }}{{{personlogin-isLink-end}}} {{{ personlogin-isDropdown }}} aria-haspopup="true" aria-expanded="false">
  <span
    class="a-personSwitcher-name hidden-sm-down"
    title="{{ login-name }} {{ login-represent }}">
    {{{ login-name }}}
    <br>
    {{{ login-represent }}}
  </span>
  <i class="material-icons a-personSwitcher-icon">&#xE853;</i>
</button>
