<a href="" class="nav-link dropdown-toggle a-personSwitcher logged-in {{{ variation }}}" 
  aria-haspopup="true"
  aria-expanded="false"  
  title="{{{ login-name }}} {{{ login-represent }}}"
  {{# personlogin-isDropdown }} data-toggle="{{personlogin-isDropdown}}"{{/ personlogin-isDropdown }}
  {{# data-toggle }}data-toggle="{{ data-toggle }}"{{/ data-toggle }}
  {{# data-action }}data-action="{{ data-action }}"{{/ data-action }}
  {{# data-parent }}data-parent="#{{ data-parent }}"{{/ data-parent }}
  {{# page-url }}data-url="{{{ page-url }}}"{{/ page-url }}
  {{# data-target }}data-target="{{ data-target }}"{{/ data-target }}>
  <span
    class="a-personSwitcher-name">
    <span class="d-block">{{{ login-name }}}</span>
    {{# login-represent }}
    <span class="d-block">{{ login-represent }}</span>
    {{/ login-represent }}
  </span>
  {{# login-icon }}
    {{> atomer-ikon }}
  {{/ login-icon }}

</a>