<a href="#" class="nav-link a-personSwitcher {{{ variation }}}" title="{{{ login-name }}} {{{ login-represent }}}">
  <span
    class="a-personSwitcher-name">
    <span class="d-block">{{{ login-name }}}</span>
    <span class="d-block">{{{ login-represent }}}</span>
  </span>
  {{# login-icon }}
    {{> atomer-ikon }}
  {{/ login-icon }}

</a>