<!-- START: 01-molekyler-02-navigasjon-12-kategorifaner -->
<div class="row a-categoryTabs px-1">
  {{# categoryTabs }} {{> atomer-valgknapp-ett-alternativ:col|px-0 }} {{/ categoryTabs }} {{# extraLink }}
  <div class="col px-0">
    {{> atomer-link:a-linkFeatured--border }}
  </div>
  {{/ extraLink }}
</div>
<!-- END .row -->

<!-- END: 01-molekyler-02-navigasjon-12-kategorifaner -->