<!-- START: 03-maler-infoportal-10-seksjonsforsider-30-seksjonsforside -->
<div class="a-page">
  {{> organismer-header }}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
        {{# article-search }} {{> atomer-tekst-input }} {{/ article-search }}
      </div>
    </div>
  </div>

  <section id="content" tabindex="-1">

    <div class="container">

      <div class="row">
        <div class="col-lg-11 offset-lg-1">
          {{> atomer-sidetittel:pb-1 }}
        </div>
      </div>

    </div>

    <div class="container-fluid">
      {{# starteogdrive-jumbo }} {{> molekyler-jumbotron }} {{/ starteogdrive-jumbo }}
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {{> molekyler-trekkspill-overskrifter }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          {{# first-card-icon }} {{> molekyler-ikon-link:mt-4 }} {{/ first-card-icon }}
        </div>
      </div>

      <div class="row py-4">
        <div class="col-lg-8 offset-lg-2 ">
          {{# newslist }} {{> organismer-artikkelliste }} {{/ newslist }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
          {{> molekyler-bilde-innhold:mt-4 }}
        </div>
      </div>

    </div>
    <!-- END Container -->

  </section>

  {{> organismer-footer }}
</div>

<!-- END: 03-maler-infoportal-10-seksjonsforsider-30-seksjonsforside -->