<!-- START: 04-sider-portal-91-klientdelegering-00-klientdelegering-gi-rettigheter-til-klienter -->
{{> maler-portal-modal }}

<!-- END: 04-sider-portal-91-klientdelegering-00-klientdelegering-gi-rettigheter-til-klienter -->