<div class="a-modal-top">
      {{# logo }}
        {{> felles-komponenter-logo }}
      {{/ logo }}
  {{# login-show }}
    <div class="a-modal-top-user">
      {{> felles-komponenter-innlogget }}
    </div>
  {{/ login-show }}
</div>
