<!-- START: 04-sider-portal-91-klientdelegering-00-klientdelegering-fjern-rettigheter -->
{{> maler-portal-modal }}

<!-- END: 04-sider-portal-91-klientdelegering-00-klientdelegering-fjern-rettigheter -->