<!-- START: 03-maler-altinnett-95-kalendersider-00-kalender-oversikt -->
<div class="a-page">
  {{# header }} {{> organismer-header-altinnett }} {{/ header }}

  <main id="content" tabindex="-1">
    <div class="container">
      <div class="row">
        {{# pageTitle }}
        <div class="col-sm-12 col-lg-10 offset-lg-1 mb-4 mb-md-8">
          {{> atomer-sidetittel }} {{> atomer-avsnitt }}

        </div>
        {{/ pageTitle }}
      </div>

      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1 pb-3 mb-4 mb-md-8">

          <div class="mb-8">
            <!-- note til backend: bruk a-date-day--small istedet for a-date-day for datoer som går over flere dager -->
            {{#article-list}} {{> molekyler-artikkel-teaser }} {{/article-list}}
          </div>

          <div class="my-1 my-md-5">
            {{# list-article-loadmore }} {{> atomer-handlingsknapp }} {{/ list-article-loadmore }}
          </div>

        </div>
      </div>
    </div>
    <!-- END Container -->

  </main>

  {{# footer }} {{> organismer-footer-altinnett }} {{/ footer }}
</div>

<!-- END: 03-maler-altinnett-95-kalendersider-00-kalender-oversikt -->