<!-- START: 01-molekyler-00-tekst-45-liste-med-beskrivelse -->
<div class="container">
  <h3 class="mb-2">{{ header-text }}</h3>
  <span>{{ intro-text }}</span>
  {{> atomer-liste-unummerert }}
</div>
<!-- END: 01-molekyler-00-tekst-45-liste-med-beskrivelse -->
