<!-- START: 01-molekyler-00-tekst-45-liste-med-beskrivelse -->
<h3 class="mb-2">{{ header-text }}</h3>
<span>{{ intro-text }}</span> {{> molekyler-liste-unummerert-uten-popover }}

<!-- END: 01-molekyler-00-tekst-45-liste-med-beskrivelse -->