<div class="a-compare-category">
    <h3>{{category-title}}</h3>
    {{#compare-categories}}
    <div class="a-compare-container col-sm-12 col-md-6 col-lg-3">
        {{> molekyler-sammenligningselement}}
    </div>
    {{/compare-categories}}
</div>
