<section class="a-box a-articleListDates {{ styleModifier }}">

  <div class="a-box-heading">
			<h2>{{box-heading}}</h2>
  </div>

  <div class="a-box-body">
    {{#article-list}}
      {{> molekyler-artikkel-teaser }}
    {{/article-list}}
  </div>

  <div class="a-box-footer">
      {{> atomer-link(link-class: "a-link", link-text: "Lenke som tar deg til hele artikkellisten", link-icon: "<i class=\"a-link-external\"> →</i>") }}
  </div>

</section>
