<i class="{{ icon-prefix }} {{ icon-class }} {{ icon-size }} {{ icon-extra-class }} {{ styleModifier }} {{# sr-only }}sr-only{{/ sr-only }}" {{# aria-hidden }}aria-hidden="true"{{/ aria-hidden }} {{# icon-id}} id="{{{ icon-id }}}" {{/ icon-id }}>{{{ icon-text }}}</i>
