<div class="a-progress-bg">
  <div class="progress a-progress"  aria-describedby="example-caption-6">
    <div class="progress-bar progress-info a-progress" value="{{progress-value}}" max="100" role="progressbar" style="width: {{progress-value}}%;">
    </div>
  </div>
</div>