<div class="a-progress-bg">
  <div class="progress a-progress" value="{{progress-value}}" max="100" aria-describedby="example-caption-6">
    <div class="progress-bar progress-info a-progress" role="progressbar" style="width: {{progress-value}}%;">
      <span class="progress-bar a-progress-bar" style="width: {{progress-value}}%;"></span>
    </div>
  </div>
</div>
