<!-- START: 01-molekyler-02-navigasjon-50-ekspanderbar-liste -->
<div class="a-list-heading">
  {{> atomer-ekspanderbar-tittel-med-underlinje }}
</div>
<div id="{{ collapse-header-contentID }}" class="a-collapseContent collapse {{# isVisible }}show{{/ isVisible}}" aria-expanded="{{ aria-expanded }}" role="{{ role }}">
  {{> molekyler-liste-unummerert }} {{# has-link }}
  <div class="row">
    <div class="col-12 mt-2">
      {{> atomer-link }}
    </div>
  </div>
  {{/ has-link}}
</div>
<!-- END: 01-molekyler-02-navigasjon-50-ekspanderbar-liste -->