<div class="a-page">
  {{# header }}
    {{> organismer-header-dashboard }}
  {{/ header }}

  <section id="content" tabindex="-1">
    <h1 class="sr-only">{{{ page-title }}}</h1>

    <div class="container">
        <div class="row an-dashboard-container">
          <div class="col-12 col-lg-6 mb-5 mb-lg-0">

            {{> organismer-dashboard-alerts }}
            
            {{> organismer-dashboard-calendar }}

          </div>

          <div class="col-12 col-lg-5 offset-lg-1">

            {{> organismer-dashboard-adduser }}

            {{# adduser-tjenesteeier }}
              {{> organismer-dashboard-adduser }}
            {{/ adduser-tjenesteeier }}


          </div>
      </div>
    </div>

</div>