<div class="a-page">
  {{# header }}
    {{> organismer-header-altinnett }}
  {{/ header }}

  <section id="content" tabindex="-1">
    <h1 class="sr-only">{{{ page-title }}}</h1>

    <div class="container">
        <div class="row an-nyheter-arrangement-block">
          <div class="col-12 col-lg-6 mb-5 mb-lg-0">
            <h2 class="a-fontMedium">Siste driftsvarslinger</h2>

              {{# dashboard-addAlert }}
                {{> atomer-handlingsknapp }}
              {{/ dashboard-addAlert }}

              {{# dashboard-alerts }}
                {{> atomer-varsel }}
              {{/ dashboard-alerts }}

              <div class="mt-1">
                {{#dashboard-viewMoreAlerts}}
                {{> atomer-link }}
                {{/dashboard-viewMoreAlerts}}
              </div>
          </div>
          <div class="col-12 col-lg-5 offset-lg-1">
            {{# dashboard-kontaktpersontittel }}
              {{> atomer-seksjonstittel }}
            {{/ dashboard-kontaktpersontittel }}
            {{# dashboard-kontakt}}
              {{> molekyler-dashboard-kontaktperson }}
            {{/ dashboard-kontakt}}
          </div>
      </div>
    </div>

</div>