<div class="a-page">
  {{# header }}
    {{> organismer-header-altinnett }}
  {{/ header }}

  <section id="content" tabindex="-1">
    <h1 class="sr-only">{{{ page-title }}}</h1>

    <div class="container">

    {{# product-presentation }}
        {{> organismer-altinnett-produkt-presentasjon }}
    {{/ product-presentation }}

    {{# case }}
        {{> molekyler-altinnett-case-card }}
    {{/ case }}

    {{# steps }}
      <div class="mb-6 mb-lg-8">
          <h2 class="a-fontBold a-blueDarkerText mb-2">{{ section-title }}</h2>
         {{# list }}
            <div class="d-block d-lg-none">
                {{> atomer-liste-nummerert-sirkel }}
            </div>
          {{/ list }}
         <div class="epi-wysiwyg d-none d-lg-block">
            {{> molekyler-altinnett-stegvis-svg }}
          </div>
         {{# learnMoreLink }}
            <div class="mt-2">
              {{> atomer-link }}
            </div>
          {{/ learnMoreLink }}
      </div>
    {{/ steps }}

    </div>
      {{> organismer-altinnett-nyheter-arrangementer }}
    <div class="container">
      {{# resource-presentation }}
        <div class="mb-6 mb-lg-8">
          {{> organismer-altinnett-ressurs-presentasjon }}
        </div>
      {{/ resource-presentation }}
    </div>
  </section>

  {{# footer }}
    {{> organismer-footer-altinnett }}
  {{/ footer }}
</div>
