<div class="a-accordion-large stack" id="{{accordion-small-id}}" role="tablist" aria-multiselectable="true">

    {{# accordion-header-items }}
        {{> atomer-ekspanderbar-overskrift }}
        <div id={{collapse-header-id}} class="a-collapseContent collapse">{{collapse-header-content}}<br /><br /></div>
    {{/ accordion-header-items }}

</div>
