
<div class="a-panel">
<h3>Farger</h3> 
	
	<ul class="no-decoration sg-colors">
		<li>
			<span class="sg-swatch" style="background: #0062ba;"><span class="sg-label" style="color: #fff;">$blue-dark: <br>#0062ba; </span></span>
			
		</li> 
		<li>
			<span class="sg-swatch" style="background: #1eaef7;"><span class="sg-label">$blue: <br>#1eaef7;</span></span>
			
		</li>
		<li>
			<span class="sg-swatch" style="background: #cff0ff;"><span class="sg-label">$blue-light: <br>#cff0ff;</span></span>
			
		</li>
		<li>
			<span class="sg-swatch" style="background: #ffffff; border: 1px solid #eee;"><span class="sg-label">$white: <br>#ffffff;</span></span>
			
		</li>
	</ul>
	
	<ul class="no-decoration sg-colors">
		<li>
			<span class="sg-swatch" style="background: #17c96b;"><span class="sg-label">$green: <br>#17c96b;</span> </span>
			
		</li>
		<li>
			<span class="sg-swatch" style="background: #d4f9e4;"><span class="sg-label">$green-light: <br>#d4f9e4;</span></span>
			
		</li>
		<li>
			<span class="sg-swatch" style="background: #e23b53;"><span class="sg-label">$red: <br>#e23b53;</span></span>
			
		</li>
		<li>
			<span class="sg-swatch" style="background: #f9cad3;"><span class="sg-label">$red-light: <br>#f9cad3;</span></span> 
			
		</li>
	</ul> 
	<ul class="no-decoration sg-colors">
		<li>
			<span class="sg-swatch" style="background: #3f3161;"><span class="sg-label" style="color: #fff;">$purple: <br>#3f3161;</span></span>
			
		</li>
		<li>
			<span class="sg-swatch" style="background: #e0daf7;"><span class="sg-label">$purple-light: <br>#e0daf7;</span></span>
			
		</li>
		<li>
			<span class="sg-swatch" style="background: #ffda06;"><span class="sg-label">$yellow: <br>#ffda06;</span></span>
			
		</li>
		<li>
			<span class="sg-swatch" style="background: #fbf6bd;"><span class="sg-label">$yellow-light: <br>#fbf6bd;</span></span>
			
		</li>
	</ul>
	<ul class="no-decoration sg-colors">
		<li>
			<span class="sg-swatch" style="background: #000;">
				<span class="sg-label" style="color: #fff;">$black: <br>#000;</span>
			</span>
			
		</li>
		<li>
			<span class="sg-swatch" style="background: #6a6a6a;"><span class="sg-label" style="color: #fff;">$grey: <br>#6a6a6a; </span></span>
			
		</li>
		<li>
			<span class="sg-swatch" style="background: #BCC7CC;"><span class="sg-label">$grey-medium: <br>#BCC7CC; </span> </span>
			
		</li>
		<li>
			<span class="sg-swatch" style="background: #efefef;"><span class="sg-label">$grey-light: <br>#efefef; </span> </span>
			
		</li>
	</ul>
</div>