<div class="switch-container">
  {{#switch-radio-btn-items}}
  <div class="radio">
    <input type="radio" id={{switch-radio-btn-id}} name={{switch-radio-btn-name}} {{# switch-target }} data-switch-target="{{ switch-target }}" {{/ switch-target }}{{isChecked}}>
    <label for={{switch-radio-btn-id}}>{{radio-btn-label}}</label>
  </div>
  {{/switch-radio-btn-items}}
</div>