<!-- START: 00-atomer-04-handlingsknapper-23-knapp-veksle JS doc: toggleSwitch.js -->
<fieldset class="switch-container">
  <legend class="sr-only">{{ switch-legend }}</legend>
  {{# switch-radio-btn-items }}
  <div class="radio">
    <input class="sr-only" type="radio" id="{{ switch-radio-btn-id }}" name="{{switch-radio-btn-name}}" {{# switch-target }} data-switch-target="{{ switch-target }}" {{/ switch-target }}{{ isChecked }}>
    <label for={{ switch-radio-btn-id }}>{{ radio-btn-label }}</label>
  </div>
  {{/ switch-radio-btn-items }}
</fieldset>


<!-- END: 00-atomer-04-handlingsknapper-23-knapp-veksle -->