<ul class="no-decoration a-icon-list">
    {{# icon-list-items }}
        <li>
          <a href="#" class="a-linkArea">
            <i class="material-icons">{{{ icon-text }}}</i>
            <b>{{ list-item-name }}</b>
          </a>
          <span> {{ listItemDescription }}</span>
        </li>
    {{/ icon-list-items }}
</ul>
