<!-- Begin Footer -->
<footer class="a-footer">

		<div class="row">
			<div class="col-lg-3 offset-xl-1 hidden-xs-down">
				{{# footer-search }}
					{{> atomer-tekst-input }}
				{{/ footer-search }}

	    </div>
	    <div class="col-lg-9 col-xl-8">
	      <nav class="a-footerNav">
					<ul>
						<li><a class="a-hvr-underline" href="../..{{ link.sider-starteogdrive }}">
							<i class="material-icons">&#xE7F1;</i> starte og drive bedrift</a></li>
						<li><a class="a-hvr-underline" href="../..{{ link.sider-artikkel }}">
							<i class="fa fa-life-ring"></i> hjelpesider</a></li>
						<li>{{> atomer-link-telefonnummer }}</li>
					</ul>

	      </nav>

	    </div>

		</div>

		<div class="row">
	    <div class="col-lg-12">

	      <nav class="a-footerExtraNav">
					Brønnøysundregistrene, 8910 Brønnøysund
					<ul>
						<li><a class="" href="../..{{ link.sider-artikkel }}">Om Altinn</a></li>
						<li><a class="" href="../..{{ link.sider-artikkel }}">Følg oss</a></li>
						<li><a class="" href="../..{{ link.sider-artikkel }}">Cookies</a></li>
						<li><a class="" href="../..{{ link.sider-artikkel }}">Personvern</a></li>
					</ul>
					<div class="hidden-sm-up">
						{{# footer-toTop }}
						{{> atomer-knapp }}
						{{/ footer-toTop }}
					</div>
	      </nav>
	    </div>

		</div>
</footer>
<!-- End Footer -->
