<!-- START: 02-organismer-80-Modal-js-innhold-15-dashboard-sendmelding-tilganger -->
<div class="modal-content">
  <div class="modal-header a-modal-header">
    <div class="a-iconText a-iconText-background a-iconText-large">
      <div class="a-iconText-icon">
        <i class="ai ai-send
                 a-icon" aria-hidden="true"></i>
      </div>
      <h1 class="a-iconText-text mb-0">
        <span class="a-iconText-text-small"></span>
        <span class="a-iconText-text-large">Bestill tilgang</span>
      </h1>
    </div>
  </div>
  <div class="modal-body a-modal-body">

    <h2 class="a-h3">Hva trenger du tilgang til?</h2>
    <form data-toggle="validator" id="contactForm">
      <div class="row">
        <div class="col-12 col-sm-8">
          <ul class="nav nav-tabs custom-radio a-radioButtons a-navTabsRadio" role="tablist">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tilgang1" role="tab">
                <div class="custom-control custom-radio a-custom-radio">
                  <span class="custom-control-label">REST API</span>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tilgang2" role="tab">
                <div class="custom-control custom-radio a-custom-radio">
                  <span class="custom-control-label">SOAP API</span>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tilgang3" role="tab">
                <div class="custom-control custom-radio a-custom-radio">
                  <span class="custom-control-label">TUL og SERES</span>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tilgang4" role="tab">
                <div class="custom-control custom-radio a-custom-radio">
                  <span class="custom-control-label">Brannmur</span>
                </div>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </form>

    <div class="tab-content">
      <div class="tab-pane" id="tilgang1" role="tabpanel">
        {{ #tab1 }}
        <h3 class="a-h2">REST API</h3>
        <form data-toggle="validator" id="contactForm2">
          <div class="row">
            <div class="col-12 col-sm-8">
              <div class="form-group a-form-group mb-2">
                <label class="a-form-label">Hvilket miljø ønsker du tilgang til?</label> {{#miljo}} {{> atomer-valgknapp }} {{/miljo}}
              </div>

              {{#navn}} {{> atomer-tekst-input:mb-2 }} {{/navn}} {{#ip}} {{> atomer-tekst-input:mb-2 }} {{/ip}} {{#submit}} {{> atomer-knapp:mb-2 }} {{/submit}}

            </div>
          </div>
        </form>
        {{/tab1 }}
      </div>

      <div class="tab-pane" id="tilgang2" role="tabpanel">
        {{ #tab2 }}
        <h3 class="a-h2">SOAP API</h3>
        <form data-toggle="validator" id="contactForm2">
          <div class="row">
            <div class="col-12 col-sm-8">
              <div class="form-group a-form-group mb-2">
                <label class="a-form-label">Hvilket miljø ønsker du tilgang til?</label> {{#miljo}} {{> atomer-valgknapp }} {{/miljo}}
              </div>

              {{#navn}} {{> atomer-tekst-input:mb-2 }} {{/navn}} {{#ip}} {{> atomer-tekst-input:mb-2 }} {{/ip}} {{#submit}} {{> atomer-knapp:mb-2 }} {{/submit}}

            </div>
          </div>
        </form>
        {{/tab2 }}
      </div>

      <div class="tab-pane" id="tilgang3" role="tabpanel">
        {{ #tab3 }}
        <h3 class="a-h2">TUL og SERES</h3>
        <form data-toggle="validator" id="contactForm2">
          <div class="row">
            <div class="col-12 col-sm-8">
              <div class="form-group a-form-group mb-2">
                <label class="a-form-label">Hvilket verktøy ønsker du tilgang til?</label> {{#miljo}} {{> atomer-valgknapp }} {{/miljo}}
              </div>

              {{#visualstudio}} {{> atomer-radioknapp }} {{/visualstudio}}

              <div class="form-group a-form-group mb-2">
                <label class="a-form-label">Er det du som skal ha tilgang eller noe andre?</label>
                <form data-toggle="validator" id="contactForm">
                  <div class="row">
                    <div class="col-12 col-sm-8">
                      <ul class="nav nav-tabs custom-radio a-radioButtons a-navTabsRadio" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#meg" role="tab">
                            <div class="custom-control custom-radio a-custom-radio">
                              <span class="custom-control-label">Det er meg</span>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#andre" role="tab">
                            <div class="custom-control custom-radio a-custom-radio">
                              <span class="custom-control-label">Det er noen andre</span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </form>

                <div class="tab-content">
                  <div class="tab-pane" id="meg" role="tabpanel">

                  </div>
                  <div class="tab-pane" id="andre" role="tabpanel">

                    {{#navn}} {{> atomer-tekst-input:mb-2 }} {{/navn}} {{#epost}} {{> atomer-tekst-input:mb-2 }} {{/epost}}
                  </div>
                </div>
              </div>
              {{#submit}} {{> atomer-knapp:mb-2 }} {{/submit}}

            </div>
          </div>
        </form>
        {{/tab3 }}
      </div>


    </div>


  </div>
</div>

<!-- END: 02-organismer-80-Modal-js-innhold-15-dashboard-sendmelding-tilganger -->