<!-- START: 00-atomer-02-lenker-20-hurtignavigasjon-navbar -->
<nav class="nav nav-inline a-inline-page-link">
  <div class="list">
    {{# nav-elements-first }}
      <a href="{{ url }}" class="nav-link {{# disabled }} disabled {{/ disabled }}">{{ linktext }}</a>
    {{/ nav-elements-first }}
  </div>
  <div class="list">
    {{# nav-elements-second }}
      <a href="{{ url }}" class="nav-link {{# disabled }} disabled {{/ disabled }}">{{ linktext }}</a>
    {{/ nav-elements-second }}
  </div>
</nav>
<!-- END: 00-atomer-02-lenker-20-hurtignavigasjon-navbar -->
