<!-- START: 04-sider-infoportal-35-skjemaartikkel-55-artikkel-skjema-v-avskrivning -->
{{> maler-infoportal-artikkel-skjema }}

<!-- END: 04-sider-infoportal-35-skjemaartikkel-55-artikkel-skjema-v-avskrivning -->