<!-- START: 00-atomer-05-Ekspansjonsknapper-27-ekspanderbar-tittel JS doc: toggleFilter.js -->
<div class="a-collapse">
  <div class="{{# collapse-header-class }}{{ collapse-header-class }}{{/ collapse-header-class }}">
    <div class="row">
      <div class="col">
        <h2 class="a-collapseHeader a-h3{{# heading-action }} a-collapseHeader-with-actions{{/ heading-action }}">
          <a data-toggle="collapse" href="#" data-target="#{{{ collapse-header-contentID }}}" {{# data-parent }} data-parent="#{{ data-parent }}" {{/ data-parent }} aria-expanded="{{ aria-expanded-header }}" aria-controls="{{{ collapse-header-contentID }}}" class="a-collapse-title a-collapse-title--absolute no-decoration {{# collapsed }} collapsed {{/ collapsed }}">
                <span class="a-dropdownArrow"></span> <span>{{{ collapse-header-title }}}</span> <span class="a-js-none">{{{ collapse-header-title-none }}}</span>
            </a>
        </h2>
      </div>
      {{# heading-action }}
      <div class="col-auto">
        {{^ is-checkbox }}
        <div class="a-list-heading-action" tabindex="0">
          {{/ is-checkbox }} {{# is-checkbox }}
          <label class="a-list-heading-action a-selectable">
          {{/ is-checkbox }}
            {{# heading-text }}
            <span class="{{^ heading-text-class }}hidden-sm-down{{/ heading-text-class }}{{# heading-text-class }} {{ heading-text-class}} {{/ heading-text-class }}">
              {{ heading-text }}
            </span>
            {{/ heading-text }}
            {{> atomer-ikon }}
            {{# heading-selected-content }}
              <span class="hidden-sm-down a-visibleWhenSelected">
                {{ heading-selected-content-text }}
              </span>
              {{# heading-selected-content-icon }}
                {{> atomer-ikon }}
              {{/ heading-selected-content-icon }}
            {{/ heading-selected-content }}
          {{^ is-checkbox }}
          </div>
          {{/ is-checkbox }}
          {{# is-checkbox }}
            <input type="checkbox" class="sr-only a-js-selectable-checkbox"/>
          </label> {{/ is-checkbox }}
        </div>
        {{/ heading-action }}
      </div>
    </div>
  </div>

  <!-- END: 00-atomer-05-Ekspansjonsknapper-27-ekspanderbar-tittel -->