
<div class="panel panel-default a-collapse" role="tablist">

    <div class="panel-heading index-heading clearfix collapsed a-collapse-heading" role="tab">

        <a class="a-collapseBtn collapsed center-table-text" data-toggle="collapse" data-parent="#accordion" data-target="#{{ collapse-panel-id }}" href="#" aria-expanded="false" aria-controls="{{ collapse-panel-id }}">

			  <i class="material-icons a-collapse-icon">{{ collapse-panel-icon }}</i>

          <div class="a-collapse-heading-text">
            <h2>  {{ collapse-panel-title }}</h2>
          </div>


          <!-- Uncomment if arrow right should show<i class="material-icons a-collapse-arrowDown">&#xE313;</i><i class="material-icons a-collapse-arrowUp">&#xE316;</i> -->
		    </a>
    </div>

    <div id="{{ collapse-panel-id }}" class="panel-collapse a-collapsePanel collapse" role="tabpanel" aria-labelledby="{{ collapse-panel-id }}">
     <p class="a-text a-collapsePanel-content">
          {{ collapse-panel-content }}
      </p>
    </div>

</div>
