

<form data-toggle="validator">
  
  <div class="form-group a-form-group has-feedback">

    <div class="input-group">

      <!-- Label --> 
      <label class="input-group-addon" for="inputEmail">
          <i class="fa fa-envelope a-input-icon"></i> 
          <span class="a-input-labelText control-label"> E-post:</span>
      </label>

      <!-- Input  --> 
      <input type="email" maxlength="150" class="form-control" id="inputEmail" placeholder="f.eks post@karinordmann.no">

    </div>

    <i class="fa fa-check-circle form-control-feedback"></i><span class="sr-only">Icon showing if input is valid or not</span> 

    <div class="help-block with-errors a-message a-message-error"></div>

  </div>

  
</form>




<form>

  <div class="form-group a-form-group">

      <div class="input-group disabled">
        
        <!-- Label --> 
        <label class="input-group-addon" for="disabledemail" id="basic-addon1">
          <i class="fa fa-envelope a-input-icon"></i> 
          <span class="a-input-labelText"> E-post:</span>
        </label>
        
        <!-- Input  --> 
        <input type="email" id="disabledemail" class="form-control" placeholder="deaktivert tekstfelt" disabled="disabled"> 

      </div>  

  </div>

</form>