<form data-toggle="validator">
  
  <div class="form-group a-form-group has-feedback">

    <div class="input-group">

      <!-- Label --> 
      <label class="input-group-addon" for="inputPersonalNumber">
          <span class="scontrol-label"> Fødselsnr/brukernavn:</span>
      </label>

      <!-- Input  --> 
      <input type="text" minlength="11" maxlength="11" class="form-control" id="inputPersonalNumber" placeholder="11 siffer" placeholder="11 siffer">



    </div>

    <i class="fa fa-check-circle form-control-feedback"></i><span class="sr-only">Icon showing if input is valid or not</span> 

    <div class="help-block with-errors a-message a-message-error"></div>

  </div>

</form>
 