<!-- START: 03-maler-infoportal-_70-hurtighjelp-13-hurtighjelp-kontakt -->

<h2>Kontakt brukerstøtte:</h2>
<ul class="no-decoration a-stickyHelp-questionList">
  <li>
    <a class="a-stickyHelp-iconLeft" href="javascript:void(0)" target="_parent" data-toggle="altinn-modal" data-action="load" data-url="../../patterns/03-maler-infoportal-99-modal-js-10-kontaktskjema/03-maler-infoportal-99-modal-js-10-kontaktskjema.markup-only.html"
      data-target="#modal">
        <i class="ai ai-send ai-sm"></i>
        Skriv melding
      </a>
  </li>
  <li>
    <a class="a-stickyHelp-iconLeft" href="tel:+4775006000">
        <i class="ai ai-phone ai-sm"></i>
        75 00 60 00
      </a>
  </li>
</ul>

<!-- END: 03-maler-infoportal-_70-hurtighjelp-13-hurtighjelp-kontakt -->