{{# overview-enterprise-certificate }}
  <div class="row {{ additional-class }}">
    {{# enterprise-certificate-heading}}
      <div class="col-12 mb-2">
        <h3>{{ enterprise-certificate-heading }}</h3>
      </div>
    {{/ enterprise-certificate-heading}}

    {{# upload-certificate }}
      <div class="col-12 mb-2">
        {{> atomer-upload }}
      </div>
    {{/ upload-certificate }}

    {{# users }}
      <div class="col-12 ">
        <h3>{{ users-heading }}</h3>
        {{> molekyler-liste-unummerert }}
      </div>
    {{/ users }}
  </div>
{{/ overview-enterprise-certificate }}
