{{# overview-enterprise-certificate }}
  <div class="row">
    {{# enterprise-certificate-heading}}
      <div class="col-12 mb-2">
        <h3>
          {{ enterprise-certificate-heading }}
        </h3>
      </div>
    {{/ enterprise-certificate-heading}}

    {{# upload-certificate }}
      <div class="col-12">
        {{> atomer-upload }}
      <div class="col-12">
    {{/ upload-certificate }}

  </div>
{{/ overview-enterprise-certificate }}
