{{# message-info }}
  <div class="row">
    <div class="col-10">
      <span class="{{ message-status-class }}">{{ message-status }}</span><span class="{{ message-date-class }}">{{ message-date }}</span>
    </div>
    {{# activitylog }}
      <div class="col-2">
        {{> atomer-link-ikon:a-fontReg|a-fontSizeXS}}
      </div>
    {{/ activitylog }}
  </div>
  <div class="row">
    <div class="col mt-2">
      <p>{{ message-text }}</p>
    </div>
  </div>
{{/ message-info }}
{{# actions-row }}
  <div class="row">
    <div class="col">
      {{# action-button }}
        {{> atomer-knapp }}
      {{/ action-button }}
      {{# action-button-icon }}
        {{> atomer-knapp-ikon-tekst }}
      {{/ action-button-icon }}
    </div>
  </div>
{{/ actions-row }}