{{# message-info }}
  <div class="row">
    <div class="col-10">
      <span class="{{ message-status-class }}">{{ message-status }}</span><span class="{{ message-date-class }}">{{ message-date }}</span>
    </div>
    {{# activitylog }}
      <div class="col-2">
        {{> atomer-link }}
      </div>
    {{# activitylog }}
  </div>
  <div class="row">
    <div class="col mt-2">
      <p>{{ message-text }}</p>
    </div>
  </div>
{{/ message-info }}
{{# actions-row }}
  <div class="row">
    <div class="col">
      {{# action-buttons }}
        {{> atomer-knapp }}
      {{/ action-buttons }}
    </div>
  </div>
{{/ actions-row }}