<!-- START: 01-molekyler-05-forms-04-avkrysningsbokser-og-sok -->
<div class="row">
  <div>
    {{> atomer-avkrysningsboks }}
  </div>
  <div class="col-lg-4 col-md-6 col-sm-9">
    {{> atomer-tekst-input }}
  </div>
</div>

<!-- END: 01-molekyler-05-forms-04-avkrysningsbokser-og-sok -->