<!-- START: 02-organismer-30-seksjoner-80-login-dropdown -->
<!-- Begin #a-dropdown-personswitchList - -->
<div class="dropdown-menu a-dropdown-personswitchList a-dropdownTriangle">

  <div class="pt-3 px-3 pb-2">

    {{# login-email }} {{> atomer-tekst-input }} {{/ login-email }} {{# login-password }} {{> atomer-tekst-input }} {{/ login-password }} {{# login-button }} {{> atomer-knapp:mt-1 }} {{/ login-button }}

  </div>
</div>

<!-- END: 02-organismer-30-seksjoner-80-login-dropdown -->