<!-- START: 02-organismer-30-seksjoner-80-login-dropdown -->
<!-- Begin #a-dropdown-personswitchList - -->
<div class="dropdown-menu a-dropdown-personswitchList a-dropdownTriangle">

  <div class="pt-3 px-3 pb-2">

    {{# login-email }} {{> atomer-tekst-input }} {{/ login-email }} {{# login-password }} {{> atomer-tekst-input }} {{/ login-password }} {{# login-button }} {{> atomer-knapp:mt-1 }} {{/ login-button }}

    <!-- Dette er dummyinnhold for å kunne simulere brukerreiser i prototypen - -->
    {{# dummy-user-login }}
    <p>
      Logg inn som:<br>
      <a href="{{ link.sider-altinnett-profil-personlig }}">Personlig (Kristin Karlsen)</a><br>
      <a href="{{ link.sider-altinnett-profil-admin-leverandor }}">Admin leverandør (Alex Andersen)</a><br>
      <a href="{{ link.sider-altinnett-profil-admin-asf }}">Admin ASF (Ingrid Iversen)</a>
    </p>
    {{/ dummy-user-login }}

  </div>
</div>

<!-- END: 02-organismer-30-seksjoner-80-login-dropdown -->