<div class="a-page">
	{{> organismer-header }}

	<section id="content" tabindex="-1">

		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-10 offset-lg-1">
					{{# articlestart }}
					{{> felles-komponenter-artikkel-start }}
					{{/ articlestart }}
				</div>
			</div>

			{{# firstpart }}
			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg pt-2 pt-lg-3">

						<h2 class="a-h3">Kjennetegn aksjeselskap:</h2>

						{{> felles-komponenter-liste-unummerert-kuler }}

						{{# sectiontitle2 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle2 }}

						{{# paragraph2 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph2 }}

						{{# sectiontitle3 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle3 }}

						<p>Aksjekapitalen er sikkerhet for aksjeselskapets kreditorer og kan ikke brukes opp.
							{{# footnote1 }}
			        {{> felles-komponenter-link-med-popover-ikon }}
			      {{/ footnote1 }} Når du etablerer aksjeselskapet bør du derfor ha penger ut over aksjekapitalen som kan dekke aksjeselskapets kostnader.</p>

						<p>Det begrensede ansvaret, fleksibiliteten og omsetteligheten av aksjene gjør at et aksjeselskap er å foretrekke dersom man planlegger å være flere eiere og eventuelt få investorer i selskapet.</p>
						<p><a href="#" class="a-linkArea">Aksjeloven</a> en nyttig kilde til informasjon om hvilke regler aksjeselskapet må forholde seg til.</p>

						{{# sectiontitle4 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle4 }}

						{{# paragraph4 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph4 }}

						{{# paragraph5 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph5 }}

						{{# sectiontitle5 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle5 }}

						{{# subtitle1 }}
						{{> felles-komponenter-undertittel }}
						{{/ subtitle1 }}

						{{# paragraph6 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph6 }}

						{{# subtitle2 }}
						{{> felles-komponenter-undertittel }}
						{{/ subtitle2 }}

						{{# paragraph7 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph7 }}

						{{# subtitle3 }}
						{{> felles-komponenter-undertittel }}
						{{/ subtitle3 }}

						{{# paragraph8 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph8 }}

						{{# sectiontitle6 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle6 }}

						{{# paragraph9 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph9 }}

						{{# paragraph10 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph10 }}

						{{# paragraph11 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph11 }}

						{{# sectiontitle7 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle7 }}

						{{# paragraph12 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph12 }}

						{{# sectiontitle8 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle8 }}

						{{# paragraph13 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph13 }}

						{{# sectiontitle9 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle9 }}

						{{# paragraph14 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph14 }}

						{{# paragraph15 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph15 }}

						{{# paragraph16 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph16 }}

						{{# paragraph17 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph17 }}

						{{# sectiontitle10 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle10 }}

						{{# paragraph18 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph18 }}

						{{# sectiontitle11 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle11 }}

						{{# paragraph19 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph19 }}

						{{# sectiontitle11b }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle11b }}

						{{# compare1 }}
							{{> organismer-sammenligning }}
						{{/ compare1 }}

						{{# sectiontitle12 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle12 }}

						{{# paragraph20 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph20 }}


				</div><!-- END .col-... -->
			</div><!-- END .row -->
			{{/ firstpart }}

			{{# picturecontent }}
			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 mb-5">
						{{> felles-komponenter-bildeblokk }}
				</div><!-- END .col-... -->
			</div><!-- END .row -->
			{{/ picturecontent }}

		</div> <!-- END Container -->

	</section>

	{{> organismer-footer }}
</div>
