<div class="a-page">
	{{> organismer-header }}

	<section id="content" tabindex="-1">

		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-10 offset-lg-1">
					{{# articlestart }}
					{{> felles-komponenter-artikkel-start }}
					{{/ articlestart }}
				</div>
			</div>

			{{# firstpart }}
			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg pt-2 pt-lg-3">

						{{# sectiontitle1 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle1 }}

						{{# paragraph1 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph1 }}

						{{# sectiontitle2 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle2 }}

						{{# paragraph2 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph2 }}

						{{# sectiontitle3 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle3 }}

						{{# paragraph3 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph3 }}

						{{# sectiontitle4 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle4 }}

						{{# paragraph4 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph4 }}

						{{# sectiontitle5 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle5 }}

						{{# paragraph5 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph5 }}

						{{> felles-komponenter-radioknapp:mt-4 }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->
			{{/ firstpart }}

		</div> <!-- END Container -->

	</section>

	{{> organismer-footer }}
</div>
