<!-- Modal -->
<span class="a-scene a-page">
  <div class="a-modal {{ bodyClass }}" id="{{ modal-id }}" tabindex="-1" role="dialog" aria-labelledby="{{ modal-label }}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- Modal Top -->
            <div class="a-modal-top">

              {{> atomer-logo }}

              <div class="a-modal-top-user">
                {{> atomer-innlogget }}
              </div>

            </div><!-- END Modal Top -->

          </div>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1">
            <!-- Modal NavBar -->
            <div class="a-modal-navbar">

              {{# modalBack }}
              <button type="button" class="a-modal-back" onclick="goBack()" data-dismiss="modal" aria-label="Lukk">
                <i class="material-icons a-modal-back-icon">keyboard_backspace</i>
              </button>
              {{/ modalBack }}

              <button type="button" class="a-modal-close" data-dismiss="modal" aria-label="Lukk">
                <i class="material-icons a-modal-close-icon">close</i>
              </button>

            </div><!-- END Modal NavBar -->
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1">

            <!-- Modal window -->
            <span class="a-right-panel a-page a-scene_element {{ animationClass }}">

              <div class="modal-content">

                <!-- Modal header -->
                <div class="a-panelIconLeft a-bgBlueDarker">
                    <i class="material-icons">{{{ modalHeader-icon }}}</i>

                    <div class="a-panelIconLeft-body">
                      {{#isIntroText}}
                      <span class="a-panelIconLeft-introText">
                         {{{ modalHeader-introText }}}
                        </span>
                      {{/isIntroText}}
                      <h1 class="a-textSize3">{{{ modalHeader-title }}}
                        <span class="a-panelIconLeft-code">{{modalHeader-title-code}}</span>
                      </h1>
                    </div>
                </div> <!-- END Modal header -->

                <!-- Modal body -->
                <div class="modal-body a-modal-body a-text">

                  {{# modal-title }}
                    {{> atomer-seksjonstittel }}
                  {{/ modal-title }}

                  {{# modal-lead }}
                    {{> atomer-intro-tekst }}
                  {{/ modal-lead }}

                  {{# modal-input-orgName }}
                    {{> atomer-tekst-input:input-group-large }}
                  {{/ modal-input-orgName }}

                  {{# modal-input-textArea }}
                    <!-- {{> atomer-? }} -->
                  {{/ modal-input-textArea }}

                  {{# modal-input-radio }}
                    {{> atomer-radioknapp }}
                  {{/ modal-input-radio }}

                  {{# modal-chooseCategory }}
                    <div class="a-modal-contentFullWidth">
                      {{> atomer-radioknapp }}
                    </div>
                  {{/ modal-chooseCategory }}

                  {{# modal-input-adress }}
                    <!-- {{> molekyler-? }} -->
                  {{/ modal-input-adress }}

                  {{# modal-validatorInfo }}
                    {{> atomer-validator-info }}
                  {{/ modal-validatorInfo }}

                  {{# modal-validatorInfoOK }}
                    {{> atomer-validator-info:a-textGreen }}
                  {{/ modal-validatorInfoOK }}

                  {{# modal-extraInfo }}
                    {{> atomer-liste-unummerert-kuler:m-x-0|a-bulletList-light }}
                  {{/ modal-extraInfo }}

                  {{# modal-date }}
                    {{> atomer-datovelger }}
                  {{/ modal-date }}


                  <div class="a-btn-group">
                    {{# modal-nextbutton }}
                      {{> atomer-knapp }}
                    {{/ modal-nextbutton }}

                    {{# modal-successbutton }}
                      {{> atomer-knapp }}
                    {{/ modal-successbutton }}

                    {{# modal-deactivated }}
                      {{> atomer-knapp }}
                    {{/ modal-deactivated }}

                    {{# modal-discard }}
                      {{> atomer-knapp }}
                    {{/ modal-discard }}
                  </div>

                </div><!-- END Modal body -->

              </div><!-- END .modal-Content -->

            </span>  <!-- END Modal window -->

          </div>
        </div>
      </div>
    </div>
  </div>
</span>
