<div class="a-page" id="smoothState">

	<!-- Proxy content container, for inclusion in more than one place -->
	<div class="a-js-propagatedContentOrigin suggest">
		<h2 class="p-t-5">Forslag til deg:</h2>
		{{> atomer-liste-nummerert }}
	</div>
	<!-- END Proxy content container -->

	{{> organismer-header }}

	<div class="container" id="content" tabindex="-1">

			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 p-y-3">
					{{# article-search }}
						{{> atomer-tekst-input }}
					{{/ article-search }}
				</div>
			</div>


				<div class="row hidden-lg-up">

						<div id="a-js-suggestionList-mobile" class="col-sm-12 m-b-5 a-js-propagatedContentDestination" data-refclass="suggest"></div>

				</div>

				<div class="row a-filter-container">
					<div class="col-sm-12 col-md-4">
						<span class="a-textSize2">
							<span class="din-bold">1287</span> skjemaer
						</span>
					</div>
					<div class="col-sm-12 col-md-8">
						<div class="a-filter">

						  <div class="a-btn-group" id="filterSkjema">

										{{> atomer-ekspanderbar-tekst(collapse-primary-text: "Alle typer skjema", collapse-filter-id: "filter-type") }}

										{{> atomer-ekspanderbar-tekst(collapse-primary-text: "Alle etater", collapse-filter-id: "filter-etat") }}

										{{> atomer-ekspanderbar-tekst(collapse-primary-text: "Alle frister", collapse-filter-id: "filter-frist") }}

						  </div><!-- /btn-group -->

						</div>

					</div>
				</div>

				<div class="row a-filter-container">

					<div id="filter-type" class="a-collapseContent collapse" role="tabpanel" aria-expanded="true">
						{{# filterType }}
							{{> atomer-valgknapp }}
						{{/ filterType }}
					</div>

					<div id="filter-etat" class="a-collapseContent collapse" role="tabpanel" aria-expanded="true">
						{{# filterEtat }}
							{{> atomer-valgknapp }}
						{{/ filterEtat }}
					</div>

					<div id="filter-frist" class="a-collapseContent collapse" role="tabpanel" aria-expanded="true">
						{{# filterFrist }}
							{{> atomer-valgknapp }}
						{{/ filterFrist }}

					</div>

				</div>

				<div class="a-colnav-container">

					<div class="row">
								{{> molekyler-meny-kolonner }}

						<div id="a-js-suggestionList" class="col-sm-12 col-lg-6 offset-lg-1 hidden-md-down a-js-propagatedContentDestination" data-refclass="suggest"></div>
					</div>

				</div>

		{{> organismer-footer }}

	</div> <!-- END Container -->



</div>
