<!-- START: 01-molekyler-05-lister-_00-liste-ekspanderbart-innhold -->
{{# column-items }} {{# column-info-delete-edit }}
<div class="pl-lg-8 pr-lg-4 pl-md-8 pr-md-4 pt-lg-2 px-1 py-1 pb-sm-2">
  {{# additional-info }}
  <div class="pb-1 hidden-md-up">
    {{# info-list }}
    <div class="col-12">{{{ info }}}</div>
    {{/ info-list }}
  </div>
  {{/ additional-info }} {{{ column-text }}}
</div>
{{# action-buttons }}
<div class="a-list-fullWidthRow pr-lg-4">
  <div class="modal-table-segment">
    <div class="a-btn-group float-right mt-1" id="btnGroup">
      {{# button-group-items }}
      <div class="d-inline-block"> {{> atomer-knapp-ikon-tekst }} </div>
      {{/ button-group-items }}
    </div>
  </div>
</div>
{{/ action-buttons }} {{/ column-info-delete-edit }} {{# column-switches-with-text }} {{> molekyler-midtstilte-valgknapper-med-tekst }} {{/ column-switches-with-text }} {{# column-info-delete-add }} {{> molekyler-info-delete-add }} {{/ column-info-delete-add
}} {{/ column-items }}

<!-- END: 01-molekyler-05-lister-_00-liste-ekspanderbart-innhold -->