<!-- START: 01-molekyler-03-media-120-altinnett-arrangement -->
<div class="an-arrangement-block">
  <a href="#" class="an-arrangement-block-inner a-noUnderline">
    {{# dateSmall }}
      <div class="mr-1 an-arrangement-block-show-large">
        {{> atomer-dato }}
      </div>
    {{/ dateSmall }}
    {{# dateLarge }}
      <div class="mr-1 an-arrangement-block-hidden-small">
        {{> atomer-dato }}
      </div>
    {{/ dateLarge }}
    
    <div class="an-arrangement-block-text">
      <h3 class="mb-0">{{ arrangementTitle }}</h3>
      <p>{{ arrangementTitleContent }}</p>
    </div>
  </a>
  <a href="#" class="an-arrangement-block-inner a-noUnderline">
    {{# dateSmall }}
      <div class="mr-1">
        {{> atomer-dato }}
      </div>
    {{/ dateSmall }}
    <div class="an-arrangement-block-text">
      <p>{{ arrangementContent }}</p>
    </div>
  </a>
</div>
<!-- END: 01-molekyler-03-media-120-altinnett-arrangement -->