<div class="card a-accordion-card a-collapsePanel{{# isLarge }} {{{ isLarge }}}{{/ isLarge }} {{{ styleModifier }}}">
  <div class="card-header a-js-index-heading a-collapsePanel-heading collapsed {{isExpanded}}"{{# collapse-panel-header-id }} id="{{ collapse-panel-header-id }}"{{/ collapse-panel-header-id }} role="tab">
    <a href="#" data-toggle="collapse" data-target="#{{{ collapseID }}}" aria-expanded="false" aria-controls="{{ collapseID }}" {{# dataParent }}data-parent="{{{dataParent}}}"{{/ dataParent }}>
      {{# collapseHeader }}
        {{^ isElement }}
          {{> molekyler-ikon-tekst }}
        {{/ isElement }}
        {{# isElement }}
          {{> molekyler-innboks-header-innhold }}
        {{/ isElement }}
      {{/ collapseHeader }}
    </a>
  </div>
  <div id="{{ collapseID }}" class="a-collapsePanel-body collapse {{ isVisibleFromStart }}" role="tabpanel" aria-labelledby="{{ collapse-panel-header-id }}">
    <div class="card-block a-text a-collapsePanel-body-content a-collapseContent-delay">
      {{{ collapse-panel-content }}}
    </div>
  </div>
</div>
