<div class="panel a-collapsePanel {{{isLarge}}} {{{ styleModifier }}}" role="tablist">

    <a href="javascript:void(0)" class="panel-heading index-heading collapsed a-collapsePanel-heading {{isExpanded}}" role="tab" tabindex="0" data-toggle="collapse" data-target="#{{{collapseID}}}" aria-expanded="false" aria-controls="#{{{collapseID}}}" {{{dataParent}}}>
      {{# collapseHeader }}
          {{> molekyler-ikon-tekst }}
      {{/ collapseHeader }}
    </a>

    <div id="{{ collapseID }}" class="panel-collapse a-collapsePanel-body collapse {{{ isVisibleFromStart }}}" role="tabpanel" aria-labelledby="{{ collapse-panel-id }}">
     <article class="a-text a-collapsePanel-body-content a-collapseContent-delay">
          {{{ collapse-panel-content }}}
      </article>
    </div>

</div>
