<div class="card a-accordion-card a-collapsePanel {{{ isLarge }}} {{{ styleModifier }}}">
  <div class="card-header a-js-index-heading a-collapsePanel-heading collapsed {{isExpanded}}" role="tab">
    <a href="#{{ collapseID }}" tabindex="0" data-toggle="collapse" data-target="#{{{ collapseID }}}" aria-expanded="false" aria-controls="#{{{ collapseID }}}" {{# dataParent }}data-parent="{{{ dataParent }}}"{{/ dataParent }}>
      {{# collapseHeader }}
        {{^ isElement }}
          {{> molekyler-ikon-tekst }}
        {{/ isElement }}
        {{# isElement }}
          {{> molekyler-innboks-header-innhold }}
        {{/ isElement }}
      {{/ collapseHeader }}
    </a>
  </div>
  <div id="{{ collapseID }}" class="a-collapsePanel-body collapse {{{ isVisibleFromStart }}}" role="tabpanel" aria-labelledby="{{ collapse-panel-id }}">
    <article class="card-block a-text a-collapsePanel-body-content a-collapseContent-delay">
      {{{ collapse-panel-content }}}
    </article>
  </div>
</div>
