<div class="panel panel-default a-panel a-collapse" role="tablist">
  {{> molekyler-panel-header }}
  <div id="{{ collapse-panel-id }}" class="panel-collapse a-panel-collapse collapse" role="tabpanel" aria-labelledby="{{ collapse-panel-id }}">
   <p class="a-text a-panel-collapse-content">




    </p>
  </div>
</div>
