<div class="panel a-collapsePanel {{{isLarge}}} {{{ styleModifier }}}" role="tablist">

	<div class="panel-heading index-heading collapsed a-collapsePanel-heading {{isExpanded}}" role="tab" tabindex="0" data-toggle="collapse" data-target="#{{{collapseID}}}" aria-expanded="false" aria-controls="#{{{collapseID}}}" {{{dataParent}}}>
		{{# collapseHeader }}
				{{> molekyler-ikon-tekst }}
		{{/ collapseHeader }}
	</div>

	<div id="{{ collapseID }}" class="panel-collapse a-collapsePanel-body no-background collapse {{{ isVisibleFromStart }}}" role="tabpanel" aria-labelledby="{{ collapse-panel-id }}"> 

		<div class="panel-collapse-content-section">
      <div class="p-x-1">
          {{> atomer-link}}
      </div>
      <div>
          {{> molekyler-grupperte-fremhevede-knapper }}
      </div>
    </div>
	</div>
</div>
