<div class="card a-accordion-card a-collapsePanel{{# isLarge }} {{{ isLarge }}}{{/ isLarge }} {{{ styleModifier }}}">
  <div class="card-header a-js-index-heading a-collapsePanel-heading collapsed {{isExpanded}}" id="{{ collapse-panel-header-id }}" role="tab">
    <a href="#" data-toggle="collapse" data-target="#{{{ collapseID }}}" aria-expanded="false" aria-controls="{{ collapseID }}" {{# dataParent }}data-parent="{{{dataParent}}}"{{/ dataParent }}>
      {{# collapseHeader }}
        {{> molekyler-ikon-tekst }}
      {{/ collapseHeader }}
    </a>
  </div>
  <div id="{{ collapseID }}" class="a-collapsePanel-body collapse {{{ isVisibleFromStart }}}" role="tabpanel" aria-labelledby="{{ collapse-panel-header-id }}">
    <div class="a-collapsePanel-body-content">
        {{# profileForm }}
        <div class="row">
          <div class="col-lg-7">
            <h2 class="a-h3">{{ sectionTitle1 }}</h2>
            {{# emailField }}
              {{> atomer-tekst-input }}
            {{/ emailField }}

            {{# phoneNumberField }}
              {{> atomer-tekst-input }}
            {{/ phoneNumberField }}

            {{# smsMessage }}
              {{> atomer-varsel:mt-0 }}
            {{/ smsMessage }}

            {{# organizationField }}
              <h2 class="a-h3 mt-3">{{ sectionTitle2 }}</h2>
              {{> atomer-tekst-input }}
            {{/ organizationField }}
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            {{# chooseServices }}
              <h2 class="a-h3 mt-3">{{ sectionTitle3 }}</h2>
              {{> atomer-avkrysningsboks }}
            {{/ chooseServices }}

            {{# chooseRoles }}
              <h2 class="a-h3 mt-3">{{ sectionTitle4 }}</h2>
              {{> atomer-avkrysningsboks }}
            {{/ chooseRoles }}

            {{# chooseSubscriptions }}
              <h2 class="a-h3 mt-3">{{ sectionTitle5 }}</h2>
              {{> atomer-avkrysningsboks }}
            {{/ chooseSubscriptions }}

            {{# submitButton }}
              {{> atomer-knapp:mt-3 }}
            {{/ submitButton }}
          </div>
        </div>

        {{/ profileForm }}
    </div>
  </div>
</div>
