<div class="card a-accordion-card a-collapsePanel {{{ styleModifier }}}">
	<div class="card-header a-js-index-heading a-collapsePanel-heading collapsed {{ isExpanded }}" id="{{ collapse-panel-header-id }}" role="tab">
		<a href="#" data-toggle="collapse" data-target="#{{{ collapseID }}}" aria-expanded="false" aria-controls="{{{ collapseID }}}" {{# dataParent }}data-parent="{{{dataParent}}}"{{/ dataParent }}>
			{{# collapseHeader }}
				{{> molekyler-ikon-tekst }}
			{{/ collapseHeader }}
		</a>
	</div>
	<div id="{{ collapseID }}" class="a-collapsePanel-body a-collapsePanel-body--border no-background collapse {{{ isVisibleFromStart }}}" role="tabpanel" aria-labelledby="{{ collapse-panel-header-id }}">
		<div class="panel-collapse-content-section px-1 px-sm-2 pb-1 pb-sm-2">
			<div class="a-second-action pt-2 pt-sm-3" id="searchForPerson">
				{{# personSearch }}
					{{# display }}
						{{> atomer-tekst-input }}
					{{/ display }}
				{{/ personSearch }}
			</div>
			<div class="a-fourth-action mt-2 mt-sm-3" id="searchHiddenForClient">
        {{# addEmployeeButton }}
          {{> atomer-handlingsknapp-full-bredde }}
        {{/ addEmployeeButton }}
			</div>
		</div>
		<div id="firstTable">
			{{# employeeTable }}
        {{> molekyler-liste-unummerert }}
			{{/ employeeTable }}
		</div>
	</div>
</div>
