<div class="card a-accordion-card a-collapsePanel {{{ styleModifier }}}">
  <div class="card-header a-js-index-heading a-collapsePanel-heading collapsed {{isExpanded}}" id="{{ collapse-panel-header-id }}" role="tab">
    <a href="#" data-toggle="collapse" data-target="#{{{ collapseID }}}" aria-expanded="false" aria-controls="{{ collapseID }}">
      {{# collapseHeader }}
        {{> molekyler-ikon-tekst }}
      {{/ collapseHeader }}
    </a>
  </div>
  <div id="{{ collapseID }}" class="a-collapsePanel-body collapse {{{ isVisibleFromStart }}}" {{# dataParent }}data-parent="{{{dataParent}}}"{{/ dataParent }} role="tabpanel" aria-labelledby="{{ collapse-panel-header-id }}">
    <div class="a-collapsePanel-body-content">
      {{# yourRolesAndRights}}
        {{> organismer-delegering-roller }}
      {{/ yourRolesAndRights}}
    </div>
  </div>
</div>
