<div class="alert alert-{{ alertClass }}">
  {{ excerpt.short }}
</div>


<span id="mail-error" class="a-textfield-error">E-postadressen er ikke gyldig.</span>


<div class="pull-left altinn-notification arrow altinn-info altinn-notification-information">
    Denne kontaktinformasjonen er hentet fra <a href="https://www.altinn.no/no/Forms-and-Services/Etater/The-Bronnoysund-Register-Centre/Samordnet-registermelding---Hovedblankett/?fullview=true" target="_blank">Enhetsregisteret</a>. Bruk denne og/eller legg til ny kontaktinformasjon.
</div>