<div class="a-iconText {{ variation-class }}">
  <!-- ICON -->
  <div class="a-iconText-icon">
    {{# hasIcon }}
      {{> atomer-ikon }}
    {{/ hasIcon }}
    {{# hasDate }}
      {{> atomer-dato }}
    {{/ hasDate }}
  </div>
  <!-- TEXT -->
  <div class="a-iconText-text"> 
    {{# hasTextSmall }}
      <p class="a-iconText-text-small">{{ textSmall }}</p>
    {{/ hasTextSmall }}
    <p class="a-iconText-text-large">{{ icontext }} {{{tag}}} </p>
  </div>
</div>
