<!-- START: 02-organismer-30-seksjoner-90-altinnett-produkt-presentasjon -->
<div class="row mb-6">
  <div class="mb-2 {{ title-col }} {{ title-offset }}">
    <h2 class="a-fontBold a-blueDarkerText mb-0 pb-0">{{ section-title }}</h2>
    <p class="a-fontSizeL a-blueDarkerText">{{ description }}</p>
  </div>

  {{# promotedProducts }} {{> molekyler-altinnett-presentasjonsblokk }} {{/ promotedProducts }} {{# showAllLink }}
  <div class="col-12 mt-1">
    {{> atomer-link }}
  </div>
  {{/ showAllLink }}
</div>

<!-- END: 02-organismer-30-seksjoner-90-altinnett-produkt-presentasjon -->