<!-- START: 02-organismer-30-seksjoner-90-altinnett-produkt-presentasjon -->
<div class="row">
  <div class="{{ title-col }} {{ title-offset }}">
    <h2 class="a-fontBold a-blueDarkerText mb-0 pb-0">{{ section-title }}</h2>
    <p class="a-fontSizeL a-blueDarkerText">{{ description }}</p>
  </div>

  {{# product1 }} {{> molekyler-altinnett-presentasjonsblokk }} {{/ product1 }} {{# product2 }} {{> molekyler-altinnett-presentasjonsblokk }} {{/ product2 }} {{# product3 }} {{> molekyler-altinnett-presentasjonsblokk }} {{/ product3 }} {{# showAllLink }}
  <div class="col-12 mt-2 mb-4">
    {{> atomer-link }}
  </div>
  {{/ showAllLink }}
</div>

<!-- END: 02-organismer-30-seksjoner-90-altinnett-produkt-presentasjon -->