<div class="modal-body a-modal-body">
  <p> 
      {{{ modal-content }}}
  </p>
  <div class="a-btn-group">
      {{# modal-nextbutton }}
          {{> felles-komponenter-link }}
      {{/ modal-nextbutton }}

      {{# modal-successbutton }}
          {{> felles-komponenter-link }}
      {{/ modal-successbutton }}

      {{# modal-startover }}
          {{> felles-komponenter-link }}
      {{/ modal-startover }}

      {{# modal-errorbutton }}
          {{> felles-komponenter-link }}
      {{/ modal-errorbutton }}

      {{# modal-discard }}
          {{> felles-komponenter-link }}
      {{/ modal-discard }}
  </div>
</div>