<div class="modal-content">
    <div class="modal-header a-modal-header">
        <div class="a-iconText a-iconText-background a-iconText-large">
            <!-- ICON -->
            <div class="a-iconText-icon">
                <i class="ai ai-closedmessage a-icon a-icon-circle" aria-hidden="true"></i>
            </div>
            <!-- TEXT -->
            <h1 class="a-iconText-text mb-0">
                <span class="a-iconText-text-small"></span>
                <span class="a-iconText-text-large">Kontaktskjema</span>
            </h1>

        </div>
    </div>
    <div class="modal-body a-modal-body">

        <p>For at vi skal kunne hjelpe deg så fort som mulig er det viktig at du oppgir tilstrekkelig med informasjon om problemstillingen din. Haster det, ta kontakt per telefon 75 00 60 00.</p>

        <form data-toggle="validator" id="contactForm">
          <div class="row">
            <div class="col-8">
              {{#fornavn}}
                {{> atomer-tekst-input:mb-2 }}
              {{/fornavn}}

              {{#etternavn}}
                {{> atomer-tekst-input:mb-2 }}
              {{/etternavn}}

              {{#epost}}
                {{> atomer-tekst-input:mb-2 }}
              {{/epost}}

              {{#telefon}}
                {{> atomer-tekst-input:mb-2 }}
              {{/telefon}}

              {{#tema}}
                {{> atomer-flervalg-stilisert:mb-2 }}
              {{/tema}}

              {{#question}}
                {{> atomer-tekstfelt:mb-2 }}
              {{/question}}

              {{#submit}}
                {{> atomer-knapp:mb-2 }}
              {{/submit}}
            </div>
          </div>
        </form>


    </div>
</div>

<script>
   $(document).ready(function () {
       $.validator.unobtrusive.parse("#contactForm");
   });


function setupFormValidation(formId, buttonId) {
    var $submitBtn = $(buttonId);

    if (!buttonId)
        $submitBtn = $(formId + ' button[type="submit"]');

    $.validator.unobtrusive.parse($(formId));

    $submitBtn.addClass('disabled');
    $submitBtn.prop('disabled', 'disabled');

    var wasSubmitted = false;
    $(formId).on('blur input change', 'input', function () {
        wasSubmitted = !$.isEmptyObject($(formId).validate().submitted);

        var isDirty = isFormDirty(formId);
        $submitBtn.closest('.a-current-page').data().isDirty = isDirty;
        if (isDirty && $(formId).validate().checkForm()) {
            $submitBtn.prop('disabled', false);
            $submitBtn.removeClass('disabled');
        }
        else {
            $submitBtn.prop('disabled', 'disabled');
            $submitBtn.addClass('disabled');
        }

        if (!wasSubmitted) {
            $(formId).validate().submitted = {};
        }
    });

    $(formId + ' input')
        .on('blur',
            function () {
                $(formId).valid();
            });
}

function isFormDirty(formId) {
    return isAnyFileUploaded($(formId)) && isAnyInputFieldDirty($(formId));
}

/**
 * Goes through all input fields in a form and compares their initial value with current value. The function returns true if any
 * of the fields has changed.
 *
 * @param {jQuery} form - The form element to be checked for dirty fields.
 *
 * @returns {bool} true if any of the fields are dirty. Oterwise false.
 */
function isAnyInputFieldDirty(form) {
    var inputs = form.find(":input")
        .not("button")
        .filter(function () {
            return $(this).attr("data-dirtycheck") !== "false";
        });

    if (inputs.length > 0) {
        var changed = false;
        inputs.each(function () {
            if ($(this)[0].type === "checkbox") {
                if ($(this)[0].checked !== $(this)[0].defaultChecked) {
                    changed = true;
                    return false;
                }
            }
            else {
                if ($(this).attr('data-is-new-field') === 'true'
                    || $(this)[0].value !== $(this)[0].defaultValue
                    || $(this).attr('data-is-changed') === 'true') {
                    changed = true;
                    return false;
                }
            }
            return true;
        });
        return changed;
    }
    return true;
}

function isAnyFileUploaded(form) {
    var uploadFormControl = form.find("input:file");
    if (uploadFormControl.length > 0) {
        return uploadFormControl[0].files.length > 0;
    }
    return true;
}
</script>
