<!-- START: 02-organismer-80-Modal-js-innhold-20-dashboard-redigerTjeneste-altinn -->
<div class="modal-content">
  <div class="modal-header a-modal-header">
    <div class="a-iconText a-iconText-background a-iconText-large">
      <h1 class="a-iconText-text mb-0 ml-2">
        <span class="a-iconText-text-small"></span>
        <span class="a-iconText-text-large">Endre informasjon om tjenesten på altinn.no</span>
      </h1>
    </div>
  </div>
  <div class="modal-body a-modal-body">

    <form data-toggle="validator" id="contactForm">
      <div class="row">
        <div class="col-12">

          <h3>Beskrivelse av tjenesten 3987-1 - Korrespondanse til Patentstyret</h3>
          <p><a target="_blank" href="https://www.altinn.no/skjemaoversikt/patentstyret/korrespondanse-til-patentstyret/">altinn.no</a></p>

          {{# description-about }} {{> atomer-tekstfelt:mb-2 }} {{/ description-about }} {{# description-when }} {{> atomer-tekstfelt:mb-2 }} {{/ description-when }} {{# description-who }} {{> atomer-tekstfelt:mb-2 }} {{/ description-who }} {{# description-more
          }} {{> atomer-tekstfelt:mb-2 }} {{/ description-more }}

        </div>
      </div>
    </form>
    {{# submit}} {{> atomer-knapp:mb-2 }} {{/ submit}}

  </div>

  <!-- END: 02-organismer-80-Modal-js-innhold-20-dashboard-redigerTjeneste-altinn -->