<!-- START: 00-atomer-03-knapper-25-knapp-ikon-tekst -->
<button type="button" class="{{{ button-class }}} {{{ button-colorClass }}} {{ styleModifier }}" {{# aria-label }} aria-label="{{ aria-label }}" {{/ aria-label }} {{# link-url }} onclick="location.href='{{{ link-url }}}';" {{/ link-url }}{{# disabled
  }} disabled{{/ disabled}} {{# dropdown-overflow }} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{/ dropdown-overflow }}>

  {{# button-icon }}
    {{> atomer-ikon }}
  {{/ button-icon }}

  {{# char-icon }}
    <i class="a-charIcon" aria-hidden="true"><span>{{{ char }}}</span></i>
  {{/ char-icon }}

  {{# button-dot }}
    <span class="a-dot {{dot-color}}"></span>
  {{/ button-dot }}
  {{# responsive-br }}
    <br />
  {{/ responsive-br }}
  {{# button-text }}
    <span class="a-btn-icon-text {{{ button-textClass }}}">
      {{{ button-text }}}
      {{# button-text-second }}
        <span class="a-btn-icon-text-second {{ button-text-second-class }}">{{{button-text-second}}}</span>
      {{/ button-text-second }}
    </span>
  {{/ button-text }}

	{{# button-shadow-label }}
		{{> atomer-merkelapp }}
	{{/ button-shadow-label }}

</button> {{# dropdown-overflow }} {{> organismer-dropdown-overflow }} {{/ dropdown-overflow }}

<!-- END: 00-atomer-03-knapper-25-knapp-ikon-tekst -->