<div class="d-flex align-items-center flex-lg-row mb-1 mb-md-0">
  {{# filtersNotSelected }}<p class="d-inline a-fontSizeM mb-1 text-nowrap align-self-start mb-lg-0">Velg filter:</p>{{/ filtersNotSelected }}
  {{# filtersSelected }}<p class="d-inline a-fontSizeM mb-1 text-nowrap align-self-start mb-lg-0">Valgte filter:</p>{{/ filtersSelected }}
  <div class="d-flex flex-wrap align-items-start pl-1">
    {{# active-filters }}
      {{> atomer-inputchip }}
    {{/ active-filters }}
    {{# addButton }}
      {{> felles-komponenter-knapp-ikon }}
    {{/ addButton }}
  </div>
</div>