<!-- START: 02-organismer-70-Modal-innhold-10-modal -->
<!-- Modal -->
<span class="a-scene a-page">
  <div class="a-modal fade {{ bodyClass }}" id="{{ modal-id }}" role="dialog" aria-labelledby="{{ modal-label }}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- Modal Header -->
              {{> molekyler-modal-header }}
            <!-- END Modal Header -->

          </div>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1">

            <!-- Modal NavBar -->
            {{# modal-navbar }}
              {{> molekyler-modal-navbar }}
            {{/ modal-navbar }}
            <!-- END Modal NavBar -->
          </div>
        </div>

        <div class="row">
          <div class="col-xl-10 offset-xl-1">

            <!-- Modal window -->
            <span class="a-right-panel a-page a-scene-element">

              <div class="modal-content">

                <!-- Modal Body header -->
                {{> molekyler-modal-body-header }}

                <!-- Modal Body content -->
                <div class="modal-body a-modal-body a-text">
                  <p> {{{ modal-content }}}</p>
                </div>
              </div>
            </span>
</div>
</div>
</div>
</div>
</div>
</span>

<!-- END: 02-organismer-70-Modal-innhold-10-modal -->