
<ul class="a-list {{ styleModifier }}">
  {{# rows }}
    <li {{# onclick }} onclick="{{{ onclick }}}" {{/ onclick }} class="{{ additional-classes }}">
      <div class="row">
        {{# columns }}
          <div {{# additional-classes }}class="{{ additional-classes }}"{{/ additional-classes }} {{# onclick }} onclick="{{{ onclick }}}" {{/ onclick }}>
            {{> atomer-liste-tabell-innhold }}
          </div>
        {{/ columns }}
      </div>
      {{# expandable-section }}
        <div class="row">
          <div class="{{ additional-classes }}" {{# onclick }} onclick="{{{ onclick }}}" {{/ onclick }}>
            {{> atomer-liste-tabell-innhold }}
          </div>
        </div>
      {{/ expandable-section }}
    </li>
  {{/ rows }}
</ul>