	<ul class="a-item-list list-group {{ styleModifier }}">
		{{# item-list-dottedTop }}
			<div class="a-dotted-line"></div>
		{{/ item-list-dottedTop }}
		{{# item-list }}
			<li class="list-group-item a-item-list-item {{ item-list-class }}">

        <!-- start høyrejusterte ting -->

        {{# list-item-icon-right }}
          <div class="float-xs-right">
            {{> atomer-link-med-popover(popover-trigger: "manual", popover-link-text: "<i class=\"tmp tmp-help\"></i><i class=\"tmp tmp-cancel\"></i>", open-popover-class: "a-helpIconButton a-js-persistPopover a-js-popoverBig a-js-togglePopoverIcons", popover-class: "popover-big", popover-content: "Innholdet i popover fra spørsmålstegn-ikonet kommer her..") }}
          </div>
        {{/ list-item-icon-right }}

        {{# list-item-text-right }}
          <div class="float-xs-right">
            <span class="right-aligned">
              {{{ list-item-text-right-text }}}
            </span>
          </div>
        {{/ list-item-text-right }}

        <!-- // end høyrejusterte elementer -->

        <!-- start venstrejusterte elementer -->

        {{# list-item-icon-left }}
          {{> atomer-ikon }}
        {{/ list-item-icon-left }}

        {{{ item-list-title }}}

        {{# list-item-link }}
          <a href="../..{{{ url }}}" class="a-listItem-title">
            {{{ item-list-linkTitle }}}
          </a>
        {{/ list-item-link }}

        <!-- // end venstrejusterte elementer -->

        {{# list-item-disabled }}
          <div class="a-dotted"></div>
        {{/ list-item-disabled }}
			</li>
		{{/ item-list }}
	</ul>