
	<ul class="a-item-list">
		<div class="a-dotted-line"></div>
		{{# item-list }}

		<li class="a-item-list-item {{ item-list-class }}">
			{{#list-item-disabled}}
				<div class="a-dotted"></div>
			{{/list-item-disabled}}
			{{{ item-list-title }}}
		</li>

		{{/ item-list }}

	</ul>
