<ol class="a-circle-list {{# circle-variation }}{{ circle-variation }}{{/ circle-variation }}">
  {{# circle-list-items }}
    <li>
      <b>{{circle-list-title}}</b>
      {{# circle-list-link }}
        {{> atomer-link }}
      {{/ circle-list-link }}
      {{{circle-list-info}}}
    </li>
  {{/ circle-list-items }}
</ol>
