<ul class="a-bulletList {{ styleModifier }}">
  {{# bullet-list-items}}
    <li>
      {{{ list-item-description }}}
      {{# list-item-footnote}}
        {{> atomer-ordforklaring }}
      {{/ list-item-footnote}}
    </li>
  {{/bullet-list-items}}
</ul>
