<ul class="no-decoration a-iconList">
    {{# icon-list-items }}
        <li>
          <a href="#" class="">
            {{> atomer-ikon }}
            <span>
              <b>{{ list-item-name }}</b>
              {{ listItemDescription }}
            </span>
          </a>
        </li>
    {{/ icon-list-items }}
</ul>
