<ul class="a-item-list-icon {{ styleModifier }}">
  {{# item-list }}
    <div class="a-dotted-line-top"></div>
    <li class="{{ item-list-class }}">
      {{{ list-item-text }}}
      <i
        {{# icon-onclick }} onClick="{{{ icon-onclick }}}" {{/ icon-onclick }}
        class="material-icons"
        role="button">
        highlight_off
      </i>
    </li>
  {{/ item-list }}
</ul>

<br /><br />