<ul class="a-item-list-icon {{ styleModifier }}">
  {{# item-list }}
    <div class="a-dotted-line-top"></div>
    <li class="{{ item-list-class }}">
      {{{ list-item-text }}}
      <i
        class="material-icons"
        {{{ icon-onclick }}}>
        highlight_off
      </i>
    </li>
  {{/ item-list }}
</ul>

<br /><br />