{{# column-items }}
  {{# column-text }}
    {{{ column-text }}}
  {{/ column-text }}

  {{# column-icon }}
    {{> atomer-ikon }}
  {{/ column-icon }}

  {{# column-link }}
    {{> atomer-link }}
  {{/ column-link }}

  {{# column-popover }}
    {{> atomer-link-med-popover }}
  {{/ column-popover }}
{{/ column-items }}





