<!-- START: 01-molekyler-20-modalelementer-15-modal-body-header -->
<div class="modal-header a-modal-header">
  {{> molekyler-ikon-tekst }}
</div>


<!-- END: 01-molekyler-20-modalelementer-15-modal-body-header -->