<!-- START: 00-atomer-06-tabeller-20-tabell-liste -->
<!-- altinn TableList -->
<table class="table a-table-list">
  <thead>
    {{# table-list-has-head }}
      <tr class="a-dotted">
        {{# table-list-head-items }}
          <th width="{{ cell-width }}" class="a-headingSizeM"> {{ table-list-head-text }}</th>
        {{/ table-list-head-items }}
      </tr>
    {{/ table-list-has-head }}
  </thead>
  <tbody>
    {{# table-list-items }}
      <tr class="a-dotted {{ row-class }}">
        {{# table-row-items }}
          <td width="{{ cell-width }}" colspan="{{ colspan }}" align={{ cell-align }}> {{{ table-list-text }}} {{# has-icon }}{{> atomer-ikon }}{{/ has-icon }}</td>
        {{/ table-row-items }}
      </tr>
    {{/ table-list-items }}
  </tbody>
</table>

<!-- END: 00-atomer-06-tabeller-20-tabell-liste -->
