 <div class="mt-1"{{# id }} id="{{ id }}"{{/ id }}>
  <span class="ml-7 a-ml-0-sm-down">
    {{ sortable-action-text }}
  </span>
  <div class="text-xs-left text-sm-center">
    {{# sortable-action-items }}
      {{> atomer-valgknapp}}
    {{/ sortable-action-items }}
  </div>
  {{> molekyler-ferdigsegment:a-list-fullWidthRow }}
</div>