

@font-face {
  font-family: 'AltinnNo';
  src: url('../icons/icons.eot');
  src: url('../icons/icons.eot?#iefix') format('embedded-opentype'),
       url('../icons/icons.woff2') format('woff2'),
       url('../icons/icons.woff') format('woff'),
       url('../icons/icons.ttf') format('truetype'),
       url('../icons/icons.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}




.ai {
    display: inline-block;
    font: normal normal normal 14px/1 'AltinnNo';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


  .ai-lg {
      font-size: 1.33333333em;
      line-height: 0.75em;
      vertical-align: -15%;
  }

  .ai-2x {
      font-size: 2em;
  }

  .ai-3x {
      font-size: 3em;
  }

  .ai-4x {
      font-size: 4em;
  }

  .ai-5x {
      font-size: 5em;
  }



  .ai-fw {
      width: 1.28571429em;
      text-align: center;
  }



  .ai-ul {
      padding-left: 0;
      margin-left: 2.14285714em;
      list-style-type: none;
  }

  .ai-ul> li {
      position: relative;
  }

  .ai-li {
      position: absolute;
      left: -2.14285714em;
      width: 2.14285714em;
      top: 0.14285714em;
      text-align: center;
  }

  .ai-li.ai-lg {
      left: -1.85714286em;
  }



  .ai-border {
      padding: .2em .25em .15em;
      border: solid 0.08em #eeeeee;
      border-radius: .1em;
  }

  .pull-right {
      float: right;
  }

  .pull-left {
      float: left;
  }

  .ai.pull-left {
      margin-right: .3em;
  }

  .ai.pull-right {
      margin-left: .3em;
  }



  .ai-spin {
      -webkit-animation: ai-spin 2s infinite linear;
      animation: ai-spin 2s infinite linear;
  }

  .ai-pulse {
      -webkit-animation: ai-spin 1s infinite steps(8);
      animation: ai-spin 1s infinite steps(8);
  }

  @-webkit-keyframes ai-spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }

  @keyframes ai-spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }



  .ai-rotate-90 {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=1)";
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  }

  .ai-rotate-180 {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=2)";
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  }

  .ai-rotate-270 {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=3)";
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
  }

  .ai-flip-horizontal {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
      -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
  }

  .ai-flip-vertical {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
      -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
      transform: scale(1, -1);
  }

  :root .ai-rotate-90,
  :root .ai-rotate-180,
  :root .ai-rotate-270,
  :root .ai-flip-horizontal,
  :root .ai-flip-vertical {
      filter: none;
  }



  .ai-stack {
      position: relative;
      display: inline-block;
      width: 2em;
      height: 2em;
      line-height: 2em;
      vertical-align: middle;
  }

  .ai-stack-1x,
  .ai-stack-2x {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
  }

  .ai-stack-1x {
      line-height: inherit;
  }

  .ai-stack-2x {
      font-size: 2em;
  }

  .ai-inverse {
      color: #ffffff;
  }



  .ai-download:before {
      content: '\f008';
  }

  .ai-arrowrightup:before {
      content: '\f009';
  }

  .ai-money:before {
      content: '\f017';
  }

  .ai-skatteetaten:before {
      content: '\f019';
  }

  .ai-aordningen:before {
      content: '\f01a';
  }

  .ai-phone:before {
      content: '\f01b';
  }

  .ai-sign:before {
      content: '\f01f';
  }

  .ai-write:before {
      content: '\f020';
  }

  .ai-read:before {
      content: '\f021';
  }

  .ai-archive:before {
      content: '\f023';
  }

  .ai-plus:before {
      content: '\f026';
  }

  .ai-corp:before {
      content: '\f027';
  }

  .ai-private:before {
      content: '\f028';
  }

  .ai-others:before {
      content: '\f029';
  }

  .ai-deadline:before {
      content: '\f02a';
  }

  .ai-tax:before {
      content: '\f02b';
  }

  .ai-exit:before {
      content: '\f02c';
  }

  .ai-search:before {
      content: '\f02d';
  }

  .ai-back:before {
      content: '\f02e';
  }

  .ai-expand:before {
      content: '\f030';
  }

  .ai-undo:before {
      content: '\f031';
  }

  .ai-openmessage:before {
      content: '\f032';
  }

  .ai-closedmessage:before {
      content: '\f033';
  }

  .ai-help:before {
      content: '\f034';
  }

  .ai-edit:before {
      content: '\f035';
  }

  .ai-document:before {
      content: '\f036';
  }

  .ai-settings:before {
      content: '\f037';
  }

  .ai-server:before {
      content: '\f039';
  }

  .ai-info:before {
      content: '\f03a';
  }

  .ai-arrowright:before {
      content: '\f03d';
  }

  .ai-keyhole:before {
      content: '\f03e';
  }

  .ai-expand-circle:before {
      content: '\f03f';
  }

  .ai-circle-exit:before {
      content: '\f040';
  }

  .ai-upload:before {
      content: '\f041';
  }

  .ai-help-popicon:before {
      content: '\f042';
  }

  .ai-check:before {
      content: '\f043';
  }

  .ai-circle-plus:before {
      content: '\f046';
  }

  .ai-circle-minus:before {
      content: '\f047';
  }

  .ai-facebook:before {
      content: '\f049';
  }

  .ai-twitter:before {
      content: '\f04a';
  }

  .ai-linkedin:before {
      content: '\f04b';
  }

  .ai-date:before {
      content: '\f04c';
  }

  .ai-send:before {
      content: '\f04d';
  }

  .ai-info-circle:before {
      content: '\f04f';
  }

  .ai-check-circle:before {
      content: '\f052';
  }

  .ai-attachment:before {
      content: '\f053';
  }

  .ai-forward:before {
      content: '\f054';
  }

  .ai-trash:before {
      content: '\f055';
  }

  .ai-circle-exclamation:before {
      content: '\f056';
  }

  .ai-family:before {
      content: '\f057';
  }

  .ai-more:before {
      content: '\f058';
  }

  .ai-archive-alt:before {
      content: '\f059';
  }

  .ai-print:before {
      content: '\f05a';
  }

  .ai-client:before {
      content: '\f05b';
  }

  .ai-letter-a:before {
      content: '\f05d';
  }

  .ai-letter-b:before {
      content: '\f05e';
  }

  .ai-letter-c:before {
      content: '\f05f';
  }

  .ai-letter-d:before {
      content: '\f060';
  }

  .ai-letter-e:before {
      content: '\f061';
  }

  .ai-letter-f:before {
      content: '\f062';
  }

  .ai-letter-g:before {
      content: '\f063';
  }

  .ai-letter-h:before {
      content: '\f064';
  }

  .ai-letter-i:before {
      content: '\f065';
  }

  .ai-letter-j:before {
      content: '\f066';
  }

  .ai-letter-k:before {
      content: '\f067';
  }

  .ai-letter-u:before {
      content: '\f068';
  }

  .ai-letter-v:before {
      content: '\f069';
  }

  .ai-letter-w:before {
      content: '\f06a';
  }

  .ai-letter-x:before {
      content: '\f06b';
  }

  .ai-letter-y:before {
      content: '\f06c';
  }

  .ai-letter-l:before {
      content: '\f06d';
  }

  .ai-letter-m:before {
      content: '\f06e';
  }

  .ai-letter-n:before {
      content: '\f06f';
  }

  .ai-letter-o:before {
      content: '\f070';
  }

  .ai-letter-p:before {
      content: '\f071';
  }

  .ai-letter-q:before {
      content: '\f072';
  }

  .ai-letter-r:before {
      content: '\f073';
  }

  .ai-letter-s:before {
      content: '\f074';
  }

  .ai-letter-t:before {
      content: '\f075';
  }

  .ai-letter-z:before {
      content: '\f076';
  }

  .ai-letter-ae:before {
      content: '\f077';
  }

  .ai-letter-oo:before {
      content: '\f078';
  }

  .ai-letter-aa:before {
      content: '\f079';
  }

  .ai-keyhole-circle:before {
      content: '\f07a';
  }

  .ai-private-circle-big:before {
      content: '\f07b';
  }

  .ai-plain-circle:before {
      content: '\f07d';
  }

  .ai-plain-circle-big:before {
      content: '\f07e';
  }

  .ai-corp-circle-big:before {
      content: '\f07f';
  }


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}
