
<form action="#" class="form-group">
    <fieldset class="options a-options">
					{{# checkboxes }}
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<span class="custom-control-indicator"></span>
								{{{ checkboxes-title }}}
							</label>

					{{/ checkboxes }}

    </fieldset>
</form>
