
<div class="hidewhenempty">

	{{# checkbuttons }}

		<div class="a-switch">

			<input id="{{{ checkbuttons-id }}}" class="sr-only" type="checkbox" name="addRights" onclick="CheckRoleOrRightForDelegtion(this, 'right')" onfocus="$('label[for=\'{{{ checkbuttons-id }}}']').addClass('focused')" onblur="$('label[for=\'{{{ checkbuttons-id }}}\']').removeClass('focused')" value="checkbutton-read">

			<label for="{{{ checkbuttons-id }}}" class="a-switch-label {{{ checkbuttons-class }}}"><i class="material-icons a-switch-icon">{{{ checkbuttons-icon }}}</i>{{{checkbuttons-title}}}</label>

		</div>

	{{/ checkbuttons }}

</div>
