
<form action="#">
    <fieldset class="options a-options">
        <ul>
					{{# checkboxes }}
						<li>
							<label class="c-input c-checkbox">
								<input type="checkbox">
                <span></span>
								<span class="c-indicator"></span>
								{{{ checkboxes-title }}}
							</label>
						</li>

					{{/ checkboxes }}

        </ul>
    </fieldset>
</form>
