
<div class="hidewhenempty">

	{{# radiobuttons }}

		<div class="a-switch">

			<input id="{{{ radiobuttons-id }}}" class="sr-only" type="radio" name="addRights" onclick="CheckRoleOrRightForDelegtion(this, 'right')" onfocus="$('label[for=\'{{{ radiobuttons-id }}}']').addClass('focused')" onblur="$('label[for=\'{{{ radiobuttons-id }}}\']').removeClass('focused')" value="radiobutton-read">

			<label for="{{{ radiobuttons-id }}}" class="a-switch-label {{{ radiobuttons-class }}}"><i class="material-icons a-switch-icon">{{{ radiobuttons-icon }}}</i>{{{radiobuttons-title}}}</label>

		</div>

	{{/ radiobuttons }}

</div>
