

	<div class="c-inputs-stacked">

		<div id="a-radioButtons" class="a-radioButtons">

			{{# radiobuttons }}
				<label class="c-input c-radio">
					<input id="{{{ radiobutton-id }}}" type="radio">
					<span></span>
					<span class="c-indicator"></span>
					{{{ radiobutton-title }}}
				</label>
			{{/ radiobuttons }}

		</div>

	</div>
