<div class="form-group a-form-group a-form-group-datepicker">
  <div class="input-group {{ styleModifier }}">
    <!-- Label -->
    <label class="input-group-addon form-control-noleft" for="inputDate">
      <i class="material-icons">today</i>
      <span class="a-input-labelText control-label"> {{ date-input-label }} </span>
    </label>
    <!-- Input  -->
    <input type="text" id="inputDate" class="form-control form-control-noleft date" />
  </div>
</div>
