@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

@import '../../../source/css/scss/generic/variables.scss';
@import '../../../source/css/scss/generic/bootstrap-custom.scss';
@import '../../../source/css/scss/generic/mixins.scss';
@import '../../../source/css/scss/base/font.scss';
/* brreg/altinn switch*/
@import "switch-project-nav";

$color_atom_electron: #feaf16;
$color_atom_orbit: #0078cc;
$color_atom_core: #eb5c31;
$color_atom_orbit_hover: #ccc;
$color_atom_electron_hover: #aa3444;


/* EDIT PATTERNLAB STYLE */

#patternlab-body,
#patternlab-html {
  background: $white;
}

#sg-gen-container,
#sg-viewport {
  max-width: 100%;
}

#sg-vp-wrap {
  top: 77px;
  background: #1eaef7;
}

/* Hacky hide */
#atomer-popover,
#atomer-tooltip,
#atomer-footnote {
  display: none;
}

/* Header */
.sg-header {
  @include a-fontReg;
  background: #bce4f7;
  align-items: flex-start;
  width: 100%;

  a {
    color: #000;
    font-size: 12px;
    line-height: 18px;
    padding: 9px 12px 7px 12px;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $black;
      background: #b0dcf1;
    }

    &.sg-acc-handle {
      height: 36px;
    }
  }

  .sg-icon {
    padding: 9px $spacer 11px $spacer;
  }
}

.typeahead {
  &:focus {
    color: $black;
    text-transform: uppercase;
  }

  &.tt-input {
    background-color: $white !important;
    border: 2px solid $blue;
  }
}


.sg-nav {
  .sg-pattern-state:before {
    margin-top: 0;
  }
}

@media (min-width: 48em) {
  .sg-nav > li > ol {
      top: 36px;
  }
}

.sg-current-size {
  color: #555;
  padding: 11px 12px 13px;
  font-size: 12px;
}

.sg-acc-panel {
  min-width: 14em;

  .sg-size-options {
    min-width: auto;
  }

  .sg-sub-nav li {
    background: #b0dcf1;
  }

  li {
    background: #bce4f7;
    color: #000;
  }
}

.sg-input {
    background-color: #bce4f7;
    color: #000;
}

.sg-controls {
  top: 56px;

  @include media-breakpoint-down( lg ) {
    display: none;
  }
}

.sg-control .sg-input:active,
.sg-control .sg-input:focus {
  background: $white;
}

.sg-current-size:hover .sg-input {
  background: $white;
}

// arrow
.sg-acc-handle:after {
  color: #78afca;
}

.sg-acc-handle:focus:after,
.sg-acc-handle:hover:after {
  color: #50778a;
}

.sg-acc-handle.active:after {
  color: #50778a;
  top: -4px;
}

// tools
.sg-tools-toggle {
  background: #bce4f7;
  padding: 11px 10px 10px 10px;

  &:hover,
  &.active {
    background: #b0dcf1;
  }
}

// input

.sg-control .sg-input:active, .sg-control .sg-input:focus, .sg-current-size:hover .sg-input {
    color: $black;
}

// Full menu on mobile

.sg-nav-toggle {
    width: 100%;
}


/* Resolve .tag conflict */
pre .tag, code .tag {
  display: inline;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  white-space: pre-wrap;
}

/* Misc. */

.sg-pattern-title {
  display: inline-block;
}

.sg-pattern-title a:focus,
.sg-pattern-title a:hover {
    border: none;
}


.sg-top {
  background: #cff0ff;
  color: #000;
  padding: 100px 0 120px 0;
  border-bottom: 6px solid #ffffff;
}
.sg-top h1, .sg-top h2 {
  color: #000;
}
.sg-top img {
  float: right;
  padding-top: 30px;
}
.sg-atom {
  display: block;
  width: 250px;
  height: 250px;
  float: right;
  margin-top: 24px;
  margin-right: 0.5rem;
  background: url(../images/lab5.png) no-repeat;
  background-size: 100% 100%;
  animation: rotation 30s linear infinite;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotation {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sg-statesExplanation {
  background: #ffffff;
  padding: 24px 0;
  margin-bottom: 24px;
}
.sg-statesExplanation .sg-pattern-state {
  margin-top: -10px;
  display: block;
}
.sg-pattern-state,
.sg-pattern-state:hover {
  border: none;
}
.sg-statesExplanation .sg-pattern-state-inprogress {
  color: #e23b53;
}
.sg-statesExplanation .sg-pattern-state-inreview {
  color: #FFA900;
}
.sg-statesExplanation .sg-pattern-state-complete {
  color: #17c96b;
}
.sg-statesExplanation .sg-pattern-state-variations {
  padding-right: 6px;
}
.sg-pattern-state:before {
  margin-bottom: 0;
  vertical-align: middle;
}
.sg-pattern-state:before {
  font-size: 30px;
}
.sg-pattern-variations {
  color: #666;
}


/* Category */

[id^=viewall-atomer] a:before {
  content: 'Atomer: ';
  color: #333;
}

[id^=viewall-molekyler] a:before {
  content: 'Molekyler: ';
  color: #333;
}

[id^=viewall-organismer] a:before {
  content: 'Organismer: ';
  color: #333;
}

.sg-pattern-category {
  margin-top: 36px;
  float: left;
  background: rgba(255, 255, 255, 0.5);
  border: 2px dotted $blue;
  width:100%;

  @include media-breakpoint-up( md ) {
    width: calc(100% + 96px);
    margin-left: -48px;
  }

}


.sg-pattern-category-title {
  margin: 0;
  padding: 0;
}

.sg-pattern-category-title a{
  color: #6a6a6a;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  border-bottom: none;
  margin: 0;
  display: block;
  padding: 12px 12px 8px 12px;
}

@media all and (min-width: 768px) {
  .sg-pattern-category-title a{
    padding: 0px 12px 0px 45px;
    font-size: 24px;
    display: flex;
    min-height: 48px;
    align-items: center;
    position: relative;
    top: 2px;
  }

  .sg-pattern-category-title a:hover:after{
    content: 'Vis alle i denne kategorien';
    color: #1eaef7;
    font-size: 14px;
    text-transform: none;
    padding: 0 0 0 24px;
    margin-top: -3px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;
  }
}

/* Pattern */


#sg-patterns .sg-pattern-head .sg-pattern-state:before {
  font-size: 30px;
  margin-bottom: -4px;
}
#sg-patterns .sg-pattern-extra-info .sg-pattern-state:before {
  font-size: 30px;
  margin-bottom: 0px;
  line-height: 0;
}
#sg-code-lineager-fill .sg-pattern-state:before {
  margin-bottom: 0px !important;
}
.sg-pattern-lineage .sg-pattern-state:before {
  font-size: 18px;
}
.sg-pattern {
  margin: 12px 0 12px 0;
  float: left;
  width: 100%;
}
.sg-pattern:last-child {
  margin-bottom: 200px;
}
.sg-pattern-head {
  margin: -2px 0 0 0;
  padding: 0;
}
.sg-pattern-head .patternLink,
.sg-pattern-head .patternLink:hover {
  border: none;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  // font-family: $font-light; font-weight: $font-weight-light;
}

.sg-pattern-title a {
  padding: 6px 0px;
}

#sg-patterns .sg-pattern-title .sg-pattern-state {
    font-size: 90%;
}

#sg-patterns .sg-pattern-title .sg-pattern-state:before {
    margin-bottom: 2px;
}


/* view info */
.sg-pattern-extra {
  background: #fff;
}
.sg-pattern-extra a,
.sg-pattern-extra a:hover {
  text-decoration: none;
  color: #0062ba;
}
.sg-pattern-extra a:hover {
  color: #1eaef7;
}
.sg-annotations {
  padding: 12px;
  background-color: #fbf6bd;
}
.sg-annotations p {
  color: #000;
}
.sg-annotations a {
  text-decoration: none;
}

.has-annotation,
.has-annotation:hover {
  cursor: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sg-pattern-desc {
  border-bottom: none;
  color: #000;
}

.sg-pattern-desc p {
    margin-bottom: 6px;
}

.sg-pattern-desc ul {
    padding-left: 15px;
}
.sg-pattern-desc ul li {
    padding-bottom: 6px;
}

.sg-tabs-list li a {
    background: #e5e2e0
}
.sg-tabs-list li.sg-tab-title-active a {
    background: #f5f2f0
}


/* Fix float issue */

.sg-pattern-extra,
.sg-pattern-head,
.sg-pattern-example {
  float: left;
  width: 100%;
  clear: both;
}

/* View patterns that in is context is display none from start */

#organismer-chat .sg-pattern-example .a-chat {
  display: block;
  position: relative;
  bottom: 0;
}

#organismer-meny-personbytte .sg-pattern-example .dropdown-menu.a-dropdown-personswitchList {
  display: block !important;
}

#organismer-meny-personbytte .a-listWithSubLevels .a-btn {
    display: flex !important;
}

#molekyler-hjelp-container .a-stickyHelp-open {
  position: initial;
}

/* Code view height minimum 300px */

.sg-pattern-extra-code {
  width: 60%;
  padding: 1em;
  min-height: 300px;
}

.sg-pattern-extra-code .language-html{
  margin-top: -12px;
}



/* Toggle comments code in V2 */

.sg-pattern-extra-toggle,
.sg-pattern-extra-toggle.active,
.sg-pattern-extra-toggle:hover,
.sg-pattern-extra-toggle:focus {
    font-size: 14px;
    background: #fff;
    border: 1px solid #ddd;
  }
.sg-pattern-extra-toggle.active {
    border-bottom: 1px solid #fff;
}

.sg-pattern-extra-toggle span {
    font-size: 9px;
}

.sg-pattern-extra-toggle.active span {
    height: 6px;
}

.sg-pattern-extra-toggle:before {
    content: 'Vis info';
}

.sg-pattern-extra-toggle.active:before {
    content: 'Skjul info';
}

.sg-code {
  background: #000;
}
.sg-code pre {
  color: #fff;
  margin-bottom: -20px;
}
.sg-code .sg-code-head {
  margin: 0;
}

/* Spesific styling for components used in all */

.sg-pattern-example .a-mediaBlock{
  max-width: 300px;
}
.sg-switchtheme {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 9999;
  padding: 12px 0;
      height: 52px;
  border-top: 2px solid #efefef;
}

/* Switch theme */
@media screen and (max-width: 900px) {
  .sg-switchtheme {
    display: none;
  }
}

.sg-switchtheme .a-radioButtons .c-input {
    margin-bottom: 3px;
}
/* Added styles */

.a-sg-patternVariations {
  margin: 12px 0 12px 0;
}
@media screen and (min-width: 768px) {
  .a-sg-patternVariations {
    padding-left: 40px;
    border-left: 5px solid #B3B3B3;
  }
}

.a-sg-patternVariations .sg-pattern-head,
.a-sg-patternVariations .patternLink {
  padding-top: 0;
}

/* Line breaking in code boxes */
body pre.language-markup {
  overflow-x: hidden !important;
}

/* Select all for code boxes */
.language-markup:focus {
  outline: none
}


//------------------------------------*\
//  States
//------------------------------------*/

/**
* Archived
*/
.archived:before,
.sg-statesExplanation .sg-pattern-state-archived {
    color: #e23b53 !important;
}

.a-sg-js-showArchived {
  display: none;
}

.sg-pattern-state .custom-control p {
  font-size: 16px;
}

/**
* In specification state
*/
.specification:before,
.sg-statesExplanation .sg-pattern-state-specification {
    color: slategrey !important;
}

/**
* In progress state
*/
.inprogress:before, .sg-statesExplanation .sg-pattern-state-inprogress {
    color: orange !important;
}

/**
* In design review state
*/
.indesignreview:before, .sg-statesExplanation .sg-pattern-state-indesignreview {
    color: #0062ba !important;
}

/**
* Complete state
*/
.complete:before, .sg-statesExplanation .sg-pattern-state-complete {
    color: #17c96b !important;
}

/**
* In needs revalidation state
*/
.needsrevalidation:before, .sg-statesExplanation .sg-pattern-state-needsrevalidation {
    color: #e23b53 !important;
}

.sg-pattern-head .archived,
.sg-pattern-head .specification, .sg-pattern-head .inprogress, .sg-pattern-head .indesignreview, .sg-pattern-head .complete, .sg-pattern-head .needsrevalidation {
  display: inline-block;
}

//------------------------------------*\
//  Custom additions (prefix: a-sg-)
//------------------------------------*/
.a-sg-header-top {
  padding: 10px $spacer 9px $spacer;
  border-bottom: 1px solid #cff0ff;
  height: 54px;
  display: flex;
  align-items: center;
}

a.a-sg-header-title,
a.a-sg-header-title:hover {
  @include a-fontBold;
  /* display: inline;
   float: left;*/
  text-transform: none;
  color: $black;
  padding: 0 0 0 2px;
  margin: 0;
  font-size: 16px;
  background: transparent;
}

.a-sg-header-links {
  flex-grow: 1;
  text-align: right;
  @include media-breakpoint-down( md ) {
    display: none;
  }
  a {
    /*display: inline;
    float: right;*/
    padding: 1px 0 0 24px;
    font-size: 12px;
    color: #333;
    text-transform: none;

    &:hover {
      background: transparent;
      color: #000;
    }
  }
}

/* Anchors */

.sg-pattern-head .a-sg-anchor,
.sg-pattern-head .a-sg-anchor:hover {
  border: none;
  margin-top: -3px;
  color: #000;
  font-size: 16px !important;
}

.a-sg-patternVariations .sg-pattern-head .a-sg-anchor,
.a-sg-patternVariations .sg-pattern-head .a-sg-anchor:hover {
  margin-top: -8px;
}

.sg-atom-brreg {
  display: flex;
  width: 250px;
  height: 250px;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}
.sg-electron-brreg {
  position: absolute;
  left: 64px;
  top: 0;
  display: inline-block;
  width: 23px;
  height: 23px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  background-color: $color_atom_electron;
  transition: top 1s ease-out, width .4s, height .4s, background-color .8s;
}
.sg-orbit-brreg {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid $color_atom_orbit;
  transition: border-color .7s;
  animation: spin 20s linear infinite;
  &:hover {
    border-color: $color_atom_orbit_hover;
    .core {
      margin-left: 180px;
    }
    .sg-electron-brreg {
      top: 140px;
      width: 30px;
      height: 30px;
      background-color: $color_atom_electron_hover;
    }
  }
}
.sg-core-brreg {
  margin-top: 17px;
  margin-left: 17px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: $color_atom_core;
  border-radius: 50%;
  transition: margin-left .8s;
}

@keyframes spin {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}

