@font-face {
    font-family: 'DIN-light';
    src: url('http://www.persille.no/DINWeb-Light.php');
}
@font-face {
    font-family: 'DIN-reg';
    src: url('http://www.persille.no/DINWeb.php');
}
@font-face {
    font-family: 'DIN-medium';
    src: url('http://www.persille.no/DINWeb-Medium.php');
}
@font-face {
    font-family: 'DIN-bold';
    src: url('http://www.persille.no/DINWeb-Bold.php');
}


/* EDIT PATTERNLAB STYLE */

#sg-gen-container {
  max-width: 100%;
}
#sg-viewport {
  max-width: 100%;
}

#sg-vp-wrap {
    top: 72px;
  }

.sg-header {
    background: #bce4f7;
    font-family: 'DIN-reg';
}
.sg-header a {
    color: #000;
    padding: 13px 12px 12px 12px;
}

.sg-header .sg-icon {
    padding: 9px 12px 11px 12px;
}

.sg-header a:hover,
.sg-header a:focus,
.sg-header a.active {
    color: #000;
    background: #b0dcf1;
}

.sg-current-size {
    color: #555;
    padding: 10px 12px 13px 12px;
}

.sg-acc-panel.sg-size-options {
    min-width: auto;
}

.sg-acc-panel li {
    background: #bce4f7;
    color: #000;
}

.sg-nav li {
  border-right: none;
}

.sg-input {
    background-color: #bce4f7;
    color: #000;
}

.sg-controls {
  top: 36px;
}

@media all and (max-width: 1000px) {
  .sg-controls {
    display: none;
  }
}


.sg-control .sg-input:active,
.sg-control .sg-input:focus {
    background: #fff;
}

.sg-current-size:hover .sg-input {
    background: #fff;
}

@media (min-width: 48em) {
  .sg-nav > li > ol {
      top: 36px;
  }
}


// arrow

.sg-acc-handle:after {
    color: #78afca;
}

.sg-acc-handle:focus:after, .sg-acc-handle:hover:after {
    color: #50778a;
}

.sg-acc-handle.active:after {
    color: #50778a;
        top: -4px;
}

// tools

.sg-tools-toggle {
  background: #bce4f7;
  padding: 11px 10px 10px 10px;
}

.sg-tools-toggle:hover,
.sg-tools-toggle.active {
  background: #b0dcf1;
}

// input

.sg-control .sg-input:active, .sg-control .sg-input:focus, .sg-current-size:hover .sg-input {
    color: #000;
}

// Full menu on mobile

.sg-nav-toggle {
    width: 100%;
}

/* Added by Altinn */

.a-sg-header-top {
  width: 100%;
  float: left;
  padding: 10px 12px 9px 12px;
  border-bottom: 1px solid #cff0ff;
}

a.a-sg-header-title,
a.a-sg-header-title:hover {
  display: inline;
  float: left;
  text-transform: none;
  color: #000;
  font-family: 'DIN-medium';
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: transparent;
}

.a-sg-header-links a{
  display: inline;
  float: right;
  padding: 3px 0 0 24px;
  font-size: 12px;
  color: #333;
  text-transform: none;
}

.a-sg-header-links a:hover {
  background: transparent;
  color: #000;
}

@media all and (max-width: 600px) {
  .a-sg-header-links {
    display: none;
  }
}

// Styling sub items

.sg-acc-panel.sg-sub-nav li {
  background: #b0dcf1;
}

// States


.variations:before {
    color: #1EAEF7 !important;
}


/* Hacky hide */
#atomer-popover, #atomer-tooltip {
  display: none
}
