<div class="a-page" id="smoothState">
	{{> organismer-header }}

	<div class="container" id="content" tabindex="-1">

		<div class="row">
			<div class="col-sm-12 col-lg-6 offset-lg-3 p-t-3 m-b-5">
				{{> atomer-sok:input-group-large(search-label-id: "searchLarge-front", search-label: "Søk etter guider og annet innhold")}}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-11 offset-sm-1">
				{{> atomer-sidetittel:a-blueDarkerText|p-b-2 }} 
			</div>
		</div>

	</div>

	<div class="container-fluid">

				{{> molekyler-jumbotron }}

	</div>


	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				{{> molekyler-trekkspill-overskrifter }}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				{{# first-card-icon }}
						{{> molekyler-kort-ikon:m-t-4 }}
				{{/ first-card-icon }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 offset-md-3">
				{{> molekyler-bilde-innhold:m-t-4 }}
			</div>
		</div>

		{{> organismer-footer }}

	</div> <!-- END Container -->

</div>
