{{# isModal }}
  <div class="modal-body a-modal-body">
{{/ isModal }}
  <div class="row">
    <div class="col-12 pb-2">
      {{# section-title }}
        {{> atomer-seksjonstittel }}
      {{/ section-title }}
      {{> atomer-intro-tekst:d-inline }}
      {{# varslingsadresse-information-popover }}      
        {{> atomer-link-med-popover-ikon }}
      {{/ varslingsadresse-information-popover }}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-7 pr-md-0">
      {{# email-sectiontitle }}
        <label class="a-form-label a-fontBold">{{ email-sectiontitle }}</label>
      {{/ email-sectiontitle }}
    </div>
  </div> 
  {{# shared-notificationinfo-email-input }}
    <div class="row a-email"  id="{{ email-input-row-id }}">
      <div class="col-10 col-md-7 pr-md-0">      
          {{> atomer-tekst-input }}      
      </div>
      <div class="col-2 col-md-5 pr-md-0 a-delete-email">
        {{# delete-shared-contactinfo-email-icon }}
          {{> atomer-knapp-ikon-tekst }}
        {{/ delete-shared-contactinfo-email-icon }}
      </div>
    </div>
  {{/ shared-notificationinfo-email-input }}
  {{# shared-notification-add-links}}
  <div class="row" id="{{ addmore-email-id }}">
    <div class="col-12">
      {{# hasAddEmailLink }}
        {{> atomer-knapp:mr-1 }}
      {{/ hasAddEmailLink }}
      {{# hasAddSMSLink-first }}
        {{> atomer-knapp }}
      {{/ hasAddSMSLink-first }}
    </div>
  </div>
  {{/ shared-notification-add-links}}
  {{# additionalinfo-sharednotification }}
      <div id="{{sms-section-title-id}}" class="row mt-3 {{# additional-class }}{{ additional-class }}{{/ additional-class }}">
        <div class="col-12 col-md-7 pr-md-0">
          {{# sms-sectiontitle }}
            <label class="a-form-label a-fontBold">{{ sms-sectiontitle }}</label>
          {{/ sms-sectiontitle }}
        </div>
    </div>

    <div class="row a-phone {{# additional-class }}{{ additional-class }}{{/ additional-class }}" id="{{ sms-input-row-id }}">
      <div class="col-10 col-md-7 pr-md-0">
          {{# shared-notificationinfo-phone-input }}
            {{> atomer-tekst-input }}
          {{/ shared-notificationinfo-phone-input }}
      </div>
      <div class="col-2 col-md-5 pr-md-0 a-delete-phone">
        {{# delete-shared-contactinfo-phone-icon }}
          {{> atomer-knapp-ikon-tekst }}
        {{/ delete-shared-contactinfo-phone-icon }}
      </div>
    </div>
  {{/ additionalinfo-sharednotification }}
  {{# hasAddMoreSMSLink }}
    <div class="row {{# additional-class }}{{ additional-class }}{{/ additional-class }}" id ="{{ addmore-sms-id }}" >
      <div class="col-12 col-md-7 pr-md-0">
          {{> atomer-knapp }}        
      </div>
    </div>
  {{/ hasAddMoreSMSLink }}      
  <div class="row mt-3">
    <div class="col-12">
      {{# save-notificationaddress-button }}
        {{> atomer-knapp:mr-2 }}
      {{/ save-notificationaddress-button }}
      {{# cancel-notificationaddress-button }}
        {{> atomer-knapp }}
      {{/ cancel-notificationaddress-button }}
    </div>
  </div>
{{# isModal }}
  </div>
{{/ isModal }}