<div class="modal-body a-modal-body">
  <div class="row">
    <div class="col-12">
      {{> atomer-seksjonstittel }}
      {{> atomer-intro-tekst:d-inline }}
      {{# varslingsadresse-information-popover }}      
        {{> atomer-link-med-popover-ikon }}
      {{/ varslingsadresse-information-popover }}
    </div>
    <div class="col-12 col-md-7 pr-md-0">
      {{# shared-notificationinfo-epost-input }}
        {{> atomer-tekst-input }}
      {{/ shared-notificationinfo-epost-input }}
    </div>
    <div class="col-12 mt-1">
      {{# hasAddEmailLink }}
        {{> atomer-link:mr-1 }}
      {{/ hasAddEmailLink }}
      {{# hasAddSMSLink-first }}
        {{> atomer-link }}
      {{/ hasAddSMSLink-first }}
    </div>
    <div class="col-12 col-md-7 pr-md-0 mt-2">
      {{# shared-notificationinfo-phone-input }}
        {{> atomer-tekst-input }}
      {{/ shared-notificationinfo-phone-input }}
    </div>
    <div class="col-12 col-md-7 pr-md-0 mt-1">
      {{# hasAddSMSLink-second }}
        {{> atomer-link }}
      {{/ hasAddSMSLink-second }}
    </div>
    <div class="col-12 mt-2">
      {{# save-notificationaddress-button }}
        {{> atomer-knapp:mr-2 }}
      {{/ save-notificationaddress-button }}
      {{# cancel-notificationaddress-button }}
        {{> atomer-knapp }}
      {{/ cancel-notificationaddress-button }}
    </div>
  </div>
</div>