<div class="modal-body a-modal-body">
  <div class="row">
    <div class="col-12">
      {{> atomer-seksjonstittel }}
      {{> atomer-intro-tekst:d-inline-block }}{{> atomer-link-med-popover-ikon}}
    </div>
    <div class="col-12 col-md-7 pr-md-0">
      {{# firsttime-shared-notificationinfo-epost-input }}
        {{> atomer-tekst-input }}
      {{/ firsttime-shared-notificationinfo-epost-input }}
    </div>
    <div class="col-12 mt-1">
      {{# hasAddEmailLink }}
        {{> atomer-link:mr-1 }}
      {{/ hasAddEmailLink }}
      {{# hasAddSMSLink-first }}
        {{> atomer-link }}
      {{/ hasAddSMSLink-first }}
    </div>
    <div class="col-12 col-md-7 pr-md-0 mt-2">
      {{# firsttime-shared-notificationinfo-phone-input }}
        {{> atomer-telefonnummer-landskode-input }}
      {{/ firsttime-shared-notificationinfo-phone-input }}
    </div>
    <div class="col-12 col-md-7 pr-md-0 mt-1">
      {{# hasAddSMSLink-second }}
        {{> atomer-link }}
      {{/ hasAddSMSLink-second }}
    </div>
    <div class="col-12 mt-2">
      {{# save-notification-button }}
        {{> atomer-knapp:mr-2 }}
      {{/ save-notification-button }}
      {{# cancel-notification-button }}
        {{> atomer-knapp }}
      {{/ cancel-notification-button }}
    </div>
  </div>
</div>