<div class="row">
  <div class="col mb-2">
    <h3>
      {{ computersystem-heading }}
    </h3>
    <div class="my-2">
      {{# computersystem-edit-message }}
        {{> felles-komponenter-varsel }}
      {{/ computersystem-edit-message}}
    </div> 
    <p class="a-fontSizeXS mb-1">
      {{ computersystem-text }}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-5">
    {{# computersystem-name }}
      {{> felles-komponenter-tekst-input }}
    {{/ computersystem-name }}
  </div>
  <div class="col-12 col-md-5">
    <div {{# computersystem-description-id }}id="{{ computersystem-description-id }}"{{/ computersystem-description-id }} class="{{ computersystem-list-heading-class }}">{{ computersystem-list-heading }}</div>
    {{# computersystem-list }}
      {{> felles-komponenter-flervalg-stilisert }}
    {{/ computersystem-list }}
  </div> 
  <div class="col-12 col-md-9 mb-2">
    {{# computersystem-name-message }}
      {{> felles-komponenter-varsel:mt-0 }}
    {{/ computersystem-name-message}}
  </div> 
</div>
<div class="row">
  <div class="col-12 col-md-5">
    {{# computersystem-password }}
      {{> felles-komponenter-tekst-input }}
    {{/ computersystem-password }}
  </div>
  <div class="col-12 col-md-5">
    {{# computersystem-repeat-password }}
      {{> felles-komponenter-tekst-input }}
    {{/ computersystem-repeat-password }}
  </div> 
</div>
<div class="row">
  <div class="col mt-1">
    {{# computersystem-add-button }}
      {{> felles-komponenter-knapp }}
    {{/ computersystem-add-button }}
  </div>
</div>
{{# computersystem-added-list }}
  <div class="row">
    <div clasS="col mt-2">
      {{> felles-komponenter-liste-unummerert }}
    </div>
  </div> 
{{/ computersystem-added-list }}
{{# computersystem-ID-message }}
  <div class="row">
    <div class="col-12 col-md-9">
      {{> felles-komponenter-varsel }}
    </div>
  </div> 
{{/ computersystem-ID-message}}
