{{# overview-enterprise-certificate }}
  <div class="row {{ additional-class }}">
    {{# enterprise-certificate-heading}}
      <div class="col-12 mb-2">
        <h3>{{ enterprise-certificate-heading }}</h3>
      </div>
    {{/ enterprise-certificate-heading}}

    {{# upload-certificate }}
      <div class="col-12 mb-4">
        {{> felles-komponenter-upload }}
      </div>
    {{/ upload-certificate }}

    {{# users }}
      <div class="col-12 ">
        <h3>{{ users-heading }}</h3>
        {{> felles-komponenter-liste-unummerert }}
      </div>
    {{/ users }}
  </div>
{{/ overview-enterprise-certificate }}

{{# edit-username-password }}
  <div class="row {{ additional-class }}">
    <div class="col-12 ">
      <div>{{ edit-header }}</div>
      <h3>{{ user-name }}</h3>
    </div>
    <div class="col-12 col-md-5">
      {{# enterprise-certificate-username }}
        {{> felles-komponenter-tekst-input }}
      {{/ enterprise-certificate-username }}
    </div>
    <div class="col-12 col-md-5">
      {{# enterprise-certificate-password }}
        {{> felles-komponenter-tekst-input }}
      {{/ enterprise-certificate-password }}
    </div>

    <div class="col-12 mt-2">
      {{# next-btn }}
        {{> felles-komponenter-knapp }}
      {{/ next-btn }}
      {{# cancel-btn }}
        {{> felles-komponenter-link }}
      {{/ cancel-btn }}
    </div>
  </div>
{{/ edit-username-password }}