<div class="modal-content">
    <div class="modal-header a-modal-header">
        <div class="a-iconText a-iconText-background a-iconText-large">
            <div class="a-iconText-icon">
                <i class="ai ai-send
                 a-icon" aria-hidden="true"></i>
            </div>
            <h1 class="a-iconText-text mb-0">
                 {{# small-modal-title }}<span class="a-iconText-text-small">{{ small-modal-title }}</span>{{/ small-modal-title }}
                <span class="a-iconText-text-large">Bestill sanering / deaktivering av tjeneste</span>
            </h1>
        </div>
    </div>
    <div class="modal-body a-modal-body">
    
      {{# options1 }}
        <div class="mb-2">
          {{> felles-komponenter-avkrysningsboks }}
        </div>
      {{/ options1 }}

      {{# environment }}
        {{> felles-komponenter-valgknapper-og-spesifiser }}
      {{/ environment }}

      {{# tjenestekoder }}
        <div class="row mb-2">
          <div class="col-12 col-lg-6">
            {{# utgavekode }}
              {{> felles-komponenter-tekst-input}}
            {{/ utgavekode }}
          </div>
          <div class="col-12 col-lg-6">
            {{# tjenesteversjon }}
              {{> felles-komponenter-tekst-input}}
            {{/ tjenesteversjon }}
          </div>
        </div>
      {{/ tjenestekoder }}

      {{# fjernkopi }}
        <div class="mb-2">
          {{> felles-komponenter-avkrysningsboks }}
        </div>
      {{/ fjernkopi }}

      {{# premisser }}
        <div class="mb-2">
            {{> felles-komponenter-tekstfelt }}
        </div>
      {{/ premisser }}

      {{# information }}
        <div class="mb-2">
          {{> felles-komponenter-tekstfelt }}
        </div>
      {{/ information }}

      {{# saneringsdato }}
        {{> molekyler-utsett-tidspunkt }}
      {{/ saneringsdato }}
    
      {{# submit}}
        {{> felles-komponenter-knapp:mb-2 }}
      {{/ submit}}
    </div>
</div>
