<!-- START: 01-molekyler-00-tekst-67-♺-innboks-header-innhold-venter-haster -->
{{# msg-waiting-urgent }} {{> molekyler-innboks-header-innhold }} {{/ msg-waiting-urgent }}
<!-- END: 01-molekyler-00-tekst-67-♺-innboks-header-innhold-venter-haster -->