<div class="a-page" id="smoothState">
  {{> organismer-header }}
  <div class="container">
    <div class="row">
      <div class="col-12">
	      <div class="mb-3 a-fontSizeL">
          {{{ profile-login-prefix }}}
          <span class="a-fontBold">
            {{{ profile-login-name }}}
          </span>
          {{{ profile-login-id }}}
        </div>
        <div id="{{ accordion-large-id }}" class="a-panelAccordion" role="tablist" aria-multiselectable="true">
          {{# accordionKl }}
            {{> organismer-ekspanderbart-panel }}
          {{/ accordionKl }}
          {{# andreMedRettigheter }}
            {{> organismer-andre-med-rettigheter }}
          {{/ andreMedRettigheter }}
          {{# klientdelegering }}
            {{> organismer-klientdelegering }}
          {{/ klientdelegering }}
        </div>
      </div>
    </div>
  </div>
</div>