<!-- Begin Footer -->
<footer class="a-footer">

		<div class="row">
			<div class="col-lg-3 col-xl-offset-1 hidden-xs-down">
      	{{> atomer-sok }}
	    </div>
	    <div class="col-lg-9 col-xl-8">
	      <nav class="a-footerNav">
					<ul>
						<li><a class="hvr-underline-from-center" href="#">
							<i class="material-icons">&#xE7F1;</i> starte og drive bedrift</a></li>
						<li><a class="hvr-underline-from-center" href="#">
							<i class="fa fa-life-ring"></i> hjelpesider</a></li>
						<li>{{> atomer-link-telefonnummer }}</li>
					</ul>

	      </nav>
	    </div>

		</div>

		<div class="row">
	    <div class="col-lg-12">

	      <nav class="a-footerExtraNav">
					Brønnøysundregistrene, 8910 Brønnøysund
					<ul>
						<li><a class="" href="#">
							Om Altinn</a></li>
						<li><a class="" href="#">
							Følg oss</a></li>
						<li><a class="" href="#">
							Cookies</a></li>
						<li><a class="" href="#">
								Personvern</a></li>  
					</ul>
					<div class="hidden-sm-up">
						{{> atomer-knapp(button-text: "til toppen") }}
					</div>
	      </nav>
	    </div>

		</div>
</footer>
<!-- End Footer -->
