
<div class="dropdown">
  <button class="btn dropdown-toggle altinn-dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    
     
    <img class="altinn-form-icon" alt="Organization illustration" src="/images/icon-org-grey.svg">

	<span class="altinn-form-text">
        <b>KARI NORDMANNS FORETAK</b> org. nr. 995644944  
    </span>

  </button>
  <div class="dropdown-menu altinn-dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item altinn-dropdown-item altinn-dropdown-item-active" href="#">

    	<img class="altinn-form-icon" alt="Dropdown icon" src="/images/icon-org-grey.svg">
	    <span class="altinn-form-text ">
	        <b>KARI NORDMANNS FORETAK</b> org. nr. 995644944  
	    </span> 
    	

    </a>
    <a class="dropdown-item altinn-dropdown-item" href="#">

    	<img class="altinn-form-icon" alt="" src="/images/icon-person-grey.svg">
        <span class="altinn-form-text">
	        <b>NORDMANN KARI</b> 
	    </span>
    	
    </a>

    <a class="dropdown-item altinn-dropdown-item" href="#">
    <img class="altinn-form-icon" alt="" src="/images/icon-person-grey.svg">
    	<span class="altinn-form-text">
	        <b>OLA NORDMANN</b> 
	    </span> 
    </a>

    <a class="dropdown-item altinn-dropdown-item" href="#">

    	<img class="altinn-form-icon" alt="Dropdown icon" src="/images/icon-org-grey.svg">
	    <span class="altinn-form-text">
	        <b>OLA NORDMANNS FORETAK</b> org. nr. 995644944  
	    </span>
    	

    </a>

    <a class="dropdown-item altinn-dropdown-item" href="#">

    	<img class="altinn-form-icon" alt="Dropdown icon" src="/images/icon-org-grey.svg">
	    <span class="altinn-form-text">
	        <b>OLA NORDMANNS ANDRE FORETAK</b> org. nr. 995644944  
	    </span>
    	

    </a>

  </div>
</div>


