
<form>
  	<label for="primaryemail" class="a-formLabel">Primær epost-adresse: </label>
  <select class="c-select a-c-select" name="primaryemail" id="primaryemail">
  <option selected>post@første.com</option>
  <option value="1">post@andre.com</option>
  <option value="2">post@tredje.com</option>
  <option value="3">post@fjerde.com</option>
</select>
</form> 
