<div class="a-panel">



	<div class="">
	    <div class="a-switch stackable">
	        <input class="sr-only" type="checkbox" onclick="CheckRoleOrRightForDelegtion(this, 'right')" onfocus="$('label[for=\'1046;100219;Read:ArchiveRead\']').addClass('focused')" onblur="$('label[for=\'1046;100219;Read:ArchiveRead\']').removeClass('focused')" value="1046;100219;Read:ArchiveRead">
	        <label for="1046;100219;Read:ArchiveRead" class="">
	        	<i class="material-icons">edit</i>
	        	Kun lese
	        </label>
	    </div>
	    <div class="a-switch stackable">
	        <input class="sr-only" type="checkbox" name="addRights" onclick="CheckRoleOrRightForDelegtion(this, 'right')" onfocus="$('label[for=\'1046;100219;Write:ArchiveDelete\']').addClass('focused')" onblur="$('label[for=\'1046;100219;Write:ArchiveDelete\']').removeClass('focused')" value="1046;100219;Write:ArchiveDelete ">
	        <label for="1046;100219;Write:ArchiveDelete" class="">
	        	<i class="material-icons">edit</i>  
	        	Fylle ut
	        </label>
		</div>
		<div class="a-switch stackable">
		    <input class="sr-only" type="checkbox" name="addRights" onclick="CheckRoleOrRightForDelegtion(this, 'right')" onfocus="$('label[for=\'1046;100219;Sign\']').addClass('focused')" onblur="$('label[for=\'1046;100219;Sign\']').removeClass('focused')" value="1046;100219;Sign">
		    <label for="1046;100219;Sign"><i class="material-icons">edit</i> Signere</label>
		</div>
	</div>

</div>