

<div class="input-group a-input disabled">
  <label class="input-group-addon" for="email" id="basic-addon1">
  	<i class="material-icons a-input-icon">&#xE158;</i> 
  	<span class="a-input-labelText"> E-post:</span>
  </label>
  <input type="email" id="email" class="form-control" placeholder="" aria-describedby="mail_error" disabled="disabled"> 
</div>  

<br>

<div class="input-group a-input">
  <label class="input-group-addon" for="email" id="basic-addon1">
  	<i class="material-icons a-input-icon">&#xE158;</i> 
  	<span class="a-input-labelText"> E-post:</span>
  </label>
  <input type="email" id="email" class="form-control" placeholder="post@karinordmann.no" aria-describedby="mail_error"> 
</div>  


<span id="mail-error" class="a-textfield-error">E-postadressen er ikke gyldig.</span>

 