
<div class="input-group a-input">
  <label class="input-group-addon" for="usrtel" id="basic-addon1">
  	<i class="material-icons a-input-icon">&#xE324;</i> 
  	<span class="a-input-labelText"> SMS: </span>
  </label>
  <input type="tel" name="usrtel" id="usrtel" class="form-control" placeholder="99999999" aria-describedby="tel_error"> 
</div>    
 

