
 <div class="input-group a-input">
 <label class="input-group-addon" for="a-find" id="basic-addon1"><i class="material-icons a-input-icon">&#xE1DB;</i></label>
  <input type="text" id="a-find" class="form-control" placeholder="Finn datasystem...">
  <span class="input-group-btn">
    <button class="btn btn-secondary" type="button">
    	<i class="material-icons a-input-icon">&#xE8B6;</i>
    	{{! <span class="sr-only">Go!</span>  }}
    </button> 
  </span>
</div>  