<!-- START: 02-organismer-20-forms-10-skjema-innehaver -->
<form data-toggle="validator" role="form" action="{{{url}}}" class="form-inline a-form-inline {{ styleModifier }}">

  <span class="clearfix d-block mb-2">

    {{# text-input-personnumber }}
      {{> atomer-tekst-input }}
    {{/ text-input-personnumber }}

    {{# text-input-lastname }}
      {{> atomer-tekst-input }}
    {{/ text-input-lastname }}

  </span> {{# adress-submit }} {{> atomer-knapp }} {{/ adress-submit }}
</form>

<!-- END: 02-organismer-20-forms-10-skjema-innehaver -->