<!-- START: 03-maler-altinnett-10-forside-10-forside -->
<div class="a-page">
  {{# header }} {{> organismer-header-altinnett }} {{/ header }}
  <section id="content" tabindex="-1">
    <h1 class="sr-only">Altinn - enklere dialog med det offentlige</h1>
    {{> molekyler-jumbotron }}
  </section>
  {{# footer }} {{> organismer-footer-altinnett }} {{/ footer }}
</div>

<!-- END: 03-maler-altinnett-10-forside-10-forside -->