<!-- START: 01-molekyler-03-media-00-illustrasjonslenke -->
<div class="row {{styleModifier}}">
  {{# illustrationLink }}
  <div class="{{{col}}}">
    <a href="{{url}}" class="a-illustrationLink">
      <h2 class="a-h3">{{{h2}}}</h2>
      <p class="a-js-truncate-2">{{{text}}}</p>
      <div class="a-illustration-icon">
        {{> atomer-placeholder }}
        <div class="a-illustration-overlay">
          <span class="sr-only">Gå til tema: {{{h2}}}</span>
        </div>
      </div>
    </a>
  </div>
  {{/ illustrationLink }}
</div>

<!-- END: 01-molekyler-03-media-00-illustrasjonslenke -->