<div class="a-page" id="smoothState">
	<span class="a-js-bodyClassPersist" data-body="{{ bodyClass }}"></span>
	{{> organismer-header }}

		<div class="container" id="content" tabindex="-1">
			<div class="row mt-3 mb-3">
				<div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
					{{# article-search }}
						{{> atomer-tekst-input }}
					{{/ article-search }}
				</div>
			</div>

			{{> molekyler-toppoppgaver }}

      {{# elementList }}
        <div class="row">
          <div class="col-sm-12 col-lg-12{{# block-margin }} {{{ block-margin }}} {{/ block-margin }}">
              {{> atomer-sidetittel:a-h2|a-fontReg }}
          </div>
        </div>

        {{# messages }}
          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <div id="{{ accordion-large-id }}" class="a-panelAccordion" role="tablist">
                {{# accordion-large-items }}
                  {{> organismer-ekspanderbart-panel }}
                {{/ accordion-large-items }}
              </div>
            </div>
          </div>
        {{/ messages }}
      {{/ elementList }}
		</div>

	{{> organismer-footer }}

</div>
