<div class="a-page" id="smoothState">
	{{> organismer-header }}

		<div class="container" id="content" tabindex="-1">

			<div class="row m-t-3 m-b-3">
				<div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
					{{# article-search }}
						{{> atomer-tekst-input }}
					{{/ article-search }}

				</div>
			</div>

			{{> molekyler-toppoppgaver }}

			<div class="row">
				<div class="col-sm-12 col-lg-12 m-t-4 a-collapse-heading-titleAbove">
						{{> atomer-sidetittel:a-textSize2|a-textSizeReg }}
				</div><!-- END .col-... -->
			</div><!-- END .row -->


			<div class="row">
				<div class="col-sm-12 col-lg-12 m-b-4">

					{{# messages }}
						{{> molekyler-trekkspill-panel:a-inbox-messageList }}
					{{/ messages }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

		{{> organismer-footer }}

	</div> <!-- END .container -->

</div> <!-- END .a-page #smoothstate -->
