<!-- START: 01-molekyler-03-media-141-dashboard-kontaktperson-vertikal -->
<div class="row mx-sm-0 {{ class }}">

  <div class="col-12 p-1">
    <div class="an-squareImage h-100">
      <img class="an-squareImage-image an-grayscale an-multiply" src="{{ img-src }}" alt="{{ img-alt }}">
    </div>
  </div>

  <div class="col-12 align-self-center p-2">
    {{# navn }}
    <p class="a-fontSizeM a-fontBold mb-0">{{{ navn }}}</p>
    {{/ navn }} {{# rolle }}
    <p class="a-fontSizeM a-fontBold mb-0">{{{ rolle }}}</p>
    {{/ rolle }}

    <p class="mb-0">
      <a href="tel:+47{{{ telNumber }}}" class="a-fontSizeM a-noUnderline">
            <span class="sr-only a-fontSizeM">{{{ telNumberVisible }}}</span>
            {{{ telNumberVisible }}}
          </a>
    </p>

    <p class="mb-0">
      <a href="mailto:{{{ mail-adress }}}" class="a-fontSizeM a-noUnderline">
            <span class="sr-only a-fontSizeM">{{{ mail-adress }}}</span>
            {{{ mail-adress }}}
          </a>
    </p>
  </div>

</div>

<!-- END: 01-molekyler-03-media-141-dashboard-kontaktperson-vertikal -->