{{> atomer-link-med-popover(popover-trigger: "manual", popover-link-text: "<i class=\"material-icons\">help</i><i class=\"material-icons\">cancel</i>", open-popover-class: "a-helpIconButton a-js-persistPopover a-js-popoverBig", popover-class: "popover-big", popover-content: "Innholdet i popover fra spørsmålstegn-ikonet kommer her..") }}
