// ------------------------------------\
// JAVASCRIPT CLASSES
// ------------------------------------/

// Propagated content selectors
.a-js-bodyClassPersist {
  display: none;
}

.container,
.row {
  &:focus {
    box-shadow: none !important;
  }
}

.a-js-hidden {
  display: none;
}

.a-js-forceHidden {
  display: none !important;
}

.a-js-forceFlexColumn {
  flex-direction: column;
}

.dropdown-menu {
  &.a-dropdown-personswitchList,
  &.a-dropdown-overflow-menu {
    display: none;
  }

  &.a-dropdown-overflow-menu-right {
    display: none;
  }
}

.a-js-none {
  display: none;
}

.a-js-genericSearch {
  .a-card-filter,
  .a-js-results,
  .a-js-alternativeResults,
  .a-js-noResults {
    display: none;
  }
}

.a-js-adjustedError {
  margin-bottom: 12px;
}
