<!-- START: 00-atomer-06-tabeller-05-tabell-regnestykke -->
<!-- Table -->
<div class="table-responsive">
  {{# table-calculation }}
  <table class="table a-table a-table-calculation">
    <tbody>
      {{# table-tbody-items }}
      <tr>
        {{{ table-tbody-text }}}
      </tr>
      {{/ table-tbody-items }}
    </tbody>
    <tfoot>
      {{# table-tfooter-items }}
      <tr>
        {{{ table-tfooter-text }}}
      </tr>
      {{/ table-tfooter-items }}
    </tfoot>
  </table>
  {{/ table-calculation }}
</div>

<!-- END: 00-atomer-06-tabeller-05-tabell-regnestykke -->