<!-- START: 02-organismer-70-Modal-innhold-30-be-om-tilgang -->
<div {{# isModal }} class="modal-body a-modal-body" {{/ isModal }}>
  <div class="row">
    <div class="col">
      {{# be-om-tilgang-header }}
      <h2 class="mb-3">{{ be-om-tilgang-header }}</h2>
      {{/ be-om-tilgang-header }} {{# be-om-tilgang-text }}
      <p class="a-fontSizeXS mb-1">{{{ be-om-tilgang-text }}}</p>
      {{/ be-om-tilgang-text }}
    </div>
  </div>
  {{# bottom-button-row }}
  <div class="row">
    <div class="col mt-3">
      {{# buttons }} {{> atomer-knapp }} {{/ buttons }}
    </div>
  </div>
  {{/ bottom-button-row }}
</div>
<!-- END: 02-organismer-70-Modal-innhold-30-be-om-tilgang -->