<!-- START: 01-molekyler-01-kort-_04-kort-gjennomgang -->
<ol class="no-decoration a-circle-list">
  {{# questionnaire }} {{# questionnaire-content }}
  <li class="a-trigger-question">
    {{ card-title }} {{> atomer-valgknapp-ett-alternativ }}
    <hr class="a-hrLight" />
  </li>
  {{/ questionnaire-content }}
  <li>
    {{> atomer-link }}
  </li>
  {{/ questionnaire }}
</ol>

<!-- END: 01-molekyler-01-kort-_04-kort-gjennomgang -->