<!-- START: 00-atomer-05-Ekspansjonsknapper-38-link-hjelpefunksjon -->
<div class="a-link-helpfunction">
  <div>
    {{# help-text-icon }} {{> atomer-ikon }} {{/ help-text-icon }}
  </div>
  <div class="a-link-helpfunction-text">
    {{# help-text-1 }} {{ help-text-1 }} {{/ help-text-1 }} {{# is-link }} {{> atomer-link }} {{/ is-link }} {{# is-chat }}
    <div class="a-link-chat" id="link-chat">chat</div>
    {{/ is-chat }} {{# help-text-2 }} {{{ help-text-2 }}} {{/ help-text-2 }} {{# help-link-2 }} {{> atomer-link }} {{/ help-link-2 }}
  </div>
</div>

<!-- END: 00-atomer-05-Ekspansjonsknapper-38-link-hjelpefunksjon -->