<div class="a-page">
  {{# header }}
      {{> organismer-header-altinnett }}
  {{/ header }}

  <div class="container">
    {{# crumbs }}
      <div class="mb-4">
        {{> molekyler-smulesti }}
      </div>  
    {{/ crumbs }}

    <div class="mb-4">
      <p class="mb-0 a-fontSizeXL">{{ preTitle }}</p>
      <h1 class="a-fontSizeXXXL mb-0 a-fontBold a-blueDarkerText">{{ pageTitle }}</h1>
    </div>

    <div class="row mb-6 mb-lg-8">
      {{# ingress }}
        <div class="col-12 col-lg-9 offset-lg-1 mb-4">
          {{> atomer-seksjonstittel }}
          {{> atomer-intro-tekst }}
          {{> atomer-byline }}
        </div>
      {{/ ingress }}

      <div class="col-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg">
        {{# listContent }}
            {{> atomer-avsnitt }}
            <h3 class="a-h4">{{section-title}}</h3>
            {{> atomer-liste-unummerert-kuler }}
        {{/ listContent }}
      </div>

      {{# link }}
      <div class="col-12 col-lg-10 offset-lg-1 mt-4">
          {{> atomer-link-ekstern }}
      </div>
      {{/ link }}
    </div>
  </div>

  {{# footer }}
    {{> organismer-footer-altinnett }}
  {{/ footer }}
</div>