
/* List in textarticle */

.a-text {

	h1,h2,h3,h4 {
		margin: 12px 0 12px 0;

		@media all and (min-width: $bp-med) {
			margin: 36px 0 12px 0;
		}
	}
	ul{
	    list-style: disc;
	    max-width: 760px;
	}
	ul.no-decoration {
		list-style: none;
		margin:0;
		max-width: none;
	}
	ol {
	    list-style-type:decimal;
	}
	ul,
	ol {
	    margin: 0 0 30px 60px;
	    font-size: 16px;
	}
    ul ul,
    ol ol {
	    margin-bottom: 0;
	    margin-top: 10px;
	}
	li {
		margin-bottom: 10px;
	}
}


//Article
.article-header {
	h1 {
		font-size: 2.5em;
	}
}

// Images in articles
