// JUMBOTRON
.a-jumbotron {
  min-height: 550px;
  max-height: 792px;
  margin-bottom: $spacer * 3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media-breakpoint-up( sm ) {
    min-height: 600px;
    margin-bottom: $spacer * 5;
  }

  @include media-breakpoint-up( md ) {
    min-height: 650px;
  }
  @include media-breakpoint-up( xxl ) {
    min-height: calc(100vh - 200px);
  }

  .a-leadText {
    max-width: 600px;
	}

  hr {
    display: none;
  }

  p {
    @include a-fontSize20;
    color: $blue-darker;
	}

  .a-jumbotron-title {
    display: block;
    margin-bottom: $spacer;
	}

  .a-jumbotron-ingress {
    @extend .a-fontSizeXL;
    display: block;
    margin-bottom: $spacer * 2;
    color: $blue-darker;

    &.a-jumbotron-ingress--small {
      @extend .a-fontSizeM;
    }
	}

  .a-jumbotron-btn-textright {
    display: none;

    @include media-breakpoint-up( sm ) {
      display: inline;
      padding-left: $spacer;
    }
  }

  &.a-jumbotron-emergency {
    background-color: $white-opacity-07;
    background-blend-mode: luminosity;
  }

  &.a-jumbotron--autoHeight {
    height: auto;
    min-height: auto;
  }

  .a-message {
    &.a-message--arrow-off {
      margin-top: $spacer * 1.5;
    }
  }

  .a-form-group {
    .a-form-group-items {
      input {
        background-color: $white;
      }

      .input-group-btn {
        .btn {
          background: $white;

          &:focus {
            background: $blue-light;
          }
        }
      }
    }
  }
}

.a-jumbotron-header {
  padding-top: 130px;
  margin-top: -144px;
  background-position: right 120px;
  background-size: 945px;

  @include media-breakpoint-up( sm ) {
    background-position: right 0;
    background-size: cover;
  }

  @include media-breakpoint-up( md ) {
    padding-top: 150px;
  }

  @include media-breakpoint-up( lg ) {
    padding-top: 130px;
  }

  @include media-breakpoint-up( xl ) {
    background-position: center 0;
  }

  @include media-breakpoint-up( xxl ) {
    padding-top: 9%;
  }

  &.a-jumbotron-header--small {
    padding-top: 130px;
    padding-bottom: $spacer * 3;
    margin-bottom: $spacer * 3;

    @include media-breakpoint-up( md ) {
      padding-top: 144px;
      padding-bottom: $spacer * 6;
      margin-bottom: $spacer * 5;
    }

    @include media-breakpoint-up( lg ) {
      padding-top: 144px;
      padding-bottom: $spacer * 9;
    }
  }

  &.a-jumbotron-header--left {
    background-position: left 120px;

    @include media-breakpoint-up( sm ) {
      background-position: left 0;
    }

    @include media-breakpoint-up( xl ) {
      background-position: center 0;
    }
  }
}

.a-jumbotron-light {
  background-image: url($images-base-url + 'header-bg1.svg');

  a {
    &:hover,
    &:focus {
      color: $blue-darker;
      border-bottom: 2px solid $blue-darker;
    }
  }

  .a-dotted {
    background-image: $dotted-border-black;
	}

  .a-list {
    .a-clickable,
    .a-selectable {
      &.a-list-hasRowLink {
        &:hover,
        &:active,
        &:focus {
          background-color: $white-opacity-03;
        }
      }
    }
  }
}


// If dark background
.a-jumbotron-dark {
  color: $white;
  background-color: $blue-darker;

  a,
  p,
  .a-jumbotron-btn-textright,
  .a-jumbotron-btn-textright,
  .a-jumbotron-ingress {
    color: $white;
	}

  a {
    border-color: $white;

    &:hover,
    &:focus,
    &:active {
      color: $white;
      border-color: $white;
  	}
  }

  .a-btn {
    &.a-btn-border {
      color: $white;
      background: transparent;
      border: 2px solid $white;

      &:hover,
      &:focus {
        color: $white;
        background: $white-opacity-01;
      }
  	}
  }

  .a-breadcrumb {
    a {
      border-bottom: 2px solid $blue;

      &:hover {
        color: $white;
      }
    }

    li {
      &.active {
        a {
          color: $white;
          border-bottom: none;

          &:hover {
            border: none;
          }
        }
      }

      &.breadcrumb-mobile {
        @include media-breakpoint-down( sm ) {
          &::before {
            color: $white;
          }

        }
      }
    }
  }

  .a-breadcrumb>li+li {
    &::before {
      color: $white;
    }
	}

  .a-dotted-line {
    background-image: $dotted-border-white;
	}

  .a-dotted {
    background-image: $dotted-border-white;
	}

  .a-list {
    &.a-list-borderTop {
      li {
        &:first-child {
          background-image: $dotted-border-white, $dotted-border-white;
          background-repeat: repeat-x;
          background-position: 25px top, 25px bottom;
          background-size: 4px 2px;
        }
      }
    }
  }

  .a-listItem-title {
    &:focus {
      background-color: $white-opacity-01;
    }
  }

  .a-clickable,
  .a-selectable {
    a {
      &:hover,
      &:active,
      &:focus {
        &:not(.a-expanded) {
          &:not(.a-deleted) {
            &:not(.a-completed) {
              cursor: pointer;
              background-color: $white-opacity-005;
              box-shadow: none;
            }
          }
        }
      }
    }
  }

  .a-message {
    color: $black;

    a {
      color: $black;
      border-bottom: 1px solid $blue;

      &:hover {
        border-bottom: 1px solid $blue-dark;
      }
    }
  }

  &.a-jumbotron-dark--purple {
    background: $purple;
  }
}

.a-jumbotron-large {
  @include media-breakpoint-up( md ) {
    height: 600px;
	}
  @include media-breakpoint-up( lg ) {
    height: 700px;
	}
}

.a-jumbotron-bottom {
  background-color: $blue-darker;
  background-position: bottom right;
  background-size: 60%;

  @include media-breakpoint-up( lg ) {
    min-height: 580px;
    background-position: center;
    background-size: cover;
	}
}

.a-jumbotron-top {
  padding-top: 357px;
  background-position: right -50px;
  background-size: 890px;

  @include media-breakpoint-up( md ) {
    display: flex;
    min-height: 580px;
    padding-top: $spacer * 3;
    margin-bottom: $spacer * 3;
    background-position: bottom center;
    background-size: cover;
    align-items: center;
  }
  @include media-breakpoint-up( xxl ) {
    max-width: 2200px;
    margin-right: auto;
    margin-left: auto;
  }
}

// PERSON ROLE
.a-personRole {
  display: flex;
  float: left;
  width: 100%;
  min-height: $spacer * 3;
  align-items: center;

  .a-dot {
    margin-top: -5px;
    align-self: flex-start;
  }

  .a-personRole-text {
    float: left;

    .a-personRole-role {
      @include a-fontSize12;
      display: block;
      padding-bottom: 3px;
      text-transform: uppercase;
    }

    .a-personRole-name {
      @include a-fontSize20;
      @include a-fontBold;
    }
  }

  .a-label {
    margin-top: -2px;
  }

}

// Media block
.a-mediaBlock {
  margin-bottom: $spacer * 4;
  text-align: center;

  img {
    width: 40%;
    margin: 0 auto;
    border-radius: 50%;

    @include media-breakpoint-up( sm ) {
      width: 60%;
    }
  }

  &.a-img-large {
    img {
      width: 60%;

      @include media-breakpoint-up( md ) {
        width: 100%;
        max-width: 320px;
      }
    }
  }

  .a-mediaBlock-caption {
    padding-top: $spacer * 2;
    text-align: center;
  }
}

// Card
.a-card {
  width: 100%;
  padding: $spacer * 2 $spacer * 1.5;
  margin-bottom: $spacer * 2;
  background: $white;
  box-shadow: $shadow;

  @include media-breakpoint-up( sm ) {
    padding: $spacer * 2 $spacer * 2;
  }

  @include media-breakpoint-up( md ) {
    padding: $spacer * 4 $spacer * 4;
  }

  @include media-breakpoint-up( lg ) {
    padding: $spacer * 4 89px;
  }

  .a-h3 {
    margin-bottom: $spacer * 2;

    a {
      @extend .a-h3;
    }

    span {
      @include a-fontReg;
    }
  }

  .a-collapseHeader {
    &.a-h3 {
      padding-bottom: 0;
      margin-bottom: 0;

      a {
        margin-bottom: 0;
      }
    }
  }

  &.a-card-filter {
    padding: $spacer * 1.5 $spacer * 1.5;
    margin-bottom: 0;

    @include media-breakpoint-up( sm ) {
      padding: $spacer * 2 $spacer * 2;
    }

    @include media-breakpoint-up( lg ) {
      padding: $spacer * 2 89px;
    }
  }

  &.transparent {
    background: transparent;
    box-shadow: none;

    p {
      display: inline;

      &::before,
      &::after {
        display: block;
        content: '\A\A';
      }

      &::after {
        margin-bottom: 20px;
      }
    }
	}

}

.a-bgWhite {
  .a-card {
    &:not(.transparent, .a-cardImage) {
      background: $grey-light;

      hr {
        &.a-hrLight {
          border-bottom: 1px solid darken( $grey-light, 6% );
        }
      }
    }
  }
}

.a-cardImage {
  display: flex;
  padding: 0;
  background: transparent;
  box-shadow: none;
  align-items: center;
  flex-wrap: wrap;

  @include media-breakpoint-up( md ) {
    flex-wrap: nowrap;
  }

  img {
    flex-grow: 0;
    width: 150px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;

    @include media-breakpoint-up( md ) {
      width: 126px;
      height: 126px;
      margin-right: $spacer * 3;
      margin-bottom: 0;
    }
    @include media-breakpoint-up( lg ) {
      width: 180px;
      height: 180px;
    }
  }

  .a-cardImage-text {
    margin-top: $spacer * 2;

    @include media-breakpoint-up( md ) {
      margin-top: 0;
    }

    .a-linkIcon {
      &:last-child {
        padding-right: 0;
      }
    }
  }

  .a-link-tel {
    margin-left: -5px;
  }

  &.a-cardImage-border {
    padding: $spacer * 2 $spacer * 2;
    margin-top: -1px;
    border: 1px solid $grey-medium;

    .a-cardImage-text {
      p {
        @extend .a-fontSizeL;
      }
    }
  }

  &.a-cardImage-largePadding {

    @include media-breakpoint-up( md ) {
      padding: $spacer * 2 $spacer * 3;
    }

    @include media-breakpoint-up( lg ) {
      padding: $spacer * 2 $spacer * 7;
    }
  }
}


// Card group

.a-card-group {
  .a-card {
    padding: $spacer * 3 $spacer * 4 $spacer $spacer * 4;

    h2 {
      a {
        padding-bottom: 1px;
      }
    }
  }
}

// Questions (guide)
.a-question-wrapper {
  display: inline-block;
  padding: 0;
  overflow: hidden;

  .a-trigger-question {
    position: relative;
    display: none;
    padding-bottom: $spacer;
    margin-top: -1px;
    margin-bottom: 0;
    border-top: 1px solid darken( $grey-light, 6% );

    &:nth-of-type(1) {
      display: block;
    }
  }

  .a-circle-list {
    margin-left: 0;

    @include media-breakpoint-up( lg ) {
      margin-left: 0;
    }

    li {
      padding-top: $spacer * 2;
      padding-right: $spacer * 2;
      padding-left: $spacer * 6;

      @include media-breakpoint-up( md ) {
        padding-top: $spacer * 3;
        padding-right: $spacer * 4;
        padding-left: $spacer * 7;
      }

      &::before {
        position: absolute;
        top: $spacer * 1.5;
        left: $spacer * 6;
        width: $spacer * 3;
        height: $spacer * 3;

        padding: 5px 0 0 0;
        text-align: center;

        @include media-breakpoint-up( md ) {
          top: $spacer * 2.5;
          left: $spacer * 7;
        }
      }

      &:last-of-type {
        display: none;
        padding: 0;
        margin-bottom: 0;

        &::before {
          display: none;
        }
      }
    }
  }

  .hidewhenempty {
    margin-top: 18px;
    margin-bottom: 15px;
    // margin-left: $spacer * 2;
    margin-left: 0;

    @include media-breakpoint-up( sm ) {
      // margin-left: $spacer * 6;
      margin-left: 0;
    }

    @include media-breakpoint-up( md ) {
      // margin-left: $spacer * 7;
      margin-left: 0;
    }
	}

  .hidewhenempty + hr {
    display: none;
  }

  hr {
    margin: 0;
  }

  .a-btn {
    width: 100%;
    margin-bottom: 0;
    // TODO: Disable linting for special case line heights
    line-height: $spacer * 3;
    text-align: center;
  }
}

// Filter guide

.a-filterGuide {
  .a-btn {
    &:disabled {
      display: none;
    }
  }
}

// CARD

.a-mainCard {

  @include media-breakpoint-up( lg ) {
    padding-left: $onecol;
  }

  .a-iconText {
    margin-bottom: $spacer * 2;
    margin-left: -$spacer;

    @include media-breakpoint-up(lg) {
      width: calc(100% + 72px);
      margin-left: -$spacer * 6;
    }

    .a-iconText-icon {
      @include media-breakpoint-down(md) {
        margin-right: 0;
      }
    }

    .a-pageTitle {
      @include media-breakpoint-down(sm) {
        @include a-fontSize18;
      }
    }

    a,
    .a-formCode {
      @include media-breakpoint-up(lg) {
        @include a-fontSize30;
      }
    }
  }

  .a-mainCard-content {
    @extend .a-fontSizeM;

    ul {
      margin-left: 0;
    }
  }
}

//Sammenligning av selskapstyper
.a-compare-header {
  margin-bottom: $spacer * 4;

  h2 {
    @include a-fontBold;
  }

  .a-compare-container {
    border-bottom: 1px solid $blue-line;

    &:last-child {
      padding-left: $spacer * 1;

      @include media-breakpoint-up( md ) {
        padding-left: $spacer * 1.5;
      }
    }
  }
}

.a-compare-header-alone {
  margin-bottom: 0;
  border-bottom: none;

  h2 {
    @include a-fontSize20;
	}
}

.a-compare-element {
  width: 100%;
  padding-top: $spacer * 3;
  padding-bottom: $spacer * 3;

  > h3 {
    margin-top: 0;
  }
}

.a-compare-category {
  h2 {
    margin-top: $spacer * 4;
    @include media-breakpoint-up( md ) {
      padding: 0;
    }
  }

  .a-compare-container {
    padding: 0 $spacer * 2;
    border-top: 1px solid $blue-line;

    &:not(:nth-of-type) {
      border-right: 1px solid $blue-line;
    }

    &:nth-child(odd) {
      padding-left: $spacer;
      border-right: 1px solid $blue-line;
      @include media-breakpoint-up( md ) {
        padding-left: $spacer * 2;
      }
    }

    &:not(:last-of-type) {
      @include media-breakpoint-up( md ) {
        border-right: 1px solid $blue-line;
      }
    }

    p {
      @extend .a-fontSizeS;
    }

    &:first-child {
      padding-right: $spacer;

      @include media-breakpoint-up( md ) {
        padding-left: $spacer;
      }
    }

    @include media-breakpoint-up( xl ) {
      padding: 0 $spacer * 2;
    }
	}
}

// Article list
.a-linkArticle {
  padding-bottom: $spacer * 2;
}

.a-articleList {
  .a-linkArticle {
    padding-bottom: 0;

    a {
      @extend .a-fontSizeM;
    }
  }
}
