
// HERO

.a-jumbotron-header {
	background: url('../images/header-bg1.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: -104px;
	padding-top: 154px;
	padding-bottom: 134px;
	p {
		font-size: 24px;
		line-height: 30px;
		color: $blue-darker;
	}
	.a-jumbotron-title {
		font-family: 'din-bold';
		display: block;
		padding-bottom: $space;
	}
}

// PERSON ROLE

.a-personRole {
	display: block;
	.a-personRole-icon {
		float: left;
		font-size: 48px;
		padding-right: 12px;
	}
	.a-personRole-text {
		float: left;

		.a-personRole-role {
		    font-size: 12px;
		    text-transform: uppercase;
		    display: block;
		}
		.a-personRole-name {
			font-size: 20px;
			font-family: 'DIN-bold';
		}
	}
}

// Media block

.a-mediaBlock {
	text-align: center;
	.a-mediaBlock-illustration {
		width: 40%;
		margin: 0 auto;

		@media all and (min-width: $bp-small) {
      width: 60%;
    }
	}
	.a-mediaBlock-caption {
		text-align: left;
		padding-top: $space-x2;
	}
}
