// JUMBOTRON
.a-jumbotron {
  padding-bottom: 134px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .a-leadText {
    max-width: 600px;
	}

  p {
    font-size: 20px;
    line-height: 28px;
    color: $blue-darker;
	}

  .a-jumbotron-title {
    display: block;
    margin-bottom: $spacer;
	}

  .a-jumbotron-ingress {
    display: block;
    margin-bottom: $spacer * 2;
    font-size: 28px;
    line-height: 36px;
    color: $blue-darker;
	}

  .a-jumbotron-btn-textright {
    display: block;

    @include media-breakpoint-up( sm ) {
      display: inline;
      padding-left: $spacer;
    }
  }

  .a-link {
    &:hover,
    &:focus {
      color: $white;
      border-bottom: 2px solid $white;
    }
  }
}

.a-jumbotron-header {
  padding-top: 170px;
  margin-top: -110px;
}

.a-jumbotron-light {
  background-image: url('../images/header-bg1.svg');
}

// If dark background, make text white
.a-jumbotron-dark {
  color: $white;
  background-image: url('../images/header-bg0.svg');

  a,
  p,
  .a-jumbotron-btn-textright,
  .a-jumbotron-btn-textright,
  .a-jumbotron-ingress {
    color: $white;
	}

  .a-btn-border {
    color: $white;
    background: transparent;
    border: 2px solid $white;

    &:hover {
      background: rgba( 255, 255, 255, 0.1 );
    }
	}

  .a-breadcrumb {
    .a-link {
      border-bottom: 2px solid $blue;

      &:hover {
        color: $white;
      }

    }



    li {
      &.active {
        a {
          color: $white;
          border-bottom: none;

          &:hover {
            border: none;
          }
        }
      }
    }
  }

  .a-breadcrumb>li+li::before {
    color: $white;
	}

  .a-dotted-line {
    background-image: linear-gradient( to right, $white 50%, rgba( 255, 255, 255, 0 ) 0% );
	}

  .a-dotted {
    background-image: linear-gradient( to right, $white 50%, rgba( 255, 255, 255, 0 ) 0% );
	}

  .a-item-list {
    .a-item-list-item {
      .a-listItem-title {
        color: $white;
    	}
    }
  }

  .a-item-list .a-item-list-item.a-clickable:hover,
  .a-listItem-title:focus {
    background-color: rgba( 255, 255, 255, 0.1 );
	}

  .a-link {
    border-bottom: 2px solid $white;
	}
}

.a-jumbotron-large {
  @include media-breakpoint-up( md ) {
    height: 600px;
	}

  @include media-breakpoint-up( lg ) {
    height: 700px;
	}
}

.a-jumbotron-bottom {
  background-color: $blue-darker;
  background-position: bottom right;
  background-size: 60%;

  @include media-breakpoint-up( lg ) {
    min-height: 580px;
    background-position: center;
    background-size: cover;
	}
}

// PERSON ROLE
.a-personRole {
	display: block;
	float: left;
	width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
	.a-personRole-icon {
		float: left;
		color: $black;
		font-size: 30px; 
    padding-right: 12px;
    margin-top: -7px;
	}

  .a-personRole-icon-success {
    float: left;
    padding-top: $spacer;
    padding-right: 7px;
    font-size: 28px;
    color: $green;
  }

  .a-personRole-text {
    float: left;

    .a-personRole-role {
      display: block;
      font-size: 12px;
      text-transform: uppercase;
    }

    .a-personRole-name {
      font-family: $font-bold;
      font-weight: $font-weight-bold;
      font-size: 20px;
      line-height: 20px;
    }
  }
  .a-label {
    margin-top: -4px;
  }
}

// Media block
.a-mediaBlock {
  text-align: center;

  img {
    width: 40%;
    margin: 0 auto;

    @include media-breakpoint-up( sm ) {
      width: 60%;
    }

  }

  .a-mediaBlock-caption {
    padding-top: $spacer * 2;
    text-align: left;
  }
}

// Card
.a-card {
  width: 100%;
  padding: $spacer * 4 $spacer * 4;
  margin-bottom: $spacer * 2;
  background: $white;
  box-shadow: $shadow;

  @include media-breakpoint-up( lg ) {
    padding: $spacer * 4 $spacer * 8;
    margin-bottom: $spacer * 4;
  }

  .a-textSize3 {
    margin-bottom: $spacer * 2;

    span {
      font-family: $font-reg;
      font-weight: $font-weight-reg;
    }
  }

  &.transparent {
    background: transparent;
    box-shadow: none;

    p {
      display: inline;

      &::before,
      &::after {
        display: block;
        content: '\A\A';
      }

      &::after {
        margin-bottom: 20px;
      }
    }
	}
}

.neutral .a-card:not(.transparent),
.a-bgWhite .a-card:not(.transparent) {
  background: $grey-light;

  hr {
    &.a-hrLight {
      border-bottom: 1px solid darken( $grey-light, 6% );
    }
  }
}

.a-card-image {
  padding: 0;
  img {
    width: 180px;
    float: left;
    margin-left: 0;
    @include media-breakpoint-down(md) {
      width: 128px;
    }
    @include media-breakpoint-down(sm) {
      float: none;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 30px;
    }
  }
	.a-card-image-text {
		margin-left: calc(180px + 24px);
		display: block;
		@include media-breakpoint-down(md) {
			margin-left: calc(128px + 24px);
		}
		@include media-breakpoint-down(sm) {
			margin-left: 0;
		}
	}
	.a-link-tel {
		margin-left: -5px;
	}

}

.a-question-wrapper {
	overflow: hidden;
	padding: 0px;
	.a-trigger-question {
		display: none;
		position: relative;
	}
	.a-trigger-question:nth-of-type(1) {
		display: block;
	}
	.a-circle-list li:before {
		padding: 5px 0 0 0;
		position: absolute;
		left: $spacer*2;
		top: $spacer*1.5;
		height: 36px;
		width: 36px;
		text-align: center;
		@include media-breakpoint-up(md) {
			left: $spacer*3;
			top: $spacer*2.5;
		}
	}
	li {
		padding-top: $spacer*2;
		padding-left: $spacer*6;
		padding-right: $spacer*2;
		@include media-breakpoint-up(md) {
			padding-top: $spacer*3;
			padding-left: $spacer*7;
			padding-right: $spacer*4;
		}
	}
	.hidewhenempty {
		margin-left: $spacer*2;
		margin-bottom: 15px;
		@include media-breakpoint-up(sm) {
			margin-left: $spacer*6;
		}
		@include media-breakpoint-up(md) {
			margin-left: $spacer*7;
		}
	}
	hr {
		margin: 0;
	}
	.a-btn {
		margin-bottom: 0;
		margin-top: -1px;
		width: 100%;
		line-height: 36px;
		display: none;
		float: left;
		text-align: center;
	}
}


.a-main-card {
  .a-textSize2 {
    @include media-breakpoint-up( md ) {
      margin-bottom: -5px;
    }

    margin-bottom: $spacer / 2;
    font-family: $font-bold;
    font-weight: $font-weight-bold;

    span {
      font-family: $font-reg;
      font-weight: $font-weight-reg;
    }
  }

  .subtext {
    font-size: 12px;

    a {
      padding-bottom: 2px;
      border-bottom: 1px solid $blue;
    }
  }
}

//Sammenligning av selskapstyper
.a-compare-header {
  margin-bottom: $spacer * 4;
  border-bottom: 1px solid $blue-line;

  h2 {
    font-family: $font-bold;
    font-weight: $font-weight-bold;
    word-break: break-word;
  }

  .a-compare-container {
    &:first-child {
      h2 {
        @include media-breakpoint-up( md ) {
          padding-left: $spacer * 2;
        }
      }
    }

    &:last-child {
      padding-left: 0;

      @include media-breakpoint-up( md ) {
        padding-left: $spacer * 2;
      }
    }
  }
}

.a-compare-header-alone {
  margin-bottom: 0;
  border-bottom: none;

  h2 {
    font-size: 20px;
	}
}

.a-compare-element {
  width: 100%;
}

.a-compare-category {
  h2 {
    @include media-breakpoint-up( md ) {
      padding: 0 $spacer * 2;
    }
  }

  .a-compare-container {
    @include media-breakpoint-up( md ) {
      padding: 0 $spacer * 2;

      &:not(:nth-of-type) {
        border-right: 1px solid $blue-line;
      }

      &:first-child {
        padding-right: $spacer * 2;
      }

      p {
        font-size: 18px;
        line-height: 24px;
      }
    }

    @include media-breakpoint-up( lg ) {
      &:not(:last-of-type) {
        border-right: 1px solid $blue-line;
      }
    }

    padding: 0;
    margin-bottom: $spacer * 4;
    border-top: 1px solid $blue-line;

    &:first-child {
      padding-right: $spacer;
    }

    p {
      font-size: 14px;
      line-height: 20px;
		}
	}
}
