/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.a-btn {
	display: inline-block;
    font-weight: normal;
    text-align: center;
    position: relative;
    cursor: pointer;
    border: 0px solid transparent;
    padding: 6px 24px;
    font-size: 16px;
    line-height: 24px;
    background: $blue;
    color: $black;
    font-family: 'DIN-reg';
    margin-bottom: 12px;


    &:hover {
        background: $blue-hover-color;
        text-decoration: none;
        color: $black;
        border: 0;
    }

    &:focus{
        text-decoration: none;
        outline: 0;
        background: $black;
        color: $white;
    }

    &:active,
    &.active {
        background-image: none;
        outline: 0;
        @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
        background: $blue;
        color: $black;
    }

    &.disabled,
    &:disabled {
        cursor: $cursor-disabled;
        background: $grey-light;
        color: $black;
        @include box-shadow(none);
    }

    &:after {
        // Making the touch target area bigger without affecting the layout
        content: "";
        width: 100%;
        height: 48px;
        position: absolute;
        left: 0;
        top: -6px;
    }

}

.a-btn-secondary {
    background-color: $white;

    &:hover {
        background: $grey-light;
    }
}


.a-btn-success {
    background-color: $green;
    color: $black;

    &:hover {
        background: $green-hover-color;
        border: none;
    }
}

.a-btn-danger {
    background-color: $red;
    &:hover {
        background: $red-hover-color;
        border: none;
    }
}

.a-btn-border {
	background: transparent;
	border: 2px solid $blue-darker;
	color: $blue-darker;
	padding: 16px 24px;
  font-size: 24px;
  font-family: 'DIN-medium';
	background: rgba(255,255,255,0.5);

	&:hover {
			background: $blue-darker;
			border: 2px solid $blue-darker;
			color: $white;
	}

	@media all and (min-width: $bp-large) {
		font-size: 36px;
	}
}

.a-btn-shadow {
	background: $blue-light;
	box-shadow: 1px 1px 4px 0px rgba(137, 137, 137, 0.5);
	height: 60px;
	width: 100%;
	text-align: left;
	padding-top: 14px;

	&:hover {
			background: darken($blue-light, 5%);
	}

	.a-btn-shadow-icon {
		font-size: 30px;
		padding-right: $space;
		vertical-align: middle;
	}
}

.a-btn-viewmore {
	background: transparent;
	color: $black;

	&:hover {
			background: transparent;
			color: $blue;
	}

	.a-btn-viewmore-icon {
		font-weight: bold;
		vertical-align: middle;
		margin-right: 13px;
		font-size: 28px;
		margin-top: -4px;
	}
}

// Make button look like link

.a-btn-link,
.a-btn-link:active,
.a-btn-link:focus {
    background: none;
    border: none;
    color: $black;
    padding: 0;
    padding-bottom: 2px;
    border-bottom: 2px solid $link-color;
    text-decoration: none;
    cursor: pointer;
}

.a-btn-link:hover,
.a-btn-link:focus {
    text-decoration: none;
    border-bottom: 2px solid $blue-dark;
    color: $black;
}

// add btn

.a-btn-action {
    border: 2px dotted $blue;
    padding: 4px 24px 4px 36px;
    background-color: transparent;
    color: #000;
    text-align: left;

    &:hover {
        background: $blue-light;
        border: 2px dotted $blue;
    }

    .a-btn-action-icon,
    .a-btn-action-iconPlus {
        font-size: 16px;
        position: absolute;
        top: 7px;
        left: 12px;
    }

    .a-btn-action-iconPlus {
        font-size: 24px;
        top: 4px;
    }
}

// BOX BUTTON

.a-boxBtn {
    border: 1px solid $grey-medium;
    padding: 12px;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
    background: #fff;
    position: relative;
    height: 200px;

    p {
            margin-bottom: 0px;
    }


    .a-boxBtn-icon {
        display: block;
        font-size: 60px;
    }

    .a-boxBtn-action {
        max-width: 140px;
        display: inline-block;
        font-size: 14px;
    }

    .a-boxBtn-action-arrow {
        font-size: 16px;
    }

    &:hover {
        background: $blue-light;
        border: 1px solid $blue;
    }

		.a-boxBtn-name {
			display: block;
		}
}


// BOX ADD BUTTON

.a-boxAddBtn {
    border: none;
    padding: 12px;
    background: transparent;
    width: 100%;
    max-width: 400px;
    cursor: pointer;


    .a-boxAddBtn-inner {
        border: 2px dotted $blue;
        padding: 24px 12px;
        height: 172px;
				display: block;

        .a-boxAddBtn-icon {
            display: block;
            font-size: 36px;
            padding: 12px;
        }

        &:hover {
            background: $blue-light;
        }
    }

}



// Buttons groups

.a-btn-group {
    a,
    button {
        margin-right: 12px;

        &:last-child {
            margin-right: 0;
        }
    }


}
