/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.a-btn {
  position: relative;
  display: inline-block;
  padding: 7px $spacer * 2 5px $spacer * 2;
  margin-bottom: $spacer;
  font-family: $font-reg;
  font-size: 16px;
  font-weight: $font-weight-reg;
  line-height: 24px;
  color: $black;
  cursor: pointer;
  background: $blue;
  border: none;

  &:hover {
    color: $black;
    text-decoration: none;
    background: $blue-hover-color;
    border: none;
  }

  &:focus {
    color: $black;
    text-decoration: none;
    background: $blue-hover-color;
    border-bottom: none;
    outline: 0;
  }

  &:active,
  &.active {
    @include box-shadow( inset 0 3px 5px rgba( 0, 0, 0, 0.125 ) );

    color: $black;
    background: $blue;
    background-image: none;
    outline: 0;
  }

  &.disabled,
  &:disabled {
    @include box-shadow( none );

    color: $black;
    cursor: $cursor-disabled;
    background-color: $grey-light;
    box-shadow: 0 0 0 1px $white;
  }

  &::after {
    position: absolute;
    top: -6px;
    left: 0;
    width: 100%;
    height: $spacer * 4;
    // Making the touch target area bigger without affecting the layout
    content: '';
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    min-height: auto;
    content: '';
  }
}

.a-btn-secondary {
  background-color: $white;

  &:hover {
    background: $grey-light;
  }
}

.a-btn-success {
  color: $black;

  background-color: $green;

  &:hover {
    background: $green-hover-color;
    border: none;
  }

  &:active,
  &.active {
    background: $green;
  }

  &:focus {
    background: $green-hover-color;
  }

  &.disabled,
  &:disabled {
    @include box-shadow( none );

    color: $black;
    cursor: $cursor-disabled;
    background-color: $grey-light;
    box-shadow: 0 0 0 1px $white;
  }
}

.a-btn-danger {
  background-color: $red;

  &:hover {
    background: $red-hover-color;
    border: none;
  }

  &:active,
  &.active {
    background: $red-hover-color;
  }

  &:focus {
    background: $red-hover-color;
  }
}

.a-btn-border {
  padding: 16px $spacer * 2;
  font-family: $font-medium;
  font-size: 24px;
  font-weight: $font-weight-medium;
  line-height: 36px;
  color: $blue-darker;
  background: rgba( 255, 255, 255, 0.5 );
  border: 2px solid $blue-darker;

  @include media-breakpoint-up( lg ) {
    font-size: 36px;
  }

  &:hover,
  &:focus {
    color: $white;
    background: $blue-darker;
    border: 2px solid $blue-darker;
  }

  &:active,
  &.active {
    color: $white;
    background: $blue-darker;
  }
}

// BTN WITH ICON
.a-btn-icon {
	height: $spacer * 5;
	width: 100%;
	text-align: left;
	background: transparent;

	&:hover,
	&:focus {
			background: transparent;
			color: $blue;
	}

	.a-btn-icon-symbol {
		font-size: 22px;
    padding-right: $spacer;
		vertical-align: middle;
		margin-top: -5px;
    width: 38px;
    text-align: center;
	}
}
// BTN WITH WHITE TRANSPARENCY

.a-btn-transparentWhite {
  padding: $spacer;

  background: $white-opacity;

  &:hover,
  &:focus {
    color: $black;
    background: $white;
  }

  .a-btn-icon-symbol {
    width: $spacer * 3;
    height: $spacer * 3;
    padding: 0;
    padding-top: $spacer / 2;
    font-size: 22px;
    color: $white;
    text-align: center;
    background: $blue;
    border-radius: 50px;
  }

  .a-btn-icon-text {
    padding-left: $spacer / 2;
  }
}

.a-btn-transparentWhite-active,
.a-btn-transparentWhite-active:hover {
  color: $white;
  background: $blue;

  .a-btn-icon-symbol {
    color: $blue;
    background: $white;
  }
}

// BTN WITH SHADOW
.a-btn-shadow {
  background: $blue-light;
  box-shadow: 1px 1px 4px 0 rgba( 137, 137, 137, 0.5 );

  &:hover {
    color: $black;
    background: darken( $blue-light, 5% );
  }

  &:focus {
    color: $black;
    background: darken( $blue-light, 5% );
    box-shadow: 1px 1px 4px 0 rgba( 137, 137, 137, 0.5 );
  }

  &.a-bgGreyLight {
    &:focus {
      background: darken( $grey-light, 5% );
    }
  }

  .a-label {
    margin-top: -1px;
    margin-left: $spacer;
  }
}

// Make button look like link
.a-btn-link {
  position: relative;
  z-index: 1;
  padding: 0;
  padding-bottom: 2px;
  color: $black;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
  border-bottom: 2px solid $link-color;
  box-shadow: none;

  &::before {
    position: absolute;
    top: -11px;
    left: -$spacer;
    z-index: -1;
    width: calc( 100% + 24px );
    min-height: $spacer * 4;
    cursor: pointer;
    content: '';
  }

  &:hover {
    color: $black;
    text-decoration: none;
    border-bottom: 2px solid $blue-dark;
  }

  &:not(.override-focus) {
    &:focus {
      &::before {
        outline: none !important;
        box-shadow: $focusColor;
      }
    }
  }
}

// add btn
.a-btn-action {
  padding: $spacer / 3 $spacer * 2 $spacer / 3 $spacer * 3;
  color: $black;
  text-align: left;
  background-color: transparent;
  border: 2px dotted $blue;

  &:hover,
  &:focus {
    color: $black;
    background: $blue-light;
    border: 2px dotted $blue;
  }

  .a-btn-action-icon,
  .a-btn-action-iconPlus {
    position: absolute;
    top: 7px;
    left: $spacer / 2;
    font-size: 16px;
  }

  .a-btn-action-iconPlus {
    top: 4px;
    font-size: 24px;
  }
}

// BOX BUTTON
.a-box-button {

  position: relative;
  width: 100%;
  height: 190px;
  padding: $spacer $spacer / 2;
  cursor: pointer;
  background: $white;
  border: 1px solid $grey-medium;

  @include media-breakpoint-up( xl ) {
    max-width: 190px;
  }

  .a-box-button-text {
    @include media-breakpoint-up( sm ) {
      height: 66px;
      overflow: hidden;
    }
  }

  p {
    margin-bottom: 0;
  }

  .a-box-button-icon {
    display: block;
    font-size: 60px;
  }

  .a-box-button-info {
    display: table;
    width: auto;
    padding: $spacer / 2 $spacer;
    margin: $spacer auto $spacer auto;
    clear: both;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: $black;
    text-align: center;
    background:  $grey-light;
    border-radius: 50px;
  }

  .a-box-button-action {
    display: inline-block;
    font-size: 14px;
  }

  .a-box-button-action-arrow {
    font-size: 16px;
  }

  &:hover {
    background: $white-opacity;
    border: 4px solid $blue !important;
    padding: 9px 4px 9px 4px;

    .a-box-button-info {
      background: $white;
    }
  }

  .a-meta-text {
    font-size: 14px;
  }

  .a-box-button-name {
    display: block;
    max-height: 50px;
    overflow-y: hidden;
    font-size: 14px;
    text-transform: uppercase;
  }

  &:focus {
    background: $blue-light;
  }
}

// BOX ADD BUTTON
.a-boxAddBtn {
  width: 100%;
  max-width: 400px;
  padding: $spacer;
  cursor: pointer;
  background: transparent;
  border: none;

  .a-boxAddBtn-inner {
    display: block;
    height: 160px;
    padding: $spacer * 2 $spacer;
    border: 2px dotted $blue;

    .a-boxAddBtn-icon {
      display: block;
      padding: $spacer;
      font-size: 36px;
    }

    &:hover {
      background: $white-opacity;
    }
  }
}

// FULL WIDTH ADD BUTTON
.a-fullWidthBtn {
  width: 100%;
  height: $spacer * 4;
  font-weight: bold;

  i {
    &.a-btn-action-icon {
      top: 13px;
      margin-right: $spacer * 2;
    }
  }

  span {
    margin-left: $spacer * 3;
  }
}



// SWITCH ACTION (RADIO) BUTTON
.switch-container {
  width: 100%;
  height: $spacer * 3;
  border: 2px solid $blue;

  .radio {
    position: relative;
    width: 50%;
    height: 100%;

    &:first-of-type {
      float: left;
    }

    &:last-of-type {
      float: right;
    }

    input {
      display: none;

      &[type='radio'] {
        &:checked+label {
          background-color: $blue;
        }

        &:not(:checked)+label {
          &:hover {
            background-color: $blue-light;
          }
        }
      }
    }

    label {
      display: block;
      width: 100%;
      height: 100%;
      line-height: $spacer * 3-4px;
      text-align: center;
      background-color: $grey-light;
    }
  }
}

// Buttons groups
.a-btn-group {
  a,
  button {
    display: inline-block;
    margin-right: $spacer;

    &:last-child {
      margin-right: 0;
    }
  }

  &.a-btn-group-exLinks {
    a,
    button {
      margin-right: $spacer * 3;
      margin-bottom: $spacer;
    }
  }
}

.button-blue-no-underline {
  color: $blue-dark;
  border: none;

  &:hover,
  &:focus {
    color: $blue;
    border: none;
  }
}

// No style
.a-btn-noStyle {
  padding: 0;
  margin: 0;
  color: $white;
  background: none;
  border: none;
}
