/*------------------------------------*\
    $COLLAPSE
\*------------------------------------*/

.a-collapse {
    margin-bottom: $pad;
}

.a-collapseBtn {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    display: block;
    padding-left: 96px;
    height: 100px; 
    border-radius: 2px; 
    font-size: $font-size-large-2;
    padding-top: 30px;
    position: relative;
    color: $black;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: $black;
    }

    .a-collapse-icon {
    	background-color: #eee;
    	height: 72px;
    	width: 72px;
        border-radius: 50%; 
        font-size: 36px;
        text-align: center;
        padding-top: 16px;
        position: absolute;
        top: 12px;
        left: 12px;
    }
    .a-collapse-arrowDown,
    .a-collapse-arrowUp {
        position: absolute;
        font-size: 36px;
        right: 30px;
        top: 30px;     
    } 
    .a-collapse-arrowDown {
        display: none;
    } 
    .a-collapse-arrowUp { 
        display: block;
    }

    &.collapsed {
    background-color:$white;

        .a-collapse-arrowUp { 
            display: none;
        } 
        .a-collapse-arrowDown {
            display: block;
        } 
    }
} 

.a-collapse .dim .a-collapseBtn { 
    background-color: rgba(255,255,255,.5);
}

.a-collapsePanel {
    background: $white; 
    border: 1px solid #ddd;
    margin-top: -2px; 
}

.a-collapsePanel-content {
    padding: 40px 100px;
}