//--------------------------------------------------*\
//  COLUMN NAVIGATION WITH DRILLDOWN FOR MOBILE
//--------------------------------------------------*/

.a-filter-container {
  padding: $spacer / 2 0;
  @include media-breakpoint-up( lg ) {
    padding: $spacer / 2 $spacer * 4;
  }
}

.a-contentOverview {
  min-height: 580px;
  border-top: 1px solid $grey-medium;
  @include media-breakpoint-up( lg ) {
    border-bottom: 1px solid $grey-medium;
  }
}

//  This menu is using javascript from foundationNavigation.min.js
.foundation-mq {
  // sass-lint:disable-block no-disallowed-properties
  font-family: 'small=0&medium=544px&large=768px&xlarge=992px&xxlarge=1200px';
}

[data-whatinput='mouse'] {
  .a-colnav > li {
    outline: 0;
  }
}

.a-colnav-wrapper {
  @include media-breakpoint-down( md ) {
    padding-right: 0;
    padding-left: 0;
  }

  .a-colnav {
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    margin: 0;
    list-style-type: none;
    transition: left 0.25s ease-out;
    @include media-breakpoint-down( md ) {
      border-bottom: 1px solid $grey-medium;
      box-shadow: $grey-medium 0 -1px 0;
    }

    &.stacked {
      background-color: $white;
    }

    &.noTrans {
      transition: none;
    }

    li {
      margin-left: -10px;

      a {
        display: block;
        padding: $spacer $spacer * 3 $spacer $spacer * 2;
        color: $black;
        background: $grey-light;
        border-bottom: 1px solid $grey-medium;
        box-shadow: none !important;
        @include media-breakpoint-up(lg) {
          padding: $spacer $spacer * 4;
          border-right: 1px solid $grey-medium;
        }

        &:hover,
        &.open,
        &:focus {
          background: $white-opacity-07;
        }

        &.open {
          background: $blue !important;
        }

        &:focus {
          background: $blue;
          outline: none;
        }

        &.is-active {
          text-decoration: none;
        }

        h2 {
          @include a-fontSize20;
          @include a-fontBold;
          margin-bottom: 0;
        }

        p {
          margin-bottom: 0;
        }
      }

      &:last-child {
        a {
          border-bottom: none;
        }
      }

      // DIMMING not active panels
      .dim {
        background: transparent !important;
      }

      .dim-second {
        color: $grey;
        background: $grey-light;

        h2 {
          color: $grey;
        }
      }
    }

    // Second level
    .a-colnav-secondLevel {
      z-index: 1000;
      box-sizing: border-box;
      display: none;
      min-height: 100.3%;
      padding-right: 0;
      padding-left: 0;
      margin-top: -1px;
      box-shadow: none;
      // border-bottom: none;
      @include media-breakpoint-down( md ) {
        &.stacked {
          margin-left: 1px;
        }
      }

      li {
        margin-left: 0;
      }
    }

    // Third level
    .a-colnav-thirdLevel {
      box-sizing: border-box;
      display: none;
      min-height: 100.3%;
      padding-right: 0;
      padding-left: 0;
      margin-left: -1px;
      background: $white;
      box-shadow: none;
      @include media-breakpoint-down( md ) {
        margin-left: 1px;
      }
      @include media-breakpoint-up( lg ) {
        width: 469px;
        min-height: 100.3%;
      }
      @include media-breakpoint-up( xl ) {
        width: 517px;
      }

      h4 {
        @include a-fontSize16;
        @include a-fontReg;
      }

      .a-colnav-rightText {
        @include a-fontMedium;
      }
    }
  }

  // Show dropdown version for large screens, styled as COLUMN NAV
  [data-whatinput='mouse'] {
    .dropdown {
      .a-colnav {
        a {
          outline: 0;
        }
      }
    }
  }

  .dropdown {
    &.a-colnav {
      > li {
        &.opens-left > .is-dropdown-submenu {
          top: 100%;
          right: 0;
          left: auto;
        }

        &.opens-right > .is-dropdown-submenu {
          top: 100%;
          right: auto;
          left: 0;
        }

        &.is-dropdown-submenu-parent > a {
          position: relative;
        }
      }

      &.a-colnav-vertical > li {
        .is-dropdown-submenu {
          top: 0;
        }

        &.opens-left > .is-dropdown-submenu {
          right: 100%;
          left: auto;
        }

        &.opens-right > .is-dropdown-submenu {
          right: auto;
          left: 100%;
        }

        > a {
          &::after {
            right: 14px;
            margin-top: -3px;
          }
        }
      }

      // When second level in dropdown
      .a-colnav-secondLevel {
        .is-dropdown-submenu-item {
          a {
            position: relative;
            padding: 18px $spacer * 2 17px $spacer * 2;
            border-bottom: 1px solid $grey-medium;
            @include media-breakpoint-up( md ) {
              border-right: none;
            }

            &:hover {
              background: $grey-lighter;
            }

            h3 {
              @include a-fontSize18;
              @include a-fontReg;
              margin-bottom: 0;
            }
          }
        }
      }

      // When third level in dropdown
      .a-colnav-thirdLevel {
        .is-dropdown-submenu-item {
          a {
            position: relative;
            padding: $spacer / 2 $spacer * 2 3px $spacer * 2;
            border-right: none;
            border-bottom: 1px solid $grey-light;

            &:hover {
              background: $grey-lighter;
            }

            h4 {
              @include a-fontSize16;
              @include a-fontReg;
              max-width: calc( 100% - ($spacer * 5) );
              padding-right: $spacer * 5;
              margin-bottom: 0;
            }

            .a-colnav-rightText {
              @include a-fontSize14;
              position: absolute;
              top: 11px;
              right: $spacer;
              display: block;
            }
          }
        }
      }
    }
  }

  .is-dropdown-submenu-parent {
    position: static;

    a {
      &::after {
        position: absolute;
        top: 50%;
        right: 5px;
        margin-top: -2px;
      }
    }

    &.opens-inner > .is-dropdown-submenu {
      top: 100%;
      left: auto;
    }

    &.opens-left > .is-dropdown-submenu {
      right: 100%;
      left: auto;
    }

    &.opens-right > .is-dropdown-submenu {
      right: auto;
      left: 100%;
    }
  }

  .is-dropdown-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    display: none;
    min-width: 200px;
    background: $grey-lighter;
    border: 1px solid $grey-medium;

    &.js-dropdown-active {
      display: block;
    }

    > li {
      width: 100%;
    }

    .is-dropdown-submenu {
      margin-top: -1px;
    }

    .is-dropdown-submenu-parent {
      > a {
        &::after {
          right: 14px;
          margin-top: -3px;
        }
      }
    }
  }
}

// Different colors based on body background
.a-bgBlueLight {
  .dim-second {
    color: $grey;
    background: $blue-light;

    h2 {
      color: $grey;
    }
  }

  .a-colnav {
    .a-colnav-secondLevel {
      background: $blue-light;

      .is-dropdown-submenu-item {
        a {
          &:hover {
            background: $blue-lighter;
          }
        }
      }
    }
  }
}

.a-js-suggestionList {
  @include media-breakpoint-down( md ) {
    display: block !important;
  }
}

.js-dropdown-back {
  display: none;
}

.is-dropdown {
  max-width: initial !important;
}

.a-js-backButton {
  @include a-fontSize18;
  @include a-fontMedium;
  display: none;
  padding: 18px 24px 17px 24px;
  margin-top: -1px;
  margin-bottom: 0;
  color: $white;
  cursor: pointer;
  background-color: $black;
  border-bottom: 1px solid $grey-medium;
  @include media-breakpoint-up( md ) {
    display: none !important;
  }

  &::before {
    display: inline-block;
    margin-right: 10px;
    font: normal normal normal 14px/1 'AltinnNo';
    content: '\f00a';
    transform: rotate(180deg);
    text-rendering: auto;
  }
}
