/*------------------------------------*\
    BOOTSTRAP EXTENDED
    Collapse horizontal
\*------------------------------------*/

.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}


/*------------------------------------*\
    $COLLAPSE PANEL
\*------------------------------------*/

.a-collapse {
    margin-bottom: $pad;
}

.a-collapse-heading {
  display: table;
  width: 100%;
  min-height: 72px;

  @media all and (min-width: $bp-med) {
    min-height: 100px;
  }
}

.a-collapseBtn {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    padding: 12px 70px 12px 72px;
    border-radius: 2px;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    color: $black;
    height: 100px;
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    box-shadow: none !important;

    @media all and (min-width: $bp-med) {
        font-size: 24px;
        padding: 12px 70px 12px 96px;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: $black;
        border-color: #ddd;
    }

    &:focus {
      font-family: 'DIN-medium';
    }

    .a-collapse-arrowDown,
    .a-collapse-arrowUp {
        position: absolute;
        font-size: 36px;
        right: 30px;
        top: 20px;

        @media all and (min-width: $bp-med) {
            top: 30px;
        }
    }
    .a-collapse-arrowDown {
        display: none;
    }
    .a-collapse-arrowUp {
        display: block;
    }

    &.collapsed {
    background-color:$white;

        .a-collapse-arrowUp {
            display: none;
        }
        .a-collapse-arrowDown {
            display: block;
        }
    }
}

.a-collapse .dim .a-collapseBtn {
    background-color: rgba(255,255,255,.5);
}

.a-collapse-icon {
    background-color: #eee;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    padding-top: 12px;
    position: absolute;
    top: 12px;
    left: 12px;

    @media all and (min-width: $bp-med) {
        height: 72px;
        width: 72px;
        font-size: 36px;
        padding-top: 18px;
    }
}

.a-collapsePanel {
    background: $white;
    border: 1px solid #ddd;
    margin-top: -2px;
}

.a-collapsePanel-content {
    padding: 24px 12px;

    @media all and (min-width: $bp-med) {
        padding: 40px 100px;
    }
}



/*------------------------------------*\
    $COLLAPSE HEADER
\*------------------------------------*/


.a-collapseHeader  {
    margin-bottom: 0;
    padding-bottom: $space-half;
    display: inline-block;
    width: 100%;

    a {
        border: none;
    }

    .a-label {
      margin-top: -2px;
      margin-left: 3px;
    }
}

.a-collapseContent{

}

.a-dropdownArrow {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #1eaef7;
    transition: transform .2s ease-out;
    float: left;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-top: 5px;
    transform: rotate(90deg);
    -webkit-transition: transform .2s ease-out;
    -webkit-transform: rotate(90deg);
}

.collapsed .a-dropdownArrow {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.a-dropdownCircleArrow {
    width: 30px;
    border: 3px solid $blue;
    box-sizing: content-box;
    border-radius: 50%;
    background: $blue;
    color: #fff;
    transition: transform .2s ease-out;
    float: left;
    margin-bottom: 7px;
    transform: rotate(90deg);
    -webkit-transition: transform .2s ease-out;
    -webkit-transform: rotate(90deg);
    margin-top: -6px;
    margin-right: 12px;
    padding: 3px 0;
    text-align: center;
}
.a-dropdownCircleArrow:before {
  content:'›';
  vertical-align: middle;
  font-family: 'DIN-reg';
  font-size: 24px;
}

.collapsed .a-dropdownCircleArrow {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);

}


/*------------------------------------*\
    $COLLAPSE BTN
\*------------------------------------*/


.a-collapseTitle  {
  margin-bottom: 0;
  padding-bottom: 3px;
  display: inline-block;
  box-shadow: none !important;

  &:focus {
    .a-dropdownArrow {
      border-left: 10px solid $blue-dark;
    }
    .a-dropdownCircleArrow {
      border: 3px solid #fff;
      box-sizing: content-box;
    }
  }

  a {
      border: none;
  }

  // focus
  &:before {
    margin-top: 3px;
  }

}
