//--------------------------------------------------*\
//  COLUMN NAVIGATION WITH DRILLDOWN FOR MOBILE
//--------------------------------------------------*/

.a-containerColnav-top {
  padding: 0 0 $spacer * 2 0;
  @include media-breakpoint-up( lg ) {
    padding: 0 0 $spacer $spacer * 4;
  }
}

.a-contentOverview {
  min-height: 580px;
  border-top: 1px solid $blue-darker;
  @include media-breakpoint-up( lg ) {
    overflow: hidden;
    border-bottom: 1px solid $blue-darker;
  }
}

//  This menu is using javascript from colnav.js
.foundation-mq {
  // sass-lint:disable-block no-disallowed-properties
  font-family: 'small=0&medium=544px&large=768px&xlarge=992px&xxlarge=1200px';
}

[data-whatinput='mouse'] {
  .a-colnav > li {
    outline: 0;
  }
}

.a-colnav-wrapper {
  @include media-breakpoint-down( md ) {
    padding-right: 12px;
    padding-left: 12px;
  }

  .a-colnav {
    display: none;
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    margin: 0;
    list-style-type: none;
    transition: left 0.25s ease-out;
    @include media-breakpoint-down( md ) {
      border-bottom: 1px solid $grey-medium;
      box-shadow: $grey-medium 0 -1px 0;
    }

    &.stacked {
      background-color: $white;
    }

    &.noTrans {
      transition: none;
    }

    li {
      margin-left: -10px;

      a {
        display: block;
        padding: $spacer $spacer * 3 $spacer $spacer * 3;
        color: $black;
        background: $grey-light;
        border-bottom: 1px solid $grey-medium;
        box-shadow: none !important;
        @include media-breakpoint-up(lg) {
          padding: $spacer $spacer * 4;
          border-right: 1px solid $grey-medium;
        }

        &:hover,
        &.open,
        &:focus {
          background: $white-opacity-07;
        }

        &.open {
          background: $blue !important;

          &:focus {
            background: $blue-light !important;
          }
        }

        &:focus {
          background: $blue-light;
          outline: none;
        }

        &.is-active {
          text-decoration: none;
        }

        h2 {
          @include a-fontSize20;
          @include a-fontBold;
          margin-bottom: 0;
        }

        p {
          margin-bottom: 0;
        }
      }

      &:last-child {
        a {
          border-bottom: none;
        }
      }

      // DIMMING not active panels
      .dim {
        background: transparent !important;
      }

      .dim-second {
        color: $grey;
        background: $grey-light;

        h2 {
          color: $grey;
        }
      }
    }

    // Second level
    .a-colnav-secondLevel {
      z-index: 5;
      box-sizing: border-box;
      display: none;
      min-height: 100.3%;
      padding-right: 0;
      padding-left: 0;
      margin-top: -1px;
      box-shadow: $shadow-left;

      @include media-breakpoint-up( md ) {
        &:not(.stacked) {
          transition: none;
        }
      }

      @include media-breakpoint-down( md ) {
        // &.stacked {
        margin-left: 1px;
        // }
      }

      li {
        margin-left: 0;
      }

    }

    // Third level
    .a-colnav-thirdLevel {
      box-sizing: border-box;
      display: none;
      min-height: 100.3%;
      padding-right: 0;
      padding-left: 0;
      margin-left: -1px;
      background: $white;
      box-shadow: $shadow-left;

      @include media-breakpoint-down( md ) {
        margin-left: 1px;
      }
      @include media-breakpoint-up( lg ) {
        width: 469px;
        min-height: 100.3%;
      }
      @include media-breakpoint-up( xl ) {
        width: 517px;
      }

      h4 {
        @include a-fontSize16;
        @include a-fontReg;
      }

      .a-colnav-rightText {
        @include a-fontMedium;
      }
    }

  }

  // Show dropdown version for large screens, styled as COLUMN NAV
  [data-whatinput='mouse'] {
    .dropdown {
      .a-colnav {
        a {
          outline: 0;
        }
      }
    }
  }

  .dropdown {
    &.a-colnav {
      > li {
        &.opens-left > .is-dropdown-submenu {
          top: 100%;
          right: 0;
          left: auto;
        }

        &.opens-right > .is-dropdown-submenu {
          top: 100%;
          right: auto;
          left: 0;
        }

        &.is-dropdown-submenu-parent > a {
          position: relative;
        }
      }

      &.a-colnav-vertical > li {
        .is-dropdown-submenu {
          top: 0;
        }

        &.opens-left > .is-dropdown-submenu {
          right: 100%;
          left: auto;
        }

        &.opens-right > .is-dropdown-submenu {
          right: auto;
          left: 100%;
        }

        > a {
          &::after {
            right: 14px;
            margin-top: -3px;
          }
        }
      }

      // When second level in dropdown
      .a-colnav-secondLevel {
        .is-dropdown-submenu-item {
          a {
            position: relative;
            padding: 18px $spacer * 2 17px $spacer * 2;
            border-bottom: 1px solid $grey-medium;

            @include media-breakpoint-up( md ) {
              border-right: none;
            }

            &.a-js-colnavLinkAlt {
              padding: $spacer $spacer * 2 11px $spacer * 2;
              background: $grey-light;
              border-right: none;
              border-bottom: 1px solid $black-opacity-01;
            }

            &:hover {
              background: $grey-lighter;
            }

            h3 {
              @include a-fontSize18;
              @include a-fontReg;
              margin-bottom: 0;
            }

            h4 {
              @include a-fontSize16;
              @include a-fontReg;
              margin-bottom: 0;
            }

          }
        }
      }

      // When third level in dropdown
      .a-colnav-thirdLevel {
        .is-dropdown-submenu-item {
          a {
            position: relative;
            padding: $spacer $spacer 11px $spacer;
            border-right: none;
            border-bottom: 1px solid $black-opacity-01;

            @include media-breakpoint-up( md ) {
              padding: $spacer $spacer * 2 11px $spacer * 2;
            }

            &:hover {
              background: $grey-lighter;
            }

            h4 {
              @include a-fontSize16;
              @include a-fontReg;
              margin-bottom: 0;

              @media screen and (min-width: 370px) {
                max-width: calc( 100% - 60px );
                padding-right: $spacer * 5;
              }
            }

            .a-colnav-rightText {
              display: none;

              @media screen and (min-width: 370px) {
                @include a-fontSize14;
                position: absolute;
                top: 14px;
                right: $spacer;
                display: block;
                width: 108px;
                overflow: hidden;
                text-align: right;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              @include media-breakpoint-up( lg ) {
                right: $spacer * 2;
              }
            }
          }
        }
      }
    }
  }

  .is-dropdown-submenu-parent {
    position: static;

    a {
      &::after {
        position: absolute;
        top: 50%;
        right: 5px;
        margin-top: -2px;
      }
    }

    &.opens-inner > .is-dropdown-submenu {
      top: 100%;
      left: auto;
    }

    &.opens-left > .is-dropdown-submenu {
      right: 100%;
      left: auto;
    }

    &.opens-right > .is-dropdown-submenu {
      right: auto;
      left: 100%;
    }
  }

  .is-dropdown-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    display: none;
    min-width: 200px;
    background: $grey-lighter;
    border: 1px solid $grey-medium;

    &.js-dropdown-active {
      display: block;
    }

    > li {
      width: 100%;
    }

    .is-dropdown-submenu {
      margin-top: -1px;
    }

    .is-dropdown-submenu-parent {
      > a {
        &::after {
          right: 14px;
          margin-top: -3px;
        }
      }
    }
  }
}

// Different colors based on body background
.a-bgBlueLight {
  .dim-second {
    color: $grey;
    background: $blue-light;

    h2 {
      color: $grey;
    }
  }

  .a-colnav {
    .a-colnav-secondLevel {
      background: $blue-light;

      .is-dropdown-submenu-item {
        a {
          &:hover {
            background: $blue-lighter;
          }
        }
      }
    }
  }
}

.a-js-suggestionList {
  @include media-breakpoint-down( md ) {
    display: block !important;
  }
}

.js-dropdown-back {
  display: none;
}

.is-dropdown {
  max-width: initial !important;
}

.a-js-backButton {
  @include a-fontSize18;
  @include a-fontMedium;
  display: none;
  padding: 18px 24px 17px 4px;
  margin-top: -1px;
  margin-bottom: 0;
  color: $white;
  cursor: pointer;
  background-color: $black;
  border-bottom: 1px solid $grey-medium;
  @include media-breakpoint-up( lg ) {
    display: none !important;
  }
}


.a-containerColnav-right {
  padding: 0 36px;
  @include media-breakpoint-up( sm ) {
    margin-right: auto;
    margin-left: auto;
  }
  @include media-breakpoint-up( md ) {
    padding: 0 $spacer;
  }
  @include media-breakpoint-up( lg ) {
    padding: 0 $spacer * 5;
  }
}
