/*------------------------------------*\
    BOOTSTRAP EXTENDED
    Collapse horizontal
\*------------------------------------*/

// .collapse {
//   display: block;

//   &.width {
//     height: auto;
//     transition: width 0.35s ease;
//   }
// }

/*------------------------------------*\
    $COLLAPSE PANEL
\*------------------------------------*/
.a-accordion-card {
  background-color: transparent;
  border: none;
}

.a-collapsePanel {
  margin-bottom: $spacer;

  // Heading inside collapsePanel
  .a-collapsePanel-heading {
    padding: 0;
    color: $black;
    background: $white;
    border-bottom: none;
    box-shadow: $shadow2;

    &:focus {
      &:not(.override-focus) {
        box-shadow: $shadow2; // TODO: Find a focus style for this and make it posible to open with keyboard
      }
    }

    .a-collapseBtn {
      position: relative;
      background: $white;
    }

    // DIM heading when another one is active
    &.dim {
      background-color: $white-opacity-05 !important;

      .a-icon-circle {
        color: $black;
        background-color: $white;
      }
    }

    .a-iconText-text-large {
      @include a-fontSize20;
      @include a-fontReg;

      @include media-breakpoint-up( lg ) {
        @include a-fontSize28;
      }
    }
  }

  // Body inside collapsePanel
  .a-collapsePanel-body {
    position: relative;
    width: 100%;
    height: 0;
    background: $white;
    border: none;
    border-top: 1px solid $grey-light;
    box-shadow: $shadow2;
    transition: margin 300ms, width 300ms, height 300ms !important;

    &.a-collapsePanel-body--border {
      border: 1px solid $grey-medium;
      border-top: 1px solid $grey-light;
    }

    &.no-background {
      background-color: transparent;
      box-shadow: none;
    }

    &.collapse {
      // display: block; //remvoved because it is destrotuying the profile-page
      border-top: none;
    }

    &.show {
      height: auto;
      border-top: 1px solid $grey-light;
    }

    &.expanded,
    &.expanded + .a-collapsePanel-body {
      @include media-breakpoint-up( md ) {
        width: calc( 100% + 24px );
        height: auto;
        margin-left: -$spacer;
      }
    }

    .a-collapsePanel-body-content {
      @include media-breakpoint-up( sm ) {
        padding: $spacer * 2 $spacer * 7;
      }
      @include media-breakpoint-up( md ) {
        padding: 40px 84px;
      }

      padding: $spacer * 2 $spacer;
      margin: 0;
    }
  }

  &.a-collapsePanel--large {
    // If large collapsePanel, body has more padding left
    .a-collapsePanel-body {
      .a-collapsePanel-body-content {
        @include media-breakpoint-up( lg ) {
          padding: $spacer * 3 $spacer * 8;
        }
      }
    }
  }
}

// Klientdelegering
.panel-collapse-content-section {
  background-color: $grey-light;
  border-top: 1px solid $grey-medium;

  .a-first-action {
    width: 100%;

    @include media-breakpoint-up( lg ) {
      width: $spacer * 17;
    }

    @include media-breakpoint-up( lg ) {
      float: left;
    }
  }

  .a-second-action {
    width: 100%;

    @include media-breakpoint-up( lg ) {
      width: $spacer * 24;
    }

    @include media-breakpoint-up( lg ) {
      display: block;
      margin: auto;
    }
  }

  .a-third-action {
    @include media-breakpoint-up( lg ) {
      float: right;
      padding-right: $spacer * 3;
    }

    .a-third-action-spacer {
      padding-top: 5px; // align text to searchfield text, pixel-pushing necessary here
    }
  }


  .a-fourth-action {
    button {
      width: 100%;
    }
  }
}

.a-third-action-mobile {
  background-color: $grey-light;

  .a-third-action-spacer {
    padding: $spacer * 2 $spacer;
  }
}

/*------------------------------------*\
    $PANEL ACCORDION
\*------------------------------------*/

.a-panelAccordion {
  // When "a-collapsePanel" is inside accordion, it should animate the active panel larger than the other one
  .a-collapsePanel-heading {
    display: table;
    width: 100%;
    transition: margin 300ms, padding 300ms, width 300ms, height 300ms !important;

    .a-collapseBtn {
      background: transparent;
      box-shadow: none !important;
    }

    &.expanded {
      padding: 0 $spacer / 2;

      @include media-breakpoint-up( xs ) {
        width: calc( 100% + 12px );
        margin-left: -$spacer / 2;
      }

      @include media-breakpoint-up( sm ) {
        width: calc( 100% + 24px );
        padding: 0 $spacer;
        margin-left: -$spacer;

        .a-collapseBtn {
          border-radius: 2px 2px 0 0 !important;
        }
      }
    }

    // When heading has class "expanded", body should also extend size
    &.expanded + .a-collapsePanel-body {
      transition: all 300ms;

      @include media-breakpoint-up( xs ) {
        width: calc( 100% + 12px );
        margin-left: -$spacer / 2;
      }

      @include media-breakpoint-up( sm ) {
        width: calc( 100% + 24px );
        margin-left: -$spacer;

        }

      .a-collapsePanel-body-content {
        padding: $spacer * 2 $spacer;

        @include media-breakpoint-up( sm ) {
          padding: $spacer * 2 $spacer * 6;
        }

        @include media-breakpoint-up( md ) {
          padding: 40px 96px;
        }
      }
    }

    .a-collapsePanel--large {
      // If large collapsePanel, body has more padding left
      .a-collapsePanel-body {
        .a-collapsePanel-body-content {
          @include media-breakpoint-up( lg ) {
            padding: 40px 112px !important;
          }
        }
      }
    }
  }
}

.a-collapsePanel-body-secondary {
  margin: -1px 0;
  background-color: $grey-light;
  border: 1px solid $grey-medium;

  + div > .a-message-info {
    margin: 1px;
  }
}

/*------------------------------------*\
    $COLLAPSE HEADER
\*------------------------------------*/

.a-collapseHeader {
  display: inline-block;
  width: 100%;
  padding-bottom: $spacer / 2;
  margin-bottom: 0;

  &.a-collapseHeader-with-actions {
    padding-right: $spacer * 4; // give space to icons clickable area
  }

  a {
    border: none;
  }

  .a-label {
    margin-top: -2px;
    margin-left: 3px;
  }
}

.a-collapseContent {

  .a-collapseContent-inside {
    @include media-breakpoint-up( md ) {
      padding-right: 48px;
      padding-left: 48px;
    }

    padding-right: 48px;
    padding-bottom: 36px;
    padding-left: 48px;
  }

  .a-collapseContent-img {
    margin-top: -36px;
    opacity: 0;
  }

  &.collapse {
    &.show {
      .a-collapseContent-img {
        opacity: 1;
        transition: all 200ms ease-in;
      }
    }
  }
}

.a-dropdownArrow {
  display: inline-flex;
  width: 0;
  height: 0;
  margin-top: 4px;
  margin-right: 7px;
  margin-bottom: 7px;
  margin-left: 2px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid $blue;
  transition: transform 0.2s ease-out;
  transform: rotate( 90deg );
  justify-content: center;
  align-items: center;
}

.a-dropdownCircleArrow {
  display: inline-flex;
  width: 36px;
  min-width: 36px;
  height: 36px;
  margin-top: -3px;
  margin-right: $spacer;
  color: $white;
  background: $blue;
  border: 3px solid $blue;
  border-radius: 50%;
  transition: transform 0.2s ease-out;
  transform: rotate( 90deg );
  justify-content: center;
  align-items: center;

  &::before {
    @include a-fontReg;
    @include a-fontSize30;
    vertical-align: middle;
    content: '›';
  }
}

// Rotate arrows when collapsed
.collapsed {
  .a-dropdownArrow {
    transform: rotate( 0deg );
  }

  .a-dropdownCircleArrow {
    transform: rotate( 0deg );
   }
}


/*------------------------------------*\
    $COLLAPSE IN DELAY
\*------------------------------------*/

.a-collapseContent-delay {
  opacity: 0;
}

.a-collapsePanel-body {
  &.collapse,
  .a-onboarding {
    &.show {
      .a-collapseContent-delay {
        opacity: 1;
        transition: all 100ms ease-in;
      }

      .a-collapseContent-delay--long {
        transition-delay: 800ms;
      }
    }
  }
}



/*------------------------------------*\
    $COLLAPSE BTN
\*------------------------------------*/

.a-collapse-title {
  display: flex;
  padding-bottom: 3px;
  margin-bottom: 0;
  box-shadow: none !important;
  align-items: center;

  &.a-collapse-title--flexstart {
    align-items: flex-start;
  }

  &.a-collapse-title--absolute {
    display: block;
    padding-left: 20px;

    .a-dropdownArrow {
      position: absolute;
      top: 0;
      left: 0;
      @include media-breakpoint-up( md ) {
        top: 1px;
      }
    }
  }

  &:focus {
    &:not(.override-focus) {
      .a-dropdownArrow {
        border-left: 10px solid $blue-dark;
      }

      .a-dropdownCircleArrow {
        box-sizing: content-box;
        border: 3px solid $white;
      }
    }
  }

  a {
    border: none;
  }

  // focus
  &::before {
    margin-top: 3px;
  }

  &.toggle-collapse-text {
    .secondary-collapse-text {
      display: block;
    }

    .primary-collapse-text {
      display: none;
    }

    &.collapsed {
      .secondary-collapse-text {
        display: none;
      }

      .primary-collapse-text {
        display: block;
      }
    }
  }
}





//------------------------------------*\
//  Small accordion
//------------------------------------*/

.a-accordion-small {
  .card {
    margin-bottom: 0;
    background: none;
    border: none;

    .a-collapse-title {
      padding-top: $spacer;
      padding-bottom: $spacer / 2;
    }

    &:first-child {
      a {
        padding-top: 0;
      }
    }
  }

  &.a-accordion-largeText {
    @include a-fontSize20;
  }

  .a-collapseContent {
    padding-left: 23px;
  }

  .a-dropdownArrow {
    margin-right: 10px;
  }
}


/*------------------------------------*\
    Large accordion
\*------------------------------------*/
.a-accordion-large {
  border-bottom: 1px solid $blue-line;

  .card {
    margin-bottom: 0;
    background: none;
    border: none;
  }

  .a-collapse-title {
    padding: 21px 0 18px 0;
    border-top: 1px solid $blue-line;
  }

  .a-link {
    display: inline;
  }
}
