.comments {
  li {
    margin-bottom: $spacer;
  }
}

.comment-container {
  margin-bottom: $spacer;
  overflow: hidden;
  list-style: none;
}

.comment-meta {
  float: left;
  width: 6.5em;

  img {
    display: block;
    margin-bottom: $spacer / 2;
    border: 1px solid $grey-light;
  }
}

.comment-name {
  @include a-fontSize12;
}

.comment-text {
  margin-left: 9em;
}
