.comments {
  li {
    margin-bottom: $spacer;
  }
}

.comment-container {
  overflow: hidden;
  margin-bottom: $spacer;
  list-style: none;
}

.comment-meta {
  float: left;
  width: 6.5em;
  img {
    display: block;
    border: 1px solid $grey-light;
    margin-bottom: $spacer/2;
  }
}

.comment-name {
  font-size: $font-size-small;
}

.comment-text {
  margin-left: 9em;
}
