/*------------------------------------*\
    $DATEPICKER
\*------------------------------------*/

.a-form-group-datepicker {
  max-width: 337px;
  @include media-breakpoint-up(lg) {
    max-width: 427px;
  }
}

.datepicker {
  @include media-breakpoint-down(sm) {
    border-top: 1px solid #fff;
  }
}

.datepicker.datepicker-dropdown {
  border-radius: 0px;
  margin-top: 0px;
  border: none;
  padding: 0;
  @include media-breakpoint-down(sm) {
    left: 0px !important;
    width: 100%;
  }
  &:before,
  &:after {
    display: none;
  }
  thead tr {
    background-color: $blue;
    color: $white;
    // Hiding day names
    &:nth-of-type(3) {
      display: none;
    }
  }
  table {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  table tr td,
  table tr th {
    width: $spacer * 4;
    height: $spacer * 4;
    border-radius: 0px;
  }
  table tr td span {
    float: none;
    margin: auto !important;
  }
  table tr th:hover:not(.dow),
  table tr th:focus:not(.dow) {
    background: $blue-hover-color;
  }
  table tr td:hover,
  table tr td:focus {
    background: $blue-light !important;
  }
  table tr th {
    border-left: solid 1px $blue;
    border-right: solid 1px $blue;
  }
  table tr td,
  table tr td:hover,
  table tr td:focus,
  table tr td:active {
    border-left: solid 1px $grey-light;
    border-bottom: solid 1px $grey-light;
  }
  table tbody {
    border-right: solid 1px $grey-light;
    border-bottom: solid 1px $grey-light;
  }
  .prev {
    color: transparent;
    &:before {
      content: '←';
      color: $white;
      text-align: center;
      line-height: $spacer * 4;
      width: $spacer * 4;
    }
  }
  .next {
    color: transparent;
    &:before {
      content: '→';
      color: $white;
      text-align: center;
      line-height: $spacer * 4;
      width: $spacer * 4;
    }
  }
  .old,
  .new {
    background: $grey-lighter;
  }
  td.day.today,
  td.day.today:hover,
  td.day.today:active,
  td.day.today:focus {
    background: transparent;
    border: none;
    border-color: transparent;
    color: $white;
    border-left: solid 1px $grey-light;
    border-bottom: solid 1px $grey-light;
    text-shadow: none;
    span {
      background: $grey;
      pointer-events: none;
      width: 37px;
      height: 37px;
      line-height: 37px;
      margin: 5px;
      border-radius: 19px;
    }
  }
  td.day.active,
  td.day.active:hover,
  td.day.active:active,
  td.day.active:focus {
    background: transparent;
    border: none;
    border-color: transparent;
    color: $white;
    border-left: solid 1px $grey-light;
    border-bottom: solid 1px $grey-light;
    text-shadow: none;
    span {
      background: $blue;
      pointer-events: none;
      width: 37px;
      height: 37px;
      line-height: 37px;
      margin: 5px;
      border-radius: 19px;
    }
  }
  .datepicker-switch,
  .datepicker-switch:hover,
  .datepicker-switch:focus {
    cursor: auto;
    background: $blue !important;
  }
}
