/*------------------------------------*\
    $DATEPICKER
\*------------------------------------*/

.a-form-group-datepicker {
  @include media-breakpoint-up( lg ) {
    max-width: 427px;
  }

  max-width: 337px;
}

.datepicker {
  @include media-breakpoint-down( sm ) {
    border-top: 1px solid $white;
  }

  &.datepicker-dropdown {
    @include media-breakpoint-down( sm ) {
      left: 0 !important;
      width: 100%;
    }

    padding: 0;
    margin-top: 0;
    border: none;
    border-radius: 0;

    &::before,
    &::after {
      display: none;
    }

    table {
      @include media-breakpoint-down( sm ) {
        width: 100%;
      }

      thead {
        tr {
          color: $white;
          background-color: $blue;

          // Hiding day names
          &:nth-of-type(3) {
            display: none;
          }
        }
      }

      tbody {
        border-right: solid 1px $grey-light;
        border-bottom: solid 1px $grey-light;
      }

      tr {
        td,
        th {
          width: $spacer * 4;
          height: $spacer * 4;
          border-radius: 0;
        }

        th {
          border-right: solid 1px $blue;
          border-left: solid 1px $blue;

          &:hover,
          &:focus {
            &:not(.dow) {
              background: $blue-hover-color;
            }
          }
        }

        td {
          border-bottom: solid 1px $grey-light;
          border-left: solid 1px $grey-light;

          &:hover,
          &:focus {
            background: $blue-light !important;
            border-bottom: solid 1px $grey-light;
            border-left: solid 1px $grey-light;
          }

          &:active {
            border-bottom: solid 1px $grey-light;
            border-left: solid 1px $grey-light;
          }

          span {
            float: none;
            margin: auto !important;
          }

          &.day {
            padding-top: 4px;

            &.today,
            &.active {
              padding-top: 0;
              color: $white;
              text-shadow: none;
              background: transparent;
              border: none;
              border-color: transparent;
              border-bottom: solid 1px $grey-light;
              border-left: solid 1px $grey-light;

              span {
                width: 37px;
                height: 37px;
                padding-top: 2px;
                margin: 5px;
                // TODO: Disable linting for special case line heights
                line-height: 37px;
                pointer-events: none;
                background: $grey;
                border-radius: 19px;
              }

              &:hover,
              &:active,
              &:focus {
                @extend .today;
              }
            }

            &.active {
              span {
                background: $blue;
              }

              &:hover,
              &:active,
              &:focus {
                span {
                  background: $blue;
                }
              }
            }
          }
        }
      }
    }

    .prev,
    .next {
      color: transparent;

      &::before {
        // sass-lint:disable-block no-disallowed-properties
        display: inline-block;
        width: $spacer * 4;
        font: normal normal normal 14px/1 'AltinnNo';
        font-size: inherit;
        line-height: $spacer * 4;
        color: $white;
        text-align: center;
        content: '\f00a';

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: auto;
      }
    }

    .prev {
      &::before {
        transform: rotate( 180deg );
      }
    }

    .old,
    .new {
      background: $grey-lighter;
    }

    .datepicker-switch {
      cursor: auto;
      background: $blue !important;

      &:hover,
      &:focus {
        @extend .datepicker-switch;
      }
    }
  }
}
