/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.a-footer {
  border-top: 1px solid $grey-medium;
  margin-top: $spacer*4;
  padding-top: $spacer*4;
  margin-bottom: $spacer*6;
}


/*------------------------------------*\
    $FOOTER NAVIGATION
\*------------------------------------*/

.a-footerNav,
.a-footerExtraNav  {
  padding-top: 4px;
  text-align: center;
  @include media-breakpoint-up(lg) {
    text-align: left;
  }
	ul {
		li {
			display: inline;
			padding-left: $spacer*3;

      &:first-child {
        padding-left: 0;
        @include media-breakpoint-up(lg) {
          padding-left: $spacer*2;
  			}
      }

			a {
				border: none;
				font-size: 16px;
				font-family: 'DIN-bold';
        color: $blue-darker;

        @include media-breakpoint-up(md) {
          font-size: 20px;
  			}

        &:hover {
          color: $blue-dark;
        }

				i {
					vertical-align: middle;
					margin-top: -3px;
				}
			}
		}
	}
}

.a-footerNav {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.a-footerExtraNav  {
	margin-top: $spacer*2;
	color: $grey;
	font-size: 14px;
	text-align: center;

	ul {
    padding-top: $spacer;
    padding-bottom: $spacer*2;
    @include media-breakpoint-up(lg) {
      display: inline;
      padding-top: 0;
    }

		li {
      display: block;
      padding-left: 0;
			a {
				font-size: 14px;
				font-family: 'DIN-reg';
				color: $black;
        position: relative;

        &:focus {
          box-shadow: none;
        }

        &:before {
          content: "";
          width: calc(100% + 24px);
          min-height: 44px;
          position: absolute;
          left: -12px;
          top: -15px;
          cursor: pointer;
          z-index: -1;
        }

				i {
					vertical-align: middle;
					margin-top: -3px;
				}
			}
      @include media-breakpoint-up(sm) {
        display: inline;
        padding-left: $spacer*2;
      }
		}

	}

}
