/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.a-footer {
  padding-bottom: $spacer * 6;
  margin-top: $spacer * 4;
  border-top: 1px solid $grey-medium;

  @include media-breakpoint-up( md ) {
    padding-top: $spacer * 4;
  }
}

.a-containerColnav + .a-containerFooter {
  .a-footer {
    @include media-breakpoint-up( lg ) {
      margin-top: 0;
      border-top: none;
    }
  }
}

.a-footer-firstRow {

  @include media-breakpoint-up( lg ) {
    padding-left: $spacer * 5;
  }

  @include media-breakpoint-up( xl ) {
    padding-left: $spacer * 8;
  }
}

/*------------------------------------*\
    $FOOTER NAVIGATION
\*------------------------------------*/

.a-footerNav,
.a-footerExtraNav {
  @include media-breakpoint-up( lg ) {
    text-align: left;
  }

  padding-top: 4px;
  text-align: center;

  ul {
    li {
      display: inline;
      padding-bottom: 12px;
      padding-left: $spacer * 5;

      @include media-breakpoint-up( lg ) {
        padding-left: $spacer * 7;
      }

      &:last-child {
        padding-bottom: 0;
      }

      &:first-child {
        padding-left: $spacer * 4;
        @include media-breakpoint-up( lg ) {
          padding-left: $spacer * 5;
        }
        @include media-breakpoint-up( xl ) {
          padding-left: $spacer * 7;
        }
      }

      a {
        @extend .a-fontSizeM;
        @include a-fontBold;
        position: relative;
        color: $blue-darker;
        border: none;

        &:hover {
          color: $blue-dark;
          border-color: $blue-dark;
        }

        i {
          position: absolute;
          top: 10px;
          left: -42px;
        }
      }
    }
  }
}

.a-footerNav {
  display: none;

  @include media-breakpoint-up( md ) {
    display: block;
  }
}

.a-footerExtraNav {
  @extend .a-fontSizeXXS;
  margin-top: $spacer * 2;
  text-align: left;

  @include media-breakpoint-up( md ) {
    text-align: center;
  }

  .a-footerExtraNav-name {
    display: block;
    @include media-breakpoint-up( md ) {
      display: inline;
    }
  }

  .a-footerExtraNav-toTop {
    float: right;
    margin-top: -38px;
  }

  ul {
    @include media-breakpoint-up( md ) {
      display: inline;
      padding-top: 0;
    }

    padding-top: $spacer;
    padding-bottom: $spacer * 2;

    li {
      display: block;
      padding-left: 0;

      @include media-breakpoint-up( md ) {
        display: inline;
        padding-left: $spacer;
      }
      @include media-breakpoint-up( lg ) {
        padding-left: $spacer * 2;
      }

      &:first-child {
        @include media-breakpoint-up( md ) {
          padding-left: $spacer * 2;
        }
      }

      a {
        @extend .a-fontSizeXXS;
        @include a-fontReg;
        position: relative;
        color: $blue-darker;
        border-bottom: 1px solid $blue-darker;

        &:focus,
        &:hover {
          border-bottom: 1px solid $blue;
          box-shadow: none;
        }

        &::before {
          position: absolute;
          top: -15px;
          left: -12px;
          z-index: -1;
          width: calc( 100% + 24px );
          min-height: 44px;
          cursor: pointer;
          content: '';
        }

        i {
          margin-top: -3px;
          vertical-align: middle;
        }
      }
    }
  }
}
