/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.a-footer {
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 6;
  margin-top: $spacer * 4;
  border-top: 1px solid $grey-medium;
}

.a-containerColnav + .a-containerFooter {
  .a-footer {
    border-top: none;
  }
}

.a-contentOverview + .a-footer {
  margin-top: 0;
  border-top: none;
}

/*------------------------------------*\
    $FOOTER NAVIGATION
\*------------------------------------*/

.a-footerNav,
.a-footerExtraNav {
  @include media-breakpoint-up( lg ) {
    text-align: left;
  }

  padding-top: 4px;
  text-align: center;

  ul {
    li {
      display: inline;
      padding-bottom: 12px;
      padding-left: $spacer * 3;

      &:last-child {
        padding-bottom: 0;
      }

      &:first-child {
        @include media-breakpoint-up( lg ) {
          padding-left: $spacer * 2;
        }

        padding-left: 0;
      }

      a {
        @extend .a-fontSizeM;
        @include a-fontBold;
        color: $blue-darker;
        border: none;

        &:hover {
          color: $blue-dark;
        }

        i {
          margin-top: -3px;
          vertical-align: middle;
        }
      }
    }
  }
}

.a-footerNav {
  @include media-breakpoint-up( sm ) {
    display: block;
  }

  display: none;
}

.a-footerExtraNav {
  @extend .a-fontSizeXXS;
  margin-top: $spacer * 2;
  color: $grey;
  text-align: center;

  ul {
    @include media-breakpoint-up( lg ) {
      display: inline;
      padding-top: 0;
    }

    padding-top: $spacer;
    padding-bottom: $spacer * 2;

    li {
      @include media-breakpoint-up( sm ) {
        display: inline;
        padding-left: $spacer * 2;
      }

      display: block;
      padding-left: 0;

      a {
        @extend .a-fontSizeXXS;
        @include a-fontReg;
        position: relative;
        color: $black;

        &:focus {
          box-shadow: none;
        }

        &::before {
          position: absolute;
          top: -15px;
          left: -12px;
          z-index: -1;
          width: calc( 100% + 24px );
          min-height: 44px;
          cursor: pointer;
          content: '';
        }

        i {
          margin-top: -3px;
          vertical-align: middle;
        }
      }
    }
  }
}
