/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.a-header {
	background: $white; 
	padding: 0;
}

.a-logo {
	max-width: 250px;
	width: 100%;
	margin-bottom: 0;
}
