
/*------------------------------------*\
    ICON
\*------------------------------------*/

// sass-lint:disable-block no-disallowed-properties
.ai {
  @include a-fontSize-icon-reg;
  vertical-align: middle;

  &.ai-xs {
    @include a-fontSize-icon-24;
  }

  // copy of fortawesome styles to keep correct precedence
  &.ai-2x {
    font-size: 2em;
  }

  &.ai-3x {
    font-size: 3em;
  }

  &.ai-4x {
    font-size: 4em;
  }

  &.ai-5x {
    font-size: 4em;
  }
}


// negative margin for centering icons in forms with border
.form-group {
  .a-form-group-items {
    i {
      &.ai {
        margin-top: -2px;
      }
    }
  }
}

//negative margin for centering icons in check-boxes and buttons with border
.a-switch,
.a-btn {
  i {
    &.ai {
      margin-top: -3px;
    }
  }
}

.a-icon {
  @include a-fontSize48;
  display: table-cell;
  width: 60px;
  min-width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;

  &.a-icon-circle {
    @include a-fontSize30;
  }

  &.a-icon-circle-small {
    @include a-fontSize20;
    float: left;
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-right: 6px;
    color: $blue;
    background: $white;
    border-radius: 50%;
  }
}

// Small icon
.a-icon-small {
  @include a-fontSize36;
  width: $spacer * 4;
  height: $spacer * 4;

  &.a-icon-circle {
    @include a-fontSize24;
  }
}

// Icon inside circle
.a-icon-circle {
  background-color: $grey-light;
  border-radius: 50%;

  &.a-bgBlue {
    color: $white;
  }
}

/*------------------------------------*\
    ICON WITH TEXT NEXT TO IT
\*------------------------------------*/
// The container
.a-iconText {
  display: flex;
  width: 100%;
  min-height: $spacer * 7;
  align-items: center;

  // The icon
  .a-iconText-icon {
    width: $spacer * 5;
    min-width: $spacer * 5;
    margin-right: $spacer;

    .a-date {
      margin: 0;
    }

    &:empty {
      display: none;
    }
  }

  &.a-iconText--noMinHeight {
    min-height: auto;
  }

  // The text
  .a-iconText-text {
    flex: 1; //fix for flexbox wordwrap ie

    .a-iconText-text-small {
      @include a-fontSize14;
      display: block;
      margin-bottom: 0;
    }

    span,
    p {
      &.a-iconText-text-large {
        @include a-fontMedium;
        @include a-fontSize18;
        margin-bottom: 0;

        @include media-breakpoint-up( lg ) {
          @include a-fontSize28;
        }
      }
    }

    h1 {
      margin-bottom: 0;
    }

    h1 + .a-byline {
      margin-top: 0;
      margin-bottom: 0;
    }

    // If there is a small text above, large text should be smaller
    .a-iconText-text-small + .a-iconText-text-large {
      @include media-breakpoint-up( lg ) {
        @include a-fontSize20;
      }
      display: block;
    }

    a {
      @include a-fontSize18;
      // TODO: Make custom mixin for link-fontsizes. lineheight needs to be larger on links because of double border
      @include a-fontBold;

      @include media-breakpoint-up( md ) {
        @include a-fontSize20;
      }
    }
  }

  // VARIATION: Shadow
  &.a-iconText-shadow {
    padding: $spacer;
    box-shadow: $shadow;
  }

  // VARIATION: Dotted border

  &.a-iconText-border {
    padding: 10px; // 12px -2px for border...
    border: 2px dotted $blue;
  }

  // VARIATION: Backgrounds
  &.a-iconText-background {
    padding: $spacer;
    color: $white;
    background: $grey;

    .a-icon-circle {
      color: $black;
    }

    &.a-iconText-background--blueDarker {
      color: $white;
      background: $blue-darker;
    }

    &.a-iconText-background--white {
      color: $black;
      background: $white;
    }
  }

  // VARIATION: Link after title
  &.a-iconText-smallLink {

    .a-iconText-text {
      .a-iconText-text-large {
        @extend .a-fontSizeXXL;
        display: block;
      }

      a {
        @extend .a-fontSizeXS;
        @include a-fontReg;
      }
    }
  }
}

// VARIATION: Change background colors based on body background
.a-bgWhite {
  .a-iconText {
    &.a-iconText-background {
      &.a-iconText-background--white {
        color: $black;
        background: $grey-light;
      }
    }
  }
}

// VARIATION: Large
.a-iconText-large {
  @include media-breakpoint-up( lg ) {
    min-height: $spacer * 8;

    .a-iconText-icon {
      width: $spacer * 6;
    }

    .a-icon {
      @include a-fontSize60;
      width: $spacer * 6;
      min-width: $spacer * 6;
      height: $spacer * 6;

      &.a-icon-circle {
        @include a-fontSize36;
      }
    }
  }
}

/**  global icon styles **/
.a-remove-icon {
  color: $red;
}
