
// Grid
/*
.container {
    padding-left: 12px;
    padding-right: 12px;

    @include media-breakpoint-up(sm) {
      padding-left: 24px;
      padding-right: 24px;
    }
} */

// Use flexbox grid with a maximum of columns

.col-max-2 {
  min-width: 50%;

  &:nth-of-type(n+3) {
    max-width: 50%;
  }
}

.col-max-3 {
  min-width: 33.33333%;

  &:nth-of-type(n+4) {
    max-width: 33.33333%;
  }
}

.col-max-4 {
  min-width: 25%;

  &:nth-of-type(n+5) {
    max-width: 25%;
  }
}
.col-max-5 {
  min-width: 20%;

  &:nth-of-type(n+6) {
    max-width: 20%;
  }
}
.col-max-6 {
  min-width: 16.6666666%;

  &:nth-of-type(n+7) {
    max-width: 16.6666666%;
  }
}


// Thumbnails

.a-thumbnail {

  img {
    margin-bottom: 12px;
    border: 1px solid #eee;
  }

	a {
		display: block;
		border: none;
		margin-bottom: 24px;
		padding: 12px;
		background: $white;
		border: 2px dotted $blue-light;

		.a-thumbnail-title {
			margin: 0;
			font-size: 12px;
			text-transform: uppercase;
			font-family: $font-medium; font-weight: $font-weight-medium;
			color: $black;
		}

		&:hover {
			border: 2px dotted $blue-light;
			background: $blue-light;
		}
	}
}
