// Layout

/* Grid Edit */
.container-fluid {
  padding: 0;
}

.a-noColPadding {
  @include add-col-properties {
    padding-right: 0;
    padding-left: 0;
  }

  margin: none;
}

// Text line break for small screens
.a-rwd-break {
  display: block;

  @include media-breakpoint-up( sm ) {
    display: none;
  }
}

/* Padding */
.a-p-l-5andhalf {
  padding-left: $spacer * 5.5;
}

.a-p-l-4andhalf {
  padding-left: $spacer * 4.5;
}

/* Padding 108px for large screens */
.a-p-x9-xl {
  margin-bottom: $spacer;
  @include media-breakpoint-up( xl ) {
    padding-right: $spacer * 9;
    padding-left: $spacer * 9;
  }
}

// Use flexbox grid with a maximum of columns
.col-max-2 {
  min-width: 50%;

  &:nth-of-type(n + 3) {
    max-width: 50%;
  }
}

.col-max-3 {
  min-width: 33.33333%;

  &:nth-of-type(n + 4) {
    max-width: 33.33333%;
  }
}

.col-max-4 {
  min-width: 25%;

  &:nth-of-type(n + 5) {
    max-width: 25%;
  }
}

.col-max-5 {
  min-width: 20%;

  &:nth-of-type(n + 6) {
    max-width: 20%;
  }
}

.col-max-6 {
  min-width: 16.6666666%;

  &:nth-of-type(n + 7) {
    max-width: 16.6666666%;
  }
}

// Thumbnails
.a-thumbnail {
  img {
    margin-bottom: $spacer;
    border: 1px solid $grey-light;
  }

  a {
    display: block;
    padding: $spacer;
    margin-bottom: 24px;
    background: $white;
    border: 2px dotted $blue-light;

    .a-thumbnail-title {
      margin: 0;
      font-family: $font-medium;
      font-size: 12px;
      font-weight: $font-weight-medium;
      color: $black;
      text-transform: uppercase;
    }

    &:hover {
      background: $blue-light;
      border: 2px dotted $blue-light;
    }
  }
}
