ul.no-decoration {
	list-style: none;
	margin:none;
}

/*------------------------------------*\
    $Item list
\*------------------------------------*/

.a-itemList {
	list-style: none;

	a.a-listItem-title {
		cursor: pointer;
		&:hover {
			background-color: $blue-light;
			color: $black;
		}
	}

	.a-itemList-item {
		position: relative;
		border-bottom: 2px dotted #1eaef7;
		width: 100%;

		&:first-child {
			border-top: 2px dotted #1eaef7;
		}

		&.a-itemList-item-deactivated,
		&.a-itemList-item-deactivated:hover {
			background-image: url('../images/disabled-background.svg');
			background-color: $white;

			a.a-listItem-title {
				cursor: default;
				background-color: transparent;
			}

		}

		.a-listItem-title {
			  display: block;
		    border: none;
		    padding: 5px 0;
		    font-size: 14px;
		    color: $black;
		    text-decoration: none;

		    @media screen and (min-width: $bp-med) {
		    	font-size: 16px;
		    }
		}

	}

	&.a-itemList-ordered {
		list-style: decimal;
		list-style-position: inside;

		// Because list bullets is going to be INSIDE, and we cannot have a as block (firefox-bug), we need to add padding to li instead of a.
		.a-itemList-item {
			padding: 5px 0;
		}

		.a-itemList-item:hover {
			background-color: $blue-light;
		}

    .a-itemList-item-deactivated:hover {
			background-image: url('../images/disabled-background.svg');
			background-color: $white;
		}

		.a-listItem-title {
			  display: inline-block;
				width: 85%;
				vertical-align: top;
				padding: 0;

				&:after {
					content:'';
					position:absolute;
					top:-5px;
					bottom:-5px;
					left:-5px;
					right:-5px;
				}
		}

	}

}

// If business, change hover color on list
.business {

	.a-itemList-ordered {

		.a-itemList-item:hover,
		.a-listItem-title:hover {
			background-color: $blue-light-hover-color-dark;
		}


	}

}



/*------------------------------------*\
    $Box btn list
\*------------------------------------*/

.a-boxBtnList {
	list-style: none;
}

/*------------------------------------*\
    Ordered list with circled numbers
\*------------------------------------*/

.a-circle-list {
	margin-left: 0;
	padding-right: 0;
	list-style-type: none;
	counter-reset: step;

	li {
		margin-bottom: 14px;
		font-weight: bold;

		&::before {
			counter-increment: step;
			content: counter(step);
			margin-right: 10px;
			font-weight: bold;
			padding: 5px 9px 5px 9px;
			border: 2px solid $blue;
			border-radius: 50%;
		}

		span {
			margin-left: 10px;
			font-weight: normal;
		}
	}
}

/*------------------------------------*\
    Unordered list with icons
\*------------------------------------*/

.a-icon-list {
	list-style-type: none;

	li {
		padding-bottom: 15px;
	}

	i {
		vertical-align: middle;
		padding-right: 5px;
	}

	b {
		padding-right: 5px;
	}
}
