ul.no-decoration {
	list-style: none;
	margin:none;
}

/*------------------------------------*\
    $Item list
\*------------------------------------*/

.a-item-list {
	list-style: none;

	div.a-dotted {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
	}

	.a-disabled {
		box-shadow: none;
	}
	.a-item-list-item {
		position: relative;
		width: 100%;

		a:hover {
			cursor: pointer;
		}

		&.a-clickable:hover {
			background-color: $blue-light;
		}

		.a-listItem-title {
			display: block;
		    border: none;
		    padding: 6px 0;
		    font-size: 16px;
		    color: $black;
		    text-decoration: none;

		    @include media-breakpoint-up(md) {
		    	font-size: 16px;
		    }
		}

	}

	&.a-item-list-ordered {
		list-style: decimal;
		list-style-position: inside;

		// Because list bullets is going to be INSIDE, and we cannot have a as block (firefox-bug), we need to add padding to li instead of a.
		.a-item-list-item {
			padding: 5px 0;

			a {
				position: relative;
				box-shadow: none !important;
				&:before {
					content: "";
			    width: 117%;
			    min-height: 36px;
			    position: absolute;
			    left: -15px;
			    top: -7px;
			    cursor: pointer;
			    z-index: -1;
				}
			}

		}

    .a-listItem-title {
			display: inline-block;
			width: 85%;
			vertical-align: top;
			padding: 0;

			&:after {
				content:'';
				position:absolute;
				top:-5px;
				bottom:-5px;
				left:-5px;
				right:-5px;
			}
		}

	}

	&.a-item-list-large {
		.a-listItem-title {
			@include media-breakpoint-up(md) {
	    	font-size: 20px;
			}
		}
	}

	&.a-item-list-2col {
		@include media-breakpoint-up(md) {
			column-count: 2;
	  	column-gap: 24px;
				-moz-column-count: 2;
	       -moz-column-gap: 24px;
	       -webkit-column-count: 2;
	       -webkit-column-gap: 24px;

			li {
				-webkit-column-break-inside: avoid;
						page-break-inside: avoid;
								 break-inside: avoid;
			}
		}
	}

}


// If business, change hover color on list
.business {
	.a-item-list {

		.a-item-list-item.a-clickable:hover {
			background-color: $blue-light-hover-color-dark;
		}
	}
}



/*------------------------------------*\
    $Box btn list
\*------------------------------------*/

.a-box-button-list {
	list-style: none;
}

/*------------------------------------*\
    $Bullet list
\*------------------------------------*/

ul.a-bullet-list {
	color: $black;
	list-style: none;

	li {
		position: relative;
		margin-bottom: $space-x2;
		padding-left: $space-x2;
	}

	li:before {
		content: "•";
   	font-size: 36px;
   	padding-right: 5px;
		color: $blue;
		top: -14px;
    left: -3px;
		position: absolute;
	}
}


/*------------------------------------*\
    Ordered list with circled numbers
\*------------------------------------*/

.a-circle-list {
	margin-left: 0;
	padding-right: 0;
	list-style-type: none;
	counter-reset: step;

	li {
		margin-bottom: $space-and-half;
		font-weight: bold;

		&::before {
			counter-increment: step;
			content: counter(step);
			margin-right: 10px;
			font-weight: bold;
			padding: 5px 9px 4px 9px;
			border: 2px solid $blue;
			border-radius: 50%;
		}

		span {
			margin-left: 10px;
			font-weight: normal;
		}
	}
}



/*------------------------------------*\
    Unordered list with icons
\*------------------------------------*/

.a-icon-list {
	list-style-type: none;

	li {
		margin-bottom: $space-and-half;
	}

	a {
		border: none;
		color: $black;

		&:hover {
			color: $blue;
		}
	}

	i {
		vertical-align: middle;
		padding-right: 5px;
	}

	b {
		padding-right: 5px;
	}
}


/*------------------------------------*\
    Unordered bullet list with connection
\*------------------------------------*/

ul.connectedBullets {
    padding-left: 0;
    margin-top: -1px;
}
ul.connectedBullets li {
    padding-left: 36px;
    margin-bottom: $space-x2;
    list-style: none;

		@include media-breakpoint-up(md) {
			padding-left: 0;
		}
}

ul.connectedBullets li {
    position:relative;
    margin-bottom: 0;
    padding-bottom: $space-x2;
}

ul.connectedBullets li:after {
	content: '';
	position: absolute;
	left: 0px;
  top: -1px;
	font-size: 39px;
	font-weight: bold;
	height: 25px;
	width: 25px;
	border: 3px solid $blue;
	border-radius: 50%;
	background: $grey-light;

	@include media-breakpoint-up(md) {
		left: -36px;
	}
}

ul.connectedBullets li:before {
    /* lines */
    content:"";
    position: absolute;
		left: 12px;
    border-left: 3px solid $blue;
    height: 100%;
    width: 3px;

		@include media-breakpoint-up(md) {
			left: -25px;
		}
}

ul.connectedBullets li:first-child:before {
   /* first li's line */
   top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.connectedBullets li:last-child:before {
    /* last li's line */
   height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}

.business {
	ul.connectedBullets li:after {
		background: $blue-light;

	}
}

/*------------------------------------*\
    $Suggestion List
\*------------------------------------*/

#a-js-suggestionList-mobile>h2 {
	padding-top: 0px
}
