
/*------------------------------------*\
    $Item list
\*------------------------------------*/

.a-itemList {

	list-style: none;

	a.a-listItem-title {
		cursor: pointer;
		&:hover {
			background-color: $blue-light;
			color: $black;
		}
	}

	.a-itemList-item {
		position: relative;
		border-bottom: 2px dotted #1eaef7;
		width: 100%;

		&:first-child {
			border-top: 2px dotted #1eaef7;
		}

		&.a-itemList-item-deactivated,
		&.a-itemList-item-deactivated:hover {
			background-image: url('../images/disabled-background.svg');
			background-color: $white;

			a.a-listItem-title {
				cursor: default;
				background-color: transparent;
			}

		}

		.a-listItem-title {
			display: block;
		    border: none;
		    padding: 4px 0;
		    font-size: 14px;
		    color: $black;
		    text-decoration: none;

		    @media screen and (min-width: $bp-med) {
		    	font-size: 16px;
		    }
		}

	}

}


/*------------------------------------*\
    $Box btn list
\*------------------------------------*/


.a-boxBtnList {
	list-style: none;
}
