$b0: rgba($blue-dark, 0);
$g0: rgba($grey-medium, 0);
$b1: rgba($blue-dark, 1);
$g1: rgba($grey-medium, 1);
@mixin gradient($args...) {
  background: -moz-linear-gradient($args);
  background: -o-linear-gradient($args);
  background: -webkit-linear-gradient($args);
  background: linear-gradient($args);
}

@mixin transform($arg) {
  transform: $arg;
  -moz-transform: $arg;
  -o-transform: $arg;
  -webkit-transform: $arg;
}

@mixin animation($arg) {
  animation: $arg;
  -moz-animation: $arg;
  -o-animation: $arg;
  -webkit-animation: $arg;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

.a-logo-anim {
  @include transform(scale(.4) translateZ(0));
  height: 100px;
  margin: -25px;
  overflow: hidden;
  width: 100px;
  div {
    @include transform(translateZ(0));
    background-color: $b1;
    float: left;
  }
  .a-logo-anim-g {
    background-color: transparent;
    .a-logo-anim-g {
      width: 20px;
    }
  }
  .a-logo-anim-c-1,
  .a-logo-anim-c-3,
  .a-logo-anim-c-7,
  .a-logo-anim-c-9 {
    background-color: transparent;
    height: 20px;
    overflow: hidden;
    width: 20px;
  }
  .a-logo-anim-c-2,
  .a-logo-anim-c-8,
  .a-logo-anim-c-4,
  .a-logo-anim-c-6 {
    background-color: transparent;
  }
  .a-logo-anim-c-2,
  .a-logo-anim-c-8 {
    height: 20px;
    width: 60px;
    div {
      display: inline-block;
      height: 20px;
      width: 100%;
    }
  }
  .a-logo-anim-c-4,
  .a-logo-anim-c-6 {
    box-shadow: $b1 0 1px 0;
    height: 40px;
    width: 20px;
    div {
      display: block;
      height: 100%;
      width: 20px;
    }
  }
  .a-logo-anim-c-3,
  .a-logo-anim-c-9 {
    box-shadow: $b1 1px 0 0;
  }
  .a-logo-anim-c-2-1,
  .a-logo-anim-c-8-1 {
    height: 20px;
    width: 0;
  }
  .a-logo-anim-c-4-1,
  .a-logo-anim-c-6-1 {
    height: 0;
    width: 20px;
  }
  .a-logo-anim-c-rot {
    @include transform(rotate(0deg));
    background-color: transparent;
    height: 60px;
    margin-left: -10px;
    margin-top: -10px;
    width: 60px;
  }
  .a-logo-anim-c-rot-inner {
    height: 30px;
    width: 60px;
  }
  .a-logo-anim-n {
    @include gradient(90deg, $b0, $b1);
  }
  .a-logo-anim-e {
    @include gradient(0deg, $b0, $b1);
  }
  .a-logo-anim-w {
    @include gradient(180deg, $b0, $b1);
  }
  .a-logo-anim-s {
    @include gradient(-90deg, $b0, $b1);
  }
  .a-logo-anim-c-1 {
    .a-logo-anim-c-rot {
      @include animation(c-1-loop .75s infinite linear);
    }
  }
  .a-logo-anim-c-2 {
    @include animation(c-2-loop .75s infinite linear);
    box-shadow: $b1 10px 0 0;
  }
  .a-logo-anim-c-2-1 {
    @include animation(c-2-1-loop .75s infinite linear);
  }
  .a-logo-anim-c-3 {
    .a-logo-anim-c-rot {
      @include animation(c-3-loop .75s infinite linear);
      @include transform(rotate(0deg));
      margin-left: -30px;
      margin-top: -10px;
    }
  }
  .a-logo-anim-c-4 {
    @include animation(c-4-loop .75s infinite linear);
    margin-top: 20px;
  }
  .a-logo-anim-c-4-1 {
    @include animation(c-4-1-loop .75s infinite linear);
  }
  .a-logo-anim-c-5 {
    height: 20px;
    margin: 20px;
    width: 20px;
  }
  .a-logo-anim-c-6 {
    @include animation(c-6-loop .75s infinite linear);
  }
  .a-logo-anim-c-6-1 {
    @include animation(c-6-1-loop .75s infinite linear);
  }
  .a-logo-anim-c-7 {
    .a-logo-anim-c-rot {
      @include animation(c-7-loop .75s infinite linear);
      @include transform(rotate(0deg));
      margin-left: -10px;
      margin-top: -30px;
    }
  }
  .a-logo-anim-c-8 {
    @include animation(c-8-loop .75s infinite linear);
  }
  .a-logo-anim-c-8-1 {
    @include animation(c-8-1-loop .75s infinite linear);
  }
  .a-logo-anim-c-9 {
    .a-logo-anim-c-rot {
      @include animation(c-9-loop .75s infinite linear);
      @include transform(rotate(0deg));
      margin-left: -30px;
      margin-top: -30px;
    }
  }
  &.alt {
    @include transform(scale(1) translateZ(0));
    margin: 0;
    div {
      background-color: $g1;
    }
    .a-logo-anim-g {
      background-color: transparent;
    }
    .a-logo-anim-c-3,
    .a-logo-anim-c-9 {
      box-shadow: $g1 1px 0 0;
    }
    .a-logo-anim-c-4,
    .a-logo-anim-c-6 {
      box-shadow: $g1 0 1px 0;
    }
    .a-logo-anim-c-1,
    .a-logo-anim-c-2,
    .a-logo-anim-c-3,
    .a-logo-anim-c-4,
    .a-logo-anim-c-6,
    .a-logo-anim-c-7,
    .a-logo-anim-c-8,
    .a-logo-anim-c-9 {
      background-color: transparent;
    }
    .a-logo-anim-n {
      @include gradient(90deg, $g0, $g1);
    }
    .a-logo-anim-e {
      @include gradient(0deg, $g0, $g1);
    }
    .a-logo-anim-w {
      @include gradient(180deg, $g0, $g1);
    }
    .a-logo-anim-s {
      @include gradient(-90deg, $g0, $g1);
    }
    .a-logo-anim-c-1 .a-logo-anim-c-rot {
      @include animation(c-1-loop .75s infinite linear);
      background-color: transparent;
    }
    .a-logo-anim-c-2 {
      @include animation(c-2-loop-alt .75s infinite linear);
      box-shadow: $g1 1px 0 0;
    }
    .a-logo-anim-c-2-1 {
      @include animation(c-2-1-loop .75s infinite linear);
    }
    .a-logo-anim-c-3 .a-logo-anim-c-rot {
      @include animation(c-3-loop .75s infinite linear);
      @include transform(rotate(0deg));
      background-color: transparent;
      margin-left: -30px;
      margin-top: -10px;
    }
    .a-logo-anim-c-4 {
      @include animation(c-4-loop-alt .75s infinite linear);
      margin-top: 20px;
    }
    .a-logo-anim-c-4-1 {
      @include animation(c-4-1-loop .75s infinite linear);
    }
    .a-logo-anim-c-5 {
      height: 20px;
      margin: 20px;
      width: 20px;
    }
    .a-logo-anim-c-6 {
      @include animation(c-6-loop-alt .75s infinite linear);
    }
    .a-logo-anim-c-6-1 {
      @include animation(c-6-1-loop .75s infinite linear);
    }
    .a-logo-anim-c-7 .a-logo-anim-c-rot {
      @include animation(c-7-loop .75s infinite linear);
      @include transform(rotate(0deg));
      background-color: transparent;
      margin-left: -10px;
      margin-top: -30px;
    }
    .a-logo-anim-c-8 {
      @include animation(c-8-loop-alt .75s infinite linear);
    }
    .a-logo-anim-c-8-1 {
      @include animation(c-8-1-loop .75s infinite linear);
    }
    .a-logo-anim-c-9 .a-logo-anim-c-rot {
      @include animation(c-9-loop .75s infinite linear);
      @include transform(rotate(0deg));
      background-color: transparent;
      margin-left: -30px;
      margin-top: -30px;
    }
  }
}

@include keyframes('c-1-loop') {
  0% {
    @include transform(rotate(0deg));
  }
  12.5% {
    @include transform(rotate(90deg));
  }
  12.51% {
    @include transform(rotate(180deg));
  }
  25% {
    @include transform(rotate(270deg));
  }
  100% {
    @include transform(rotate(270deg));
  }
}

@include keyframes('c-2-loop') {
  0% {
    box-shadow: inset $b1 0 100px 0;
    margin-left: 0;
    width: 60px;
  }
  12.5% {
    box-shadow: inset $b1 0 100px 0;
    margin-left: 0;
    width: 60px;
  }
  25% {
    box-shadow: inset $b0 0 100px 0;
    margin-left: 20px;
    width: 40px;
  }
  37.5% {
    box-shadow: inset $b0 0 100px 0;
    margin-left: 20px;
    width: 20px;
  }
  50% {
    margin-left: 20px;
    width: 0;
  }
  62.5% {
    margin-left: 0;
    width: 0;
  }
  100% {
    margin-left: 0;
    width: 0;
  }
}

@include keyframes('c-2-loop-alt') {
  0% {
    box-shadow: inset $g1 0 100px 0;
    margin-left: 0;
    width: 60px;
  }
  12.5% {
    box-shadow: inset $g1 0 100px 0;
    margin-left: 0;
    width: 60px;
  }
  25% {
    box-shadow: inset $g0 0 100px 0;
    margin-left: 20px;
    width: 40px;
  }
  37.5% {
    box-shadow: inset $g0 0 100px 0;
    margin-left: 20px;
    width: 20px;
  }
  50% {
    margin-left: 20px;
    width: 0;
  }
  62.5% {
    margin-left: 0;
    width: 0;
  }
  100% {
    margin-left: 0;
    width: 0;
  }
}

@include keyframes('c-2-1-loop') {
  0% {
    width: 0;
  }
  25% {
    width: 0;
  }
  50% {
    width: 40px;
  }
  62.5% {
    width: 60px;
  }
  100% {
    width: 60px;
  }
}

@include keyframes('c-3-loop') {
  0% {
    @include transform(rotate(90deg));
  }
  50% {
    @include transform(rotate(90deg));
  }
  62.5% {
    @include transform(rotate(180deg));
  }
  62.51% {
    @include transform(rotate(270deg));
  }
  75% {
    @include transform(rotate(360deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

@include keyframes('c-4-loop') {
  0% {
    box-shadow: inset $b1 0 100px 0;
    height: 40px;
  }
  12.5% {
    height: 60px;
    margin-top: 0;
  }
  62.5% {
    box-shadow: inset $b1 0 100px 0;
    height: 60px;
    margin-top: 0;
  }
  75% {
    box-shadow: inset $b0 0 100px 0;
  }
  100% {
    height: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@include keyframes('c-4-loop-alt') {
  0% {
    box-shadow: inset $g1 0 100px 0;
    height: 40px;
  }
  12.5% {
    height: 60px;
    margin-top: 0;
  }
  62.5% {
    box-shadow: inset $g1 0 100px 0;
    height: 60px;
    margin-top: 0;
  }
  75% {
    box-shadow: inset $g0 0 100px 0;
  }
  100% {
    height: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@include keyframes('c-4-1-loop') {
  0% {
    height: 0;
  }
  62.5% {
    height: 0;
    margin-top: 0;
  }
  75% {
    height: 0;
    margin-top: 20px;
  }
  100% {
    height: 40px;
    margin-top: 20px;
  }
}

@include keyframes('c-6-loop') {
  0% {
    box-shadow: inset $b1 0 100px 0;
    height: 40px;
    margin-top: 0;
  }
  12.5% {
    height: 60px;
    margin-top: 0;
  }
  62.5% {
    box-shadow: inset $b1 0 100px 0;
    height: 60px;
    margin-top: 0;
  }
  75% {
    box-shadow: inset $b0 0 100px 0;
  }
  100% {
    height: 0;
    margin-top: 0;
  }
}

@include keyframes('c-6-loop-alt') {
  0% {
    box-shadow: inset $g1 0 100px 0;
    height: 40px;
    margin-top: 0;
  }
  12.5% {
    height: 60px;
    margin-top: 0;
  }
  62.5% {
    box-shadow: inset $g1 0 100px 0;
    height: 60px;
    margin-top: 0;
  }
  75% {
    box-shadow: inset $g0 0 100px 0;
  }
  100% {
    height: 0;
    margin-top: 0;
  }
}

@include keyframes('c-6-1-loop') {
  0% {
    height: 0;
  }
  62.5% {
    height: 0;
    margin-bottom: 0;
  }
  75% {
    height: 0;
    margin-bottom: 20px;
  }
  100% {
    height: 40px;
    margin-bottom: 20px;
  }
}

@include keyframes('c-7-loop') {
  0% {
    @include transform(rotate(-90deg));
  }
  50% {
    @include transform(rotate(-90deg));
  }
  62.5% {
    @include transform(rotate(0deg));
  }
  62.51% {
    @include transform(rotate(90deg));
  }
  75% {
    @include transform(rotate(180deg));
  }
  100% {
    @include transform(rotate(180deg));
  }
}

@include keyframes('c-8-loop') {
  0% {
    box-shadow: inset $b1 0 100px 0;
    margin-right: 0;
    width: 60px;
  }
  12.5% {
    box-shadow: inset $b1 0 100px 0;
    margin-right: 0;
    width: 60px;
  }
  25% {
    box-shadow: inset $b0 0 100px 0;
    margin-right: 20px;
    width: 40px;
  }
  50% {
    margin-right: 20px;
    width: 0;
  }
  62.5% {
    margin-right: 0;
    width: 0;
  }
  100% {
    margin-right: 0;
    width: 0;
  }
}

@include keyframes('c-8-loop-alt') {
  0% {
    box-shadow: inset $g1 0 100px 0;
    margin-right: 0;
    width: 60px;
  }
  12.5% {
    box-shadow: inset $g1 0 100px 0;
    margin-right: 0;
    width: 60px;
  }
  25% {
    box-shadow: inset $g0 0 100px 0;
    margin-right: 20px;
    width: 40px;
  }
  50% {
    margin-right: 20px;
    width: 0;
  }
  62.5% {
    margin-right: 0;
    width: 0;
  }
  100% {
    margin-right: 0;
    width: 0;
  }
}

@include keyframes('c-8-1-loop') {
  0% {
    width: 0;
  }
  25% {
    width: 0;
  }
  50% {
    width: 40px;
  }
  62.5% {
    width: 60px;
  }
  100% {
    width: 60px;
  }
}

@include keyframes('c-9-loop') {
  0% {
    @include transform(rotate(180deg));
  }
  12.5% {
    @include transform(rotate(270deg));
  }
  12.51% {
    @include transform(rotate(0deg));
  }
  25% {
    @include transform(rotate(90deg));
  }
  100% {
    @include transform(rotate(90deg));
  }
}

.a-modal .a-logo-anim {
  margin-left: auto;
  margin-right: auto;
}