// .a-logo-anim {
//   width: 100px;
//   height: 100px;
//   margin: -25px;
//   overflow: hidden;
//   transform: scale( 0.4 ) translateZ( 0 );
//
//   div {
//     float: left;
//     background-color: $b1;
//     transform: translateZ( 0 );
//   }
//
//   .a-logo-anim-g {
//     background-color: transparent;
//
//     .a-logo-anim-g {
//       width: 20px;
//     }
//   }
//
//   .a-logo-anim-c-1,
//   .a-logo-anim-c-3,
//   .a-logo-anim-c-7,
//   .a-logo-anim-c-9 {
//     width: 20px;
//     height: 20px;
//     overflow: hidden;
//
//     background-color: transparent;
//   }
//
//   .a-logo-anim-c-2,
//   .a-logo-anim-c-8,
//   .a-logo-anim-c-4,
//   .a-logo-anim-c-6 {
//     background-color: transparent;
//   }
//
//   .a-logo-anim-c-2,
//   .a-logo-anim-c-8 {
//     width: $spacer * 5;
//     height: 20px;
//
//     div {
//       display: inline-block;
//       width: 100%;
//       height: 20px;
//     }
//   }
//
//   .a-logo-anim-c-4,
//   .a-logo-anim-c-6 {
//     width: 20px;
//     height: 40px;
//     box-shadow: $b1 0 1px 0;
//
//     div {
//       display: block;
//       width: 20px;
//       height: 100%;
//     }
//   }
//
//   .a-logo-anim-c-3,
//   .a-logo-anim-c-9 {
//     box-shadow: $b1 1px 0 0;
//   }
//
//   .a-logo-anim-c-2-1,
//   .a-logo-anim-c-8-1 {
//     width: 0;
//     height: 20px;
//   }
//
//   .a-logo-anim-c-4-1,
//   .a-logo-anim-c-6-1 {
//     width: 20px;
//     height: 0;
//   }
//
//   .a-logo-anim-c-rot {
//     width: $spacer * 5;
//     height: $spacer * 5;
//     margin-top: -10px;
//     margin-left: -10px;
//     background-color: transparent;
//     transform: rotate( 0deg );
//   }
//
//   .a-logo-anim-c-rot-inner {
//     width: $spacer * 5;
//     height: 30px;
//   }
//
//   .a-logo-anim-n {
//     background: linear-gradient( 90deg, $b0, $b1 );
//   }
//
//   .a-logo-anim-e {
//     background: linear-gradient( 0deg, $b0, $b1 );
//   }
//
//   .a-logo-anim-w {
//     background: linear-gradient( 180deg, $b0, $b1 );
//   }
//
//   .a-logo-anim-s {
//     background: linear-gradient( -90deg, $b0, $b1 );
//   }
//
//   .a-logo-anim-c-1 {
//     .a-logo-anim-c-rot {
//       animation: c-1-loop 0.75s infinite linear;
//     }
//   }
//
//   .a-logo-anim-c-2 {
//     box-shadow: $b1 10px 0 0;
//     animation: c-2-loop 0.75s infinite linear;
//   }
//
//   .a-logo-anim-c-2-1 {
//     animation: c-2-1-loop 0.75s infinite linear;
//   }
//
//   .a-logo-anim-c-3 {
//     .a-logo-anim-c-rot {
//       margin-top: -10px;
//       margin-left: -30px;
//       transform: rotate( 0deg );
//       animation: c-3-loop 0.75s infinite linear;
//     }
//   }
//
//   .a-logo-anim-c-4 {
//     margin-top: 20px;
//     animation: c-4-loop 0.75s infinite linear;
//   }
//
//   .a-logo-anim-c-4-1 {
//     animation: c-4-1-loop 0.75s infinite linear;
//   }
//
//   .a-logo-anim-c-5 {
//     width: 20px;
//     height: 20px;
//     margin: 20px;
//   }
//
//   .a-logo-anim-c-6 {
//     animation: c-6-loop 0.75s infinite linear;
//   }
//
//   .a-logo-anim-c-6-1 {
//     animation: c-6-1-loop 0.75s infinite linear;
//   }
//
//   .a-logo-anim-c-7 {
//     .a-logo-anim-c-rot {
//       margin-top: -30px;
//       margin-left: -10px;
//       transform: rotate( 0deg );
//       animation: c-7-loop 0.75s infinite linear;
//     }
//   }
//
//   .a-logo-anim-c-8 {
//     animation: c-8-loop 0.75s infinite linear;
//   }
//
//   .a-logo-anim-c-8-1 {
//     animation: c-8-1-loop 0.75s infinite linear;
//   }
//
//   .a-logo-anim-c-9 {
//     .a-logo-anim-c-rot {
//       margin-top: -30px;
//       margin-left: -30px;
//       transform: rotate( 0deg );
//       animation: c-9-loop 0.75s infinite linear;
//     }
//   }
//
//   &.alt {
//     margin: 0;
//     transform: scale( 1 ) translateZ( 0 );
//
//     div {
//       background-color: $g1;
//     }
//
//     .a-logo-anim-g {
//       background-color: transparent;
//     }
//
//     .a-logo-anim-c-3,
//     .a-logo-anim-c-9 {
//       box-shadow: $g1 1px 0 0;
//     }
//
//     .a-logo-anim-c-4,
//     .a-logo-anim-c-6 {
//       box-shadow: $g1 0 1px 0;
//     }
//
//     .a-logo-anim-c-1,
//     .a-logo-anim-c-2,
//     .a-logo-anim-c-3,
//     .a-logo-anim-c-4,
//     .a-logo-anim-c-6,
//     .a-logo-anim-c-7,
//     .a-logo-anim-c-8,
//     .a-logo-anim-c-9 {
//       background-color: transparent;
//     }
//
//     .a-logo-anim-n {
//       background: linear-gradient( 90deg, $g0, $g1 );
//     }
//
//     .a-logo-anim-e {
//       background: linear-gradient( 0deg, $g0, $g1 );
//     }
//
//     .a-logo-anim-w {
//       background: linear-gradient( 180deg, $g0, $g1 );
//     }
//
//     .a-logo-anim-s {
//       background: linear-gradient( -90deg, $g0, $g1 );
//     }
//
//     .a-logo-anim-c-1 {
//       .a-logo-anim-c-rot {
//         background-color: transparent;
//         animation: c-1-loop 0.75s infinite linear;
//       }
//     }
//
//     .a-logo-anim-c-2 {
//       box-shadow: $g1 1px 0 0;
//       animation: c-2-loop-alt 0.75s infinite linear;
//     }
//
//     .a-logo-anim-c-2-1 {
//       animation: c-2-1-loop 0.75s infinite linear;
//     }
//
//     .a-logo-anim-c-3 {
//       .a-logo-anim-c-rot {
//         margin-top: -10px;
//         margin-left: -30px;
//         background-color: transparent;
//         transform: rotate( 0deg );
//         animation: c-3-loop 0.75s infinite linear;
//       }
//     }
//
//     .a-logo-anim-c-4 {
//       margin-top: 20px;
//       animation: c-4-loop-alt 0.75s infinite linear;
//     }
//
//     .a-logo-anim-c-4-1 {
//       animation: c-4-1-loop 0.75s infinite linear;
//     }
//
//     .a-logo-anim-c-5 {
//       width: 20px;
//       height: 20px;
//       margin: 20px;
//     }
//
//     .a-logo-anim-c-6 {
//       animation: c-6-loop-alt 0.75s infinite linear;
//     }
//
//     .a-logo-anim-c-6-1 {
//       animation: c-6-1-loop 0.75s infinite linear;
//     }
//
//     .a-logo-anim-c-7 {
//       .a-logo-anim-c-rot {
//         margin-top: -30px;
//         margin-left: -10px;
//         background-color: transparent;
//         transform: rotate( 0deg );
//         animation: c-7-loop 0.75s infinite linear;
//       }
//     }
//
//     .a-logo-anim-c-8 {
//       animation: c-8-loop-alt 0.75s infinite linear;
//     }
//
//     .a-logo-anim-c-8-1 {
//       animation: c-8-1-loop 0.75s infinite linear;
//     }
//
//     .a-logo-anim-c-9 {
//       .a-logo-anim-c-rot {
//         margin-top: -30px;
//         margin-left: -30px;
//         background-color: transparent;
//         transform: rotate( 0deg );
//         animation: c-9-loop 0.75s infinite linear;
//       }
//     }
//   }
// }
//
// @keyframes c-1-loop {
//   0% {
//     transform: rotate( 0deg );
//   }
//
//   12.5% {
//     transform: rotate( 90deg );
//   }
//
//   12.51% {
//     transform: rotate( 180deg );
//   }
//
//   25% {
//     transform: rotate( 270deg );
//   }
//
//   100% {
//     transform: rotate( 270deg );
//   }
// }
//
// @keyframes c-2-loop {
//   0% {
//     width: $spacer * 5;
//     margin-left: 0;
//     box-shadow: inset $b1 0 100px 0;
//   }
//
//   12.5% {
//     width: $spacer * 5;
//     margin-left: 0;
//     box-shadow: inset $b1 0 100px 0;
//   }
//
//   25% {
//     width: 40px;
//     margin-left: 20px;
//     box-shadow: inset $b0 0 100px 0;
//   }
//
//   37.5% {
//     width: 20px;
//     margin-left: 20px;
//     box-shadow: inset $b0 0 100px 0;
//   }
//
//   50% {
//     width: 0;
//     margin-left: 20px;
//   }
//
//   62.5% {
//     width: 0;
//     margin-left: 0;
//   }
//
//   100% {
//     width: 0;
//     margin-left: 0;
//   }
// }
//
// @keyframes c-2-loop-alt {
//   0% {
//     width: $spacer * 5;
//     margin-left: 0;
//     box-shadow: inset $g1 0 100px 0;
//   }
//
//   12.5% {
//     width: $spacer * 5;
//     margin-left: 0;
//     box-shadow: inset $g1 0 100px 0;
//   }
//
//   25% {
//     width: 40px;
//     margin-left: 20px;
//
//     box-shadow: inset $g0 0 100px 0;
//   }
//
//   37.5% {
//     width: 20px;
//     margin-left: 20px;
//     box-shadow: inset $g0 0 100px 0;
//   }
//
//   50% {
//     width: 0;
//     margin-left: 20px;
//   }
//
//   62.5% {
//     width: 0;
//     margin-left: 0;
//   }
//
//   100% {
//     width: 0;
//     margin-left: 0;
//   }
// }
//
// @keyframes c-2-1-loop {
//   0% {
//     width: 0;
//   }
//
//   25% {
//     width: 0;
//   }
//
//   50% {
//     width: 40px;
//   }
//
//   62.5% {
//     width: $spacer * 5;
//   }
//
//   100% {
//     width: $spacer * 5;
//   }
// }
//
// @keyframes c-3-loop {
//   0% {
//     transform: rotate( 90deg );
//   }
//
//   50% {
//     transform: rotate( 90deg );
//   }
//
//   62.5% {
//     transform: rotate( 180deg );
//   }
//
//   62.51% {
//     transform: rotate( 270deg );
//   }
//
//   75% {
//     transform: rotate( 360deg );
//   }
//
//   100% {
//     transform: rotate( 360deg );
//   }
// }
//
// @keyframes c-4-loop {
//   0% {
//     height: 40px;
//     box-shadow: inset $b1 0 100px 0;
//   }
//
//   12.5% {
//     height: $spacer * 5;
//     margin-top: 0;
//   }
//
//   62.5% {
//     height: $spacer * 5;
//     margin-top: 0;
//     box-shadow: inset $b1 0 100px 0;
//   }
//
//   75% {
//     box-shadow: inset $b0 0 100px 0;
//   }
//
//   100% {
//     height: 0;
//     margin-top: 0;
//     margin-bottom: 0;
//   }
// }
//
// @keyframes c-4-loop-alt {
//   0% {
//     height: 40px;
//     box-shadow: inset $g1 0 100px 0;
//   }
//
//   12.5% {
//     height: $spacer * 5;
//     margin-top: 0;
//   }
//
//   62.5% {
//     height: $spacer * 5;
//     margin-top: 0;
//
//     box-shadow: inset $g1 0 100px 0;
//   }
//
//   75% {
//     box-shadow: inset $g0 0 100px 0;
//   }
//
//   100% {
//     height: 0;
//     margin-top: 0;
//     margin-bottom: 0;
//   }
// }
//
// @keyframes c-4-1-loop {
//   0% {
//     height: 0;
//   }
//
//   62.5% {
//     height: 0;
//     margin-top: 0;
//   }
//
//   75% {
//     height: 0;
//     margin-top: 20px;
//   }
//
//   100% {
//     height: 40px;
//     margin-top: 20px;
//   }
// }
//
// @keyframes c-6-loop {
//   0% {
//     height: 40px;
//     margin-top: 0;
//
//     box-shadow: inset $b1 0 100px 0;
//   }
//
//   12.5% {
//     height: $spacer * 5;
//     margin-top: 0;
//   }
//
//   62.5% {
//     height: $spacer * 5;
//     margin-top: 0;
//
//     box-shadow: inset $b1 0 100px 0;
//   }
//
//   75% {
//     box-shadow: inset $b0 0 100px 0;
//   }
//
//   100% {
//     height: 0;
//     margin-top: 0;
//   }
// }
//
// @keyframes c-6-loop-alt {
//   0% {
//     height: 40px;
//     margin-top: 0;
//
//     box-shadow: inset $g1 0 100px 0;
//   }
//
//   12.5% {
//     height: $spacer * 5;
//     margin-top: 0;
//   }
//
//   62.5% {
//     height: $spacer * 5;
//     margin-top: 0;
//
//     box-shadow: inset $g1 0 100px 0;
//   }
//
//   75% {
//     box-shadow: inset $g0 0 100px 0;
//   }
//
//   100% {
//     height: 0;
//     margin-top: 0;
//   }
// }
//
// @keyframes c-6-1-loop {
//   0% {
//     height: 0;
//   }
//
//   62.5% {
//     height: 0;
//     margin-bottom: 0;
//   }
//
//   75% {
//     height: 0;
//     margin-bottom: 20px;
//   }
//
//   100% {
//     height: 40px;
//     margin-bottom: 20px;
//   }
// }
//
// @keyframes c-7-loop {
//   0% {
//     transform: rotate( -90deg );
//   }
//
//   50% {
//     transform: rotate( -90deg );
//   }
//
//   62.5% {
//     transform: rotate( 0deg );
//   }
//
//   62.51% {
//     transform: rotate( 90deg );
//   }
//
//   75% {
//     transform: rotate( 180deg );
//   }
//
//   100% {
//     transform: rotate( 180deg );
//   }
// }
//
// @keyframes c-8-loop {
//   0% {
//     width: $spacer * 5;
//     margin-right: 0;
//     box-shadow: inset $b1 0 100px 0;
//   }
//
//   12.5% {
//     width: $spacer * 5;
//     margin-right: 0;
//     box-shadow: inset $b1 0 100px 0;
//   }
//
//   25% {
//     width: 40px;
//     margin-right: 20px;
//     box-shadow: inset $b0 0 100px 0;
//   }
//
//   50% {
//     width: 0;
//     margin-right: 20px;
//   }
//
//   62.5% {
//     width: 0;
//     margin-right: 0;
//   }
//
//   100% {
//     width: 0;
//     margin-right: 0;
//   }
// }
//
// @keyframes c-8-loop-alt {
//   0% {
//     width: $spacer * 5;
//     margin-right: 0;
//     box-shadow: inset $g1 0 100px 0;
//   }
//
//   12.5% {
//     width: $spacer * 5;
//     margin-right: 0;
//     box-shadow: inset $g1 0 100px 0;
//   }
//
//   25% {
//     width: 40px;
//     margin-right: 20px;
//
//     box-shadow: inset $g0 0 100px 0;
//   }
//
//   50% {
//     width: 0;
//     margin-right: 20px;
//   }
//
//   62.5% {
//     width: 0;
//     margin-right: 0;
//   }
//
//   100% {
//     width: 0;
//     margin-right: 0;
//   }
// }
//
// @keyframes c-8-1-loop {
//   0% {
//     width: 0;
//   }
//
//   25% {
//     width: 0;
//   }
//
//   50% {
//     width: 40px;
//   }
//
//   62.5% {
//     width: $spacer * 5;
//   }
//
//   100% {
//     width: $spacer * 5;
//   }
// }
//
// @keyframes c-9-loop {
//   0% {
//     transform: rotate( 180deg );
//   }
//
//   12.5% {
//     transform: rotate( 270deg );
//   }
//
//   12.51% {
//     transform: rotate( 0deg );
//   }
//
//   25% {
//     transform: rotate( 90deg );
//   }
//
//   100% {
//     transform: rotate( 90deg );
//   }
// }
//
.a-modal {
  .a-logo-anim {
    margin-right: auto;
    margin-left: auto;
  }
}

.a-js-genericSearch,
.a-js-genericSearch+section {
  .a-logo-anim {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }
}

.loader {
  position: relative;
  display: block;
  margin: 0 auto;
  // font-size: 40px;
  text-indent: -9999em;
  transform: translateZ(0);

  &.loader-ellipsis {
    width: 0.625em;
    height: 0.625em;
    border-radius: 50%;
    animation: loader-ellipsis 1.8s infinite ease-in-out;
    animation-delay: -0.16s;
    animation-fill-mode: both;

    &::after,
    &::before {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      content: '';
      border-radius: 50%;
      animation: loader-ellipsis 1.8s infinite ease-in-out;
      animation-fill-mode: both;
    }

    &::before {
      left: -0.875em;
      animation-delay: -0.32s;
    }

    &::after {
      left: 0.875em;
    }
  }
}

@keyframes loader-ellipsis {
  0%,
  100%,
  80% {
    box-shadow: 0 0.625em 0 -0.325em $blue;
  }

  40% {
    box-shadow: 0 0.625em 0 0 $blue;
  }
}
