/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/

.a-message {
	background-color: $grey-medium;
    padding: 12px 15px;
    margin-top: 20px;
	position: relative;
	float: left;
	display: block;
	min-width: 200px;
}

.a-message:after {
	bottom: 100%;
	left: 24px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: $grey-medium;
	border-width: 10px;
	margin-left: -10px;
}

.a-message-error {	
    background-color: $red-light;

    &:after {
		border-bottom-color: $red-light;
	}
}

.a-message-success {
	background-color: $green-light;

	&:after {
		border-bottom-color: $green-light;
	}
}

.a-message-info {	
    background-color: $yellow-light;

    &:after {
		border-bottom-color: $yellow-light;
	}
}



