/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/

.a-message {
	background-color: $grey-medium;
  padding: 12px 15px;
	box-shadow: $shadow;
  margin-top: 20px;
	position: relative;
	float: left;
	display: block;
	min-width: 200px;
}

.a-message:after {
	bottom: 100%;
	left: 24px;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-width: 10px;
	margin-left: 12px;

  box-sizing: border-box;
  border: 8px solid black;
  border-color: transparent transparent $yellow-light $yellow-light;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.04);
  top: 1px;
}

.a-message-error {
    background-color: $red-light;

    &:after {
			border-color: transparent transparent $red-light $red-light;
	}
}

.a-message-success {
	background-color: $green-light;

	&:after {
		border-color: transparent transparent $green-light $green-light;
	}
}

.a-message-info {
    background-color: $yellow-light;

    &:after {
		border-bottom-color: $yellow-light;
	}
}

.a-link-chat {
	color: $white;
	width: auto;
	display: inline;
	border-bottom: 1px solid $white;
	padding-bottom: 2px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.a-chat {
	background-color: $white;
	width: 500px;
	height: 500px;
	position: relative;
	display: none;
	width: 400px;
	height: 440px;
	position: fixed;
	bottom: 50px;
	right: 0;

	&>p {
		background-color: $blue-darker;
		height: 48px;
		font-size: 16px;
		color: $white;
		text-align: center;
		padding: $spacer;
		margin: 0;

		i {
			float: right;
			color: $white;
		}
	}

	.a-chat-scrollarea {
		position: absolute;
		top: 48px;
		left: 0;
		height: 355px;
		width: 100%;
		overflow-y: scroll;
		padding: $spacer;
		border-left: 1px solid $grey-light;
		border-right: 1px solid $grey-light;
	}

	.a-form-group .form-control,
	.a-form-group .form-control:hover {
    border: none;
		border-left: 1px solid $grey-light; 
	}
	.a-form-group .input-group-btn .btn {
    border: none;
	}

	.a-form-group {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border-top: 1px solid $grey-light;
		margin-bottom: 0;
		left: 1px;

		.input-group-btn {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.a-form-group .form-control,
	.a-form-group .form-control:hover {
    border: none;
		border-left: 1px solid $grey-light;
	}
	.a-form-group .input-group-btn .btn {
    border: none;
	}
}
