/*------------------------------------*\
    $MODAL
\*------------------------------------*/

.a-modal-header {
	background: $grey;
	padding: $pad-double;
}

.a-modal-body {
	padding: $pad-double;
} 

.a-modal-title {
	font-size: $font-size-large-2;
	color: #fff; 
}  