/*------------------------------------*\
    $MODAL
\*------------------------------------*/

.a-modal  {
	.modal-lg {
		width: auto;
		max-width: 900px;
		margin: 10px;
	
		@media screen and (min-width: 920px) {
			margin: auto; 
		}
	}
}



// Modal top 

.a-modal-top {
	padding-top: 24px;

	.a-modal-top-logo {
		width: 160px;
	}

	.a-modal-top-user {
		float: right;
		position: relative;

		.a-modal-top-user-icon {
		    position: absolute;
		    left: 0;
		    color: $white;
		}

		.a-modal-top-user-name {
		    margin: 24px 0 0 0;
		    font-size: 14px;
		    color: #fff;
		    display: inline;
		    padding-left: 36px;
		} 
	}
}

.a-modal-navbar {
	margin-top: 24px;
}



.a-modal-header {
	background: $grey;
	padding: 30px;
	padding-left: 96px;
	border-bottom: 0;
}

.a-modal-body {
	padding: $pad-double;
} 

.a-modal-title {
	font-size: $font-size-large-2;
	color: #fff; 
}  

.a-modal-close,
.a-modal-back {
	border: 0;
	background: $white;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin-bottom: 12px;
}
.a-modal-close:hover,
.a-modal-back:hover {
	opacity: .70;
}
.a-modal-close{
	float: right;
}


.a-modal-close-icon,
.a-modal-back-icon {
	vertical-align: middle;
}

.a-modal-close-icon {
	color: $red;
}


