/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

// Pagination
.a-pagination {

	.page-item {

		.page-link {
			border: none;
			color: $black;
			background-color: $blue-light;
			margin-right: 12px;
			margin-bottom: 12px;
			border-radius: 0;
			padding: 5px 14px 3px 14px;
			border:2px solid #fff;
		}

		.page-link:focus, .page-link:hover {
		    color: $black;
		    background-color: $blue;
		    text-decoration: none;
		    color: $white;
				border-color: $blue;
		}

		&.active .page-link,
		&.active .page-link:hover {
			background-color: $grey-light;
			color: $black;
		}
	}
}

.private-person,
.business {

	.page-item {

		.page-link {
			background-color: $white;
		}

		&.active .page-link,
		&.active .page-link:hover {
			border: 2px solid #fff;
		}
	}
}


// Breadcrumb

.a-breadcrumb {
	padding: 0;
	background: transparent;
	li {
		line-height: 36px;
		&:first-child {

		}

		&.active a{
			color: $grey;
			cursor: default;
			border: none;
		}
	}
}

// Dropdown-menu with arrow

.a-dropdownTriangle {
  background: #fff;
	box-sizing: border-box;
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.4);
}
.a-dropdownTriangle:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 130px;
		bottom: 100%;
		left: 50%;
    box-sizing: border-box;

    border: 8px solid black;
    border-color: transparent transparent #fff #fff;

    transform-origin: 0 0;
    transform: rotate(135deg);

		box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.11);
		top: 1px
}
/*------------------------------------*\
    Small accordion
\*------------------------------------*/

.a-accordion-small {
	a {
		padding-bottom: 15px;
	}

	div {
		padding-left: 20px;
	}
}

/*------------------------------------*\
    Large accordion
\*------------------------------------*/

.a-accordion-large {
	a:not(.a-link) {
		padding-bottom: 24px;
		clear: both;
		border-top: 1px solid $blue-line;
		padding-top: 24px;
		@include media-breakpoint-up(md) {
			padding-left: 48px;
		}
	}
	.a-link {
		display:inline;
	}
	border-bottom: 1px solid $blue-line;
}


/*------------------------------------*\
    COLUMN NAVIGATION (DRILLDOWN ON MOBILE)
		Used on "Skjema"
\*------------------------------------*/

.a-filter-container {
	padding: $space-half 0;

	@include media-breakpoint-up(lg) {
		padding: $space-half $space-x4;
	}
}
.a-filter {
	padding-top: $space;
	@include media-breakpoint-up(md) {
		text-align: right;
		padding-top: 0px;
	}
	@include media-breakpoint-up(lg) {
		padding-top: 5px;
	}

	.btn {
		background: transparent;
		padding: 0;

		&:before {
	    display: inline-block;
	    width: 0;
	    height: 0;
	    margin-right: .25rem;
	    margin-left: .25rem;
	    vertical-align: middle;
	    content: "";
	    border-top: 0.3em solid;
	    border-right: 0.3em solid transparent;
	    border-left: 0.3em solid transparent;
		}
		&:after {
			border:none;
		}
	}
}

.a-colnav-container {
	border-top: 1px solid $grey-medium;

	@include media-breakpoint-up(lg) {
		border-bottom: 1px solid $grey-medium;
	}
}

.a-colnav {
	width: 100%;

	@include media-breakpoint-up(lg) {
		max-width: 550px;
	}

	// First level
	li {

		a {
			padding: 12px 36px 12px 24px;
			background: #fff;
			color: $black;
			border-bottom: 1px solid $grey-medium;
			display: block;
			box-shadow: none !important;

			@include media-breakpoint-up(lg) {
				border-right: 1px solid $grey-medium;
				padding: $space $space-x4;
			}

			&:hover,
			&.expanded,
			&:focus {
				background: rgba(255,255,255,0.7);
			}

			&:focus {
				outline: none;
				text-decoration: underline;
			}
			&.is-active {
				text-decoration: none;
			}

			h2 {
				font-size: 20px;
				line-height: 26px;
				font-family: 'DIN-bold';
				margin-bottom: 0;
			}
			p {
				margin-bottom: 0;
			}
		}
		&:last-child a{
			border-bottom: none;
		}
		// DIMMING not active panels
		.dim {
			background: transparent;
			h2 {
				color: $grey;
			}
			color: $grey;
		}

	}

	// Second level
	.a-colnav-secondLevel {
		z-index: 1000;
		min-height: 100.3%;
		width: 250px;
		background: $grey-light;
		margin-top: -1px;

		&.anim {
			-webkit-transition: margin-left .5s ease-in-out;
			transition: margin-left .5s ease-in-out;
		}

		@include media-breakpoint-up(lg) {
			margin-left: -1px;
		}

		@include media-breakpoint-up(xl) {
			width: 300px;
		}

		.is-dropdown-submenu-item {
			a {
				border-bottom: 1px solid $grey-medium;
				padding: 18px $space-x2 17px $space-x2;
				position: relative;

				&:hover {
					background: $grey-lighter;
				}
				h3 {
					font-size: 18px;
					font-family: 'din-reg';
					margin-bottom: 0;
				}
				@include media-breakpoint-up(md) {
					border-right: none;
				}
			}

		}

		// Drilldown on mobile
		&.is-drilldown-submenu {
			width: 100%;

			h3 {
				margin-bottom: 0;
			}

			li.js-drilldown-back a {
				padding: 16px 36px 15px 24px;

				&:before {
			    margin-top: -3px;
				}
			}
		}
	}

	.dim-second {
		background: $grey-light;
		h2 {
			color: $grey;
		}
		color: $grey;
	}



	// Third level
	.a-colnav-thirdLevel {
		margin-left: -1px;
		margin-top: -1px;
		background: $white;


		@include media-breakpoint-up(lg) {
			width: 469px;
			min-height: 100.3%;
		}

		@include media-breakpoint-up(xl) {
			width: 517px;
		}

		.is-dropdown-submenu-item {
			a {
				border-bottom: 1px solid $grey-light;
				padding: 6px $space-x2 3px $space-x2;
				position: relative;
				border-right: none;
				&:hover {
					background: $grey-lighter;
				}
				h4 {
					font-size: 16px;
					font-family: 'din-reg';
					margin-bottom: 0;
					padding-right: 60px;
				}
				.a-colnav-rightText {
					position: absolute;
					right: $space;
					top:11px;
					display: block;
					font-size: 14px;
				}
			}
		}

		h4 {
			font-size: 16px;
			font-family: 'din-reg';
		}

		.a-colnav-rightText {
			font-family: 'DIN-medium';
		}

	}

}

.business {
	.dim-second {
		background: $blue-light;
		h2 {
			color: $grey;
		}
		color: $grey;
	}
	.a-colnav .a-colnav-secondLevel {
			background: $blue-light;
		.is-dropdown-submenu-item {
			a {
				&:hover {
					background: $blue-lighter;
				}
			}

		}
	}
}

// Make all levels start on top
.is-dropdown-submenu-parent {
    position: static; //remove position:relative
}

// Make arrow dim

.dropdown.menu.vertical > li.opens-right > a.dim:after,
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a.dim-second:after {
    border-color: transparent transparent transparent #ccc;
}

// Remove arrow
/*.dropdown.menu.vertical > li.opens-right > a::after {
    border: none;
}
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after {
    border: none;
} */

/*
@include media-breakpoint-down(md) {
	.is-drilldown {
		min-height: initial !important
	}
}
*/
