/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

// Pagination
.a-pagination {
  .page-item {
    .page-link {
      border: none;
      color: $black;
      background-color: $blue-light;
      margin-right: 12px;
      margin-bottom: 12px;
      border-radius: 0;
      padding: 5px 14px 3px 14px;
      border: 2px solid #fff;
    }
    .page-link:focus,
    .page-link:hover {
      color: $black;
      background-color: $blue;
      text-decoration: none;
      color: $white;
      border-color: $blue;
    }
    &.active .page-link,
    &.active .page-link:hover {
      background-color: $grey-light;
      color: $black;
    }
  }
}

.private-person,
.business {
  .page-item {
    .page-link {
      background-color: $white;
    }
    &.active .page-link,
    &.active .page-link:hover {
      border: 2px solid #fff;
    }
  }
}

// Breadcrumb
.a-breadcrumb {
  padding: 0px;
  background: transparent;
  font-size: 20px;
  li {
    line-height: 36px;
    display: none;
    &.breadcrumb-mobile {
      @include media-breakpoint-down(sm) {
        display: block;
        &:before {
          content: 'â†';
          padding-right: $spacer/2;
        }
      }
    }
    @include media-breakpoint-up(md) {
      display: block;
    }
    &.active a {
      color: $grey;
      cursor: default;
      border: none;
    }
  }
}

// Dropdown-menu with arrow
.a-dropdownTriangle {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.4);
}

.a-dropdownTriangle:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: 130px;
  bottom: 100%;
  left: 50%;
  box-sizing: border-box;
  border: 8px solid black;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.11);
  top: 1px
}


/*------------------------------------*\
    Small accordion
\*------------------------------------*/

.a-accordion-small {
  a {
    padding-bottom: 15px;
  }
  div {
    padding-left: 20px;
  }
  .a-dropdownArrow {
    margin-right: 10px;
  }
}


/*------------------------------------*\
    Large accordion
\*------------------------------------*/

.a-accordion-large {
  a:not(.a-link) {
    padding-bottom: 24px;
    clear: both;
    border-top: 1px solid $blue-line;
    padding-top: 24px;
    @include media-breakpoint-up(md) {
      padding-left: 48px;
    }
  }
  .a-link {
    display: inline;
  }
  border-bottom: 1px solid $blue-line;
}


/*------------------------------------*\
    COLUMN NAVIGATION (DRILLDOWN ON MOBILE)
		Used on "Skjema"
\*------------------------------------*/

.a-filter-container {
  padding: $spacer/2 0;
  @include media-breakpoint-up(lg) {
    padding: $spacer/2 $spacer*4;
  }
}

.a-filter {
  padding-top: $spacer;
  @include media-breakpoint-up(md) {
    text-align: right;
    padding-top: 0px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 5px;
  }
  .btn {
    background: transparent;
    padding: 0;
    &:before {
      display: inline-block;
      width: 0;
      height: 0;
      margin-right: .25rem;
      margin-left: .25rem;
      vertical-align: middle;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-left: 0.3em solid transparent;
    }
    &:after {
      border: none;
    }
  }
}

.a-colnav-container {
  border-top: 1px solid $grey-medium;
  @include media-breakpoint-up(lg) {
    border-bottom: 1px solid $grey-medium;
  }
}

.a-colnav {
  width: 100%;
  @include media-breakpoint-up(lg) {
    max-width: 550px;
  }
  // First level
  li {
    a {
      padding: 12px 36px 12px 24px;
      background: #fff;
      color: $black;
      border-bottom: 1px solid $grey-medium;
      display: block;
      box-shadow: none !important;
      @include media-breakpoint-up(lg) {
        border-right: 1px solid $grey-medium;
        padding: $spacer $spacer*4;
      }
      &:hover,
      &.expanded,
      &:focus {
        background: rgba(255, 255, 255, 0.7);
      }
      &:focus {
        outline: none;
        text-decoration: underline;
      }
      &.is-active {
        text-decoration: none;
      }
      h2 {
        font-size: 20px;
        line-height: 26px;
        font-family: $font-bold;
        font-weight: $font-weight-bold;
        margin-bottom: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    &:last-child a {
      border-bottom: none;
    }
    // DIMMING not active panels
    .dim {
      background: transparent;
      h2 {
        color: $grey;
      }
      color: $grey;
    }
  }
  // Second level
  .a-colnav-secondLevel {
    z-index: 1000;
    min-height: 100.3%;
    width: 250px;
    background: $grey-light;
    margin-top: -1px;
    &.anim {
      -webkit-transition: margin-left .5s ease-in-out;
      transition: margin-left .5s ease-in-out;
    }
    @include media-breakpoint-up(lg) {
      margin-left: -1px;
    }
    @include media-breakpoint-up(xl) {
      width: 300px;
    }
    .is-dropdown-submenu-item {
      a {
        border-bottom: 1px solid $grey-medium;
        padding: 18px $spacer*2 17px $spacer*2;
        position: relative;
        &:hover {
          background: $grey-lighter;
        }
        h3 {
          font-size: 18px;
          font-family: $font-reg;
          font-weight: $font-weight-reg;
          margin-bottom: 0;
        }
        @include media-breakpoint-up(md) {
          border-right: none;
        }
      }
    }
    // Drilldown on mobile
    &.is-drilldown-submenu {
      width: 100%;
      h3 {
        margin-bottom: 0;
      }
      li.js-drilldown-back a {
        padding: 16px 36px 15px 24px;
        &:before {
          margin-top: -3px;
        }
      }
    }
  }
  .dim-second {
    background: $grey-light;
    h2 {
      color: $grey;
    }
    color: $grey;
  }
  // Third level
  .a-colnav-thirdLevel {
    margin-left: -1px;
    margin-top: -1px;
    background: $white;
    @include media-breakpoint-up(lg) {
      width: 469px;
      min-height: 100.3%;
    }
    @include media-breakpoint-up(xl) {
      width: 517px;
    }
    .is-dropdown-submenu-item {
      a {
        border-bottom: 1px solid $grey-light;
        padding: 6px $spacer*2 3px $spacer*2;
        position: relative;
        border-right: none;
        &:hover {
          background: $grey-lighter;
        }
        h4 {
          font-size: 16px;
          font-family: $font-reg;
          font-weight: $font-weight-reg;
          margin-bottom: 0;
          padding-right: 60px;
          max-width: calc(100% - 60px);
        }
        .a-colnav-rightText {
          position: absolute;
          right: $spacer;
          top: 11px;
          display: block;
          font-size: 14px;
        }
      }
    }
    h4 {
      font-size: 16px;
      font-family: $font-reg;
      font-weight: $font-weight-reg;
    }
    .a-colnav-rightText {
      font-family: $font-medium;
      font-weight: $font-weight-medium;
    }
  }
}

.business {
  .dim-second {
    background: $blue-light;
    h2 {
      color: $grey;
    }
    color: $grey;
  }
  .a-colnav .a-colnav-secondLevel {
    background: $blue-light;
    .is-dropdown-submenu-item {
      a {
        &:hover {
          background: $blue-lighter;
        }
      }
    }
  }
}

// Make all levels start on top
.is-dropdown-submenu-parent {
  position: static; //remove position:relative
}

// Make arrow dim
.dropdown.menu.vertical>li.opens-right>a.dim:after,
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right>a.dim-second:after {
  border-color: transparent transparent transparent #ccc;
}

// Remove arrow

/*.dropdown.menu.vertical > li.opens-right > a::after {
    border: none;
}
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after {
    border: none;
} */


/*
@include media-breakpoint-down(md) {
	.is-drilldown {
		min-height: initial !important
	}
}
*/


/* Top tasks */

.a-topTasks {

	@include media-breakpoint-up(xl) {
		margin: 0 $spacer*6 0 $spacer*6;
	}

	// On mobile, show buttons with text below icon (centered)
	@include media-breakpoint-down(md) {
		padding: 0 $spacer*2;

		.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
	    padding-right: 1px;
	    padding-left: 1px;
		}
		.a-btn-transparentWhite {
			text-align: center;
			height: 84px;
			padding: $spacer 0;

			.a-btn-icon-symbol {
		    display: block;
		    margin: auto;
				margin-bottom: 3px;
			}
			.a-btn-icon-text {
				padding-left: 0;
				font-size: 14px;
			}
		}
	}
	@include media-breakpoint-down(xs) {
		padding: 0 0;

		.a-btn-transparentWhite {
			.a-btn-icon-text {
				font-size: 12px;
			}
		}
	}
}
