.onboarding-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 1140px;
  height: 1140px;
  margin-top: -570px;
  margin-left: -570px;
  opacity: 0;
  transition: transform 0.45s ease-in, top 0.1s ease-out, left 0.1s, ease-out;

  svg {
    overflow: visible;
  }
}

.onboarding-neutral {
  position: absolute;
  z-index: 999;
  width: 1140px;
  height: 1140px;
  opacity: 1;
  transform: scale(10);

  svg {
    overflow: visible;
  }
}


.a-js-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  background-color: $blue-darker;
  border-radius: 8px;
  opacity: 0.9;
  transition: opacity 0.35s ease-in;
  transform: translate3d(0, 0, 0);
}


/*------------------------------------*\
    $MODAL ONBOARDING
\*------------------------------------*/

.a-onboarding {
  overflow: hidden !important;
  color: $white;
  // background: $blue-darker-opacity !important;
  background: transparent;
  box-shadow: none !important;

  @include media-breakpoint-up(md) {
    .modal-dialog {
      max-width: 800px;
    }
  }

  .a-modal-bottomBG {
    margin: auto;
    margin-top: 310px;
  }

  .modal-dialog {
    margin: 0 auto;
	}

  .modal-content {
    padding: 0 24px;
    background: transparent;
    box-shadow: none;

    .modal-header {
      padding: 0;
      padding-bottom: $spacer * 2;
      border-bottom: none;

      .modal-title {
        font-size: 36px;
      }
  	}

    .modal-body {
      padding: 0;

      .a-leadText {
        margin-bottom: 0;
        font-size: 28px;
        font-weight: $font-weight-light;
        line-height: 38px;
      }

      .patternLine {
        margin-top: $spacer*2;
      }
    }

    .modal-footer {
      padding: 0;
      margin-top: $spacer * 3;
      text-align: left;
      border-top: none;
  	}
	}
}
