.onboarding-wrapper {
  transition: transform 0.45s ease-in, top 0.1s ease-out, left 0.1s ease-out;
  width: 1140px;
  height: 1140px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: -570px;
  margin-top: -570px;
  z-index: 999;
  opacity: 0;

  svg {
    overflow: visible;
  }
}

.onboarding-neutral {
  width: 1140px;
  height: 1140px;
  position: absolute;
  z-index: 999;
  transform: scale(10);
  opacity: 1;

  svg {
    overflow: visible;
  }
}


.a-js-circle {
  width: 16px;
  height: 16px;
  background-color: #022f51;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 8px;
  margin-left: -8px;
  margin-top: -8px;
  opacity: 0.9;
  transition: opacity 0.35s ease-in;
}


/*------------------------------------*\
    $MODAL ONBOARDING
\*------------------------------------*/

.a-onboarding {
	// background: $blue-darker-opacity !important;
  background: transparent;
	color: #fff;
  overflow: hidden !important;
  box-shadow: none !important;

	@include media-breakpoint-up(md) {
    .modal-dialog {
      max-width: 800px;
    }
  }

  .a-modal-bottomBG {
    margin: auto;
    margin-top: 310px;
    // background: #194160;
  }

	.modal-dialog {
    margin: 0 auto;
	}

	.modal-content {
		background: transparent;
		box-shadow: none;

    .modal-header {
      padding: 0;
      padding-bottom: $spacer*2;
      border-bottom: none;

      .modal-title {
        font-size: 36px;
      }
  	}

    .modal-body {
      padding: 0;

      .a-leadText {
        font-size: 28px;
        line-height: 38px;
        font-weight: $font-weight-light;
        margin-bottom: 0;
      }

      .patternLine {
        margin-top: $spacer*2;
      }
    }

    .modal-footer {
      margin-top: $spacer*3;
      border-top: none;
  		text-align: left;
      padding: 0;
  	}
	}
}
