@media print {
  .a-dontPrint,
  .a-globalNav,
  .a-breadcrumb,
  .a-footer,
  .nav,
  .form-group,
  button,
  .a-linkFeatured,
  .a-btn,
  .a-jumbotron-btn-textright,
  .a-question-wrapper {
    display: none !important;
  }

  .p0-print {
    padding: 0 !important;
  }

  .a-jumbotron {
    height: auto;
    min-height: auto;
    max-height: auto;
    padding: 0;
    margin: 0;
  }

  .a-mediaBlock,
  .a-cardImage {
    margin-bottom: 0;

    img {
      display: none;
    }
  }

  .a-blockquote {
    border: none;
  }
}
