/*------------------------------------*\
    $PROGRESS
\*------------------------------------*/

.a-progress {
	height: $spacer*4;
}


.a-progress[value] {
	border-radius: 0 !important;
	background: url(../../images/disabled-background.svg) !important;
}
