/*------------------------------------*\
    $PROGRESS
\*------------------------------------*/

.a-progress-bg {
  background: url('../images/disabled-background_white.svg') !important;
}

.a-progress {
  height: $spacer * 4;

  &[value] {
    -webkit-animation: animateBar 1s ease forwards;
  }
}

@keyframes animateBar {
  from { width: 0%; }
  to { width: 100% !important; }
}

.a-progress-numbers {
  display: none;

  @include media-breakpoint-up( sm ) {
    @include a-fontMedium;
    @include a-fontSize14;
    display: flex;
    width: 117%;
	}

}
