/*------------------------------------*\
    $SEARCH RESULTS
\*------------------------------------*/
.a-searchResults {
  .a-searchResults-lastArticle {
    border: none;
  }

  .a-searchResults-lastForm {
    padding-bottom: $spacer * 2 !important;
  }

  .a-searchResults-filter {
    text-align: right;
    align-self: flex-start;
  }
}
