.a-stickyHelp-toggle {
  @include a-fontMedium;
  position: fixed;
  right: $spacer * 2;
  bottom: $spacer * 2;
  z-index: 999998;
  padding: $spacer $spacer * 2;
  margin-bottom: 0;
  color: $white;
  background: $purple;
  border-radius: 50px;

  i {
    margin-top: -2px;
  }

  &:hover,
  &:active,
  &:focus {
    color: $white;
    background: $purple-hover-color;
  }
}

.a-stickyHelp {
  position: fixed;
  right: $spacer;
  bottom: $spacer;
  z-index: 999999;
  width: 356px;
  visibility: hidden;
  background: transparent;
  transition: all 400ms;
  transform: translate(0, 0);

  &::before {
    position: absolute;
    top: 100%;
    right: 5%;
    bottom: 30px;
    width: 1px;
    height: 1px;
    content: '';
    background: transparent;
    border-radius: 90%;
    transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &.collapsing {
    margin-right: $spacer * 2;
    margin-bottom: $spacer * 2;

    &::before {
      background: $purple;
    }
  }

  &.show {
    right: $spacer;
    bottom: $spacer;
    display: block;
    visibility: visible;
    transition: all 400ms;
    transform: translate(0, 0) !important;

    &::before {
      top: 50%;
      right: 0%;
      display: block;
      width: 356px;
      height: 368px;
      margin-top: -184px;
      margin-left: -178px;
      background-color: $purple-hover-color;
      border-radius: 0;
      transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .a-stickyHelp-box {
      position: relative;
      background: $white;
      box-shadow: $shadow;
      opacity: 1;
      transition: all 200ms ease 400ms;
    }
  }

  .a-stickyHelp-box {
    opacity: 0;

    .a-stickyHelp-header {
      position: relative;
      padding: $spacer;
      color: $white;
      background: $purple;

      h2 {
        @include a-fontMedium;
        text-align: center;
        align-self: center;

        i {
          margin-top: -4px;
        }
      }

      .a-modal-close,
      .a-modal-back {
        width: 30px;
        height: 30px;
        padding-top: 2px;
        margin-bottom: 0;
      }
    }

    .a-stickyHelp-search {
      padding: $spacer $spacer 0 $spacer;
    }
  }
}

.a-stickyHelp-scrollarea {
  background: $white;

  h2 {
    padding: $height42;
    padding-left: 52px;
    margin-bottom: 0;
  }

  .a-stickyHelp-questionList {
    li {
      border-bottom: 1px solid $grey-light;

      a {
        display: block;
        padding: $height42;
        padding-left: 52px;
        border: none;

        &:hover,
        &:focus,
        &:active {
          background: $grey-lighter;
        }
      }

      &:first-child {
        border-top: 1px solid $grey-light;
      }
    }
  }

  .a-stickyHelp-footer {
    width: 100%;
    color: $black;

    a {
      @include a-fontMedium;
      display: block;
      padding: $height42;
      padding-left: 52px;
      border-bottom: 1px solid $grey-light;

      &:hover,
      &:focus,
      &:active {
        background: $grey-lighter;
      }

      &:first-child {
        border-top: 1px solid $grey-light;
      }

      i {
        margin-top: -3px;
      }
    }
  }

  .a-stickyHelp-questionList + .a-stickyHelp-footer {
    a {
      &:first-child {
        border-top: none !important;
      }
    }
  }

  .a-circle-list {

    li {
      padding: $spacer $spacer $spacer 52px;
      margin-bottom: $spacer;
      border-bottom: 1px solid $grey-light;

      &::before {
        margin-right: 6px;
        margin-left: -41px;
      }

      &:first-child {
        border-top: 1px solid $grey-light;
      }
    }

  }
}
