.a-stickyHelp-body {
  overflow: hidden;
}

// BUTTON: OPEN STICKYHELP
.a-stickyHelp-open {
  @include a-fontMedium;
  position: fixed;
  right: $spacer * 2;
  bottom: $spacer * 2;
  z-index: 20;
  padding: $spacer $spacer * 2;
  margin-bottom: 0;
  color: $white;
  background: $purple;
  border-radius: 50px;

  i {
    margin-top: -2px;
  }

  &:hover,
  &:active,
  &:focus {
    color: $white;
    background: $purple-hover-color;
  }
}

// Iframe container
.a-iframeToggle {
  position: fixed;
  right: $spacer;
  bottom: $spacer;
  z-index: 21;
  width: 356px;
  // overflow: hidden;
  background: transparent;
  transition: all 400ms;
  transform: translate(0, 0);

  &::before {
    position: absolute;
    top: 100%;
    right: 5%;
    bottom: 30px;
    width: 1px;
    height: 1px;
    content: '';
    background: transparent;
    border-radius: 90%;
    transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &.collapsing {
    margin-right: $spacer * 2;
    margin-bottom: $spacer * 2;

    &::before {
      background: $purple;
    }

    .a-stickyHelp-close {
      opacity: 0;
    }
  }

  iframe {
    opacity: 0;
  }

  .a-stickyHelp-close {
    opacity: 0;
  }

  // VISIBLE (After animation)
  &.show {
    right: $spacer;
    bottom: $spacer;
    display: block;
    visibility: visible;
    transition: all 400ms;
    transform: translate(0, 0) !important;

    &::before {
      top: 50%;
      right: 0%;
      display: block;
      width: 356px;
      height: 514px;
      margin-top: -261px;
      margin-left: -178px;
      background-color: $purple-hover-color;
      border-radius: 0;
      transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    iframe {
      position: relative;
      overflow: hidden;
      background: $white;
      border: none;
      box-shadow: $shadow;
      opacity: 1;
      transition: all 200ms ease 400ms;
    }

    .a-stickyHelp-close {
      position: absolute;
      top: $spacer;
      right: $spacer;
      z-index: 22;
      width: 30px;
      height: 30px;
      padding: 2px 0 $spacer / 2 0;
      margin-bottom: 0;
      cursor: pointer;
      background: $white;
      border: none;
      border-radius: 50%;
      opacity: 1;
      transition-delay: 400ms;

      &:hover {
        border: none;
        opacity: 0.7;
      }

      &:focus {
        background: $blue-light;
        border: none;
      }
    }
  }
}

.a-stickyHelp {
  .a-stickyHelp-header {
    position: relative;
    min-height: 54px;
    padding: $spacer;
    color: $white;
    background: $purple;

    h2 {
      @include a-fontMedium;
      text-align: center;
      align-self: center;

      i {
        margin-top: -4px;
      }
    }

    // Back button
    .a-stickyHelp-back {
      position: absolute;
      top: $spacer;
      left: $spacer;
      width: 30px;
      height: 30px;
      padding: 2px 0 $spacer / 2 0;
      margin-bottom: 0;
      cursor: pointer;
      background: $white;
      border: none;
      border-radius: 50%;

      &:hover {
        border: none;
        opacity: 0.7;
      }

      &:focus {
        background: $blue-light;
        border: none;
      }
    }
  }

  .a-stickyHelp-search {
    padding: $spacer $spacer 0 $spacer;
  }

  .a-page {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: transform 0.5s cubic-bezier(0.3, 1, 0.5, 1);

    &.a-next-page {
      transform: translate3d(100%, 0, 0);
    }

    &.a-current-page {
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }

    &.a-previous-page {
      transform: translate3d(-100%, 0, 0);
    }

    &+.a-page {
      margin-top: -400px;
    }
  }
}

.a-stickyHelp-content-target {
  overflow: hidden;
  background: $white;

  h2 {
    padding: $height42;
    padding-left: 52px;
    margin-bottom: 0;
  }

  .a-stickyHelp-questionList {
    li {
      border-bottom: 1px solid $grey-light;

      a {
        display: block;
        padding: $height42;
        padding-left: 52px;
        border: none;

        &:hover,
        &:focus,
        &:active {
          background: $grey-lighter;
        }

        &.a-stickyHelp-iconLeft {
          padding-left: 25px;
        }

        i {
          margin-top: -3px;
        }
      }

      &:first-child {
        border-top: 1px solid $grey-light;
      }
    }
  }

  .a-stickyHelp-footer {
    width: 100%;
    color: $black;

    a {
      @include a-fontMedium;
      display: block;
      padding: $height42;
      padding-left: 52px;
      border-bottom: 1px solid $grey-light;

      &:hover,
      &:focus,
      &:active {
        background: $grey-lighter;
      }

      &:first-child {
        border-top: 1px solid $grey-light;
      }

      &.a-stickyHelp-iconLeft {
        padding-left: 25px;
      }

      i {
        margin-top: -3px;
      }
    }
  }

  .a-stickyHelp-questionList + .a-stickyHelp-footer {
    a {
      &:first-child {
        border-top: none !important;
      }
    }
  }

  .a-circle-list {

    li {
      padding: $spacer $spacer $spacer 52px;
      margin-bottom: $spacer;
      border-bottom: 1px solid $grey-light;

      &::before {
        margin-right: 6px;
        margin-left: -41px;
      }

      &:first-child {
        border-top: 1px solid $grey-light;
      }

      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }
}
