
.a-tabs {
    float: left;
    width: 100%;
    .a-tab {
        margin-right: 36px;
    }

    .a-tab-btn {
        position: relative;
        cursor: pointer;
        display: inline-block;
        zoom: 1;
        color: #000;
        text-decoration: none;
        border-bottom: 2px solid transparent; 
        padding: 6px 0 6px 36px;
        margin-bottom: 36px;
    } 

    .a-tab-btn.active, 
    .a-tab-btn :focus.active, 
    .a-tab-btn :hover.active, 
    .a-tab-btn :active.active {
        border-bottom-color: #1eaef7;
    } 


    .a-tab-btn-icon { 
        position: absolute;
        left: 0;
        vertical-align: middle;
    }
}


