
// Popover (Yellow)
.popover {
  background-color: $yellow-light;
  border-radius: 0;
  box-shadow: none;
  border: none;
  box-shadow: $shadow2;
  .popover-arrow {
    border-right-color: rgba(0, 0, 0, 0.125);
    border-left-color: rgba(0, 0, 0, 0.125);
    &::after {
      border-right-color: $yellow-light;
      border-left-color: $yellow-light;
    }
  }
  &.bs-tether-element-attached-top {
    .popover-arrow {
      &.popover-arrow {
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: rgba(0, 0, 0, 0.0625);
        &::after {
          border-right-color: transparent;
          border-left-color: transparent;
          border-bottom-color: $yellow-light;
        }
      }
    }
  }
  .popover-left {
    left: 10px;
  }
  .popover-title {
    background-color: $yellow-light;
    border: none;
    border-radius: 0;
    padding-top: 12px;
  }
  .popover-content {
    padding: 0 12px 12px 12px;
  }
  // GREEN POPOVER
  &.popover-valid {
    background-color: $green-light;
    .popover-arrow {
      &.popover-arrow {
        &::after {
          border-right-color: $green-light;
          border-left-color: $green-light;
          //border-bottom-color: $green-light;
        }
      }
    }
    .popover-title {
      background-color: $green-light;
    }
    &.bs-tether-element-attached-top {
      .popover-arrow {
        &.popover-arrow {
          border-right-color: transparent;
          border-left-color: transparent;
          border-bottom-color: rgba(0, 0, 0, 0.0625);
          &::after {
            border-right-color: transparent;
            border-left-color: transparent;
            border-bottom-color: $green-light;
          }
        }
      }
    }
  }
  // RED POPOVER
  &.popover-warning {
    background-color: $red-light;
    .popover-arrow {
      &.popover-arrow {
        &::after {
          border-right-color: $red-light;
          border-left-color: $red-light;
          //border-bottom-color: $red-light;
        }
      }
    }
    .popover-title {
      background-color: $red-light;
    }
    &.bs-tether-element-attached-top {
      .popover-arrow {
        &.popover-arrow {
          border-right-color: transparent;
          border-left-color: transparent;
          border-bottom-color: rgba(0, 0, 0, 0.0625);
          &::after {
            border-right-color: transparent;
            border-left-color: transparent;
            border-bottom-color: $red-light;
          }
        }
      }
    }
  }

  // BIG POPOVER
  &.popover-big {
    background-color: $yellow-light;
    width: 100%;
    max-width: 100%;
    min-height: 80%;
    padding: 20px;
    h3,
    div.popover-content {
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;
    }
    &::before {
      display: none;
    }
    .popover-arrow {
      &.popover-arrow {
        border-bottom-color: transparent;
        // border-bottom-color: $white;
        border-top-width: 0px;
        border-bottom-width: 12px;
        border-left-width: 12px;
        border-right-width: 12px;
        top: -14px;
        margin-left: -12px;
        &::after {
          top: 3px;
          left: -1px;
          border-width: 11px;
          border-top-width: 0px;
          border-bottom-width: 11px;
          border-left-width: 11px;
          border-bottom-width: 11px;
        }
      }
    }
    .popover-title {
      background-color: $yellow-light;
    }
  }
  // Footnote popover
  &.footnote {
    background-color: $white;
    padding-top: $spacer;
    .popover-title {
      background-color: $white;
    }
    .popover-arrow {
      &.popover-arrow {
        &::after {
          border-right-color: $white;
          border-left-color: $white;
        }
      }
    }
    &.bs-tether-element-attached-top {
      .popover-arrow {
        &.popover-arrow {
          border-right-color: transparent;
          border-left-color: transparent;
          border-bottom-color: rgba(0, 0, 0, 0.0625);
          &::after {
            border-right-color: transparent;
            border-left-color: transparent;
            border-bottom-color: $white;
          }
        }
      }
    }
  }
}

body.a-bgWhite,
body.neutral {
  .popover {
    &.footnote {
      background-color: $grey-light;
      .popover-title {
        background-color: $grey-light;
      }
      .popover-arrow {
        border-left-color: rgba(0, 0, 0, 0.125);
        &.popover-arrow {
          &::after {
            border-right-color: $grey-light;
            border-left-color: $grey-light;
          }
        }
      }
      &.bs-tether-element-attached-top {
        .popover-arrow {
          &.popover-arrow {
            border-right-color: transparent;
            border-left-color: transparent;
            border-bottom-color: rgba(0, 0, 0, 0.0625);
            &::after {
              border-right-color: transparent;
              border-left-color: transparent;
              border-bottom-color: $grey-light;
            }
          }
        }
      }
    }
  }
}
