
// TOOLTIPS AND POPOVERS


// tooltips

.tooltip {
	&.a-tooltip {
		opacity: 1;
		.tooltip-inner {
			padding: 12px;
			background: $yellow-light;
			color: $black;
		}
		.tooltip-arrow {
			border-top-color: $yellow-light;

			&:after {
				border-top-color: $yellow-light;
			}
		}

		&.a-tooltip-valid {
			.tooltip-inner {
				background: $green-light;
			}
			.tooltip-arrow {
				border-top-color: $green-light;

				&:after {
					border-top-color: $green-light;
				}
			}
		}

		&.a-tooltip-warning {
			.tooltip-inner {
				background: $red-light;
			}
			.tooltip-arrow {
				border-top-color: $red-light;

				&:after {
					border-top-color: $red-light;
				}
			}
		}
	}
}

// Popover (Yellow)

.popover {
	background-color: $yellow-light;
	border: none;
	border-radius: 0;
	box-shadow: none;

	&.popover-bottom,
	&.bs-tether-element-attached-top {
		.popover-arrow {
			border-bottom-color: $yellow-light;
			&::after {
			  border-bottom-color: $yellow-light;
			}
		}
	}
	.popover-title {
		background-color: $yellow-light;
		border: none;
		border-radius: 0;
		padding-top: 12px;
	}

	.popover-content {
		padding: 0 12px 12px 12px;
	}

	// GREEN POPOVER
	&.popover-valid {
		background-color: $green-light;

		.popover-arrow {
			&.popover-arrow {
				border-bottom-color: $green-light;

				&::after {
				  border-bottom-color: $green-light;
				}
			}
		}
		.popover-title {
			background-color: $green-light;
		}
	}

	// RED POPOVER
	&.popover-warning {
		background-color: $red-light;

		.popover-arrow {
			&.popover-arrow {
				border-bottom-color: $red-light;

				&::after {
				  border-bottom-color: $red-light;
				}
			}
		}
		.popover-title {
			background-color: $red-light;
		}
	}



}
