
// Popover (Yellow)
.popover {
  background-color: $yellow-light;
  border: none;
  border-radius: 0;
  box-shadow: $shadow2;

  &::before {
    border-right-color: $black-opacity-01;
    border-left-color: $black-opacity-01;
  }

  &::after {
    border-right-color: $yellow-light;
    border-left-color: $yellow-light;
  }

  &.bs-tether-element-attached-top {
    .popover-arrow {
      &.popover-arrow {
        border-right-color: transparent;
        border-bottom-color: $black-opacity-01;
        border-left-color: transparent;
      }
    }

    &::before {
      top: -10px;
      border-right-color: transparent;
      border-bottom-color: $black-opacity-005;
      border-left-color: transparent;
    }

    &::after {
      top: -9px;
      border-right-color: transparent;
      border-bottom-color: $yellow-light;
      border-left-color: transparent;
    }
  }

  &.bs-tether-element-attached-left,
  &.bs-tether-element-attached-right {
    &::after {
      border-right-color: $yellow-light;
    }

    &::before {
      border-right-color: $black-opacity-01;
    }
  }

  .popover-left {
    left: 10px;
  }

  .popover-title {
    padding-top: $spacer;

    background-color: $yellow-light;
    border: none;
    border-radius: 0;
  }

  .popover-content {
    padding: 0 $spacer $spacer $spacer;
    @include media-breakpoint-down( sm ) {
      width: 200px;
    }
  }

  // GREEN POPOVER
  &.popover-valid {
    background-color: $green-light;

    &::before {
      border-right-color: $black-opacity-01;
      border-left-color: $black-opacity-01;
    }

    &::after {
      border-right-color: $green-light;
      border-left-color: $green-light;
    }

    .popover-title {
      background-color: $green-light;
    }

    &.bs-tether-element-attached-top {
      .popover-arrow {
        &.popover-arrow {
          border-right-color: transparent;
          border-bottom-color: $black-opacity-01;
          border-left-color: transparent;

        }
      }

      &::before {
        top: -10px;
        border-right-color: transparent;
        border-bottom-color: $black-opacity-005;
        border-left-color: transparent;
      }

      &::after {
        top: -9px;
        border-right-color: transparent;
        border-bottom-color: $green-light;
        border-left-color: transparent;
      }
    }
  }

  // RED POPOVER
  &.popover-warning {
    background-color: $red-light;

    &::before {
      border-right-color: $black-opacity-01;
      border-left-color: $black-opacity-01;
    }

    &::after {
      border-right-color: $red-light;
      border-left-color: $red-light;
    }

    .popover-title {
      background-color: $red-light;
    }

    &.bs-tether-element-attached-top {
      .popover-arrow {
        &.popover-arrow {
          border-right-color: transparent;
          border-bottom-color: $black-opacity-01;
          border-left-color: transparent;

        }
      }

      &::before {
        top: -10px;
        border-right-color: transparent;
        border-bottom-color: $black-opacity-005;
        border-left-color: transparent;
      }

      &::after {
        top: -9px;
        border-right-color: transparent;
        border-bottom-color: $red-light;
        border-left-color: transparent;
      }
    }
  }

  // BIG POPOVER
  &.popover-big {
    width: 100%;
    max-width: 100%;
    min-height: 80%;
    padding: 20px;

    background-color: $yellow-light;

    h3,
    div {
      &.popover-content {
        max-width: 768px;
        margin-right: auto;
        margin-left: auto;
      }
    }

    &::before {
      display: none;
    }

    // .popover-arrow {
    //   &.popover-arrow {
    //     top: -14px;
    //     margin-left: -$spacer;
    //     border-top-width: 0;
    //     border-right-width: $spacer;
    //
    //     border-bottom-color: transparent;
    //     border-bottom-width: $spacer;
    //     border-left-width: $spacer;
    //
    //     &::after {
    //       top: 3px;
    //       left: -1px;
    //       border-width: 11px;
    //       border-top-width: 0;
    //       border-bottom-width: 11px;
    //       border-left-width: 11px;
    //     }
    //   }
    // }

    .popover-title {
      background-color: $yellow-light;
    }
  }

  // Footnote popover
  &.footnote {
    padding-top: $spacer;
    background-color: $grey-light;

    &::before {
      border-right-color: $black-opacity-01;
      border-left-color: $black-opacity-01;
    }

    &::after {
      border-right-color: $white;
      border-left-color: $white;
    }

    .popover-title {
      background-color: $grey-light;
    }

    &.bs-tether-element-attached-top {
      .popover-arrow {
        &.popover-arrow {
          border-right-color: transparent;
          border-bottom-color: $black-opacity-01;
          border-left-color: transparent;

        }
      }

      &::before {
        top: -10px;
        border-right-color: transparent;
        border-bottom-color: $black-opacity-005;
        border-left-color: transparent;
      }

      &::after {
        top: -9px;
        border-right-color: transparent;
        border-bottom-color: $grey-light;
        border-left-color: transparent;
      }
    }
  }
}
