<!-- Side nav -->
{{> molecules-leftside-nav }}

<!-- Content next to nav, needs to be pushed 300px -->
<div class="ap-navbarLeft-contentContainer">

	<!-- Content, max-width: 900px;  margin: auto; -->
	<div class="ap-content">

		<!-- Article content starts here -->
		<div class="a-text">

			<h1>Bildearkiv</h1>
			<p class="a-leadText">Her får du en oversikt over alle bilder som kan brukes i forbindelse med innholdspublisering på altinn.no</p><br><br>

		</div> <!--end .a-text-->

	</div> <!--end .ap-content-->

</div> <!--end .ap-navbarLeft-contentContainer -->
