<!-- altinn TableList -->

<div class="a-panel">

    <table class="table a-tableList search-resultlist">

        <tbody>
            
            <!-- table header -->
            <tr class="a-table-header">
                <th>
                    <div class="a-tableList-text-container">
                        <h3 class="a-table-header-title">Skjema</h3>
                    </div>

                    <div class="a-tableList-right-text-container-lg">
                            <h3 class="a-table-header-title">Etat</h3>
                    </div>

                </th>
            </tr>
            

            <!-- standard table row -->
            <tr>
                <td onclick="">
                    <div class="a-tableList-text-container">
                        RF-1294 Realisasjon av/fra landbrukseiendom 2015
                    </div>

                    <div class="a-tableList-right-text-container-lg">
                        Skattedirektoratet
                    </div>
                </td>
            </tr>

            <!-- standard table row with more text in second col-->
            <tr>
                <td onclick="">

                    <div class="a-tableList-text-container">
                        RF-1294 Realisasjon av/fra landbrukseiendom 2014
                    </div>

                    <div class="a-tableList-right-text-container-lg">
                        Med mye tekst lorem ipsum dolor sit amet consectetur adipisicing elit
                    </div>

                </td>
            </tr>


            <!-- Item --> 
            <tr class="a-tableList-noAction">
                <td id="" onclick="" onkeypress="">
                    <div class="a-tableList-text-container">
                        Lønn og personalmedarbeider 
                    </div>
                    <div class="a-tableList-icon-container">
                        <a href="javascript:;" aria-label="Detaljer" tabindex="0" class="a-tableList-helpIcon" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">
                          <i class="material-icons a-tableList-icon">help</i>
                        </a>
                            
                    </div>
                </td>
            </tr>
            

            <!-- deactivated item --> 
            <tr class="a-tableList-deactivated">
                <td id="" onclick="" onkeypress="">
                    <div class="a-tableList-text-container">
                        Nestleder 
                    </div>
                    <div class="a-tableList-icon-container-lg">
                        <span class="a-tableList-attentionLabel">Fra Enhetsregisteret</span>
                        <a href="javascript:;" aria-label="Detaljer" tabindex="0" class="a-tableList-helpIcon" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">
                          <i class="material-icons a-tableList-icon">help</i>
                        </a>
                            
                    </div>
                </td>
            </tr>

            <!-- deactivated item - Level 2 --> 
            <tr class="a-tableList-deactivated">
                <td id="0" onclick="" onkeypress="">
                    <div class="a-tableList-text-container">
                        <span>-</span>
                        Energi, miljø og klima 
                    </div>
                    <div class="a-tableList-icon-container">

                        <a href="javascript:;" aria-label="Detaljer" tabindex="0" class="a-tableList-helpIcon" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">
                          <i class="material-icons a-tableList-icon">help</i>
                        </a>

                    </div>
                </td>
            </tr>

            <!-- deactivated item - Level 2 (no help) --> 
            <tr class="a-tableList-deactivated">
                <td id="0" onclick="" onkeypress="">
                    <div class="a-tableList-text-container">
                        <span>-</span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                    </div>
                </td>
            </tr>
            

            <!-- Nothing exist -->
            <tr class="a-tableList-noAction">
                <td>
                    <div class="a-tableList-text-container"><i>Ingen enkelttjenester lagt til</i></div>
                </td>
            </tr>
            

            <!-- Role you can add -->
            <tr class="a-tableList-addible">
                <td id="addible_1">
                    
                    <!-- Add this item -->
                    <div class="a-tableList-text-container" tabindex="0" onclick="" onkeypress="">
                          <i class="material-icons a-tableList-icon a-tableList-iconAdd">add_circle</i>
                          <span class="sr-only">Legg til</span>
                          Begrenset signeringsrettighet 
                    </div>
                    
                    <!-- View help info for this item -->
                    <div class="a-tableList-icon-container">
                        <a href="javascript:;" aria-label="Detaljer" tabindex="0" class="a-tableList-helpIcon" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">
                          <i class="material-icons a-tableList-icon">help</i> 
                        </a> 
                    </div>

                </td>
            </tr>
            

            <!-- Role is added (You can undo) -->
            <tr class="a-tableList-added">
                <td id="added_4" tabindex="0" onclick="" onkeypress="">

                    <div class="a-tableList-text-container">
                        Tilgangsstyring
                    </div>

                    <div class="a-tableList-icon-container">
                        Angre <i class="material-icons a-tableList-icon a-tableList-iconUndo">history</i> 
                    </div>
                </td>
            </tr>
            
            <!-- Delete role -->
            <tr class="a-tableList-deletable">
                <td id="" tabindex="0" onclick="" onkeypress="">
                    <div class="a-tableList-text-container">
                        Lønn og personalmedarbeider 
                    </div>
                    <div class="a-tableList-icon-container">
                            Fjern <i class="material-icons a-tableList-icon a-tableList-iconRemove">remove_circle</i> 
                    </div>
                </td>

            </tr>

             <!-- Deleted role (You can undo) --> 
             <tr class="a-tableList-deleted">
                <td id="" tabindex="0" onclick="" onkeypress="">
                    <div class="a-tableList-text-container a-tableList-textCheckedForDeletion">
                        Lønn og personalmedarbeider 
                    </div>
                    <div class="a-tableList-icon-container">
                        Angre <i class="material-icons a-tableList-icon">history</i> 
                    </div>
                </td>
            </tr>

            <!-- Create a new role-->
            <tr class="a-tableList-custom-createNew">
                <td>
                    <div id="" class="a-tableList-text-container" onclick="" role="tab" data-toggle="" data-target="" aria-expanded="" aria-controls="">
                        <a class="no-decoration din-bold" href="javascript:;" onclick="">
                            + Legg til ny rolle
                        </a>
                    </div>
                </td>
            </tr>

            <!-- See the new role you created -->
            <tr class="a-tableList-added">
                <td>
                    <div class="a-tableList-text-container">A01 a-melding</div>
                    <div class="a-tableList-icon-container-lg">

                        <!-- Read -->
                        <i class="material-icons a-tableList-icon a-tableList-iconRights" alt="Les" title="Les">&#xE417;</i>
                        <span class="sr-only">Kan lese</span>
                        <!-- Fill in -->
                        <i class="material-icons a-tableList-icon a-tableList-iconRights" alt="Fyll ut" title="Fyll ut">&#xE22B;</i>   
                        <span class="sr-only">Kan fylle ut</span>    

                        <!-- Sign -->
                         <i class="material-icons a-tableList-icon a-tableList-iconRights" alt="Signer" title="Signer">&#xE8DC;</i>
                        <span class="sr-only">Kan signere</span>    
                        
                        <i class="material-icons a-tableList-icon a-tableList-iconRemove" tabindex="0" onclick="" onkeypress="">remove_circle</i>

                    </div>

                </td>

            </tr>

            <!-- See the new role you created (you can add or edit) -->

            <tr class="a-tableList-custom-view">
                        <td id="">

                             <!-- Add this item -->
                            <div class="a-tableList-text-container" tabindex="0" onclick="" onkeypress="">
                                  <i class="material-icons a-tableList-icon a-tableList-iconAdd">add_circle</i>
                                  <span class="sr-only">Legg til</span>
                                  Ferievikar (egendefinert rolle)
                            </div>


                            <div class="a-tableList-icon-container-lg">

                                    <!-- Edit this custom item -->
                                    <div class="a-tableList-attentionLabel">
                                      <div class="a-tableList-iconEdit" tabindex="0" onclick="" onkeypress="">
                                        <i class="material-icons a-tableList-icon" alt="Rediger" title="Rediger">mode_edit</i> Rediger 
                                      </div>
                                    </div>

                                    <!-- View help info for this item -->
                                    <a href="javascript:;" aria-label="Detaljer" tabindex="0" class="a-tableList-helpIcon" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">
                                      <i class="material-icons a-tableList-icon">help</i> 
                                    </a> 
                            </div>

                        </td>
                    </tr>

        </tbody>

    </table>

</div>