<!-- START: 02-organismer-20-forms-30-skjema-adresse -->
<form data-toggle="validator" role="form" action="{{{url}}}" class="form-inline a-form-inline {{ styleModifier }}">
  <div class="clearfix d-block mb-2">
    {{# text-input-adress }} {{> atomer-tekst-input }} {{/ text-input-adress }} {{# text-input-postalcode }} {{> atomer-tekst-input }} {{/ text-input-postalcode }}
  </div>

  {{# adress-submit }} {{> atomer-knapp }} {{/ adress-submit }}
</form>

<!-- END: 02-organismer-20-forms-30-skjema-adresse -->