<form data-toggle="validator" role="form" action="{{{url}}}" class="form-inline a-form-inline {{ styleModifier }}">

  <span class="clearfix d-block m-b-2">

    {{# text-input-adress }}
      {{> atomer-tekst-input }}
    {{/ text-input-adress }}

    {{# text-input-postalcode }}
      {{> atomer-tekst-input }}
    {{/ text-input-postalcode }}

  </span>

  <span class="clearfix d-block m-b-2">

    {{# checkbox-private }}
      {{> atomer-avkrysningsboks }}
    {{/ checkbox-private }}

  </span>

  {{# adress-submit }}
    {{> atomer-knapp }}
  {{/ adress-submit }}
</form>
