<!-- START: 02-organismer-80-Modal-js-innhold-21-dashboard-redigerUtgave-deaktiver -->
<div class="modal-content">
  <div class="modal-header a-modal-header">
    <div class="a-iconText a-iconText-background a-iconText-large">
      <h1 class="a-iconText-text mb-0 ml-2">
        <span class="a-iconText-text-small"></span>
        <span class="a-iconText-text-large">Deaktiver tjenesten </span>
      </h1>
    </div>
  </div>
  <div class="modal-body a-modal-body">

    <form data-toggle="validator" id="editServiceEdition-role">
      <div class="row">
        <div class="col-12">

          Hvilke felt trenger vi for å deaktivere tjenesten?

        </div>
      </div>
    </form>

    {{# submit}} {{> atomer-knapp:mb-2 }} {{/ submit}}

  </div>

  <!-- END: 02-organismer-80-Modal-js-innhold-21-dashboard-redigerUtgave-deaktiver -->