<!-- START: 04-sider-altinnett-01-dashboard-tjenesteeier-00-dashboard-tjenesteeier-beomtilgang -->
{{> maler-altinnett-dashboard-tjenesteeier-beomtilgang }}
<!-- END: 04-sider-altinnett-01-dashboard-tjenesteeier-00-dashboard-tjenesteeier-beomtilgang -->