<!-- START: 01-molekyler-04-grupper-02-midtstilte-valgknapper-med-tekst JS doc: addRightsTableHandler.js for prototype only -->
<div {{# content-id }} id="{{ content-id }}" {{/ content-id }}>
  <div class="a-list-content">
    <div class="row">
      {{# sortable-action-text }}
      <div class="col ml-0 ml-md-7">
        {{ sortable-action-text }}
      </div>
      {{/ sortable-action-text }} {{# sortable-action-link }}
      <div class="col-12 col-sm-auto pr-1 pr-md-4 mt-1 mt-md-0">
        {{> atomer-knapp-ikon-tekst }}
      </div>
      {{/ sortable-action-link }}
    </div>

    <div class="text-sm-center mt-1">
      {{# sortable-action-items }} {{> atomer-valgknapp}} {{/ sortable-action-items }}
    </div>

    {{# delegation-email-text }}
    <div class="row">
      <div class="col-12 mb-1 ml-md-7 mt-3">
        <span class="ml-0 a-fontBold">
            {{{ delegation-email-text }}}
          </span>
      </div>
    </div>
    {{/ delegation-email-text }} {{# delegation-email-field }}
    <div class="row">
      <div class="col-12 col-md-8 col-xl-6 mb-1 ml-md-7">
        {{> atomer-tekst-input }}
      </div>
    </div>
    {{/ delegation-email-field }}

  </div>

  {{> molekyler-ferdigsegment:a-list-fullWidthRow }}
</div>
<!-- END: 01-molekyler-04-grupper-02-midtstilte-valgknapper-med-tekst -->