{{#form-abonner}}
<form data-toggle="validator" class="a-js-subscribe" data-disable="true" id="subscribtion">
  <div class="row">
    <div class="col-8">
      {{> felles-komponenter-tekst-input }}
    </div>
    <div class="col-4">
        {{> felles-komponenter-knapp }}
    </div>
  </div>
</form>
<p class="a-fontSizeXS a-js-finishText">{{{finish-text}}}</p>
<p class="a-fontSizeXS a-js-altText">{{alt-text}}</p>
{{/form-abonner}}
