<div class="a-sg-switch-dropdown">
    <span class="selLabel">Select project space</span>
    <input type="hidden" name="cd-dropdown">
    <ul class="a-sg-switch-dropdown-list">
        <li data-value="altinn">
            <span id="project-altinn" class="project-name">Altinn Designsystem</span>
        </li>
        <li data-value="brreg">
            <span id="project-brreg" class="project-name">BRREG Designsystem</span>
        </li>
        <li data-value="altinnett">
            <span id="project-altinnett" class="project-name">altinNETT Designsystem</span>
        </li>
    </ul>
</div>
