<a href="mailto:{{{ mail-adress }}}" class="a-linkIcon {{ styleModifier }}">
  {{> felles-komponenter-ikon }}
  <span class="sr-only">Send mail til {{{ mail-adress }}}</span>
  <span class="a-linkIcon-text">{{{ mail-text }}}</span>
</a>
