<!-- START: 02-organismer-_49-ekspanderbart-panel-innhold-50-datasystemer -->
<div class="row">
  <div class="col mb-2">
    <h3>
      {{ computersystem-heading }}
    </h3>
    <div class="my-2">
      {{# computersystem-edit-message }} {{> atomer-varsel }} {{/ computersystem-edit-message}}
    </div>
    <p class="a-fontSizeXS mb-1">
      {{ computersystem-text }}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-5">
    {{# computersystem-name }} {{> atomer-tekst-input }} {{/ computersystem-name }}
  </div>
  <div class="col-12 col-md-5">
    <div {{# computersystem-description-id }}id="{{ computersystem-description-id }}" {{/ computersystem-description-id }} class="{{ computersystem-list-heading-class }}">{{ computersystem-list-heading }}</div>
    {{# computersystem-list }} {{> atomer-flervalg-stilisert }} {{/ computersystem-list }}
  </div>
  <div class="col-12 col-md-9 mb-2">
    {{# computersystem-name-message }} {{> atomer-varsel:mt-0 }} {{/ computersystem-name-message}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-5">
    {{# computersystem-password }} {{> atomer-tekst-input }} {{/ computersystem-password }}
  </div>
  <div class="col-12 col-md-5">
    {{# computersystem-repeat-password }} {{> atomer-tekst-input }} {{/ computersystem-repeat-password }}
  </div>
</div>
<div class="row">
  <div class="col mt-1">
    {{# computersystem-add-button }} {{> atomer-knapp }} {{/ computersystem-add-button }}
  </div>
</div>
{{# computersystem-added-list }}
<div class="row">
  <div clasS="col mt-2">
    {{> molekyler-liste-unummerert }}
  </div>
</div>
{{/ computersystem-added-list }} {{# computersystem-ID-message }}
<div class="row">
  <div class="col-12 col-md-9">
    {{> atomer-varsel }}
  </div>
</div>
{{/ computersystem-ID-message}}

<!-- END: 02-organismer-_49-ekspanderbart-panel-innhold-50-datasystemer -->