<!-- START: 04-sider-infoportal-30-artikkel-12-artikkel-v-ikke-mvapliktig -->
{{> maler-infoportal-artikkel-v-ikke-mvaplikti }}

<!-- END: 04-sider-infoportal-30-artikkel-12-artikkel-v-ikke-mvapliktig -->