
<div class="page" id="page">

		{{> organisms-header }}


		<div class="jumbotron jumbotron-fluid a-jumbotron-header">
		  <div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-10 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3">
						<p>
							<span class="a-jumbotron-title">Hei Jan, et lite tips til dere næringsdrivende:</span>
							Send inn næringsoppgaven i tide og bruk ferien til å dykke i noe annet enn regnskapet
						</p>
						{{> atoms-button-border(button-text: "Næringsoppgave 1") }}
					</div>
				</div>

		  </div>
		</div>

		<div class="container">

		<div class="row">
			<div class="col-sm-6 col-lg-offset-3">
				Her kommer innhold
			</div>
		</div> 



		{{> organisms-footer }}

	</div>



</div>
