
<div class="page" id="page">

		{{> organisms-header }}

		<div class="container">

			<div class="row">
				<div class="col-sm-6 col-lg-offset-3 a-padding-x3">
					{{> atoms-search-large(search-label: "Søk etter skjema") }}
				</div>
			</div>

			<div class="row a-filter-container">
				<div class="col-sm-12 col-md-4">
					<span class="a-textSize2"><span class="din-bold">1287</span> skjemaer</span>
				</div>
				<div class="col-sm-12 col-md-8">
					<div class="a-filter">

					  <div class="a-btn-group" id="filterSkjema">

									{{> atoms-collapse-filter(collapse-filter-text: "Alle typer skjema", collapse-filter-id: "#filter-type") }}

									{{> atoms-collapse-filter(collapse-filter-text: "Alle etater", collapse-filter-id: "#filter-etat") }}

									{{> atoms-collapse-filter(collapse-filter-text: "Alle frister", collapse-filter-id: "#filter-frist") }}

					  </div><!-- /btn-group -->

					</div>

				</div>
			</div>

			<div class="row a-filter-container">
				<div id="filter-type" class="a-collapseContent collapse" role="tabpanel" aria-expanded="true">
			    {{> atoms-checkbuttons(checkbuttons: [ {"checkbuttons-title" : " Første type", "checkbuttons-id" : "checkbutton-type1"}, {"checkbuttons-title" : "Andre type","checkbuttons-id" : "checkbutton-type2"}, {"checkbuttons-title" : " Tredje type","checkbuttons-id" : "checkbutton-type3"}, {"checkbuttons-title" : "Fjerde type","checkbuttons-id" : "checkbutton-type4"} ]) }}
			  </div>

				<div id="filter-etat" class="a-collapseContent collapse" role="tabpanel" aria-expanded="true">
			    {{> atoms-checkbuttons(checkbuttons: [ {"checkbuttons-title" : " Folkehelseinstituttet", "checkbuttons-id" : "checkbutton-etat1"}, {"checkbuttons-title" : "Landbruksdirektoratet","checkbuttons-id" : "checkbutton-etat2"}, {"checkbuttons-title" : "Skatteetaten","checkbuttons-id" : "checkbutton-etat3"}, {"checkbuttons-title" : "Mattilsynet","checkbuttons-id" : "checkbutton-etat4"}, {"checkbuttons-title" : "Petroleumstilsynet","checkbuttons-id" : "checkbutton-etat5"}, {"checkbuttons-title" : "Utenriksdept.","checkbuttons-id" : "checkbutton-etat6"}, {"checkbuttons-title" : "Finanstilsynet","checkbuttons-id" : "checkbutton-etat7"}, {"checkbuttons-title" : "Statens strålevern","checkbuttons-id" : "checkbutton-etat8"}, {"checkbuttons-title" : "Politiet","checkbuttons-id" : "checkbutton-etat9"}, {"checkbuttons-title" : " Tolldirektoratet","checkbuttons-id" : "checkbutton-etat10"} ]) }}
			  </div>

				<div id="filter-frist" class="a-collapseContent collapse" role="tabpanel" aria-expanded="true">
			    {{> atoms-checkbuttons(checkbuttons: [ {"checkbuttons-title" : "Månedlig", "checkbuttons-id" : "checkbutton-frist1"}, {"checkbuttons-title" : "Kvartalsvis","checkbuttons-id" : "checkbutton-frist2"}, {"checkbuttons-title" : "Årlig","checkbuttons-id" : "checkbutton-frist3"} ]) }}
			  </div>
			</div>

			<div class="a-colnav-container">

				<div class="row">
					<div class="col-sm-12 col-md-6">
						{{> molecules-colnav }}
					</div>
					<div class="col-sm-6 col-md-4 col-md-offset-1">
						<h2 class="a-paddingTop-x5">Forslag til deg:</h2>
						{{> atoms-itemlist-ordered }}
					</div>
				</div>

			</div>


		{{> organisms-footer }}

	</div>



</div>
