
<div class="page" id="page">

		{{> organisms-header }}

		<div class="container">

			<div class="row">
				<div class="col-sm-6 col-lg-offset-3 a-padding-x3">
					{{> atoms-search-large }}
				</div>
			</div>

			<div class="row a-filter-container">
				<div class="col-sm-3">
					<span class="a-textSize2"><span class="din-bold">1287</span> skjemaer</span>
				</div>
				<div class="col-sm-9">
					<div class="a-filter">

					  <div class="btn-group">
					    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Alle typer skjema</button>
					    <div class="dropdown-menu">
					      <a class="dropdown-item" href="#">Action</a>
					      <a class="dropdown-item" href="#">Another action</a>
					      <a class="dropdown-item" href="#">Something else here</a>
					      <div class="dropdown-divider"></div>
					      <a class="dropdown-item" href="#">Separated link</a>
					    </div>
					  </div><!-- /btn-group -->
					  <div class="btn-group">
					    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Alle etater</button>
					    <div class="dropdown-menu">
					      <a class="dropdown-item" href="#">Action</a>
					      <a class="dropdown-item" href="#">Another action</a>
					      <a class="dropdown-item" href="#">Something else here</a>
					      <div class="dropdown-divider"></div>
					      <a class="dropdown-item" href="#">Separated link</a>
					    </div>
					  </div><!-- /btn-group -->
					  <div class="btn-group">
					    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Alle frister</button>
					    <div class="dropdown-menu">
					      <a class="dropdown-item" href="#">Action</a>
					      <a class="dropdown-item" href="#">Another action</a>
					      <a class="dropdown-item" href="#">Something else here</a>
					      <div class="dropdown-divider"></div>
					      <a class="dropdown-item" href="#">Separated link</a>
					    </div>
					  </div><!-- /btn-group -->
					</div>

				</div>
			</div>

			<div class="a-colnav-container">


				<div class="row">
					<div class="col-sm-6">
						{{> molecules-colnav }}
					</div>
					<div class="col-sm-4 col-sm-offset-1">
						<h2 class="a-paddingTop-x5">Forslag til deg:</h2>
						{{> atoms-itemlist }}
					</div>
				</div>

			</div>


		{{> organisms-footer }}

	</div>



</div>
