<!-- START: 02-organismer-30-seksjoner-40-innboks-ingen-treff -->
{{# no-search-result-inbox }}
<div class="a-message a-message-info a-message--arrow-off a-message--no-dropshadow pb-5 pt-1 mb-4 px-1 px-md-8">
  <div class="row">
    <div class="col-12">
      <h2 class="a-fontSizeL a-fontBold a-blueDarkerText mt-0 mt-md-3 mb-0">{{ no-search-result-inbox-heading }}</h2>
      <h3 class="mb-2 mt-2 a-fontReg">{{ no-search-result-inbox-list-title }}</h3>
      {{> atomer-liste-nummerert:a-fontBold|a-number-list--extra-air }}
      <p class="mt-1">{{ no-search-result-inbox-undertext }}{{> atomer-link }}</p>
    </div>
  </div>
  {{/ no-search-result-inbox }}

  <!-- END: 02-organismer-30-seksjoner-40-innboks-ingen-treff -->