<!-- START: 03-maler-infoportal-30-artikkel-_16-artikkel-v-regnskap -->
<div class="a-page">
  {{> organismer-header }}

  <section id="content" tabindex="-1">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
          {{# articlestart }} {{> organismer-artikkel-start }} {{/ articlestart }}
        </div>
      </div>

      {{# firstpart }}
      <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg pt-2 pt-lg-3">

          <p>Du vil finne en oversikt over hvilke plikter selskapet ditt har ved å søke på dette i <a href="#" class="a-linkArea">Oppgaveregisteret</a>.</p>

          {{> atomer-seksjonstittel(section-title: "Føring av regnskapet") }}

          <p>Bokføringen er stort sett grunnlaget for all rapportering til myndighetene. Det er selve føringen av bilagene. Regnskapet brukes blant annet som grunnlag for både utfylling av næringsoppgave til skatteetaten og levering av årsregnskap til Brønnøysundregistrene.</p>

          <p>Du kan føre ditt eget regnskap, men har du ikke kjennskap til regelverket kan du vurdere å få en regnskapsfører til å føre regnskapet for deg. Eventuelt få en regnskapsfører til å hjelpe deg i en startfase.</p>

          <p>I Norge er regnskapsregelverket delt i to. Et foretak er enten kun bokføringspliktig, eller bokførings- og regnskapspliktig.</p>

          <p>De fleste enkeltpersonforetak er kun bokføringspliktig. Alle aksjeselskaper er i tillegg regnskapspliktig. Helt forenklet betyr det at de som er regnskapspliktige må sende inn et årsregnskap til Regnskapsregisteret, i tillegg til skattemelding
            og næringsoppgave til Skatteetaten.</p>

          {{> atomer-seksjonstittel(section-title: "Ikke bland foretakets økonomi med privat økonomi") }}

          <p>Det kan være både kostbart og tidkrevende å rydde opp i en økonomi der foretakets økonomi og privatøkonomien er blandet sammen. Et systematisk skille er viktig i det daglige arbeidet. </p>

          <p>Opprett egen bankkonto for foretaket. Betale alle utgifter i næringen med midler fra foretaket. </p>

          {{> atomer-seksjonstittel(section-title: "Regnskapssystem") }}

          <p>Noe av det første du må ta stilling til er hvilket regnskapssystem du skal bruke. Det er krav om at et regnskapssystem må være systematisk og oversiktlig. Det skal bl.a. være bygd opp på en måte som gjør at du kan kjøre ut rapporter som du er
            pliktig til å sende til myndighetene.</p>

          <p>For et par hundrelapper i måneden får du i dag tilgang til gode web-baserte regnskapsprogrammer med mye innebygget hjelp og automatiserte føringer. Mange systemer bygges opp rundt ulike moduler, slik at du ikke betaler for mer enn du trenger.
            Har du ingen ansatte trenger du f.eks. ikke funksjoner for å kunne kjøre lønn. Søk på nettet og ta gjerne kontakt med ulike leverandører før du bestemmer deg. </p>

          <p>Har du under 600 bilag i året har du lov til å bruke et regneark til bokføringen. Bruk av et manuelt regneark stiller imidlertid mye større krav til kunnskap om hvordan bokføringen skal gjøres, og det er mye lettere å gjøre feil. Norsk Regnskapsstiftelse
            har utarbeidet en standard som omhandler bruk av tekstbehandlings- og regnskapsprogrammer i bokføringen (<a href="" class="a-linkArea">NBS 6</a>). Vi anbefaler deg å sette deg inn i denne før du ev velger å føre regnskapet i et regneark.</p>

          {{> atomer-seksjonstittel(section-title: "Systematisering av bilag") }}

          <p>Du må ha et system for å oppbevare og ta vare på bilagene. For de aller fleste små selskap er det greit å systematisere bilagene i en perm med skillekort for å skille ut ulike bilagstyper. </p>

          <h2 class="a-h3">Eksempel på bilagstyper:</h2>

          {{# list1 }} {{> atomer-liste-unummerert-kuler }} {{/ list1 }}

          <p>Gjør det til en vane å sortere bilagene så snart du får dem. På den måten har du kontroll og oversikt slik at det blir enkelt å bokføre når du skal gjøre det. Husk også at bilagene er verdipapirer for deg. En faktura for et kjøp du har gjort
            i tilknytning til bedriften er med på å redusere skattegrunnlaget til bedriften, og dermed reduserer det du må betale i skatt.</p>

          <p>Har du valgt å ha en ekstern regnskapsfører er det enklere og mindre tidkrevende å føre regnskapet når bilagene er ordentlig systematisert. Dette vil redusere prisen du må betale for tjenesten.</p>

          {{> atomer-seksjonstittel(section-title: "Sender du faktura eller betaler kunden kontant?") }}

          <p>Det stilles strenge krav til salgsdokumentasjonen. Det er derfor viktig å avklare tidlig hva ditt behov er slik at du er klar til å sende faktura eller ta imot kontant betaling så snart du starter opp aktiviteten. Det stilles ulike krav til
            dokumentasjon om du skal selge kontant eller om du selger på kreditt (sender faktura).</p>

          {{> atomer-undertittel(section-sub-title: "Kontantsalg") }}

          <p>Selger du kontant må du ha et kassaapparat eller et program som tilfredsstiller kravene i bokføringsreglene. Kontantsalg er definert som salg der kjøperen betaler for varen når den mottas. Dette gjelder både når betalingen skjer i form av kontanter,
            bankkort eller ulike betalingsløsninger med mobilapplikasjoner (Vipps, mCash e.l.).</p>


          {{> atomer-undertittel(section-sub-title: "Faktura") }}

          <p>Selger du på kreditt er det klare krav til hva som kreves av informasjon på en faktura. Det er blant annet krav om at en faktura skal ha et fakturanummer som tildeles automatisk i et program. Alternativ må du få trykt opp blanketter på et trykkeri
            som inneholder fakturanummer og ditt navn og organisasjonsnummer.</p>

          {{> atomer-undertittel(section-sub-title: "Når kunden ikke betaler") }}

          <p>Det er viktig å ha gode rutiner for å følge opp kunder som er sen å betale. Jo tidligere du er ute med å purre, jo større er sjansen for å få inn betaling fra kunden. Det er viktig at du følger de formelle reglene ved purring og inkasso for
            at kravet skal være gjeldende. Ønsker du for eksempel å kreve inn purregebyr kan du tidligst gjøre dette 14 dager etter forfall.</p>

          {{> atomer-seksjonstittel(section-title: "MVA-rapportering") }}

          <p>Er du mva-pliktig skal du levere mva-melding til myndighetene hver annen måned (terminvis). Har du omsetning under 1 million kr kan du søke om å levere mva-melding en gang i året.</p>


          <h2 class="a-h3">Frister du må forholde deg til:</h2>

          {{# list2 }} {{> atomer-liste-unummerert-sammenkoblet }} {{/ list2 }} {{> atomer-seksjonstittel(section-title: "Uttak til innehaver/eier") }}

          <p>For innehaver/eier er det ulike måter å ta ut midler fra selskapet på, avhengig av selskapsform.</p>

          <p>Har du et enkeltpersonforetak kan du selv bestemme hvor mye/lite du vil ta ut til eget forbruk. Du skatter av overskuddet i selskapet uansett.</p>

          <p>I et aksjeselskap tar du ut lønn til deg selv. Du behandler deg selv akkurat som en hvilken som helst annen ansatt. Du skal trekke skatt etter skattekortet ditt og beregne og betale arbeidsgiveravgift også av den lønnen du tar ut til deg selv.</p>


          {{> atomer-seksjonstittel(section-title: "Lønn") }}

          <p>For mange etablerere kommer den store omleggingen i regnskapsrutinene den dagen de ansetter noen. Det er et stort regelverk å forholde seg til i forbindelse med ansettelser og utbetaling av lønn. Mange velger da å sette regnskapet ut til en
            regnskapsfører, ev la regnskapsfører ta seg av bare lønnskjøringen.</p>

          {{> atomer-seksjonstittel(section-title: "Avskrivning") }}

          <p>Foretar du større investeringer i bedriften kan det være at disse skal avskrives over tid. Det er du som må gjøre vurderingen i forhold til om investeringen skal avskrives, eller om du kan fradragsføre investeringen i sin helhet med en gang.
            </p>

          <p>Når du avskriver en eiendel betyr det i praksis betyr det at du fradragsfører verdifallet på eiendelen etter hvert som den brukes og slites.</p>

          {{> atomer-seksjonstittel(section-title: "Avslutning av regnskapet") }}

          <p>Når regnskapsåret er over må du avslutte regnskapet. Før du avslutter må du sørge for å få med de kostnader og inntekter som skal være med i perioden. Har du kostnader og inntekter du ikke har fått med i regnskapet må du periodisere disse inn.
            Driver du varehandel må du foreta varetelling slik at varekostnaden for perioden blir rett.</p>

          <p>Du skal også dokumentere alle balanseposter av betydning. Det vil si at du skal kunne vise hva som ligger bak hver enkel saldo i balanseregnskapet ditt. F.eks. at saldo på kontoutskriften fra banken stemmer med saldoen som regnskapet viser.</p>

          {{> atomer-seksjonstittel(section-title: "Skattemelding") }}

          <p>Alle næringsdrivende som er skattepliktig må sende inn skattemelding. Personlig næringsdrivende og deltakere i ansvarlige selskap sender inn «Selvangivelse for næringsdrivende» (RF-1030). Aksjeselskaper, samvirkeforetak og andre upersonlige
            skattytere skal sende inn «Selvangivelse for aksjeselskap mv» (RF-1028).</p>

          {{> atomer-seksjonstittel(section-title: "Årsregnskapet") }}

          <p>I tillegg til å sende inn skattemelding til Skatteetaten må alle som er regnskapspliktige også sende inn årsregnskap til Regnskapsregisteret. Siste frist for innsending er 31. juli for bedrifter som avslutter regnskapet pr. 31.12.</p>

          {{> atomer-seksjonstittel(section-title: "Må jeg har revisor?") }}

          <p>I utgangspunktet har alle regnskapspliktige selskaper med over 5 millioner kroner i omsetning plikt til å ha revisor. Det finnes imidlertid en del unntak. Små enkeltpersonforetak er normalt kun bokføringspliktig og trenger ikke ha revisor.</p>

          {{> atomer-seksjonstittel(section-title: "Ønsker du å lære mer?") }}

          <p>Skatteetaten arrangerer <a href="#" class="a-linkArea">kurs</a> tilpasset deg som nettopp har startet virksomhet. Kursene arrangeres over hele landet og er gratis. Følgende temaer tas blant annet opp på kursene: Regnskap, forskuddsskatt, selvangivelse,
            fradragsrett, merverdiavgift, mva-melding, elektronisk innlevering.</p>

        </div>
        <!-- END .col-... -->
      </div>
      <!-- END .row -->
      {{/ firstpart }}

      <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg my-2">

          {{> molekyler-fant-du-det-du-lette-etter }}

        </div>
        <!-- END .col-... -->
      </div>
      <!-- END .row -->

    </div>
    <!-- END Container -->

  </section>

  {{> organismer-footer }}
</div>

<!-- END: 03-maler-infoportal-30-artikkel-_16-artikkel-v-regnskap -->