<!-- START: 02-organismer-20-forms-60-skjema-beskrivelse -->
<form data-toggle="validator" role="form" action="{{{url}}}" class="{{ styleModifier }}">

  {{# input-description }} {{> atomer-tekstfelt:my-3 }} {{/ input-description }}

  <div class="a-btn-group mt-2">
    {{# button-submit }} {{> atomer-knapp }} {{/ button-submit }} {{# chooseCategory-findself }} {{> atomer-link }} {{/ chooseCategory-findself }}

  </div>

</form>

<!-- END: 02-organismer-20-forms-60-skjema-beskrivelse -->