<!-- START: 01-molekyler-01-kort-02-kort-hoved -->
<div class="a-card a-mainCard {{styleModifier}}">
  {{# main-card-content }} {{> molekyler-ikon-tittel }}
  <div class="a-mainCard-content">
    <b>{{ main-card-secondary-title }}</b>
    <p class="a-paragraphLarge">{{{ main-card-description }}}</p>
    {{#hasButton}}{{> atomer-knapp }} {{/hasButton}} {{#hasMaincardLink}}{{> atomer-link }}{{/hasMaincardLink}}
  </div>
  {{/ main-card-content }}
</div>

<!-- END: 01-molekyler-01-kort-02-kort-hoved -->