<!-- START: 01-molekyler-01-kort-01-kort -->
<div class="a-card {{a-card-filter}}">
  {{# card-content }}
  <h2 class="a-h3">{{>atomer-link}}<span> {{ card-code }}</span></h2>
  <p class="a-fontBold mb-0">{{ card-title }}</p>
  <p>{{ card-description }}</p>
  {{/ card-content }} {{# card-filter }} {{> atomer-ekspanderbar-tittel }}

  <div id="{{ collapse-header-contentID }}" class="a-collapseContent collapse {{# isVisible }}show{{/ isVisible}}" {{# role }} role="{{ role }}" {{/ role }}>
    <div class="text-sm-center pt-1">
      {{# filterable-items }} {{> atomer-valgknapp }} {{/ filterable-items }} {{#filter-infoText}}
      <span class="d-block pt-1">{{filter-infoText}}</span> {{/filter-infoText}}
    </div>
  </div>
  {{/ card-filter }}
</div>

<!-- END: 01-molekyler-01-kort-01-kort -->