<!-- START: 01-molekyler-00-tekst-01-person-privat -->
<div class="a-personRole">
  {{# user-icon }} {{> atomer-ikon }} {{/ user-icon }} {{# button-dot }}
  <span class="a-dot {{dot-color}}"></span> {{/ button-dot }}
  <div class="a-personRole-text">
    <span class="a-personRole-name">{{ myself-name }}</span> {{# label-number }}
    <span class="badge badge-primary a-label badge-pill">{{ myself-represent-number }}</span> {{/ label-number }}
    <span class="a-personRole-role">{{ myself-personal-number }}</span> {{# personrole-link }} {{> atomer-link }} {{/ personrole-link }}
  </div>
</div>

<!-- END: 01-molekyler-00-tekst-01-person-privat -->