<!-- START: 00-atomer-09-bilder-og-media-_22-sirkel-med-ikon -->
<div class="an-circleIcon {{modifierClass}} {{backgroundClass}}">
  {{#img-src}}
  <img class="an-circleIcon-image" src="{{img-src}}" alt="{{img-alt}}" /> {{/img-src}}
</div>
<!-- END: 00-atomer-09-bilder-og-media-_22-sirkel-med-ikon -->