<!-- START: 03-maler-infoportal-20-navigasjonssider-32-temaside -->
<div class="a-page">
  {{> organismer-header }}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
        {{# article-search }} {{> atomer-tekst-input }} {{/ article-search }}
      </div>
    </div>
  </div>

  <section id="content" tabindex="-1">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1 pb-3">
          <div class="pb-4">

            {{# article-breadcrumb }} {{> molekyler-smulesti }} {{/ article-breadcrumb }} {{> atomer-sidetittel }} {{# hasIntro}} {{> atomer-intro-tekst }} {{/ hasIntro}}
          </div>

          {{# firstlist }} {{> atomer-seksjonstittel:a-h3 }} {{> molekyler-liste-unummerert:a-list-2col|clearfix|mb-5 }} {{/ firstlist }} {{# second-list }} {{> atomer-seksjonstittel:a-h3 }} {{> molekyler-liste-unummerert:a-list-2col|clearfix|mb-5 }} {{/ second-list
          }} {{# first-linkTitle }} {{> molekyler-lenketittel-med-forklaring }} {{/ first-linkTitle }} {{# second-linkTitle }} {{> molekyler-lenketittel-med-forklaring }} {{/ second-linkTitle }} {{# second-linkTitleb }} {{> molekyler-lenketittel-med-forklaring
          }} {{/ second-linkTitleb }} {{# third-linkTitle }} {{> molekyler-lenketittel-med-forklaring }} {{/ third-linkTitle }} {{# fifth-linkTitle }} {{> molekyler-lenketittel-med-forklaring }} {{/ fifth-linkTitle }} {{# sixth-linkTitle }} {{> molekyler-lenketittel-med-forklaring
          }} {{/ sixth-linkTitle }} {{# fourth-linkTitle }} {{> molekyler-lenketittel-med-forklaring }} {{/ fourth-linkTitle }} {{# fourth-list }} {{> atomer-seksjonstittel:a-h3 }} {{> molekyler-liste-unummerert:a-list-2col|clearfix|mb-5 }} {{/ fourth-list
          }} {{# third-list }} {{> atomer-seksjonstittel:a-h3 }} {{> molekyler-liste-unummerert:a-list-2col|clearfix|mb-5 }} {{/ third-list }}

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-lg-12 pb-3">
          {{# card-bottom }} {{> molekyler-ikon-link }} {{/ card-bottom }}
        </div>
      </div>

      {{# hr }}
      <hr> {{/ hr }}

      <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2 pb-3">
          {{> molekyler-bilde-innhold:mt-4 }}
        </div>
      </div>

    </div>
    <!-- END Container -->

  </section>

  {{> organismer-footer }}
</div>

<!-- END: 03-maler-infoportal-20-navigasjonssider-32-temaside -->