<div class="a-page">
  {{# header }}
  {{> organismer-header-altinnett }}
  {{/ header }}

  <section id="content" tabindex="-1">
    <div class="container">
      <div class="row mt-6">
        <div class="col-sm-8 offset-sm-2 col-lg-8 offset-lg-2">
          {{# pageTitle }}
            {{> atomer-sidetittel }}
          {{/ pageTitle }}

          {{# pageIntro }}
            {{> atomer-intro-tekst }}
          {{/ pageIntro }}

          {{# subscribeLink }}
            {{> atomer-link }}
          {{/ subscribeLink }}

          {{# subscribeModal }}
            {{> organismer-modal }}
          {{/ subscribeModal }}

          {{# loginIntro }}
            {{> atomer-intro-tekst:mt-2 }}
          {{/ loginIntro }}

          {{# loginButton }} {{> atomer-knapp }} {{/ loginButton }}

          <span class="px-1">eller</span> {{# createUserLink }} {{> atomer-link }} {{/ createUserLink }}
        </div>
      </div>

      <div class="row mt-6">
        <div class="col-sm-8 offset-sm-2 col-lg-8 offset-lg-2">
          <div class="a-list-heading">
            {{# categoriesExpandableTitle }}
              {{> atomer-ekspanderbar-tittel }}
            {{/ categoriesExpandableTitle }}
          </div>
        </div>
      </div>
    </section>
    {{> organismer-footer }}

  </div>
