<div class="a-page">
  {{# header }}
    {{> organismer-header-altinnett }}
  {{/ header }}

  <section id="content" tabindex="-1">
    <div class="container">
      <div class="row mt-6">
        <div class="col-sm-12 col-lg-8 offset-lg-2">
          {{# pageTitle }}
            {{> atomer-sidetittel }}
          {{/ pageTitle }}

          {{# pageIntro }}
            {{> atomer-intro-tekst }}
          {{/ pageIntro }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg"

          {{# subscribeLink }}
            {{> atomer-link }}
          {{/ subscribeLink }}

          {{# subscribeModal }}
            {{> organismer-modal }}
          {{/ subscribeModal }}

          <p class="mt-2">Hvis du allerede har en bruker kan du logge deg inn for å gjøre endringer eller du kan be om å få opprette en bruker.</p>

          <div class="mb-3">
            {{# loginButton }} {{> atomer-knapp }} {{/ loginButton }}

            <span class="px-1">eller</span> {{# createUserLink }} {{> atomer-link }} {{/ createUserLink }}
          </div>

          {{# categoriesExpandableTitle }}
            {{> atomer-ekspanderbar-tittel }}
          {{/ categoriesExpandableTitle }}
        </div>
      </div>
    </div>
  </section>
  {{> organismer-footer }}
</div>
