  <div class="row">
    <div class="col-sm-12 col-lg-12 m-y-2">

      <div class="row m-b-1" id="example-caption-6">
        <div class="col-xs-6 col-md-6 text-xs-left">
          {{ progress-left-text }}
        </div>
        <div class="col-xs-6 text-xs-right">
          {{ progress-right-text }}
        </div>
      </div>

      {{> atomer-prosentbar }}

      <div class="row a-progress-numbers">
        {{# progress-numbers }}
        <div class="col-xs">
          <span class="a-progress-numbers-item">{{ progress-number }}</span>
        </div>
        {{/ progress-numbers }}
      </div>

    </div>
  </div>
