<div class="a-card">
  {{#card-content}}
    <i class="material-icons a-personRole-icon">{{{ person-role-icon }}}</i>
    {{> atomer-avsnitt(paragraph-content: 'Forklarende tekst')}}
    <div class="a-textSize3">{{> atomer-link}}<span>{{card-code}}</span></div>
  {{/card-content}}
</div>
