<div class="a-card a-card-largeIcon {{ styleModifier }}">
  {{#card-content}}
    <i class="material-icons">{{{ card-icon }}}</i>
    {{> atomer-avsnitt }}
    <div class="a-textSize3">{{> atomer-link}}
      <span>{{card-code}}</span>
    </div>
  {{/card-content}}
</div>
