// Landing page for patternlab


/* Font */ 
@font-face {
  font-family: 'DIN-bold';
  font-display: auto;
  src: url('../fonts/altinn-din/Altinn-DIN-Bold.woff2') format('woff2'),
       url('../fonts/altinn-din/Altinn-DIN-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-reg';
  font-display: auto;
  src: url('../fonts/altinn-din/Altinn-DIN.woff2') format('woff2'),
       url('../fonts/altinn-din/Altinn-DIN.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-medium';
  font-display: auto;
  src: url('../fonts/altinn-din/Altinn-DIN.woff2') format('woff2'),
       url('../fonts/altinn-din/Altinn-DIN.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

p, a, h1, h2, h3, h4, h5, h6, li {
  letter-spacing: 0.3px;
}


/* Test */
h1 {
  color: $blue-dark;
}

.a-sg-infobox {
  box-shadow: 1px 1px 4px 0px rgba(137, 137, 137, 0.5);

  @media(min-width: 768px) {
    ul {
      li {
        display: inline;
      }
    }
  }
}

.a-btn.a-btn-border{
  font-size: 2.6rem;
}