<!-- START: 02-organismer-20-forms-50-skjema-radio -->
<form data-toggle="validator" role="form" action="{{{url}}}" class="{{ styleModifier }}">

  <div class="a-modal-contentFullWidth mt-2">
    {{> atomer-radioknapp }}
  </div>



  <div class="a-btn-group mt-2">

    {{# chooseCategory-submit }} {{> atomer-knapp }} {{/ chooseCategory-submit }} {{# chooseCategory-findself }} {{> atomer-link }} {{/ chooseCategory-findself }}

  </div>

</form>

<!-- END: 02-organismer-20-forms-50-skjema-radio -->