<!-- START: 01-molekyler-04-grupper-00-grupperte-knapper -->
<div class="a-btn-group" id="{{ button-group-id }}">
  {{# button-group-items }} {{> atomer-knapp }} {{/ button-group-items }} {{# link-group-items }} {{> atomer-link }} {{/ link-group-items }}
</div>

<!-- END: 01-molekyler-04-grupper-00-grupperte-knapper -->