<!-- START: 01-molekyler-02-navigasjon-02-trekkspill -->
<div class="a-accordion-small {{styleModifier}}" id="accordion" role="tablist" aria-multiselectable="true">

  {{# accordion-small-items }}
  <div class="card">

    <!-- TITLE -->
    <div role="tab" id="{{collapseTitle-id}}">
      {{> atomer-ekspanderbar-tekst }}
    </div>

    <!-- CONTENT -->
    <div id="{{collapse-filter-id}}" class="a-collapseContent collapse {{ a-text }}" role="tabpanel" aria-labelledby="{{collapseTitle-id}}">
      {{{ collapse-filter-content }}} {{# collapse-listInside }} {{> molekyler-liste-unummerert }} {{/ collapse-listInside }}
    </div>

  </div>
  {{/ accordion-small-items }}

</div>

<!-- END: 01-molekyler-02-navigasjon-02-trekkspill -->