<div class="a-btn-group">

    {{> atomer-action-button}}

    {{> atomer-action-button(action-button-class: "fa fa-download a-btn-action-icon", action-button-icon: "", action-button-text: "En knapp for å laste ned")}}

    {{> atomer-action-button(action-button-class: "fa fa-upload a-btn-action-icon", action-button-icon: "", action-button-text: "En knapp for å laste opp")}}

</div>
