<!-- START: 01-molekyler-00-tekst-68-♺-innboks-header-innhold-kompakt -->
{{# msg-compact }} {{> molekyler-innboks-header-innhold }} {{/ msg-compact }}
<!-- END: 01-molekyler-00-tekst-68-♺-innboks-header-innhold-kompakt -->