<section role="search">

  <form>

    <div class="form-group a-form-group">

    <div class="input-group">

      <!-- Label -->
      <label for="search" id="{{{ search-label-id }}}" >
        <span class="sr-only">{{{ search-label }}}</span>
      </label>

      <!-- Input  -->
      <input aria-labelledby="{{{ search-label-id }}}" type="search" class="form-control form-control-noleft form-control-withBtn" value="" placeholder="{{{ search-label }}}">

      <div class="input-group-btn">
        <button class="btn btn-secondary" type="button">
          <i class="material-icons a-input-icon">&#xE8B6;</i>
        </button>
      </div>

    </div>

    </div>

  </form>

</section>
