<div class="a-page" >
  {{# header }}
    {{> organismer-header-altinnett }}
  {{/ header }}

  <section id="content" tabindex="-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="mb-3 mt-0 a-fontSizeL">
            {{{ profile-login-prefix }}}
            <span class="a-fontBold">
              {{{ profile-login-name }}}
            </span>
            {{{ profile-login-organization }}}
          </h1>
          <div id="{{ accordion-large-id }}" class="a-panelAccordion" role="tablist">
            {{# yourProfilePanel }}
              {{> organismer-altinnett-varslingsprofil }}
            {{/ yourProfilePanel }}

            {{# organizationProfilePanel }}
              {{> organismer-altinnett-varslingsprofiler-for-leverandorer }}
            {{/ organizationProfilePanel }}
          </div>
          <p class="mt-2">
            {{# firstLink }}
              {{> atomer-link }}
            {{/ firstLink }}
          </p>
          <p class="mt-1">
            {{# secondLink }}
              {{> atomer-link }}
            {{/ secondLink }}
          </p>
          <p class="mt-1">
            {{# thirdLink }}
              {{> atomer-knapp }}
            {{/ thirdLink }}
          </p>
        </div>
      </div>
    </div>
  </section>
  {{> organismer-footer-altinnett }}
</div>
