<div class="a-page">
    {{# header }}
        {{> organismer-header-altinnett }}
    {{/ header }}

    <main id="content" tabindex="-1">
        <div class="container">
            {{# crumbs }}
                <div class="mb-4">
                    {{> felles-komponenter-smulesti }}
                </div>
            {{/ crumbs }}
            <div class="row">
                <div class="col-12">
                    {{# page-title }}{{> felles-komponenter-sidetittel }}{{/page-title}}
                    <div class="a-leadText mb-5" id="leadText">
                        <p>Dette er etater og tjenester som er tilrettelagt for innsending gjennom datasystemer/ekstern programvare. Under hver tjeneste finner du veiledning til hvordan du kobler systemet ditt opp mot tjenestene.</p>
                        <p><strong>Nytt datasystem?</strong> Se veiledningen <a href="#">Kom i gang med API for datasystem</a></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="mb-4">
                        {{# accordion }}
                            {{> felles-komponenter-trekkspill-overskrifter }}
                        {{/ accordion }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="a-fontSizeM mb-9">
                        <p><strong>Feil i løsningen?</strong> Sjekk <a href="#">driftsmeldinger</a></p>
                    </div>
                </div>
            </div>
        </div> <!-- END Container -->

    </main>

    {{# footer }}
        {{> organismer-footer-altinnett }}
    {{/ footer }}
</div>
