<!-- START: 02-organismer-30-seksjoner-02-artikkelliste-dato -->
<section class="a-box a-article-list-dates {{ styleModifier }}">

  <div class="a-box-heading">
    <h2>{{ box-heading }}</h2>
  </div>

  <div class="a-box-body">
    {{#article-list}} {{> molekyler-artikkel-teaser }} {{/article-list}}
  </div>

  <div class="a-box-footer">
    {{#article-list-link}} {{> atomer-link-fremhevet }} {{/article-list-link}}
  </div>

</section>

<!-- END: 02-organismer-30-seksjoner-02-artikkelliste-dato -->