<ol class="no-decoration a-circle-list">
  {{# questionnaire }}
    {{# questionnaire-content }}
      <li class="a-trigger-question">
        {{ card-title }}
        {{> felles-komponenter-valgknapp-ett-alternativ }}
        <hr class="a-hrLight" />
      </li>
    {{/ questionnaire-content }}
    <li>
      {{> felles-komponenter-link }}
    </li>
  {{/ questionnaire }}
</ol>
