<!-- START: 03-maler-infoportal-30-artikkel-_41-artikkel-jumbo-v-enkeltpersonforetak -->
<div class="a-page">
  {{> organismer-header }}

  <section id="content" tabindex="-1">

    {{# article-jumbotron }} {{> molekyler-jumbotron }} {{/ article-jumbotron }}

    <div class="container">

      <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg mt-2 mb-2">

          {{> atomer-avsnitt(paragraph-content:"Hva kjennetegner et enkeltpersonforetak:") }} {{# list-1 }} {{> atomer-liste-unummerert-kuler }} {{/ list-1 }} {{# card-bottom }} {{> molekyler-ikon-link:a-iconText-extraWidth }} {{/ card-bottom }} {{> atomer-seksjonstittel(section-title:"Næringsvirksomhet")
          }}

          <p>Et vilkår for å registrere et enkeltpersonforetak er at du må drive <a class="a-linkArea" href="#">næringsvirksomhet</a> (være selvstendig næringsdrivende). Hvis du eier dine egne driftsmidler, bestemmer arbeidstiden selv, har flere kunder over
            lengre tid og tar en økonomisk risiko, da driver du sannsynligvis næringsvirksomhet.</p>

          {{> atomer-seksjonstittel(section-title:"Ansatte") }}

          <p>Som innehaver av et enkeltpersonforetak er du ikke ansatt, og mottar ikke lønn {{# footnote1 }} {{> atomer-link-med-popover-ikon }} {{/ footnote1 }} Det skal heller ikke betales arbeidsgiveravgift. Dersom du ansetter noen blir du <a class="a-linkArea"
              href="#">arbeidsgiver</a>, og må betale lønn til arbeidstakeren og arbeidsgiveravgift. Eiers ektefelle kan arbeide i foretaket og motta andel av overskuddet, men kan ikke ansettes. "</p>

          {{> atomer-seksjonstittel(section-title:"Sosiale rettigheter") }} {{> atomer-undertittel(section-sub-title:"Sykepenger") }}

          <p>
            Som innehaver av enkeltpersonforetak vil du normalt ha dårligere sosiale rettigheter enn om du er arbeidstaker. Selvstendig næringsdrivende har rett til sykepenger fra 17. sykedag, og da med 65 % dekning. Dette i motsetning til arbeidstakere som har 100
            % dekning fra dag en. Du kan tegne ulike forsikringer for å bedre dine sykepengerettigheter.
          </p>

          {{> atomer-undertittel(section-sub-title:"Dagpenger") }}
          <p>
            Du opparbeider ikke rett til dagpenger av det du tjener i enkeltpersonforetaket ditt.
          </p>

          {{> atomer-undertittel(section-sub-title:"Pensjon") }}
          <p>
            Som innehaver av enkeltpersonforetak tjener du opp pensjon av din næringsinntekt. Ved overgang til pensjon vil de fleste få en betydelig inntektsreduksjon. For å sikre inntekten kan du tegne egen tilleggspensjon.
          </p>

          {{> atomer-seksjonstittel(section-title:"Skatt") }}
          <p>
            På bakgrunn av forventet overskudd oppgitt i skattekortet, vil skatteetaten beregne hvor mye skatt du skal betale. Som tommelfingerregel er maksimal beskatning mellom 35 og 50 %. Enkeltpersonforetak betaler forskuddsskatt fire ganger årlig.
          </p>

          {{> atomer-seksjonstittel(section-title:"Merverdiavgift") }}
          <p>
            <a class="a-linkArea" href="{{{link.sider-infoportal-artikkel-v-mva}}}"> Merverdiavgift </a> (mva) er en omsetningsavgift på varer og tjenester. Enkelte varer og tjenester er unntatt fra mva, eller har reduserte satser. Et enkeltpersonforetak
            som har hatt merverdiavgiftspliktig omsetning på kr 50 000 vil være registreringspliktig mva registeret.
          </p>

          {{> atomer-seksjonstittel(section-title:"Regnskap") }}

          <p>
            Med næringsvirksomhet følger <a class="a-linkArea" href="#">normalt bokføringsplikt</a>. Det betyr at du må ta vare på dokumentasjon av inntekter og kostnader og sette disse i et system. Regnskapet danner grunnlaget for næringsoppgaven som
            vedlegges selvangivelsen. Det er viktig å etablere gode rutiner fra starten. Hvis du ikke har særlig kunnskap om regnskapsføring bør du vurdere å sette bort denne jobben til en regnskapsfører.

          </p>

          {{> atomer-seksjonstittel(section-title:"Tillatelser") }}

          <p>
            Innenfor enkelte virksomheter må man ha tillatelse for å drive egen næringsvirksomhet. Eksempler på dette er serveringsvirksomhet og renholdstjenester.
          </p>

          {{> atomer-seksjonstittel(section-title:"Planlegging") }}
          <p>
            Å starte egen bedrift er en stor og viktig beslutning. Det kan også være dyrt og tidkrevende å få ideen din gjennomført. For å vite hva som kreves av deg er det viktig å bruke tid på god planlegging før du registrerer enkeltpersonforetaket ditt.
          </p>


          {{# compare1 }} {{> organismer-sammenligning }} {{/ compare1 }} {{> atomer-seksjonstittel(section-title:"Registrering og organisasjonsnummer") }}

          <p>
            Det er gratis å registrere et enkeltpersonforetak. Et enkeltpersonforetak som skal drive med varesalg eller ha mer enn fem ansatte må imidlertid betale et gebyr på kr 2 250,-. Du får tildelt et organisasjonsnummer når registreringen er behandlet.
          </p>

          {{# card-bottom }} {{> molekyler-ikon-link:a-iconText-extraWidth }} {{/ card-bottom }} {{> atomer-seksjonstittel(section-title:"Eksempelhistorie") }}
          <p>
            Gunnar Blinkskudd har startet enkeltpersonforetak som fotograf. Gunnar jobber fulltid som barnehageassistent, men tar oppdrag som bryllupsfotograf i sommerhalvåret.Gunnar har valgt enkeltpersonforetak fordi det å drive som fotograf i liten skala medfører
            små innvesteringer og liten økonomisk risiko. Siden Gunnar er fast ansatt, og opparbeider seg sosiale rettigheter gjennom sin lønnsinntekt, er det ikke viktig for han at selvstendig næringsdrivende har begrensede sosiale rettigheter.
          </p>

          {{> molekyler-fant-du-det-du-lette-etter }}


        </div>
        <!-- END .col-... -->
      </div>
      <!-- END .row -->
    </div>
    <!-- END .container -->
  </section>

  {{> organismer-footer }}
</div>

<!-- END: 03-maler-infoportal-30-artikkel-_41-artikkel-jumbo-v-enkeltpersonforetak -->