<ol class="a-number-list{{# number-list-classes }} {{ number-list-classes }}{{/ number-list-classes }} {{ styleModifier }}">
  {{# number-list-items }}
    <li>
      {{{ number-list-title }}}{{# number-list-link }}{{> felles-komponenter-link }}{{/ number-list-link }}
    </li>
  {{/ number-list-items }}
</ol>
