<div class="a-card">
  {{# card-content }}
    <h2 class="a-h3">{{> atomer-link }}<span>{{ card-code }}</span></h2>
    <p class="a-fontBold mb-0">{{ card-title }}</p>
    <p>{{ card-description }}</p>
  {{/ card-content }}
</div>
