<!-- START: 03-maler-altinnett-01-dashboard-tjenesteeier-20-dashboard-tjenesteeier-innboks -->
<div class="a-page">
  {{# header }}
    {{> organismer-header-dashboard }}
    {{/ header }}

    <section id="content" tabindex="-1">
      <h1 class="sr-only">{{{ page-title }}}</h1>
      <div class="a-overlay-container d-none" tabindex="-1">
        {{# advanced-search }}
          {{> organismer-dashboard-filter }}
          {{/ advanced-search }}
      </div>
      <div class="container a-js-hideElement">

        {{# article-search }}
          <div class="row mb-2 mt-2 mt-lg-5 mb-lg-3">
            <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
              {{> atomer-tekst-input }}
            </div>
          </div>
          {{/ article-search }}

          <div class="row an-dashboard-container">
            <div class="col-12 col-lg-3 pr-lg-4">

              {{# dashboard-addMessageLeft }}
                {{> atomer-handlingsknapp }}
                {{/ dashboard-addMessageLeft }}

                <div class="row a-topTasks mb-2 mb-lg-4">
                  {{# messageStatus }}
                    <div class="col col-lg-12 {{# wrapper-class }} {{ wrapper-class }}{{/ wrapper-class }}">
                      {{> atomer-knapp-ikon-tekst }}
                    </div>
                    {{/ messageStatus }}
                </div>

                <section class="d-none d-lg-block">
                  {{> atomer-seksjonstittel:a-h3 }}
                  {{> molekyler-dashboard-kontaktperson-vertikal }}
                </section>

            </div>

            <div class="col-12 col-lg-9">

              {{> organismer-dashboard-messages }}

              {{# empty-inbox }}
                <h2 class="a-fontSizeM a-fontBold mt-3 mb-0">{{ empty-inbox-heading }}</h2>
                <p class="a-fontSizeM">{{ empty-inbox-title }}</p>
                <h3 class="mb-1 mt-3 a-fontSizeXS a-fontReg">{{ empty-inbox-list-title }}</h3>
                {{> atomer-liste-nummerert }}
                <p class="mt-2">{{ empty-inbox-undertext }}{{> atomer-link }}</p>
                {{/ empty-inbox }}

                {{# load-more-btn }}
                  <div class="row">
                    <div class="col">
                      {{> atomer-handlingsknapp-full-bredde }}
                    </div>
                  </div>
                  {{/ load-more-btn }}

                  <section class="d-block d-lg-none mt-4">
                    {{> atomer-seksjonstittel:a-h3 }}
                    {{> molekyler-dashboard-kontaktperson }}
                  </section>
            </div>

          </div>
      </div>

</div>
<!-- END: 03-maler-altinnett-01-dashboard-tjenesteeier-20-dashboard-tjenesteeier-innboks -->