<!-- START: 02-organismer-70-Modal-innhold-_91-delegering-aktivitetslogg -->
<div class="modal-body a-modal-body">
  {{# activitylog-top-text }}
  <h3 class="a-fontBold a-fontSizeXS mb-0">{{ activitylog-top-text }}</h3>{{/ activitylog-top-text }}
  <hr class="a-hrSolidLight" /> {{> molekyler-liste-unummerert }}
</div>
<!-- END: 02-organismer-70-Modal-innhold-_91-delegering-aktivitetslogg -->