<!-- START: 04-sider-infoportal-20-navigasjonssider-46-navigasjonsartikkel-v-omaltinn-v2 -->
{{# temaside-omaltinn }} {{> maler-infoportal-navigasjonsartikkel-v2 }} {{/ temaside-omaltinn }}

<!-- END: 04-sider-infoportal-20-navigasjonssider-46-navigasjonsartikkel-v-omaltinn-v2 -->