<ul class="no-decoration connected-bullets">
  {{# connectedBullets-list-items }}
    <li>
      <strong>
        {{ list-item-title }}
      </strong>
      {{{ list-item-content }}}
      {{# listItemFootnote}}
        {{> atomer-ordforklaring }}
      {{/ listItemFootnote}}
      {{# list-item-linkInside }}
        {{> atomer-link }}
      {{/ list-item-linkInside }}
    </li>
  {{/ connectedBullets-list-items }}
</ul>
