<ul class="no-decoration connectedBullets">

  {{#connectedBullets-list-items}}

  <li>

    <strong>
      {{list-item-title}}
    </strong>

    {{list-item-content}}

    {{#list-item-linkInside}}
      {{> atomer-link }}
    {{/list-item-linkInside}}

  </li>

  {{/connectedBullets-list-items}}

</ul>
