<div class="a-page">
	{{> organismer-header }}

	<section id="content" tabindex="-1">

		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-10 offset-lg-1">
					{{# articlestart }}
					{{> felles-komponenter-artikkel-start }}
					<hr class="mb-2">
					{{/ articlestart }}
				</div>
			</div>

			{{# firstpart }}
			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text">
						{{# paragraph1 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph1 }}

						{{# sectiontitle1 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle1 }}

						{{# paragraph2 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph2 }}

						{{# sectiontitle2 }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle2 }}

						{{# paragraph3 }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph3 }}

						{{# sectiontitle2b }}
							{{> felles-komponenter-seksjonstittel }}
						{{/ sectiontitle2b }}

						{{# paragraph3b }}
							{{> felles-komponenter-avsnitt }}
						{{/ paragraph3b }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->
			{{/ firstpart }}

			{{# imagequote }}
			<div class="row">
				<div class="col-sm-12 col-lg-12">
						{{> felles-komponenter-bilde-sitat }}
				</div><!-- END .col-... -->
			</div><!-- END .row -->
			{{/ imagequote }}

			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text">

					{{# sectiontitle3 }}
						{{> felles-komponenter-seksjonstittel }}
					{{/ sectiontitle3 }}

					{{# paragraph4 }}
						{{> felles-komponenter-avsnitt }}
					{{/ paragraph4 }}

					{{# listconnected }}
						{{> felles-komponenter-liste-unummerert-sammenkoblet }}
					{{/ listconnected }}

					{{# cardright }}
						{{> felles-komponenter-ikon-link:a-article-right-off }}
					{{/ cardright }}

					{{# imageright }}
							{{> felles-komponenter-bilde:a-articleImage-right }}
					{{/ imageright }}

					{{# paragraph5 }}
						{{> felles-komponenter-avsnitt }}
					{{/ paragraph5 }}

					{{# sectiontitle4 }}
						{{> felles-komponenter-seksjonstittel }}
					{{/ sectiontitle4 }}

					{{# firstlist }}
						{{> felles-komponenter-liste-unummerert-kuler }}
					{{/ firstlist }}

					{{# sectiontitle4b }}
						{{> felles-komponenter-seksjonstittel }}
					{{/ sectiontitle4b }}

					{{# paragraph6 }}
						{{> felles-komponenter-avsnitt }}
					{{/ paragraph6 }}

					{{# sectiontitle5 }}
						{{> felles-komponenter-seksjonstittel }}
					{{/ sectiontitle5 }}

					{{# second-list }}
						{{> felles-komponenter-liste-unummerert-kuler }}
					{{/ second-list }}

					{{# paragraph8 }}
						{{> felles-komponenter-avsnitt }}
					{{/ paragraph8 }}

					{{# blockquoteright }}
						{{> felles-komponenter-sitat:a-article-right-off|a-blockquote-right }}
					{{/ blockquoteright }}

					{{# subtitle1 }}
						{{> felles-komponenter-undertittel }}
					{{/ subtitle1 }}

					{{# paragraph9 }}
						{{> felles-komponenter-avsnitt }}
					{{/ paragraph9 }}

					{{# sectiontitle6 }}
						{{> felles-komponenter-seksjonstittel }}
					{{/ sectiontitle6 }}

					{{# paragraph10 }}
						{{> felles-komponenter-avsnitt }}
					{{/ paragraph10 }}

					{{# subtitle2 }}
						{{> felles-komponenter-undertittel }}
					{{/ subtitle2 }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->



			{{# articlelist }}
			<div class="row">
				<div class="col-sm-12 col-lg-12 mb-5">
						{{> felles-komponenter-artikkelliste-dato }}
				</div><!-- END .col-... -->
			</div><!-- END .row -->
			{{/ articlelist }}

			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text mb-5">

					{{# paragraph11 }}
						{{> felles-komponenter-avsnitt }}
					{{/ paragraph11 }}

					{{# paragraph12 }}
						{{> felles-komponenter-avsnitt }}
					{{/ paragraph12 }}

					{{# firstlink }}
					<strong>
						{{> felles-komponenter-link }}
					</strong>
					{{/ firstlink }}
					<br><br>

					{{# paragraph13 }}
						{{> felles-komponenter-avsnitt }}
					{{/ paragraph13 }}

					{{# calculation }}
							{{> felles-komponenter-tabell-regnestykke }}
					{{/ calculation }}

					{{> molekyler-fant-du-det-du-lette-etter }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->


			{{# cardbottom }}
			<div class="row">
				<div class="col-sm-12 col-lg-12 mb-4">
						{{> molekyler-kort }}
				</div><!-- END .col-... -->
			</div><!-- END .row -->
			{{/ cardbottom }}


			{{# picturecontent }}
			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 mb-5">
						{{> felles-komponenter-bildeblokk }}
				</div><!-- END .col-... -->
			</div><!-- END .row -->
			{{/ picturecontent }}

		</div> <!-- END Container -->

	</section>

	{{> organismer-footer }}
</div>
