<figure class="a-mediaBlock {{styleModifier}}">
  {{> felles-komponenter-placeholder }}

  {{# figCaption }}
    <figcaption class="a-mediaBlock-caption">
      {{{ figCaption }}}
    </figcaption>
  {{/ figCaption }}
</figure>
