<!-- Begin #a-dropdown-languages - -->
<div class="dropdown-menu {{{ dropdown-class }}} a-dropdownTriangle">

  <div class="a-padding-x3 a-paddingBottom-0">

    <div class="row">
      <div class="col-sm-12 a-marginBottom-x2">
        <h1>Hvem skal du representere?</h1>
      </div>
    </div>

    <div class="a-panel-grey a-marginBottom-x4">

      <div class="row">
        <div class="col-sm-12 a-marginBottom-x2">
              {{> molekyler-myself }}
        </div>
      </div>

      <div class="a-paddingSide-x5">
        {{> atomer-link(link-class: "a-link", link-text: "Innstillinger og profil")}}
      </div>

      <hr class="a-hr-smallPadding">

      {{> atomer-link-icon(link-icon-class: "a-margin-0") }}

    </div>

    <div class="a-padding-x2">

      <p class="a-textSize2">
          Andre du kan representere:
      </p>

      {{> atomer-find-input:error(input-find-text: "Hvem leter du etter?", input-find-id: "input-find-aktor", input-find-icon: "&#xE7EF;") }}

    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="a-panel-blueLight">

          <a href="#" class="no-decoration">

          {{> molekyler-person-role(person-role-role: "Foretak du er tilknyttet", person-role-name: "Effektive timer AS", "personRoleNameMeta" : true,  person-role-nameMeta: "org. nr. 802 761 497", person-role-icon: "&#xE7F1;") }}

          </a>

          <hr class="a-hr-smallPadding a-marginTop-x2">

          {{> atomer-link-icon(link-icon-class: "a-margin-0") }}

        </div>

        <div class="a-panel-blueLight">

          <a href="#" class="no-decoration">

          {{> molekyler-person-role(person-role-role: "Foretak du er tilknyttet", person-role-name: "Effektive timer AS", "personRoleNameMeta" : true,  person-role-nameMeta: "org. nr. 802 761 497", person-role-icon: "&#xE7F1;") }}

          </a>

          <hr class="a-hr-smallPadding a-marginTop-x2">

          {{> atomer-link-icon(link-icon-class: "a-margin-0") }}

        </div>

        <div class="a-panel-blueLight">

          <a href="#" class="no-decoration">

            {{> molekyler-person-role(person-role-role: "Foretak du er tilknyttet", person-role-name: "Effektive timer AS", "personRoleNameMeta" : true,  person-role-nameMeta: "org. nr. 802 761 497", person-role-icon: "&#xE7F1;") }}

          </a>

          <hr class="a-hr-smallPadding a-marginTop-x2">

          {{> atomer-link-icon(link-icon-class: "a-margin-0") }}

        </div>

        <div class="a-paddingSide-x2 a-marginTop-andhalf">

          {{> atomer-link-icon(link-button-viewmore-text: "Last flere") }}

        </div>

      </div>
    </div>


  </div>


</div>
