<!-- Begin #a-dropdown-languages - -->
<div class="dropdown-menu {{{ dropdown-class }}} a-dropdownTriangle">

  <div class="a-padding-x3 a-paddingBottom-0">

    <div class="row">
      <div class="col-sm-12 a-marginBottom-x2">
        {{> molecules-myself }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 a-marginBottom-x2">
        {{> atoms-link-standalone:error(link-standalone-text: "Innstillinger og profil") }}
      </div>
    </div>

    <p class="a-textSize4">
        Andre du kan representere:
    </p>

    {{> atoms-find-input:error(input-find-text: "Hvem leter du etter?", input-find-icon: "&#xE7EF;") }}

  </div>

  <div class="a-padding a-paddingBottom-0">

    {{> atoms-link-button-shadow:error(link-button-shadow-text: "Effektive timer AS", link-button-label: "3", link-button-shadow-icon: "&#xE7F1;") }}

    {{> atoms-link-button-shadow:error(link-button-shadow-text: "Johansen Regnskap AS", link-button-shadow-icon: "&#xE7F1;", link-url : "{{ link.pages-homepage-signedinwithlongname }}") }}

    {{> atoms-link-button-shadow:error(link-button-shadow-text: "Nidar AS", link-button-shadow-icon: "&#xE7F1;") }}

    {{> atoms-link-button-shadow:error(link-button-shadow-text: "Filip Gran", link-button-shadow-icon: "&#xE7FD;", link-button-shadow-class: "a-bgGreyLight", link-button-label: "3") }}

    {{> atoms-link-button-shadow:error(link-button-shadow-text: "Pritt AS", link-button-shadow-icon: "&#xE7F1;") }}

    {{> atoms-link-button-viewmore:error(link-button-viewmore-text: "Last flere") }}

  </div>

</div>
