<div class="modal-content">
    <div class="modal-header a-modal-header">
        <div class="a-iconText a-iconText-background a-iconText-large">
            <div class="a-iconText-icon">
                <i class="ai ai-send
                 a-icon" aria-hidden="true"></i>
            </div>
            <h1 class="a-iconText-text mb-0">
                 {{# small-modal-title }}<span class="a-iconText-text-small">{{ small-modal-title }}</span>{{/ small-modal-title }}
                <span class="a-iconText-text-large">Bestill tilgang</span>
            </h1>
        </div>
    </div>
    <div class="modal-body a-modal-body">
      
      <h2 class="a-h3">Hva trenger du tilgang til?</h2>
      <form data-toggle="validator" id="contactForm">
        <div class="row">
          <div class="col-12 col-sm-8">
            <ul class="nav nav-tabs custom-radio a-radioButtons a-navTabsRadio" role="tablist">
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tilgang1" role="tab">
                  <div class="custom-control custom-radio a-custom-radio">
                    <span class="custom-control-label">REST API</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tilgang2" role="tab">
                  <div class="custom-control custom-radio a-custom-radio">
                    <span class="custom-control-label">SOAP API</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tilgang3" role="tab">
                  <div class="custom-control custom-radio a-custom-radio">
                    <span class="custom-control-label">TUL og SERES</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tilgang4" role="tab">
                  <div class="custom-control custom-radio a-custom-radio">
                    <span class="custom-control-label">Brannmur</span>
                  </div>
                </a>
              </li>
            </ul>
            
          </div>
        </div>
      </form>

      <div class="tab-content">
        <div class="tab-pane" id="tilgang1" role="tabpanel">
          {{ #tab1 }}
          <h3 class="a-h2">REST API</h3>
          <form data-toggle="validator" id="contactForm2">
            <div class="row">
              <div class="col-12">
                {{# bruker }}
                  {{> atomer-avkrysningsboks }}
                  <div id="bruker1" class="collapse">
                    {{# kontakt1 }}
                      {{> organismer-dashboard-kontaktinfo }}
                    {{/ kontakt1 }}
                  </div>
                {{/ bruker }}
                <div class="form-group a-form-group my-2">
                  <label class="a-form-label">Hvilke miljø ønskes det tilgang til?</label>

                  {{#miljo}}
                  {{> atomer-valgknapp:mb-2 }}
                  {{/miljo}}

                  {{#ip}}
                  {{> atomer-tekst-input }}
                  {{/ip}}
                </div>
                
                {{#submit}}
                {{> atomer-knapp:mb-2 }}
                {{/submit}}
              </div>
            </div>
          </form>
          {{/tab1 }}
        </div>
        
        <div class="tab-pane" id="tilgang2" role="tabpanel">
          {{ #tab2 }}
          <h3 class="a-h2">SOAP API</h3>
          <form data-toggle="validator" id="contactForm3">
            <div class="row">
              <div class="col-12">
                {{# bruker }}
                  {{> atomer-avkrysningsboks }}
                  <div id="bruker2" class="collapse">
                    {{# kontakt1 }}
                      {{> organismer-dashboard-kontaktinfo }}
                    {{/ kontakt1 }}
                  </div>
                {{/ bruker }}
                <div class="form-group a-form-group my-2">
                  <label class="a-form-label">Hvilke miljø ønskes det tilgang til?</label>

                  {{#miljo}}
                  {{> atomer-valgknapp:mb-2 }}
                  {{/miljo}}

                  {{#ip}}
                  {{> atomer-tekst-input }}
                  {{/ip}}
                </div>
                
                {{#submit}}
                {{> atomer-knapp:mb-2 }}
                {{/submit}}
              </div>
            </div>
          </form>
          {{/tab2 }}
        </div>

        <div class="tab-pane" id="tilgang3" role="tabpanel">
          {{ #tab3 }}
          <h3 class="a-h2">TUL og SERES</h3>
          <form data-toggle="validator" id="contactForm4">
            <div class="row">
              <div class="col-12">
                {{# bruker }}
                  {{> atomer-avkrysningsboks }}
                  <div id="bruker3" class="collapse">
                    {{# kontakt1 }}
                      {{> organismer-dashboard-kontaktinfo }}
                    {{/ kontakt1 }}
                  </div>
                {{/ bruker }}

                <div class="form-group a-form-group my-2">
                  <label class="a-form-label">Hvilke verktøy ønskes det tilgang til?</label>
                    {{#miljo}}
                    {{> atomer-valgknapp }}
                    {{/miljo}}
                </div>

                {{#visualstudio}}
                  {{> atomer-avkrysningsboks }}
                {{/visualstudio}}

                {{#submit}}
                  {{> atomer-knapp:mb-2 }}
                {{/submit}}
                    
              </div>
            </div>
          </form>
          {{/tab3 }}
      </div>
      <div class="tab-pane" id="tilgang4" role="tabpanel">
        {{ #tab4 }}
        <h3 class="a-h2">Brannmur</h3>
        <form data-toggle="validator" id="contactForm5">
          <div class="row">
            <div class="col-12">
              {{# bruker }}
                {{> atomer-avkrysningsboks }}
                <div id="bruker4" class="collapse">
                  {{# kontakt1 }}
                    {{> organismer-dashboard-kontaktinfo }}
                  {{/ kontakt1 }}
                </div>
              {{/ bruker }}
              <div class="form-group a-form-group my-2">
                {{#ip}}
                {{> atomer-tekst-input }}
                {{/ip}}
              </div>
              
              {{#submit}}
              {{> atomer-knapp:mb-2 }}
              {{/submit}}
            </div>
          </div>
        </form>
        {{/ tab4 }}
      </div>
    </div>
  </div>
</div>
