<div class="a-panel a-buttons">
	<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
	<button type="button" class="a-btn a-btn-primary">Primary</button>

	<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
	<button type="button" class="a-btn a-btn-primary disabled" disabled>Primary Disabled</button>

	<!-- Indicates a successful or positive action -->
	<button type="button" class="a-btn a-btn-success">Success</button>

	<!-- Indicates a dangerous or potentially negative action -->
	<button type="button" class="a-btn a-btn-danger">Danger</button>

	<!-- Standard buttons -->
	<button type="button" class="a-btn a-btn-add">
	    <span class="a-btn-add-plus">+</span> Legg til flere
	</button> 
	   
</div>