<div class="modal-content">
  <div class="modal-header a-modal-header">
    <div class="a-iconText a-iconText-background a-iconText-large">
      <div class="a-iconText-icon">
        <i class="ai ai-send a-icon" aria-hidden="true"></i>
      </div>
      <h1 class="a-iconText-text mb-0">
        <span class="a-iconText-text-large">{{ modal-title }}</span>
      </h1>
    </div>
  </div>
  <div class="modal-body a-modal-body">
      {{# description }}
        <div class="mb-2">
        {{> felles-komponenter-intro-tekst }}
        </div>
      {{/ description}}
      
      {{# options }}
        <div class="mb-2">
        {{> felles-komponenter-avkrysningsboks }}
        </div>
      {{/ options }}
      
      {{# mail }}
      <div class="col-8 px-0 mb-2">
        {{> felles-komponenter-tekst-input }}
      </div>
      {{/ mail }}

      {{# submit }}
        {{> felles-komponenter-knapp }}
      {{/ submit }}

      {{# show-rss }}
        <div class="mb-4">
            {{> felles-komponenter-undertittel}}
            {{> felles-komponenter-avsnitt}}
        </div>
      {{/ show-rss }}

  </div>
</div>
