<!-- START: 02-organismer-70-Modal-innhold-10-videresend-i-altinn-tildel-enkeltrettigheter -->
{{# show-give-rights }} {{> organismer-delegering-tildel }} {{/ show-give-rights }}

<!-- END: 02-organismer-70-Modal-innhold-10-videresend-i-altinn-tildel-enkeltrettigheter -->