<!-- START: 04-sider-30-artikkel-54-artikkel-skjema-v-selskapsoppgave-for-deltakerliknet-selskap -->
{{> maler-artikkel-skjema }}

<!-- END: 04-sider-30-artikkel-54-artikkel-skjema-v-selskapsoppgave-for-deltakerliknet-selskap -->
