<!-- Table -->
<div class="a-panel">
    <div class="table-responsive">
        <table class="table a-table">
            <thead>
                <tr>
                    {{# table-thead }}
                    {{{ table-thead-text }}}
                    {{/ table-thead }}
                </tr>
            </thead>
            <tbody>
                {{# table-tbody }}
                <tr> 
                    {{{ table-tbody-text }}}
                </tr>
                {{/ table-tbody }}
            </tbody>
        </table>
    </div>
</div>
