<!-- START: 01-molekyler-02-navigasjon-10-faner-og-knapp -->
{{# tab-with-button }}
<div class="row a-border-bottom">
  <div class="col-auto pl-1">
    {{> molekyler-faner:a-tabs-lg }}
  </div>
  <div class="col pl-0">
    {{# button }} {{> atomer-knapp-ikon-tekst }} {{/ button }}
  </div>
</div>
{{/ tab-with-button }}
<!-- END: 01-molekyler-02-navigasjon-10-faner-og-knapp -->