
<div class="a-personRole">
    <i class="material-icons a-personRole-icon">&#xE7FD;</i>

    <div class="a-personRole-text">

        <span class="a-personRole-name">{{myself-name}}</span>
        <span class="tag tag-primary a-label label-pill">{{myself-represent-number}}</span>
        <span class="a-personRole-role">{{myself-personal-number}}</span>

    </div>
</div>
