<div class="a-personRole {{ styleModifier }}">
  {{# show-success-icon }}
    <i class="material-icons a-personRole-icon-success">
      play_circle_filled
    </i>
  {{/ show-success-icon }}
  <i class="fa a-personRole-icon {{{ person-role-icon }}}"></i>
  <div class="a-personRole-text">
    <span class="a-personRole-role">{{ person-role-role }}</span>
    <span class="a-personRole-name">{{{ person-role-name }}}</span>
    {{# person-role-name-meta }}
      <span class="a-textSize4">{{{ person-role-nameMeta }}}</span>
    {{/ person-role-name-meta }}
  </div>
</div>
