<div class="a-personRole {{ styleModifier }}">
  {{# show-success-icon }}
    {{> atomer-ikon }}
  {{/ show-success-icon }}

  {{# user-icon }}
    <div class="d-none d-md-block">
      {{> atomer-ikon }}
    </div>
  {{/ user-icon }}
  <div class="a-personRole-text" title="{{ person-role-name }}">
    {{# person-role-role }}<span class="a-personRole-role">{{ person-role-role }}</span>{{/ person-role-role }}
    <span class="a-personRole-name">{{{ person-role-name }}}</span>
    {{# person-role-name-meta }}
      <span class="a-h4">{{{ person-role-nameMeta }}}</span>
    {{/ person-role-name-meta }}
  </div>
</div>
