<div class="a-compare-element">
    <h4>{{category-element-title}}</h4>
    <p>{{category-element-description}}</p>
    {{#ismore}}
    {{> atomer-link(link-text: "Les mer", link-class: "a-link")}}
    {{/ismore}}
</div>
