<article class="a-linkArticle" id="{{ identifier }}">

  {{{ heading-start }}}
  {{# linkTitle }}
    {{> atomer-link }}
  {{/ linkTitle }}
  {{# heading-label }}
    {{> atomer-merkelapp }}
  {{/ heading-label }}
  {{{ heading-end }}}

  <p {{# maxThreeLines }}class="{{ maxThreeLines }}" {{/ maxThreeLines }}>{{ category-element-description }}</p>
</article>
