<form class="form-inline {{ styleModifier }}">
  <fieldset action="#" class="form-group">

  	{{# hasLegend }}
  		<legend class="a-legend">{{{legend-text}}}</legend>
  	{{/ hasLegend }}

  	<div class="a-control-inline {{{ custom-controls-stacked }}}">

      {{> atomer-radioknapp }}

  	</div>
  </fieldset>
</form>
