<div class="container">
  <div class="row mx-0 align-items-stretch a-inboxHeadingContent{{# extra-class-headingContent }} {{ extra-class-headingContent }}{{/ extra-class-headingContent }}">
    {{# heading-icon }}
      <div class="col-auto align-items-center d-flex a-msgIconWrapper">
        {{> atomer-ikon }}
      </div>
    {{/ heading-icon}}
    {{# heading-tekst }}
      <div class="col align-self-center d-flex a-headingTextContainer pr-2">
        <div class="d-inline-block">
            {{# due-date-content }}
              <div class="col-auto align-self-center mr-2 hidden-md-up a-duedate">
                <span>{{ due-date-label }}</span>
                <span>{{ due-date }}</span>
              </div>
            {{/ due-date-content }}
            <h2 class="mb-0">
              <div class="a-fontSizeL d-inline">{{ textDescription }}</div>
              <div class="a-fontSizeL d-inline a-msgTitle">{{ textMain }}</div>
            </h2>
          <div>{{ textSmall }}</div>
        </div>
      </div>
    {{/ heading-tekst }}

    {{# due-date-content }}
      {{# past-due-date }}
        <div class="col-auto align-self-center mr-1 hidden-sm-down a-dueDateIcon">{{> atomer-ikon }}</div>
      {{/ past-due-date }}
      <div class="col-auto align-self-center hidden-sm-down mr-1 a-duedate">
        <span>{{ due-date-label }}</span>
        <span>{{ due-date }}</span>
      </div>
    {{/ due-date-content }}
    {{# shortcuts }}
      <div class="col-auto align-self-center hidden-sm-down mx-1 a-shortcutsContainer">
        {{# shortcut-icons }}
          {{> atomer-knapp-ikon-tekst }}
        {{/ shortcut-icons }}
      </div>
    {{/ shortcuts }}
  </div>
</div>