<div class="a-inbox-heading-content row align-items-stretch" style="min-height:64px;">
  {{# heading-icon }}
    <div class="a-square-icon-wrapper col-auto px-2 align-items-center d-flex" style="background-color: lightblue">
      {{> atomer-ikon }}
    </div>
  {{/ heading-icon}}
  {{# heading-tekst }}
    <div class="col align-self-center">
      <div class="row">
        <div class="row">
          <div class="col" style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis">
            <span class="a-description a-fontSizeL" style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis">{{ textDescription }}</span>
            <span class="a-fontSizeL" style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis">{{ textMain }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="" style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis">{{ textSmall }}</span>
          </div>
        </div>
        {{# attachment-icon }}
          <div class="col-auto align-self-center mx-2">
            {{> atomer-ikon }}
          </div>
        {{/ attachment-icon }}
      </div>
    </div>
  {{/ heading-tekst }}

  {{# due-date }}
    <div class="col-auto align-self-center mr-2">
      <span class="a-duedate-lbl">frist: </span>
      <span>{{ due-date }}</span>
    </div>
  {{/ due-date }}
  <div class="col-auto align-self-center hidden-sm-down">
    {{# shortcut-icons }}
      {{> atomer-ikon }}
    {{/ shortcut-icons }}
  </div>
</div>