{{# info-delete-add }}
  <div class="a-delete-add-container row">
    <div class="col">{{ title }}</div>
    {{# delete-btn }}
    <div class="col-auto">
      {{> atomer-knapp-ikon-tekst }}
    </div>
    {{/ delete-btn }}
    <div class="col-12">{{ description }}</div>
  </div>
  {{# add-btn }}
    <div class="row">
      <div class="col">
        {{> atomer-knapp-ikon-tekst }}
      </div>
    </div>
  {{/ add-btn }}
{{/ info-delete-add }}