<!-- START: 03-maler-40-sok-10-sok-skjema -->
<div class="a-page">
  {{> organismer-header }}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
        {{# article-search }} {{> atomer-tekst-input }} {{/ article-search }}
      </div>
    </div>
  </div>

  <section id="content" tabindex="-1">

    <div class="container a-searchResults">
      <div class="row mb-3">
        <div class="col-8 col-lg-8 offset-lg-1">
          <h1 class="a-h2 a-fontReg"><b>7 treff</b> på skjema med <b>"MVA"</b></h1>
        </div>
        {{# filterSearch }}
        <div class="col-4 col-lg-2 d-flex justify-content-end">
          {{> atomer-knapp:a-searchResults-filter }}
        </div>
        {{/ filterSearch }}
      </div>

      {{# hit-form-1 }}
      <div class="row">
        <div class="col-sm-12 col-lg-12 pb-3 {{a-searchResults-lastOfType}}">
          {{> molekyler-ikon-link }}
        </div>
      </div>
      {{/ hit-form-1 }} {{# infoAboutMail }}
      <div class="row py-3">
        <div class="col-sm-12 col-lg-6">
          <h3 class="a-h2">114 treff på <b>"MVA"</b> i artikler:</h3>
          {{# suggestionList }} {{> molekyler-liste-unummerert:pr-md-2|pb-2 }} {{/ suggestionList }} {{# suggestionList-link }} {{> atomer-link:a-link-large }} {{/ suggestionList-link }}
        </div>
        <div class="col-sm-12 col-lg-6 pt-3 pt-md-0">
          <h3 class="a-h2">Søk etter <b>"MVA"</b> i innboksen:</h3>
          {{> molekyler-bilde-innhold:a-cardImage-border }}
        </div>
      </div>
      {{/ infoAboutMail }} {{# hit-form-2 }}
      <div class="row">
        <div class="col-sm-12 col-lg-12 pb-3 {{a-searchResults-lastOfType}}">
          {{> molekyler-ikon-link }}
        </div>
      </div>
      {{/ hit-form-2 }}

    </div>
    <!-- END Container -->

  </section>

  {{> organismer-footer }}
</div>

<!-- END: 03-maler-40-sok-10-sok-skjema -->