<section class="a-articleList {{ styleModifier }}">
  <h2 class="pb-2">
    {{{ news-header }}}
    {{# badge }} {{> felles-komponenter-merkelapp }} {{/ badge }}
  </h2>
  {{# articlelist-item }}
      {{> felles-komponenter-lenketittel-med-forklaring }}
  {{/ articlelist-item }}
  {{> felles-komponenter-link-fremhevet }}
</section>
