.LBD_CaptchaImageDiv {
  display: inline-block;
  vertical-align: top;
}

.LBD_CaptchaIconsDiv {
  display: inline-block;
}

.LBD_CaptchaIconsDiv,
.LBD_CaptchaDiv {
  a {
    border-bottom: none;
  }
}
