<a href="mailto:{{{mail-adress}}}" class="a-link-mail {{ styleModifier }}">
  <i class="material-icons">&#xE0BE;</i>
  <span class="sr-only">Send mail til {{{mail-adress}}}</span>
  {{{mail-text}}}
</a>
