<!-- START: 00-atomer-02-lenker-38-link-mail -->
<a href="mailto:{{{ mail-adress }}}" class="a-linkIcon {{ styleModifier }}">
  {{> atomer-ikon }}
  <span class="sr-only">Send mail til {{{ mail-adress }}}</span>
  {{{ mail-text }}}
</a>

<!-- END: 00-atomer-02-lenker-38-link-mail -->