<fieldset class="form-group">
    {{# check-legend }}
   		<legend class="a-legend">{{{check-legendText}}}</legend>
   	{{/ check-legend }}

    <div class="form-check a-form-checkboxes {{ isStacked }}">
			{{# checkboxes }}
				<label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input">
					<span class="custom-control-indicator"></span>
					{{{ checkboxes-title }}}
				</label>
			{{/ checkboxes }}
    </div>
</fieldset>
