{{# check-legend }}
  <fieldset class="form-group mb-0">
    <legend class="a-legend">{{{check-legendText}}}</legend>
{{/ check-legend }}
    <div class="form-check a-form-checkboxes {{ isDiscreet }} {{ isCenter }} {{ isStacked }}">
      {{# checkboxes }}
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="ml-1">{{{ checkboxes-title }}}</span>
        </label>
      {{/ checkboxes }}
    </div>
{{# check-legend }}
  </fieldset>
{{/ check-legend }}
