<form>
  <div class="form-group">
    <label class="" for="test-input_2017">Test label</label>
    <div class="input-group">
      <span class="input-group-addon">ikon</span>
      <input type="email" class="form-control" id="test2017" required data-val="true"  data-val-required="Dette feltet må fylles ut"
      placeholder="epost@epost.no" name="test-input-2017"  data-val-regex="E-postadressen er ikke gyldig." data-val-regex-pattern="(('[^']+')|(([a-zA-Z0-9!#$%&'*+\-=?\^_`{|}~])+(\.([a-zA-Z0-9!#$%&'*+\-=?\^_`{|}~])+)*))@((((([a-zA-Z0-9æøåÆØÅ]([a-zA-Z0-9\-æøåÆØÅ]{0,61})[a-zA-Z0-9æøåÆØÅ]\.)|[a-zA-Z0-9æøåÆØÅ]\.){1,9})([a-zA-Z]{2,14}))|((\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})))">
      <span class="input-group-addon">Også ikon </span>
    </div>
    <span class="form-text">Dette er en hjelpetekst </span>
    <div class="a-message a-message-error col-6" data-valmsg-for="test-input-2017" data-valmsg-replace="true"></div>
  </div>
<form>

{{!--
  <input class="altinn-input form-control" data-val="true" data-val-regex="E-postadressen er ikke gyldig." data-val-regex-pattern="((&quot;[^&quot;]+&quot;)|(([a-zA-Z0-9!#$%&amp;'*+\-=?\^_`{|}~])+(\.([a-zA-Z0-9!#$%&amp;'*+\-=?\^_`{|}~])+)*))@((((([a-zA-Z0-9æøåÆØÅ]([a-zA-Z0-9\-æøåÆØÅ]{0,61})[a-zA-Z0-9æøåÆØÅ]\.)|[a-zA-Z0-9æøåÆØÅ]\.){1,9})([a-zA-Z]{2,14}))|((\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})))" id="EmailReceipt_Email" name="EmailReceipt.Email" onkeyup="EnableAltinnButton('#emailreceiptbutton', '#emailReceiptPortalMessage')" placeholder="E-postadresse" type="text" value="d.gopalswamy@avanade.com">

  data-val-max="64" data-val-min="6" data-val-length="test test"
  --}}