{{# checkbuttons }}
  <div class="a-switch {{styleModifier}} {{# checkbuttons-container-class }} {{ checkbuttons-container-class }}{{/ checkbuttons-container-class }} ">
    <input
      {{# checkbuttons-id }} id="{{{ checkbuttons-id }}}" {{/ checkbuttons-id }}
      class="sr-only"
      type="checkbox"
      name="{{{ checkbuttons-id }}}"
      value="checkbutton-read"
      {{# isChecked }} checked {{/ isChecked }}
      {{# isDisabled }} disabled {{/ isDisabled }}
      {{# hasPopover }}
        data-toggle="popover"
        data-placement="{{ popover-placement}}"
        data-animation="false"
        data-popover-content="{{ popover-content-id }}"
        {{# popover-class }}data-popover-class="{{ popover-class }}"{{/ popover-class }}
        {{# data-trigger }} data-trigger="{{ data-trigger }}" {{/ data-trigger }}
      {{/ hasPopover}}
      >
    <label
      for="{{{ checkbuttons-id }}}"
      class="a-switch-label {{{ checkbuttons-class }}}">
      {{# hasIcon }}
        {{> atomer-ikon }}
      {{/ hasIcon }}
      {{# checkbuttons-toggle-icon }}
        {{> atomer-ikon }}
      {{/ checkbuttons-toggle-icon }}
      {{{ checkbuttons-title }}}
    </label>
  {{# hasPopover }}
    <div {{# popover-content-id }} id="{{ popover-content-id }}" {{/ popover-content-id }} class="d-none">
    <div class="pb-1">{{ popover-text }}</div>
      {{# popover-buttons }}
        {{> atomer-knapp:mr-1 }}
      {{/ popover-buttons }}
    </div>
  {{/ hasPopover }}    
  </div>
{{/ checkbuttons }}
