<div class="form-group a-form-group {{ styleModifier }}">
	  <label for="exampleTextarea" class="a-form-label">{{{ textarea-label }}}</label>
	  <textarea class="form-control a-textarea"
      rows="3"
      placeholder="{{{ textarea-placeholder }}}"
      {{# isRequired }}required{{/ isRequired }}
      id="exampleTextarea" ></textarea>
</div>
