<div class="form-group a-form-group {{ styleModifier }}">
	  <label for="exampleTextarea" class="a-form-label">{{{ textarea-label }}}</label>
	  <textarea class="form-control a-textarea" id="exampleTextarea" rows="3" placeholder="{{{ textarea-placeholder }}}"></textarea>
</div>
