<div class="form-group input-group transparent a-form-group"{{# aria-describedby }} aria-describedby="{{ aria-describedby }}"{{/ aria-describedby }}>
  <div data-toggle="altinn-dropdown" class="dropdown{{# isTransparent }} a-transparent {{/ isTransparent }}a-fullWidthXs">
    <input type="hidden" class="a-js-altinnDropdown-value"{{# defaultValue }} value="{{ defaultValue }}"{{/ defaultValue }} />
    <button class="btn dropdown-toggle a-dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{> atomer-ikon }}
      <span class="a-form-text {{ dropdown-name-class }}">
        {{ dropdown-name }}
      </span>
    </button>
    <div class="dropdown-menu a-dropdown-menu" aria-labelledby="dropdownMenu">
      {{# dropdown-items }}
        <a class="dropdown-item a-dropdown-item" href="#"{{# value }} data-value="{{ value }}"{{/ value }}>
          {{> atomer-ikon }}
          <span class="a-form-text {{ dropdown-name-class }}">
            {{ dropdown-item-name }}
          </span>
        </a>
      {{/ dropdown-items }}
    </div>
  </div>
</div>
