<div class="form-group a-form-group">
  <div class="input-group {{# isTransparent }} transparent {{/ isTransparent }}">
    {{# show-label }}
      <span class="a-form-label-inline a-fontBold">{{ label-text }}</span>
    {{/ show-label }}
    <div class="dropdown">
      <button class="btn dropdown-toggle a-dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{> atomer-ikon }}
        <span class="a-form-text">
          <b>{{ dropdown-name }}</b> {{dropdown-number}}
        </span>
      </button>
      <div class="dropdown-menu a-dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item a-dropdown-item a-dropdown-item-active" href="#">
          {{> atomer-ikon }}
          <span class="a-form-text ">
            <b>{{ dropdown-name }}</b> {{dropdown-number}}
          </span>
        </a>
        {{# dropdown-items }}
          <a class="dropdown-item a-dropdown-item" href="#">
            {{> atomer-ikon }}
            <span class="a-form-text">
              <b>{{ dropdown-item-name }}</b> {{ dropdown-item-number }}
            </span>
          </a>
        {{/ dropdown-items }}
      </div>
    </div>
  </div>
</div>
