<label class="{{ styleModifier }} {{# stackedLabel }} an-stackedLabel {{/ stackedLabel }}" for="{{ inputId }}">
  <span class="a-input-labelText control-label">
    {{ date-input-label }}
  </span>
</label>
<div class="d-inline-block form-group a-form-group a-form-group-datepicker">
  <div class="input-group">
    <input type="text"
      id="{{ inputId }}"
      {{# isRequired }} required {{/ isRequired }}
      class="form-control a-hasButton {{ form-control-class }} date" />

    <div class="input-group-addon a-icon-right">
      {{> atomer-ikon }}
    </div>
  </div>
</div>
