
<label class="{{ custom-fileupload-class }} {{ styleModifier }}">
  <input {{# required }} required {{/ required }} class="a-js-fileInputChangeHandler" type="file" id="{{ custom-fileupload-input-id }}">
  {{# file-upload-icon }}
    {{> atomer-ikon }}
  {{/ file-upload-icon}}
  {{ custom-fileupload-text }}
</label>

{{# file-list }}
  <div style="display: none" class="a-js-fileListContainer">
    {{> atomer-liste-opplasting }}
  </div>
{{/ file-list }}