
<label class="{{ custom-fileupload-class }}">
  <input {{# required }} required {{/ required }} class="a-js-fileInputChangeHandler" type="file" id="{{ custom-fileupload-input-id }}">
  <i class="material-icons a-btn-action-icon not-absolute">
    {{ custom-fileupload-button-icon }}
  </i>
  {{ custom-fileupload-text }}
</label>

{{# file-list }}
  <div style="display: none" class="a-js-fileListContainer">
    {{> atomer-liste-opplasting }}
  </div>
{{/ file-list }}