
<label class="{{ custom-fileupload-class }}">
  <input class="a-js-fileInputChangeHandler" type="file" id="TrulsMaaEndreMeg">
  <i class="material-icons a-btn-action-icon">file_upload</i> {{ action-text }}
</label>

{{# file-list }}
  <div style="display: none" class="a-js-fileListContainer">
    {{> atomer-unummerert-ikon }}
  </div>
{{/ file-list }}