{{# label }}
  <div class="{{ class }}">{{ text }}</div>
{{/ label }}

{{# input }}
  <label class="{{ class }}">
    <input {{# required }} required {{/ required }} class="{{# file-list }}a-js-fileInputChangeHandler {{/ file-list }}sr-only" type="file" id="{{ custom-fileupload-input-id }}">
    {{ text }}
    {{# icon-after }}
      {{> atomer-ikon }}
    {{/ icon-after }}
  </label>
{{/ input }}
