<figure class="pb-4 {{styleModifier}}">
    <div class="w-100">
      {{> felles-komponenter-bilde }}
    </div>
    {{# figCaption }}
      <figcaption class="a-bgGreenLight p-2">
        <p>{{{ figCaption }}}</p>
        <p class="a-fontSizeXS">{{{ figCaptionSmall }}}</p>
      </figcaption>
    {{/ figCaption }}
</figure>