<!-- START: 02-organismer-_49-ekspanderbart-panel-innhold-10-innloggingsinformasjon-innhold -->
<div class="row">
  {{# login-info-header }}
  <div class="col-12">
    <h3 class="a-fontBold a-fontSizeM">
      {{ login-info-header }}
    </h3>
  </div>
  {{/ login-info-header }} {{# login-info-username-input }}
  <div class="col-12 col-md-5">
    {{> atomer-tekst-input }}
  </div>
  {{/ login-info-username-input }} {{# login-info-password-link }}
  <div class="col-12 col-md-5 pt-md-3 pt-sm-0 mb-1 a-js-password-link">
    {{> atomer-knapp }}
  </div>
  {{/ login-info-password-link }} {{# login-info-password-input }}
  <div class="col-12 col-md-5" style="display: none">
    {{> atomer-tekst-input }}
  </div>
  {{/ login-info-password-input }}
  <div class="col-12 col-md-5">
    {{# login-info-email-input }} {{> atomer-tekst-input }} {{/ login-info-email-input }}
  </div>
</div>
{{# login-info-checkbox }}
<div class="row">
  <div class="col">
    {{> atomer-avkrysningsboks }}
  </div>
</div>
{{/ login-info-checkbox }}
<div class="row">
  <div class="col mt-1">
    {{# login-info-save-btn }} {{> atomer-knapp }} {{/ login-info-save-btn }}
  </div>
</div>
<!-- END: 02-organismer-_49-ekspanderbart-panel-innhold-10-innloggingsinformasjon-innhold -->