<!-- START: 00-atomer-08-lister-06-liste-nummerert-sirkel -->
<ol class="a-circle-list {{# circle-variation }}{{ circle-variation }}{{/ circle-variation }}">
  {{# circle-list-items }}
  <li><b>{{{circle-list-title}}}</b>{{{circle-list-info}}}{{# circle-list-link }}{{> atomer-link }}{{/ circle-list-link }}
  </li>
  {{/ circle-list-items }}
</ol>

<!-- END: 00-atomer-08-lister-06-liste-nummerert-sirkel -->