{{# checkbuttons }}
  <div class="a-switch">
    <input 
      id="{{{ checkbuttons-id }}}" 
      class="sr-only" 
      type="checkbox" 
      name="addRights" 
      value="checkbutton-read">
    <label 
      for="{{{ checkbuttons-id }}}" 
      class="a-switch-label {{{ checkbuttons-class }}}">
      <i class="material-icons a-switch-icon">
        {{{ checkbuttons-icon }}}
      </i>
      {{{ checkbuttons-title }}}
    </label>
  </div>
{{/ checkbuttons }}