<div class="a-page">
    {{# header }}
      {{> organismer-header-altinnett }}
    {{/ header }}
    <section id="content" tabindex="-1">
        <h1 class="sr-only">Altinn - enklere dialog med det offentlige</h1>
        {{> molekyler-jumbotron }}

        {{# loggedOut }}
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-lg-10 offset-lg-1 a-text epi-wysiwyg">
                {{# scheduledAlerts }}
                {{> molekyler-altinnett-liste-varslinger }}
                {{/ scheduledAlerts }}

                {{# previousAlerts }}
                {{> molekyler-altinnett-liste-varslinger }}
                {{/ previousAlerts }}
              </div>
            </div>
          </div>
        {{/ loggedOut }}
    </section>

    {{# footer }}
      {{> organismer-footer-altinnett }}
    {{/ footer }}
</div>
