<div class="a-page">
  {{# header }}
    {{> organismer-header-altinnett }}
  {{/ header }}
  <section id="content" tabindex="-1">
      <h1 class="sr-only">Altinn - enklere dialog med det offentlige</h1>
      {{> molekyler-jumbotron }}

      {{# loggedOut }}
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg mt-1">
              <h2>Varslinger</h2>
            </div>

            <div class="col-sm-12 col-lg-10 offset-lg-1 a-text epi-wysiwyg">
              {{# previousAlerts }}
                {{> molekyler-altinnett-liste-varslinger }}
              {{/ previousAlerts }}
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-lg-8 offset-lg-2 a-text epi-wysiwyg mt-1">
              <h2>Abonnere på varslinger</h2>

              <p>Her kan du registrere din e-post adresse dersom du ønsker å motta viktige varslinger fra Altinn. Du bestemmer selv hvilke kategorier av hendelser du ønsker å motta varslinger om.</p>

              {{# subscribeLink }}
                {{> atomer-link }}
              {{/ subscribeLink }}

              <h2>Brukerkonto</h2>

              <p>Du trenger en brukerkonto dersom du er tjenesteeier eller sluttbrukersystemleverandør og:</p>

              <ul>
                <li>Trenger tilgang til selvbetjeningsportalen eller tjenestekalenderen</li>
                <li>Ønsker å se driftsvarslinger som kun gjelder for tjenesteeiere</li>
                <li>Har behov for å kunne lese dokumentasjon som krever innlogging</li>
              </ul>

              <p>Har du en konto allerede kan du logge inn oppe til høyre. Hvis ikke kan du <a href="#">opprette en bruker</a>.</p>
            </div>
          </div>
        </div>

        {{# subscribeModal }}
          {{> organismer-modal }}
        {{/ subscribeModal }}
      {{/ loggedOut }}
  </section>

  {{# footer }}
    {{> organismer-footer-altinnett }}
  {{/ footer }}
</div>
