<!-- START: 01-molekyler-00-tekst-06-sammenligningselement -->
<div class="a-compare-element {{styleModifier}}">
  {{#istitle}} {{{ category-element-title }}} {{/istitle}}
  <p>{{{ category-element-description }}}</p>
  <strong>
    {{#ismore}}
      {{> atomer-link }}
    {{/ismore}}
  </strong>
</div>

<!-- END: 01-molekyler-00-tekst-06-sammenligningselement -->