<!-- START: 02-organismer-20-forms-90-altinnett-skjema-varsling -->
<div class="row">
  <div class="col-lg-8">

    {{# title }} {{> atomer-tekst-input:mb-1 }} {{/ title }} {{# description }} {{> atomer-tekstfelt:mb-1 }} {{/ description }} {{# category }} {{> atomer-flervalg-generell }} {{/ category }} {{# fromDate }} {{> atomer-datovelger }} {{/ fromDate }} {{# toDate
    }} {{> atomer-datovelger }} {{/ toDate }} {{# sendingMethod }}
    <label class="an-stackedLabel" for="{{ inputId }}">
      Varsel sendes:
    </label>

    <ul class="nav nav-tabs custom-radio a-radioButtons a-navTabsRadio" role="tablist">
      <li class="nav-item">
        <a class="nav-link {{# checkFirst }}active{{/ checkFirst }}" data-toggle="tab" href="#empty" role="tab" aria-expanded="{{# checkFirst }}true{{/ checkFirst }}">
            <span class="custom-control-indicator"></span>
            Ikke send
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{# checkSecond }}active{{/ checkSecond }}" data-toggle="tab" href="#email" role="tab" aria-expanded="{{# checkSecond }}true{{/ checkSecond }}">
            <span class="custom-control-indicator"></span>
            Epost
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{# checkThird }}active{{/ checkThird }}" data-toggle="tab" href="#sms-and-email" role="tab" aria-expanded="{{# checkThird }}true{{/ checkThird }}">
            <span class="custom-control-indicator"></span>
            SMS og Epost
          </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane {{# checkFirst }}active{{/ checkFirst }}" id="empty" role="tabpanel" aria-expanded="{{# checkFirst }}true{{/ checkFirst }}"></div>

      <div class="tab-pane {{# checkSecond }}active{{/ checkSecond }}" id="email" role="tabpanel" aria-expanded="{{# checkSecond }}true{{/ checkSecond }}">
        {{# alertDate }} {{> atomer-datovelger:mb-1 }} {{/ alertDate }} {{# alertTime }} {{> atomer-tekst-input:mb-1 }} {{/ alertTime }}
      </div>

      <div class="tab-pane {{# checkThird }}active{{/ checkThird }}" id="sms-and-email" role="tabpanel" aria-expanded="{{# checkThird }}true{{/ checkThird }}">
        {{# alertDate }} {{> atomer-datovelger:mb-1 }} {{/ alertDate }} {{# alertTime }} {{> atomer-tekst-input:mb-1 }} {{/ alertTime }} {{# smsText }} {{> atomer-tekstfelt }} {{/ smsText }}
      </div>
    </div>
    {{/ sendingMethod }} {{# submitAlertButton }} {{> atomer-knapp:mt-2 }} {{/ submitAlertButton }}
  </div>
</div>

<!-- END: 02-organismer-20-forms-90-altinnett-skjema-varsling -->