<!-- START: 02-organismer-70-Modal-innhold-13-oppdater-lagrede-sok -->
<div {{# isModal }} class="modal-body a-modal-body" {{/ isModal }}>
  <div class="row">
    <div class="col-12">
      <h2 class="a-h3 mt-2">
        {{ headingOne }}
      </h2>
    </div>
  </div>
  {{# message-info }}
  <div class="row">
    <div class="col-12">
      <div class="a-modal-receiptContent pt-1 mb-3">
        {{# info-text-1 }}
        <p>{{ info-text-1 }}</p>{{/ info-text-1 }} {{# info-text-2 }}
        <p>{{ info-text-2 }}</p>{{/ info-text-2 }}
      </div>
    </div>
  </div>
  {{/ message-info }}
  <div class="row">
    <div class="col">
      {{# submitBtn }} {{> atomer-knapp }} {{/ submitBtn }} {{# closeBtn }} {{> atomer-knapp }} {{/ closeBtn }}
    </div>
  </div>
</div>
<!-- END: 02-organismer-70-Modal-innhold-13-oppdater-lagrede-sok -->