<div class="a-card">
  {{# card-content }}
    <div class="a-headingSizeM">{{> atomer-link }}<span>{{ card-code }}</span></div>
    <b>{{ card-title }}</b>
    <p>{{ card-description }}</p>
  {{/ card-content }}
</div>
