<div class="a-card a-mainCard">
  {{# main-card-content }}
    {{> molekyler-ikon-tittel }}
    <div class="a-mainCard-content">
      <b>{{ main-card-secondary-title }}</b>
      <p>{{{ main-card-description }}}</p>
      {{#hasButton}}{{> atomer-knapp }} {{/hasButton}}
      {{#hasLink}}{{> atomer-link-selvstendig-sidebytte }}{{/hasLink}}
    </div>
  {{/ main-card-content }}
</div>
