<div class="a-card transparent">
    {{#card-picture-content}}
        {{> atomer-placeholder}}
        <div class="a-textSize2 a-paddingTop-x4">{{card-picture-title}}</div>
        <p>{{card-picture-description}}</p>
        {{> atomer-link-telefonnummer }} <!-- Hva hvis jeg vil skifte telefonnummer i akkurat denne? -->
    {{/card-picture-content}}
</div>
