<div class="a-card a-card-largeIcon {{ styleModifier }}">
  {{#card-content}}
    <i class="material-icons">{{{ card-icon }}}</i>

    <div class="a-card-largeIcon-body">
      {{#isIntroText}}
      <span class="a-card-introText">
         {{{ card-introText }}}
        </span>
      {{/isIntroText}}
      {{> atomer-link:a-link }}
      <span class="a-card-code">{{card-code}}</span>
    </div>
  {{/card-content}}
</div>
