<ol class="no-decoration a-circleList">
  {{# questionnaire }}
    {{# questionnaire-content }}
      <span class="a-trigger-question">
        <li>{{ card-title }}</li>
        {{> atomer-valgknapp-ett-alternativ }}
        <hr class="a-hrLight" />
      </span>
    {{/ questionnaire-content }}
    {{> atomer-link }}
  {{/ questionnaire }}
</ol>
