
<div class="a-panel">
<h3>Farger</h3>
<p>Fargebruken i designet er først og fremst et funksjonelt verktøy. Bakgrunnsfarger identifisere ulike seksjoner og moduler. Alle fargene er  kontrastgodkjent i kombinasjonene de er beregnet for.</p> 
	<ul class="sg-colors">
		<li>
			<span class="sg-swatch" style="background: #000;"></span>
			<span class="sg-label">$black: <br>#000;</span>
		</li>
		<li>
			<span class="sg-swatch" style="background: #6a6a6a;"></span>
			<span class="sg-label">$grey: <br>#6a6a6a; </span>
		</li>
		<li>
			<span class="sg-swatch" style="background: #BCC7CC;"></span>
			<span class="sg-label">$grey-medium: <br>#BCC7CC; </span> 
		</li>
		<li>
			<span class="sg-swatch" style="background: #efefef;"></span>
			<span class="sg-label">$grey-light: <br>#efefef; </span> 
		</li>
	</ul>
	<ul class="sg-colors">
		<li>
			<span class="sg-swatch" style="background: #0062ba;"></span>
			<span class="sg-label">$blue-dark: <br>#0062ba; </span>
		</li> 
		<li>
			<span class="sg-swatch" style="background: #1eaef7;"></span>
			<span class="sg-label">$blue: <br>#1eaef7;</span>
		</li>
		<li>
			<span class="sg-swatch" style="background: #cff0ff;"></span>
			<span class="sg-label">#$blue-light: <br>#cff0ff;</span>
		</li>
	</ul>
	
	<ul class="sg-colors">
		<li>
			<span class="sg-swatch" style="background: #17c96b;"></span>
			<span class="sg-label">$green: <br>#17c96b;</span> 
		</li>
		<li>
			<span class="sg-swatch" style="background: #d4f9e4;"></span>
			<span class="sg-label">$green-light: <br>#d4f9e4;</span>
		</li>
	</ul>
	<ul class="sg-colors">
		<li>
			<span class="sg-swatch" style="background: #e23b53;"></span>
			<span class="sg-label">$red: <br>#e23b53;</span>
		</li>
		<li>
			<span class="sg-swatch" style="background: #f9cad3;"></span>
			<span class="sg-label">$red-light: <br>#f9cad3;</span>
		</li>
	</ul> 
	<ul class="sg-colors">
		<li>
			<span class="sg-swatch" style="background: #3f3161;"></span>
			<span class="sg-label">$purple: <br>#3f3161;</span>
		</li>
		<li>
			<span class="sg-swatch" style="background: #e0daf7;"></span>
			<span class="sg-label">$purple-light: <br>#e0daf7;</span>
		</li>
	</ul>
	<ul class="sg-colors">
		<li>
			<span class="sg-swatch" style="background: #ffda06;"></span>
			<span class="sg-label">$yellow: <br>#ffda06;</span>
		</li>
		<li>
			<span class="sg-swatch" style="background: #fbf6bd;"></span>
			<span class="sg-label">$yellow-light: <br>#fbf6bd;</span>
		</li>
	</ul>
</div>