{{! 

http://jsfiddle.net/kq8pq/2/ 

https://www.google.com/design/spec/layout/metrics-keylines.html#metrics-keylines-touch-target-size

}}

<h3>Touchable target height</h3>

<p>To ensure balanced information density and usability, touch targets should be at least 48 x 48 px. In most cases, there should be 8px or more space between them.</p> 