
<!-- Multiple color icons -->

<div class="sg-iconPreview">
	<img class="sg-icon" src="../../images/skjema.svg" alt="">
	<span class="sg-iconPreview-caption">icon name</span>
</div>

<div class="sg-iconPreview">
	<img class="sg-icon" src="../../images/virkkontakt.svg" alt="">
	<span class="sg-iconPreview-caption">icon name</span>
</div>

<div class="sg-iconPreview">
	<img class="sg-icon" src="../../images/avansert.svg" alt="">
	<span class="sg-iconPreview-caption">icon name</span>
</div> 

<div class="sg-iconPreview">
	<img class="sg-icon" src="../../images/andre.svg" alt="">
	<span class="sg-iconPreview-caption">icon name</span>
</div>

<div class="sg-iconPreview">
	<img class="sg-icon" src="../../images/ikon_klientdelegering_boroller.svg" alt="">
	<span class="sg-iconPreview-caption">icon name</span>
</div>

<div class="sg-iconPreview">
	<img class="sg-icon" src="../../images/skjema.svg" alt="">
	<span class="sg-iconPreview-caption">icon name</span>
</div>

<div class="sg-iconPreview">
	<img class="sg-icon" src="../../images/virkkontakt.svg" alt="">
	<span class="sg-iconPreview-caption">icon name</span>
</div>

<div class="sg-iconPreview">
	<img class="sg-icon" src="../../images/avansert.svg" alt="">
	<span class="sg-iconPreview-caption">icon name</span>
</div> 

<div class="sg-iconPreview">
	<img class="sg-icon" src="../../images/andre.svg" alt="">
	<span class="sg-iconPreview-caption">icon name</span>
</div>

<div class="sg-iconPreview">
	<img class="sg-icon" src="../../images/ikon_klientdelegering_boroller.svg" alt="">
	<span class="sg-iconPreview-caption">icon name</span>
</div>

<div class="sg-iconPreview">
	<img class="sg-icon" src="../../images/skjema.svg" alt="">
	<span class="sg-iconPreview-caption">icon name</span>
</div>

<div class="sg-iconPreview">
	<img class="sg-icon" src="../../images/virkkontakt.svg" alt="">
	<span class="sg-iconPreview-caption">icon name</span>
</div>

<div class="sg-iconPreview">
	<img class="sg-icon" src="../../images/avansert.svg" alt="">
	<span class="sg-iconPreview-caption">icon name</span>
</div> 

<div class="sg-iconPreview">
	<img class="sg-icon" src="../../images/andre.svg" alt="">
	<span class="sg-iconPreview-caption">icon name</span>
</div>