
<!-- System icons -->

{{! <img class="sg-systemicon" src="../../images/icon-email.svg" alt="">
<img class="sg-systemicon" src="../../images/pil_nytt_vindu.svg" alt="">
<img class="sg-systemicon" src="../../images/signature.svg" alt="">
<img class="sg-systemicon" src="../../images/archive.svg" alt="">
<img class="sg-systemicon" src="../../images/deletearchive.svg" alt="">
<img class="sg-systemicon" src="../../images/arrow_point_right.svg" alt="">
<img class="sg-systemicon" src="../../images/icon-tab-arrow.svg" alt="">
<img class="sg-systemicon" src="../../images/ikon_rediger.svg" alt="">
 }}


 <i class="material-icons sg-fonticon">&#xE24B;</i>
 <i class="material-icons sg-fonticon">&#xE536;</i>
 <i class="material-icons sg-fonticon">&#xE534;</i>
 <i class="material-icons sg-fonticon">&#xE557;</i>
 <i class="material-icons sg-fonticon">&#xE5C9;</i>
 <i class="material-icons sg-fonticon">&#xE5C8;</i>
 <i class="material-icons sg-fonticon">&#xE5C4;</i>
 <i class="material-icons sg-fonticon">&#xE5C5;</i>
 <i class="material-icons sg-fonticon">&#xE5C7;</i>
 <i class="material-icons sg-fonticon">&#xE5CB;</i>
 <i class="material-icons sg-fonticon">&#xE5CC;</i>
 <i class="material-icons sg-fonticon">&#xE5CD;</i>
 <i class="material-icons sg-fonticon">&#xE5D9;</i>
 <i class="material-icons sg-fonticon">&#xE5DA;</i>
 <i class="material-icons sg-fonticon">&#xE5D5;</i>
 <i class="material-icons sg-fonticon">&#xE617;</i>
 <i class="material-icons sg-fonticon">&#xEB42;</i>
 <i class="material-icons sg-fonticon">&#xE80C;</i>
 <i class="material-icons sg-fonticon">&#xE7FE;</i>
 <i class="material-icons sg-fonticon">&#xE7E9;</i>