
	<p class="fontLight" style="font-size: 24px;">Light font: 'DIN-light';</p>
	<p class="fontReg" style="font-size: 24px;">Primary font: 'DIN-reg';</p>
	<p class="fontMedium" style="font-size: 24px;">Medium font:'DIN-medium';</p>
	<p class="fontBold" style="font-size: 24px;">Bold font:'DIN-bold';</p>   