<div class="a-modal-top">
      {{# logo }}
        {{> atomer-logo }}
      {{/ logo }}
  {{# login-show }}
    <div class="a-modal-top-user">
      {{> atomer-innlogget }}
    </div>
  {{/ login-show }}
</div>
