<div class="a-modal-top">
    <a href="{{ link.sider-forside }}" class="no-decoration">
      {{# neutral-logo }}
        <span class="a-logo-neutral">
          {{> atomer-logo }}
        </span>
      {{/ neutral-logo }}
      {{# feedback-logo }}
        <span class="a-logo-feedback">
          {{> atomer-logo }}
        </span>
      {{/ feedback-logo }}
    </a>
  {{# login-show }}
    <div class="a-modal-top-user">
      {{> atomer-innlogget }}
    </div>
  {{/ login-show }}
</div>
