    <div class="a-modal-navbar">
      {{^ hide-buttons }}
        {{# button-list}}
          {{> atomer-knapp-ikon:a-js-tabable-popover }}
        {{/ button-list }}
      {{/ hide-buttons }}
    </div>
