<div class="modal-header a-modal-header">
  <i class="material-icons a-panel-heading-icon">{{ modal-icon }}</i>
  <div class="a-panel-heading-text" id="{{ modal-label }}">
    <h2 class="modal-title a-modal-title">{{ modal-title }}</h2>
  </div>
</div>
