<div class="{{ styleModifier }}">
  <div class="modal-table-segment-box"></div>
  <div class="modal-table-segment {{ segment-fixed }}">
    <div class="container">
      <div class="pull-right m-t-2">
        {{# ferdigsegment-done }}
          <span class="m-r-2">
            {{> atomer-knapp-suksess }}
          </span>
        {{/ ferdigsegment-done}}
        {{# ferdigsegment-cancel }}
          <span class="m-r-8">
            {{> atomer-knapp-link }}
          </span>
        {{/ ferdigsegment-cancel }}
      </div>
    </div>
  </div>
</div>
