<!-- START: 02-organismer-01-globale-00-header -->
<!-- Skip to main content -->
<nav class="a-jumpnav">
  <ul class="no-decoration d-flex">
    <li><a class="sr-only sr-only-focusable" href="#content">Hopp til hovedinnholdet</a></li>
    <li><a class="sr-only sr-only-focusable" href="#primary-nav">Hopp til hovedmeny</a></li>
    <li><a class="sr-only sr-only-focusable" href="#search">Hopp til søk</a></li>
  </ul>
</nav>

<!-- Begin .header -->
<header class="a-header {{{ header-color }}} {{# hide-header }} a-js-hideElement {{/ hide-header}}">
  <!-- Begin .container -->
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Begin .a-globalNav -->
        <nav id="primary-nav" class="a-globalNav">
          <a href="{{ link.sider-infoportal-forside-innlogget }}" class="a-globalNav-logo"> {{> atomer-logo }} <span class="sr-only">Til forsiden</span>
          </a>


          <button class="navbar-toggler hidden-md-up" type="button">
              <span class="sr-only">Vis/skjul meny</span>
    			  </button>
          <div class="collapse navbar-toggleable-sm a-globalNav-main" id="exCollapsingNavbar2">
            <ul class="" id="exCollapsingNavbar">
              <li class="hidden-md-up">
                {{# header-mobilesearch }} {{> atomer-tekst-input }} {{/ header-mobilesearch }}
              </li>
              <li class="hidden-md-up dropdown">
                <a lang="en" class="nav-link dropdown-toggle a-languageSwitcher" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    language
                  </a> {{# dropdown-languages }} {{> organismer-meny-spraakvalg }} {{/ dropdown-languages }}
              </li>
              <li><a class="a-hvr-underline {{{ globalNav-active-inbox }}} {{{login-deactivated}}}" href="{{ link.sider-portal-innboks }}">innboks</a></li>
              <li><a class="a-hvr-underline {{{ globalNav-active }}}" href="{{ link.sider-infoportal-kolonnenavigasjon-v-skjemaoversikt }}">alle skjema</a></li>
              <li><a class="a-hvr-underline {{{ globalNav-active-profile }}} {{{login-deactivated}}}" href="{{ link.sider-portal-profil-roller-rettigheter }}"><span class="a-js-onboardingTarget-2 {{{login-deactivated}}}">profil</span></a></li>
              <li class="hidden-md-up"><a class="a-nav-link a-hvr-underline" href="{{ link.sider-infoportal-seksjonsforside-v-starteogdrive }}">starte og drive bedrift</a></li>
              <li class="hidden-md-up"><a class="a-hvr-underline" href="{{ link.sider-infoportal-navigasjonsartikkel-v-omaltinn-v2 }}">om altinn</a></li>
              <li class="hidden-md-up">
                <a class="a-hvr-underline" href="{{ link.sider-infoportal-hjelpesenter }}">
                    {{# tel-icon }}
                      {{> atomer-ikon }}
                    {{/ tel-icon }}
                    hjelp og kontakt
                  </a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- End .a-globalNav -->

        <!-- Begin .a-globalNav-options -->
        <ul id="secondary-nav" class="nav nav-pills a-header-options">

          <li class="nav-item dropdown hidden-sm-down">
            <!-- Dropdown toggle -->
            <a lang="en" class="nav-link dropdown-toggle a-languageSwitcher" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Language
            </a> {{# dropdown-languages }} {{> organismer-meny-spraakvalg }} {{/ dropdown-languages }}
          </li>

          <li class="nav-item">
            <!-- Dropdown toggle -->
            {{> atomer-innlogget }} {{# dropdown-personswitch }} {{> organismer-meny-personbytte }} {{/ dropdown-personswitch }}
          </li>
        </ul>
        <!-- End .a-globalNav-options -->

      </div>
      <!-- End .col -->

    </div>
    <!-- End .row -->

  </div>
  <!-- End .container -->
</header>
<!-- End .header -->

<!-- END: 02-organismer-01-globale-00-header -->