<!-- START: 02-organismer-70-Modal-innhold-8-videresend-i-altinn-melding -->
<div class="modal-body a-modal-body">
  {{# message-info }}
  <div class="row">
    <div class="col-12 mb-3">
      <p class="a-fontSizeS d-inline">
        {{ info-text-1 }}
      </p>
      <span class="a-fontSizeS a-fontBold">
          {{ name }}
        </span>
      <p class="a-fontSizeS d-inline">
        {{ info-text-2 }}
      </p>
    </div>
  </div>
  {{/ message-info }}
  <div class="row">
    <div class="col-12 col-md-11 mb-3">
      {{# textField }} {{> atomer-tekstfelt }} {{/ textField }}
    </div>
    {{# submitBtn }}
    <div class="col-12">
      {{> atomer-knapp }}
    </div>
    {{/ submitBtn }}
  </div>
</div>
<!-- END: 02-organismer-70-Modal-innhold-8-videresend-i-altinn-melding -->