<!-- Button trigger modal -->
<button class="a-btn" data-toggle="altinn-modal" data-action="load" data-url="{{{ page-url }}}" data-target="#{{modal-id}}">Åpne modal for stegvis prosess</button>

{{# processmodal }}
  {{> organismer-modal }}
{{/ processmodal }}
