<!-- Button trigger modal -->
<button class="a-btn" data-toggle="altinn-modal" data-action="load" data-url="{{{ page-url }}}" data-target="#{{modal-id}}">Åpne singel modal</button>

{{# singelmodal }}
  {{> organismer-modal }}
{{/ singelmodal }}
