<div class="row">
  <div class="col-8">
    <h2 class="a-fontBold a-fontSizeM">
      {{ local-role-header }}
    </h2>
  </div>
  <div class="col-4 text-right">  
    {{# local-role-cancel-search }}
      {{> atomer-knapp }}
    {{/ local-role-cancel-search }}
  </div>
  <div class="col-12 col-md-6">
    {{# local-role-name-input }}
      {{> atomer-input }}
    {{/ local-role-name-input }}
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    {{# local-role-service-search }}
      {{> atomer-tekst-input }}
    {{/ local-role-service-search }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h3 class="a-fontReg a-fontSizeL mt-2">
      {{ local-role-search-header }}
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{# local-role-search-result }}
      {{> molekyler-liste-unummerert-ny }}
    {{/ local-role-search-result }}
  </div>
</div>
<div class="row">
  <div class="col mt-3">
    {{# local-role-save-btn }}
      {{> atomer-knapp:mr-2 }}
    {{/ local-role-save-btn }}
    {{# local-role-cancel-btn }}
      {{> atomer-knapp }}
    {{/ local-role-cancel-btn }}
  </div>
</div>