<div class="modal-body a-modal-body">
    <div class="row">
      <div class="col-12">
        {{# other-shared-contactinfo-header }}
          <div class="a-fontSizeS">
            {{{ textSmall }}}
          </div>
          <span class="a-fontSizeL">
            {{ icontext }}
          </span>
        {{/ other-shared-contactinfo-header }}
      </div>
    </div>
      {{# add-contactinfo }}
       <div class="row mt-2">
          <div class="col-12 col-md-4">
            {{# add-shared-contactinfo-first-input }}
              {{> atomer-tekst-input }}
            {{/ add-shared-contactinfo-first-input }}
          </div>
          <div class="col-12 col-md-7 pr-md-0">
            {{# add-shared-contactinfo-second-input }}
              {{> atomer-tekst-input }}
            {{/ add-shared-contactinfo-second-input }}
          </div>
          <div class="col-1 hidden-sm-down pl-md-0 {{ delete-button-class }}">
            {{# delete-shared-contactinfo-icon }}
              {{> atomer-knapp-ikon-tekst }}
            {{/ delete-shared-contactinfo-icon }}
          </div>
          <div class="col-12 hidden-md-up mb-3">
            {{# delete-shared-contactinfo-link }}
              {{> atomer-knapp-link-fare }}
            {{/ delete-shared-contactinfo-link }}
          </div>
        </div>
      {{/ add-contactinfo }}
        <div class="row">
          <div class="col-12">
            {{# add-contactinfo-row-button }}
              {{> atomer-handlingsknapp }}
            {{/ add-contactinfo-row-button }}
          </div>
        </div>
      <div class="row">
        <div class="col-12 mt-2">
            {{ shared-contactinfo-text }}
        </div>
        <div class="col-12">
          {{ #shared-contactinfo-link }}
            {{> atomer-link-ekstern}}
          {{ /shared-contactinfo-link }}
        </div>
      </div>        
      <div class="row">
        <div class="col-12 mt-2">
          {{# add-contactinfo-done-button }}
            {{> atomer-knapp-suksess }}
          {{/ add-contactinfo-done-button }}
        </div>
    </div>
</div>