<div {{# isModal }} class="modal-body a-modal-body" {{/ isModal }}>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-7">
      {{# person-rolle }}
        {{> molekyler-person-rolle }}
      {{/ person-rolle }}
    </div>

    {{# showButton }}
    <div class="col-12 col-md pt-1">
      {{> atomer-knapp-link-fare }}
    </div>
    {{/ showButton }}
  </div>
  {{# service-search }}
  <div class="row">
    <div class="col-12 col-lg-6 mt-4">
      <div class="a-textSizeS a-fontBold{{# isInactive }} a-dimText3{{/ isInactive }}">
        {{ search-title }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 mb-1">
      {{> atomer-tekst-input }}
    </div>
  </div>
  {{/ service-search }}
  {{# search-header }}
  <div class="row">
    <div class="col-12">
      <h3 class="a-fontReg a-fontSizeL mt-2">
        {{ search-header }}
      </h3>
    </div>
  </div>
  {{/ search-header }}
  {{# search-result }}
    <div class="row">
      <div class="col-12">
        {{> molekyler-liste-unummerert }}
      </div>
    </div>
  {{/ search-result }}

  {{# expandable-list }}
    <div class="row">
      <div class="col-12">
        <div class="mt-1 mb-2">
          {{> molekyler-ekspanderbar-liste }}
        </div>
      </div>
    </div>
  {{/ expandable-list }}

  {{# has-links }}
    <div class="row a-js-standard-role-container">
      <div class="col mt-1">
        {{# link-done }}
            {{> atomer-link }}
        {{/ link-done }}
      </div>
    </div>
  {{/ has-links }}

  {{# has-critical-role-container }}
    <div class="row a-js-critical-role-container a-hiddenRow">
      <div class="col mt-1">
        <div class="a-message a-message--fullwidth a-message--arrow-off a-message--no-dropshadow a-message-error">
          {{# critical-roles }}
            <div class="mb-2 a-js-critical-role-msg a-js-critical-role-msg-{{ critical-role-id }} a-hiddenRow">
              <strong>{{ critical-role-name }}</strong>
              <br>{{ critical-role-description }}
              {{# critical-role-popover }}
                {{> atomer-link-med-popover-ikon }}
              {{/ critical-role-popover }}
            </div>
          {{/ critical-roles }}
    
          {{# link-done-critical-role }}
              {{> atomer-link }}
          {{/ link-done-critical-role }}
          </div>
        </div>
      </div>
    </div>
  {{/ has-critical-role-container }}
</div>