<div {{# isModal }} class="modal-body a-modal-body" {{/ isModal }}>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-7">
      {{# person-rolle }}
        {{> molekyler-person-rolle }}
      {{/ person-rolle }}
    </div>

    {{# showButton }}
    <div class="col-12 col-md pt-1">
      {{> atomer-knapp-link-fare }}
    </div>
    {{/ showButton }}
  </div>
  {{# service-search }}
  <div class="row">
    <div class="col-12 col-lg-6 mt-4">
      <div class="a-textSizeS a-fontBold{{# isInactive }} a-dimText3{{/ isInactive }}">
        {{ search-title }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 mb-1">
      {{> atomer-tekst-input }}
    </div>
  </div>
  {{/ service-search }}
  {{# search-header }}
  <div class="row">
    <div class="col-12">
      <h3 class="a-fontReg a-fontSizeL mt-2">
        {{ search-header }}
      </h3>
    </div>
  </div>
  {{/ search-header }}
  {{# search-result }}
    <div class="row">
      <div class="col-12">
        {{> molekyler-liste-unummerert }}
      </div>
    </div>
  {{/ search-result }}

  {{# expandable-list }}
    <div class="row">
      <div class="col-12">
        <div class="mt-1 mb-2">
          {{> molekyler-ekspanderbar-liste }}
        </div>
      </div>
    </div>
  {{/ expandable-list }}

  {{# has-links }}
    <div class="row a-js-standard-role-container">
      <div class="col mt-1">
        {{# link-done }}
            {{> atomer-link }}
        {{/ link-done }}
      </div>
    </div>
  {{/ has-links }}

  {{# has-critical-role-container }}
    <div class="row a-js-critical-role-container" style="display: none;">
      <div class="col mt-1">
        <div class="a-message a-message--fullwidth a-message--arrow-off a-message--no-dropshadow a-message-error">
    
          <!-- For hver rolle merket som kritisk, skriv ut følgende div. Merk rolle-id som del av klassenavn -->
          <div class="mb-2 a-js-critical-role-msg a-js-critical-role-msg-hovedadmin" style="display: block;">
            <strong>Hovedadministrator</strong>
            <br>Denne rollen gir mottaker mulighet for å gi seg selv alle roller og rettigheter du selv har inkludert tilgangsstyring
            og klientadministrator.
          </div>
    
          <div class="mb-2 a-js-critical-role-msg a-js-critical-role-msg-sensitivTjeneste" style="display: none;">
            <strong>Sykmeldinger og andre sensitive tjenester</strong>
            <br>Denne rollen gir mottaker innsyn i personsensitivt innhold som sykmeldinger og lignende.
          </div>
    
          {{# link-done-critical-role }}
              {{> atomer-link }}
          {{/ link-done-critical-role }}
        </div>
      </div>
    </div>
  {{/ has-critical-role-container }}
</div>