<!-- START: 01-molekyler-02-navigasjon-_02-leftside-nav -->

<nav class="ap-sideNav">

	<a class="ap-sideNav-top" href="{{ link.sider-designprofile-introduksjon }}"><img src="../../images/a-logo-blue.svg" alt="Altinn logo" class="altinn-logo"> <h1>PROFILMANUAL</h1></a>


	<div class="ap-sideNav-mobilebar">
		<div class="ap-sideNav-mobilebar-toggle" data-toggle><i class="tmp tmp-view-headline"></i> Innhold</div>
	</div>


	<div class="ap-sideNav-collapse">
			<ul class="vertical menu" >

				<li class="{{{ ap-nav-1-active }}}">
						<a class="ap-sideNav-link" href="{{ link.sider-designprofile-introduksjon }}">Introduksjon<span class="sr-only">(current)</span></a>
				</li>
				<li class="{{{ ap-nav-2-active }}}">
					<a class="ap-sideNav-link" href="{{ link.sider-designprofile-visuellprofil }}">Visuell profil</a>
				</li>
				<li class="{{{ ap-nav-3-active }}}">
						<a class="ap-sideNav-link" href="{{ link.sider-designprofile-sprak }}">Språkprofil</a>
				</li>
				<li>
					<a class="ap-sideNav-link" href="{{ link.sider-designprofile-web }}">Web</a>
					<ul class="menu vertical nested {{{ ap-nav-forceDisplay }}}">
						<li class="{{{ ap-nav-4-active }}}">
							<a class="ap-sideNav-link" href="{{ link.sider-designprofile-web }}">Retningslinjer for web</a>
						</li>
						<li class="{{{ ap-nav-4-1-active }}}">
							<a class="ap-sideNav-link" href="{{ link.sider-designprofile-web-farger }}">Farger for web</a>
						</li>
						<li class="{{{ ap-nav-4-2-active }}}">
							<a class="ap-sideNav-link" href="{{ link.sider-designprofile-web-typo }}">Typografi for web</a>
						</li>
						<li class="{{{ ap-nav-4-3-active }}}">
							<a class="ap-sideNav-link" href="{{ link.sider-designprofile-web-ikoner }}">Ikoner for web</a>
						</li>
						<li class="{{{ ap-nav-4-4-active }}}">
							<a class="ap-sideNav-link" href="{{ link.sider-designprofile-web-layout-and-grid }}">Layout og grid</a>
						</li>
						<li class="{{{ ap-nav-4-5-active }}}">
							<a class="ap-sideNav-link" href="{{ link.sider-designprofile-web-patternlab }}" title="Patternlab All page"> <img src="../../images/icon-atom.svg" style="width: 24px; margin: 0;  margin-top: -4px;margin-left: -3px; margin-right: 4px;" alt="" /> Designsystem</a>
						</li>
						<li class="{{{ ap-nav-4-6-active }}}">
								<a class="ap-sideNav-link" href="{{ link.sider-designprofile-web-prototyper }}">Prototyper</a>
						</li>
						<li class="{{{ ap-nav-4-7-active }}}">
							<a class="ap-sideNav-link" href="{{ link.sider-designprofile-web-frontendguidelines }}">Frontend guidelines</a>
						</li>
						<li class="{{{ ap-nav-4-8-active }}}">
								<a class="ap-sideNav-link" href="{{ link.sider-designprofile-web-nettleserstotte }}">Nettleserstøtte</a>
						</li>
					</ul>
				</li>
				<li class="{{{ ap-nav-5-active }}}">
					<a class="ap-sideNav-link" href="{{ link.sider-designprofile-bildegalleri }}">Bildearkiv <i class="tmp tmp-view-headline a-icon a-icon-right"></i></a>
				</li>
				<li class="{{{ ap-nav-6-active }}}">
						<a class="ap-sideNav-link" href="{{ link.sider-designprofile-illustrasjoner }}">Illustrasjoner</a>
				</li>
				<li class="{{{ ap-nav-7-active }}}">
					<a class="ap-sideNav-link" href="{{ link.sider-designprofile-bakgrunn }}">Bakgrunnsmateriell</a>
				</li>


			</ul>

	</div>

</nav>

<!-- END: 01-molekyler-02-navigasjon-_02-leftside-nav -->
