<div class="row">
	<div class="col-xs-8">
		{{# person-role }}
			{{> molekyler-person-rolle }}
		{{/ person-role }}
	</div>
	<div class="col-xs p-t-1">
		{{# cancel-link }}
      {{> atomer-knapp-link-fare }}
    {{/ cancel-link }}
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-12 col-lg-5 m-t-2 m-b-1">
		{{> atomer-tekst-input }}
	</div>
</div>
{{> atomer-ekspanderbar-tittel }}
{{# sortable-table-override }}
	{{> atomer-tabell-actions }}
{{/ sortable-table-override }}
{{# done-segment }}
	{{> molekyler-ferdigsegment:segment-done }}
{{/ done-segment }}
