<!-- START: 02-organismer-30-seksjoner-60-hurtighjelp -->
<div class="a-stickyHelp-container">
  <button type="button" class="a-btn a-stickyHelp-toggle collapsed" data-toggle="collapse" data-target="#a-stickyHelp" aria-expanded="false" aria-controls="a-stickyHelp"><i class="ai ai-help ai-sm ai-nw ai-nw-pr"></i>Hjelp</button>

  <div id="a-stickyHelp" class="collapse a-stickyHelp">

    <div class="a-stickyHelp-box">

      <div class="a-stickyHelp-header d-flex">

        <!-- Back button should not show on first step -->
        {{# back-btn }}
        <button onclick="goBack()" class="a-modal-back">
          {{> atomer-ikon }}
        </button> {{/ back-btn }}

        <h2 class="a-h3 mb-0 ml-auto mr-auto">Hjelp</h2>

        {{# close-icon }}
        <button type="button" class="a-modal-close" data-toggle="collapse" data-target="#a-stickyHelp" data-action="close" aria-expanded="true" aria-controls="a-stickyHelp"> {{> atomer-ikon }} </button> {{/ close-icon }}
      </div>

      <div class="a-stickyHelp-search">
        {{# stickyhelp-search }} {{> atomer-tekst-input }} {{/ stickyhelp-search }}
      </div>

      <div class="a-stickyHelp-content-target">
        <!-- This iframe is just for prototyping and will be replaced by epi-solution to get correct content. -->
        <iframe src="../../patterns/03-maler-_70-hurtighjelp-innhold-00-hurtighjelp-start/03-maler-_70-hurtighjelp-innhold-00-hurtighjelp-start.html" style="border: 0; width: 100%; height: 246px;"></iframe>
      </div>

    </div>

  </div>
</div>

<!-- END: 02-organismer-30-seksjoner-60-hurtighjelp -->