<!-- START: 02-organismer-30-seksjoner-60-hurtighjelp -->

<div class="a-stickyHelp">
  <p>
    Chat {{# close-icon }} {{> atomer-ikon }} {{/ close-icon }}
    <div class="a-chat-scrollarea">

    </div>

    {{# input-chat }} {{> atomer-tekst-input }} {{/ input-chat }}

</div>

<!-- END: 02-organismer-30-seksjoner-60-hurtighjelp -->