<!-- START: 02-organismer-30-seksjoner-60-hurtighjelp -->
<div class="a-stickyHelp-container">
  <button type="button" class="a-btn a-stickyHelp-toggle collapsed" data-toggle="collapse" data-target="#a-stickyHelp" aria-expanded="false" aria-controls="a-stickyHelp"><i class="ai ai-help ai-sm ai-nw ai-nw-pr"></i>Hjelp</button>

  <div id="a-stickyHelp" class="collapse a-stickyHelp">

    <div class="a-stickyHelp-content">

      <div class="a-stickyHelp-header d-flex">
        <h2 class="a-h3 mb-0"><i class="ai ai-help ai-sm ai-nw ai-nw-pr"></i>Hjelp</h2>
        {{# close-icon }}
        <button type="button" class="a-modal-close ml-auto" data-toggle="collapse" data-target="#a-stickyHelp" data-action="close" aria-expanded="true" aria-controls="a-stickyHelp">{{> atomer-ikon }}</button> {{/ close-icon }}
      </div>

      <div class="a-stickyHelp-search">
        {{# stickyhelp-search }} {{> atomer-tekst-input }} {{/ stickyhelp-search }}
      </div>

      <div class="a-stickyHelp-scrollarea">
        <ul class="no-decoration a-stickyHelp-questionList">
          <li><a href="{{ link.sider-hjelpesenter }}">Skal dette spørsmålet åpne som en accordion eller ny side?</a></li>
          <li><a href="{{ link.sider-hjelpesenter }}">Hvordan åpner jeg en melding?</a></li>
          <li><a href="{{ link.sider-hjelpesenter }}">Hvordan dele meldingen med andre?</a></li>
          <li><a href="{{ link.sider-hjelpesenter }}">Hvordan åpner jeg en melding?</a></li>
          <li><a href="{{ link.sider-hjelpesenter }}">Det er scroll i listen?</a></li>
          <li><a href="{{ link.sider-hjelpesenter }}">Hvordan dele meldingen med andre?</a></li>
          <li><a href="{{ link.sider-hjelpesenter }}">Hvordan åpner jeg en melding?</a></li>
          <li><a href="{{ link.sider-hjelpesenter }}">Det er scroll i listen?</a></li>
        </ul>
      </div>

      <ul class="no-decoration a-stickyHelp-footerList">
        <li><a href="{{ link.sider-hjelpesenter }}" class=""> Gå til Hjelpesenteret</a></li>
        <li><a href="{{ link.sider-navigasjonssider-navigasjonsartikkel-v-omaltinn }}" class="">Kontakt oss</a></li>
      </ul>

    </div>

  </div>
</div>

<!-- END: 02-organismer-30-seksjoner-60-hurtighjelp -->