<!-- START: 04-sider-20-navigasjonssider-80-navigasjonstrekkspill -->
{{# navigasjonstrekkspill }} {{> maler-navigasjonstrekkspill }} {{/ navigasjonstrekkspill }}

<!-- END: 04-sider-20-navigasjonssider-80-navigasjonstrekkspill -->