<!-- START: 00-atomer-05-Ekspansjonsknapper-33-♺-link-med-popover-fargevariasjoner -->

<div class="a-btn-group">
  {{#popover-items}} {{> atomer-link-med-popover-ikon }} {{/popover-items}}
</div>

<!-- END: 00-atomer-05-Ekspansjonsknapper-33-♺-link-med-popover-fargevariasjoner -->