<!-- START: 01-molekyler-05-forms-10-abonner JS doc: feedbackToggle.js -->
{{#form-abonner}}
<form data-toggle="validator" class="a-js-subscribe" data-disable="true" id="subscribtion">
  <div class="row">
    <div class="col-8">
      {{> atomer-tekst-input }}
    </div>
    <div class="col-4">
      {{> atomer-knapp }}
    </div>
  </div>
</form>
<p class="a-fontSizeXS a-js-finishText">{{{finish-text}}}</p>
<p class="a-fontSizeXS a-js-altText">{{alt-text}}</p>
{{/form-abonner}}

<!-- END: 01-molekyler-05-forms-10-abonner -->