<div class="a-page" id="smoothState">
	{{> organismer-header }}

	{{# article-jumbotron }}
		{{> molekyler-jumbotron }}
	{{/ article-jumbotron }}

	<div class="container" id="content" tabindex="-1">

			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text m-t-2 m-b-4">

						{{> atomer-avsnitt(paragraph-content:"For å kunne registrere et enkeltpersonforetak kreves at du:") }}

						{{# list-1 }}
							{{> atomer-liste-unummerert-kuler }}
						{{/ list-1 }}

						{{> atomer-seksjonstittel(section-title:"Næringsvirksomhet") }}

						<p>Et vilkår for å registrere et enkeltpersonforetak er at du må drive <a href=\"#\" alt=\"Lenke til side om når det blir næringsvirksomhet\">næringsvirksomhet</a> (være selvstendig næringsdrivende). Hvis du eier dine egne driftsmidler, bestemmer arbeidstiden selv, har flere kunder over lengre tid og tar en økonomisk risiko, da driver du sannsynligvis næringsvirksomhet.</p>

						{{> atomer-seksjonstittel(section-title:"Ansatte") }}

						<p>Som innehaver av et enkeltpersonforetak er du ikke ansatt, og mottar ikke lønn {{> atomer-ordforklaring(footnote-data-target: "myFootnote", footnote-title: "", footnote-content: "..men du disponerer overskuddet og du kan gjøre privatuttak") }}. Det skal heller ikke betales arbeidsgiveravgift. Dersom du ansetter noen blir du <a href="#" alt="Lenke til informasjon om å være arbeidsgiver">arbeidsgiver</a>, og må betale lønn til arbeidstakeren og arbeidsgiveravgift. Eiers ektefelle kan arbeide i foretaket og motta andel av overskuddet, men kan ikke ansettes. "</p>

						{{> atomer-seksjonstittel(section-title:"Sosiale rettigheter") }}

						{{> atomer-undertittel(section-sub-title:"Sykepenger") }}

						<p>
							Som innehaver av enkeltpersonforetak vil du normalt ha dårligere sosiale rettigheter enn om du er arbeidstaker. Selvstendig næringsdrivende har rett til sykepenger fra 17. sykedag, og da med 65 % dekning. Dette i motsetning til arbeidstakere som har 100 % dekning fra dag en. Du kan tegne ulike forsikringer for å bedre dine sykepengerettigheter.
						</p>

						{{> atomer-undertittel(section-sub-title:"Dagpenger") }}
						<p>
							Du opparbeider ikke rett til dagpenger av det du tjener i enkeltpersonforetaket ditt.
						</p>

							{{> atomer-undertittel(section-sub-title:"Pensjon") }}
						<p>
							Som innehaver av enkeltpersonforetak tjener du opp pensjon av din næringsinntekt.  Ved overgang til pensjon vil de fleste få en betydelig inntektsreduksjon. For å sikre inntekten kan du tegne egen tilleggspensjon.
						</p>

						{{> atomer-seksjonstittel(section-title:"Skatt") }}
						<p>
							Du må beregne hvor mye foretaket ditt forventer å gå med overskudd. Dette registrerer du i skattekortet ditt. Skatteetaten vil så beregne hvor mye skatt du må betale. Enkeltpersonforetak betaler forskuddsskatt fire ganger årlig. Enkeltpersonforetak må levere selvangivelse for næringdrivende.
						</p>

						{{> atomer-seksjonstittel(section-title:"Merverdiavgift") }}
						<p>
							Merverdiavgift (mva.) er en omsetningsavgift på varer og tjenester. Enkelte varer og tjenester er unntatt fra mva. eller har reduserte satser. Du skal ikke fakturere mva før du er registrert i mva.-registeret. Når du har solgt varer eller tjenester for mer enn 50 000 kroner i løpet av en periode på 12 måneder, må du registrere enkeltpersonforetaket i mva.-registeret. Dette gjør du via Samordnet registermelding. Når virksomheten er registrert i mva.-registeret kan du på visse vilkår søke om å få refundert  mva. på allerede kjøpte varer og tjenester.
						</p>

						{{> atomer-seksjonstittel(section-title:"Regnskap") }}

						<p>
							Med næringsvirksomhet følger normalt bokføringsplikt. Det betyr at du må ta vare på dokumentasjon av inntekter og kostnader og sette disse i et system. Det er viktig å etablere gode rutiner fra starten.
						</p>

						{{> atomer-seksjonstittel(section-title:"Tillatelser") }}

						<p>
							Innenfor enkelte bransjer må man ha tillatelse for å drive egen næringsvirksomhet. Eksempler på dette er serveringsvirksomhet og renholdstjenester.
						</p>

						{{> atomer-seksjonstittel(section-title:"Planlegging") }}
						<p>
							Å starte egen bedrift er en stor og viktig beslutning. Det kan også være dyrt og tidkrevende å få ideen din gjennomført. For å vite hva som kreves av deg er det viktig å bruke tid på god planlegging før du registrerer enkeltpersonforetaket ditt.
						</p>

						{{> atomer-seksjonstittel(section-title:"Fordeler og ulemper") }}

						<p>
							For å oppsummere - her er noen fordeler og ulemper med enkeltpersonforetak:
						</p>

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-12">

					{{> molekyler-sammenligning-header:a-compare-header-alone }}

					{{# first-compare }}
						{{> organismer-sammenligning }}
					{{/ first-compare }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text m-b-2">
					{{> atomer-seksjonstittel(section-title:"Registrering og organisasjonsnummer") }}

					<p>
						Det er gratis å registrere et enkeltpersonforetak. Et enkeltpersonforetak som skal drive med varesalg eller ha mer enn fem ansatte må imidlertid betale et gebyr på kr 2 250,-.
					</p>


				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-12">

					{{# card-bottom }}
						{{> molekyler-kort-ikon }}
					{{/ card-bottom }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2 a-text m-b-4">

					<p>
						Du får tildelt et organisasjonsnummer når registreringen er behandlet.
					</p>

					{{> atomer-seksjonstittel(section-title:"Eksempelhistorie") }}
					<p>
						Gunnar Blinkskudd har startet enkeltpersonforetak som fotograf. Gunnar jobber fulltid som barnehageassistent, men tar oppdrag som bryllupsfotograf i sommerhalvåret.Gunnar har valgt enkeltpersonforetak fordi det å drive som fotograf i liten skala medfører små innvesteringer og liten økonomisk risiko. Siden Gunnar er fast ansatt, og opparbeider seg sosiale rettigheter gjennom sin lønnsinntekt, er det ikke viktig for han at selvstendig næringsdrivende har begrensede sosiale rettigheter.
					</p>

					{{> atomer-radioknapp:m-t-3 }}


				</div><!-- END .col-... -->
			</div><!-- END .row -->



			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 m-t-3 m-b-5">

					{{> molekyler-bilde-innhold }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

			<div class="row">
				<div class="col-sm-12 col-lg-6 offset-lg-3 m-b-5">

					{{# article-search }}
						{{> atomer-tekst-input }}
					{{/ article-search }}

				</div><!-- END .col-... -->
			</div><!-- END .row -->

		{{> organismer-footer }}

	</div> <!-- END .container -->

</div> <!-- END .a-page #smoothstate -->
