// ------------------------------------\
// ARTICLE
// ------------------------------------/

// Content in article
.a-text {
  // Collapse list inside article
  .a-collapseContent {
    .a-list-container {
      max-width: 100%;
    }
  }
}

//Events in the past
.an-date-muted {
  color: $black;
  background-color: $grey-light;
}
