// MEDIA BLOCK
.a-mediaBlock {
  margin-bottom: $spacer * 4;
  text-align: center;

  img {
    width: 40%;
    margin: 0 auto;
    border-radius: 50%;

    @include media-breakpoint-up( sm ) {
      width: 60%;
    }
  }

  &.a-img-large {
    img {
      width: 60%;

      @include media-breakpoint-up( md ) {
        width: 100%;
        max-width: 320px;
      }
    }
  }

  .a-mediaBlock-caption {
    padding-top: $spacer * 2;
    text-align: center;
  }
}

.an-kontaktBlock {
  &-figure {
    position: relative;
    width: 100%;
    padding-top: 94.5%;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}

// PRESENTATION BLOCK
.an-presentationBlock {
  display: inline-block;
  height: calc(100% - 5px);
  padding: $spacer * 2;
  margin-bottom: $spacer * 2;

  @include media-breakpoint-up( sm ) {
    height: calc(100% - #{$spacer * 2});
  }

  .an-presentationBlock-largeHeader {
    @include word-wrap;
    @include a-fontSize28;
  }

  .an-presentationBlock-figure {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;

    &.an-cover {
      background-size: cover;
    }

    &.an-centered {
      background-size: 40%;
    }
  }

  .an-presentationBlock-caption {
    @include a-fontSize18;
    @include media-breakpoint-up( md ) {
      padding-top: $spacer * 2;
    }
  }

  .an-presentationBlock-largeDetails {
    p,
    li {
      @include a-fontSize18;

      @include media-breakpoint-up( md ) {
        @include a-fontSize20;
      }
      @include media-breakpoint-up( lg) {
        @include a-fontSize24;
      }
    }
  }

  &--dashed {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: transparent;
    border-color: $blue;
    border-style: dashed;
    border-radius: 50%;
  }
}

.an-abbreviation {
  position: absolute;
  top: 0;
  left: 0;
}

.an-centeredBackground {
  background-position: 50% 50%;
  background-size: 50% auto;
}

// PERSON ROLE
.a-personRole {
  display: flex;
  float: left;
  width: 100%;
  min-height: $spacer * 3;
  align-items: center;

  .a-dot {
    margin-top: -5px;
    align-self: flex-start;
  }

  .a-personRole-text {
    float: left;

    .a-personRole-role {
      @include a-fontSize12;
      display: block;
      padding-bottom: 3px;
      text-transform: uppercase;
    }

    .a-personRole-name {
      @include a-fontSize20;
      @include a-fontBold;
    }
  }

  .a-label {
    margin-top: -2px;
  }
}

// Filter guide
.a-filterGuide {
  .a-btn {
    &:disabled {
      display: none;
    }
  }
}

// Article list
.a-linkArticle {
  padding-bottom: $spacer * 2;
}

.a-articleList {
  .a-linkArticle {
    padding-bottom: 0;

    a {
      @extend .a-fontSizeM;
    }
  }
}

.card-block,
.a-message {
  overflow-wrap: break-word;
}

.an-nyheter-arrangement-block {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up( lg ){
    flex-direction: row;
  }

  &-inner {
    display: flex;
    flex-direction: column;
  }
}

.an-arrangement-block {
  display: flex;
  flex-direction: column;

  &-inner {
    display: flex;
    margin-right: $spacer;
    margin-bottom: $spacer;
  }

  &-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 30px;
    margin: 0;
    background-color: $white;
    box-shadow: $shadow;
    justify-content: center;

    & p {
      margin: 0;
    }
  }

  &-hidden-small {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &-show-large {
    display: block;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
