// MEDIA BLOCK
.a-mediaBlock {
  margin-bottom: $spacer * 4;
  text-align: center;

  img {
    width: 40%;
    margin: 0 auto;
    border-radius: 50%;

    @include media-breakpoint-up( sm ) {
      width: 60%;
    }
  }

  &.a-img-large {
    img {
      width: 60%;

      @include media-breakpoint-up( md ) {
        width: 100%;
        max-width: 320px;
      }
    }
  }

  .a-mediaBlock-caption {
    padding-top: $spacer * 2;
    text-align: center;
  }
}

// PRODUCT BLOCK
.an-productBlock {
  display: inline-block;
  padding: $spacer * 3;
  margin-bottom: $spacer * 4;

  .an-productBlock-figure {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;

    .an-productBlock-abbreviation {
      @include an-fontSize144;
      position: absolute;
      top: 55%;
      left: 50%;
      color: $white;
      text-align: center;
      transform: translate(-50%, -50%);

      @include media-breakpoint-up( md ) {
        @include an-fontSize72;
      }

      @include media-breakpoint-up( lg ) {
        @include an-fontSize104;
      }

      @include media-breakpoint-up( xl ) {
        @include an-fontSize144;
      }
    }
  }

  .an-productBlock-caption {
    padding-top: $spacer * 2;
  }
}

// TOOL ROLE
.an-toolBlock {
  display: inline-block;
  height: $spacer * 8;
  padding: $spacer;
  margin-bottom: $spacer;

  @include media-breakpoint-up( md ) {
    height: $spacer * 12;
    padding: $spacer * 2;
  }
}

// PERSON ROLE
.a-personRole {
  display: flex;
  float: left;
  width: 100%;
  min-height: $spacer * 3;
  align-items: center;

  .a-dot {
    margin-top: -5px;
    align-self: flex-start;
  }

  .a-personRole-text {
    float: left;

    .a-personRole-role {
      @include a-fontSize12;
      display: block;
      padding-bottom: 3px;
      text-transform: uppercase;
    }

    .a-personRole-name {
      @include a-fontSize20;
      @include a-fontBold;
    }
  }

  .a-label {
    margin-top: -2px;
  }
}

// Filter guide
.a-filterGuide {
  .a-btn {
    &:disabled {
      display: none;
    }
  }
}

// Article list
.a-linkArticle {
  padding-bottom: $spacer * 2;
}

.a-articleList {
  .a-linkArticle {
    padding-bottom: 0;

    a {
      @extend .a-fontSizeM;
    }
  }
}

.card-block,
.a-message {
  overflow-wrap: break-word;
}
