// ----------------------------------
// Jumbotron
// ----------------------------------

.an-jumbotron {
  background-position: center bottom;
  background-size: auto 75%;

  @include media-breakpoint-up( sm ) {
    background-position: center;
    background-size: auto 100%;
  }

  &--fullsize {
    background-position: center;
    background-size: auto 100%;
  }

  &-caseHeader {
    min-height: 443px;
    @include media-breakpoint-up( sm ) {
      min-height: 533px;
    }
  }
}

.an-jumbotronMultiply {
  background-blend-mode: multiply;
}

.an-jumbotronLogoBackground {
  padding-bottom: $spacer * 16;
  background-position: right 12px bottom 24px;
  background-size: calc(492px/2) auto;

  @include media-breakpoint-up( sm ) {
    background-position: calc(50% + 492px*(1/4)) 90%;
    background-size: calc(492px/2) auto;
  }

  @include media-breakpoint-up( md ) {
    background-position: calc(50% + 672px*(1/3)) 50%;
    background-size: calc(672px/3) auto;
  }

  @include media-breakpoint-up( lg ) {
    background-position: calc(50% + 912px*(1/3)) 50%;
    background-size: calc(912px/3) auto;
  }

  @include media-breakpoint-up( xl ) {
    background-position: calc(50% + 1056px*(1/3)) 50%;
    background-size: calc(1056px/3) auto;
  }
}
