// ----------------------------------
// Jumbotron
// ----------------------------------

.an-jumbotron {
  background-position: center bottom;
  background-size: auto 75%;

  @include media-breakpoint-up( sm ) {
    background-position: center;
    background-size: auto 100%;
  }
}

.an-jumbotronMultiply {
  background-blend-mode: multiply;
}
