.an-documentList {
  &-path {
    list-style: none;
    margin-bottom: $spacer * 2;

    li {
      display: inline;

      &::after {
        content: "\203A";
        display: inline;
      }

      &:last-child::after {
        content: none;
      }
    }
  }

  &-header {
    border-bottom: 1px solid $black;
    margin-bottom: $spacer * 2;
  }

  &-headerFirstColumn {
    padding-left: calc(3.2em + #{$spacer});
  }

  &-icon {
    transition: opacity 0.2s ease-in-out;

    &--hover {
      position: absolute;
      opacity: 0;
    }
  }

  a {
    &::after {
      content: none;
    }

    &:hover {
      color: $blue-dark;

      .an-documentList-icon {
        &--main {
          opacity: 0;
        }

        &--hover {
          opacity: 1;
        }
      }
    }
  }

}

//Dotted list style with no classes on <li> or <a> elements
//in order to support TinyMCE in EPiServer
.an-list-dotted {
  margin-top: $spacer;
  margin-bottom: $spacer * 2;

  li {
    @extend .a-dotted;
    border-top: none;

    &:not(.a-dotted) {
      border-top: none;
    }
  }

  a {
    display: flex;
    padding: 7px 6px 5px 0;
    border: none;
    justify-content: space-between;

    &:hover {
      background-color: $blue-light-opacity-04;
    }
  }
}