<ul class="a-icon-list">
    {{#icon-list-items}}
        <li>
            <i class="material-icons">{{{icon-text}}}</i>
            <b>{{list-item-name}}</b><span> {{list-item-description}}</span>
        </li>
    {{/icon-list-items}}
</ul>
