<!-- START: 01-molekyler-03-media-120-altinnett-case -->
<div class="{{ class }}">
  <div class="row">
    <div class="col-12 col-md-6 p-0 order-md-last">
      <div class="an-caseBlock-figure h-100" style="background-image: url({{ img-src }})"></div>
    </div>
    <div class="col-12 col-md-6 a-bgBlueDark an-caseBlock-text">
      <h2 class="a-fontSizeXL a-fontBold mb-1 mb-md-0">{{ case-title }}</h2>
      <p>{{ case-paragraph }}</p>
      <div class="{{ buttonclass }}">
        {{> atomer-link-knapp-stor }}
      </div>
    </div>
  </div>
</div>

<!-- END: 01-molekyler-03-media-120-altinnett-case -->