<!-- START: 02-organismer-70-Modal-innhold-96-klientdelegering-gi-rettigheter -->
<div class="row">
  <div class="col-xs-8">
    {{# person-role }}
      {{> molekyler-person-rolle }}
    {{/ person-role }}
  </div>
  <div class="col-xs pt-1">
    {{# cancel-link }}
      {{> atomer-knapp-link-fare:a-link-modalTop }}
    {{/ cancel-link }}
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-5 mt-4 mb-1">
    {{> atomer-tekst-input }}
  </div>
</div>

{{# existing-clients-title }}
  <div class="mt-1 mb-1">
    {{> atomer-ekspanderbar-tittel }}
  </div>
{{/ existing-clients-title }}
{{# existing-clients-table }}
  <div id="{{ collapse-header-contentID }}" class="a-collapseContent a-js-instantCollapse collapse in" aria-expanded="{{ aria-expanded }}">
    {{> atomer-tabell-sorterbar }}
  </div>
{{/ existing-clients-table }}
{{# new-clients-title }}
  <div class="mt-3 mb-1">
    {{> atomer-ekspanderbar-tittel }}
  </div>
{{/ new-clients-title }}
{{# new-clients-table }}
  <div id="{{ collapse-header-contentID }}" class="a-collapseContent a-js-instantCollapse collapse in" aria-expanded="{{ aria-expanded }}">
    {{> atomer-tabell-sorterbar }}
  </div>
{{/ new-clients-table }}


<!-- END: 02-organismer-70-Modal-innhold-96-klientdelegering-gi-rettigheter -->
