<!DOCTYPE html>
<html lang="no" class="">

  <head>
    <title>Altinn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <meta name = "format-detection" content = "telephone=no">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="../../images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="../../images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="../../images/favicons/manifest.json">
    <link rel="mask-icon" href="../../images/favicons/safari-pinned-tab.svg">
    <meta name="apple-mobile-web-app-title" content="Altinn">
    <meta name="application-name" content="Altinn">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- FortAwesome icons-->
    <script src="https://use.fortawesome.com/ed31cded.js"></script>
    <script src="https://use.fortawesome.com/df832575.js"></script>

    <!-- Theme stylesheet -->
      <link rel="stylesheet" href="../../css/style.prototype.altinn.css" type="text/css" media="screen">
      <link rel="stylesheet" href="../../css/style.dist.brsys.css" type="text/css" media="screen">
      <link rel="stylesheet" href="../../css/style.dist.altinnett.css" type="text/css" media="screen">

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{{ bodyClass }}}" id="top">
  <!--<div class="a-sg-content-preloader"><div class="a-sg-content-preloader-status">&nbsp;</div></div> -->
