    <!-- DO NOT REMOVE -->
    {{{ patternLabFoot }}}
	  <!-- JQUERY -->
    <script src="../../js/jquery.min.js"></script>
    <!-- TETHER -->
    <script src="../../js/tether.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="../../js/bootstrap.min.js"></script>
    <!-- CODE PRETTIFY: Prettify code snippets in HTML -->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&amp;skin=sunburst"></script>
    <!-- VALIDATOR: Used for input field feedback -->
    <!-- http://1000hz.github.io/bootstrap-validator/#validator-usage -->
    <script src="../../js/validator.min.js"></script>
    <!-- DATEPICKER: Used for date input fields -->
    <script src="../../js/bootstrap-datepicker.min.js"></script>
    <!-- SMOOTH STATE: Prevent links from triggering a full page load -->
    <!-- https://github.com/miguel-perez/smoothState.js -->
    <!-- <script src="../../js/jquery.smoothState.min.js"></script> -->
    <!-- ANCHOR LINKS: Generate deep anchor links on titles -->
    <!-- http://bryanbraun.github.io/anchorjs/#basic-link-left -->
    <script src="../../js/anchor.min.js"></script>
    <!-- FOUNDATION interchange -->
    <!-- <script src="../../js/foundationInterchange.min.js"></script> -->
    <!-- FOUNDATION responsive menu -->
    <script src="../../js/foundationNavigation.min.js"></script>
    <!-- ALTINN custom JavaScript -->
    <script src="../../js/altinnProd.js"></script>
    <script src="../../js/altinnDev.js"></script>
  </body>
</html>
