
    <!--DO NOT REMOVE-->
    <!-- {% pattern-lab-foot %} -->


    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


	   <!-- Jquery library -->
    <script src="../../js/jquery.min.js"></script>

    <!-- TETHER: Bootstrap need this? -->
    <script src="../../js/tether.min.js"></script>

    <!-- BOOTSTRAP
    http://v4-alpha.getbootstrap.com/getting-started/introduction/ -->
    <script src="../../js/bootstrap.min.js"></script>

    <!-- CODE PRETTIFY: Prettify code snippets in HTML -->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&amp;skin=sunburst"></script>

    <script>
      $('.html-escape').each(function () {
        $(this).text($(this).html())
      })
    </script>

    <!-- VALIDATOR: Used for input field feedback
    http://1000hz.github.io/bootstrap-validator/#validator-usage -->
    <script src="../../js/validator.min.js"></script>

    <!-- SMOOTH STATE: Prevent links from triggering a full page load
    https://github.com/miguel-perez/smoothState.js -->
    <script src="../../js/jquery.smoothState.min.js"></script>

    <!-- ANCHOR LINKS: Generate deep anchor links on titles
    http://bryanbraun.github.io/anchorjs/#basic-link-left -->
    <script src="../../js/anchor.min.js"></script>

    <!-- Foundation Interchange
    http://foundation.zurb.com/sites/docs/interchange.html  -->
    <script src="../../js/foundationInterchange.min.js"></script>

    <!-- Foundation Responsive menu-->
    <script src="../../js/foundationNavigation.min.js"></script>

    <!-- Altinn custom javascript -->
    <script src="../../js/altinn.js"></script>


    <script>
      $(document).foundation();
    </script>

</body>
</html>
