<!-- DO NOT REMOVE -->
{{{ patternLabFoot }}}
<!-- JQUERY -->
<script src="../../js/jquery.min.js"></script>
<!-- CODE PRETTIFY: Prettify code snippets in HTML -->
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&amp;skin=sunburst"></script>
<!-- Bundled assets -->
<script src="{{{themeJsVendor}}}"></script>
<!-- ALTINN DEV custom JavaScript -->
<script src="{{{themeJs}}}"></script>

<script type="text/javascript">
    <!-- Check if current Window is in iFrame -->
    if (self === top) {

        document.addEventListener('DOMContentLoaded', function() {
            $('.a-sg-content-preloader:first').fadeIn('slow');
            setTimeout(function() {
                $('.a-sg-content-preloader-status:first').fadeIn(350);
            }, 2000);
        }, false);
        $(window).on('load', function () {
            var $body = 'body';
            $($body).css({overflow: 'hidden'});
            if ($('.sg-top').length){
                var $panelBrsys = '.welcome-panel-brsys';
                var $panelaltinn = '.welcome-panel-altinn';
                switch (window.localStorage.getItem('selected_project')) {
                    case 'altinn':
                        $('link[href*="style.dist.altinnett.css"]').remove();
                        $('link[href*="style.dist.brreg.css"]').remove();
                        $($panelBrsys).hide();
                        $($panelaltinn).show();
                        break;
                    case 'altinnett':
                        $('link[href*="style.prototype.altinn.css"]').remove();
                        $('link[href*="style.dist.brreg.css"]').remove();
                        $($panelBrsys).hide();
                        $($panelaltinn).show();
                        break;
                    case 'brsys':
                        $('link[href*="style.prototype.altinn.css"]').remove();
                        $('link[href*="style.dist.altinnett.css"]').remove();
                        $($panelaltinn).hide();
                        $($panelBrsys).show();
                        break;
                    default:
                        $('link[href*="style.prototype.altinn.css"]').remove();
                        $('link[href*="style.dist.altinnett.css"]').remove();
                        $('link[href*="style.dist.brreg.css"]').attr({href: '{{{ themeCss }}}?{{ cacheBuster }}', media: 'all'});
                        break;
                }
            } else {
                $('link[href*="style.prototype.altinn.css"]').remove();
                $('link[href*="style.dist.altinnett.css"]').remove();
                $('link[href*="style.dist.brreg.css"]').attr({href: '{{{ themeCss }}}?{{ cacheBuster }}', media: 'all'});
            }
            $('.a-sg-content-preloader-status').fadeOut();
            $('.a-sg-content-preloader').delay(350).fadeOut('slow');
            $($body).delay(350).css({overflow: 'visible'});
        });
    }
</script>
</body>
</html>
