<!-- START: 01-molekyler-05-lister-30-liste-unummerert-uten-popover JS doc: listRowToggle.js hvis data-list-selectable="true", addListExpandHandler.js hvis data-toggle="collapse", clickableRow.js hvis klasser .a-clickable .a-selectable -->
<ul class="a-list {{# is-large }} a-list-large {{/ is-large }} {{# additional-classes }}{{ additional-classes }}{{/ additional-classes }} {{ styleModifier }}" {{# list-id }} id="{{ list-id }}" {{/ list-id }}{{# selectable }} data-list-selectable="true"
  {{/ selectable }}>
  {{# rows }}
  <li {{# onclick }} onclick="{{{ onclick }}}" {{/ onclick }} class="{{ additional-classes }}" {{# id }}id="{{ id }}" {{/ id }} {{# tabable }} tabindex="0" {{/ tabable }}{{# target-table }} data-target-table="{{ target-table }}" {{/ target-table }}{{# source-table
    }} data-source-table="{{ source-table }}" {{/ source-table }}>
    {{# isRowLink }}
    <a href="{{{ rowLink }}}" class="a-list-rowLink{{# rowLink-class }} {{ rowLink-class }}{{/ rowLink-class }}">
      {{/ isRowLink }}
      <div class="row">
        {{# columns }}
          <div {{# additional-classes }}class="{{ additional-classes }}"{{/ additional-classes }} {{# onclick }} onclick="{{{ onclick }}}"{{/ onclick }}{{# searchable }} data-searchable="true" {{/ searchable }}>
            {{# column-items }}
              {{# column-text }}
                {{# classes }} <span class="{{ classes }}"> {{/ classes }}
                {{{ text }}}
                {{# classes }} </span> {{/ classes }}
                {{# text-extra }}
                  <span class="{{ classes }}">{{{ text-extra }}}</span>
                {{/ text-extra }}
              {{/ column-text }}
            {{/ column-items }}
          </div>
        {{/ columns }}
      </div>
      {{# isRowLink }}
      </a> {{/ isRowLink }}
  </li>
  {{/ rows }}
</ul>

<!-- END: 01-molekyler-05-lister-30-liste-unummerert-uten-popover -->