// ----------------------------------
// Breadcrumb
// ----------------------------------

.a-breadcrumb {
  @include a-fontSize16;
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: $spacer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: transparent;

  @include media-breakpoint-up( md ) {
    @include a-fontSize20;
  }

  &::after {
    display: block;
    clear: both;
    content: '';
  }

  li {
    display: inline;
    float: none;
    line-height: $spacer * 3;

    a {
      @include a-fontSize16;

      @include media-breakpoint-up( md ) {
        @include a-fontSize20;
      }
    }

    &.breadcrumb-item + .breadcrumb-item {
      &::before {
        padding-right: 0;
        padding-left: 0;

        @include media-breakpoint-up( md ) {
          padding-right: $spacer / 2;
          padding-left: $spacer;
        }
      }
    }

    &.breadcrumb-mobile {
      @include media-breakpoint-down( sm ) {
        display: block;

        &::before {
          @include a-fontSize36;
          // sass-lint:disable-block no-disallowed-properties
          display: inline-block;
          padding-right: 0;
          padding-bottom: 2px;
          margin-right: -4px;
          font-family: 'AltinnNo';
          color: $black;
          vertical-align: middle;
          content: '\f02e';

          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-rendering: auto;
        }

        a {
          margin-left: $spacer / 2;
        }
      }
    }

    &.active {
      a {
        color: $grey;
        cursor: default;
        border: none;
      }
    }
  }

  &-open {
    & li {
      display: inline;
      line-height: $spacer * 3;

      a {
        @include a-fontSize16;

        @include media-breakpoint-up( md ) {
          @include a-fontSize20;
        }
      }
    }
  }
}
