.ai-favourite {
  width: 26px;
  height: 24px;
  background: url('data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20width%3D%2225.632%22%20height%3D%2223.66%22%20fill%3D%22black%22%20fill-opacity%3D%220%22%2F%3E%3Cpath%20d%3D%22M12.816%203.64L15.12%208.82L15.408%209.52L16.272%209.66L22.032%2010.22L17.712%2013.86L17.136%2014.28L17.28%2015.12L18.576%2020.72L13.536%2017.78L12.816%2017.36L12.096%2017.78L7.05599%2020.72L8.35199%2015.12L8.49599%2014.28L7.92%2013.86L3.6%2010.22L9.36%209.66L10.224%209.52L10.512%208.82L12.816%203.64ZM12.816%200L9.21599%208.12L0%208.96L6.91199%2014.7L4.89599%2023.66L12.816%2019.04L20.736%2023.66L18.72%2014.84L25.632%209.1L16.416%208.26L12.816%200Z%22%20fill%3D%22%236A6A6A%22%2F%3E%3Cpath%20d%3D%22M15.1201%208.81989L12.8161%203.63989L10.5121%208.81989L10.2241%209.51989L9.3601%209.65989L3.6001%2010.2199L7.9201%2013.8599L8.49609%2014.2799L8.35209%2015.1199L7.05609%2020.7199L12.0961%2017.7799L12.8161%2017.3599L13.5361%2017.7799L18.5761%2020.7199L17.2801%2015.1199L17.1361%2014.2799L17.7121%2013.8599L22.0321%2010.2199L16.2721%209.65989L15.4081%209.51989L15.1201%208.81989Z%22%20fill%3D%22%23FBF6BD%22%2F%3E%3C%2Fsvg%3E');
}

.ai-favourite-inactive {
  width: 26px;
  height: 24px;
  background: url('data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12.816%203.64L15.12%208.82L15.408%209.52L16.272%209.66L22.032%2010.22L17.712%2013.86L17.136%2014.28L17.28%2015.12L18.576%2020.72L13.536%2017.78L12.816%2017.36L12.096%2017.78L7.05599%2020.72L8.35199%2015.12L8.49599%2014.28L7.92%2013.86L3.6%2010.22L9.36%209.66L10.224%209.52L10.512%208.82L12.816%203.64ZM12.816%200L9.21599%208.12L0%208.96L6.91199%2014.7L4.89599%2023.66L12.816%2019.04L20.736%2023.66L18.72%2014.84L25.632%209.1L16.416%208.26L12.816%200Z%22%20fill%3D%22%236A6A6A%22%2F%3E%3C%2Fsvg%3E');
}

.a-btn-overlay-right {
  position: absolute;
  right: 0;
  width: auto;
  margin-top: 1rem;

  &.a-disabled {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
  }
}


.a-collapseContent {
  .ai-favourite,
  .ai-favourite-inactive {
    margin-right: 0.5rem;
  }
}
