<!-- START: 00-atomer-06-tabeller-10-tabell-responsiv -->
<!-- Table -->
<div class="a-responsiveTable-container {{styleModifier}}">
  <table class="a-responsiveTable">

    {{#restable-caption}}
    <caption>{{{restable-caption-text}}}</caption>
    {{/restable-caption}}

    <thead>
      <tr>
        {{#restable-thead-th}}
        <th scope="col">{{{restable-thead-th-text}}}</th>
        {{/restable-thead-th}}
      </tr>
    </thead>

    {{#restable-footer}}
    <tfoot>
      <tr>
        <td colspan="7">{{{foot-text}}}</td>
      </tr>
    </tfoot>
    {{/restable-footer}}

    <tbody>
      {{#restable-tbody-tr}}
      <tr>
        <th scope="row">{{{restable-tbody-th-text}}}</th>
        {{#restable-tbody-td}}
        <td data-title="{{{restable-tbody-datatitle}}}" {{#restable-data-type}}data-type="{{{restable-data-type}}}" {{/restable-data-type}}>
          {{{restable-tbody-td-text}}}
        </td>
        {{/restable-tbody-td}}
      </tr>
      {{/restable-tbody-tr}}
    </tbody>
  </table>
</div>

<!-- END: 00-atomer-06-tabeller-10-tabell-responsiv -->