<!-- START: 02-organismer-30-seksjoner-28-chat -->
<div class="a-chat" id="chat">
  <p>
    Chat {{# close-icon }} {{> atomer-ikon }} {{/ close-icon }}
    <div class="a-chat-scrollarea">
      {{>atomer-snakkeboble(bubble-content: "Hei! Kan jeg hjelpe deg?", hasMetaData: true, bubble-meta-data: "2 minutter siden")}} {{>atomer-snakkeboble(isFrom: "a-textBubble-from", bubble-content: "Ja, veldig gjerne", hasMetaData: true, bubble-meta-data:"30
      sekunder siden")}} {{>atomer-snakkeboble(isFrom: "a-textBubble-from", bubble-content: "Jeg skal strikke lusekofter og holde kurs i kulturvern. Hva skal jeg søke på?", hasMetaData: true, bubble-meta-data:"Nå")}} {{>atomer-snakkeboble(bubble-content:
      "...")}}
    </div>

    {{# input-chat }} {{> atomer-tekst-input }} {{/ input-chat }}

</div>

<!-- END: 02-organismer-30-seksjoner-28-chat -->