<div class="a-page">
  {{# header }}
    {{> organismer-header-dashboard }}
  {{/ header }}

  <section id="content" tabindex="-1">
    <h1 class="sr-only">{{{ page-title }}}</h1>

    <div class="container">

        {{# article-search }}
          <div class="row mt-3 mb-3">
            <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
              {{> atomer-tekst-input }}
            </div>
          </div>
        {{/ article-search }}

        <div class="row an-dashboard-container">
          <div class="col-12 col-lg-3 pr-4">

            {{# dashboard-addMessageLeft }}
              {{> atomer-handlingsknapp }}
            {{/ dashboard-addMessageLeft }}

            {{> molekyler-dashboard-kontaktperson-vertikal }}

          </div>

          <div class="col-12 col-lg-9">

              {{> organismer-dashboard-messages }}

          </div>
      </div>
    </div>

</div>